GML/95.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>95: Skiltpunkt er en sammensetning av skiltplater, stolper og stolpefundament m.m.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AvskjæringsleddSkiltpunktType">
      <annotation>
         <documentation>8772: Angir om det er avskjæringsledd på skiltpunktets oppsettingsutstyr. Med avskjæringsledd vil stolpe/mast knekke eller bøyes i dette leddet ved påkjørsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8772</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avskjæringsledd</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AvskjæringsleddSkiltpunktEnumerationType nvdb:AvskjæringsleddSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="AvskjæringsleddSkiltpunktEnumerationType">
      <annotation>
         <documentation>8772: Angir om det er avskjæringsledd på skiltpunktets oppsettingsutstyr. Med avskjæringsledd vil stolpe/mast knekke eller bøyes i dette leddet ved påkjørsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8772</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avskjæringsledd</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11617</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11618</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AvskjæringsleddSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BebyggelseSkiltpunktType">
      <annotation>
         <documentation>1919: Angir hvilken type bebyggelse vegobjektet er omgitt av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1919</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bebyggelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BebyggelseSkiltpunktEnumerationType nvdb:BebyggelseSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="BebyggelseSkiltpunktEnumerationType">
      <annotation>
         <documentation>1919: Angir hvilken type bebyggelse vegobjektet er omgitt av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1919</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bebyggelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2862</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">By</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2860</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Landlig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2861</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tettbebygd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BebyggelseSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BrakettSkiltpunktType">
      <annotation>
         <documentation>11199: Angir om det er benyttet brakett for festing av skiltet. Brakett benyttes gjerne for skiltpunkt som er festet på vegg, bru, m.m.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11199</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brakett</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BrakettSkiltpunktEnumerationType nvdb:BrakettSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="BrakettSkiltpunktEnumerationType">
      <annotation>
         <documentation>11199: Angir om det er benyttet brakett for festing av skiltet. Brakett benyttes gjerne for skiltpunkt som er festet på vegg, bru, m.m.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11199</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brakett</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18493</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18494</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BrakettSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BøyleSkiltpunktType">
      <annotation>
         <documentation>8773: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8773</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bøyle</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BøyleSkiltpunktEnumerationType nvdb:BøyleSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="BøyleSkiltpunktEnumerationType">
      <annotation>
         <documentation>8773: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8773</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bøyle</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FG">
            <annotation>
               <documentation>17268: Skiltstolpe med forgrening. En eller flere av skiltplatene er festet på forgreningen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17268</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forgrening</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11619</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16850</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, midtmontert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16849</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, sidemontert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16848</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, toppmontert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11620</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BøyleSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierSkiltpunktType">
      <annotation>
         <documentation>7999: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7999</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierSkiltpunktEnumerationType nvdb:EierSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="EierSkiltpunktEnumerationType">
      <annotation>
         <documentation>7999: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7999</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10727</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10329</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10393</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18564</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10265</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17570: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17570</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringSkiltpunktType">
      <annotation>
         <documentation>1671: Angir hvordan vegobjektet er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1671</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FundamenteringSkiltpunktEnumerationType nvdb:FundamenteringSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="FundamenteringSkiltpunktEnumerationType">
      <annotation>
         <documentation>1671: Angir hvordan vegobjektet er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1671</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fj">
            <annotation>
               <documentation>2430: Skiltpunkt er fundamentert/montert på fjell eller massiv betongkonstruksjon (f.eks. bru). Kan være påmontert stålfundament eller innfesting i borehull.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2430</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/på fjellfundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jf">
            <annotation>
               <documentation>2435: Skiltpunkt er fundamentert/montert på jord/løsmasser/pukk. Kan være betongfundament eller jordstikk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2435</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/på jordfundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="i">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3474</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Kampanje_EgnetSkiltpunktType">
      <annotation>
         <documentation>9483: Angir type kampanje(r) som skiltpunktet er tilrettelagt for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9483</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kampanje, egnet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Kampanje_EgnetSkiltpunktEnumerationType nvdb:Kampanje_EgnetSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="Kampanje_EgnetSkiltpunktEnumerationType">
      <annotation>
         <documentation>9483: Angir type kampanje(r) som skiltpunktet er tilrettelagt for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9483</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kampanje, egnet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2010">
            <annotation>
               <documentation>13357: Punkt forberedt og egent for bruk i bilbeltekampanje.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13357</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bilbelte</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BF">
            <annotation>
               <documentation>13361: Punkt forberedt og egnet både for bruk i både bilbeltekampanje og fartskampanje.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13361</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bilbelte/Fart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="dv">
            <annotation>
               <documentation>17367: Punkt forberedt og egnet for bruk i del vegen-kampanje.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17367</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Del vegen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <documentation>13360: Punkt forberedt og egnet for bruk i fartskampanje.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13360</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2020">
            <annotation>
               <documentation>13358: Punkt forberedt for stopp og sov kampanje. 2016: Kampanjen er utgått. Verdi er kun med for å kunne ta vare på historikk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13358</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stopp og sov (historisk)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Kampanje_EgnetSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Kampanje_PågåendeSkiltpunktType">
      <annotation>
         <documentation>10895: Angir type kampanje som pågår i periode angitt under ET 10894 "Kampanjeperiode".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10895</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kampanje, pågående</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Kampanje_PågåendeSkiltpunktEnumerationType nvdb:Kampanje_PågåendeSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="Kampanje_PågåendeSkiltpunktEnumerationType">
      <annotation>
         <documentation>10895: Angir type kampanje som pågår i periode angitt under ET 10894 "Kampanjeperiode".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10895</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kampanje, pågående</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2010">
            <annotation>
               <documentation>18173: Punkt hvor det pågår bilbeltekampanje.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18173</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bilbelte</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="dv">
            <annotation>
               <documentation>18174: Punkt hvor det pågår del vegen-kampanje.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18174</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Del vegen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <documentation>18172: Punkt hvor det pågår fartskampanje.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18172</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <documentation>18171: Punkt det er tilrettelagt for kampanje, men hvor det for tiden ikke pågår noen kampanje.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18171</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Kampanje_PågåendeSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KlimaSkiltpunktType">
      <annotation>
         <documentation>1882: Angir hvilken type klima det er der vegobjektet er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1882</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Klima</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KlimaSkiltpunktEnumerationType nvdb:KlimaSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="KlimaSkiltpunktEnumerationType">
      <annotation>
         <documentation>1882: Angir hvilken type klima det er der vegobjektet er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1882</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Klima</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="i">
            <annotation>
               <documentation>3894: Skiltpunkt er plassert i innlandsklima.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3894</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innland</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="36">
            <annotation>
               <documentation>2858: Skiltpunkt er plassert i innlandsklima mellom 300 og 600 moh.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2858</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innland, 300 til 600</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&lt;3">
            <annotation>
               <documentation>2857: Skiltpunkt er plassert i innlandsklima lavere enn 300 moh.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2857</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innland, &lt; 300</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&gt;6">
            <annotation>
               <documentation>2859: Skiltpunkt er plassert i innlandsklima høyere enn 600 moh.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2859</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innland, &gt; 600</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3469</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kystklima</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KlimaSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MiljøSkiltpunktType">
      <annotation>
         <documentation>1881: Angir om vegobjektet er lokalisert til et område med kjemisk forurensning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1881</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Miljø</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MiljøSkiltpunktEnumerationType nvdb:MiljøSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="MiljøSkiltpunktEnumerationType">
      <annotation>
         <documentation>1881: Angir om vegobjektet er lokalisert til et område med kjemisk forurensning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1881</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Miljø</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ik">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3509</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke kjemisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3510</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjemisk forurensning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MiljøSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrSkiltpunktType">
      <annotation>
         <documentation>1876: Angir hvilket oppsettingsutstyr skiltplatene er festet på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1876</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OppsettingsutstyrSkiltpunktEnumerationType nvdb:OppsettingsutstyrSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="OppsettingsutstyrSkiltpunktEnumerationType">
      <annotation>
         <documentation>1876: Angir hvilket oppsettingsutstyr skiltplatene er festet på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1876</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1r">
            <annotation>
               <documentation>8007: System brukt bl.a. i Oppland.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8007</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1-rør på bunnplate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2r">
            <annotation>
               <documentation>8006: System brukt bl.a. i Oppland.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8006</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2-rør på bunnplate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3r">
            <annotation>
               <documentation>8005: System brukt bl.a. i Oppland.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8005</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3-rør på bunnplate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AV">
            <annotation>
               <documentation>21796: Benyttes for "virtuelt skiltpunkt" der det fysiske skiltpunktet er regsitrert av annen vegeier.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21796</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen vegeiers skiltpunkt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bb">
            <annotation>
               <documentation>16851: Bøyle med innfesting i bakken. Skiltplater festes inni bøyle.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16851</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bakkemontert bøyle</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4604</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gittermast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4605</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gittermast, firkant 200mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4606</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gittermast, firkant 250mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4607</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gittermast, firkant 380mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4602</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gittermast, trekant 200mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4603</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gittermast, trekant 250mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ap">
            <annotation>
               <documentation>2871: Festet på halvportal. En halvportal har bare en innfesting i bakken.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2871</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Halvportal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hp">
            <annotation>
               <documentation>2874: Festet på helportal. En helportal har to innfestinger i bakken.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2874</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helportal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tk">
            <annotation>
               <documentation>18488: Festet direkte i tak eller i kabelbro. Aktuelt i forbindelse med tunneler og underganger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18488</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Henger i tak/kabelbro</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KL">
            <annotation>
               <documentation>21798: Skiltplate er festet på mast som primært benyttes for framføring av kontaktledning til tog/trikk/bybane.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21798</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kontaktledningsmast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lm">
            <annotation>
               <documentation>2967: Festet på lysmast.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2967</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysmast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RS">
            <annotation>
               <documentation>21388: Festet på rekkverk, rekkverksende eller støtpute.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21388</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rekkverk/støtpute</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <documentation>18926: På stolpe som primært er satt opp for å feste signalhoder.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18926</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalstolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SB">
            <annotation>
               <documentation>5043: Festet på skiltbjelke/gittermast. Skiltbjelke/gittermast benyttes hovedsakelig i tunnel eller i forbindelse med underganger og er festet i taket.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5043</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiltbjelke/gitterdrager i tak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s2">
            <annotation>
               <documentation>2866: Ytre diameter 60,3 mm og godstykkelse 2,9 mm (betegnet som 2").</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2866</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stolpe 60,3 mm (2")</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s3">
            <annotation>
               <documentation>2868: Ytre diameter 88,9 mm og godstykkelse 3,2 mm (betegnet som 3").</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2868</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stolpe 88,9 mm (3")</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ls">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2879</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, liten</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4597</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, liten, rund 110 mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4598</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, liten, åttekantet 120mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ms">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2881</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, middels</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4599</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, middels, åttekantet 150 mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ss">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2883</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, stor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4600</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, stor, rund 180 mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4601</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, stor, åttekantet 190 mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7988</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trestolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <documentation>17567: Festet på vegbom.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17567</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegbom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <documentation>3266: Festet på vegg/bygning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3266</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ws">
            <annotation>
               <documentation>2877: Festet på wire som er spent opp over vegen. Wiren kan være festet i egne stolper, vegg/bygning e.l.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2877</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Wirestrekk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Produktnavn_SkiltmastSkiltpunktType">
      <annotation>
         <documentation>10427: Angir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10427</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produktnavn, skiltmast</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Produktnavn_SkiltmastSkiltpunktEnumerationType nvdb:Produktnavn_SkiltmastSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="Produktnavn_SkiltmastSkiltpunktEnumerationType">
      <annotation>
         <documentation>10427: Angir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10427</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produktnavn, skiltmast</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="h2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16853</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">HIMAST H1000</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16854</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">HIMAST H2000</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16855</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">HIMAST H3000</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h1">
            <annotation>
               <documentation>16852: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=509351&amp;method=alle&amp;produkttype=12623.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16852</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">HIMAST H500</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16856</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jerol 114</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16857</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jerol 168</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16858</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jerol 219</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16859</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jerol 273</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16861</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lattix 4420</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16862</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lattix 4425</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16863</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lattix 4438</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16860</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lattix D4412</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16865</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Norsafe NM 120</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16866</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Norsafe NM 150</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16867</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Norsafe NM 190C</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16868</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Norsafe NM 190D</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16869</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Norsafe NM 290</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16864</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Norsafe NM 89</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16870</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Opplandsmast toløper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16871</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Opplandsmast treløper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SH1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21930</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SafeHit1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SH2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21931</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SafeHit2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SH3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21932</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SafeHit3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SH4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21933</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SafeHit4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16872</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T&amp;V</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Produktnavn_SkiltmastSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkiltholderSkiltpunktType">
      <annotation>
         <documentation>10548: Angir om skiltpunktet har skiltholder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10548</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltholder</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkiltholderSkiltpunktEnumerationType nvdb:SkiltholderSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="SkiltholderSkiltpunktEnumerationType">
      <annotation>
         <documentation>10548: Angir om skiltpunktet har skiltholder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10548</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltholder</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="JB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16936</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, buet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16935</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, rett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16937</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkiltholderSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Skiltpunkt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SkiltpunktType">
      <annotation>
         <documentation>95: Skiltpunkt er en sammensetning av skiltplater, stolper og stolpefundament m.m.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">95</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltpunkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SkiltpunktType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrSkiltpunktType">
                  <annotation>
                     <documentation>1876: Angir hvilket oppsettingsutstyr skiltplatene er festet på.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1876</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavn_Skiltmast">
                  <annotation>
                     <documentation>10427: Angir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10427</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn, skiltmast</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallOppsettingsutstyr" type="integer">
                  <annotation>
                     <documentation>1877: Angir antall oppsettingsutstyr det er i forbindelse med vegobjektet. Antall skiltstolper/søyler knyttet til skiltpunktet. Eventuelle støttestolper skal ikke medregnes.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1877</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall oppsettingsutstyr</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallStøttestolper" type="double">
                  <annotation>
                     <documentation>10929: Angir hvor mange støttestolper det er i tilknytning til skiltpunktet. Støttestolpene er skråstilte og benyttes for å avstive skiltpunkt i forhold til bl.a. vindlast.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10929</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall støttestolper</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høyde_MastStolpe" type="double">
                  <annotation>
                     <documentation>10428: Gir høyde (lengde) av selve masten/stolpen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10428</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, mast/stolpe</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høydeOverVegkant" type="double">
                  <annotation>
                     <documentation>2055: Angir høyde fra vegkant til underkant nederste skiltplate som ikke er underskilt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2055</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde over vegkant</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="avstandFraDekkekant" type="double">
                  <annotation>
                     <documentation>1884: Angir hvilken avstand det er fra dekkekant til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1884</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avstand fra dekkekant</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="avskjæringsledd"
                        type="nvdb:AvskjæringsleddSkiltpunktType">
                  <annotation>
                     <documentation>8772: Angir om det er avskjæringsledd på skiltpunktets oppsettingsutstyr. Med avskjæringsledd vil stolpe/mast knekke eller bøyes i dette leddet ved påkjørsel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8772</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avskjæringsledd</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="brakett" type="nvdb:BrakettSkiltpunktType">
                  <annotation>
                     <documentation>11199: Angir om det er benyttet brakett for festing av skiltet. Brakett benyttes gjerne for skiltpunkt som er festet på vegg, bru, m.m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11199</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Brakett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bøyle" type="nvdb:BøyleSkiltpunktType">
                  <annotation>
                     <documentation>8773: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8773</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bøyle</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="skiltholder"
                        type="nvdb:SkiltholderSkiltpunktType">
                  <annotation>
                     <documentation>10548: Angir om skiltpunktet har skiltholder.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10548</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skiltholder</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="RAL_Kode" type="string">
                  <annotation>
                     <documentation>12836: Angir lakkfargekode for stolpe/mast. Bare aktuelt for lakkerte stolper/master.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12836</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">RAL-kode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="fundamentering"
                        type="nvdb:FundamenteringSkiltpunktType">
                  <annotation>
                     <documentation>1671: Angir hvordan vegobjektet er fundamentert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1671</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="fundamentdetaljer" type="string">
                  <annotation>
                     <documentation>12231: Detaljinformasjon om skiltfundament. Kan være informasjon om produsent, produktnavn, typebetegnelse, størrelse, m.m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12231</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fundamentdetaljer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallFundament" type="integer">
                  <annotation>
                     <documentation>1887: Angir hvor mange fundament det er i tilknytning til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1887</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall fundament</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kampanje_Egnet">
                  <annotation>
                     <documentation>9483: Angir type kampanje(r) som skiltpunktet er tilrettelagt for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9483</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kampanje, egnet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kampanje_Pågående">
                  <annotation>
                     <documentation>10895: Angir type kampanje som pågår i periode angitt under ET 10894 "Kampanjeperiode".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10895</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kampanje, pågående</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kampanjeperiode" type="string">
                  <annotation>
                     <documentation>10894: Angir hvilken periode gjeldende kampanje gjelder for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10894</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kampanjeperiode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="bebyggelse"
                        type="nvdb:BebyggelseSkiltpunktType">
                  <annotation>
                     <documentation>1919: Angir hvilken type bebyggelse vegobjektet er omgitt av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1919</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bebyggelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="klima" type="nvdb:KlimaSkiltpunktType">
                  <annotation>
                     <documentation>1882: Angir hvilken type klima det er der vegobjektet er plassert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1882</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Klima</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="miljø" type="nvdb:MiljøSkiltpunktType">
                  <annotation>
                     <documentation>1881: Angir om vegobjektet er lokalisert til et område med kjemisk forurensning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1881</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Miljø</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>10854: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10854</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11078: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11078</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12318: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12318</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierSkiltpunktType">
                  <annotation>
                     <documentation>7999: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7999</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligSkiltpunktType">
                  <annotation>
                     <documentation>8063: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8063</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4794: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4794</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SkiltpunktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Skiltpunkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VedlikeholdsansvarligSkiltpunktType">
      <annotation>
         <documentation>8063: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8063</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligSkiltpunktEnumerationType nvdb:VedlikeholdsansvarligSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkiltpunktEnumerationType">
      <annotation>
         <documentation>8063: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8063</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19931</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10535</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18782</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18911</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10613</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10457</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17715</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
