GML/950.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="InnsatstypeType">
    <annotation>
      <documentation>11830: Angir hvilken type innsats som er aktuell på stedet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11830</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11830</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Innsatstype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InnsatstypeEnumerationType nvdb:InnsatstypeOtherType"/>
  </simpleType>
  <simpleType name="InnsatstypeEnumerationType">
    <annotation>
      <documentation>11830: Angir hvilken type innsats som er aktuell på stedet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11830</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11830</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Innsatstype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Dirigering, Aktiver manuell">
        <annotation>
          <documentation>19857: Dirigering, Aktiver manuell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19857</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dirigering, Aktiver manuell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signalanlegg, Aktiver automatisk">
        <annotation>
          <documentation>19858: Signalanlegg, Aktiver automatisk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19858</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signalanlegg, Aktiver automatisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signalhode, Aktiver styringVTS">
        <annotation>
          <documentation>19859: Signalhode, Aktiver styringVTS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19859</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signalhode, Aktiver styringVTS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skiltplate, Aktiver manuell (Skilt på løsfot…)">
        <annotation>
          <documentation>19860: Skiltplate, Aktiver manuell (Skilt på løsfot…)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19860</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltplate, Aktiver manuell (Skilt på løsfot…)</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skiltplate, Dekk til, Aktiver manuell">
        <annotation>
          <documentation>19861: Skiltplate, Dekk til, Aktiver manuell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19861</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltplate, Dekk til, Aktiver manuell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skiltplate, Fast omskilting">
        <annotation>
          <documentation>19862: Skiltplate, Fast omskilting</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19862</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltplate, Fast omskilting</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Variabelt skilt, Aktiver styringVTS">
        <annotation>
          <documentation>19863: Variabelt skilt, Aktiver styringVTS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19863</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Variabelt skilt, Aktiver styringVTS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Variabelt skilt, Aktiver manuell">
        <annotation>
          <documentation>19864: Variabelt skilt, Aktiver manuell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19864</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Variabelt skilt, Aktiver manuell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegbom, Aktiver styringVTS">
        <annotation>
          <documentation>19865: Vegbom, Aktiver styringVTS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19865</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegbom, Aktiver styringVTS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegbom, Aktiver manuell">
        <annotation>
          <documentation>19866: Vegbom, Aktiver manuell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19866</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegbom, Aktiver manuell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Venteplass, Aktiver manuell">
        <annotation>
          <documentation>19867: Venteplass, Aktiver manuell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19867</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Venteplass, Aktiver manuell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InnsatstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Omkjøringsruteinnsats_Punkt" substitutionGroup="nvdb:AbstraktOmkjøringsruteinnsats_Punkt" type="nvdb:Omkjøringsruteinnsats_PunktType">
    <annotation>
      <documentation>950: Punkt i vegnettet der det kreves innsats i forbindelse med klargjøring av ei omkjøringsrute for omkjøringstrafikk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">950</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">950</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Omkjøringsruteinnsats, punkt</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Omkjøringsruteinnsats_PunktType">
    <complexContent>
      <extension base="nvdb:AbstraktOmkjøringsruteinnsats_PunktType">
        <sequence>
          <element minOccurs="0" name="innsatstype" type="nvdb:InnsatstypeType">
            <annotation>
              <documentation>11830: Angir hvilken type innsats som er aktuell på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11830</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Innsatstype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skiltnummer_MidlertidigSkilt" type="nvdb:Skiltnummer_MidlertidigSkiltType">
            <annotation>
              <documentation>11831: Angir skiltnummer til midlertidig skilt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11831</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skiltnummer, midlertidig skilt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="skilttekst_MidlertidigSkilt" type="string">
            <annotation>
              <documentation>11832: Angir tekst på midlertidig skilt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11832</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Skilttekst, midlertidig skilt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sesong" type="nvdb:SesongType">
            <annotation>
              <documentation>11834: Angir hvilken sesong innsats er relevant.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11834</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sesong</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="referanseTilEksisterendeVegobjekt" type="string">
            <annotation>
              <documentation>11833: Gir referanse til eksisterende vegobjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11833</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Referanse til eksisterende vegobjekt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11835: Angir tilleggsinformasjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11835</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>11836: Punkt for plassering av Innsatspunkt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11836</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertOmkjøringsrute" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktOmkjøringsrute</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSignalhode" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSignalhode</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkiltplate" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktSkiltplate</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVariabeltSkilt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVariabeltSkilt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegbom" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegbom</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Omkjøringsruteinnsats_PunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Omkjøringsruteinnsats_Punkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SesongType">
    <annotation>
      <documentation>11834: Angir hvilken sesong innsats er relevant.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11834</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11834</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sesong</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SesongEnumerationType nvdb:SesongOtherType"/>
  </simpleType>
  <simpleType name="SesongEnumerationType">
    <annotation>
      <documentation>11834: Angir hvilken sesong innsats er relevant.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11834</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11834</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sesong</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Vinter">
        <annotation>
          <documentation>19879: Vinter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19879</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sommer">
        <annotation>
          <documentation>19880: Sommer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19880</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sommer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavhengig av sesong">
        <annotation>
          <documentation>19881: Uavhengig av sesong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19881</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavhengig av sesong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SesongOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Skiltnummer_MidlertidigSkiltType">
    <annotation>
      <documentation>11831: Angir skiltnummer til midlertidig skilt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11831</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11831</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skiltnummer, midlertidig skilt</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Skiltnummer_MidlertidigSkiltEnumerationType nvdb:Skiltnummer_MidlertidigSkiltOtherType"/>
  </simpleType>
  <simpleType name="Skiltnummer_MidlertidigSkiltEnumerationType">
    <annotation>
      <documentation>11831: Angir skiltnummer til midlertidig skilt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11831</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11831</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skiltnummer, midlertidig skilt</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="713.V - Vanlig vegviser, Venstre">
        <annotation>
          <documentation>19872: 713.V - Vanlig vegviser, Venstre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19872</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">713.V - Vanlig vegviser, Venstre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="713.H - Vanlig vegviser, Høyre">
        <annotation>
          <documentation>19873: 713.H - Vanlig vegviser, Høyre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19873</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">713.H - Vanlig vegviser, Høyre </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="723.41 - Omkjøringsrute for store kjøretøy">
        <annotation>
          <documentation>19874: 723.41 - Omkjøringsrute for store kjøretøy</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19874</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">723.41 - Omkjøringsrute for store kjøretøy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="741 - Omkjøring for bestemte kjøretøygrupper">
        <annotation>
          <documentation>19875: 741 - Omkjøring for bestemte kjøretøygrupper</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19875</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">741 - Omkjøring for bestemte kjøretøygrupper </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="743.1 - Midlertidig omkjøring. Uten tekst">
        <annotation>
          <documentation>19876: 743.1 - Midlertidig omkjøring. Uten tekst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19876</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">743.1 - Midlertidig omkjøring. Uten tekst</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="743.2 - Midlertidig omkjøring. Med tekst">
        <annotation>
          <documentation>19877: 743.2 - Midlertidig omkjøring. Med tekst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19877</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">743.2 - Midlertidig omkjøring. Med tekst</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet skiltnummer">
        <annotation>
          <documentation>19878: Annet skiltnummer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19878</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet skiltnummer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Skiltnummer_MidlertidigSkiltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
