GML/950.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>950: Punkt i vegnettet der det kreves innsats i forbindelse med klargjøring av ei omkjøringsrute for omkjøringstrafikk.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="InnsatstypeOmkjøringsruteinnsats, punktType">
      <annotation>
         <documentation>11830: Angir hvilken type innsats som er aktuell på stedet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11830</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innsatstype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InnsatstypeOmkjøringsruteinnsats, punktEnumerationType nvdb:InnsatstypeOmkjøringsruteinnsats, punktOtherType"/>
   </simpleType>
   <simpleType name="InnsatstypeOmkjøringsruteinnsats, punktEnumerationType">
      <annotation>
         <documentation>11830: Angir hvilken type innsats som er aktuell på stedet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11830</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innsatstype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19857</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dirigering, Aktiver manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19858</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalanlegg, Aktiver automatisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19859</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalhode, Aktiver styringVTS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19860</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiltplate, Aktiver manuell (Skilt på løsfot…)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19861</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiltplate, Dekk til, Aktiver manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19862</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiltplate, Fast omskilting</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19864</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Variabelt skilt, Aktiver manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19863</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Variabelt skilt, Aktiver styringVTS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19866</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegbom, Aktiver manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19865</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegbom, Aktiver styringVTS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19867</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Venteplass, Aktiver manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InnsatstypeOmkjøringsruteinnsats, punktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Omkjøringsruteinnsats, punkt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Omkjøringsruteinnsats, punktType">
      <annotation>
         <documentation>950: Punkt i vegnettet der det kreves innsats i forbindelse med klargjøring av ei omkjøringsrute for omkjøringstrafikk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">950</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Omkjøringsruteinnsats, punkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Omkjøringsruteinnsats, punktType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="innsatstype"
                        type="nvdb:InnsatstypeOmkjøringsruteinnsats, punktType">
                  <annotation>
                     <documentation>11830: Angir hvilken type innsats som er aktuell på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11830</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Innsatstype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="skiltnummer_MidlertidigSkilt">
                  <annotation>
                     <documentation>11831: Angir skiltnummer til midlertidig skilt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11831</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skiltnummer, midlertidig skilt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="skilttekst_MidlertidigSkilt" type="string">
                  <annotation>
                     <documentation>11832: Angir tekst på midlertidig skilt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11832</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skilttekst, midlertidig skilt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sesong" type="nvdb:SesongOmkjøringsruteinnsats, punktType">
                  <annotation>
                     <documentation>11834: Angir hvilken sesong innsats er relevant.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11834</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sesong</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="referanseTilEksisterendeVegobjekt"
                        type="string">
                  <annotation>
                     <documentation>11833: Gir referanse til eksisterende vegobjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11833</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Referanse til eksisterende vegobjekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11835: Angir tilleggsinformasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11835</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>11836: Punkt for plassering av Innsatspunkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11836</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Omkjøringsruteinnsats, punktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Omkjøringsruteinnsats, punkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="SesongOmkjøringsruteinnsats, punktType">
      <annotation>
         <documentation>11834: Angir hvilken sesong innsats er relevant.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11834</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sesong</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SesongOmkjøringsruteinnsats, punktEnumerationType nvdb:SesongOmkjøringsruteinnsats, punktOtherType"/>
   </simpleType>
   <simpleType name="SesongOmkjøringsruteinnsats, punktEnumerationType">
      <annotation>
         <documentation>11834: Angir hvilken sesong innsats er relevant.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11834</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sesong</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Sommer">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19880</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sommer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Uavhengig av sesong">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19881</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavhengig av sesong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vinter">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19879</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vinter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SesongOmkjøringsruteinnsats, punktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Skiltnummer_MidlertidigSkiltOmkjøringsruteinnsats, punktType">
      <annotation>
         <documentation>11831: Angir skiltnummer til midlertidig skilt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11831</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltnummer, midlertidig skilt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Skiltnummer_MidlertidigSkiltOmkjøringsruteinnsats, punktEnumerationType nvdb:Skiltnummer_MidlertidigSkiltOmkjøringsruteinnsats, punktOtherType"/>
   </simpleType>
   <simpleType name="Skiltnummer_MidlertidigSkiltOmkjøringsruteinnsats, punktEnumerationType">
      <annotation>
         <documentation>11831: Angir skiltnummer til midlertidig skilt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11831</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltnummer, midlertidig skilt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="713.H - Vanlig vegviser, Høyre">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19873</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">713.H - Vanlig vegviser, Høyre </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="713.V - Vanlig vegviser, Venstre">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19872</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">713.V - Vanlig vegviser, Venstre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="723.41 - Omkjøringsrute for store kjøretøy">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19874</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">723.41 - Omkjøringsrute for store kjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="741">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19875</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">741 - Omkjøring for bestemte kjøretøygrupper </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="743.1 - Midlertidig omkjøring. Uten tekst">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">743.1 - Midlertidig omkjøring. Uten tekst</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="743.2 - Midlertidig omkjøring. Med tekst">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19877</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">743.2 - Midlertidig omkjøring. Med tekst</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Annet skiltnummer">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19878</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet skiltnummer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Skiltnummer_MidlertidigSkiltOmkjøringsruteinnsats, punktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
