GML/951.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>951: Vegstrekning der det kreves innsats i forbindelse med klargjøring av ei omkjøringsrute for omkjøringstrafikk.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="InnsatstypeOmkjøringsruteinnsats, strekningType">
      <annotation>
         <documentation>11837: Angir hvilken type innsats som er aktuell på stedet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11837</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innsatstype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InnsatstypeOmkjøringsruteinnsats, strekningEnumerationType nvdb:InnsatstypeOmkjøringsruteinnsats, strekningOtherType"/>
   </simpleType>
   <simpleType name="InnsatstypeOmkjøringsruteinnsats, strekningEnumerationType">
      <annotation>
         <documentation>11837: Angir hvilken type innsats som er aktuell på stedet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11837</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innsatstype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19868</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dirigering, Aktiver manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19869</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Styrt trafikkavvikling, Aktiver manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19870</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vinterdrift brøyte, Aktiver manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19871</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vinterdrift strø, Aktiver manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InnsatstypeOmkjøringsruteinnsats, strekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Omkjøringsruteinnsats, strekning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Omkjøringsruteinnsats, strekningType">
      <annotation>
         <documentation>951: Vegstrekning der det kreves innsats i forbindelse med klargjøring av ei omkjøringsrute for omkjøringstrafikk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">951</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Omkjøringsruteinnsats, strekning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Omkjøringsruteinnsats, strekningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="innsatstype"
                        type="nvdb:InnsatstypeOmkjøringsruteinnsats, strekningType">
                  <annotation>
                     <documentation>11837: Angir hvilken type innsats som er aktuell på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11837</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Innsatstype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sesong" type="nvdb:SesongOmkjøringsruteinnsats, strekningType">
                  <annotation>
                     <documentation>11841: Angir hvilken sesong innsats er relevant.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11841</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sesong</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="referanseTilEksisterendeVegobjekt"
                        type="string">
                  <annotation>
                     <documentation>11840: Gir referanse til eksisterende vegobjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11840</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Referanse til eksisterende vegobjekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11842: Angir tilleggsinformasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11842</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Omkjøringsruteinnsats, strekningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Omkjøringsruteinnsats, strekning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="SesongOmkjøringsruteinnsats, strekningType">
      <annotation>
         <documentation>11841: Angir hvilken sesong innsats er relevant.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11841</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sesong</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SesongOmkjøringsruteinnsats, strekningEnumerationType nvdb:SesongOmkjøringsruteinnsats, strekningOtherType"/>
   </simpleType>
   <simpleType name="SesongOmkjøringsruteinnsats, strekningEnumerationType">
      <annotation>
         <documentation>11841: Angir hvilken sesong innsats er relevant.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11841</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sesong</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Sommer">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19883</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sommer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Uavhengig av sesong">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19884</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavhengig av sesong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vinter">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19882</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vinter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SesongOmkjøringsruteinnsats, strekningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
