GML/951.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="InnsatstypeOmkjøringsruteinnsats_StrekningType">
    <annotation>
      <documentation>11837: Angir hvilken type innsats som er aktuell på stedet</documentation>
    </annotation>
    <union memberTypes="nvdb:InnsatstypeOmkjøringsruteinnsats_StrekningEnumerationType nvdb:InnsatstypeOmkjøringsruteinnsats_StrekningOtherType"/>
  </simpleType>
  <simpleType name="InnsatstypeOmkjøringsruteinnsats_StrekningEnumerationType">
    <annotation>
      <documentation>11837: Angir hvilken type innsats som er aktuell på stedet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="dirigering_AktiverManuell">
        <annotation>
          <documentation>19868: Dirigering, Aktiver manuell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="styrtTrafikkavikling_AktiverManuell">
        <annotation>
          <documentation>19869: Styrt trafikkavikling, Aktiver manuell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vinterdriftBrøyte_AktiverManuell">
        <annotation>
          <documentation>19870: Vinterdrift brøyte, Aktiver manuell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vinterdriftStrø_AktiverManuell">
        <annotation>
          <documentation>19871: Vinterdrift strø, Aktiver manuell</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InnsatstypeOmkjøringsruteinnsats_StrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Omkjøringsruteinnsats_Strekning" substitutionGroup="nvdb:AbstraktOmkjøringsruteinnsats_Strekning" type="nvdb:Omkjøringsruteinnsats_StrekningType">
    <annotation>
      <documentation>951: Vegstrekning der det kreves innsats i forbindelse med klargjøring av ei omkjøringsrute for omkjøringstrafikk.</documentation>
    </annotation>
  </element>
  <complexType name="Omkjøringsruteinnsats_StrekningType">
    <complexContent>
      <extension base="nvdb:AbstraktOmkjøringsruteinnsats_StrekningType">
        <sequence>
          <element minOccurs="0" name="innsatstype" type="nvdb:InnsatstypeOmkjøringsruteinnsats_StrekningType">
            <annotation>
              <documentation>11837: Angir hvilken type innsats som er aktuell på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sesong" type="nvdb:SesongOmkjøringsruteinnsats_StrekningType">
            <annotation>
              <documentation>11841: Angir hvilken sesong innsats er relevant</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="referanseTilEksisterendeVegobjekt" type="string">
            <annotation>
              <documentation>11840: Gir referanse til eksisterende vegobjekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11842: Angir tilleggsinformasjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertOmkjøringsrute" type="nvdb:AbstraktOmkjøringsrutePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Omkjøringsruteinnsats_StrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Omkjøringsruteinnsats_Strekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SesongOmkjøringsruteinnsats_StrekningType">
    <annotation>
      <documentation>11841: Angir hvilken sesong innsats er relevant</documentation>
    </annotation>
    <union memberTypes="nvdb:SesongOmkjøringsruteinnsats_StrekningEnumerationType nvdb:SesongOmkjøringsruteinnsats_StrekningOtherType"/>
  </simpleType>
  <simpleType name="SesongOmkjøringsruteinnsats_StrekningEnumerationType">
    <annotation>
      <documentation>11841: Angir hvilken sesong innsats er relevant</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="vinter">
        <annotation>
          <documentation>19882: Vinter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sommer">
        <annotation>
          <documentation>19883: Sommer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavhengigAvSesong">
        <annotation>
          <documentation>19884: Uavhengig av sesong</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SesongOmkjøringsruteinnsats_StrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
