GML/951.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="InnsatstypeOmkjøringsruteinnsats_StrekningType">
    <annotation>
      <documentation>11837: Angir hvilken type innsats som er aktuell på stedet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11837</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11837</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Innsatstype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InnsatstypeOmkjøringsruteinnsats_StrekningEnumerationType nvdb:InnsatstypeOmkjøringsruteinnsats_StrekningOtherType"/>
  </simpleType>
  <simpleType name="InnsatstypeOmkjøringsruteinnsats_StrekningEnumerationType">
    <annotation>
      <documentation>11837: Angir hvilken type innsats som er aktuell på stedet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11837</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11837</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Innsatstype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Dirigering, Aktiver manuell">
        <annotation>
          <documentation>19868: Dirigering, Aktiver manuell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19868</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dirigering, Aktiver manuell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Styrt trafikkavvikling, Aktiver manuell">
        <annotation>
          <documentation>19869: Styrt trafikkavvikling, Aktiver manuell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19869</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Styrt trafikkavvikling, Aktiver manuell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vinterdrift brøyte, Aktiver manuell">
        <annotation>
          <documentation>19870: Vinterdrift brøyte, Aktiver manuell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19870</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterdrift brøyte, Aktiver manuell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vinterdrift strø, Aktiver manuell">
        <annotation>
          <documentation>19871: Vinterdrift strø, Aktiver manuell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19871</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterdrift strø, Aktiver manuell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InnsatstypeOmkjøringsruteinnsats_StrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Omkjøringsruteinnsats_Strekning" substitutionGroup="nvdb:AbstraktOmkjøringsruteinnsats_Strekning" type="nvdb:Omkjøringsruteinnsats_StrekningType">
    <annotation>
      <documentation>951: Vegstrekning der det kreves innsats i forbindelse med klargjøring av ei omkjøringsrute for omkjøringstrafikk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">951</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">951</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Omkjøringsruteinnsats, strekning</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Omkjøringsruteinnsats_StrekningType">
    <complexContent>
      <extension base="nvdb:AbstraktOmkjøringsruteinnsats_StrekningType">
        <sequence>
          <element minOccurs="0" name="innsatstype" type="nvdb:InnsatstypeOmkjøringsruteinnsats_StrekningType">
            <annotation>
              <documentation>11837: Angir hvilken type innsats som er aktuell på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11837</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Innsatstype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sesong" type="nvdb:SesongOmkjøringsruteinnsats_StrekningType">
            <annotation>
              <documentation>11841: Angir hvilken sesong innsats er relevant.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11841</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sesong</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="referanseTilEksisterendeVegobjekt" type="string">
            <annotation>
              <documentation>11840: Gir referanse til eksisterende vegobjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11840</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Referanse til eksisterende vegobjekt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11842: Angir tilleggsinformasjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11842</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Omkjøringsruteinnsats_StrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Omkjøringsruteinnsats_Strekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SesongOmkjøringsruteinnsats_StrekningType">
    <annotation>
      <documentation>11841: Angir hvilken sesong innsats er relevant.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11841</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11841</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sesong</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SesongOmkjøringsruteinnsats_StrekningEnumerationType nvdb:SesongOmkjøringsruteinnsats_StrekningOtherType"/>
  </simpleType>
  <simpleType name="SesongOmkjøringsruteinnsats_StrekningEnumerationType">
    <annotation>
      <documentation>11841: Angir hvilken sesong innsats er relevant.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11841</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11841</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sesong</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Vinter">
        <annotation>
          <documentation>19882: Vinter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19882</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sommer">
        <annotation>
          <documentation>19883: Sommer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19883</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sommer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavhengig av sesong">
        <annotation>
          <documentation>19884: Uavhengig av sesong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19884</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavhengig av sesong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SesongOmkjøringsruteinnsats_StrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
