GML/952.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>952: Hendelse i form av brann (åpen flamme) i tunnel eller hendelse med potensiale til å resultere i brann  i tunnel.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="BrannhendelseITunnel"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:BrannhendelseITunnelType">
      <annotation>
         <documentation>952: Hendelse i form av brann (åpen flamme) i tunnel eller hendelse med potensiale til å resultere i brann  i tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brannhendelse i tunnel</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BrannhendelseITunnelType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="typeHendelse" type="nvdb:TypeHendelseType">
                  <annotation>
                     <documentation>11857: Angir hvilken type hendelse det er tale om</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11857</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type hendelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="hendelsesdato" type="date">
                  <annotation>
                     <documentation>11850: Angir hvilken dato hendelse inntraff.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11850</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Hendelsesdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="klokkeslett" type="integer">
                  <annotation>
                     <documentation>11851: Angir hvilket klokkeslett hendelse inntraff (hele time)</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11851</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Klokkeslett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="årsakskategori" type="nvdb:ÅrsakskategoriType">
                  <annotation>
                     <documentation>11859: Angir hvilken kategori årsak til brannhendelse faller inn under</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11859</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Årsakskategori</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="skadeomfangTunnel"
                        type="nvdb:SkadeomfangTunnelType">
                  <annotation>
                     <documentation>11852: Angir skadeomfang på selve tunnelkonstruksjonen</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11852</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skadeomfang tunnel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallKjøretøyInvolvert" type="integer">
                  <annotation>
                     <documentation>11847: Angir hvor mange kjøretøy som var involvert i hendelsen</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11847</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall kjøretøy involvert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="skadomfangKjøretøy"
                        type="nvdb:SkadomfangKjøretøyType">
                  <annotation>
                     <documentation>11853: Angir hvilken skade det var på kjøretøy der brann oppstod</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11853</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Skadomfang kjøretøy</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="drivstoff" type="nvdb:DrivstoffType">
                  <annotation>
                     <documentation>11849: Angir hvilket drivstoff kjøretøy hvor brann oppstod benytter</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11849</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Drivstoff</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilhenger" type="nvdb:TilhengerType">
                  <annotation>
                     <documentation>11855: Angir om kjøretøy hvor brann oppstod hadde tilhenger. Relevant for Personbil, Varebil,  Lastebil, Buss, Minibuss, Anleggsmaskin og Bobil/Bil med campingvogn</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11855</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilhenger</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="typeKjøretøy" type="nvdb:TypeKjøretøyType">
                  <annotation>
                     <documentation>11858: Angir hvilken kjøretøykategori kjøretøyet hvor brann oppstod tilhører</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11858</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type kjøretøy</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stengning" type="nvdb:StengningType">
                  <annotation>
                     <documentation>11854: Angir omfang av stengning i forbindelse med hendelse</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11854</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stengning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11856: Informasjon som ikke framkommer av andre egenskapdata</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11856</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11848: Gir referanse/link til ytterligere informasjon om vegobjektet. Fortrinnsvis til vegeiers eget arkivsystem.  Kan være til mappe/sak med tilgang til ulik informasjon eller direkte til et dokument</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11848</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>11860: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11860</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BrannhendelseITunnelPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:BrannhendelseITunnel"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="DrivstoffType">
      <annotation>
         <documentation>11849: Angir hvilket drivstoff kjøretøy hvor brann oppstod benytter</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11849</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11849</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drivstoff</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DrivstoffEnumerationType nvdb:DrivstoffOtherType"/>
   </simpleType>
   <simpleType name="DrivstoffEnumerationType">
      <annotation>
         <documentation>11849: Angir hvilket drivstoff kjøretøy hvor brann oppstod benytter</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11849</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11849</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drivstoff</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Bensin">
            <annotation>
               <documentation>20040: Bensin</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20040</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bensin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Diesel">
            <annotation>
               <documentation>20041: Diesel</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20041</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Diesel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Elektrisk">
            <annotation>
               <documentation>20042: Elektrisk</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20042</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Elektrisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hybrid">
            <annotation>
               <documentation>20459: Bensin/elektrisk eller diesel/elektrisk</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20459</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hybrid</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hydrogen">
            <annotation>
               <documentation>20043: Hydrogen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20043</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hydrogen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Annet drivstoff">
            <annotation>
               <documentation>20044: Annet drivstoff</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20044</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet drivstoff</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ukjent">
            <annotation>
               <documentation>20045: Ukjent</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20045</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DrivstoffOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkadeomfangTunnelType">
      <annotation>
         <documentation>11852: Angir skadeomfang på selve tunnelkonstruksjonen</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11852</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11852</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadeomfang tunnel</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadeomfangTunnelEnumerationType nvdb:SkadeomfangTunnelOtherType"/>
   </simpleType>
   <simpleType name="SkadeomfangTunnelEnumerationType">
      <annotation>
         <documentation>11852: Angir skadeomfang på selve tunnelkonstruksjonen</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11852</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11852</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadeomfang tunnel</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Mindre eller ingen skade">
            <annotation>
               <documentation>20059: Mindre eller ingen skade</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20059</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mindre eller ingen skade</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Noe skade">
            <annotation>
               <documentation>20060: Noe skade</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20060</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Noe skade</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Omfattende skade">
            <annotation>
               <documentation>20061: Omfattende skade</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20061</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Omfattende skade</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ukjent">
            <annotation>
               <documentation>20062: Ukjent</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20062</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadeomfangTunnelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SkadomfangKjøretøyType">
      <annotation>
         <documentation>11853: Angir hvilken skade det var på kjøretøy der brann oppstod</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11853</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11853</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadomfang kjøretøy</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SkadomfangKjøretøyEnumerationType nvdb:SkadomfangKjøretøyOtherType"/>
   </simpleType>
   <simpleType name="SkadomfangKjøretøyEnumerationType">
      <annotation>
         <documentation>11853: Angir hvilken skade det var på kjøretøy der brann oppstod</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11853</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11853</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skadomfang kjøretøy</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Mindre eller ingen skade">
            <annotation>
               <documentation>20055: Mindre eller ingen skade</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20055</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mindre eller ingen skade</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Reparerbar skade">
            <annotation>
               <documentation>20056: Reparerbar skade</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20056</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Reparerbar skade</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Totalvrak">
            <annotation>
               <documentation>20057: Totalvrak</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20057</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Totalvrak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ukjent">
            <annotation>
               <documentation>20058: Ukjent</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20058</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SkadomfangKjøretøyOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StengningType">
      <annotation>
         <documentation>11854: Angir omfang av stengning i forbindelse med hendelse</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11854</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11854</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StengningEnumerationType nvdb:StengningOtherType"/>
   </simpleType>
   <simpleType name="StengningEnumerationType">
      <annotation>
         <documentation>11854: Angir omfang av stengning i forbindelse med hendelse</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11854</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11854</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stengning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ikke stengt/kort stopp i trafikkavvikling">
            <annotation>
               <documentation>20063: Ikke stengt/kort stopp i trafikkavvikling</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20063</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke stengt/kort stopp i trafikkavvikling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stengt inntil 3 timer">
            <annotation>
               <documentation>20460: Tunnel er stengt inntil 3 timer</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20460</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengt inntil 3 timer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stengt inntil 24 timer">
            <annotation>
               <documentation>20064: Stengt inntil 24 timer</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20064</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengt inntil 24 timer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stengt 1-6 døgn">
            <annotation>
               <documentation>20065: Stengt 1-6 døgn</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20065</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengt 1-6 døgn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stengt 1-4 uker">
            <annotation>
               <documentation>20066: Stengt 1-4 uker</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20066</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengt 1-4 uker</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stengt mer enn 1 mnd">
            <annotation>
               <documentation>20067: Stengt mer enn 1 mnd</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20067</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stengt mer enn 1 mnd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ukjent">
            <annotation>
               <documentation>20068: Ukjent</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20068</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StengningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TilhengerType">
      <annotation>
         <documentation>11855: Angir om kjøretøy hvor brann oppstod hadde tilhenger. Relevant for Personbil, Varebil,  Lastebil, Buss, Minibuss, Anleggsmaskin og Bobil/Bil med campingvogn</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11855</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11855</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilhenger</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilhengerEnumerationType nvdb:TilhengerOtherType"/>
   </simpleType>
   <simpleType name="TilhengerEnumerationType">
      <annotation>
         <documentation>11855: Angir om kjøretøy hvor brann oppstod hadde tilhenger. Relevant for Personbil, Varebil,  Lastebil, Buss, Minibuss, Anleggsmaskin og Bobil/Bil med campingvogn</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11855</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11855</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilhenger</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>20046: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20046</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>20047: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20047</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ukjent">
            <annotation>
               <documentation>20048: Ukjent</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20048</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilhengerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeHendelseType">
      <annotation>
         <documentation>11857: Angir hvilken type hendelse det er tale om</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11857</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11857</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type hendelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeHendelseEnumerationType nvdb:TypeHendelseOtherType"/>
   </simpleType>
   <simpleType name="TypeHendelseEnumerationType">
      <annotation>
         <documentation>11857: Angir hvilken type hendelse det er tale om</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11857</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11857</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type hendelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Brann">
            <annotation>
               <documentation>20022: Brann i form av åpen flamme</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20022</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hendelse med potensiale for brann">
            <annotation>
               <documentation>20023: Hendelse med potensiale for brann. Kan f.eks være drivstofflekkasje, varmeutvikling, mm. Gi mer info under tilleggsinformasjon</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20023</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hendelse med potensiale for brann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hendelse med potensiale for annen storulykke">
            <annotation>
               <documentation>20069: Hendelse med potensiale for storulykke, uten spesiell fare for brann. Kan for eksempel være gasslekkasje, lekkasje av farlige væsker, tap av usikret tung last, kollisjon med installasjoner i heng i tunnel.  Gi mer info under tilleggsinformasjon</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20069</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hendelse med potensiale for annen storulykke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeHendelseOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeKjøretøyType">
      <annotation>
         <documentation>11858: Angir hvilken kjøretøykategori kjøretøyet hvor brann oppstod tilhører</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11858</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11858</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type kjøretøy</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeKjøretøyEnumerationType nvdb:TypeKjøretøyOtherType"/>
   </simpleType>
   <simpleType name="TypeKjøretøyEnumerationType">
      <annotation>
         <documentation>11858: Angir hvilken kjøretøykategori kjøretøyet hvor brann oppstod tilhører</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11858</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11858</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type kjøretøy</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Personbil">
            <annotation>
               <documentation>20028: Personbil</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20028</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Personbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Motorsykkel">
            <annotation>
               <documentation>20029: Motorsykkel</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20029</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Motorsykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Varebil">
            <annotation>
               <documentation>20030: Varebil</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20030</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Varebil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Lastebil">
            <annotation>
               <documentation>20031: Lastebil</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20031</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lastebil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vogntog">
            <annotation>
               <documentation>20032: Forutsetter at det er med tilhenger</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20032</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vogntog</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vogntog ADR">
            <annotation>
               <documentation>20033: Forutsetter at det er med tilhenger</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20033</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vogntog ADR</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Buss">
            <annotation>
               <documentation>20034: Buss</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20034</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Buss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Minibuss">
            <annotation>
               <documentation>20035: Minibuss</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20035</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Minibuss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Anleggsmaskin">
            <annotation>
               <documentation>20036: Anleggsmaskin</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20036</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Anleggsmaskin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spesialtransport m følgebil">
            <annotation>
               <documentation>20037: Spesialtransport m følgebil</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20037</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesialtransport m følgebil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bobil/bil med campingvogn">
            <annotation>
               <documentation>20038: Gjelder bobil eller bil med campingvogn. Det skal i tillegg angis tilhenger = Ja dersom det er bil med campingvogn eller bobil med tilhenger/campingvogn. Det angis Tilhenger = Nei dersom det er bobil uten tilhenger/campingvogn.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20038</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bobil/bil med campingvogn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Annet kjøretøy">
            <annotation>
               <documentation>20039: Annet kjøretøy</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20039</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet kjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeKjøretøyOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ÅrsakskategoriType">
      <annotation>
         <documentation>11859: Angir hvilken kategori årsak til brannhendelse faller inn under</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11859</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11859</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Årsakskategori</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ÅrsakskategoriEnumerationType nvdb:ÅrsakskategoriOtherType"/>
   </simpleType>
   <simpleType name="ÅrsakskategoriEnumerationType">
      <annotation>
         <documentation>11859: Angir hvilken kategori årsak til brannhendelse faller inn under</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11859</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11859</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Årsakskategori</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Kjøretøyteknisk årsak">
            <annotation>
               <documentation>20024: Teknisk feil ved kjøretøy er årsak til hendelse</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20024</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjøretøyteknisk årsak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kollisjon/trafikkulykke">
            <annotation>
               <documentation>20025: Kollisjon er årsak til hendelse</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20025</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kollisjon/trafikkulykke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Teknisk utstyr i tunnel">
            <annotation>
               <documentation>20026: Teknisk feil ved tunnelutstyr er årsak til hendelse</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20026</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Teknisk utstyr i tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ukjent">
            <annotation>
               <documentation>20027: Ukjent årssak</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20027</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ÅrsakskategoriOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
