GML/953.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.31">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Belegning_FargeType">
    <annotation>
      <documentation>11952: Angir hvilken farge belegning framstår med.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11952</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11952</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning, farge</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Belegning_FargeEnumerationType nvdb:Belegning_FargeOtherType"/>
  </simpleType>
  <simpleType name="Belegning_FargeEnumerationType">
    <annotation>
      <documentation>11952: Angir hvilken farge belegning framstår med.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11952</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11952</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning, farge</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Rød">
        <annotation>
          <documentation>20279: Rød</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rød</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grønn">
        <annotation>
          <documentation>20281: Grønn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20281</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grønn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Blå">
        <annotation>
          <documentation>20282: Blå</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20282</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Blå</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gul">
        <annotation>
          <documentation>20283: Gul</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20283</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gul</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hvit">
        <annotation>
          <documentation>20280: Hvit</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20280</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hvit</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Naturlig materialfarge">
        <annotation>
          <documentation>20284: Det er ikke tilsatt fargestoff.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20284</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturlig materialfarge</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen farge">
        <annotation>
          <documentation>20285: Tilsatt annenfarge. Farge kan oppgis under tilleggsinformasjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20285</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen farge</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Belegning_FargeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Belegning_TypeSykkelfeltType">
    <annotation>
      <documentation>11943: Angir hvilken type belegning sykkelfeltet har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11943</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11943</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning, type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Belegning_TypeSykkelfeltEnumerationType nvdb:Belegning_TypeSykkelfeltOtherType"/>
  </simpleType>
  <simpleType name="Belegning_TypeSykkelfeltEnumerationType">
    <annotation>
      <documentation>11943: Angir hvilken type belegning sykkelfeltet har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11943</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11943</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning, type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Asfalt, ikke farget">
        <annotation>
          <documentation>20270: Standard svart asfalt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20270</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt, ikke farget</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt, farget">
        <annotation>
          <documentation>20272: Asfalt med tilsatt fargestoff som gjør at den skiller seg ut fra standard asfaltfarge.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20272</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt, farget</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt med malt overflate">
        <annotation>
          <documentation>20273: Asfalt med malt overflate.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20273</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt med malt overflate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt med plastbelagt overflate">
        <annotation>
          <documentation>20274: Asfalt med plastbelagt overflate.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20274</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt med plastbelagt overflate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belegningsstein">
        <annotation>
          <documentation>20277: Belagt med belegningsstein (betong).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20277</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegningsstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongheller">
        <annotation>
          <documentation>20278: Belagt med heller av betong.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20278</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongheller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brostein">
        <annotation>
          <documentation>20276: Belagt med brostein (naturstein).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20276</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brostein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Steinheller">
        <annotation>
          <documentation>20275: Heller av naturstein.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20275</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Steinheller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Belegning_TypeSykkelfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierSykkelfeltType">
    <annotation>
      <documentation>11947: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierSykkelfeltEnumerationType nvdb:EierSykkelfeltOtherType"/>
  </simpleType>
  <simpleType name="EierSykkelfeltEnumerationType">
    <annotation>
      <documentation>11947: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20334: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20334</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20333: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20333</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20330: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20330</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20331: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20331</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20332: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20332</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20335: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20335</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSykkelfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Sykkelfelt" substitutionGroup="nvdb:AbstraktSykkelfelt" type="nvdb:SykkelfeltType">
    <annotation>
      <documentation>953: Kjørefelt som ved offentlig trafikkskilt og oppmerking er er regulert for syklende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">953</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">953</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sykkelfelt</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SykkelfeltType">
    <complexContent>
      <extension base="nvdb:AbstraktSykkelfeltType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeSykkelfeltType">
            <annotation>
              <documentation>11940: Angir hvilken type sykkelfelt det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11940</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning_Type" type="nvdb:Belegning_TypeSykkelfeltType">
            <annotation>
              <documentation>11943: Angir hvilken type belegning sykkelfeltet har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11943</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Belegning, type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning_Farge" type="nvdb:Belegning_FargeType">
            <annotation>
              <documentation>11952: Angir hvilken farge belegning framstår med.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11952</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Belegning, farge</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning_Detaljer" type="string">
            <annotation>
              <documentation>11944: Angir detaljert beskrivelse av belegning. Kan angi typebetegnelser, produsent, lagdeling, fundamentering m.m.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11944</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Belegning, detaljer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>11942: Angir gjennomsnittlig bredde. For sykkelfelt som er avgrenset av oppmerking måles bredde fra ytterkant oppmerking, der det er avgrenset av kantstein måles inn til kantstein, der det kun er malt/farget belegning måles det til ytterkant belegning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11942</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>11950: Angir areal av sykkelfelt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11950</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår_Sykkelfelt" type="integer">
            <annotation>
              <documentation>11945: Angir hvilket år selve sykkelfeltet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11945</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår, sykkelfelt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår_Belegning" type="integer">
            <annotation>
              <documentation>11946: Angir hvilket år belegning ble etablert på stedet første gang.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11946</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår, belegning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11949: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11949</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11951: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11951</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12448: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12448</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSykkelfeltType">
            <annotation>
              <documentation>11947: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11947</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSykkelfeltType">
            <annotation>
              <documentation>11955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11955</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>11941: Gir linje/kurve som geometrisk representerer vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11941</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>11948: Gir flate/polygon som geometrisk avgrenser sykkelfeltet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11948</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKommentar</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegoppmerking_Tverrgående" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktVegoppmerking_Tverrgående</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SykkelfeltPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sykkelfelt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSykkelfeltType">
    <annotation>
      <documentation>11940: Angir hvilken type sykkelfelt det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11940</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11940</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSykkelfeltEnumerationType nvdb:TypeSykkelfeltOtherType"/>
  </simpleType>
  <simpleType name="TypeSykkelfeltEnumerationType">
    <annotation>
      <documentation>11940: Angir hvilken type sykkelfelt det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11940</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11940</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Sykkelfelt i bilveg">
        <annotation>
          <documentation>20268: Sykkelfelt som er plassert i bilveg, ligger normalt til høyre for ett standard kjørefelt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20268</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelfelt i bilveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkelfelt i sykkelveg">
        <annotation>
          <documentation>20269: Sykkelfelt i egen sykkelveg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelfelt i sykkelveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSykkelfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSykkelfeltType">
    <annotation>
      <documentation>11955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSykkelfeltEnumerationType nvdb:VedlikeholdsansvarligSykkelfeltOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSykkelfeltEnumerationType">
    <annotation>
      <documentation>11955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>20327: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20327</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>20324: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20324</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20329: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20329</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>20325: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20325</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20323: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20323</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20326: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20326</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20328: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20328</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSykkelfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
