GML/953.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/XSD/NVDB" version="2.20">
  <include schemaLocation="abstraktNVDB.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Belegning_FargeType">
    <annotation>
      <documentation>11952: Angir hvilken farge belegning framstår med.</documentation>
    </annotation>
    <union memberTypes="nvdb:Belegning_FargeEnumerationType nvdb:Belegning_FargeOtherType"/>
  </simpleType>
  <simpleType name="Belegning_FargeEnumerationType">
    <annotation>
      <documentation>11952: Angir hvilken farge belegning framstår med.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="rød">
        <annotation>
          <documentation>20279: Rød</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grønn">
        <annotation>
          <documentation>20281: Grønn</documentation>
        </annotation>
      </enumeration>
      <enumeration value="blå">
        <annotation>
          <documentation>20282: Blå</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gul">
        <annotation>
          <documentation>20283: Gul</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hvit">
        <annotation>
          <documentation>20280: Hvit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="naturligMaterialfarge">
        <annotation>
          <documentation>20284: Det er ikke tilsatt fargestoff.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annenFarge">
        <annotation>
          <documentation>20285: Tilsatt annenfarge. Farge kan oppgis under tilleggsinformasjon</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Belegning_FargeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Belegning_TypeSykkelfeltType">
    <annotation>
      <documentation>11943: Angir hvilken type belegning sykkelfeltet har</documentation>
    </annotation>
    <union memberTypes="nvdb:Belegning_TypeSykkelfeltEnumerationType nvdb:Belegning_TypeSykkelfeltOtherType"/>
  </simpleType>
  <simpleType name="Belegning_TypeSykkelfeltEnumerationType">
    <annotation>
      <documentation>11943: Angir hvilken type belegning sykkelfeltet har</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="asfalt_IkkeFarget">
        <annotation>
          <documentation>20270: Standard svart asfalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfalt_Farget">
        <annotation>
          <documentation>20272: Asfalt med tilsatt fargestoff som gjør at den skiller seg ut fra standard asfaltfarge</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltMedMaltOverflate">
        <annotation>
          <documentation>20273: Asfalt med malt overflate</documentation>
        </annotation>
      </enumeration>
      <enumeration value="asfaltMedPlastbelagtOverflate">
        <annotation>
          <documentation>20274: Asfalt med plassbelagt overflate</documentation>
        </annotation>
      </enumeration>
      <enumeration value="belegningsstein">
        <annotation>
          <documentation>20277: Belagt med belegningsstein (betong)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongheller">
        <annotation>
          <documentation>20278: Belagt med heller av betong</documentation>
        </annotation>
      </enumeration>
      <enumeration value="brostein">
        <annotation>
          <documentation>20276: Belagt med brostein (naturstein)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="steinheller">
        <annotation>
          <documentation>20275: Heller av naturstein</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Belegning_TypeSykkelfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierSykkelfeltType">
    <annotation>
      <documentation>11947: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <union memberTypes="nvdb:EierSykkelfeltEnumerationType nvdb:EierSykkelfeltOtherType"/>
  </simpleType>
  <simpleType name="EierSykkelfeltEnumerationType">
    <annotation>
      <documentation>11947: Angir hvem som er eier av vegobjektet.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="stat_StatensVegvesen">
        <annotation>
          <documentation>20334: Stat, Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stat_NyeVeier">
        <annotation>
          <documentation>20333: Stat, Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>20330: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>20331: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>20332: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>20335: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSykkelfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Sykkelfelt" substitutionGroup="nvdb:AbstraktSykkelfelt" type="nvdb:SykkelfeltType">
    <annotation>
      <documentation>953: Kjørefelt som ved offentlig trafikkskilt og oppmerking er er regulert for syklende</documentation>
    </annotation>
  </element>
  <complexType name="SykkelfeltType">
    <complexContent>
      <extension base="nvdb:AbstraktSykkelfeltType">
        <sequence>
          <element minOccurs="0" name="type" type="nvdb:TypeSykkelfeltType">
            <annotation>
              <documentation>11940: Angir hvilken type sykkelfelt det er tale om</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning_Type" type="nvdb:Belegning_TypeSykkelfeltType">
            <annotation>
              <documentation>11943: Angir hvilken type belegning sykkelfeltet har</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning_Farge" type="nvdb:Belegning_FargeType">
            <annotation>
              <documentation>11952: Angir hvilken farge belegning framstår med.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="belegning_Detaljer" type="string">
            <annotation>
              <documentation>11944: Angir detaljert beskrivelse av belegning. Kan angi typebetegnelser, produsent, lagdeling, fundamentering mm</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>11942: Angir gjennomsnittlig bredde. For sykkelfelt som er avgrenset av oppmerking måles bredde fra ytterkant oppmerking, der det er avgrenset av kantstein måles inn til kantstein, der det kun er malt/farget belegning måles det til ytterkant belegning.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>11950: Angir areal av sykkelfelt
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår_Sykkelfelt" type="integer">
            <annotation>
              <documentation>11945: Angir hvilket år selve sykkelfeltet ble etablert på stedet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår_Belegning" type="integer">
            <annotation>
              <documentation>11946: Angir hvilket år belegning ble etablert på stedet første gang</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11949: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11951: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSykkelfeltType">
            <annotation>
              <documentation>11947: Angir hvem som er eier av vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSykkelfeltType">
            <annotation>
              <documentation>11955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>11941: Gir linje/kurve som geometrisk representerer vegobjektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>11948: Gir flate/polygon som geometrisk avgrenser sykkelfeltet</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SykkelfeltPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sykkelfelt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSykkelfeltType">
    <annotation>
      <documentation>11940: Angir hvilken type sykkelfelt det er tale om</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeSykkelfeltEnumerationType nvdb:TypeSykkelfeltOtherType"/>
  </simpleType>
  <simpleType name="TypeSykkelfeltEnumerationType">
    <annotation>
      <documentation>11940: Angir hvilken type sykkelfelt det er tale om</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="sykkelfeltIBilveg">
        <annotation>
          <documentation>20268: Sykkelfelt som er plassert i bilveg, ligger normalt til høyre for ett standard kjørefelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkelfeltISykkelveg">
        <annotation>
          <documentation>20269: Sykkelfelt i egen sykkelveg.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSykkelfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSykkelfeltType">
    <annotation>
      <documentation>11955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSykkelfeltEnumerationType nvdb:VedlikeholdsansvarligSykkelfeltOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSykkelfeltEnumerationType">
    <annotation>
      <documentation>11955: Angir hvem som er ansvarlig for vedlikehold av vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="statensVegvesen">
        <annotation>
          <documentation>20327: Statens vegvesen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nyeVeier">
        <annotation>
          <documentation>20324: Nye Veier</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fylkeskommune">
        <annotation>
          <documentation>20329: Fylkeskommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>20325: OPS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kommune">
        <annotation>
          <documentation>20323: Kommune</documentation>
        </annotation>
      </enumeration>
      <enumeration value="privat">
        <annotation>
          <documentation>20326: Privat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="uavklart">
        <annotation>
          <documentation>20328: Uavklart</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSykkelfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
