GML/955.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>955: Kulturminne av type bygning som som det må tas spesielt hensyn til i forbindelse med drift/vedliekhold av tilliggende veg(er). Bygninger som har /har hatt funksjon relatert til veg/vegfarende registreres som "Vegminne".</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierKulturminne, bygningType">
      <annotation>
         <documentation>12042: Angir hvem som er eier av kulturminne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12042</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierKulturminne, bygningEnumerationType nvdb:EierKulturminne, bygningOtherType"/>
   </simpleType>
   <simpleType name="EierKulturminne, bygningEnumerationType">
      <annotation>
         <documentation>12042: Angir hvem som er eier av kulturminne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12042</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20892</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20888</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20890</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20893</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20887</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SO">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20889</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, øvrig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20891</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierKulturminne, bygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Kulturminne, bygning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Kulturminne, bygningType">
      <annotation>
         <documentation>955: Kulturminne av type bygning som som det må tas spesielt hensyn til i forbindelse med drift/vedliekhold av tilliggende veg(er). Bygninger som har /har hatt funksjon relatert til veg/vegfarende registreres som "Vegminne".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">955</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kulturminne, bygning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Kulturminne, bygningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="navn" type="string">
                  <annotation>
                     <documentation>12040: Navn på kulturminnet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12040</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vernestatus" type="nvdb:VernestatusKulturminne, bygningType">
                  <annotation>
                     <documentation>12030: Juridisk vern, hjemlet i lov, forskrift, plan mv.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12030</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vernestatus</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="linkTilKulturminnesøk" type="string">
                  <annotation>
                     <documentation>12036: Gir link til Kulturminnesøk, dvs. innsynsløsning for Askeladden. Gir mer detaljert informasjon om forekomst.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12036</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Link til kulturminnesøk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="askeladden_ID" type="string">
                  <annotation>
                     <documentation>12028: Gir referanse til unik ID i Askeladden.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12028</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Askeladden_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="AK_ID" type="string">
                  <annotation>
                     <documentation>12047: ID-nr i SEFRAK-registeret. SEFRAK= Sekretariatet for registrering av faste kulturminne i Noreg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12047</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">SEFRAK-ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="restriksjonGrøftKantrensk">
                  <annotation>
                     <documentation>12032: Angir om det skal tas spesielle hensyn ved grøft/kantrensk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12032</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="restriksjonKantklipp">
                  <annotation>
                     <documentation>12034: Angir om det skal tas spesielle hensyn ved kantklipp.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12034</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="andreRestriksjoner" type="string">
                  <annotation>
                     <documentation>12574: Beskriver andre restriksjoner knyttet til drift og vedlikehold utover grøft/kantrensk og kantklipp.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12574</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Andre restriksjoner</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12038: Angir informasjon fortrinnsvis knyttet til forvaltning, drift og vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12038</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierKulturminne, bygningType">
                  <annotation>
                     <documentation>12042: Angir hvem som er eier av kulturminne.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12042</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>12022: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12022</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>12024: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12024</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>12026: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12026</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Kulturminne, bygningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kulturminne, bygning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="RestriksjonGrøftKantrenskKulturminne, bygningType">
      <annotation>
         <documentation>12032: Angir om det skal tas spesielle hensyn ved grøft/kantrensk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12032</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RestriksjonGrøftKantrenskKulturminne, bygningEnumerationType nvdb:RestriksjonGrøftKantrenskKulturminne, bygningOtherType"/>
   </simpleType>
   <simpleType name="RestriksjonGrøftKantrenskKulturminne, bygningEnumerationType">
      <annotation>
         <documentation>12032: Angir om det skal tas spesielle hensyn ved grøft/kantrensk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12032</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="SB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20869</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utføres etter særskilt beskrivelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20870</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utføres som avtalt i driftskontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RestriksjonGrøftKantrenskKulturminne, bygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RestriksjonKantklippKulturminne, bygningType">
      <annotation>
         <documentation>12034: Angir om det skal tas spesielle hensyn ved kantklipp.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12034</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RestriksjonKantklippKulturminne, bygningEnumerationType nvdb:RestriksjonKantklippKulturminne, bygningOtherType"/>
   </simpleType>
   <simpleType name="RestriksjonKantklippKulturminne, bygningEnumerationType">
      <annotation>
         <documentation>12034: Angir om det skal tas spesielle hensyn ved kantklipp.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12034</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="SB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20881</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utføres etter særskilt beskrivelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20882</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utføres som avtalt i driftskontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RestriksjonKantklippKulturminne, bygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VernestatusKulturminne, bygningType">
      <annotation>
         <documentation>12030: Juridisk vern, hjemlet i lov, forskrift, plan mv.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12030</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vernestatus</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VernestatusKulturminne, bygningEnumerationType nvdb:VernestatusKulturminne, bygningOtherType"/>
   </simpleType>
   <simpleType name="VernestatusKulturminne, bygningEnumerationType">
      <annotation>
         <documentation>12030: Juridisk vern, hjemlet i lov, forskrift, plan mv.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12030</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vernestatus</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="AF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20857</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Automatisk fredet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20862</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20861</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommunal kulturminneplan</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20859</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tinglysning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20858</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vedtaksfredet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20860</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Verneplan</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VernestatusKulturminne, bygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
