GML/956.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>956: Kulturminne som ikke faller i kategorien bygning eller vegminne og som må hensyn tas i forbindelse med drift/vedliekhold av tilliggende veg(er). Kulturminner som er/har vært en del av vegen/vegmiljøet registreres som "Vegminne". Kulturminner av type bygning registreres som "Kulturminne, bygning".</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierKulturminne, øvrigType">
      <annotation>
         <documentation>12043: Angir hvem som er eier av kulturminne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12043</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierKulturminne, øvrigEnumerationType nvdb:EierKulturminne, øvrigOtherType"/>
   </simpleType>
   <simpleType name="EierKulturminne, øvrigEnumerationType">
      <annotation>
         <documentation>12043: Angir hvem som er eier av kulturminne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12043</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20899</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20895</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20897</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20900</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20894</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SO">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20896</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, øvrig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20898</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierKulturminne, øvrigOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Kulturminne, øvrig"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Kulturminne, øvrigType">
      <annotation>
         <documentation>956: Kulturminne som ikke faller i kategorien bygning eller vegminne og som må hensyn tas i forbindelse med drift/vedliekhold av tilliggende veg(er). Kulturminner som er/har vært en del av vegen/vegmiljøet registreres som "Vegminne". Kulturminner av type bygning registreres som "Kulturminne, bygning".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">956</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kulturminne, øvrig</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Kulturminne, øvrigType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="navn" type="string">
                  <annotation>
                     <documentation>12041: Navn på vegminne.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12041</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vernestatus" type="nvdb:VernestatusKulturminne, øvrigType">
                  <annotation>
                     <documentation>12031: Juridisk vern, hjemlet i lov, forskrift, plan mv.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12031</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vernestatus</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="linkTilKulturminnesøk" type="string">
                  <annotation>
                     <documentation>12037: Gir link til Kulturminnesøk, dvs. innsynsløsning for Askeladden. Gir mer detaljert informasjon om forekomst.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12037</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Link til kulturminnesøk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="askeladden_ID" type="string">
                  <annotation>
                     <documentation>12029: Gir referanse til unik ID i Askeladden.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12029</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Askeladden_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="restriksjonGrøftKantrensk">
                  <annotation>
                     <documentation>12033: Angir om det skal tas spesielle hensyn ved grøft/kantrensk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12033</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="restriksjonKantklipp">
                  <annotation>
                     <documentation>12035: Angir om det skal tas spesielle hensyn ved kantklipp.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12035</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="andreRestriksjoner" type="string">
                  <annotation>
                     <documentation>12575: Beskriver andre restriksjoner knyttet til drift og vedlikehold utover grøft/kantrensk og kantklipp.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12575</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Andre restriksjoner</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12039: Angir informasjon fortrinnsvis knyttet til forvaltning, drift og vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12039</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierKulturminne, øvrigType">
                  <annotation>
                     <documentation>12043: Angir hvem som er eier av kulturminne.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12043</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>12023: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12023</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>12025: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12025</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>12027: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12027</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Kulturminne, øvrigPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kulturminne, øvrig"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="RestriksjonGrøftKantrenskKulturminne, øvrigType">
      <annotation>
         <documentation>12033: Angir om det skal tas spesielle hensyn ved grøft/kantrensk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12033</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RestriksjonGrøftKantrenskKulturminne, øvrigEnumerationType nvdb:RestriksjonGrøftKantrenskKulturminne, øvrigOtherType"/>
   </simpleType>
   <simpleType name="RestriksjonGrøftKantrenskKulturminne, øvrigEnumerationType">
      <annotation>
         <documentation>12033: Angir om det skal tas spesielle hensyn ved grøft/kantrensk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12033</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjon grøft/kantrensk</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="SB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20871</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utføres etter særskilt beskrivelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20872</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utføres som avtalt i driftskontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RestriksjonGrøftKantrenskKulturminne, øvrigOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RestriksjonKantklippKulturminne, øvrigType">
      <annotation>
         <documentation>12035: Angir om det skal tas spesielle hensyn ved kantklipp.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12035</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RestriksjonKantklippKulturminne, øvrigEnumerationType nvdb:RestriksjonKantklippKulturminne, øvrigOtherType"/>
   </simpleType>
   <simpleType name="RestriksjonKantklippKulturminne, øvrigEnumerationType">
      <annotation>
         <documentation>12035: Angir om det skal tas spesielle hensyn ved kantklipp.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12035</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Restriksjon kantklipp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="SB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20883</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utføres etter særskilt beskrivelse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20884</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utføres som avtalt i driftskontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RestriksjonKantklippKulturminne, øvrigOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VernestatusKulturminne, øvrigType">
      <annotation>
         <documentation>12031: Juridisk vern, hjemlet i lov, forskrift, plan mv.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12031</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vernestatus</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VernestatusKulturminne, øvrigEnumerationType nvdb:VernestatusKulturminne, øvrigOtherType"/>
   </simpleType>
   <simpleType name="VernestatusKulturminne, øvrigEnumerationType">
      <annotation>
         <documentation>12031: Juridisk vern, hjemlet i lov, forskrift, plan mv.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12031</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vernestatus</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="AF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20863</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Automatisk fredet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20868</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20867</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommunal kulturminneplan</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20865</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tinglysning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20864</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vedtaksfredet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20866</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Verneplan</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VernestatusKulturminne, øvrigOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
