GML/957.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>957: Vegstrekning spesielt utsatt for uvær som har gitt begrenset fremkommelighet og/eller stengt veg. Kartlagte strekninger i NVDB er basert på hendelser. Det er kun den værutsatte strekningen som skal registreres, ikke hele strekningen som ev. stenges av uværet. Høyfjellsstrekninger som i et normalår stenges helt eller delvis i løpet av vinteren skal i sin helhet registreres som "Værutsatt veg" uavhengig av registrering av Naturfare.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="GjentakelsesintervallNaturfareType">
      <annotation>
         <documentation>12063: Angir hvor ofte denne type naturfare (problem) statistisk sett oppstår på strekningen. Det defineres som at problemet har inntruffet, ikke bare om vegen blir stengt, men også om det er behov for økt beredskap og enkelte restriksjoner som f.eks. nedsatt hastighet, sperring av ett kjørefelt m.m. Gjentaksintervall er styrt av hvor stor del av året problemet er tilstede. Det kreves derfor færre hendelser av vinterproblemet snøfokk enn helårsproblemet bølger for å gi et høyt gjentaksintervall.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12063</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjentakelsesintervall</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GjentakelsesintervallNaturfareEnumerationType nvdb:GjentakelsesintervallNaturfareOtherType"/>
   </simpleType>
   <simpleType name="GjentakelsesintervallNaturfareEnumerationType">
      <annotation>
         <documentation>12063: Angir hvor ofte denne type naturfare (problem) statistisk sett oppstår på strekningen. Det defineres som at problemet har inntruffet, ikke bare om vegen blir stengt, men også om det er behov for økt beredskap og enkelte restriksjoner som f.eks. nedsatt hastighet, sperring av ett kjørefelt m.m. Gjentaksintervall er styrt av hvor stor del av året problemet er tilstede. Det kreves derfor færre hendelser av vinterproblemet snøfokk enn helårsproblemet bølger for å gi et høyt gjentaksintervall.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12063</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjentakelsesintervall</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2ga">
            <annotation>
               <documentation>20934: Problemet forventes å opptre 1-2 ganger per år.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20934</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1-2 ganger årlig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fgm">
            <annotation>
               <documentation>20932: Problemet forventes å opptre flere ganger per måned.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20932</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flere ganger per måned</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fga">
            <annotation>
               <documentation>20933: Problemet forventes å opptre flere enn to ganger per år.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20933</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flere ganger per år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="25a">
            <annotation>
               <documentation>20935: Problemet forventes å opptre med 2-5 års mellomrom.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20935</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hvert 2.-5. år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <documentation>20936: Problemet forventes å opptre sjeldnere enn hvert femte år, men oftere enn hvert 50. år.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20936</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hvert 5.-50. år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s50">
            <annotation>
               <documentation>20937: Problemet forventes å opptre sjeldnere enn hvert 50. år</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20937</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sjeldnere enn hvert 50. år</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GjentakelsesintervallNaturfareOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KildeNaturfareType">
      <annotation>
         <documentation>12066: Angir hvem som har bidratt med informasjon om problemet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12066</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kilde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KildeNaturfareEnumerationType nvdb:KildeNaturfareOtherType"/>
   </simpleType>
   <simpleType name="KildeNaturfareEnumerationType">
      <annotation>
         <documentation>12066: Angir hvem som har bidratt med informasjon om problemet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12066</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kilde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>20968: Andre kilder.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20968</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Andre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <documentation>20966: Byggherre (byggeleder eller kontrollingeniør) for driftskontrakt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20966</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Byggherre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E">
            <annotation>
               <documentation>20965: Entreprenør på driftskontrakt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20965</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Entreprenør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <documentation>20967: Lokalkjent, fastboende, etc.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20967</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lokalkjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KildeNaturfareOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Naturfare"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:NaturfareType">
      <annotation>
         <documentation>957: Vegstrekning spesielt utsatt for uvær som har gitt begrenset fremkommelighet og/eller stengt veg. Kartlagte strekninger i NVDB er basert på hendelser. Det er kun den værutsatte strekningen som skal registreres, ikke hele strekningen som ev. stenges av uværet. Høyfjellsstrekninger som i et normalår stenges helt eller delvis i løpet av vinteren skal i sin helhet registreres som "Værutsatt veg" uavhengig av registrering av Naturfare.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">957</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturfare</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="NaturfareType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="typeNaturfare">
                  <annotation>
                     <documentation>12064: Angir hvilken type naturfare (problem) det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12064</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type naturfare</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="navn" type="string">
                  <annotation>
                     <documentation>12065: Angir navn på strekningen der naturfaren inntrer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12065</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gjentakelsesintervall"
                        type="nvdb:GjentakelsesintervallNaturfareType">
                  <annotation>
                     <documentation>12063: Angir hvor ofte denne type naturfare (problem) statistisk sett oppstår på strekningen. Det defineres som at problemet har inntruffet, ikke bare om vegen blir stengt, men også om det er behov for økt beredskap og enkelte restriksjoner som f.eks. nedsatt hastighet, sperring av ett kjørefelt m.m. Gjentaksintervall er styrt av hvor stor del av året problemet er tilstede. Det kreves derfor færre hendelser av vinterproblemet snøfokk enn helårsproblemet bølger for å gi et høyt gjentaksintervall.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12063</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjentakelsesintervall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="naturfarevurdering" type="nvdb:NaturfarevurderingNaturfareType">
                  <annotation>
                     <documentation>12227: Angir om det skal gjennomføres naturfarevurdering på strekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12227</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Naturfarevurdering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vindhastighet"
                        type="nvdb:VindhastighetNaturfareType">
                  <annotation>
                     <documentation>12067: Angir hvor kraftig vind som generelt skal til før problemet oppstår.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12067</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vindhastighet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vindretning_Kritisk">
                  <annotation>
                     <documentation>12068: Angir hvilken vindretning som generelt gir utfordringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12068</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vindretning, kritisk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vindretning_Sekundær">
                  <annotation>
                     <documentation>12069: Angir hvilken sekundær vindretning som generelt gir utfordringer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12069</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vindretning, sekundær</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stormflohøyde" type="double">
                  <annotation>
                     <documentation>12070: Erfaringstall for stormflohøyde, dvs. vannstand (cm) over middels tidevannshøyde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12070</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stormflohøyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="styrtflom" type="nvdb:StyrtflomNaturfareType">
                  <annotation>
                     <documentation>12071: Angir om flommen er som følge av styrtregn (kraftig regn under 3 timers varighet). Styrtregn forekommer i hovedsak om sommeren.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12071</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Styrtflom</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kilde" type="nvdb:KildeNaturfareType">
                  <annotation>
                     <documentation>12066: Angir hvem som har bidratt med informasjon om problemet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12066</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kilde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12072: Tilleggsopplysninger som er relevante for naturfareberedskapen på vegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12072</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="NaturfarePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Naturfare"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="NaturfarevurderingNaturfareType">
      <annotation>
         <documentation>12227: Angir om det skal gjennomføres naturfarevurdering på strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12227</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturfarevurdering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NaturfarevurderingNaturfareEnumerationType nvdb:NaturfarevurderingNaturfareOtherType"/>
   </simpleType>
   <simpleType name="NaturfarevurderingNaturfareEnumerationType">
      <annotation>
         <documentation>12227: Angir om det skal gjennomføres naturfarevurdering på strekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12227</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturfarevurdering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21338</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21339</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NaturfarevurderingNaturfareOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StyrtflomNaturfareType">
      <annotation>
         <documentation>12071: Angir om flommen er som følge av styrtregn (kraftig regn under 3 timers varighet). Styrtregn forekommer i hovedsak om sommeren.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12071</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Styrtflom</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StyrtflomNaturfareEnumerationType nvdb:StyrtflomNaturfareOtherType"/>
   </simpleType>
   <simpleType name="StyrtflomNaturfareEnumerationType">
      <annotation>
         <documentation>12071: Angir om flommen er som følge av styrtregn (kraftig regn under 3 timers varighet). Styrtregn forekommer i hovedsak om sommeren.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12071</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Styrtflom</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>20963: Ja.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20963</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>20964: Nei.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20964</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StyrtflomNaturfareOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeNaturfareNaturfareType">
      <annotation>
         <documentation>12064: Angir hvilken type naturfare (problem) det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12064</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type naturfare</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeNaturfareNaturfareEnumerationType nvdb:TypeNaturfareNaturfareOtherType"/>
   </simpleType>
   <simpleType name="TypeNaturfareNaturfareEnumerationType">
      <annotation>
         <documentation>12064: Angir hvilken type naturfare (problem) det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12064</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type naturfare</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <documentation>20927: Problem med bølger som slår over veg selv om det ikke nødvendigvis er stormflo.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20927</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bølger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <documentation>20929: Stor vannføring som kan føre til erosjon og/ eller oversvømmelse som er til hinder for trafikkavvikling. Kan være som følge av regn og/ eller snøsmelting.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20929</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="i">
            <annotation>
               <documentation>20930: Det at isen i elver og innsjøer brekkes opp på grunn av økt vannføring, og føres med strømmen nedover vassdraget. Dette skaper periodevis trafikale problemer på gitt vegstrekning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20930</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Isgang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SF">
            <annotation>
               <documentation>20931: Strekning utsatt for sterk vind og sandtransport som kan gi redusert sikt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20931</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sandflukt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <documentation>20925: Problem med dårlig sikt og oppbygging av snøfonner, vind uten snø er mindre problematisk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20925</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snøfokk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <documentation>20928: Kan være problem med oversvømmelse av vegen (selv uten vind/bølger). Vurderes med tanke på stormflonivået i 2050.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20928</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stormflo</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <documentation>20926: Problem med sterk vind selv om det ikke snør eller er bølger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20926</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vind</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeNaturfareNaturfareOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VindhastighetNaturfareType">
      <annotation>
         <documentation>12067: Angir hvor kraftig vind som generelt skal til før problemet oppstår.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12067</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vindhastighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VindhastighetNaturfareEnumerationType nvdb:VindhastighetNaturfareOtherType"/>
   </simpleType>
   <simpleType name="VindhastighetNaturfareEnumerationType">
      <annotation>
         <documentation>12067: Angir hvor kraftig vind som generelt skal til før problemet oppstår.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12067</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vindhastighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="5">
            <annotation>
               <documentation>20938: 5 - Frisk bris (8,0-10,7 m/s).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20938</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Frisk bris</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <documentation>20943: 10 - Full storm (24,5 - 28,4 m/s).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20943</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Full storm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <documentation>20939: 6 - Liten kuling (10,8 - 13,8 m/s).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20939</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Liten kuling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <documentation>20942: 9 - Liten storm (20,8 - 24,4 m/s).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20942</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Liten storm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <documentation>20945: 12 - Orkan (over 32,6 m/s).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20945</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Orkan</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <documentation>20941: 8 - Sterk kuling (17,2 - 20,7 m/s).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20941</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sterk kuling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <documentation>20944: 11 - Sterk storm (28,5 - 32,6 m/s).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20944</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sterk storm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <documentation>20940: 7 - Stiv kuling (13,9 - 17,1 m/s).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20940</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stiv kuling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VindhastighetNaturfareOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Vindretning_KritiskNaturfareType">
      <annotation>
         <documentation>12068: Angir hvilken vindretning som generelt gir utfordringer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12068</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vindretning, kritisk</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Vindretning_KritiskNaturfareEnumerationType nvdb:Vindretning_KritiskNaturfareOtherType"/>
   </simpleType>
   <simpleType name="Vindretning_KritiskNaturfareEnumerationType">
      <annotation>
         <documentation>12068: Angir hvilken vindretning som generelt gir utfordringer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12068</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vindretning, kritisk</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="N">
            <annotation>
               <documentation>20946: Nord.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20946</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">N</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <documentation>20953: Nordvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20953</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NØ">
            <annotation>
               <documentation>20947: Nordøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20947</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <documentation>20950: Sør.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20950</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SV">
            <annotation>
               <documentation>20951: Sørvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20951</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SØ">
            <annotation>
               <documentation>20949: Sørøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20949</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <documentation>20952: Vest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20952</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">V</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ø">
            <annotation>
               <documentation>20948: Øst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20948</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Vindretning_KritiskNaturfareOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Vindretning_SekundærNaturfareType">
      <annotation>
         <documentation>12069: Angir hvilken sekundær vindretning som generelt gir utfordringer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12069</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vindretning, sekundær</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Vindretning_SekundærNaturfareEnumerationType nvdb:Vindretning_SekundærNaturfareOtherType"/>
   </simpleType>
   <simpleType name="Vindretning_SekundærNaturfareEnumerationType">
      <annotation>
         <documentation>12069: Angir hvilken sekundær vindretning som generelt gir utfordringer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12069</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vindretning, sekundær</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="AL">
            <annotation>
               <documentation>20962: Det er flere sekundære vindretninger som er problematiske.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20962</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Alle</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>20954: Nord.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20954</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">N</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <documentation>20961: Nordvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20961</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NØ">
            <annotation>
               <documentation>20955: Nordøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20955</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <documentation>20958: Sør.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20958</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SV">
            <annotation>
               <documentation>20959: Sørvest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20959</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SØ">
            <annotation>
               <documentation>20957: Sørøst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20957</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SØ</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <documentation>20960: Vest.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20960</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">V</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ø">
            <annotation>
               <documentation>20956: Øst.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20956</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Vindretning_SekundærNaturfareOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
