GML/957.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.26">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="GjentakelsesintervallType">
    <annotation>
      <documentation>12063: Angir hvor ofte denne type naturfare (problem) statistisk sett oppstår på strekningen. Det defineres som at problemet har inntruffet, ikke bare om vegen blir stengt, men også om det er behov for økt beredskap og enkelte restriksjoner som f.eks. nedsatt ha</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12063</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12063</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gjentakelsesintervall</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GjentakelsesintervallEnumerationType nvdb:GjentakelsesintervallOtherType"/>
  </simpleType>
  <simpleType name="GjentakelsesintervallEnumerationType">
    <annotation>
      <documentation>12063: Angir hvor ofte denne type naturfare (problem) statistisk sett oppstår på strekningen. Det defineres som at problemet har inntruffet, ikke bare om vegen blir stengt, men også om det er behov for økt beredskap og enkelte restriksjoner som f.eks. nedsatt ha</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12063</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12063</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gjentakelsesintervall</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Flere ganger per månded">
        <annotation>
          <documentation>20932: Problemet forventes å opptre flere ganger per måned</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20932</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Flere ganger per månded</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flere ganger per år">
        <annotation>
          <documentation>20933: Problemet forventes å opptre flere enn to ganger per år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20933</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Flere ganger per år</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1-2 ganger årlig">
        <annotation>
          <documentation>20934: Problemet forventes å opptre 1-2 ganger per år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20934</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">1-2 ganger årlig</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hvert 2.-5. år">
        <annotation>
          <documentation>20935: Problemet forventes å opptre med 2-5 års mellomrom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20935</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hvert 2.-5. år</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sjeldnere enn hvert 5. år">
        <annotation>
          <documentation>20936: Problemet forventes å opptre sjeldnere enn hvert femte år</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20936</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sjeldnere enn hvert 5. år</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GjentakelsesintervallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KildeType">
    <annotation>
      <documentation>12066: Angir hvem som har bidratt med informasjon om problemet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12066</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12066</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kilde</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KildeEnumerationType nvdb:KildeOtherType"/>
  </simpleType>
  <simpleType name="KildeEnumerationType">
    <annotation>
      <documentation>12066: Angir hvem som har bidratt med informasjon om problemet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12066</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12066</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kilde</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Entreprenør">
        <annotation>
          <documentation>20965: Entreprenør på driftskontrakt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20965</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Entreprenør</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Byggherre">
        <annotation>
          <documentation>20966: Byggherre (byggeleder eller kontrollingeniør) for driftskontrakt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20966</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Byggherre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lokalkjent">
        <annotation>
          <documentation>20967: Lokalkjent, fastboende, etc</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20967</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lokalkjent</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Andre">
        <annotation>
          <documentation>20968: Andre kilder</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20968</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Andre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KildeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Naturfare" substitutionGroup="nvdb:AbstraktNaturfare" type="nvdb:NaturfareType">
    <annotation>
      <documentation>957: Vegstrekning spesielt utsatt for uvær som har gitt begrenset fremkommelighet og/eller stengt veg. Kartlagte strekninger i NVDB er basert på hendelser. Det er kun den værutsatte strekningen som skal registreres, ikke hele strekningen som evt stenges av uværet. Høyfjellsstrekninger som i et normalår stenges helt eller delvis i løpet av vinteren skal i sin helhet registreres som "Værutsatt veg" uavhengig av registrering av Naturfare.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">957</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">957</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Naturfare</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NaturfareType">
    <complexContent>
      <extension base="nvdb:AbstraktNaturfareType">
        <sequence>
          <element name="typeNaturfare" type="nvdb:TypeNaturfareType">
            <annotation>
              <documentation>12064: Angir hvilken type naturfare (problem) det er tale om.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12064</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type naturfare</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>12065: Angir navn på strekningen der naturfaren inntrer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12065</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Navn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjentakelsesintervall" type="nvdb:GjentakelsesintervallType">
            <annotation>
              <documentation>12063: Angir hvor ofte denne type naturfare (problem) statistisk sett oppstår på strekningen. Det defineres som at problemet har inntruffet, ikke bare om vegen blir stengt, men også om det er behov for økt beredskap og enkelte restriksjoner som f.eks. nedsatt hastighet, sperring av ett kjørefelt mm. Gjentaksintervall er styrt av hvor stor del av året problemet er tilstede. Det kreves derfor færre hendelser av vinterproblemet snøfokk enn helårsproblemet bølger for å gi et høyt gjentaksintervall.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12063</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gjentakelsesintervall</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="naturfarevurdering" type="nvdb:NaturfarevurderingType">
            <annotation>
              <documentation>12227: Angir om det skal gjennomføres naturfarevurdering på strekningen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12227</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Naturfarevurdering</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vindhastighet" type="nvdb:VindhastighetType">
            <annotation>
              <documentation>12067: Angir hvor kraftig vind som generelt skal til før problemet oppstår .</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12067</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vindhastighet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vindretning_Kritisk" type="nvdb:Vindretning_KritiskType">
            <annotation>
              <documentation>12068: Angir hvilken vindretning som generelt gir utfordringer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12068</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vindretning, kritisk</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vindretning_Sekundær" type="nvdb:Vindretning_SekundærType">
            <annotation>
              <documentation>12069: Angir hvilken sekundær vindretning som generelt gir utfordringer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12069</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vindretning, sekundær</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="stormflohøyde" type="double">
            <annotation>
              <documentation>12070: Erfarignstall for stormflohøyde, dvs vannstand (cm) over middels tidevannshøyde.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12070</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stormflohøyde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="styrtflom" type="nvdb:StyrtflomType">
            <annotation>
              <documentation>12071: Angir om flommen er som følge av styrtregn (kraftig regn under 3 timers varighet). Styrtregn forekommer i hovedsak om sommeren.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12071</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Styrtflom</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kilde" type="nvdb:KildeType">
            <annotation>
              <documentation>12066: Angir hvem som har bidratt med informasjon om problemet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12066</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kilde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>12072: Tilleggsopplysninger som er relevante for naturfareberedskapen på vegen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12072</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NaturfarePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Naturfare"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="NaturfarevurderingType">
    <annotation>
      <documentation>12227: Angir om det skal gjennomføres naturfarevurdering på strekningen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12227</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12227</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Naturfarevurdering</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NaturfarevurderingEnumerationType nvdb:NaturfarevurderingOtherType"/>
  </simpleType>
  <simpleType name="NaturfarevurderingEnumerationType">
    <annotation>
      <documentation>12227: Angir om det skal gjennomføres naturfarevurdering på strekningen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12227</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12227</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Naturfarevurdering</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21338: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21338</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21339: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21339</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NaturfarevurderingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StyrtflomType">
    <annotation>
      <documentation>12071: Angir om flommen er som følge av styrtregn (kraftig regn under 3 timers varighet). Styrtregn forekommer i hovedsak om sommeren.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12071</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12071</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Styrtflom</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StyrtflomEnumerationType nvdb:StyrtflomOtherType"/>
  </simpleType>
  <simpleType name="StyrtflomEnumerationType">
    <annotation>
      <documentation>12071: Angir om flommen er som følge av styrtregn (kraftig regn under 3 timers varighet). Styrtregn forekommer i hovedsak om sommeren.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12071</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12071</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Styrtflom</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>20963: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20963</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>20964: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20964</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StyrtflomOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeNaturfareType">
    <annotation>
      <documentation>12064: Angir hvilken type naturfare (problem) det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12064</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12064</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type naturfare</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeNaturfareEnumerationType nvdb:TypeNaturfareOtherType"/>
  </simpleType>
  <simpleType name="TypeNaturfareEnumerationType">
    <annotation>
      <documentation>12064: Angir hvilken type naturfare (problem) det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12064</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12064</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type naturfare</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="snøfokk">
        <annotation>
          <documentation>20925: Problem med dårlig sikt og oppbygging av snøfonner, vind uten snø er mindre problematisk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20925</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Snøfokk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="vind">
        <annotation>
          <documentation>20926: Problem med sterk vind selv om det ikke snør eller er bølger.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20926</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vind</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="bølger">
        <annotation>
          <documentation>20927: Problem med bølger som slår over veg selv om det ikke nødvendigvis er stormflo</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20927</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bølger</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="stormflo">
        <annotation>
          <documentation>20928: Kan være problem med oversvømmelse av vegen (selv uten vind/bølger). Vurderes med tanke på stormflonivået i 2050</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20928</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stormflo</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="sandflukt">
        <annotation>
          <documentation>20929: Stor vannføring som kan føre til erosjon og/ eller oversvømmelse som er til hinder for trafikkavvikling. Kan være som følge av regn og/ eller snøsmelting.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20929</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Flom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="flom">
        <annotation>
          <documentation>20931: Strekning utsatt for sterk vind og sandtransport som kan gi redusert sikt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20931</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sandflukt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="isgang">
        <annotation>
          <documentation>20930: Det at isen i elver og innsjøer brekkes opp på grunn av økt vannføring, og føres med strømmen nedover vassdraget. Dette skaper periodevis  trafikale problemer på gitt vegstrekning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20930</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Isgang</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNaturfareOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VindhastighetType">
    <annotation>
      <documentation>12067: Angir hvor kraftig vind som generelt skal til før problemet oppstår .</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12067</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12067</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vindhastighet</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VindhastighetEnumerationType nvdb:VindhastighetOtherType"/>
  </simpleType>
  <simpleType name="VindhastighetEnumerationType">
    <annotation>
      <documentation>12067: Angir hvor kraftig vind som generelt skal til før problemet oppstår .</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12067</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12067</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vindhastighet</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Frisk bris">
        <annotation>
          <documentation>20938: 5 - Frisk bris (8,0-10,7 m/s)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20938</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Frisk bris</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Liten kuling">
        <annotation>
          <documentation>20939: 6 - Liten kuling (10,8 - 13,8 m/s)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20939</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Liten kuling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stiv kuling">
        <annotation>
          <documentation>20940: 7 - Stiv kuling (13,9 - 17,1 m/s)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20940</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stiv kuling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sterk kuling">
        <annotation>
          <documentation>20941: 8 - Sterk kuling (17,2 - 20,7 m/s)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20941</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sterk kuling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Liten storm">
        <annotation>
          <documentation>20942: 9 - Liten storm (20,8 - 24,4 m/s)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20942</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Liten storm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Full storm">
        <annotation>
          <documentation>20943: 10 - Full storm (24,5 - 28,4 m/s)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20943</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Full storm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sterk storm">
        <annotation>
          <documentation>20944: 11 - Sterk storm (28,5 - 32,6 m/s)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20944</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sterk storm</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Orkan">
        <annotation>
          <documentation>20945: 12 - Orkan (over 32,6 m/s)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20945</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Orkan</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VindhastighetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Vindretning_KritiskType">
    <annotation>
      <documentation>12068: Angir hvilken vindretning som generelt gir utfordringer</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12068</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12068</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vindretning, kritisk</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Vindretning_KritiskEnumerationType nvdb:Vindretning_KritiskOtherType"/>
  </simpleType>
  <simpleType name="Vindretning_KritiskEnumerationType">
    <annotation>
      <documentation>12068: Angir hvilken vindretning som generelt gir utfordringer</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12068</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12068</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vindretning, kritisk</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="N">
        <annotation>
          <documentation>20946: Nord</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20946</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">N</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NØ">
        <annotation>
          <documentation>20947: Nordøst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20947</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NØ</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ø">
        <annotation>
          <documentation>20948: Øst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20948</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ø</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SØ">
        <annotation>
          <documentation>20949: Sørøst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20949</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SØ</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>20950: Sør</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20950</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SV">
        <annotation>
          <documentation>20951: Sørvest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20951</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SV</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>20952: Vest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20952</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">V</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NV">
        <annotation>
          <documentation>20953: Nordvest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20953</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NV</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Vindretning_KritiskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Vindretning_SekundærType">
    <annotation>
      <documentation>12069: Angir hvilken sekundær vindretning som generelt gir utfordringer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12069</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12069</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vindretning, sekundær</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Vindretning_SekundærEnumerationType nvdb:Vindretning_SekundærOtherType"/>
  </simpleType>
  <simpleType name="Vindretning_SekundærEnumerationType">
    <annotation>
      <documentation>12069: Angir hvilken sekundær vindretning som generelt gir utfordringer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12069</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12069</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vindretning, sekundær</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="N">
        <annotation>
          <documentation>20954: Nord</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20954</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">N</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NØ">
        <annotation>
          <documentation>20955: Nordøst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20955</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NØ</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ø">
        <annotation>
          <documentation>20956: Øst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20956</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ø</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SØ">
        <annotation>
          <documentation>20957: Sørøst</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20957</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SØ</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>20958: Sør</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20958</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">S</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SV">
        <annotation>
          <documentation>20959: Sørvest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20959</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SV</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>20960: Vest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20960</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">V</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NV">
        <annotation>
          <documentation>20961: Nordvest</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20961</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">NV</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Alle">
        <annotation>
          <documentation>20962: Det er flere sekundære vindretninger som er problematiske</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20962</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alle</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Vindretning_SekundærOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
