GML/958.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeLadetårnType">
    <annotation>
      <documentation>12075: Angir om det er ladetårn benyttet i forbindelse med lading av ferje eller buss.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12075</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12075</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeLadetårnEnumerationType nvdb:BruksområdeLadetårnOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeLadetårnEnumerationType">
    <annotation>
      <documentation>12075: Angir om det er ladetårn benyttet i forbindelse med lading av ferje eller buss.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12075</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12075</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ferje">
        <annotation>
          <documentation>20971: Ferje</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20971</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferje</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Buss">
        <annotation>
          <documentation>20972: Buss</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20972</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Buss</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeLadetårnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierLadetårnType">
    <annotation>
      <documentation>12076: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierLadetårnEnumerationType nvdb:EierLadetårnOtherType"/>
  </simpleType>
  <simpleType name="EierLadetårnEnumerationType">
    <annotation>
      <documentation>12076: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20973: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20973</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20978: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20978</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20976: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20976</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20974: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20974</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20975: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20975</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20977: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20977</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierLadetårnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Ladetårn" substitutionGroup="nvdb:AbstraktLadetårn" type="nvdb:LadetårnType">
    <annotation>
      <documentation>958: Bevegelig konstruksjon som har som oppgave å koble ladekabler til og fra ferger eller busser. Konstruksjonen blir bygget for å kunne tilføre elektrisk energi til ferger/busser og er således en del av et elektrisk anlegg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">958</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">958</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ladetårn</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LadetårnType">
    <complexContent>
      <extension base="nvdb:AbstraktLadetårnType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeLadetårnType">
            <annotation>
              <documentation>12075: Angir om det er ladetårn benyttet i forbindelse med lading av ferje eller buss.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12075</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="nvdb:TypeLadetårnType">
            <annotation>
              <documentation>12073: Angir hvilken type ladetårn det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12073</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kapasitet" type="string">
            <annotation>
              <documentation>12074: Gir informasjon om ladekapasitet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12074</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kapasitet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="leverandør" type="string">
            <annotation>
              <documentation>12086: Angir hvem som har levert vegobjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12086</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Leverandør</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>12085: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12085</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>12084: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12084</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierLadetårnType">
            <annotation>
              <documentation>12076: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12076</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligLadetårnType">
            <annotation>
              <documentation>12077: Angir hvem som er ansvarlig for vedlikehold.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12077</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>12078: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12078</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerjekai" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktFerjekai</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktDokumentasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHoldeplassutrustning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktHoldeplassutrustning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LadetårnPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Ladetårn"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeLadetårnType">
    <annotation>
      <documentation>12073: Angir hvilken type ladetårn det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12073</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12073</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeLadetårnEnumerationType nvdb:TypeLadetårnOtherType"/>
  </simpleType>
  <simpleType name="TypeLadetårnEnumerationType">
    <annotation>
      <documentation>12073: Angir hvilken type ladetårn det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12073</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12073</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Pantograf">
        <annotation>
          <documentation>20969: Pantograf</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20969</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pantograf</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sentermontert ladeplugg">
        <annotation>
          <documentation>20970: Sentermontert ladeplugg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20970</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sentermontert ladeplugg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeLadetårnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLadetårnType">
    <annotation>
      <documentation>12077: Angir hvem som er ansvarlig for vedlikehold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligLadetårnEnumerationType nvdb:VedlikeholdsansvarligLadetårnOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLadetårnEnumerationType">
    <annotation>
      <documentation>12077: Angir hvem som er ansvarlig for vedlikehold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>20979: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20979</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>20983: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20983</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20985: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20985</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>20984: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20980: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20980</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20981: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20981</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20982: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20982</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLadetårnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
