GML/962.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="GeoflowSone" substitutionGroup="nvdb:AbstraktGeoflowSone" type="nvdb:GeoflowSoneType">
    <annotation>
      <documentation>962: Betalingssone (Til utprøving).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">962</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">962</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Geoflow sone</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GeoflowSoneType">
    <complexContent>
      <extension base="nvdb:AbstraktGeoflowSoneType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>12121: Gir navn på sone.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12121</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>12122: Gir beskrivelse av sone.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12122</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsrom_standard1_fra_kl" type="time">
            <annotation>
              <documentation>12123: Gir starttidspunkt for første periode med standard innkjøringsavgift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12123</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tidsrom_standard1_fra_kl</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsrom_standard1_til_kl" type="time">
            <annotation>
              <documentation>12124: Gir sluttidspunkt for første periode med standard innkjøringsavgift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12124</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tidsrom_standard1_til_kl</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsrom_rush1_fra_kl" type="time">
            <annotation>
              <documentation>12125: Gir starttidspunkt for første periode med rush-innkjøringsavgift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12125</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tidsrom_rush1_fra_kl</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsrom_rush1_til_kl" type="time">
            <annotation>
              <documentation>12126: Gir sluttidspunkt for første periode med rush-innkjøringsavgift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12126</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tidsrom_rush1_til_kl</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsrom_standard2_fra_kl" type="time">
            <annotation>
              <documentation>12127: Gir starttidspunkt for andre periode med standard innkjøringsavgift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12127</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tidsrom_standard2_fra_kl</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsrom_standard2_til_kl" type="time">
            <annotation>
              <documentation>12128: Gir sluttidspunkt for andre periode med standard innkjøringsavgift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12128</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tidsrom_standard2_til_kl</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsrom_rush2_fra_kl" type="time">
            <annotation>
              <documentation>12129: Gir starttidspunkt for andre periode med rush-innkjøringsavgift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12129</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tidsrom_rush2_fra_kl</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsrom_rush2_til_kl" type="time">
            <annotation>
              <documentation>12130: Gir sluttidspunkt for andre periode med rush-innkjøringsavgift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12130</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tidsrom_rush2_til_kl</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsrom_standard3_fra_kl" type="time">
            <annotation>
              <documentation>12131: Gir starttidspunkt for tredje periode med standard innkjøringsavgift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12131</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tidsrom_standard3_fra_kl</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tidsrom_standard3_til_kl" type="time">
            <annotation>
              <documentation>12132: Gir sluttidspunkt for tredje periode med standard innkjøringsavgift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12132</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tidsrom_standard3_til_kl</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="km_avgift_standard_kjt_gruppe1" type="double">
            <annotation>
              <documentation>12133: Takst for kjøring utenfor rushtid (NOK per utkjørt kilometer) for kjøretøygruppe 1.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12133</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Km_avgift_standard_kjt_gruppe1</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="km_avgift_standard_kjt_gruppe2" type="double">
            <annotation>
              <documentation>12134: Takst for kjøring utenfor rushtid (NOK per utkjørt kilometer) for kjøretøygruppe 2.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12134</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Km_avgift_standard_kjt_gruppe2</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="km_avgift_rush_kjt_gruppe1" type="double">
            <annotation>
              <documentation>12135: Takst for kjøring i rushtid (NOK per utkjørt kilometer) for kjøretøygruppe 1.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12135</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Km_avgift_rush_kjt_gruppe1</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="km_avgift_rush_kjt_gruppe2" type="double">
            <annotation>
              <documentation>12136: Takst for kjøring i rushtid (NOK per utkjørt kilometer) for kjøretøygruppe 2.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12136</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Km_avgift_rush_kjt_gruppe2 </sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="innkjøringsavgift_standard_kjt_gruppe1" type="double">
            <annotation>
              <documentation>12137: Takster (NOK) for innkjøring i sone i utenfor rush for kjøretøygruppe 1.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12137</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Innkjøringsavgift_standard_kjt_gruppe1</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="innkjøringsavgift_standard_kjt_gruppe2" type="double">
            <annotation>
              <documentation>12138: Takster (NOK) for innkjøring i sone i utenfor rush for kjøretøygruppe 2.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12138</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Innkjøringsavgift_standard_kjt_gruppe2</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="innkjøringsavgift_rush_kjt_gruppe1" type="double">
            <annotation>
              <documentation>12139: Takster (NOK) for innkjøring i sone i rush for kjøretøygruppe 1.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12139</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Innkjøringsavgift_rush_kjt_gruppe1</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="innkjøringsavgift_rush_kjt_gruppe2" type="double">
            <annotation>
              <documentation>12140: Takster (NOK) for innkjøring i sone i rush for kjøretøygruppe 2.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12140</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Innkjøringsavgift_rush_kjt_gruppe2</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="km_avgift_helg_kjt_gruppe1" type="double">
            <annotation>
              <documentation>12205: Takst for kjøring innenfor tidsrom helg (NOK per utkjørt kilometer) for kjøretøygruppe 1.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12205</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Km_avgift_helg_kjt_gruppe1</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="km_avgift_helg_kjt_gruppe2" type="double">
            <annotation>
              <documentation>12206: Takst for kjøring innenfor tidsrom helg (NOK per utkjørt kilometer) for kjøretøygruppe 2.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12206</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Km_avgift_helg_kjt_gruppe2 </sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="innkjøringsavgift_helg_kjt_gruppe1" type="double">
            <annotation>
              <documentation>12207: Takster (NOK) for innkjøring i sone innenfor tidsrom helg for kjøretøygruppe 1.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12207</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Innkjøringsavgift_helg_kjt_gruppe1</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="innkjøringsavgift_helg_kjt_gruppe2" type="double">
            <annotation>
              <documentation>12208: Takster (NOK) for innkjøring i sone innenfor tidsrom helg for kjøretøygruppe 2.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12208</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Innkjøringsavgift_helg_kjt_gruppe2</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>12141: Flate som geografisk avgrenser sone.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12141</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri_flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeoflowSonePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:GeoflowSone"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
