GML/963.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.28">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Statistikk_Dekketilstand" substitutionGroup="nvdb:AbstraktStatistikk_Dekketilstand" type="nvdb:Statistikk_DekketilstandType">
    <annotation>
      <documentation>963: Gir statistikk om dekketilstand knyttet til en vegstrekning. Informasjon bygger på detaljerte spor- og jevnhetsmålinger utført på strekningen. De enkelte tilstandsparametre er beregnet i fagsystemet Dekkesys og overført derfra til NVDB.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">963</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">963</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Statistikk, dekketilstand</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Statistikk_DekketilstandType">
    <complexContent>
      <extension base="nvdb:AbstraktStatistikk_DekketilstandType">
        <sequence>
          <element minOccurs="0" name="eksternID" type="double">
            <annotation>
              <documentation>12156: ID benyttet i eksternt system. I dette tilfellet PMS/Rosita.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12156</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ekstern ID</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="måledato" type="date">
            <annotation>
              <documentation>12157: Angir representativ dato for spor- og jevnhetsmålingene som tilstandsparametrene er beregnet ut fra.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12157</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Måledato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spor_90_Persentil" type="double">
            <annotation>
              <documentation>12158: Spor90persentil. 90-persentil sporverdi (spordybde) for gitt vegstrekning basert på tilsvarende medianverdier for 20-metersstrekninger.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12158</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, 90-persentil</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="spor_AndelAvVedlikeholdsstandard" type="double">
            <annotation>
              <documentation>12159: prosentStdSpor. Angir hvor stor andel av vedlikeholdsstandard som er "oppbrukt":. Regnes ut som Spor 90-persentil dividert med maksimal spordybde i henhold til vedlikeholdsstandard. Angis i prosent.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12159</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spor, andel av vedlikeholdsstandard</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="jevnhet_90_Persentil" type="double">
            <annotation>
              <documentation>12160: Jevnhet90persentil90-persentil sporverdi (IRI) for gitt vegstrekning basert på tilsvarende medianverdier for 20-metersstrekninger.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12160</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Jevnhet, 90-persentil</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="jevnhet_AndelAvVedlikeholdsstandard" type="double">
            <annotation>
              <documentation>12161: prosentStdJevnhet. Angir hvor stor andel av vedlikeholdsstandard som er "oppbrukt":. Regnes ut som jevnhet 90-persentil dividert med maksimal IRI i henhold til vedlikeholdsstandard. Angis i prosent.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12161</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Jevnhet, andel av vedlikeholdsstandard</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Statistikk_DekketilstandPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Statistikk_Dekketilstand"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
