GML/963.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>963: Gir statistikk om dekketilstand knyttet til en vegstrekning. Informasjon bygger på detaljerte spor- og jevnhetsmålinger utført på strekningen. De enkelte tilstandsparametre er beregnet i fagsystemet Dekkesys og overført derfra til NVDB.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Statistikk, dekketilstand"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Statistikk, dekketilstandType">
      <annotation>
         <documentation>963: Gir statistikk om dekketilstand knyttet til en vegstrekning. Informasjon bygger på detaljerte spor- og jevnhetsmålinger utført på strekningen. De enkelte tilstandsparametre er beregnet i fagsystemet Dekkesys og overført derfra til NVDB.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">963</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statistikk, dekketilstand</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Statistikk, dekketilstandType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="eksternID" type="double">
                  <annotation>
                     <documentation>12156: ID benyttet i eksternt system. I dette tilfellet PMS/Rosita.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12156</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ekstern ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="måledato" type="date">
                  <annotation>
                     <documentation>12157: Angir representativ dato for spor- og jevnhetsmålingene som tilstandsparametrene er beregnet ut fra.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12157</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Måledato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="spor_90_Persentil" type="double">
                  <annotation>
                     <documentation>12158: Spor90persentil. 90-persentil sporverdi (spordybde) for gitt vegstrekning basert på tilsvarende medianverdier for 20-metersstrekninger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12158</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spor, 90-persentil</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="spor_AndelAvVedlikeholdsstandard" type="double">
                  <annotation>
                     <documentation>12159: prosentStdSpor. Angir hvor stor andel av vedlikeholdsstandard som er "oppbrukt":. Regnes ut som Spor 90-persentil dividert med maksimal spordybde i henhold til vedlikeholdsstandard. Angis i prosent.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12159</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spor, andel av vedlikeholdsstandard</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="jevnhet_90_Persentil" type="double">
                  <annotation>
                     <documentation>12160: Jevnhet90persentil90-persentil sporverdi (IRI) for gitt vegstrekning basert på tilsvarende medianverdier for 20-metersstrekninger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12160</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Jevnhet, 90-persentil</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="jevnhet_AndelAvVedlikeholdsstandard" type="double">
                  <annotation>
                     <documentation>12161: prosentStdJevnhet. Angir hvor stor andel av vedlikeholdsstandard som er "oppbrukt":. Regnes ut som jevnhet 90-persentil dividert med maksimal IRI i henhold til vedlikeholdsstandard. Angis i prosent.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12161</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Jevnhet, andel av vedlikeholdsstandard</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Statistikk, dekketilstandPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Statistikk, dekketilstand"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
