GML/964.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>964: Enhet som lager elektrisk energi fra et drivstoff ved å la det reagere med oksygen ved hjelp av et oksidasjonsmiddel i en elektrokjemisk prosess. Drivstoffet er vanligvis hydrogen eller naturgass, men andre hydrokarboner og alkoholer kan også benyttes, f.eks. propan, LPG, metanol eller biogass. Som oksidasjonsmiddel brukes oftest oksygen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Brenselcelle"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:BrenselcelleType">
      <annotation>
         <documentation>964: Enhet som lager elektrisk energi fra et drivstoff ved å la det reagere med oksygen ved hjelp av et oksidasjonsmiddel i en elektrokjemisk prosess. Drivstoffet er vanligvis hydrogen eller naturgass, men andre hydrokarboner og alkoholer kan også benyttes, f.eks. propan, LPG, metanol eller biogass. Som oksidasjonsmiddel brukes oftest oksygen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">964</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brenselcelle</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BrenselcelleType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="antallBrenselceller" type="double">
                  <annotation>
                     <documentation>12162: Antall brenselceller eller antall moduler som er montert i anlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12162</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall brenselceller</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bruksområde" type="nvdb:BruksområdeBrenselcelleType">
                  <annotation>
                     <documentation>12163: Angir bruksområde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12163</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maksUtgangseffekt" type="double">
                  <annotation>
                     <documentation>12164: Angir hvilken effekt anlegget maks kan levere kontinuerlig (hentet i fra datablad). Avrunding: For verdi over 10000W avrundes det til nærmeste 1000. For verdi over 1000W avrundes det til nærmeste 100.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12164</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks utgangseffekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="dimensjonerendeEffekt" type="double">
                  <annotation>
                     <documentation>12165: Angir hva anlegget forventer å bruke under normal drift, hentet i fra som bygget dokumentasjon. Avrunding: For verdi over 10000W avrundes det til nærmeste 1000.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12165</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dimensjonerende effekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maksLadekapasitet" type="integer">
                  <annotation>
                     <documentation>12166: Angir hvor mye energi utstyret kan levere over tid (hentet i fra datablad). Angir hvor mye energi utstyret kan levere over tid, hentet i fra datablad.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12166</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks ladekapasitet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="maksLadestrøm" type="double">
                  <annotation>
                     <documentation>12167: Angir hvor mye energi utstyret kan levere over tid, hentet i fra datablad.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12167</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks ladestrøm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="forventetForbrukPerDag" type="double">
                  <annotation>
                     <documentation>12168: Angir forventet drivstofforbruk per dag. Tallet oppgis i normal liter per døgn ved 21 grader C og 1 bar.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12168</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Forventet forbruk per dag</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="nominellSpenning">
                  <annotation>
                     <documentation>12169: Angir nominell spenning når anlegget levere spenning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12169</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nominell Spenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="volumDrivstofftank" type="double">
                  <annotation>
                     <documentation>12170: Angir volum av drivstofftank.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12170</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Volum drivstofftank</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="typeDrivstoff">
                  <annotation>
                     <documentation>12171: Angir hvilket drivstoff utstyret krever.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12171</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type drivstoff</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="intervallMellomEtterfylling" type="double">
                  <annotation>
                     <documentation>12172: Angir hvor ofte tank må etterfylles. Tid skal ta hensyn til at uforventet hendelse, så minimum 1 uke reservetid.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12172</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Intervall mellom etterfylling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="metodeForOvervåking">
                  <annotation>
                     <documentation>12173: Angir hvordan system knyttet inn i interkontroll systemet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12173</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Metode for overvåking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="double">
                  <annotation>
                     <documentation>12174: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12174</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>12175: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12175</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="SCADA_Merking" type="string">
                  <annotation>
                     <documentation>12176: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12176</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">SCADA-merking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produsent" type="string">
                  <annotation>
                     <documentation>12177: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12177</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavn" type="string">
                  <annotation>
                     <documentation>12178: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12178</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12179: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12179</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>12180: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12180</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, Punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BrenselcellePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Brenselcelle"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="BruksområdeBrenselcelleType">
      <annotation>
         <documentation>12163: Angir bruksområde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12163</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeBrenselcelleEnumerationType nvdb:BruksområdeBrenselcelleOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeBrenselcelleEnumerationType">
      <annotation>
         <documentation>12163: Angir bruksområde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12163</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="NM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21218</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Normalstrøm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NN">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21220</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nødnett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ND">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21219</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nødstrøm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21221</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Reservestrøm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeBrenselcelleOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MetodeForOvervåkingBrenselcelleType">
      <annotation>
         <documentation>12173: Angir hvordan system knyttet inn i interkontroll systemet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12173</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metode for overvåking</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MetodeForOvervåkingBrenselcelleEnumerationType nvdb:MetodeForOvervåkingBrenselcelleOtherType"/>
   </simpleType>
   <simpleType name="MetodeForOvervåkingBrenselcelleEnumerationType">
      <annotation>
         <documentation>12173: Angir hvordan system knyttet inn i interkontroll systemet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12173</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metode for overvåking</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21237</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Manuelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SC">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21236</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SCADA-system</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SN">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21235</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SNMP</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MetodeForOvervåkingBrenselcelleOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NominellSpenningBrenselcelleType">
      <annotation>
         <documentation>12169: Angir nominell spenning når anlegget levere spenning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12169</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nominell Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NominellSpenningBrenselcelleEnumerationType nvdb:NominellSpenningBrenselcelleOtherType"/>
   </simpleType>
   <simpleType name="NominellSpenningBrenselcelleEnumerationType">
      <annotation>
         <documentation>12169: Angir nominell spenning når anlegget levere spenning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12169</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nominell Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21222</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12 DC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="230">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21225</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">230 AC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21223</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">24 DC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21226</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">400 AC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="48">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21224</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">48 DC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="690">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21227</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">690 AC</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NominellSpenningBrenselcelleOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeDrivstoffBrenselcelleType">
      <annotation>
         <documentation>12171: Angir hvilket drivstoff utstyret krever.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12171</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type drivstoff</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeDrivstoffBrenselcelleEnumerationType nvdb:TypeDrivstoffBrenselcelleOtherType"/>
   </simpleType>
   <simpleType name="TypeDrivstoffBrenselcelleEnumerationType">
      <annotation>
         <documentation>12171: Angir hvilket drivstoff utstyret krever.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12171</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type drivstoff</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21234</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ammoniakk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21233</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Biogass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21231</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flytende petroleumsgass (LPG)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21228</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hydrogen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21232</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metanol</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21229</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturgass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21230</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Propan</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeDrivstoffBrenselcelleOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
