GML/965.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>965: Sted hvor det er mulig å lade EL-bil. Det skal ikke registreres kommersielle ladere, kun ladere til bruk av vegforvalter sine entreprenører og ansatte.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AntallFaserLadestasjon, intern brukType">
      <annotation>
         <documentation>12201: Angir hvor mange faser det er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12201</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall faser</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AntallFaserLadestasjon, intern brukEnumerationType nvdb:AntallFaserLadestasjon, intern brukOtherType"/>
   </simpleType>
   <simpleType name="AntallFaserLadestasjon, intern brukEnumerationType">
      <annotation>
         <documentation>12201: Angir hvor mange faser det er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12201</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall faser</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21283</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1-fase</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21284</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3-fase</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AntallFaserLadestasjon, intern brukOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierLadestasjon, intern brukType">
      <annotation>
         <documentation>12202: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12202</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierLadestasjon, intern brukEnumerationType nvdb:EierLadestasjon, intern brukOtherType"/>
   </simpleType>
   <simpleType name="EierLadestasjon, intern brukEnumerationType">
      <annotation>
         <documentation>12202: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12202</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21288</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21286</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21287</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21290</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21285</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>21289: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21289</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierLadestasjon, intern brukOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Ladestasjon, intern bruk"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Ladestasjon, intern brukType">
      <annotation>
         <documentation>965: Sted hvor det er mulig å lade EL-bil. Det skal ikke registreres kommersielle ladere, kun ladere til bruk av vegforvalter sine entreprenører og ansatte.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">965</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ladestasjon, intern bruk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Ladestasjon, intern brukType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="antallLadepunkt" type="integer">
                  <annotation>
                     <documentation>12195: Angir hvor mange ladepunkt det er på ladestasjonen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12195</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall ladepunkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeLader">
                  <annotation>
                     <documentation>12196: Angir hvilken type lader det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12196</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type lader</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="string">
                  <annotation>
                     <documentation>12197: Beskriver hvor ladestasjon er plassert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12197</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="låsesystem" type="string">
                  <annotation>
                     <documentation>12198: Beskriver hvilken type låsesystem som er benyttet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12198</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Låsesystem</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="strø_Med_Sikringsstørrelse" type="integer">
                  <annotation>
                     <documentation>12199: Angir hvilken strømstyrke det er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12199</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strøm/sikringsstørrelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="spenning" type="nvdb:SpenningLadestasjon, intern brukType">
                  <annotation>
                     <documentation>12200: Angir hvilken spenning det er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12200</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallFaser">
                  <annotation>
                     <documentation>12201: Angir hvor mange faser det er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12201</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall faser</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12210: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12210</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="eier" type="nvdb:EierLadestasjon, intern brukType">
                  <annotation>
                     <documentation>12202: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12202</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligLadestasjon, intern brukType">
                  <annotation>
                     <documentation>12203: Angir hvem som er ansvarlig for vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12203</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>12204: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12204</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Ladestasjon, intern brukPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Ladestasjon, intern bruk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="SpenningLadestasjon, intern brukType">
      <annotation>
         <documentation>12200: Angir hvilken spenning det er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12200</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpenningLadestasjon, intern brukEnumerationType nvdb:SpenningLadestasjon, intern brukOtherType"/>
   </simpleType>
   <simpleType name="SpenningLadestasjon, intern brukEnumerationType">
      <annotation>
         <documentation>12200: Angir hvilken spenning det er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12200</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="230">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21281</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">230</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21282</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpenningLadestasjon, intern brukOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeLaderLadestasjon, intern brukType">
      <annotation>
         <documentation>12196: Angir hvilken type lader det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12196</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type lader</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeLaderLadestasjon, intern brukEnumerationType nvdb:TypeLaderLadestasjon, intern brukOtherType"/>
   </simpleType>
   <simpleType name="TypeLaderLadestasjon, intern brukEnumerationType">
      <annotation>
         <documentation>12196: Angir hvilken type lader det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12196</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type lader</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="CC2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21280</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">CC2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21279</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Type 2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeLaderLadestasjon, intern brukOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligLadestasjon, intern brukType">
      <annotation>
         <documentation>12203: Angir hvem som er ansvarlig for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12203</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligLadestasjon, intern brukEnumerationType nvdb:VedlikeholdsansvarligLadestasjon, intern brukOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligLadestasjon, intern brukEnumerationType">
      <annotation>
         <documentation>12203: Angir hvem som er ansvarlig for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12203</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21297</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21292</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21295</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21296</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21293</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21291</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21294</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligLadestasjon, intern brukOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
