GML/966.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierKontraktsområdedel_TestType">
    <annotation>
      <documentation>12194: Angir hvem som er eier av kontrakt. Eier er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12194</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12194</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierKontraktsområdedel_TestEnumerationType nvdb:EierKontraktsområdedel_TestOtherType"/>
  </simpleType>
  <simpleType name="EierKontraktsområdedel_TestEnumerationType">
    <annotation>
      <documentation>12194: Angir hvem som er eier av kontrakt. Eier er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12194</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12194</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>21259: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21259</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>21258: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21258</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Viken fylkeskommune">
        <annotation>
          <documentation>21255: Viken fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21255</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Viken fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Innlandet fylkeskommune">
        <annotation>
          <documentation>21257: Innlandet fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21257</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innlandet fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vestfold og Telemark fylkeskommune">
        <annotation>
          <documentation>21260: Vestfold og Telemark fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21260</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vestfold og Telemark fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Agder fylkeskommune">
        <annotation>
          <documentation>21261: Agder fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21261</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Agder fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rogaland fylkeskommune">
        <annotation>
          <documentation>21262: Rogaland fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21262</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rogaland fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vestland fylkeskommune">
        <annotation>
          <documentation>21263: Vestland fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21263</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vestland fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Møre og Romsdal fylkeskommune">
        <annotation>
          <documentation>21264: Møre og Romsdal fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21264</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Møre og Romsdal fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trøndelag fylkeskommune">
        <annotation>
          <documentation>21265: Trøndelag fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trøndelag fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nordland fylkeskommune">
        <annotation>
          <documentation>21266: Nordland fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nordland fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Troms og Finnmark fylkeskommune">
        <annotation>
          <documentation>21267: Troms og Finnmark fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21267</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Troms og Finnmark fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oslo kommune">
        <annotation>
          <documentation>21268: Oslo kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21268</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oslo kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>21256: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21256</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKontraktsområdedel_TestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kontraktsområdedel_Test" substitutionGroup="nvdb:AbstraktKontraktsområdedel_Test" type="nvdb:Kontraktsområdedel_TestType">
    <annotation>
      <documentation>966: En eller flere vegstrekninger som inngår i et kontraktsområde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">966</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">966</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kontraktsområdedel (test)</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Kontraktsområdedel_TestType">
    <complexContent>
      <extension base="nvdb:AbstraktKontraktsområdedel_TestType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>12188: Angir navn på kontraktsområdet. Navn er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12188</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nr" type="integer">
            <annotation>
              <documentation>12189: Angir nummer på kontraktsområde. Nr er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12189</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nr</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeKontraktsområdedel_TestType">
            <annotation>
              <documentation>12190: Angir hvilken type kotraktsområde det er tale om. Type er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12190</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="datoFra" type="date">
            <annotation>
              <documentation>12191: Kontrakten løper fra og med angitt dato. Dato-fra er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12191</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato fra</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="datoTil" type="date">
            <annotation>
              <documentation>12192: Kontrakten løper til og med angitt dato. Dato-til er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12192</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dato til</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>12209: Supplerende informasjon for spesifikk strekning/delområde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12209</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>12193: Referanse til prosjekt. Prosjektreferanse er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12193</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKontraktsområdedel_TestType">
            <annotation>
              <documentation>12194: Angir hvem som er eier av kontrakt. Eier er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12194</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKontraktsområde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktKontraktsområde</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Kontraktsområdedel_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kontraktsområdedel_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeKontraktsområdedel_TestType">
    <annotation>
      <documentation>12190: Angir hvilken type kotraktsområde det er tale om. Type er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12190</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12190</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeKontraktsområdedel_TestEnumerationType nvdb:TypeKontraktsområdedel_TestOtherType"/>
  </simpleType>
  <simpleType name="TypeKontraktsområdedel_TestEnumerationType">
    <annotation>
      <documentation>12190: Angir hvilken type kotraktsområde det er tale om. Type er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12190</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12190</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Driftskontrakt">
        <annotation>
          <documentation>21269: Driftskontrakt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Driftskontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS-kontrakt">
        <annotation>
          <documentation>21270: OPS-kontrakt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21270</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS-kontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Refusjonsavtale">
        <annotation>
          <documentation>21271: Refusjonsavtale</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21271</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Refusjonsavtale</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Elektrokontrakt">
        <annotation>
          <documentation>21272: Elektrokontrakt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21272</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Elektrokontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veglyskontrakt">
        <annotation>
          <documentation>21273: Veglyskontrakt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21273</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veglyskontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnelkontrakt">
        <annotation>
          <documentation>21274: Tunnelkontrakt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21274</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelkontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grøntkontrakt">
        <annotation>
          <documentation>21276: Område der det er inngått egen driftskontrakt rettet mot grøntområder/grøntobjekter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21276</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grøntkontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegoppmerkingskontrakt">
        <annotation>
          <documentation>21278: Område der det er inngått egen kontrakt rettet mot vegoppmerking.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21278</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegoppmerkingskontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Andrepartskontrakt">
        <annotation>
          <documentation>21277: Område der drift administreres av annen part, f.eks. en kommune på vegne av Statens vegvesen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21277</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Andrepartskontrakt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utprøving">
        <annotation>
          <documentation>21275: Benyttes som "kladd" dersom man ønsker å se på flere alternativer før man bestemmer seg for hvilke veger som skal være med i en kontrakt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21275</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utprøving</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeKontraktsområdedel_TestOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
