GML/966.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>966: En eller flere vegstrekninger som inngår i et kontraktsområde.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierKontraktsområdedel (test)Type">
      <annotation>
         <documentation>12194: Angir hvem som er eier av kontrakt. Eier er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12194</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierKontraktsområdedel (test)EnumerationType nvdb:EierKontraktsområdedel (test)OtherType"/>
   </simpleType>
   <simpleType name="EierKontraktsområdedel (test)EnumerationType">
      <annotation>
         <documentation>12194: Angir hvem som er eier av kontrakt. Eier er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12194</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="42">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21261</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Agder fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="34">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21257</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innlandet fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21256</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21264</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Møre og Romsdal fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="18">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21266</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nordland fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21268</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oslo kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21262</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rogaland fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21258</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21259</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="54">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21267</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Troms og Finnmark fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21265</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trøndelag fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="38">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21260</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vestfold og Telemark fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="46">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21263</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vestland fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="30">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21255</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Viken fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="32">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22213</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Akershus fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="33">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22208</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Buskerud fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="56">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22239</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Finnmark fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="40">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22223</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Telemark fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="55">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22234</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Troms fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="39">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22229</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vestfold fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="31">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22218</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Østfold fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierKontraktsområdedel (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Kontraktsområdedel (test)"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Kontraktsområdedel (test)Type">
      <annotation>
         <documentation>966: En eller flere vegstrekninger som inngår i et kontraktsområde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">966</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kontraktsområdedel (test)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Kontraktsområdedel (test)Type">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>12188: Angir navn på kontraktsområdet. Navn er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12188</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="nr" type="integer">
                  <annotation>
                     <documentation>12189: Angir nummer på kontraktsområde. Nr er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12189</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nr</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeKontraktsområdedel (test)Type">
                  <annotation>
                     <documentation>12190: Angir hvilken type kotraktsområde det er tale om. Type er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12190</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="datoFra" type="date">
                  <annotation>
                     <documentation>12191: Kontrakten løper fra og med angitt dato. Dato-fra er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12191</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato fra</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="datoTil" type="date">
                  <annotation>
                     <documentation>12192: Kontrakten løper til og med angitt dato. Dato-til er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12192</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12209: Supplerende informasjon for spesifikk strekning/delområde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12209</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>12193: Referanse til prosjekt. Prosjektreferanse er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12193</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="eier" type="nvdb:EierKontraktsområdedel (test)Type">
                  <annotation>
                     <documentation>12194: Angir hvem som er eier av kontrakt. Eier er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12194</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Kontraktsområdedel (test)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kontraktsområdedel (test)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeKontraktsområdedel (test)Type">
      <annotation>
         <documentation>12190: Angir hvilken type kotraktsområde det er tale om. Type er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12190</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeKontraktsområdedel (test)EnumerationType nvdb:TypeKontraktsområdedel (test)OtherType"/>
   </simpleType>
   <simpleType name="TypeKontraktsområdedel (test)EnumerationType">
      <annotation>
         <documentation>12190: Angir hvilken type kotraktsområde det er tale om. Type er kopiert fra Kontraktsområde (580). Egenskapstype skal ikke oppdateres manuelt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12190</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="AP">
            <annotation>
               <documentation>21277: Område der drift administreres av annen part, f.eks. en kommune på vegne av Statens vegvesen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21277</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Andrepartskontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="DK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21269</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Driftskontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="EK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21272</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Elektrokontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <documentation>21276: Område der det er inngått egen driftskontrakt rettet mot grøntområder/grøntobjekter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21276</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grøntkontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21270</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS-kontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21271</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Refusjonsavtale</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21274</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnelkontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>21275: Benyttes som "kladd" dersom man ønsker å se på flere alternativer før man bestemmer seg for hvilke veger som skal være med i en kontrakt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21275</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utprøving</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21273</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veglyskontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VOK">
            <annotation>
               <documentation>21278: Område der det er inngått egen kontrakt rettet mot vegoppmerking.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21278</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegoppmerkingskontrakt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeKontraktsområdedel (test)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
