GML/967.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>967: Benyttes i forbindelse med etablering av trafikkmengde.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Trafikklenke"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:TrafikklenkeType">
      <annotation>
         <documentation>967: Benyttes i forbindelse med etablering av trafikkmengde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">967</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikklenke</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrafikklenkeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="år_GjelderFor" type="integer">
                  <annotation>
                     <documentation>12212: Angir hvilket år trafikklenke gjelder for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12212</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">År, gjelder for</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrafikklenkePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trafikklenke"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
