GML/968.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.30">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierOmråde_GenereltType">
    <annotation>
      <documentation>12238: Angir hvem som er eier av området, dvs.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12238</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12238</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierOmråde_GenereltEnumerationType nvdb:EierOmråde_GenereltOtherType"/>
  </simpleType>
  <simpleType name="EierOmråde_GenereltEnumerationType">
    <annotation>
      <documentation>12238: Angir hvem som er eier av området, dvs.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12238</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12238</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>21356: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21356</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>21360: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21360</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>21362: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21362</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>21357: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21357</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>21358: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21358</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>21359: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21359</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierOmråde_GenereltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Område_Generelt" substitutionGroup="nvdb:AbstraktOmråde_Generelt" type="nvdb:Område_GenereltType">
    <annotation>
      <documentation>968: Fritt definert område. Kan benyttes etter eget ønske for ulike brukere.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">968</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">968</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Område, generelt</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Område_GenereltType">
    <complexContent>
      <extension base="nvdb:AbstraktOmråde_GenereltType">
        <sequence>
          <element name="områdetype" type="nvdb:OmrådetypeType">
            <annotation>
              <documentation>12235: Angir hvilken type område det er tale om. Eier av område må selv definere hva som legges i den aktuelle områdetypen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12235</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Områdetype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>12234: Gir navn på området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12234</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nummer" type="string">
            <annotation>
              <documentation>12236: Gir nummer på området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12236</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>12237: Gir beskrivelse av området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12237</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierOmråde_GenereltType">
            <annotation>
              <documentation>12238: Angir hvem som er eier av området, dvs.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12238</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>12239: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12239</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Område_GenereltPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Område_Generelt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="OmrådetypeType">
    <annotation>
      <documentation>12235: Angir hvilken type område det er tale om. Eier av område må selv definere hva som legges i den aktuelle områdetypen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12235</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12235</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Områdetype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OmrådetypeEnumerationType nvdb:OmrådetypeOtherType"/>
  </simpleType>
  <simpleType name="OmrådetypeEnumerationType">
    <annotation>
      <documentation>12235: Angir hvilken type område det er tale om. Eier av område må selv definere hva som legges i den aktuelle områdetypen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12235</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12235</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Områdetype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>21350: Områdetype A. Områdeeier definerer hva som ligger i denne områdetypen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21350</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">A</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>21351: Områdetype B. Områdeeier definerer hva som ligger i denne områdetypen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21351</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">B</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="C">
        <annotation>
          <documentation>21352: Områdetype C. Områdeeier definerer hva som ligger i denne områdetypen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21352</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">C</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="D">
        <annotation>
          <documentation>21353: Områdetype D. Områdeeier definerer hva som ligger i denne områdetypen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21353</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">D</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>21354: Områdetype E. Områdeeier definerer hva som ligger i denne områdetypen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21354</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">E</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>21355: Områdetype F. Områdeeier definerer hva som ligger i denne områdetypen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21355</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">F</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OmrådetypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
