GML/968.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>968: Fritt definert område. Kan benyttes etter eget ønske for ulike brukere.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierOmråde, genereltType">
      <annotation>
         <documentation>12238: Angir hvem som er eier av området, dvs.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12238</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierOmråde, genereltEnumerationType nvdb:EierOmråde, genereltOtherType"/>
   </simpleType>
   <simpleType name="EierOmråde, genereltEnumerationType">
      <annotation>
         <documentation>12238: Angir hvem som er eier av området, dvs.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12238</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21362</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21357</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21358</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21360</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21356</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21359</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierOmråde, genereltOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Område, generelt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Område, genereltType">
      <annotation>
         <documentation>968: Fritt definert område. Kan benyttes etter eget ønske for ulike brukere.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">968</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Område, generelt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Område, genereltType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="områdetype" type="nvdb:OmrådetypeOmråde, genereltType">
                  <annotation>
                     <documentation>12235: Angir hvilken type område det er tale om. Eier av område må selv definere hva som legges i den aktuelle områdetypen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12235</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Områdetype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>12234: Gir navn på området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12234</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="nummer" type="string">
                  <annotation>
                     <documentation>12236: Gir nummer på området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12236</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="beskrivelse" type="string">
                  <annotation>
                     <documentation>12237: Gir beskrivelse av området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12237</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="eier" type="nvdb:EierOmråde, genereltType">
                  <annotation>
                     <documentation>12238: Angir hvem som er eier av området, dvs.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12238</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>12239: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12239</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Område, genereltPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Område, generelt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="OmrådetypeOmråde, genereltType">
      <annotation>
         <documentation>12235: Angir hvilken type område det er tale om. Eier av område må selv definere hva som legges i den aktuelle områdetypen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12235</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Områdetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OmrådetypeOmråde, genereltEnumerationType nvdb:OmrådetypeOmråde, genereltOtherType"/>
   </simpleType>
   <simpleType name="OmrådetypeOmråde, genereltEnumerationType">
      <annotation>
         <documentation>12235: Angir hvilken type område det er tale om. Eier av område må selv definere hva som legges i den aktuelle områdetypen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12235</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Områdetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>21350: Områdetype A. Områdeeier definerer hva som ligger i denne områdetypen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21350</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">A</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <documentation>21351: Områdetype B. Områdeeier definerer hva som ligger i denne områdetypen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21351</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">B</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="C">
            <annotation>
               <documentation>21352: Områdetype C. Områdeeier definerer hva som ligger i denne områdetypen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21352</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">C</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="D">
            <annotation>
               <documentation>21353: Områdetype D. Områdeeier definerer hva som ligger i denne områdetypen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21353</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">D</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E">
            <annotation>
               <documentation>21354: Områdetype E. Områdeeier definerer hva som ligger i denne områdetypen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21354</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">E</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <documentation>21355: Områdetype F. Områdeeier definerer hva som ligger i denne områdetypen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21355</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">F</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OmrådetypeOmråde, genereltOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
