GML/969.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.28">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Tilstandsgrad_Vegdekke_Test" substitutionGroup="nvdb:AbstraktTilstandsgrad_Vegdekke_Test" type="nvdb:Tilstandsgrad_Vegdekke_TestType">
    <annotation>
      <documentation>969: Beskriver tilstandsgrad for vegdekke for kortere strekninger.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">969</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">969</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilstandsgrad, vegdekke (test)</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Tilstandsgrad_Vegdekke_TestType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandsgrad_Vegdekke_TestType">
        <sequence>
          <element minOccurs="0" name="vegareal" type="double">
            <annotation>
              <documentation>12241: Angir areal av kontrollert del av vegdekke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12241</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegareal</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vegbredde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>12242: Angir gjennomsnittsbredde av kontrollert del av vegdekke.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12242</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegbredde, gjennomsnitt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tversgåendeSprekker" type="double">
            <annotation>
              <documentation>12243: Angir lengde av tverrsgående sprekker.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12243</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tversgående sprekker</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="langsgåendeSprekker" type="double">
            <annotation>
              <documentation>12244: Angir areal av område med langsgående sprekker.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12244</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Langsgående sprekker</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="refleksjonssprekker" type="double">
            <annotation>
              <documentation>12245: Angir areal av område med refleksjonssprekker.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12245</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Refleksjonssprekker</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="krakelering" type="double">
            <annotation>
              <documentation>12246: Angir areal av område med krakelering.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12246</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Krakelering</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hull" type="double">
            <annotation>
              <documentation>12247: Angir areal av område med hull.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12247</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hull</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="seperasjon" type="double">
            <annotation>
              <documentation>12248: Angir areal av område med seperasjon.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12248</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Seperasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kantskade" type="double">
            <annotation>
              <documentation>12249: Angir areal av område med kantskade.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12249</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kantskade</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="reparertAreal" type="double">
            <annotation>
              <documentation>12250: Angir areal av område med reparert areal.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12250</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Reparert areal</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="andelSkadetAreal" type="double">
            <annotation>
              <documentation>12251: Angir totalt andel skadet areal.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12251</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Andel skadet areal</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alvorlighetsgrad_TversgåendeSprekker" type="double">
            <annotation>
              <documentation>12252: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12252</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlighetsgrad, tversgående sprekker</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alvorlighetsgrad_LangsgåendeSprekker" type="double">
            <annotation>
              <documentation>12253: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12253</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlighetsgrad, langsgående sprekker</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alvorlighetsgrad_Refleksjonssprekker" type="double">
            <annotation>
              <documentation>12254: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12254</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlighetsgrad, refleksjonssprekker</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alvorlighetsgrad_Krakelering" type="double">
            <annotation>
              <documentation>12255: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12255</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlighetsgrad, krakelering</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alvorlighetsgrad_Hull" type="double">
            <annotation>
              <documentation>12256: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12256</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlighetsgrad, hull</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alvorlighetsgrad_Separasjon" type="double">
            <annotation>
              <documentation>12257: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12257</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlighetsgrad, separasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alvorlighetsgrad_Kantskade" type="double">
            <annotation>
              <documentation>12258: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12258</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlighetsgrad, kantskade</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alvorlighetsgrad_ReparertAreal" type="double">
            <annotation>
              <documentation>12259: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12259</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlighetsgrad, reparert areal</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="alvorlighetsgrad_Samlet" type="double">
            <annotation>
              <documentation>12260: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen avvik), 1=TG1 (Mindre eller moderate avvik), 2=TG2 (Vesentlige avvik), 3=TG3 (Store eller alvorlige avvik), 4=TGIU (Ikke undersøkt).</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12260</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Alvorlighetsgrad, samlet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>12263: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12263</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Tilstandsgrad_Vegdekke_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tilstandsgrad_Vegdekke_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
