GML/969.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>969: Beskriver tilstandsgrad for vegdekke for kortere strekninger.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Tilstandsgrad, vegdekke"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandsgrad, vegdekkeType">
      <annotation>
         <documentation>969: Beskriver tilstandsgrad for vegdekke for kortere strekninger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">969</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandsgrad, vegdekke</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandsgrad, vegdekkeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="vegareal" type="double">
                  <annotation>
                     <documentation>12241: Angir areal av kontrollert del av vegdekke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12241</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegareal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vegbredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>12242: Angir gjennomsnittsbredde av kontrollert del av vegdekke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12242</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegbredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tversgåendeSprekker" type="double">
                  <annotation>
                     <documentation>12243: Angir lengde av tversgående sprekker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12243</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tversgående sprekker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="langsgåendeSprekker" type="double">
                  <annotation>
                     <documentation>12244: Angir areal av område med langsgående sprekker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12244</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Langsgående sprekker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="refleksjonssprekker" type="double">
                  <annotation>
                     <documentation>12245: Angir areal av område med refleksjonssprekker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12245</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Refleksjonssprekker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="krakelering" type="double">
                  <annotation>
                     <documentation>12246: Angir areal av område med krakelering.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12246</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Krakelering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="hull" type="double">
                  <annotation>
                     <documentation>12247: Angir antall hull innenfor området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12247</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Hull</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="seperasjon" type="double">
                  <annotation>
                     <documentation>12248: Angir areal av område med seperasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12248</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Seperasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kantskade" type="double">
                  <annotation>
                     <documentation>12249: Angir areal av område med kantskade.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12249</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kantskade</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="reparertAreal" type="double">
                  <annotation>
                     <documentation>12250: Angir areal av område med reparert areal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12250</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Reparert areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="andelSkadetAreal" type="double">
                  <annotation>
                     <documentation>12251: Angir totalt andel skadet areal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12251</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Andel skadet areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="alvorlighetsgrad_TversgåendeSprekker"
                        type="double">
                  <annotation>
                     <documentation>12252: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12252</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad, tversgående sprekker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="alvorlighetsgrad_LangsgåendeSprekker"
                        type="double">
                  <annotation>
                     <documentation>12253: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12253</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad, langsgående sprekker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="alvorlighetsgrad_Refleksjonssprekker"
                        type="double">
                  <annotation>
                     <documentation>12254: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12254</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad, refleksjonssprekker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="alvorlighetsgrad_Krakelering" type="double">
                  <annotation>
                     <documentation>12255: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12255</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad, krakelering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="alvorlighetsgrad_Hull" type="double">
                  <annotation>
                     <documentation>12256: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12256</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad, hull</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="alvorlighetsgrad_Separasjon" type="double">
                  <annotation>
                     <documentation>12257: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12257</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad, separasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="alvorlighetsgrad_Kantskade" type="double">
                  <annotation>
                     <documentation>12258: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12258</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad, kantskade</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="alvorlighetsgrad_ReparertAreal" type="double">
                  <annotation>
                     <documentation>12259: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen eller mindre avvik), 1=TG1 (Moderate avvik, normal brukstilstand), 2=TG2 (Vesentlige avvik, eller når en vedlikeholdsstandard), 3=TG3 (Store eller alvorlige avvik, forfall/etterslep), 4=TGIU (Ikke undersøkt).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12259</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad, reparert areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="alvorlighetsgrad_Samlet" type="double">
                  <annotation>
                     <documentation>12260: Angir alvorlighetsgrad/tilstandsgrad. 0=TG0 (Ingen avvik), 1=TG1 (Mindre eller moderate avvik), 2=TG2 (Vesentlige avvik), 3=TG3 (Store eller alvorlige avvik), 4=TGIU (Ikke undersøkt).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12260</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Alvorlighetsgrad, samlet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilstandsgrad_Egendefinert" type="integer">
                  <annotation>
                     <documentation>12511: Alternativ skala for å angi tilstandsgrad. 10/9= Svært god -8/7= God - 6/5= Dårlig 4/3= Meget dårlig 2/1= Svært dårlig</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12511</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstandsgrad, egendefinert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12263: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12263</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandsgrad, vegdekkePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandsgrad, vegdekke"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
