GML/972.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.29">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Tilstandsindikator_Test" substitutionGroup="nvdb:AbstraktTilstandsindikator_Test" type="nvdb:Tilstandsindikator_TestType">
    <annotation>
      <documentation>972: Strekning for beregning av tilstandsindikator. Strekning bestemmes ut fra skjønn og et sett med kriterier. Disse kriterierene er ikke avklart, men strekningerne bør være minst 2-3 km, gjerne kunne sees på som en enhetlig strekning mhp utbedring, mm. Vegobjekttypen har både egenskapsdata som er inndata til beregning og egenskapsdata som er resultat av beregning. Beregningsregler er under utvikling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">972</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">972</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilstandsindikator (test)</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Tilstandsindikator_TestType">
    <complexContent>
      <extension base="nvdb:AbstraktTilstandsindikator_TestType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>12512: Gir navn på strekning. Foreløpig regel for navn: Stedsnavn der veg starter - Stedsnavn der veg slutter (metreringsretning). Eksempel "Alvdal - Tynset" .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12512</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kortnavn" type="string">
            <annotation>
              <documentation>12513: Gir kortnavn på strekning. Foreløpig regel for kortnavn: Firesifret tall. Stigende rekkefølge. Unikt innenfor en veg. Eksempel "2200".</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12513</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kortnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="årstall_GjelderFor" type="integer">
            <annotation>
              <documentation>12524: Angir hvilket år beregningene gjelder for</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12524</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Årstall, gjelder for</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandsindikator_Samlet" type="integer">
            <annotation>
              <documentation>12514: Samlet tilstandsindikator. Beregningsregler er under utvikling</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12514</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, samlet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandsindikator_Vegbredde" type="integer">
            <annotation>
              <documentation>12515: Tilstandsindikator for vegbredde. Beregningsregler er under utvikling</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12515</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, vegbredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandsindikator_Horisontalkurvatur" type="integer">
            <annotation>
              <documentation>12516: Tilstandsindikator for horisontalkurvatur. Beregningsregler er under utvikling</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12516</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, horisontalkurvatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandsindikator_Vertikalkurvatur" type="integer">
            <annotation>
              <documentation>12517: Tilstandsindikator for vertikalkurvatur/stigning. Beregningsregler er under utvikling</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12517</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, vertikalkurvatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandsindikator_Bæreevne" type="integer">
            <annotation>
              <documentation>12518: Tilstandsindikator for bæreevne. Beregningsregler er under utvikling</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12518</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, bæreevne</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandsindikator_Tunnel" type="integer">
            <annotation>
              <documentation>12519: Tilstandsindikator for tunnel. Beregningsregler er under utvikling</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12519</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, tunnel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandsindikator_Bru" type="integer">
            <annotation>
              <documentation>12520: Tilstandsindikator for bru. Beregningsregler er under utvikling</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12520</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, bru</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandsindikator_Skredsikring" type="integer">
            <annotation>
              <documentation>12521: Tilstandsindikator for skredsikring. Beregningsregler er under utvikling</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12521</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, skredsikring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandsindikator_GåendeSyklende" type="integer">
            <annotation>
              <documentation>12522: Tilstandsindikator for gående og syklende. Beregningsregler er under utvikling</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12522</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, gående/syklende</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilstandsindikator_Annet" type="integer">
            <annotation>
              <documentation>12523: Samlet tilstandsindikator. Beregningsregler er under utvikling</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12523</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, annet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>12525: Gir navn på strekning. Foreløpig regel for navn: Stedsnavn der veg starter - Stedsnavn der veg slutter (metreringsretning). Eksempel "Alvdal - Tynset" .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12525</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Tilstandsindikator_TestPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tilstandsindikator_Test"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
