GML/973.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>973: Anlegg som omdanner lys til elektrisk strøm. Består av ett eller flere solcellepanel, regulator og batterier.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeSolcelleanleggType">
      <annotation>
         <documentation>12529: Angir hva anlegget primært benyttes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12529</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeSolcelleanleggEnumerationType nvdb:BruksområdeSolcelleanleggOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeSolcelleanleggEnumerationType">
      <annotation>
         <documentation>12529: Angir hva anlegget primært benyttes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12529</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21561</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21560</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kamera</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21563</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rasteplass/toalettanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21562</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skilt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21559</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Værstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeSolcelleanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierSolcelleanleggType">
      <annotation>
         <documentation>12537: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12537</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierSolcelleanleggEnumerationType nvdb:EierSolcelleanleggOtherType"/>
   </simpleType>
   <simpleType name="EierSolcelleanleggEnumerationType">
      <annotation>
         <documentation>12537: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12537</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21556</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21554</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21555</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21558</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21553</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21557</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierSolcelleanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FunksjonSolcelleanleggType">
      <annotation>
         <documentation>12540: Angir anleggets hovedfunksjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12540</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Funksjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FunksjonSolcelleanleggEnumerationType nvdb:FunksjonSolcelleanleggOtherType"/>
   </simpleType>
   <simpleType name="FunksjonSolcelleanleggEnumerationType">
      <annotation>
         <documentation>12540: Angir anleggets hovedfunksjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12540</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Funksjon</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="NM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21570</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Normalstrøm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NN">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21571</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nødnett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21572</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nødstrøm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21573</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Reservestrøm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FunksjonSolcelleanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NominellSpenningSolcelleanleggType">
      <annotation>
         <documentation>12541: Angir nominell spenning når anlegget leverer spenning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12541</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nominell spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NominellSpenningSolcelleanleggEnumerationType nvdb:NominellSpenningSolcelleanleggOtherType"/>
   </simpleType>
   <simpleType name="NominellSpenningSolcelleanleggEnumerationType">
      <annotation>
         <documentation>12541: Angir nominell spenning når anlegget leverer spenning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12541</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nominell spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21564</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21567</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">230</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21565</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21568</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21566</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">48</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21569</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">690</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NominellSpenningSolcelleanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Solcelleanlegg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SolcelleanleggType">
      <annotation>
         <documentation>973: Anlegg som omdanner lys til elektrisk strøm. Består av ett eller flere solcellepanel, regulator og batterier.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">973</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Solcelleanlegg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SolcelleanleggType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="funksjon" type="nvdb:FunksjonSolcelleanleggType">
                  <annotation>
                     <documentation>12540: Angir anleggets hovedfunksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12540</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Funksjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bruksområde" type="nvdb:BruksområdeSolcelleanleggType">
                  <annotation>
                     <documentation>12529: Angir hva anlegget primært benyttes til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12529</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallSolceller" type="double">
                  <annotation>
                     <documentation>12528: Angir antall brennceller eller antall moduler som er montert i anlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12528</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall solceller</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="maksUtgangseffekt" type="integer">
                  <annotation>
                     <documentation>12530: Angir solcelleanleggets samlede maksimale utgangseffekt, dvs. hva utstyr maks kan levere kontinuerlig.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12530</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Maks utgangseffekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="nominellSpenning">
                  <annotation>
                     <documentation>12541: Angir nominell spenning når anlegget leverer spenning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12541</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nominell spenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="double">
                  <annotation>
                     <documentation>12531: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12531</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>12532: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12532</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="SCADA_Merking" type="string">
                  <annotation>
                     <documentation>12533: Driftsmerking rettet spesifikt mot systemet SCADA.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12533</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">SCADA-merking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>12534: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12534</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavn" type="string">
                  <annotation>
                     <documentation>12535: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12535</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12536: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12536</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierSolcelleanleggType">
                  <annotation>
                     <documentation>12537: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12537</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>12538: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12538</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligSolcelleanleggType">
                  <annotation>
                     <documentation>12539: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12539</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>12588: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12588</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SolcelleanleggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Solcelleanlegg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VedlikeholdsansvarligSolcelleanleggType">
      <annotation>
         <documentation>12539: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12539</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligSolcelleanleggEnumerationType nvdb:VedlikeholdsansvarligSolcelleanleggOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSolcelleanleggEnumerationType">
      <annotation>
         <documentation>12539: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12539</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21552</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21547</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21550</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21551</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21548</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21546</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21549</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligSolcelleanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
