GML/977.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>977: Angir tillatt kjøreretning for veglenken.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="SyklingMotKjøreretningTillattTillatt kjøreretningType">
      <annotation>
         <documentation>12600: Angir om det er det er lov å sykle mot kjøreretning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12600</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykling mot kjøreretning tillatt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SyklingMotKjøreretningTillattTillatt kjøreretningEnumerationType nvdb:SyklingMotKjøreretningTillattTillatt kjøreretningOtherType"/>
   </simpleType>
   <simpleType name="SyklingMotKjøreretningTillattTillatt kjøreretningEnumerationType">
      <annotation>
         <documentation>12600: Angir om det er det er lov å sykle mot kjøreretning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12600</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykling mot kjøreretning tillatt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>21735: Det er lov å sykle mot kjøreretning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21735</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>21736: Det er kun lov å sykle i kjøreretning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21736</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SyklingMotKjøreretningTillattTillatt kjøreretningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tillatt kjøreretning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tillatt kjøreretningType">
      <annotation>
         <documentation>977: Angir tillatt kjøreretning for veglenken.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">977</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tillatt kjøreretning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tillatt kjøreretningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="syklingMotKjøreretningTillatt">
                  <annotation>
                     <documentation>12600: Angir om det er det er lov å sykle mot kjøreretning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12600</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sykling mot kjøreretning tillatt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tillatt kjøreretningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tillatt kjøreretning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
