GML/978.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Vegforvalter" substitutionGroup="nvdb:AbstraktVegforvalter" type="nvdb:VegforvalterType">
    <annotation>
      <documentation>978: Angir hvem som er ansvarlig for finansiering, bygging, drift og vedlikehold av vegstrekningen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">978</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">978</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vegforvalter</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegforvalterType">
    <complexContent>
      <extension base="nvdb:AbstraktVegforvalterType">
        <sequence>
          <element name="vegforvalter" type="nvdb:VegforvalterVegforvalterType">
            <annotation>
              <documentation>12612: Ansvarlig for finansiering, bygging, drift og vedlikehold av vegstrekningen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12612</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vegforvalter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>12613: Kan beskrive spesielle avtaler mellom fylker, avtaler mellom f.eks. Nye Veier AS og en fylkeskommune, eller annet som er relevant for angitt vegstrekning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12613</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegforvalterPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegforvalter"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VegforvalterVegforvalterType">
    <annotation>
      <documentation>12612: Ansvarlig for finansiering, bygging, drift og vedlikehold av vegstrekningen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12612</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12612</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vegforvalter</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VegforvalterVegforvalterEnumerationType nvdb:VegforvalterVegforvalterOtherType"/>
  </simpleType>
  <simpleType name="VegforvalterVegforvalterEnumerationType">
    <annotation>
      <documentation>12612: Ansvarlig for finansiering, bygging, drift og vedlikehold av vegstrekningen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12612</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12612</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vegforvalter</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>21771: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21771</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier AS ">
        <annotation>
          <documentation>21772: Nye Veier AS </documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21772</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier AS </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Innlandet fylkeskommune">
        <annotation>
          <documentation>21797: Innlandet fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21797</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innlandet fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Agder fylkeskommune ">
        <annotation>
          <documentation>21773: Agder fylkeskommune </documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21773</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Agder fylkeskommune </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Møre og Romsdal fylkeskommune ">
        <annotation>
          <documentation>21774: Møre og Romsdal fylkeskommune </documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21774</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Møre og Romsdal fylkeskommune </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nordland fylkeskommune ">
        <annotation>
          <documentation>21775: Nordland fylkeskommune </documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21775</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nordland fylkeskommune </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rogaland fylkeskommune ">
        <annotation>
          <documentation>21776: Rogaland fylkeskommune </documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21776</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rogaland fylkeskommune </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Troms og Finnmark fylkeskommune ">
        <annotation>
          <documentation>21777: Troms og Finnmark fylkeskommune </documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21777</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Troms og Finnmark fylkeskommune </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trøndelag fylkeskommune ">
        <annotation>
          <documentation>21778: Trøndelag fylkeskommune </documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21778</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trøndelag fylkeskommune </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vestfold og Telemark fylkeskommune ">
        <annotation>
          <documentation>21779: Vestfold og Telemark fylkeskommune </documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21779</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vestfold og Telemark fylkeskommune </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vestland fylkeskommune ">
        <annotation>
          <documentation>21780: Vestland fylkeskommune </documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21780</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vestland fylkeskommune </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Viken fylkeskommune ">
        <annotation>
          <documentation>21781: Viken fylkeskommune </documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21781</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Viken fylkeskommune </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oslo kommune ">
        <annotation>
          <documentation>21782: Oslo kommune </documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21782</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oslo kommune </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune ">
        <annotation>
          <documentation>21783: Kommune </documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21783</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegforvalterVegforvalterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
