GML/978.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>978: Angir hvem som er ansvarlig for finansiering, bygging, drift og vedlikehold av vegstrekningen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Vegforvalter"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VegforvalterType">
      <annotation>
         <documentation>978: Angir hvem som er ansvarlig for finansiering, bygging, drift og vedlikehold av vegstrekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">978</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegforvalter</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VegforvalterType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="vegforvalter" type="nvdb:VegforvalterVegforvalterType">
                  <annotation>
                     <documentation>12612: Ansvarlig for finansiering, bygging, drift og vedlikehold av vegstrekningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12612</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegforvalter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>12613: Kan beskrive spesielle avtaler mellom fylker, avtaler mellom f.eks. Nye Veier AS og en fylkeskommune, eller annet som er relevant for angitt vegstrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12613</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VegforvalterPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegforvalter"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VegforvalterVegforvalterType">
      <annotation>
         <documentation>12612: Ansvarlig for finansiering, bygging, drift og vedlikehold av vegstrekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12612</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegforvalter</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VegforvalterVegforvalterEnumerationType nvdb:VegforvalterVegforvalterOtherType"/>
   </simpleType>
   <simpleType name="VegforvalterVegforvalterEnumerationType">
      <annotation>
         <documentation>12612: Ansvarlig for finansiering, bygging, drift og vedlikehold av vegstrekningen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12612</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegforvalter</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F42">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21773</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Agder fylkeskommune </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F34">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21797</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innlandet fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21783</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F15">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21774</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Møre og Romsdal fylkeskommune </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F18">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21775</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nordland fylkeskommune </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21772</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier AS </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21782</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oslo kommune </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21776</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rogaland fylkeskommune </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21771</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21778</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trøndelag fylkeskommune </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F46">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21780</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vestland fylkeskommune </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F32">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22215</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Akershus fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F33">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22210</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Buskerud fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F56">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22241</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Finnmark fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F40">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22225</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Telemark fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F55">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22236</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Troms fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F39">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22231</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vestfold fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F31">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22220</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Østfold fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VegforvalterVegforvalterOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
