GML/979.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.33">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="GjennomkjøringForbudt_Avgrensing" substitutionGroup="nvdb:AbstraktGjennomkjøringForbudt_Avgrensing" type="nvdb:GjennomkjøringForbudt_AvgrensingType">
    <annotation>
      <documentation>979: Punkt der forbud mot gjennomkjøring gjelder til. I noen tilfeller gjelder forbudet i begge retninger.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">979</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">979</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjennomkjøring forbudt, avgrensing</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GjennomkjøringForbudt_AvgrensingType">
    <complexContent>
      <extension base="nvdb:AbstraktGjennomkjøringForbudt_AvgrensingType">
        <sequence>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>12677: Gir merknad knyttet til gjennomkjøring forbudt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12677</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GjennomkjøringForbudt_AvgrensingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:GjennomkjøringForbudt_Avgrensing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
