GML/979.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>979: Punkt der forbud mot gjennomkjøring gjelder til. I noen tilfeller gjelder forbudet i begge retninger.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Gjennomkjøring forbudt, avgrensing"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Gjennomkjøring forbudt, avgrensingType">
      <annotation>
         <documentation>979: Punkt der forbud mot gjennomkjøring gjelder til. I noen tilfeller gjelder forbudet i begge retninger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">979</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjennomkjøring forbudt, avgrensing</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Gjennomkjøring forbudt, avgrensingType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="merknad" type="string">
                  <annotation>
                     <documentation>12677: Gir merknad knyttet til gjennomkjøring forbudt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12677</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Gjennomkjøring forbudt, avgrensingPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Gjennomkjøring forbudt, avgrensing"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
