GML/980.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.32">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierInformasjonstavleSykkelType">
    <annotation>
      <documentation>12663: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12663</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12663</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierInformasjonstavleSykkelEnumerationType nvdb:EierInformasjonstavleSykkelOtherType"/>
  </simpleType>
  <simpleType name="EierInformasjonstavleSykkelEnumerationType">
    <annotation>
      <documentation>12663: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12663</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12663</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>21891: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21891</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>21890: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21890</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>21887: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21887</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>21888: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21888</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>21889: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21889</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>21892: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21892</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierInformasjonstavleSykkelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="InformasjonstavleSykkel" substitutionGroup="nvdb:AbstraktInformasjonstavleSykkel" type="nvdb:InformasjonstavleSykkelType">
    <annotation>
      <documentation>980: Informasjonstavle i tilknytning til trafikkregistreringsstasjon for visning av antall sykkelpasseringer og eventuell annen informasjon.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">980</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">980</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Informasjonstavle sykkel</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="InformasjonstavleSykkelType">
    <complexContent>
      <extension base="nvdb:AbstraktInformasjonstavleSykkelType">
        <sequence>
          <element minOccurs="0" name="PlasseringAvTrafikklogger" type="nvdb:PlasseringAvTrafikkloggerType">
            <annotation>
              <documentation>12667: Angir om logger/teller er integrert i selve informasjonstavla.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12667</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering av trafikklogger</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fundament" type="string">
            <annotation>
              <documentation>12666: Angir hvordan vegobjekt er fundamentert</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12666</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fundament</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>12659: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12659</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produsent" type="string">
            <annotation>
              <documentation>12657: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12657</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>12658: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12658</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>12660: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12660</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>12661: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12661</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12662: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12662</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierInformasjonstavleSykkelType">
            <annotation>
              <documentation>12663: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12663</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligInformasjonstavleSykkelType">
            <annotation>
              <documentation>12664: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12664</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>12665: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12665</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkregistreringsstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:AbstraktTrafikkregistreringsstasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InformasjonstavleSykkelPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:InformasjonstavleSykkel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="PlasseringAvTrafikkloggerType">
    <annotation>
      <documentation>12667: Angir om logger/teller er integrert i selve informasjonstavla.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12667</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12667</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering av trafikklogger</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringAvTrafikkloggerEnumerationType nvdb:PlasseringAvTrafikkloggerOtherType"/>
  </simpleType>
  <simpleType name="PlasseringAvTrafikkloggerEnumerationType">
    <annotation>
      <documentation>12667: Angir om logger/teller er integrert i selve informasjonstavla.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12667</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12667</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering av trafikklogger</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Integrert i informasjonstavle">
        <annotation>
          <documentation>21900: Trafikkteller/logger er integrert i selve informasjonstavlen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21900</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Integrert i informasjonstavle</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I eget skap">
        <annotation>
          <documentation>21901: Trafikkteller er plassert i eget skap/annen enhet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21901</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I eget skap</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringAvTrafikkloggerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligInformasjonstavleSykkelType">
    <annotation>
      <documentation>12664: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12664</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12664</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligInformasjonstavleSykkelEnumerationType nvdb:VedlikeholdsansvarligInformasjonstavleSykkelOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligInformasjonstavleSykkelEnumerationType">
    <annotation>
      <documentation>12664: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12664</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12664</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>21898: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21898</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>21895: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21895</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>21893: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21893</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>21896: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21896</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>21894: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21894</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>21897: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21897</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>21899: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligInformasjonstavleSykkelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
