GML/983.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>983: Informasjon om vegens tilstand med hensyn på bæreevne.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Tilstandsindikator, bæreevne"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandsindikator, bæreevneType">
      <annotation>
         <documentation>983: Informasjon om vegens tilstand med hensyn på bæreevne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">983</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, bæreevne</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandsindikator, bæreevneType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="verdi" type="double">
                  <annotation>
                     <documentation>12690: Tilstandsindikator for bæreevne. Beregningsregler er under utvikling. Tilstand angis med verdi fra 0 til 3, samt 98 og 99. 0: God - B (bæreevne) &gt; 14 tonn. 1: Middels - 12 tonn &lt; B ≤  14 tonn. 2: Dårlig - 10 tonn &lt; B ≤  12 tonn. 3: Svært dårlig - B ≤  10 tonn. 98: Mangler data. 99: Utenfor utvalg av veger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12690</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Verdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="årstall_GjelderFor" type="double">
                  <annotation>
                     <documentation>12692: Angir hvilket år beregningene gjelder for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12692</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Årstall, gjelder for</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12691: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12691</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandsindikator, bæreevnePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandsindikator, bæreevne"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
