GML/984.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>984: Informasjon om vegens tilstand med hensyn på horisontalkurvatur.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Tilstandsindikator, horisontalkurvatur"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandsindikator, horisontalkurvaturType">
      <annotation>
         <documentation>984: Informasjon om vegens tilstand med hensyn på horisontalkurvatur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, horisontalkurvatur</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandsindikator, horisontalkurvaturType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="verdi" type="double">
                  <annotation>
                     <documentation>12693: Tilstandsindikator for horisontalkurvatur. Beregningsregler er under utvikling. Tilstand angis med verdi fra 0 til 3, samt 98 og 99. Prinsippene for klassifisering er: 0: God - Tilfredsstiller krav. 1: Middels - Avvik er mindre enn krav til neste dimensjoneringsklasse. 2: Dårlig - Avvik i størrelseorden mellom en og to dimensjoneringsklasser under krav. 3: Svært dårlig - Avvik er minst to dimensjoneringsklasser under krav. 98: Mangler data. 99: Utenfor utvalg av veger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12693</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Verdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="årstall_GjelderFor" type="double">
                  <annotation>
                     <documentation>12695: Angir hvilket år beregningene gjelder for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12695</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Årstall, gjelder for</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12694: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12694</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandsindikator, horisontalkurvaturPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandsindikator, horisontalkurvatur"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
