GML/985.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>985: Informasjon om vegens tilstand med hensyn på vertikalkurvatur. Baserer seg på registert radius for høy- og lavbrekk samt stigning på rettstrekninger sammenlignet med krav for respektive dimensjoneringsklasse i N100.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Tilstandsindikator, vertikalkurvatur"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandsindikator, vertikalkurvaturType">
      <annotation>
         <documentation>985: Informasjon om vegens tilstand med hensyn på vertikalkurvatur. Baserer seg på registert radius for høy- og lavbrekk samt stigning på rettstrekninger sammenlignet med krav for respektive dimensjoneringsklasse i N100.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">985</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, vertikalkurvatur</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandsindikator, vertikalkurvaturType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="tilstandsindikatorverdi" type="double">
                  <annotation>
                     <documentation>12696: Tilstandsindikator for vertikalkurvatur. Baserer seg på registert radius for høy- og lavbrekk samt stigning på rettstrekninger sammenlignet med krav for respektive dimensjoneringsklasse i N100. Tilstand angis med verdi fra 0 til 3, samt 98 og 99. Prinsippene for klassifisering er: 0: Ingen avvik - Tilfredsstiller krav. 1: Mindre eller moderate avvik, tilsvarende maks 5 km/t fartsreduksjon ved beregning av krav med aktuelt formelverk. 2: Vesentlig avvik -  tilsvarende maks 10 km/t fartsreduksjon ved beregning av krav med aktuelt formelverk. 3: Stort eller alvorlig avvik -  tilsvarende over 10 km/t fartsreduksjon ved beregning av krav med aktuelt formelverk. 98: Mangler data. 99: Utenfor utvalg av veger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12696</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstandsindikatorverdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="beregningsårForIndikator" type="double">
                  <annotation>
                     <documentation>12698: Angir hvilket år beregningene er gjort.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12698</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beregningsår for indikator</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>12972: Angir lengde på strekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12972</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12697: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12697</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandsindikator, vertikalkurvaturPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandsindikator, vertikalkurvatur"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
