GML/986.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>986: Informasjon om tilstand for tunnel.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Tilstandsindikator, tunnel"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandsindikator, tunnelType">
      <annotation>
         <documentation>986: Informasjon om tilstand for tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">986</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, tunnel</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandsindikator, tunnelType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="verdi" type="double">
                  <annotation>
                     <documentation>12699: Tilstandsindikator for tunnel. Baserer seg på informasjon om tunnelen sammenlignet med krav i Tunnelsikkerhetsforskriften. Tilstand angis med verdi 0 til 3. 0: God - Tunnelen har brukstillatelse, dvs. tilfredsstiller kravene i tunnelsikkerhetsforskriften. 
1: Middels - Tunnelen er oppgradert, men mangler brukstillatelse
2: Dårlig – Tunnelen har ikke brukstillatelse, men tilfredsstiller kravene til minimumsutrustning i Tunnelsikkerhetsforskriften
3: Svært dårlig – Tunnelen har ikke brukstillatelse og tilfredsstiller ikke en eller flere krav til minimumsutrustning i Tunnelsikkerhetsforskriften 
98: Mangler dat a
99: Utenfor utvalg av veger</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12699</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Verdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="årstall_GjelderFor" type="double">
                  <annotation>
                     <documentation>12701: Angir hvilket år beregningene gjelder for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12701</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Årstall, gjelder for</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12700: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12700</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandsindikator, tunnelPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandsindikator, tunnel"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
