GML/986.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>986: Informasjon om tilstand for tunnel. Baserer seg på informasjon om tunnelen sammenlignet med krav i Tunnelsikkerhetsforskriften.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Tilstandsindikator, tunnelsikkerhetsforskriften"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandsindikator, tunnelsikkerhetsforskriftenType">
      <annotation>
         <documentation>986: Informasjon om tilstand for tunnel. Baserer seg på informasjon om tunnelen sammenlignet med krav i Tunnelsikkerhetsforskriften.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">986</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, tunnelsikkerhetsforskriften</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandsindikator, tunnelsikkerhetsforskriftenType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="tilstandsindikatorverdi" type="double">
                  <annotation>
                     <documentation>12699: Tilstandsindikator for tunnel. Baserer seg på informasjon om tunnelen sammenlignet med krav i Tunnelsikkerhetsforskriften. Tilstand angis med verdi 0 til 3. 0: Ingen avvik -Tunnelen har brukstillatelse, dvs. tilfredsstiller kravene i tunnelsikkerhetsforskriften. 1: Mindre eller moderate avvik - Tunnelen er oppgradert, men mangler brukstillatelse. 2: Vesentlig avvik -  Tunnelen har ikke brukstillatelse, men tilfredsstiller kravene til minimumsutrustning i Tunnelsikkerhetsforskriften. 3: Stort eller alvorlig avvik -Tunnelen har ikke brukstillatelse og tilfredsstiller ikke en eller flere krav til minimumsutrustning i Tunnelsikkerhetsforskriften. 98: Mangler data. 99: Utenfor utvalg av veger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12699</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstandsindikatorverdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="beregningsårForIndikator" type="double">
                  <annotation>
                     <documentation>12701: Angir hvilket år beregningene er gjort.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12701</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beregningsår for indikator</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>12973: Tunnelens offisielle lengde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12973</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12700: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12700</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandsindikator, tunnelsikkerhetsforskriftenPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandsindikator, tunnelsikkerhetsforskriften"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
