GML/99.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML" version="2.20">
  <include schemaLocation="AbstraktNVDB.xsd"/>
  <include schemaLocation="SOSIFelles.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Bredde_EnkeltlinjeType">
    <annotation>
      <documentation>4514: Angir normal bredde av enkeltlinje.  For sperreområde gjelder bredde omslutningslinje.</documentation>
    </annotation>
    <union memberTypes="nvdb:Bredde_EnkeltlinjeEnumerationType nvdb:Bredde_EnkeltlinjeOtherType"/>
  </simpleType>
  <simpleType name="Bredde_EnkeltlinjeEnumerationType">
    <annotation>
      <documentation>4514: Angir normal bredde av enkeltlinje.  For sperreområde gjelder bredde omslutningslinje.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0_10">
        <annotation>
          <documentation>5310: 0,10</documentation>
        </annotation>
      </enumeration>
      <enumeration value="0_15">
        <annotation>
          <documentation>5311: 0,15</documentation>
        </annotation>
      </enumeration>
      <enumeration value="0_20">
        <annotation>
          <documentation>5312: 0,20</documentation>
        </annotation>
      </enumeration>
      <enumeration value="0_25">
        <annotation>
          <documentation>5313: 0,25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="0_30">
        <annotation>
          <documentation>5314: 0,30</documentation>
        </annotation>
      </enumeration>
      <enumeration value="0_35">
        <annotation>
          <documentation>19307: 0,35</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Bredde_EnkeltlinjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeVegoppmerking_LangsgåendeType">
    <annotation>
      <documentation>4520: Angir bruksområde for vegobjekttypen.  Dette er en tilleggsopplysning til typen.  Det er ikke aktuelt å gi til alle typer.</documentation>
    </annotation>
    <union memberTypes="nvdb:BruksområdeVegoppmerking_LangsgåendeEnumerationType nvdb:BruksområdeVegoppmerking_LangsgåendeOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeVegoppmerking_LangsgåendeEnumerationType">
    <annotation>
      <documentation>4520: Angir bruksområde for vegobjekttypen.  Dette er en tilleggsopplysning til typen.  Det er ikke aktuelt å gi til alle typer.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="midtlinje">
        <annotation>
          <documentation>5342: Linje som skiller mellom kjørefelt med trafikk i motgående retninger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kantlinje">
        <annotation>
          <documentation>11300: Linje som markerer kjørebanens ytterkant (HB049)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="delelinje">
        <annotation>
          <documentation>5344: Linje som skiller mellom vanlige kjørefelt med trafikk i samme retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skillelinje_Kollektivfelt">
        <annotation>
          <documentation>5347: Linje som skiller mellom kjørefelt og kollektivffelt eller busslomme</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skillelinje_Fartsendringsfelt">
        <annotation>
          <documentation>5346: Linje som skiller mellom vanlig kjørefelt og fartsendringsfelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skillelinje_Sykkelfelt">
        <annotation>
          <documentation>5345: Linje som skiller mellom kjørefelt og sykkelfelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ledelinje">
        <annotation>
          <documentation>11301: Linje som angir føring av kjørefelt eller svingebevegelser gjennom et vegkryss</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeVegoppmerking_LangsgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FargeVegoppmerking_LangsgåendeType">
    <annotation>
      <documentation>1295: Angir hovedfarge til vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:FargeVegoppmerking_LangsgåendeEnumerationType nvdb:FargeVegoppmerking_LangsgåendeOtherType"/>
  </simpleType>
  <simpleType name="FargeVegoppmerking_LangsgåendeEnumerationType">
    <annotation>
      <documentation>1295: Angir hovedfarge til vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="gul">
        <annotation>
          <documentation>2116: Gul</documentation>
        </annotation>
      </enumeration>
      <enumeration value="hvit">
        <annotation>
          <documentation>2125: Hvit</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FargeVegoppmerking_LangsgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LinjemønsterType">
    <annotation>
      <documentation>4517: Angir mønster (stipling) for oppmerkingspunkt.  Angis som lengde av en punktdel + lengde av mellomrom.  Disse verdiene er avhengige av hastighetsområde.</documentation>
    </annotation>
    <union memberTypes="nvdb:LinjemønsterEnumerationType nvdb:LinjemønsterOtherType"/>
  </simpleType>
  <simpleType name="LinjemønsterEnumerationType">
    <annotation>
      <documentation>4517: Angir mønster (stipling) for oppmerkingspunkt.  Angis som lengde av en punktdel + lengde av mellomrom.  Disse verdiene er avhengige av hastighetsområde.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="over50_K_Med_T_93Osv">
        <annotation>
          <documentation>5333: Benyttes ved fartsgrense over 50</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tom50Kmt_31Osv">
        <annotation>
          <documentation>5334: Benyttes når fartsgrense er 50 eller mindre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LinjemønsterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeVegoppmerking_LangsgåendeType">
    <annotation>
      <documentation>1413: Angir primær materialtype for vegobjektet</documentation>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeVegoppmerking_LangsgåendeEnumerationType nvdb:MaterialtypeVegoppmerking_LangsgåendeOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeVegoppmerking_LangsgåendeEnumerationType">
    <annotation>
      <documentation>1413: Angir primær materialtype for vegobjektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="maling">
        <annotation>
          <documentation>2773: Maling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ekstrudertPlast">
        <annotation>
          <documentation>2775: Ekstrudert plast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sprayetPlast">
        <annotation>
          <documentation>11304: Sprayet plast</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeVegoppmerking_LangsgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NedfresingType">
    <annotation>
      <documentation>8392: Angir hvorvidt det er frest ned et plant spor/forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
    </annotation>
    <union memberTypes="nvdb:NedfresingEnumerationType nvdb:NedfresingOtherType"/>
  </simpleType>
  <simpleType name="NedfresingEnumerationType">
    <annotation>
      <documentation>8392: Angir hvorvidt det er frest ned et plant spor/forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>11302: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>16774: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NedfresingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ProfileringType">
    <annotation>
      <documentation>2266: Angir om vegoppmerkingen er profilert eller ikke, og i tilfelle hvilken type profilering</documentation>
    </annotation>
    <union memberTypes="nvdb:ProfileringEnumerationType nvdb:ProfileringOtherType"/>
  </simpleType>
  <simpleType name="ProfileringEnumerationType">
    <annotation>
      <documentation>2266: Angir om vegoppmerkingen er profilert eller ikke, og i tilfelle hvilken type profilering</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="planLinje">
        <annotation>
          <documentation>4095: Plan linje</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kamflex">
        <annotation>
          <documentation>4097: Kamflex</documentation>
        </annotation>
      </enumeration>
      <enumeration value="longflex">
        <annotation>
          <documentation>4098: Longflex</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dråpeflex">
        <annotation>
          <documentation>4099: Dråpeflex</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dråpeKombi">
        <annotation>
          <documentation>16772: Dråpe kombi</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProfileringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegoppmerking_LangsgåendeType">
    <annotation>
      <documentation>1152: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <union memberTypes="nvdb:TypeVegoppmerking_LangsgåendeEnumerationType nvdb:TypeVegoppmerking_LangsgåendeOtherType"/>
  </simpleType>
  <simpleType name="TypeVegoppmerking_LangsgåendeEnumerationType">
    <annotation>
      <documentation>1152: Angir hvilken type vegobjektet er av</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="kjørefeltlinje_1000_F">
        <annotation>
          <documentation>5317: Benyttes når dobbel sperrelinje brytes foran gangfelt (Og i forbindelse med avkjørsler?)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tettstedlinje_1002_T">
        <annotation>
          <documentation>12086: Tettstedlinje (1002-T)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="varsellinje_1002_V">
        <annotation>
          <documentation>5318: Varsellinje (1002-V)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sperrelinje_1004_S">
        <annotation>
          <documentation>5319: Sperrelinje (1004-S)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kjørefeltVarsellinje_1006_1_FV">
        <annotation>
          <documentation>5320: Kjørefelt-/Varsellinje (1006.1-FV)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="varselKjørefeltlinje_1006_1_VF">
        <annotation>
          <documentation>5321: Varsel-/Kjørefeltlinje (1006.1-VF)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sperreKjørefeltlinje_1006_2_SF">
        <annotation>
          <documentation>5322: Sperre-/Kjørefeltlinje (1006.2-SF)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kjørefeltSperrelinje_1006_2_FS">
        <annotation>
          <documentation>5323: Kjørefelt-/Sperrelinje (1006.2-FS)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="varselSperrelinje_1006_3_VS">
        <annotation>
          <documentation>5324: Varsel-/Sperrelinje (1006.3-VS)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sperreVarsellinje_1006_3_SV">
        <annotation>
          <documentation>5325: Sperre-/Varsellinje (1006.3-SV)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dobbelSperrelinje_1006_4_SS">
        <annotation>
          <documentation>5326: Dobbel sperrelinje (1006.4-SS)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="åpningIDobbelSperrelinje">
        <annotation>
          <documentation>10143: Åpning i dobbel sperrelinje</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dobbelVarsellinje_1006_5_VV">
        <annotation>
          <documentation>5327: Dobbel varsellinje (1006.5-VV)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="skillelinje_1008">
        <annotation>
          <documentation>5328: Skillelinje (1008)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ledelinje_1010">
        <annotation>
          <documentation>5329: Ledelinje (1010)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kantlinje_Heltrukket_1012_1">
        <annotation>
          <documentation>5330: Kantlinje, heltrukket (1012.1)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kantlinje_Stiplet_1012_2">
        <annotation>
          <documentation>5331: Kantlinje, stiplet (1012.2)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sperreområde_Oppmerket_1014">
        <annotation>
          <documentation>5332: Sperreområde som er fylt med enten heldekkende maling, skaravur eller ingen maling.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sperreområde_Fysisk_1014">
        <annotation>
          <documentation>5406: Sperreområde som er fylt med fysisk opphøyd areal.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="linje_Parkering">
        <annotation>
          <documentation>2804: Linje, parkering</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegoppmerking_LangsgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VegbanereflektorType">
    <annotation>
      <documentation>1909: Angir om oppmerkingslinja har vegbanereflektor eller ikke</documentation>
    </annotation>
    <union memberTypes="nvdb:VegbanereflektorEnumerationType nvdb:VegbanereflektorOtherType"/>
  </simpleType>
  <simpleType name="VegbanereflektorEnumerationType">
    <annotation>
      <documentation>1909: Angir om oppmerkingslinja har vegbanereflektor eller ikke</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>3528: Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>3566: Nei</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegbanereflektorOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegoppmerking_Langsgående" substitutionGroup="nvdb:AbstraktVegoppmerking_Langsgående" type="nvdb:Vegoppmerking_LangsgåendeType">
    <annotation>
      <documentation>99: Vegoppmerking nyttes for å lede, varsle eller regulere trafikken, og for å klargjøre andre bestemmelser gitt ved trafikkskilt eller trafikkregler. (050).  Langsgående oppmerking omfatter alle langsgående oppmerka linjer og sperreområder, også inkludert oppmerking av trafikkøyer.</documentation>
    </annotation>
  </element>
  <complexType name="Vegoppmerking_LangsgåendeType">
    <complexContent>
      <extension base="nvdb:AbstraktVegoppmerking_LangsgåendeType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeVegoppmerking_LangsgåendeType">
            <annotation>
              <documentation>4520: Angir bruksområde for vegobjekttypen.  Dette er en tilleggsopplysning til typen.  Det er ikke aktuelt å gi til alle typer.</documentation>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeVegoppmerking_LangsgåendeType">
            <annotation>
              <documentation>1152: Angir hvilken type vegobjektet er av</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="linjemønster" type="nvdb:LinjemønsterType">
            <annotation>
              <documentation>4517: Angir mønster (stipling) for oppmerkingspunkt.  Angis som lengde av en punktdel + lengde av mellomrom.  Disse verdiene er avhengige av hastighetsområde.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Enkeltlinje" type="nvdb:Bredde_EnkeltlinjeType">
            <annotation>
              <documentation>4514: Angir normal bredde av enkeltlinje.  For sperreområde gjelder bredde omslutningslinje.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1329: Angir lengde av vegobjektet, er normalt avledet fra geometri/stedfesting
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="farge" type="nvdb:FargeVegoppmerking_LangsgåendeType">
            <annotation>
              <documentation>1295: Angir hovedfarge til vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vedtaksnummer" type="string">
            <annotation>
              <documentation>7841: Angir vedtaksnummer</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="profilering" type="nvdb:ProfileringType">
            <annotation>
              <documentation>2266: Angir om vegoppmerkingen er profilert eller ikke, og i tilfelle hvilken type profilering</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nedfresing" type="nvdb:NedfresingType">
            <annotation>
              <documentation>8392: Angir hvorvidt det er frest ned et plant spor/forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vegbanereflektor" type="nvdb:VegbanereflektorType">
            <annotation>
              <documentation>1909: Angir om oppmerkingslinja har vegbanereflektor eller ikke</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="arealAvFyltSperreområde" type="double">
            <annotation>
              <documentation>1371: Angir arealet av fylt sperreområde.  For skravert sperreområde måles mengde som løpemeter skravur.
Enhet: Kvadratmeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="løpemeterSkravur" type="integer">
            <annotation>
              <documentation>2260: Angir total lengde av striper i skravur.  Denne egenskapstypen er bare aktuell for vegoppmerking av type sperreområde.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeOmslutningslinje" type="integer">
            <annotation>
              <documentation>4515: Angir lengde av sperreområdets omslutningspunkt.
Enhet: Meter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelse" type="double">
            <annotation>
              <documentation>1624: Angir tykkelse av vegoppmerkingen.  Normalverdier for sprayplast: 1,0  1,5 eller 2,0 ( millimeter ).  Normalverdier for ekstrudert : 1,5  2,0  eller 3,0  ( millimeter ). Normalverdi for maling : 0,4 ( millimeter )
Enhet: Millimeter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeVegoppmerking_LangsgåendeType">
            <annotation>
              <documentation>1413: Angir primær materialtype for vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11423: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11082: Referanse til prosjekt. Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4798: Gir linje/kurve som geometrisk representerer objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKommentar" type="nvdb:AbstraktKommentarPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="nvdb:AbstraktTrafikkdelerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkade_Strekning" type="nvdb:AbstraktTilstandSkade_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTilstandSkadeFU_Strekning" type="nvdb:AbstraktTilstandSkadeFU_StrekningPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDokumentasjon" type="nvdb:AbstraktDokumentasjonPropertyType"/>
          <element minOccurs="0" name="assosiertTrafikkøy" type="nvdb:AbstraktTrafikkøyPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegoppmerking_LangsgåendePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegoppmerking_Langsgående"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
