GML/99.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>99: Vegoppmerking nyttes for å lede, varsle eller regulere trafikken, og for å klargjøre andre bestemmelser gitt ved trafikkskilt eller trafikkregler. (050). Langsgående oppmerking omfatter alle langsgående oppmerka linjer og sperreområder, også inkludert oppmerking av trafikkøyer.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="Bredde_EnkeltlinjeVegoppmerking, langsgåendeType">
      <annotation>
         <documentation>4514: Angir normal bredde av enkeltlinje. For sperreområde gjelder bredde omslutningslinje.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4514</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bredde, enkeltlinje</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Bredde_EnkeltlinjeVegoppmerking, langsgåendeEnumerationType nvdb:Bredde_EnkeltlinjeVegoppmerking, langsgåendeOtherType"/>
   </simpleType>
   <simpleType name="Bredde_EnkeltlinjeVegoppmerking, langsgåendeEnumerationType">
      <annotation>
         <documentation>4514: Angir normal bredde av enkeltlinje. For sperreområde gjelder bredde omslutningslinje.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4514</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bredde, enkeltlinje</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5310</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0,10</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5311</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0,15</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="20">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5312</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0,20</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="25">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5313</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0,25</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="30">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5314</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0,30</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="35">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19307</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0,35</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Bredde_EnkeltlinjeVegoppmerking, langsgåendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeVegoppmerking, langsgåendeType">
      <annotation>
         <documentation>4520: Angir bruksområde for vegobjekttypen. Dette er en tilleggsopplysning til typen. Det er ikke aktuelt å gi til alle typer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4520</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeVegoppmerking, langsgåendeEnumerationType nvdb:BruksområdeVegoppmerking, langsgåendeOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeVegoppmerking, langsgåendeEnumerationType">
      <annotation>
         <documentation>4520: Angir bruksområde for vegobjekttypen. Dette er en tilleggsopplysning til typen. Det er ikke aktuelt å gi til alle typer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4520</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="D">
            <annotation>
               <documentation>5344: Linje som skiller mellom vanlige kjørefelt med trafikk i samme retning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5344</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delelinje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <documentation>11300: Linje som markerer kjørebanens ytterkant (HB049).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11300</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kantlinje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <documentation>11301: Linje som angir føring av kjørefelt eller svingebevegelser gjennom et vegkryss.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11301</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ledelinje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <documentation>5342: Linje som skiller mellom kjørefelt med trafikk i motgående retninger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5342</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Midtlinje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SF">
            <annotation>
               <documentation>5346: Linje som skiller mellom vanlig kjørefelt og fartsendringsfelt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5346</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skillelinje, fartsendringsfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SK">
            <annotation>
               <documentation>5347: Linje som skiller mellom kjørefelt og kollektivfelt eller busslomme.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5347</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skillelinje, kollektivfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SS">
            <annotation>
               <documentation>5345: Linje som skiller mellom kjørefelt og sykkelfelt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5345</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skillelinje, sykkelfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeVegoppmerking, langsgåendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FargeVegoppmerking, langsgåendeType">
      <annotation>
         <documentation>1295: Angir hovedfarge til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1295</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FargeVegoppmerking, langsgåendeEnumerationType nvdb:FargeVegoppmerking, langsgåendeOtherType"/>
   </simpleType>
   <simpleType name="FargeVegoppmerking, langsgåendeEnumerationType">
      <annotation>
         <documentation>1295: Angir hovedfarge til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1295</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="gu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2116</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gul</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2125</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hvit</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FargeVegoppmerking, langsgåendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="LinjemønsterVegoppmerking, langsgåendeType">
      <annotation>
         <documentation>4517: Angir mønster (stipling) for oppmerkingspunkt. Angis som lengde av en punktdel + lengde av mellomrom. Disse verdiene er avhengige av hastighetsområde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4517</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Linjemønster</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LinjemønsterVegoppmerking, langsgåendeEnumerationType nvdb:LinjemønsterVegoppmerking, langsgåendeOtherType"/>
   </simpleType>
   <simpleType name="LinjemønsterVegoppmerking, langsgåendeEnumerationType">
      <annotation>
         <documentation>4517: Angir mønster (stipling) for oppmerkingspunkt. Angis som lengde av en punktdel + lengde av mellomrom. Disse verdiene er avhengige av hastighetsområde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4517</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Linjemønster</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Kal">
            <annotation>
               <documentation>21099: Kun aktuell om det er angitt linjetype 1012.2 Stiplet kantlinje. Indikerer da linjemønster 2+2 mot busslomme og mot sideveg i forkjørsregulerte kryss/avkjørsler.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21099</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Standard lomme og kryss/avkjørsel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="&gt;50">
            <annotation>
               <documentation>5333: Angir at det skal benyttes standard linjemønster for fartsgrense over 50 km/t. Dvs. 3+9 for kjørefeltlinje, 9+3 for varsellinje, 9+3 for dobbel varsellinje, 2+2 for skillelinje, 1+1 for ledelinje og 3+3 for stiplet kantlinje.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5333</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Standard over 50 km/t</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <documentation>21091: Angir at det skal benyttes standard oppmerkingsmønster for sykkel. Benyttes for varsellinje på sykkelveg og gang-/sykkelveg (0,75+0,25) eller for skillelinje mot sykkelfelt (1+1).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21091</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Standard sykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <documentation>5334: Angir at det skal benyttes standard linjemønster for fartsgrense 50 km/t eller lavere. Dvs. 1+3 for kjørefeltlinje, 3+1 for varsellinje, 3+1 for dobbel varsellinje, 2+2 for skillelinje, 1+1 for ledelinje og 3+3 for stiplet kantlinje.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5334</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Standard tom 50 km/t</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LinjemønsterVegoppmerking, langsgåendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeVegoppmerking, langsgåendeType">
      <annotation>
         <documentation>1413: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1413</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeVegoppmerking, langsgåendeEnumerationType nvdb:MaterialtypeVegoppmerking, langsgåendeOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeVegoppmerking, langsgåendeEnumerationType">
      <annotation>
         <documentation>1413: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1413</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="EP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2775</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ekstrudert plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2773</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Maling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11304</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprayet plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeVegoppmerking, langsgåendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlanNedfresingVegoppmerking, langsgåendeType">
      <annotation>
         <documentation>8392: Angir hvorvidt det er frest ned et plant spor/forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bl.a. at vegmerkingen blir mindre utsatt for brøyteskader. Må ikke forveksles med forsterket vegoppmerking.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8392</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plan nedfresing</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlanNedfresingVegoppmerking, langsgåendeEnumerationType nvdb:PlanNedfresingVegoppmerking, langsgåendeOtherType"/>
   </simpleType>
   <simpleType name="PlanNedfresingVegoppmerking, langsgåendeEnumerationType">
      <annotation>
         <documentation>8392: Angir hvorvidt det er frest ned et plant spor/forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bl.a. at vegmerkingen blir mindre utsatt for brøyteskader. Må ikke forveksles med forsterket vegoppmerking.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8392</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plan nedfresing</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11302</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16774</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlanNedfresingVegoppmerking, langsgåendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ProfileringVegoppmerking, langsgåendeType">
      <annotation>
         <documentation>2266: Angir om vegoppmerkingen er profilert eller ikke, og i tilfelle hvilken type profilering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Profilering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ProfileringVegoppmerking, langsgåendeEnumerationType nvdb:ProfileringVegoppmerking, langsgåendeOtherType"/>
   </simpleType>
   <simpleType name="ProfileringVegoppmerking, langsgåendeEnumerationType">
      <annotation>
         <documentation>2266: Angir om vegoppmerkingen er profilert eller ikke, og i tilfelle hvilken type profilering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Profilering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="D">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16772</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dråpe kombi</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="PD">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4099</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dråpeflex</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4097</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kamflex</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4098</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Longflex</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4095</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plan linje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ProfileringVegoppmerking, langsgåendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegoppmerking, langsgåendeType">
      <annotation>
         <documentation>1152: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1152</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeVegoppmerking, langsgåendeEnumerationType nvdb:TypeVegoppmerking, langsgåendeOtherType"/>
   </simpleType>
   <simpleType name="TypeVegoppmerking, langsgåendeEnumerationType">
      <annotation>
         <documentation>1152: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1152</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="SS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5326</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel sperrelinje (1006.4-SS)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5327</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel varsellinje (1006.5-VV)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KH">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5330</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kantlinje, heltrukket (1012.1)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5331</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kantlinje, stiplet (1012.2)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5323</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjørefelt-/Sperrelinje (1006.2-FS)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5320</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjørefelt-/Varsellinje (1006.1-FV)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5317</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjørefeltlinje (1000-F)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5329</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ledelinje (1010)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2804</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Linje, parkering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5328</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skillelinje (1008)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5322</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sperre-/Kjørefeltlinje (1006.2-SF)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5325</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sperre-/Varsellinje (1006.3-SV)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5319</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sperrelinje (1004-S)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ØY">
            <annotation>
               <documentation>5406: Sperreområde som er fylt med fysisk opphøyd areal.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5406</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sperreområde, fysisk (1014)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SKR">
            <annotation>
               <documentation>5332: Sperreområde som er fylt med enten heldekkende maling, skravur eller ingen maling. NB! Skravur og fyll skal registreres som tversgående vegoppmerking.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5332</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sperreområde, oppmerket (1014)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12086</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tettstedlinje (1002-T)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5321</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Varsel-/Kjørefeltlinje (1006.1-VF)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5324</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Varsel-/Sperrelinje (1006.3-VS)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5318</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Varsellinje (1002-V)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LL">
            <annotation>
               <documentation>10143: Benyttes når dobbel sperrelinje brytes foran gangfelt eller i forbindelse med avkjørsler.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10143</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpning i dobbel sperrelinje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegoppmerking, langsgåendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VegbanereflektorVegoppmerking, langsgåendeType">
      <annotation>
         <documentation>1909: Angir om oppmerkingslinja har vegbanereflektor eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1909</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegbanereflektor</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VegbanereflektorVegoppmerking, langsgåendeEnumerationType nvdb:VegbanereflektorVegoppmerking, langsgåendeOtherType"/>
   </simpleType>
   <simpleType name="VegbanereflektorVegoppmerking, langsgåendeEnumerationType">
      <annotation>
         <documentation>1909: Angir om oppmerkingslinja har vegbanereflektor eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1909</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegbanereflektor</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3528</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3566</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VegbanereflektorVegoppmerking, langsgåendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegoppmerking, langsgående"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Vegoppmerking, langsgåendeType">
      <annotation>
         <documentation>99: Vegoppmerking nyttes for å lede, varsle eller regulere trafikken, og for å klargjøre andre bestemmelser gitt ved trafikkskilt eller trafikkregler. (050). Langsgående oppmerking omfatter alle langsgående oppmerka linjer og sperreområder, også inkludert oppmerking av trafikkøyer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">99</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegoppmerking, langsgående</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Vegoppmerking, langsgåendeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde"
                        type="nvdb:BruksområdeVegoppmerking, langsgåendeType">
                  <annotation>
                     <documentation>4520: Angir bruksområde for vegobjekttypen. Dette er en tilleggsopplysning til typen. Det er ikke aktuelt å gi til alle typer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4520</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeVegoppmerking, langsgåendeType">
                  <annotation>
                     <documentation>1152: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1152</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="linjemønster"
                        type="nvdb:LinjemønsterVegoppmerking, langsgåendeType">
                  <annotation>
                     <documentation>4517: Angir mønster (stipling) for oppmerkingspunkt. Angis som lengde av en punktdel + lengde av mellomrom. Disse verdiene er avhengige av hastighetsområde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4517</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Linjemønster</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde_Enkeltlinje">
                  <annotation>
                     <documentation>4514: Angir normal bredde av enkeltlinje. For sperreområde gjelder bredde omslutningslinje.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4514</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, enkeltlinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1329: Angir lengde av vegobjektet, er normalt avledet fra geometri/stedfesting.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1329</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="farge" type="nvdb:FargeVegoppmerking, langsgåendeType">
                  <annotation>
                     <documentation>1295: Angir hovedfarge til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1295</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vedtaksnummer" type="string">
                  <annotation>
                     <documentation>7841: Angir vedtaksnummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7841</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedtaksnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="profilering"
                        type="nvdb:ProfileringVegoppmerking, langsgåendeType">
                  <annotation>
                     <documentation>2266: Angir om vegoppmerkingen er profilert eller ikke, og i tilfelle hvilken type profilering.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2266</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Profilering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="planNedfresing">
                  <annotation>
                     <documentation>8392: Angir hvorvidt det er frest ned et plant spor/forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bl.a. at vegmerkingen blir mindre utsatt for brøyteskader. Må ikke forveksles med forsterket vegoppmerking.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8392</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plan nedfresing</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vegbanereflektor"
                        type="nvdb:VegbanereflektorVegoppmerking, langsgåendeType">
                  <annotation>
                     <documentation>1909: Angir om oppmerkingslinja har vegbanereflektor eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1909</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vegbanereflektor</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengdeOmslutningslinje" type="integer">
                  <annotation>
                     <documentation>4515: Angir lengde av sperreområdets omslutningspunkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4515</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde omslutningslinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tykkelse" type="double">
                  <annotation>
                     <documentation>1624: Angir tykkelse av vegoppmerkingen. Normalverdier for sprayplast: 1,0 1,5 eller 2,0 ( millimeter ). Normalverdier for ekstrudert : 1,5 2,0 eller 3,0 ( millimeter ). Normalverdi for maling : 0,4 ( millimeter ).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1624</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="materialtype"
                        type="nvdb:MaterialtypeVegoppmerking, langsgåendeType">
                  <annotation>
                     <documentation>1413: Angir primær materialtype for vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1413</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>11423: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11423</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11082: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11082</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12322: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12322</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4798: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4798</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Vegoppmerking, langsgåendePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegoppmerking, langsgående"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
