GML/998.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>998: Informasjon om bruas tilstand med hensyn på bæreevne. Baserer seg på hvilke trafikklaster bruas bæreevne er godkjent for.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Tilstandsindikator, bæreevne bru"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Tilstandsindikator, bæreevne bruType">
      <annotation>
         <documentation>998: Informasjon om bruas tilstand med hensyn på bæreevne. Baserer seg på hvilke trafikklaster bruas bæreevne er godkjent for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">998</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilstandsindikator, bæreevne bru</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Tilstandsindikator, bæreevne bruType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="tilstandsindikatorverdi" type="double">
                  <annotation>
                     <documentation>12976: Tilstandsindikator for bru. Beregningsregler er under utvikling. Baserer seg på hvilke trafikklaster bruas bæreevne er godkjent for. Tilstand angis med verdi 0 til 3. 0: Ingen avvik: Brua er godkjent for bruksklasse Bk10/60, Sv 12/65 og Sv 12/100. 1: Mindre eller moderate avvik - Brua er godkjent for bruksklasse Bk10/60, Sv 12/65 og Sv 12/100 med restriksjon. 2: Vesentlig avvik - Brua er godkjent for  Bk10/60 og Sv 12/100 med restriksjon. 3: Stort eller alvorlig avvik - brua er ikke godkjent for  Bk10/60, Sv 12/65 og Sv 12/100, eller merket med veggruppe "ikke".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12976</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilstandsindikatorverdi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="beregningsårForIndikator" type="double">
                  <annotation>
                     <documentation>12974: Angir hvilket år beregningene er gjort.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12974</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beregningsår for indikator</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>12968: Brulengde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12968</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>12975: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12975</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Tilstandsindikator, bæreevne bruPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tilstandsindikator, bæreevne bru"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
