GML/PS/OLFV_SVV/2.38/167.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>167: En enhet som gir en impuls til styreapparatet når den blir aktivert av en trafikant.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeSensor i vegbanenType">
      <annotation>
         <documentation>3513: Angir hva detektoren hovedsakelig brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3513</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeSensor i vegbanenEnumerationType nvdb:BruksområdeSensor i vegbanenOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeSensor i vegbanenEnumerationType">
      <annotation>
         <documentation>3513: Angir hva detektoren hovedsakelig brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3513</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="atk">
            <annotation>
               <documentation>16760: Detektor benyttet i forbindelse med ATK.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16760</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">ATK</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="signMot">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13703</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalregulering motorkjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SignSyk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13704</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalregulering sykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Signalregulering, fotgjenger">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18405</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalregulering, fotgjenger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TrafMot">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13705</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkregistrering motorkjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TrafSyk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13706</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkregistrering sykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Trafikkregistrering, fotgjenger">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18406</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkregistrering, fotgjenger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vegbom">
            <annotation>
               <documentation>20907: For å detektere om det er kjøretøy under en vegbom i forbindelse med automatisk lukking av bommen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20907</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegbom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="W">
            <annotation>
               <documentation>22506: Weight in motion (WIM) for å registrere vekt på kjøretøy/akselvekt i fart.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22506</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">WIM</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeSensor i vegbanenOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Sensor i vegbanen"
            substitutionGroup="nvdb:AbstraktDetektor_Trafikk"
            type="nvdb:Sensor i vegbanenType">
      <annotation>
         <documentation>167: En enhet som gir en impuls til styreapparatet når den blir aktivert av en trafikant.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">167</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sensor i vegbanen</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Sensor i vegbanenType">
      <complexContent>
         <extension base="nvdb:AbstraktDetektor_TrafikkType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeSensor i vegbanenType">
                  <annotation>
                     <documentation>3513: Angir hva detektoren hovedsakelig brukes til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3513</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeSensor i vegbanenType">
                  <annotation>
                     <documentation>1183: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1183</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>3876: Angir lengde (i vegens retning).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3876</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde" type="double">
                  <annotation>
                     <documentation>3849: Angir bredde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3849</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10283: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10283</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4833: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4833</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Sensor i vegbanenPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Sensor i vegbanen"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeSensor i vegbanenType">
      <annotation>
         <documentation>1183: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSensor i vegbanenEnumerationType nvdb:TypeSensor i vegbanenOtherType"/>
   </simpleType>
   <simpleType name="TypeSensor i vegbanenEnumerationType">
      <annotation>
         <documentation>1183: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="im">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4895</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Induktivsløyfe, motorkjøretøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="is">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4896</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Induktivsløyfe, sykkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pe">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4897</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Piezo-elektrisk kabel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mm">
            <annotation>
               <documentation>22378: Detektor som registrerer magnetisk feltstyrke/flukstetthet fra passerende kjøretøy.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22378</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Magnetometer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="qm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22508</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Quartz med induktive sløyfer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="qu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22507</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Quartz uten induktive sløyfer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSensor i vegbanenOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
