GML/PS/OLFV_SVV/2.38/172.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>172: Fysisk skille mellom trafikkstrømmer, inkluderer også malte sperreområder.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BelegningTrafikkdelerType">
      <annotation>
         <documentation>2158: Angir hvilken type belegning det er på trafikkdeler.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2158</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelegningTrafikkdelerEnumerationType nvdb:BelegningTrafikkdelerOtherType"/>
   </simpleType>
   <simpleType name="BelegningTrafikkdelerEnumerationType">
      <annotation>
         <documentation>2158: Angir hvilken type belegning det er på trafikkdeler.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2158</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4054</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ba">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4051</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bark</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5407</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5556</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, farget</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5557</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, mønstret</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5558</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, mønstret og farget</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5559</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongheller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7933</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11233</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Granitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4052</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grønt/beplantning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5564</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11232</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiferheller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4050</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5563</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein, brostein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5561</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein, faststøpt i betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5562</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein, rundstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelegningTrafikkdelerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeTrafikkdelerType">
      <annotation>
         <documentation>1281: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1281</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeTrafikkdelerEnumerationType nvdb:BruksområdeTrafikkdelerOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeTrafikkdelerEnumerationType">
      <annotation>
         <documentation>1281: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1281</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3215</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Midtdeler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3217</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skille hovedveg og g/s-veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3218</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkdeler hovedveg/lokalveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ps">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3914</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkdeler mellom parallelle strømmer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3216</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkdeler v lomme</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeTrafikkdelerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MøtefriVegTrafikkdelerType">
      <annotation>
         <documentation>9499: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen. Med møtefri veg menes at det er rekkverk eller tilsvarende som hindrer kjøretøy å komme over i motgående kjørefelt. Veg med trafikkdeler (midtdeler) over 7 meter regnes som møtefri selv om det ikke er fysisk hinder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9499</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Møtefri veg</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MøtefriVegTrafikkdelerEnumerationType nvdb:MøtefriVegTrafikkdelerOtherType"/>
   </simpleType>
   <simpleType name="MøtefriVegTrafikkdelerEnumerationType">
      <annotation>
         <documentation>9499: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen. Med møtefri veg menes at det er rekkverk eller tilsvarende som hindrer kjøretøy å komme over i motgående kjørefelt. Veg med trafikkdeler (midtdeler) over 7 meter regnes som møtefri selv om det ikke er fysisk hinder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9499</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Møtefri veg</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>13382: "Ja" hvis trafikkdeler har fysisk hinder som rekkverk, etc, eller er bredere enn 7 meter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13382</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>13383: "Nei" hvis det er kun forhøyet med kantstein, adskilt med gjerde etc.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13383</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MøtefriVegTrafikkdelerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trafikkdeler"
            substitutionGroup="nvdb:AbstraktTrafikkdeler"
            type="nvdb:TrafikkdelerType">
      <annotation>
         <documentation>172: Fysisk skille mellom trafikkstrømmer, inkluderer også malte sperreområder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">172</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkdeler</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrafikkdelerType">
      <complexContent>
         <extension base="nvdb:AbstraktTrafikkdelerType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeTrafikkdelerType">
                  <annotation>
                     <documentation>1281: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1281</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="møtefriVeg">
                  <annotation>
                     <documentation>9499: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen. Med møtefri veg menes at det er rekkverk eller tilsvarende som hindrer kjøretøy å komme over i motgående kjørefelt. Veg med trafikkdeler (midtdeler) over 7 meter regnes som møtefri selv om det ikke er fysisk hinder.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9499</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Møtefri veg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="belegning" type="nvdb:BelegningTrafikkdelerType">
                  <annotation>
                     <documentation>2158: Angir hvilken type belegning det er på trafikkdeler.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2158</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>2243: Angir standardbredde av trafikkdeleren, det vil si den bredden som er mest representativ.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2243</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10376: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10376</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>8879: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8879</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrafikkdelerPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trafikkdeler"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
