GML/PS/OLFV_SVV/2.38/181.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>181: Mast i forbindelse med veg/gatebelysning. Normalt har mast påmontert lysarmatur, men kan også være mast uten lysarmatur som benyttes for framføring av kabel.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BardunStreverLysmastType">
      <annotation>
         <documentation>4528: Angir om lysmast/lysstolpe har bardun eller strever.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4528</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bardun/strever</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BardunStreverLysmastEnumerationType nvdb:BardunStreverLysmastOtherType"/>
   </simpleType>
   <simpleType name="BardunStreverLysmastEnumerationType">
      <annotation>
         <documentation>4528: Angir om lysmast/lysstolpe har bardun eller strever.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4528</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bardun/strever</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5408</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11764</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BardunStreverLysmastOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BoltavstandFotplateLysmastType">
      <annotation>
         <documentation>10017: Avstand mellom boltene på fotplaten.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10017</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Boltavstand fotplate</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BoltavstandFotplateLysmastEnumerationType nvdb:BoltavstandFotplateLysmastOtherType"/>
   </simpleType>
   <simpleType name="BoltavstandFotplateLysmastEnumerationType">
      <annotation>
         <documentation>10017: Avstand mellom boltene på fotplaten.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10017</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Boltavstand fotplate</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="160">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16289</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">c/c bolter 160 mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="200">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16290</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">c/c bolter 200 mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="240">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16291</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">c/c bolter 240 mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="is">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16292</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke standard avstand</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BoltavstandFotplateLysmastOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EttergivendeMastLysmastType">
      <annotation>
         <documentation>1662: Angir om mast gir etter ved påkjørsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1662</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ettergivende mast</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EttergivendeMastLysmastEnumerationType nvdb:EttergivendeMastLysmastOtherType"/>
   </simpleType>
   <simpleType name="EttergivendeMastLysmastEnumerationType">
      <annotation>
         <documentation>1662: Angir om mast gir etter ved påkjørsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1662</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ettergivende mast</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ne">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16273</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, avskjæringsledd, type NE</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="he">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16272</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, deformasjon, type HE</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ts">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16274</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, tremast med svekking</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3515</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, ukjent type</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3553</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EttergivendeMastLysmastOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringLysmastType">
      <annotation>
         <documentation>10016: Angir hvilken type fundamentering masten har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10016</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FundamenteringLysmastEnumerationType nvdb:FundamenteringLysmastOtherType"/>
   </simpleType>
   <simpleType name="FundamenteringLysmastEnumerationType">
      <annotation>
         <documentation>10016: Angir hvilken type fundamentering masten har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10016</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bet">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16279</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongfundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fot">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16280</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fotplate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fje">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16281</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/på fjell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fjf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16282</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/på fjellfundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jof">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16283</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/på jordfundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jos">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16284</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jordstikk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nes">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16285</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nedstikk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pst">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16287</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plasstøpt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="stf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16288</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stålfundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringLysmastOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Lysmast"
            substitutionGroup="nvdb:AbstraktLysmast"
            type="nvdb:LysmastType">
      <annotation>
         <documentation>181: Mast i forbindelse med veg/gatebelysning. Normalt har mast påmontert lysarmatur, men kan også være mast uten lysarmatur som benyttes for framføring av kabel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">181</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysmast</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="LysmastType">
      <complexContent>
         <extension base="nvdb:AbstraktLysmastType">
            <sequence>
               <element name="type" type="nvdb:TypeLysmastType">
                  <annotation>
                     <documentation>1189: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1189</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="ettergivendeMast">
                  <annotation>
                     <documentation>1662: Angir om mast gir etter ved påkjørsel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1662</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ettergivende mast</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fundamentering" type="nvdb:FundamenteringLysmastType">
                  <annotation>
                     <documentation>10016: Angir hvilken type fundamentering masten har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10016</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="boltavstandFotplate">
                  <annotation>
                     <documentation>10017: Avstand mellom boltene på fotplaten.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10017</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Boltavstand fotplate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="totalMastelengde" type="double">
                  <annotation>
                     <documentation>1338: Angir lengde av mast.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1338</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Total mastelengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="utligger" type="nvdb:UtliggerLysmastType">
                  <annotation>
                     <documentation>3895: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3895</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utligger</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bardunStrever">
                  <annotation>
                     <documentation>4528: Angir om lysmast/lysstolpe har bardun eller strever.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4528</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bardun/strever</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="overflatebehandling" type="nvdb:OverflatebehandlingLysmastType">
                  <annotation>
                     <documentation>10587: Angir overflatebehandling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10587</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="RAL_Kode" type="string">
                  <annotation>
                     <documentation>3886: Angir lakkfargekode for mast. Bare aktuelt for lakkerte master.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3886</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">RAL-kode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10324: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10324</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>3887: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3887</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>1541: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1541</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>10019: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10019</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4838: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4838</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="LysmastPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Lysmast"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="OverflatebehandlingLysmastType">
      <annotation>
         <documentation>10587: Angir overflatebehandling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10587</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OverflatebehandlingLysmastEnumerationType nvdb:OverflatebehandlingLysmastOtherType"/>
   </simpleType>
   <simpleType name="OverflatebehandlingLysmastEnumerationType">
      <annotation>
         <documentation>10587: Angir overflatebehandling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10587</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>21302: Beskrives under tilleggsinformasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21302</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen behandling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16978</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16977</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Eloksert aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16974</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Galvanisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16975</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Galvanisert og pulverlakkert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16976</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Galvanisert og våtlakkert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <documentation>21303: Ingen spesiell overflatebehandling.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21303</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen behandling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingLysmastOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeLysmastType">
      <annotation>
         <documentation>1189: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1189</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeLysmastEnumerationType nvdb:TypeLysmastOtherType"/>
   </simpleType>
   <simpleType name="TypeLysmastEnumerationType">
      <annotation>
         <documentation>1189: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1189</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="tm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16304</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aluminiumsmast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3767</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gittermast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16301</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Komposittmast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2225</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stålmast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3769</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stålmast, 6-kantet, konisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="km">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4685</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stålmast, konisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4690</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stålmast, rett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16302</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stålmast, sylindrisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4691</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stålmast, teleskop</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2183</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tremast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16300</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tremast, svekket</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeLysmastOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UtliggerLysmastType">
      <annotation>
         <documentation>3895: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3895</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utligger</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UtliggerLysmastEnumerationType nvdb:UtliggerLysmastOtherType"/>
   </simpleType>
   <simpleType name="UtliggerLysmastEnumerationType">
      <annotation>
         <documentation>3895: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3895</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utligger</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4692</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4693</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UtliggerLysmastOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
