GML/PS/OLFV_SVV/2.38/3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>3: En frittstående konstruksjon som skal være et hinder for f.eks. støyutbredelse.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeSkjermType">
      <annotation>
         <documentation>1247: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1247</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeSkjermEnumerationType nvdb:BruksområdeSkjermOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeSkjermEnumerationType">
      <annotation>
         <documentation>1247: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1247</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ls">
            <annotation>
               <documentation>3287: Skjerm som primært er benyttet for å skjerme omgivelser mot sprut/støv fra veg, snø fra brøyting, innsyn, skjerming mot jernbane, vind etc. og samtidig ikke har funksjon i forhold til støyskjerming.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3287</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Leskjerm/sikringsskjerm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <documentation>1994: Skjerm benyttes primært for å skjerme omgivelser mot støy.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">1994</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Støyskjerm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeSkjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="LydabsorberendeSkjermType">
      <annotation>
         <documentation>1606: Angir om vegobjektet er lydabsorberende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1606</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lydabsorberende</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LydabsorberendeSkjermEnumerationType nvdb:LydabsorberendeSkjermOtherType"/>
   </simpleType>
   <simpleType name="LydabsorberendeSkjermEnumerationType">
      <annotation>
         <documentation>1606: Angir om vegobjektet er lydabsorberende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1606</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lydabsorberende</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3511</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3549</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LydabsorberendeSkjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeSkjermSkjermType">
      <annotation>
         <documentation>1087: Angir materialtype for skjerm.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1087</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale skjerm</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeSkjermSkjermEnumerationType nvdb:MaterialeSkjermSkjermOtherType"/>
   </simpleType>
   <simpleType name="MaterialeSkjermSkjermEnumerationType">
      <annotation>
         <documentation>1087: Angir materialtype for skjerm.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1087</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale skjerm</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3321</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3339</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17393</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Herdet glass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ks">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2359</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kunststoff</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2222</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4963</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2261</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="px">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2367</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pleksiglass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3350</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tegl</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TM">
            <annotation>
               <documentation>17223: Skjerm som er bygd opp med torv og fremstår som gressdekket.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17223</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Torvmur med gress</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2181</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeSkjermSkjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeSøylerSkjermType">
      <annotation>
         <documentation>1665: Angir hvilken type søyler skjermen har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1665</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale søyler</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeSøylerSkjermEnumerationType nvdb:MaterialeSøylerSkjermOtherType"/>
   </simpleType>
   <simpleType name="MaterialeSøylerSkjermEnumerationType">
      <annotation>
         <documentation>1665: Angir hvilken type søyler skjermen har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1665</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale søyler</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="al">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3799</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3798</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3349</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3800</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3347</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeSøylerSkjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingSkjermType">
      <annotation>
         <documentation>1599: Angir hvordan vegobjektet er overflatebehandla.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1599</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OverflatebehandlingSkjermEnumerationType nvdb:OverflatebehandlingSkjermOtherType"/>
   </simpleType>
   <simpleType name="OverflatebehandlingSkjermEnumerationType">
      <annotation>
         <documentation>1599: Angir hvordan vegobjektet er overflatebehandla.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1599</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2158</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="im">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2164</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Impregnert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <documentation>19464: Overflatebehandling er enten ikke relevant eller det er bevisst ubehandlet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19464</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2176</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lakkert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2151</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2170</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oljet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingSkjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Skjerm"
            substitutionGroup="nvdb:AbstraktSkjerm"
            type="nvdb:SkjermType">
      <annotation>
         <documentation>3: En frittstående konstruksjon som skal være et hinder for f.eks. støyutbredelse.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjerm</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SkjermType">
      <complexContent>
         <extension base="nvdb:AbstraktSkjermType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeSkjermType">
                  <annotation>
                     <documentation>1247: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1247</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialeSkjerm">
                  <annotation>
                     <documentation>1087: Angir materialtype for skjerm.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1087</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale skjerm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="materialeSøyler">
                  <annotation>
                     <documentation>1665: Angir hvilken type søyler skjermen har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1665</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale søyler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1296: Angir lengde av skjermvegg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1296</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde" type="double">
                  <annotation>
                     <documentation>9823: Angir skjermveggens gjennomsnittlige egenhøyde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9823</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="areal" type="double">
                  <annotation>
                     <documentation>1352: Angir arealet av skjermvegg, inkludert ev. glassfelt. Det angis areal av ei side.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1352</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="søyleavstand" type="double">
                  <annotation>
                     <documentation>9832: Angir gjennomsnittlig avstand mellom søylene i ei søylerekke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9832</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Søyleavstand</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="typeGjennomsiktigVegg">
                  <annotation>
                     <documentation>3951: Angir hvilket materiale gjennomsiktig vegg er laget av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3951</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type gjennomsiktig vegg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arealGjennomsiktigVegg" type="double">
                  <annotation>
                     <documentation>1611: Angir totalt areal av gjennomsiktig skjerm. F.eks. pleksiglass, herdeglass osv.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1611</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal gjennomsiktig vegg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="lydabsorberende"
                        type="nvdb:LydabsorberendeSkjermType">
                  <annotation>
                     <documentation>1606: Angir om vegobjektet er lydabsorberende.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1606</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lydabsorberende</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="overflatebehandling"
                        type="nvdb:OverflatebehandlingSkjermType">
                  <annotation>
                     <documentation>1599: Angir hvordan vegobjektet er overflatebehandla.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1599</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9936: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9936</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4712: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4712</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SkjermPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Skjerm"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeGjennomsiktigVeggSkjermType">
      <annotation>
         <documentation>3951: Angir hvilket materiale gjennomsiktig vegg er laget av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3951</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type gjennomsiktig vegg</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeGjennomsiktigVeggSkjermEnumerationType nvdb:TypeGjennomsiktigVeggSkjermOtherType"/>
   </simpleType>
   <simpleType name="TypeGjennomsiktigVeggSkjermEnumerationType">
      <annotation>
         <documentation>3951: Angir hvilket materiale gjennomsiktig vegg er laget av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3951</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type gjennomsiktig vegg</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4962</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Herdet glass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4961</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pleksiglass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="PK">
            <annotation>
               <documentation>21937: Benevnt som "uknuselig"</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21937</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Polykarbonat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeGjennomsiktigVeggSkjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
