GML/PS/OLFV_SVV/2.38/48.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>48: Del av vegen reservert for gående. Som regel ligger fortau høyere enn kjørebanen og er atskilt fra denne med kantstein (1).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BelegningFortauType">
      <annotation>
         <documentation>5637: Angir hvilken belegning det er på fortauet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelegningFortauEnumerationType nvdb:BelegningFortauOtherType"/>
   </simpleType>
   <simpleType name="BelegningFortauEnumerationType">
      <annotation>
         <documentation>5637: Angir hvilken belegning det er på fortauet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7928</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7922</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7923</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, farget</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7925</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, heller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7924</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, mønstret og farget</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7926</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="br">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7927</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brostein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11231</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Granitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7929</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11230</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiferheller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelegningFortauOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Fortau"
            substitutionGroup="nvdb:AbstraktFortau"
            type="nvdb:FortauType">
      <annotation>
         <documentation>48: Del av vegen reservert for gående. Som regel ligger fortau høyere enn kjørebanen og er atskilt fra denne med kantstein (1).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">48</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fortau</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FortauType">
      <complexContent>
         <extension base="nvdb:AbstraktFortauType">
            <sequence>
               <element name="belegning" type="nvdb:BelegningFortauType">
                  <annotation>
                     <documentation>5637: Angir hvilken belegning det er på fortauet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5637</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>2241: Angir gjennomsnittlig bredde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2241</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="varmekabler" type="nvdb:VarmekablerFortauType">
                  <annotation>
                     <documentation>1830: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1830</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10295: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10295</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4755: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4755</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FortauPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fortau"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VarmekablerFortauType">
      <annotation>
         <documentation>1830: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1830</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VarmekablerFortauEnumerationType nvdb:VarmekablerFortauOtherType"/>
   </simpleType>
   <simpleType name="VarmekablerFortauEnumerationType">
      <annotation>
         <documentation>1830: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1830</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3522</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3560</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VarmekablerFortauOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
