GML/PS/OLFV_SVV/2.38/609.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>609: Benyttes geoteknisk for å øke bæreevnen og som stabiliserende tiltak. Stålarmering kan benyttes for å hindre telesprekker i asfalt.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Armeringsnett"
            substitutionGroup="nvdb:AbstraktArmeringsnett"
            type="nvdb:ArmeringsnettType">
      <annotation>
         <documentation>609: Benyttes geoteknisk for å øke bæreevnen og som stabiliserende tiltak. Stålarmering kan benyttes for å hindre telesprekker i asfalt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">609</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Armeringsnett</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="ArmeringsnettType">
      <complexContent>
         <extension base="nvdb:AbstraktArmeringsnettType">
            <sequence>
               <element name="materialtype" type="nvdb:MaterialtypeArmeringsnettType">
                  <annotation>
                     <documentation>5483: Angir hvilket materiale armeringsnettet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5483</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringArmeringsnettType">
                  <annotation>
                     <documentation>11321: Angir hvor i konstruksjonen armeringsnettet er plassert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11321</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>7036: Angir gjennomsnittsbredde av armeringsnett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7036</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="utleggingsdato" type="date">
                  <annotation>
                     <documentation>5544: Angir dato for utlegging.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5544</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utleggingsdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>6906: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6906</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArmeringsnettPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Armeringsnett"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialtypeArmeringsnettType">
      <annotation>
         <documentation>5483: Angir hvilket materiale armeringsnettet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5483</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeArmeringsnettEnumerationType nvdb:MaterialtypeArmeringsnettOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeArmeringsnettEnumerationType">
      <annotation>
         <documentation>5483: Angir hvilket materiale armeringsnettet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5483</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7450</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glassfiber</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7452</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7451</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <documentation>19120: Metode med bakhun/bord. Ikke aktuell på nye anlegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19120</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeArmeringsnettOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringArmeringsnettType">
      <annotation>
         <documentation>11321: Angir hvor i konstruksjonen armeringsnettet er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11321</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringArmeringsnettEnumerationType nvdb:PlasseringArmeringsnettOtherType"/>
   </simpleType>
   <simpleType name="PlasseringArmeringsnettEnumerationType">
      <annotation>
         <documentation>11321: Angir hvor i konstruksjonen armeringsnettet er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11321</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="BI">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19122</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Under bindlag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19123</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Under bærelag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19124</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Under forsterkningslag/på traubunn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19121</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Under slitelag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FY">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19125</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Under/i fylling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringArmeringsnettOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
