GML/PS/OLFV_SVV/2.38/799.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>799: Jordvoll mot bergskjæring. Benyttes i første rekke som TS tiltak. Vollen har effekt i forhold til at en unngår dyp sidegrøft, samt at den skjermer noe for kollisjon med bergskjæring. Vollen skrår fra vegkant og opp mot bergskjæring. Kan være grunn sidegrøft.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Jordvoll mot bergskjæring"
            substitutionGroup="nvdb:AbstraktJordvollMotBergskjæring"
            type="nvdb:Jordvoll mot bergskjæringType">
      <annotation>
         <documentation>799: Jordvoll mot bergskjæring. Benyttes i første rekke som TS tiltak. Vollen har effekt i forhold til at en unngår dyp sidegrøft, samt at den skjermer noe for kollisjon med bergskjæring. Vollen skrår fra vegkant og opp mot bergskjæring. Kan være grunn sidegrøft.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordvoll mot bergskjæring</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Jordvoll mot bergskjæringType">
      <complexContent>
         <extension base="nvdb:AbstraktJordvollMotBergskjæringType">
            <sequence>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10313: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10313</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9299: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9299</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Jordvoll mot bergskjæringPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Jordvoll mot bergskjæring"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
