GML/PS/OLFV_SVV/2.38/844.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>844: Grøft som fører vann fra topp skjæring ned til kum/stikkrenne.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="MaterialeNedføringsrenneType">
      <annotation>
         <documentation>9579: Angir hvilken type materiale vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9579</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeNedføringsrenneEnumerationType nvdb:MaterialeNedføringsrenneOtherType"/>
   </simpleType>
   <simpleType name="MaterialeNedføringsrenneEnumerationType">
      <annotation>
         <documentation>9579: Angir hvilken type materiale vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9579</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13799</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13809</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Berg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13800</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13802</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13801</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13803</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeNedføringsrenneOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Nedføringsrenne"
            substitutionGroup="nvdb:AbstraktNedføringsrenne"
            type="nvdb:NedføringsrenneType">
      <annotation>
         <documentation>844: Grøft som fører vann fra topp skjæring ned til kum/stikkrenne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">844</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedføringsrenne</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="NedføringsrenneType">
      <complexContent>
         <extension base="nvdb:AbstraktNedføringsrenneType">
            <sequence>
               <element name="utforming" type="nvdb:UtformingNedføringsrenneType">
                  <annotation>
                     <documentation>9584: Angir hvilken utforming nedføringsrenne har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9584</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale" type="nvdb:MaterialeNedføringsrenneType">
                  <annotation>
                     <documentation>9579: Angir hvilken type materiale vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9579</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengde" type="double">
                  <annotation>
                     <documentation>9585: Angir total lengde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9585</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9583: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9583</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="NedføringsrennePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Nedføringsrenne"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="UtformingNedføringsrenneType">
      <annotation>
         <documentation>9584: Angir hvilken utforming nedføringsrenne har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9584</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UtformingNedføringsrenneEnumerationType nvdb:UtformingNedføringsrenneOtherType"/>
   </simpleType>
   <simpleType name="UtformingNedføringsrenneEnumerationType">
      <annotation>
         <documentation>9584: Angir hvilken utforming nedføringsrenne har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9584</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ld">
            <annotation>
               <documentation>13804: Benyttes i fjellskjæringer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13804</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Loddrett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <documentation>13805: Benyttes i jordskjæring.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13805</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skrå</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UtformingNedføringsrenneOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
