GML/PS/OLFV_SVV/2.38/845.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>845: Gjerde som settes opp for å fange opp steinsprang eller mindre skred.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AdkomstFanggjerdeType">
      <annotation>
         <documentation>9602: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AdkomstFanggjerdeEnumerationType nvdb:AdkomstFanggjerdeOtherType"/>
   </simpleType>
   <simpleType name="AdkomstFanggjerdeEnumerationType">
      <annotation>
         <documentation>9602: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="hj">
            <annotation>
               <documentation>19822: Adkomst er mulig med bil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19822</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gr">
            <annotation>
               <documentation>13817: Adkomst for gravemaskin.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13817</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gravemaskin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="he">
            <annotation>
               <documentation>13821: Adkomst for helikopter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13821</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helikopter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hj">
            <annotation>
               <documentation>13816: Adkomst er mulig med hjullaster.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13816</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hjullaster</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kr">
            <annotation>
               <documentation>13819: Adkomst for kran.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13819</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kran</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ta">
            <annotation>
               <documentation>13820: Adkomst med tau.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13820</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tau</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ft">
            <annotation>
               <documentation>13818: Adkomst til fots.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13818</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til fots</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AdkomstFanggjerdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Fanggjerde"
            substitutionGroup="nvdb:AbstraktFanggjerde"
            type="nvdb:FanggjerdeType">
      <annotation>
         <documentation>845: Gjerde som settes opp for å fange opp steinsprang eller mindre skred.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">845</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fanggjerde</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FanggjerdeType">
      <complexContent>
         <extension base="nvdb:AbstraktFanggjerdeType">
            <sequence>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>9597: Angir total lengde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9597</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde" type="double">
                  <annotation>
                     <documentation>9598: Angir egen-høyde av vegobjektet uavhengig av hvilken vinkel det står i.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9598</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="styrke" type="integer">
                  <annotation>
                     <documentation>9599: Energimengden fanggjerdet er konstruert for å motstå.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9599</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Styrke</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="gjennomsnittligAvstandFraVeg" type="integer">
                  <annotation>
                     <documentation>9600: Gjennomsnittlig avstand fra vegkant til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9600</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjennomsnittlig avstand fra veg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="helningsvinkelGjerde" type="integer">
                  <annotation>
                     <documentation>9601: Helningsgrad for vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9601</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Helningsvinkel gjerde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="adkomst" type="nvdb:AdkomstFanggjerdeType">
                  <annotation>
                     <documentation>9602: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9602</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9606: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9606</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="nvdb:ProdusentFanggjerdeType">
                  <annotation>
                     <documentation>9642: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9642</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9604: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9604</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FanggjerdePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fanggjerde"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="ProdusentFanggjerdeType">
      <annotation>
         <documentation>9642: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9642</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ProdusentFanggjerdeEnumerationType nvdb:ProdusentFanggjerdeOtherType"/>
   </simpleType>
   <simpleType name="ProdusentFanggjerdeEnumerationType">
      <annotation>
         <documentation>9642: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9642</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ar">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13863</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Avaroc</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="em">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13864</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">El Montagne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ge">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13865</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Geobrügg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="is">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13866</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Isofer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ma">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13867</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Maccaferri</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ts">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13868</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trumer Schutzbauten</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ProdusentFanggjerdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
