GML/PS/OLFV_SVV/2.38/846.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>846: Kjegler som settes opp i rader for å bremse snøskred og for å redusere utløpsdistansen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AdkomstBremsekjegler, snøskredType">
      <annotation>
         <documentation>9620: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9620</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AdkomstBremsekjegler, snøskredEnumerationType nvdb:AdkomstBremsekjegler, snøskredOtherType"/>
   </simpleType>
   <simpleType name="AdkomstBremsekjegler, snøskredEnumerationType">
      <annotation>
         <documentation>9620: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9620</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="hj">
            <annotation>
               <documentation>19823: Adkomst er mulig med bil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19823</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gr">
            <annotation>
               <documentation>13825: Adkomst for gravemaskin.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13825</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gravemaskin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="he">
            <annotation>
               <documentation>13829: Adkomst for helikopter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13829</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helikopter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hj">
            <annotation>
               <documentation>13824: Adkomst er mulig med hjullaster.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13824</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hjullaster</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kr">
            <annotation>
               <documentation>13827: Adkomst for kran.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13827</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kran</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ta">
            <annotation>
               <documentation>13828: Adkomst med tau.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13828</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tau</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ft">
            <annotation>
               <documentation>13826: Adkomst til fots.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13826</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til fots</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AdkomstBremsekjegler, snøskredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Bremsekjegler, snøskred"
            substitutionGroup="nvdb:AbstraktBremsekjegler_Snøskred"
            type="nvdb:Bremsekjegler, snøskredType">
      <annotation>
         <documentation>846: Kjegler som settes opp i rader for å bremse snøskred og for å redusere utløpsdistansen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">846</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bremsekjegler, snøskred</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Bremsekjegler, snøskredType">
      <complexContent>
         <extension base="nvdb:AbstraktBremsekjegler_SnøskredType">
            <sequence>
               <element name="kjegleform" type="nvdb:KjegleformBremsekjegler, snøskredType">
                  <annotation>
                     <documentation>9614: Angir form på kjeglene vegobjektet består av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9614</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kjegleform</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtypeStøtside">
                  <annotation>
                     <documentation>9621: Angir synlig materialtype på støtside av kjeglene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9621</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype støtside</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallKjegler" type="integer">
                  <annotation>
                     <documentation>9615: Antall kjegler innenfor området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9615</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall kjegler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallRader" type="integer">
                  <annotation>
                     <documentation>9616: Antall rader med kjegler innenfor området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9616</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall rader</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengdeBunnKjegle" type="double">
                  <annotation>
                     <documentation>9617: Gjennomsnittlig lengde av kjeglene på tvers av skredretningen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9617</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde bunn kjegle</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeStøtsideKjegle" type="double">
                  <annotation>
                     <documentation>9618: Gjennomsnittlig høyde fra bunn til topp av kjeglene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9618</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde støtside kjegle</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="helningStøtsideKjegle" type="integer">
                  <annotation>
                     <documentation>9619: Gjennomsnittlig helning fra bunn til topp av kjegle på støtsiden.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9619</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Helning støtside kjegle</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="adkomst" type="nvdb:AdkomstBremsekjegler, snøskredType">
                  <annotation>
                     <documentation>9620: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9620</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9622: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9622</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>9624: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9624</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Bremsekjegler, snøskredPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bremsekjegler, snøskred"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="KjegleformBremsekjegler, snøskredType">
      <annotation>
         <documentation>9614: Angir form på kjeglene vegobjektet består av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9614</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjegleform</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KjegleformBremsekjegler, snøskredEnumerationType nvdb:KjegleformBremsekjegler, snøskredOtherType"/>
   </simpleType>
   <simpleType name="KjegleformBremsekjegler, snøskredEnumerationType">
      <annotation>
         <documentation>9614: Angir form på kjeglene vegobjektet består av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9614</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjegleform</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13823</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oval</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13822</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rund</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KjegleformBremsekjegler, snøskredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeStøtsideBremsekjegler, snøskredType">
      <annotation>
         <documentation>9621: Angir synlig materialtype på støtside av kjeglene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9621</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype støtside</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeStøtsideBremsekjegler, snøskredEnumerationType nvdb:MaterialtypeStøtsideBremsekjegler, snøskredOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeStøtsideBremsekjegler, snøskredEnumerationType">
      <annotation>
         <documentation>9621: Angir synlig materialtype på støtside av kjeglene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9621</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype støtside</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="be">
            <annotation>
               <documentation>13834: Materialtype Betong.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13834</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ga">
            <annotation>
               <documentation>13833: Materialtype Gabioner.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13833</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gabioner</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gr">
            <annotation>
               <documentation>13831: Materialtype Grus.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13831</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jo">
            <annotation>
               <documentation>13830: Materialtype Jord.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13830</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jord</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sp">
            <annotation>
               <documentation>13832: Materialtype Sprengstein.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13832</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprengstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tø">
            <annotation>
               <documentation>13835: Materialtype Tørrsteinsmur.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13835</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tørrsteinsmur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeStøtsideBremsekjegler, snøskredOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
