GML/PS/OLFV_SVV/2.38/926.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>926: Område med peler/plate.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Pelerplate"
            substitutionGroup="nvdb:AbstraktPelerPlate"
            type="nvdb:PelerplateType">
      <annotation>
         <documentation>926: Område med peler/plate.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">926</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pelerplate</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="PelerplateType">
      <complexContent>
         <extension base="nvdb:AbstraktPelerPlateType">
            <sequence>
               <element name="type" type="nvdb:TypePelerplateType">
                  <annotation>
                     <documentation>11373: Angir hvilken type konstruksjon det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11373</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typePeler">
                  <annotation>
                     <documentation>11374: Angir hva slags type peler det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type peler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="pellengde_Maks" type="double">
                  <annotation>
                     <documentation>11375: Angir største pellengde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11375</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Pellengde, maks</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="double">
                  <annotation>
                     <documentation>11402: Angir areal av pelet område.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11402</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="double">
                  <annotation>
                     <documentation>11377: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11377</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>11349: Gir flate/polygon som avgrenser område med peler/plater.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11349</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="PelerplatePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Pelerplate"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypePelerPelerplateType">
      <annotation>
         <documentation>11374: Angir hva slags type peler det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type peler</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypePelerPelerplateEnumerationType nvdb:TypePelerPelerplateOtherType"/>
   </simpleType>
   <simpleType name="TypePelerPelerplateEnumerationType">
      <annotation>
         <documentation>11374: Angir hva slags type peler det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type peler</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19225</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19226</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19227</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypePelerPelerplateOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypePelerplateType">
      <annotation>
         <documentation>11373: Angir hvilken type konstruksjon det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11373</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypePelerplateEnumerationType nvdb:TypePelerplateOtherType"/>
   </simpleType>
   <simpleType name="TypePelerplateEnumerationType">
      <annotation>
         <documentation>11373: Angir hvilken type konstruksjon det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11373</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="H">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19222</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hatter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19224</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kontinuerlig plate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19223</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Striper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypePelerplateOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
