GML/PS/OLFV_SVV/2.38/931.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.38">
   <annotation>
      <documentation>931: Nedgravd kum/kasse for å plante tre/busker i. Beskytter/avgrenser rotsystemet til et tre.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="MaterialePlantekumType">
      <annotation>
         <documentation>11407: Angir hvilket materiale vegobjektet i hovedsak er laget av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11407</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialePlantekumEnumerationType nvdb:MaterialePlantekumOtherType"/>
   </simpleType>
   <simpleType name="MaterialePlantekumEnumerationType">
      <annotation>
         <documentation>11407: Angir hvilket materiale vegobjektet i hovedsak er laget av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11407</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19238</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19241</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="PK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19239</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast/kompositt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19240</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialePlantekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Plantekum"
            substitutionGroup="nvdb:AbstraktPlantekum"
            type="nvdb:PlantekumType">
      <annotation>
         <documentation>931: Nedgravd kum/kasse for å plante tre/busker i. Beskytter/avgrenser rotsystemet til et tre.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">931</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plantekum</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="PlantekumType">
      <complexContent>
         <extension base="nvdb:AbstraktPlantekumType">
            <sequence>
               <element name="materiale" type="nvdb:MaterialePlantekumType">
                  <annotation>
                     <documentation>11407: Angir hvilket materiale vegobjektet i hovedsak er laget av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11407</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dybde" type="double">
                  <annotation>
                     <documentation>11408: Angir hvor dypt vegobjektet er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11408</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dybde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>11412: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11412</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="PlantekumPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Plantekum"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
