GML/PS/OLFV_NV/2.34/163.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.33">
   <annotation>
      <documentation>163: Fastmontert video- eller fotokamera for trafikkovervåkning.</documentation>
   </annotation>
   <include schemaLocation="OLFV_NV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeKameraType">
      <annotation>
         <documentation>10971: Angir hva vegobjektet brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10971</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10971</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeKameraEnumerationType nvdb:BruksområdeKameraOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeKameraEnumerationType">
      <annotation>
         <documentation>10971: Angir hva vegobjektet brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10971</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10971</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Vær og føreforhold">
            <annotation>
               <documentation>18310: Overvåkning av vær og føreforhold.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18310</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vær og føreforhold</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hendelsesdetektering, AID">
            <annotation>
               <documentation>18312: Automatisk hendelsesdetektering, AID (automatic incident detection). Brukes når kamera er installert til det formålet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18312</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hendelsesdetektering, AID</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Overvåkning, trafikk">
            <annotation>
               <documentation>18316: Visuell overvåkning av trafikk uten AID.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18316</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Overvåkning, trafikk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Overvåkning, vegbom">
            <annotation>
               <documentation>20996: Visuell overvåkning av vegbom.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20996</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Overvåkning, vegbom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Overvåkning, basseng">
            <annotation>
               <documentation>20997: Visuell overvåkning av basseng.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20997</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Overvåkning, basseng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Overvåkning, teknisk bygg">
            <annotation>
               <documentation>20998: Visuell overvåkning av teknisk bygg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20998</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Overvåkning, teknisk bygg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Trafikkdetektering, signalanlegg">
            <annotation>
               <documentation>18311: Detektering av innkommende trafikk for styring av signalanlegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18311</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkdetektering, signalanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Trafikkdetektering, belysning">
            <annotation>
               <documentation>20999: Detektering av innkommende trafikk for styring av vegbelysning eller tunnelbelysning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20999</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkdetektering, belysning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bomstasjon">
            <annotation>
               <documentation>18313: Bomstasjon</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18313</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Annet formål">
            <annotation>
               <documentation>18314: Kamera som benyttes til andre formål. Det skal angis informasjon om bruksområdet under tilleggsinformasjon (ET11584).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18314</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet formål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeKameraOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierKameraType">
      <annotation>
         <documentation>8004: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8004</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8004</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierKameraEnumerationType nvdb:EierKameraOtherType"/>
   </simpleType>
   <simpleType name="EierKameraEnumerationType">
      <annotation>
         <documentation>8004: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8004</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8004</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Stat, Statens vegvesen">
            <annotation>
               <documentation>10270: Stat, Statens vegvesen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10270</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stat, Nye Veier">
            <annotation>
               <documentation>18569: Stat, Nye Veier</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18569</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylkeskommune">
            <annotation>
               <documentation>10732: Fylkeskommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10732</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kommune">
            <annotation>
               <documentation>10334: Kommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10334</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Privat">
            <annotation>
               <documentation>10398: Privat</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10398</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Uavklart">
            <annotation>
               <documentation>17581: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17581</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierKameraOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Kamera"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:KameraType">
      <annotation>
         <documentation>163: Fastmontert video- eller fotokamera for trafikkovervåkning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">163</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">163</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kamera</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="KameraType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeKameraType">
                  <annotation>
                     <documentation>10971: Angir hva vegobjektet brukes til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10971</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeKamera" type="nvdb:TypeKameraType">
                  <annotation>
                     <documentation>1179: Angir hvilken type kamera det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1179</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type kamera</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeTeknologi" type="nvdb:TypeTeknologiType">
                  <annotation>
                     <documentation>12080: Angir hvilken type teknologi som er benyttet i kameraet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12080</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type teknologi</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeTilkopling" type="nvdb:TypeTilkoplingType">
                  <annotation>
                     <documentation>7015: Angir hvilken type tilkopling kameraet har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7015</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type tilkopling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrType">
                  <annotation>
                     <documentation>3734: Angir hva utstyret er festet på.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3734</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="link" type="string">
                  <annotation>
                     <documentation>8140: Kan her legge inn url eller ip-adresse til kamera. Benyttes av Visveg for å få fram bilder.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8140</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Link</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>4075: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4075</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10468: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10468</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>1536: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1536</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>1457: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1457</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="leverandør" type="string">
                  <annotation>
                     <documentation>1497: Angir navn på firma som har levert vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1497</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Leverandør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11089: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11089</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12330: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12330</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierKameraType">
                  <annotation>
                     <documentation>8004: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8004</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligKameraType">
                  <annotation>
                     <documentation>8069: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8069</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4829: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4829</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="assosiertATK_Punkt" type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:ATK_Punkt</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="assosiertTunnelløpUtenTrafikk"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TunnelløpUtenTrafikk</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelløp</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="assosiertVærstasjon" type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Værstasjon</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="assosiertSignalanlegg" type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Signalanlegg</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="KameraPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kamera"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="OppsettingsutstyrType">
      <annotation>
         <documentation>3734: Angir hva utstyret er festet på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3734</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">3734</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OppsettingsutstyrEnumerationType nvdb:OppsettingsutstyrOtherType"/>
   </simpleType>
   <simpleType name="OppsettingsutstyrEnumerationType">
      <annotation>
         <documentation>3734: Angir hva utstyret er festet på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3734</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">3734</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Tunnelportal">
            <annotation>
               <documentation>4738: Tunnelportal</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4738</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnelportal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Lysmast">
            <annotation>
               <documentation>4737: Lysmast</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4737</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysmast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vegg">
            <annotation>
               <documentation>4739: Vegg</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4739</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Egen mast/stolpe">
            <annotation>
               <documentation>4736: Egen mast/stolpe</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4736</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Egen mast/stolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Skiltportal">
            <annotation>
               <documentation>16948: Skiltportal</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16948</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiltportal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Skiltstolpe">
            <annotation>
               <documentation>17366: Skiltstolpe</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17366</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiltstolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kabelstige">
            <annotation>
               <documentation>16949: Kabelstige</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16949</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kabelstige</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bru">
            <annotation>
               <documentation>16950: Kameraet er festet i selve brukonstruksjonen. F.eks. på brakett festet på brukonstruksjonen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16950</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeKameraType">
      <annotation>
         <documentation>1179: Angir hvilken type kamera det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1179</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1179</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type kamera</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeKameraEnumerationType nvdb:TypeKameraOtherType"/>
   </simpleType>
   <simpleType name="TypeKameraEnumerationType">
      <annotation>
         <documentation>1179: Angir hvilken type kamera det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1179</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1179</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type kamera</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Fast videokamera">
            <annotation>
               <documentation>9296: Videokamera som har fast innstilt bildeutsnitt. Ikke styrbart mht. vinkel, zoom etc.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9296</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fast videokamera</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bevegelig videokamera (PTZ/dome)">
            <annotation>
               <documentation>20995: Videokamera som er svingbart/zoombart. (PTZ=Pan, Tilt, Zoom).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20995</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bevegelig videokamera (PTZ/dome)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fotokamera">
            <annotation>
               <documentation>9297: Kamera som kun benyttes til å ta bilder. F.eks. i forbindelse med ATK eller andre spesielle situasjoner.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9297</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fotokamera</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeKameraOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeTeknologiType">
      <annotation>
         <documentation>12080: Angir hvilken type teknologi som er benyttet i kameraet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12080</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">12080</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type teknologi</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeTeknologiEnumerationType nvdb:TypeTeknologiOtherType"/>
   </simpleType>
   <simpleType name="TypeTeknologiEnumerationType">
      <annotation>
         <documentation>12080: Angir hvilken type teknologi som er benyttet i kameraet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12080</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">12080</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type teknologi</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Optisk">
            <annotation>
               <documentation>20986: Optisk</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20986</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Optisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Termisk">
            <annotation>
               <documentation>20987: Kamera som benyttes for å avlese temperatur på en overflate.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20987</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Termisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Termisk/optisk">
            <annotation>
               <documentation>20988: Både termisk og optisk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20988</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Termisk/optisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeTeknologiOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeTilkoplingType">
      <annotation>
         <documentation>7015: Angir hvilken type tilkopling kameraet har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type tilkopling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeTilkoplingEnumerationType nvdb:TypeTilkoplingOtherType"/>
   </simpleType>
   <simpleType name="TypeTilkoplingEnumerationType">
      <annotation>
         <documentation>7015: Angir hvilken type tilkopling kameraet har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type tilkopling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Digital">
            <annotation>
               <documentation>9298: Overfører bilde via Ethernett. IP-kamera.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9298</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Digital</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Analog">
            <annotation>
               <documentation>9299: Ikke overføring av bilde via ethernett, men f.eks. ccoax.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9299</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Analog</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeTilkoplingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKameraType">
      <annotation>
         <documentation>8069: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8069</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8069</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligKameraEnumerationType nvdb:VedlikeholdsansvarligKameraOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKameraEnumerationType">
      <annotation>
         <documentation>8069: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8069</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8069</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Statens vegvesen">
            <annotation>
               <documentation>10463: Statens vegvesen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10463</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nye Veier">
            <annotation>
               <documentation>18793: Nye Veier</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18793</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylkeskommune">
            <annotation>
               <documentation>19935: Fylkeskommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19935</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <documentation>18922: OPS</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18922</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kommune">
            <annotation>
               <documentation>10541: Kommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10541</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Privat">
            <annotation>
               <documentation>10619: Privat</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10619</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Uavklart">
            <annotation>
               <documentation>17718: Uavklart</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17718</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKameraOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
