GML/PS/OLFV_NV/2.34/183.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.33">
   <annotation>
      <documentation>183: Anordning for framføring av kabler, f.eks. i tunnel.</documentation>
   </annotation>
   <include schemaLocation="OLFV_NV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierKabelbr_Uten_StigeType">
      <annotation>
         <documentation>8008: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8008</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8008</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierKabelbr_Uten_StigeEnumerationType nvdb:EierKabelbr_Uten_StigeOtherType"/>
   </simpleType>
   <simpleType name="EierKabelbr_Uten_StigeEnumerationType">
      <annotation>
         <documentation>8008: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8008</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8008</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Stat, Statens vegvesen">
            <annotation>
               <documentation>10274: Stat, Statens vegvesen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10274</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stat, Nye Veier">
            <annotation>
               <documentation>18573: Stat, Nye Veier</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18573</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylkeskommune">
            <annotation>
               <documentation>10736: Fylkeskommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10736</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kommune">
            <annotation>
               <documentation>10338: Kommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10338</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Privat">
            <annotation>
               <documentation>10402: Privat</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10402</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Uavklart">
            <annotation>
               <documentation>17585: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17585</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierKabelbr_Uten_StigeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Kabelbr_Uten_Stige"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:Kabelbr_Uten_StigeType">
      <annotation>
         <documentation>183: Anordning for framføring av kabler, f.eks. i tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kabelbru/stige</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Kabelbr_Uten_StigeType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="type" type="nvdb:TypeKabelbr_Uten_StigeType">
                  <annotation>
                     <documentation>1191: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1191</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>1697: Angir bredde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1697</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale" type="nvdb:MaterialeKabelbr_Uten_StigeType">
                  <annotation>
                     <documentation>9754: Angir type materiale.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9754</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>4063: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4063</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>9753: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9753</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>3656: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3656</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>9756: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9756</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11097: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11097</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12338: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12338</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierKabelbr_Uten_StigeType">
                  <annotation>
                     <documentation>8008: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8008</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligKabelbr_Uten_StigeType">
                  <annotation>
                     <documentation>8076: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8076</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4839: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4839</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="assosiertKabel"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kabel</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="assosiertTrekkerørKanal"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TrekkerørKanal</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="assosiertTunnelløpUtenTrafikk"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TunnelløpUtenTrafikk</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelløp</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Kabelbr_Uten_StigePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kabelbr_Uten_Stige"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialeKabelbr_Uten_StigeType">
      <annotation>
         <documentation>9754: Angir type materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9754</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9754</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeKabelbr_Uten_StigeEnumerationType nvdb:MaterialeKabelbr_Uten_StigeOtherType"/>
   </simpleType>
   <simpleType name="MaterialeKabelbr_Uten_StigeEnumerationType">
      <annotation>
         <documentation>9754: Angir type materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9754</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9754</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Stål, galvanisert">
            <annotation>
               <documentation>14031: Stål, galvanisert</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14031</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål, galvanisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stål, syrefast">
            <annotation>
               <documentation>14032: Stål, syrefast</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14032</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål, syrefast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Glassfiber">
            <annotation>
               <documentation>14033: Glassfiber</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14033</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glassfiber</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Aluminium">
            <annotation>
               <documentation>14034: Aluminium</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14034</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Plast">
            <annotation>
               <documentation>15867: Plast</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15867</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeKabelbr_Uten_StigeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeKabelbr_Uten_StigeType">
      <annotation>
         <documentation>1191: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1191</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1191</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeKabelbr_Uten_StigeEnumerationType nvdb:TypeKabelbr_Uten_StigeOtherType"/>
   </simpleType>
   <simpleType name="TypeKabelbr_Uten_StigeEnumerationType">
      <annotation>
         <documentation>1191: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1191</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1191</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Bru">
            <annotation>
               <documentation>14029: Bru</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14029</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stige">
            <annotation>
               <documentation>13035: Stige</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13035</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stige</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Renne">
            <annotation>
               <documentation>14030: Renne</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14030</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Renne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bærewire">
            <annotation>
               <documentation>20094: Wire for oppheng av kabel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20094</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bærewire</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeKabelbr_Uten_StigeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKabelbr_Uten_StigeType">
      <annotation>
         <documentation>8076: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8076</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8076</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligKabelbr_Uten_StigeEnumerationType nvdb:VedlikeholdsansvarligKabelbr_Uten_StigeOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKabelbr_Uten_StigeEnumerationType">
      <annotation>
         <documentation>8076: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8076</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8076</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Statens vegvesen">
            <annotation>
               <documentation>10470: Statens vegvesen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10470</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nye Veier">
            <annotation>
               <documentation>18768: Nye Veier</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18768</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylkeskommune">
            <annotation>
               <documentation>19942: Fylkeskommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19942</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <documentation>18897: OPS</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18897</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kommune">
            <annotation>
               <documentation>10548: Kommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10548</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Privat">
            <annotation>
               <documentation>10626: Privat</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10626</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Uavklart">
            <annotation>
               <documentation>17725: Uavklart</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17725</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKabelbr_Uten_StigeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
