GML/PS/OLFV_NV/2.34/79.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.33">
   <annotation>
      <documentation>79: Rør for vanngjennomløp på tvers av vegen (ev. på tvers av tilgrensende avkjørsel) med maks lysåpning 2,5 meter. Stikkrenne/kulvert har åpent innløp og/eller utløp. Stikkrenne/kulvert kan ha inn- og utløpskonstruksjoner som kummer og støtteskjold. Merknad: Inntil videre registrere stikkrenner med bruksområde biologisk mangfold eller landbruk som vanlig stikkrenne. Dette blir endret på i senere versjon av Datakatalogen.</documentation>
   </annotation>
   <include schemaLocation="OLFV_NV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeStikkrenneKulvertType">
      <annotation>
         <documentation>6981: Angir hva stikkrenne kulvert primært brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6981</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">6981</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeStikkrenneKulvertEnumerationType nvdb:BruksområdeStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>6981: Angir hva stikkrenne kulvert primært brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6981</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">6981</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Vann">
            <annotation>
               <documentation>9114: Gjennomløp for å transportere vann på tvers av vegen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9114</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Landbruk">
            <annotation>
               <documentation>9115: Gjennomløp under veg som benyttes i forbindelse med landbruk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9115</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Landbruk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Voll, vanngjennomløp">
            <annotation>
               <documentation>15880: Gjennomløp for å lede vann gjennom voll.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15880</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Voll, vanngjennomløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Biologisk mangfold">
            <annotation>
               <documentation>9116: Gjennomløp for å hindre at veg begrenser biologisk mangfold.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9116</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Biologisk mangfold</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierStikkrenneKulvertType">
      <annotation>
         <documentation>7996: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7996</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7996</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierStikkrenneKulvertEnumerationType nvdb:EierStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="EierStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>7996: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7996</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">7996</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Stat, Statens vegvesen">
            <annotation>
               <documentation>10262: Stat, Statens vegvesen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10262</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stat, Nye Veier">
            <annotation>
               <documentation>18598: Stat, Nye Veier</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18598</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylkeskommune">
            <annotation>
               <documentation>10724: Fylkeskommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10724</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kommune">
            <annotation>
               <documentation>10326: Kommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10326</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Privat">
            <annotation>
               <documentation>10390: Privat</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10390</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Uavklart">
            <annotation>
               <documentation>17573: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17573</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="GjennomløpForElvBekkType">
      <annotation>
         <documentation>10223: Angir om elv/bekk renner gjennom stikkrenne/kulvert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjennomløp for elv/bekk</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GjennomløpForElvBekkEnumerationType nvdb:GjennomløpForElvBekkOtherType"/>
   </simpleType>
   <simpleType name="GjennomløpForElvBekkEnumerationType">
      <annotation>
         <documentation>10223: Angir om elv/bekk renner gjennom stikkrenne/kulvert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjennomløp for elv/bekk</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>16700: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16700</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>16701: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16701</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GjennomløpForElvBekkOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="HarInnløpsristStikkrenneKulvertType">
      <annotation>
         <documentation>1923: Angir om det er innløpsrist i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Har innløpsrist</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HarInnløpsristStikkrenneKulvertEnumerationType nvdb:HarInnløpsristStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="HarInnløpsristStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>1923: Angir om det er innløpsrist i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Har innløpsrist</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>3531: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3531</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>3569: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3569</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HarInnløpsristStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeStikkrenneKulvertType">
      <annotation>
         <documentation>6983: Angir materialtype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6983</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">6983</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeStikkrenneKulvertEnumerationType nvdb:MaterialtypeStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>6983: Angir materialtype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6983</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">6983</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Betong">
            <annotation>
               <documentation>9125: Betong</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9125</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stål">
            <annotation>
               <documentation>9126: Stål</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9126</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Plast">
            <annotation>
               <documentation>9127: Plast</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9127</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Naturstein">
            <annotation>
               <documentation>9128: Naturstein</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9128</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tre">
            <annotation>
               <documentation>9124: Tre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9124</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eternitt">
            <annotation>
               <documentation>9129: Eternitt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9129</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Eternitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RehabiliteringStikkrenneKulvertType">
      <annotation>
         <documentation>10766: Angir hvilken type rehabilitering som er gjort.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10766</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10766</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rehabilitering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RehabiliteringStikkrenneKulvertEnumerationType nvdb:RehabiliteringStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="RehabiliteringStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>10766: Angir hvilken type rehabilitering som er gjort.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10766</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10766</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rehabilitering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Innvendig glassfiberstrømpe">
            <annotation>
               <documentation>17439: Det er etablert en glassfiberstrømpe inni eksisterende vanngjenomløp. Benevnes også "no dig rørfornying".</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17439</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innvendig glassfiberstrømpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Delvis utskifting">
            <annotation>
               <documentation>17890: Del av rør er skiftet/forlenget.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17890</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delvis utskifting</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ikke rehabilitert">
            <annotation>
               <documentation>19084: Stikkrenne/kulvert er ikke rehabilitert.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19084</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke rehabilitert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RehabiliteringStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="StikkrenneKulvert"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:StikkrenneKulvertType">
      <annotation>
         <documentation>79: Rør for vanngjennomløp på tvers av vegen (ev. på tvers av tilgrensende avkjørsel) med maks lysåpning 2,5 meter. Stikkrenne/kulvert har åpent innløp og/eller utløp. Stikkrenne/kulvert kan ha inn- og utløpskonstruksjoner som kummer og støtteskjold. Merknad: Inntil videre registrere stikkrenner med bruksområde biologisk mangfold eller landbruk som vanlig stikkrenne. Dette blir endret på i senere versjon av Datakatalogen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">79</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">79</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stikkrenne/Kulvert</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="StikkrenneKulvertType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeStikkrenneKulvertType">
                  <annotation>
                     <documentation>6981: Angir hva stikkrenne kulvert primært brukes til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6981</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="tilknyttetLukkaDren"
                        type="nvdb:TilknyttetLukkaDrenType">
                  <annotation>
                     <documentation>1941: Angir om stikkrenne er tilknytta lukka drenering. Vannet ledes inn i et lukket dreneringssystem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1941</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilknyttet lukka dren</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="gjennomløpForElvBekk"
                        type="nvdb:GjennomløpForElvBekkType">
                  <annotation>
                     <documentation>10223: Angir om elv/bekk renner gjennom stikkrenne/kulvert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10223</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Gjennomløp for elv/bekk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtype" type="nvdb:MaterialtypeStikkrenneKulvertType">
                  <annotation>
                     <documentation>6983: Angir materialtype.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6983</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tverrsnittsform" type="nvdb:TverrsnittsformType">
                  <annotation>
                     <documentation>6984: Angir hvilken type tverrsnitt gjennomløpskonstruksjon har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">6984</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tverrsnittsform</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeInnløp" type="nvdb:TypeInnløpType">
                  <annotation>
                     <documentation>1939: Angir hvilken type innløp det er i ei stikkrenne.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1939</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type innløp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeUtløp" type="nvdb:TypeUtløpType">
                  <annotation>
                     <documentation>1940: Angir hvilken type utløp det er i ei stikkrenne.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1940</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type utløp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1323: Angir lengde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1323</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="diameter_Innvendig" type="integer">
                  <annotation>
                     <documentation>3113: Angir innvendig diameter av gjennomløp. Benyttes fortrinnsvis for sirkulære tverrsnitt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3113</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Diameter, innvendig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde_Innvendig" type="integer">
                  <annotation>
                     <documentation>4548: Angir innvendig bredde av gjennomløpskonstruksjon. Ikke aktuell for sirkulære tverrsnitt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4548</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, innvendig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høyde_Innvendig" type="integer">
                  <annotation>
                     <documentation>4549: Angir innvendig høyde av gjennomløpskonstruksjon. Tar ikke hensyn til ev. igjenfylling i bunn av konstruksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4549</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, innvendig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="overfyllingInnløp" type="double">
                  <annotation>
                     <documentation>10224: Angir tykkelsen på overfylling ved innløp. Det vil si tykkelse fra topp av stikkrenne til topp dekke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10224</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overfylling innløp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="harInnløpsrist"
                        type="nvdb:HarInnløpsristStikkrenneKulvertType">
                  <annotation>
                     <documentation>1923: Angir om det er innløpsrist i tilknytning til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1923</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Har innløpsrist</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="varmekabler"
                        type="nvdb:VarmekablerStikkrenneKulvertType">
                  <annotation>
                     <documentation>1832: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1832</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="rehabilitering"
                        type="nvdb:RehabiliteringStikkrenneKulvertType">
                  <annotation>
                     <documentation>10766: Angir hvilken type rehabilitering som er gjort.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10766</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rehabilitering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>4556: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4556</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11068: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11068</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12307: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12307</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierStikkrenneKulvertType">
                  <annotation>
                     <documentation>7996: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7996</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligStikkrenneKulvertType">
                  <annotation>
                     <documentation>8060: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8060</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>5899: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5899</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="assosiertFysiskInngrepIVannforekomst"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:FysiskInngrepIVannforekomst</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="2"
                        minOccurs="0"
                        name="assosiertKum"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kum</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="StikkrenneKulvertPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:StikkrenneKulvert"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TilknyttetLukkaDrenType">
      <annotation>
         <documentation>1941: Angir om stikkrenne er tilknytta lukka drenering. Vannet ledes inn i et lukket dreneringssystem.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1941</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1941</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilknyttet lukka dren</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TilknyttetLukkaDrenEnumerationType nvdb:TilknyttetLukkaDrenOtherType"/>
   </simpleType>
   <simpleType name="TilknyttetLukkaDrenEnumerationType">
      <annotation>
         <documentation>1941: Angir om stikkrenne er tilknytta lukka drenering. Vannet ledes inn i et lukket dreneringssystem.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1941</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1941</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilknyttet lukka dren</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>3533: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3533</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>3571: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3571</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TilknyttetLukkaDrenOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TverrsnittsformType">
      <annotation>
         <documentation>6984: Angir hvilken type tverrsnitt gjennomløpskonstruksjon har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">6984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrsnittsform</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TverrsnittsformEnumerationType nvdb:TverrsnittsformOtherType"/>
   </simpleType>
   <simpleType name="TverrsnittsformEnumerationType">
      <annotation>
         <documentation>6984: Angir hvilken type tverrsnitt gjennomløpskonstruksjon har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">6984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">6984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrsnittsform</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Sirkulær">
            <annotation>
               <documentation>9130: Sirkulær</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9130</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sirkulær</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Rektangulær">
            <annotation>
               <documentation>9131: Rektangulær</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9131</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rektangulær</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Flatbunnet med hvelv">
            <annotation>
               <documentation>9132: Flatbunnet med hvelv</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9132</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flatbunnet med hvelv</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ellipseform">
            <annotation>
               <documentation>9133: Ellipseform</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9133</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ellipseform</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TverrsnittsformOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeInnløpType">
      <annotation>
         <documentation>1939: Angir hvilken type innløp det er i ei stikkrenne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1939</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1939</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type innløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeInnløpEnumerationType nvdb:TypeInnløpOtherType"/>
   </simpleType>
   <simpleType name="TypeInnløpEnumerationType">
      <annotation>
         <documentation>1939: Angir hvilken type innløp det er i ei stikkrenne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1939</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1939</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type innløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Kum over stikkrenne">
            <annotation>
               <documentation>2925: Kum over stikkrenne</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2925</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kum over stikkrenne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Åpent i grøft">
            <annotation>
               <documentation>11744: Vann renner inn direkte fra åpen grøft.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11744</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpent i grøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Åpent med frontmur">
            <annotation>
               <documentation>16699: Åpent med frontmur</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16699</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpent med frontmur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Åpent i grøft med støtteskjold">
            <annotation>
               <documentation>16761: Åpent i grøft med støtteskjold</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16761</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpent i grøft med støtteskjold</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeInnløpOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeUtløpType">
      <annotation>
         <documentation>1940: Angir hvilken type utløp det er i ei stikkrenne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1940</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1940</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type utløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeUtløpEnumerationType nvdb:TypeUtløpOtherType"/>
   </simpleType>
   <simpleType name="TypeUtløpEnumerationType">
      <annotation>
         <documentation>1940: Angir hvilken type utløp det er i ei stikkrenne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1940</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1940</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type utløp</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Kum">
            <annotation>
               <documentation>2927: Vann ledes til kum.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2927</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I skråning/terreng">
            <annotation>
               <documentation>2928: Vann ledes ut i skråning eller ut i terreng.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2928</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I skråning/terreng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I bekk/elv">
            <annotation>
               <documentation>2929: Vann ledes ut i bekk/elv.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2929</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I bekk/elv</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Åpen grøft">
            <annotation>
               <documentation>11655: Vann ledes til åpen grøft. Merknad: Ofte aktuelt i forbindelse med stikkrenner under avkjørsel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11655</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpen grøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeUtløpOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VarmekablerStikkrenneKulvertType">
      <annotation>
         <documentation>1832: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VarmekablerStikkrenneKulvertEnumerationType nvdb:VarmekablerStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="VarmekablerStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>1832: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>3524: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3524</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>3562: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3562</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VarmekablerStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligStikkrenneKulvertType">
      <annotation>
         <documentation>8060: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8060</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8060</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligStikkrenneKulvertEnumerationType nvdb:VedlikeholdsansvarligStikkrenneKulvertOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligStikkrenneKulvertEnumerationType">
      <annotation>
         <documentation>8060: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8060</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8060</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Statens vegvesen">
            <annotation>
               <documentation>10454: Statens vegvesen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10454</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nye Veier">
            <annotation>
               <documentation>18729: Nye Veier</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18729</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylkeskommune">
            <annotation>
               <documentation>19929: Fylkeskommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19929</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <documentation>18858: OPS</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18858</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kommune">
            <annotation>
               <documentation>10532: Kommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10532</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Privat">
            <annotation>
               <documentation>10610: Privat</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10610</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Uavklart">
            <annotation>
               <documentation>17712: Uavklart</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17712</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligStikkrenneKulvertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
