GML/PS/OLFV_NV/2.34/801.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.33">
   <annotation>
      <documentation>801: utgang som kan nyttes i nødstilfelle.</documentation>
   </annotation>
   <include schemaLocation="OLFV_NV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Nødutgang"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:NødutgangType">
      <annotation>
         <documentation>801: utgang som kan nyttes i nødstilfelle.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">801</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">801</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nødutgang</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="NødutgangType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="type" type="nvdb:TypeNødutgangType">
                  <annotation>
                     <documentation>9129: Angir hvilken type nødutgang det er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9129</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="universellUtforming" type="nvdb:UniversellUtformingType">
                  <annotation>
                     <documentation>9152: Angir om nødutgang er utformet i henhold til krav om universell utforming.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9152</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Universell utforming</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10332: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10332</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11155: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11155</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12409: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12409</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>9294: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9294</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelløp</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="NødutgangPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Nødutgang"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeNødutgangType">
      <annotation>
         <documentation>9129: Angir hvilken type nødutgang det er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9129</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9129</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeNødutgangEnumerationType nvdb:TypeNødutgangOtherType"/>
   </simpleType>
   <simpleType name="TypeNødutgangEnumerationType">
      <annotation>
         <documentation>9129: Angir hvilken type nødutgang det er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9129</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9129</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Til det fri">
            <annotation>
               <documentation>12163: Til det fri</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12163</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til det fri</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Til egen rømningstunnel">
            <annotation>
               <documentation>12164: Til egen rømningstunnel</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12164</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til egen rømningstunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Til trafikkert parallelløp">
            <annotation>
               <documentation>12165: Til trafikkert parallelløp</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12165</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til trafikkert parallelløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeNødutgangOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UniversellUtformingType">
      <annotation>
         <documentation>9152: Angir om nødutgang er utformet i henhold til krav om universell utforming.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9152</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9152</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Universell utforming</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UniversellUtformingEnumerationType nvdb:UniversellUtformingOtherType"/>
   </simpleType>
   <simpleType name="UniversellUtformingEnumerationType">
      <annotation>
         <documentation>9152: Angir om nødutgang er utformet i henhold til krav om universell utforming.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9152</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9152</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Universell utforming</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>12235: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12235</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>12236: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12236</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UniversellUtformingOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
