GML/PS/OLFV_SVV/2.30/181.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" version="2.30">
  <annotation>
    <documentation>181: Mast i forbindelse med veg/gatebelysning. Normalt har mast påmontert lysarmatur, men kan også være mast uten lysarmatur som benyttes for framføring av kabel.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BardunStreverType">
    <annotation>
      <documentation>4528: Angir om lysmast/lysstolpe har bardun eller strever.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4528</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4528</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bardun/strever</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BardunStreverEnumerationType nvdb:BardunStreverOtherType"/>
  </simpleType>
  <simpleType name="BardunStreverEnumerationType">
    <annotation>
      <documentation>4528: Angir om lysmast/lysstolpe har bardun eller strever.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4528</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4528</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bardun/strever</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5408: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5408</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11764: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11764</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BardunStreverOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BoltavstandFotplateType">
    <annotation>
      <documentation>10017: Avstand mellom boltene på fotplaten.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10017</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10017</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Boltavstand fotplate</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BoltavstandFotplateEnumerationType nvdb:BoltavstandFotplateOtherType"/>
  </simpleType>
  <simpleType name="BoltavstandFotplateEnumerationType">
    <annotation>
      <documentation>10017: Avstand mellom boltene på fotplaten.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10017</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10017</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Boltavstand fotplate</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="c/c bolter 160 mm">
        <annotation>
          <documentation>16289: c/c bolter 160 mm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16289</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">c/c bolter 160 mm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="c/c bolter 200 mm">
        <annotation>
          <documentation>16290: c/c bolter 200 mm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16290</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">c/c bolter 200 mm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="c/c bolter 240 mm">
        <annotation>
          <documentation>16291: c/c bolter 240 mm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16291</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">c/c bolter 240 mm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke standard avstand">
        <annotation>
          <documentation>16292: Ikke standard avstand</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16292</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke standard avstand</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BoltavstandFotplateOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EttergivendeMastType">
    <annotation>
      <documentation>1662: Angir om mast gir etter ved påkjørsel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1662</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1662</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ettergivende mast</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EttergivendeMastEnumerationType nvdb:EttergivendeMastOtherType"/>
  </simpleType>
  <simpleType name="EttergivendeMastEnumerationType">
    <annotation>
      <documentation>1662: Angir om mast gir etter ved påkjørsel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1662</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1662</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ettergivende mast</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja, ukjent type">
        <annotation>
          <documentation>3515: Ja, ukjent type</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3515</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, ukjent type</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, deformasjon, type HE">
        <annotation>
          <documentation>16272: Ja, deformasjon, type HE</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16272</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, deformasjon, type HE</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, avskjæringsledd, type NE">
        <annotation>
          <documentation>16273: Ja, avskjæringsledd, type NE</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16273</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, avskjæringsledd, type NE</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, tremast med svekking">
        <annotation>
          <documentation>16274: Ja, tremast med svekking</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16274</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, tremast med svekking</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>3553: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3553</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EttergivendeMastOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringType">
    <annotation>
      <documentation>10016: Angir hvilken type fundamentering masten har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10016</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10016</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FundamenteringEnumerationType nvdb:FundamenteringOtherType"/>
  </simpleType>
  <simpleType name="FundamenteringEnumerationType">
    <annotation>
      <documentation>10016: Angir hvilken type fundamentering masten har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10016</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10016</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betongfundament">
        <annotation>
          <documentation>16279: Betongfundament</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongfundament</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plasstøpt">
        <annotation>
          <documentation>16287: Plasstøpt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16287</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plasstøpt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stålfundament">
        <annotation>
          <documentation>16288: Stålfundament</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16288</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stålfundament</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fotplate">
        <annotation>
          <documentation>16280: Fotplate</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16280</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fotplate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jordstikk">
        <annotation>
          <documentation>16284: Jordstikk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16284</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordstikk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedstikk">
        <annotation>
          <documentation>16285: Nedstikk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16285</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedstikk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I/på fjell">
        <annotation>
          <documentation>16281: I/på fjell</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16281</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I/på fjell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I/på fjellfundament">
        <annotation>
          <documentation>16282: I/på fjellfundament</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16282</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I/på fjellfundament</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I/på jordfundament">
        <annotation>
          <documentation>16283: I/på jordfundament</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16283</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I/på jordfundament</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Lysmast" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:LysmastType">
    <annotation>
      <documentation>181: Mast i forbindelse med veg/gatebelysning. Normalt har mast påmontert lysarmatur, men kan også være mast uten lysarmatur som benyttes for framføring av kabel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">181</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">181</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lysmast</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LysmastType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeLysmastType">
            <annotation>
              <documentation>1189: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1189</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ettergivendeMast" type="nvdb:EttergivendeMastType">
            <annotation>
              <documentation>1662: Angir om mast gir etter ved påkjørsel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1662</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Ettergivende mast</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fundamentering" type="nvdb:FundamenteringType">
            <annotation>
              <documentation>10016: Angir hvilken type fundamentering masten har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10016</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="boltavstandFotplate" type="nvdb:BoltavstandFotplateType">
            <annotation>
              <documentation>10017: Avstand mellom boltene på fotplaten.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10017</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Boltavstand fotplate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="totalMastelengde" type="double">
            <annotation>
              <documentation>1338: Angir lengde av mast.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1338</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Total mastelengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utligger" type="nvdb:UtliggerType">
            <annotation>
              <documentation>3895: .</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3895</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utligger</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bardunStrever" type="nvdb:BardunStreverType">
            <annotation>
              <documentation>4528: Angir om lysmast/lysstolpe har bardun eller strever.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4528</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bardun/strever</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="overflatebehandling" type="nvdb:OverflatebehandlingLysmastType">
            <annotation>
              <documentation>10587: Angir overflatebehandling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10587</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="RAL_Kode" type="string">
            <annotation>
              <documentation>3886: Angir lakkfargekode for mast. Bare aktuelt for lakkerte master.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3886</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">RAL-kode</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10324: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10324</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>3887: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3887</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent" type="string">
            <annotation>
              <documentation>1541: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1541</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>10019: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10019</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4838: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4838</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBelysningspunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Belysningspunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LysmastPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Lysmast"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="OverflatebehandlingLysmastType">
    <annotation>
      <documentation>10587: Angir overflatebehandling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10587</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10587</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OverflatebehandlingLysmastEnumerationType nvdb:OverflatebehandlingLysmastOtherType"/>
  </simpleType>
  <simpleType name="OverflatebehandlingLysmastEnumerationType">
    <annotation>
      <documentation>10587: Angir overflatebehandling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10587</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10587</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Galvanisert">
        <annotation>
          <documentation>16974: Galvanisert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16974</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Galvanisert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Galvanisert og pulverlakkert">
        <annotation>
          <documentation>16975: Galvanisert og pulverlakkert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16975</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Galvanisert og pulverlakkert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Galvanisert og våtlakkert">
        <annotation>
          <documentation>16976: Galvanisert og våtlakkert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16976</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Galvanisert og våtlakkert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Eloksert aluminium">
        <annotation>
          <documentation>16977: Eloksert aluminium</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16977</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eloksert aluminium</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Beiset">
        <annotation>
          <documentation>16978: Beiset</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16978</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen behandling">
        <annotation>
          <documentation>21302: Beskrives under tilleggsinformasjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21302</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen behandling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen behandling">
        <annotation>
          <documentation>21303: Ingen spesiell overflatebehandling.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21303</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen behandling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingLysmastOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeLysmastType">
    <annotation>
      <documentation>1189: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1189</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1189</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeLysmastEnumerationType nvdb:TypeLysmastOtherType"/>
  </simpleType>
  <simpleType name="TypeLysmastEnumerationType">
    <annotation>
      <documentation>1189: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1189</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1189</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stålmast">
        <annotation>
          <documentation>2225: Stålmast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2225</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stålmast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stålmast, rett">
        <annotation>
          <documentation>4690: Stålmast, rett</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4690</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stålmast, rett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stålmast, sylindrisk">
        <annotation>
          <documentation>16302: Stålmast, sylindrisk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16302</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stålmast, sylindrisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stålmast, konisk">
        <annotation>
          <documentation>4685: Stålmast, konisk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4685</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stålmast, konisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stålmast, 6-kantet, konisk">
        <annotation>
          <documentation>3769: Stålmast, 6-kantet, konisk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3769</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stålmast, 6-kantet, konisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stålmast, teleskop">
        <annotation>
          <documentation>4691: Stålmast, teleskop</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4691</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stålmast, teleskop</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tremast">
        <annotation>
          <documentation>2183: Tremast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tremast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tremast, svekket">
        <annotation>
          <documentation>16300: Tremast, svekket</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16300</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tremast, svekket</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast">
        <annotation>
          <documentation>3767: Gittermast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3767</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gittermast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Komposittmast">
        <annotation>
          <documentation>16301: Komposittmast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16301</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Komposittmast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Aluminiumsmast">
        <annotation>
          <documentation>16304: Aluminiumsmast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16304</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aluminiumsmast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeLysmastOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtliggerType">
    <annotation>
      <documentation>3895: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3895</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3895</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utligger</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtliggerEnumerationType nvdb:UtliggerOtherType"/>
  </simpleType>
  <simpleType name="UtliggerEnumerationType">
    <annotation>
      <documentation>3895: .</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3895</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3895</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utligger</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4692: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4692</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4693: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4693</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtliggerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
