GML/PS/OLFV_SVV/2.30/215.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" version="2.30">
  <annotation>
    <documentation>215: Utstyr for å måle gass, særlig aktuelt i tunnel.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Gassmåler" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:GassmålerType">
    <annotation>
      <documentation>215: Utstyr for å måle gass, særlig aktuelt i tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">215</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">215</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gassmåler</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GassmålerType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeGassmålerType">
            <annotation>
              <documentation>1208: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1208</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>4068: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4068</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>10465: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10465</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>1465: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1465</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4855: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4855</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GassmålerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Gassmåler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeGassmålerType">
    <annotation>
      <documentation>1208: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1208</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1208</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeGassmålerEnumerationType nvdb:TypeGassmålerOtherType"/>
  </simpleType>
  <simpleType name="TypeGassmålerEnumerationType">
    <annotation>
      <documentation>1208: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1208</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1208</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="CO-måler">
        <annotation>
          <documentation>5017: Måler hvor det kan detekteres CO.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5017</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">CO-måler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="NOx-måler">
        <annotation>
          <documentation>5018: Måler hvor det kan detekteres NOx.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5018</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">NOx-måler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kombinert CO og NOx">
        <annotation>
          <documentation>18530: Måler hvor det kan detekteres både CO og NOx.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18530</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kombinert CO og NOx</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metan">
        <annotation>
          <documentation>18531: Måler hvor det kan detekteres metan.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18531</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metan</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hydrogen">
        <annotation>
          <documentation>18532: Måler hvor det kan detekteres hydrogen. Benyttes f.eks. i batterirom i tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18532</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hydrogen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Radon">
        <annotation>
          <documentation>18533: Måler hvor det kan detekteres radon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18533</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Radon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Øvrig LPG">
        <annotation>
          <documentation>18534: Måler hvor det kan detekteres øvrige LPG-gasser (Liquefied Petroleum Gass).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18534</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Øvrig LPG</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeGassmålerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
