GML/PS/OLFV_SVV/2.30/274.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" version="2.30">
  <annotation>
    <documentation>274: Blomsterbeplantinger skal fremvise blomsterprakt, form, farge og duft. Det menes her planter som kommer i kategorien stauder, utplantingsplanter, løk, roser og klatreplanter.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Blomsterbeplantning" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:BlomsterbeplantningType">
    <annotation>
      <documentation>274: Blomsterbeplantinger skal fremvise blomsterprakt, form, farge og duft. Det menes her planter som kommer i kategorien stauder, utplantingsplanter, løk, roser og klatreplanter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">274</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">274</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Blomsterbeplantning</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BlomsterbeplantningType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeBlomsterbeplantningType">
            <annotation>
              <documentation>4130: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4130</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1383: Angir arealet av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1383</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="norskNavn" type="string">
            <annotation>
              <documentation>7555: Angir norsk navn på beplantninger.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7555</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Norsk navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="botaniskNavn" type="string">
            <annotation>
              <documentation>7556: Angir botanisk navn på beplantninger.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7556</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Botanisk navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="plantetidspunkt" type="integer">
            <annotation>
              <documentation>10270: Angir hvilket år området med blomsterbeplantninger ble satt i drift.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10270</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plantetidspunkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8891: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8891</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikkdeler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkøy" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikkøy</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BlomsterbeplantningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Blomsterbeplantning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeBlomsterbeplantningType">
    <annotation>
      <documentation>4130: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4130</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4130</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeBlomsterbeplantningEnumerationType nvdb:TypeBlomsterbeplantningOtherType"/>
  </simpleType>
  <simpleType name="TypeBlomsterbeplantningEnumerationType">
    <annotation>
      <documentation>4130: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4130</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4130</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stauder">
        <annotation>
          <documentation>5096: Stauder er flerårige urteaktige planter som visner ned om vinteren og bryter nye skudd om våren. Unntaksvis er noen staudeslag vintergrønne. Gruppen omfatter rabattstauder, markdekkere, sukkulenter og prydgras.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5096</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stauder</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Utplantningsplanter">
        <annotation>
          <documentation>5098: Utplantingsplanter er ettårige blomsterrike planter som plantes ut om våren/forsommeren for så å blomstre i hele vekstsesongen. Slike planter er skjøtselskrevende.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5098</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utplantningsplanter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Løkbeplantninger">
        <annotation>
          <documentation>5099: Løkplanter omfatter flerårige og ettårige løk og knoller. Løk har næringslager og beskyttende fortykning av grunnblad nederst på stengelen. Eksempler på løkfamilie er hyasint-, løk-, påskelilje- og liljefamilien. Knoll er oppsvulmet rot eller stengel som inneholder opplagsnæring. Eksempler på knoller er krokus og georginer. Merknad: I tilfeller der løkplantningene er mer sporadisk spredt utover en gressplen skal det ikke registreres Blomsterbeplantninger, men Grasdekker i stedet, ref. innsamlingsreglene for Blomsterbeplanininger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5099</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løkbeplantninger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Roser">
        <annotation>
          <documentation>9814: Blomsterrike rosebusker fra rose-slekta som har høy prydverdi. Disse er skjøtselskrevende med tanke på gjødsling/jordforbedring, luking og beskjæring for å oppnå rik blomstring. Buskroser tilhører kategorien busker, og skal ikke registrerer som roser. Buskroser er mer robuste roseplanter som krever tilsvarende oppfølging som busker generelt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9814</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Roser</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Klatreplanter">
        <annotation>
          <documentation>9818: Klatreplanter klatrer eller slynger seg på vertikal flate (mur, gjerde, vegg, espalier), rundt stolper, søyler e.l.., med eller uten hjelp. Slike planter kan ha slyngtråder, kroker, hefteskiver, luft/klatrerøtter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9818</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Klatreplanter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sedummatter">
        <annotation>
          <documentation>16181: Sedum/bergknapp tilhører bergknappfamilien (Crassulaceae) og er sukkulente stauder med lav vekst og tykke blader. Mindre skjøtselskrevende enn vanlige stauder. Sedum utenom matter registreres som stauder.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16181</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sedummatter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeBlomsterbeplantningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
