GML/PS/OLFV_SVV/2.30/459.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" version="2.30">
  <annotation>
    <documentation>459: Utstyr for å måle lys.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Lysmåler" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:LysmålerType">
    <annotation>
      <documentation>459: Utstyr for å måle lys.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">459</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">459</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lysmåler</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LysmålerType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeLysmålerType">
            <annotation>
              <documentation>11818: Angir hvilken type lysmåler det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11818</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10325: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10325</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>10471: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10471</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent" type="string">
            <annotation>
              <documentation>3532: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3532</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>3795: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3795</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4976: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4976</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LysmålerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Lysmåler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeLysmålerType">
    <annotation>
      <documentation>11818: Angir hvilken type lysmåler det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11818</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11818</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeLysmålerEnumerationType nvdb:TypeLysmålerOtherType"/>
  </simpleType>
  <simpleType name="TypeLysmålerEnumerationType">
    <annotation>
      <documentation>11818: Angir hvilken type lysmåler det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11818</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11818</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Luminansmåler">
        <annotation>
          <documentation>19806: Måler lystetthet (luminans). Funksjon av lysstyrke og refleksjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19806</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Luminansmåler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Luxmåler">
        <annotation>
          <documentation>19807: Måler lysstyrke (Lux).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19807</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Luxmåler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeLysmålerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
