GML/PS/OLFV_SVV/2.30/468.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" version="2.30">
  <annotation>
    <documentation>468: Reservestrømskilde bl.a. i forbindelse med tunneler.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeUPSType">
    <annotation>
      <documentation>10051: Angir hva vegobjektet brukes til.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10051</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10051</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeUPSEnumerationType nvdb:BruksområdeUPSOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeUPSEnumerationType">
    <annotation>
      <documentation>10051: Angir hva vegobjektet brukes til.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10051</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10051</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nødstrøm">
        <annotation>
          <documentation>16363: UPS brukes til nødstrøm.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16363</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nødstrøm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Reservestrøm">
        <annotation>
          <documentation>16364: UPS brukes til reservestrøm.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16364</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Reservestrøm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nødnett">
        <annotation>
          <documentation>19681: Nødnett</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19681</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nødnett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeUPSOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="IntegrerteBatterierType">
    <annotation>
      <documentation>12106: Angir om det er integrerte batterier eller ikke. Integrerte batterier vil si en enhet hvor både UPS og batteriene er innenfor en og samme kapsling eller som et rack.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12106</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12106</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Integrerte batterier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:IntegrerteBatterierEnumerationType nvdb:IntegrerteBatterierOtherType"/>
  </simpleType>
  <simpleType name="IntegrerteBatterierEnumerationType">
    <annotation>
      <documentation>12106: Angir om det er integrerte batterier eller ikke. Integrerte batterier vil si en enhet hvor både UPS og batteriene er innenfor en og samme kapsling eller som et rack.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12106</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12106</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Integrerte batterier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21070: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21070</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21071: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21071</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="IntegrerteBatterierOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpenningUPSType">
    <annotation>
      <documentation>10049: Angir spenningen som leveres ut fra enheten.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10049</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10049</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpenningUPSEnumerationType nvdb:SpenningUPSOtherType"/>
  </simpleType>
  <simpleType name="SpenningUPSEnumerationType">
    <annotation>
      <documentation>10049: Angir spenningen som leveres ut fra enheten.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10049</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10049</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="12">
        <annotation>
          <documentation>16359: 12 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16359</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>16360: 24 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16360</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="230">
        <annotation>
          <documentation>16361: 230 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16361</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">230</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="400">
        <annotation>
          <documentation>16362: 400 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16362</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">400</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="690">
        <annotation>
          <documentation>16716: 690 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16716</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">690</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpenningUPSOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="UPS" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:UPSType">
    <annotation>
      <documentation>468: Reservestrømskilde bl.a. i forbindelse med tunneler.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">468</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">468</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UPS</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="UPSType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeUPSType">
            <annotation>
              <documentation>10051: Angir hva vegobjektet brukes til.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10051</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="totalEffekt" type="double">
            <annotation>
              <documentation>3852: Angir total effekt UPS kan levere.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3852</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Total effekt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="spenning" type="nvdb:SpenningUPSType">
            <annotation>
              <documentation>10049: Angir spenningen som leveres ut fra enheten.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10049</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kapasitet" type="integer">
            <annotation>
              <documentation>10043: Angir totalt kapasitet for alle batterier.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10043</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kapasitet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="batteripakke_Spenning" type="integer">
            <annotation>
              <documentation>10044: Angir spenningen på hver batteripakke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10044</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Batteripakke, spenning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="batteripakke_Antall" type="integer">
            <annotation>
              <documentation>3844: Angir hvor mange batteripakker UPS har tilkoblet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3844</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Batteripakke, antall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="integrerteBatterier" type="nvdb:IntegrerteBatterierType">
            <annotation>
              <documentation>12106: Angir om det er integrerte batterier eller ikke. Integrerte batterier vil si en enhet hvor både UPS og batteriene er innenfor en og samme kapsling eller som et rack.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12106</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Integrerte batterier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>4077: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4077</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>10047: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10047</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent_UPS" type="string">
            <annotation>
              <documentation>10042: Angir navn på produsent/fabrikant av UPS-enheten.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10042</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent, UPS</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn_UPS" type="string">
            <annotation>
              <documentation>10041: Angir produktnavn for UPS-enheten. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10041</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn, UPS</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4985: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4985</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UPSPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:UPS"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
