GML/PS/OLFV_SVV/2.30/49.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" version="2.30">
  <annotation>
    <documentation>49: Område som er begrenset av kjørefelt på alle sider og som normalt ikke skal benyttes av kjøretøy. Trafikkøy kan være en forhøyning avgrenset med kantstein, eller malt på vegen.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelegningTrafikkøyType">
    <annotation>
      <documentation>2127: Angir hva vegobjektet er belagt med.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2127</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2127</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelegningTrafikkøyEnumerationType nvdb:BelegningTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="BelegningTrafikkøyEnumerationType">
    <annotation>
      <documentation>2127: Angir hva vegobjektet er belagt med.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2127</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2127</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Grønt/beplantning">
        <annotation>
          <documentation>3917: Grønt/beplantning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3917</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grønt/beplantning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>4053: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4053</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, farget">
        <annotation>
          <documentation>5547: Betong, farget</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5547</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, farget</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, mønstret">
        <annotation>
          <documentation>5548: Betong, mønstret</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5548</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, mønstret</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, mønstret og farget">
        <annotation>
          <documentation>5549: Betong, mønstret og farget</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5549</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, mønstret og farget</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongheller">
        <annotation>
          <documentation>5550: Betongheller</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5550</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongheller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Granitt">
        <annotation>
          <documentation>11235: Granitt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11235</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Granitt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein">
        <annotation>
          <documentation>7934: Betongstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7934</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skiferheller">
        <annotation>
          <documentation>11234: Skiferheller</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11234</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiferheller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein">
        <annotation>
          <documentation>3277: Stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3277</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein, faststøpt i betong">
        <annotation>
          <documentation>5552: Stein, faststøpt i betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5552</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein, faststøpt i betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein, rundstein">
        <annotation>
          <documentation>5553: Stein, rundstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5553</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein, rundstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein, brostein">
        <annotation>
          <documentation>5554: Stein, brostein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5554</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein, brostein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pukk">
        <annotation>
          <documentation>5555: Pukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5555</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt">
        <annotation>
          <documentation>2347: Asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2347</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkøy" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrafikkøyType">
    <annotation>
      <documentation>49: Område som er begrenset av kjørefelt på alle sider og som normalt ikke skal benyttes av kjøretøy. Trafikkøy kan være en forhøyning avgrenset med kantstein, eller malt på vegen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">49</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">49</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkøy</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkøyType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeTrafikkøyType">
            <annotation>
              <documentation>1119: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1119</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="utforming" type="nvdb:UtformingTrafikkøyType">
            <annotation>
              <documentation>2024: Utforming av vegobjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2024</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="belegning" type="nvdb:BelegningTrafikkøyType">
            <annotation>
              <documentation>2127: Angir hva vegobjektet er belagt med.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2127</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal_Totalt" type="double">
            <annotation>
              <documentation>1363: Angir arealet av vegobjektet. For fysiske øyer skal arealet regnes til ytterkant kantstein. Ev. overkjørbart areal skal medregnes. For malte øyer skal arealet regnes til ytterkant maling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1363</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal, totalt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="areal_Overkjørbart" type="double">
            <annotation>
              <documentation>8786: Angir areal av den delen av trafikkøyen som er overkjørbar. Dette arealet er tiltenkt framkommelighet for store kjøretøy ev. spesialkjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8786</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal, overkjørbart</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10381: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10381</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10716: Gir flate/Polygon som geometrisk avgrenser ytterkant av vegobjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10716</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVegkryss" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vegkryss</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegoppmerking_Langsgående" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vegoppmerking_Langsgående</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBusker" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Busker</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGjerde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Gjerde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGrasdekker" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Grasdekker</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKantstein" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kantstein</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKunstUtsmykking" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:KunstUtsmykking</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBlomsterbeplantning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Blomsterbeplantning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrær" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trær</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkøyPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkøy"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeTrafikkøyType">
    <annotation>
      <documentation>1119: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1119</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1119</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeTrafikkøyEnumerationType nvdb:TypeTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="TypeTrafikkøyEnumerationType">
    <annotation>
      <documentation>1119: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1119</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1119</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Delende trafikkøy uten venstresvingefelt">
        <annotation>
          <documentation>3207: Trafikkøy som normalt benyttes i primærveg, hovedsakelig i T-kryss, for å skille motgående trafikkstrømmer. Trafikkøyen har ikke tilliggende venstresvingefelt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Delende trafikkøy uten venstresvingefelt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Delende trafikkøy med venstresvingefelt">
        <annotation>
          <documentation>3208: Trafikkøy som benyttes i primærveg, i T- og X-kryss, for å skille motgående trafikkstrømmer. Trafikkøyen har tilliggende venstresvingefelt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3208</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Delende trafikkøy med venstresvingefelt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dråpeøy">
        <annotation>
          <documentation>3209: Trafikkøy som kan benyttes i sekundærveg i T- og X-kryss for å skille motgående trafikkstrømmer.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3209</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dråpeøy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trekantøy">
        <annotation>
          <documentation>3210: Trafikkøy som benyttes i forbindelse med høyresving i T- og X-kryss. Kan benyttes både ved sving fra primærveg til sekundærveg og motsatt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3210</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trekantøy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sentraløy, rundkjøring">
        <annotation>
          <documentation>3212: Trafikkøy i senter av rundkjøring. Inkluderer også eventuelt overkjørbart areal.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3212</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sentraløy, rundkjøring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trekantdeleøy, rundkjøring">
        <annotation>
          <documentation>3211: Trafikkøy i arm av rundkjøring. Benyttes for å adskille motgående trafikkstrømmer samt lede trafikk som kjører inn i rundkjøring. Trafikkøyen har en tilnærmet trekanta utforming.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3211</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trekantdeleøy, rundkjøring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parallelldeleøy, rundkjøring">
        <annotation>
          <documentation>11632: Trafikkøy i arm av rundkjøring. Benyttes for å adskille motgående trafikkstrømmer samt lede trafikk som kjører inn i rundkjøring. Trafikkøyen har tilnærmet jevn bredde.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11632</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parallelldeleøy, rundkjøring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trompetdeleøy, rundkjøring">
        <annotation>
          <documentation>11633: Trafikkøy i arm av rundkjøring. Benyttes for å adskille motgående trafikkstrømmer samt lede trafikk som kjører inn i rundkjøring. Trafikkøyen har en utforming som minner om enden på en trompet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11633</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trompetdeleøy, rundkjøring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkøy v filterfelt">
        <annotation>
          <documentation>12976: Trafikkøy mellom filterfelt og kryss.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12976</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkøy v filterfelt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkøy v fotgjengerovergang">
        <annotation>
          <documentation>3213: Trafikkøy i forbindelse med fotgjengerfelt. Ligger mellom to kjørefelt. Gir mulighet for fotgjengere å krysse vegen i to etapper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3213</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkøy v fotgjengerovergang</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkøy v snuplass">
        <annotation>
          <documentation>3214: Trafikkøy i tilknytning til snuplass. Benyttes først og fremst i senter av sirkulære snuplasser.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3214</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkøy v snuplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtformingTrafikkøyType">
    <annotation>
      <documentation>2024: Utforming av vegobjekt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2024</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2024</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtformingTrafikkøyEnumerationType nvdb:UtformingTrafikkøyOtherType"/>
  </simpleType>
  <simpleType name="UtformingTrafikkøyEnumerationType">
    <annotation>
      <documentation>2024: Utforming av vegobjekt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2024</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2024</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Malt">
        <annotation>
          <documentation>3220: Malt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3220</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fysisk m kantstein">
        <annotation>
          <documentation>3224: Fysisk m kantstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3224</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fysisk m kantstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtformingTrafikkøyOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
