GML/PS/OLFV_SVV/2.30/791.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" version="2.30">
  <annotation>
    <documentation>791: Avrettingslag i overbygning.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Avrettingslag" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:AvrettingslagType">
    <annotation>
      <documentation>791: Avrettingslag i overbygning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">791</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">791</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Avrettingslag</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="AvrettingslagType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="materialtype" type="string">
            <annotation>
              <documentation>8748: Angir hvilken materialtype som er benyttet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8748</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="steinstørrelse" type="string">
            <annotation>
              <documentation>8749: Angir hvilken steinstørrelse som er benyttet (fra-til).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8749</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Steinstørrelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10408: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10408</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8874: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet. Geometrien benyttes kun i forbindelse med etablering av vegobjektet og skal normalt ikke lagres i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8874</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AvrettingslagPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Avrettingslag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
