GML/PS/OLFV_SVV/2.30/852.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" version="2.30">
  <annotation>
    <documentation>852: Rør eller kanal for trekking av kabel.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierTrekkerørKanalType">
    <annotation>
      <documentation>9717: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9717</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9717</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierTrekkerørKanalEnumerationType nvdb:EierTrekkerørKanalOtherType"/>
  </simpleType>
  <simpleType name="EierTrekkerørKanalEnumerationType">
    <annotation>
      <documentation>9717: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9717</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9717</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>13985: Organisasjonsnummer: 971032081.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13985</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18622: Organisasjonsnummer: 915488099.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18622</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>13986: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13986</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>13987: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13987</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13988: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13988</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17565: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17565</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTrekkerørKanalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LedigPlassType">
    <annotation>
      <documentation>9723: Angir om rør/kanal er ledig (tomt).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9723</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9723</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ledig plass</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LedigPlassEnumerationType nvdb:LedigPlassOtherType"/>
  </simpleType>
  <simpleType name="LedigPlassEnumerationType">
    <annotation>
      <documentation>9723: Angir om rør/kanal er ledig (tomt).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9723</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9723</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ledig plass</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>15868: Det er ledig kapasitet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15868</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>15869: Det er ikke ledig kapasitet for tiden.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15869</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>21523: Det er ikke avklart om det er ledig plass.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21523</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke relevant">
        <annotation>
          <documentation>21522: Vil aldri være relevant med ledig plass.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21522</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke relevant</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LedigPlassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTrekkerørKanalType">
    <annotation>
      <documentation>9724: Angir type materiale i rør/kanal.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9724</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9724</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeTrekkerørKanalEnumerationType nvdb:MaterialeTrekkerørKanalOtherType"/>
  </simpleType>
  <simpleType name="MaterialeTrekkerørKanalEnumerationType">
    <annotation>
      <documentation>9724: Angir type materiale i rør/kanal.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9724</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9724</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betong">
        <annotation>
          <documentation>13995: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13995</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>13996: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13996</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Aluminium">
        <annotation>
          <documentation>13998: Aluminium</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13998</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>13997: Stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13997</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTrekkerørKanalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringTrekkerørKanalType">
    <annotation>
      <documentation>9725: Angir hvor/hvordan trekkerøret er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9725</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9725</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringTrekkerørKanalEnumerationType nvdb:PlasseringTrekkerørKanalOtherType"/>
  </simpleType>
  <simpleType name="PlasseringTrekkerørKanalEnumerationType">
    <annotation>
      <documentation>9725: Angir hvor/hvordan trekkerøret er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9725</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9725</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="På tunnelvegg innside">
        <annotation>
          <documentation>14003: På innside av hvelv eller annen vann og frostsikring i tunnel, eller direkte på tunnelvegg der det ikke er noe innenfor.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14003</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På tunnelvegg innside</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="På tunnelvegg utside">
        <annotation>
          <documentation>14004: På utside av hvelv eller annen vann og frostsikring i tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14004</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På tunnelvegg utside</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bak betongrekkverk">
        <annotation>
          <documentation>13999: Plasseres bak betongrekkverk (f.eks. New Jersey). Brukes hovedsakelig i tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13999</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bak betongrekkverk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="På bankett">
        <annotation>
          <documentation>14001: Plasseres på banket, hovedsakelig i tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14001</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På bankett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Under bankett">
        <annotation>
          <documentation>14002: Plasseres under banket, hovedsakelig i tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14002</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Under bankett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I grøft">
        <annotation>
          <documentation>14000: I lukket rørgrøft eller kabelgrøft.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14000</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I grøft</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I grøft under veg">
        <annotation>
          <documentation>17275: Ligger i grøft på tvers under vegen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17275</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I grøft under veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I Kabelbru/stige">
        <annotation>
          <documentation>15881: Festes til kabelstige, f.eks. i en brukasse.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15881</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I Kabelbru/stige</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I Trekkerør/kanal">
        <annotation>
          <documentation>15882: Legges i et større rør eller en kanal, f.eks. i en brukasse.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15882</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I Trekkerør/kanal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringTrekkerørKanalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TrekkerørKanal" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrekkerørKanalType">
    <annotation>
      <documentation>852: Rør eller kanal for trekking av kabel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">852</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">852</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trekkerør/kanal</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrekkerørKanalType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeTrekkerørKanalType">
            <annotation>
              <documentation>9727: Angir type trekkerør/kanal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9727</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallLøp" type="integer">
            <annotation>
              <documentation>9710: Gir antall separate parallelle løp/kammer/rom som trekkerør/kanal består av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9710</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall løp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="plassering" type="nvdb:PlasseringTrekkerørKanalType">
            <annotation>
              <documentation>9725: Angir hvor/hvordan trekkerøret er plassert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9725</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="diameter_Ytre" type="double">
            <annotation>
              <documentation>9714: Angir ytre diameter for rør/kanal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9714</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Diameter, ytre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde_Ytre" type="double">
            <annotation>
              <documentation>9712: Angir ytre bredde for rør/kanal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9712</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde, ytre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde_Ytre" type="double">
            <annotation>
              <documentation>9722: Angir ytre høyde for rør/kanal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9722</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde, ytre</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materiale" type="nvdb:MaterialeTrekkerørKanalType">
            <annotation>
              <documentation>9724: Angir type materiale i rør/kanal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9724</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="ledigPlass" type="nvdb:LedigPlassType">
            <annotation>
              <documentation>9723: Angir om rør/kanal er ledig (tomt).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9723</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Ledig plass</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>9716: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9716</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>9715: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9715</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="eier" type="nvdb:EierTrekkerørKanalType">
            <annotation>
              <documentation>9717: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9717</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>9718: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9718</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9721: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9721</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKabelbr_Uten_Stige" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kabelbr_Uten_Stige</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKabelgrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kabelgrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertLukketRørgrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:LukketRørgrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TunnelløpUtenTrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrekkerørKanalPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TrekkerørKanal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeTrekkerørKanalType">
    <annotation>
      <documentation>9727: Angir type trekkerør/kanal.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9727</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9727</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeTrekkerørKanalEnumerationType nvdb:TypeTrekkerørKanalOtherType"/>
  </simpleType>
  <simpleType name="TypeTrekkerørKanalEnumerationType">
    <annotation>
      <documentation>9727: Angir type trekkerør/kanal.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9727</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9727</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Rør">
        <annotation>
          <documentation>14005: Enkelt rør.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14005</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kanal">
        <annotation>
          <documentation>14006: Enkel kanal.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14006</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kanal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Multikanal">
        <annotation>
          <documentation>14008: Flerløps plastkanal.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14008</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Multikanal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Multitube/Sub">
        <annotation>
          <documentation>14009: Flere fiberrør i et større rør.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14009</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Multitube/Sub</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPI-kanal">
        <annotation>
          <documentation>14007: Kasselignende elementer med mange rørføringer for å trekke kabel i).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">14007</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPI-kanal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTrekkerørKanalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
