GML/PS/OLFV_SVV/2.30/926.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.30" version="2.30">
  <annotation>
    <documentation>926: Område med peler/plate.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="PelerPlate" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:PelerPlateType">
    <annotation>
      <documentation>926: Område med peler/plate.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">926</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">926</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Peler/plate</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PelerPlateType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypePelerPlateType">
            <annotation>
              <documentation>11373: Angir hvilken type konstruksjon det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11373</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="typePeler" type="nvdb:TypePelerType">
            <annotation>
              <documentation>11374: Angir hva slags type peler det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type peler</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="pellengde_Maks" type="integer">
            <annotation>
              <documentation>11375: Angir største pellengde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11375</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Pellengde, maks</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>11402: Angir areal av pelet område.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11402</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>11377: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11377</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>11349: Gir flate/polygon som avgrenser område med peler/plater.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11349</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PelerPlatePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:PelerPlate"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypePelerType">
    <annotation>
      <documentation>11374: Angir hva slags type peler det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type peler</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypePelerEnumerationType nvdb:TypePelerOtherType"/>
  </simpleType>
  <simpleType name="TypePelerEnumerationType">
    <annotation>
      <documentation>11374: Angir hva slags type peler det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11374</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type peler</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betong">
        <annotation>
          <documentation>19225: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19225</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>19226: Stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19226</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>19227: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19227</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypePelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypePelerPlateType">
    <annotation>
      <documentation>11373: Angir hvilken type konstruksjon det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11373</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11373</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypePelerPlateEnumerationType nvdb:TypePelerPlateOtherType"/>
  </simpleType>
  <simpleType name="TypePelerPlateEnumerationType">
    <annotation>
      <documentation>11373: Angir hvilken type konstruksjon det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11373</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11373</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hatter">
        <annotation>
          <documentation>19222: Hatter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19222</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hatter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Striper">
        <annotation>
          <documentation>19223: Striper</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Striper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kontinuerlig plate">
        <annotation>
          <documentation>19224: Kontinuerlig plate</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19224</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kontinuerlig plate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypePelerPlateOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
