GML/PS/OLFV_SVV/2.31/24.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.31" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.31" version="2.31">
  <annotation>
    <documentation>24: Anordning for å henge opp skilt, teknisk utstyr etc. over kjørefeltene.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeSkiltportalType">
    <annotation>
      <documentation>1253: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1253</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1253</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeSkiltportalEnumerationType nvdb:BruksområdeSkiltportalOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeSkiltportalEnumerationType">
    <annotation>
      <documentation>1253: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1253</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1253</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Skilt">
        <annotation>
          <documentation>2504: Portal benyttes primært til skilt. Kan være både manuelle og variable skilt inkludert infotavler.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2504</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skilt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikklys">
        <annotation>
          <documentation>2505: Portal benyttes primært til trafikklys.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2505</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikklys</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skilt og trafikklys">
        <annotation>
          <documentation>2506: Portal benyttes både til skilt og trafikklys.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2506</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skilt og trafikklys</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bomstasjon">
        <annotation>
          <documentation>17451: Portal benyttes primært til antenner, kamera og annet utstyr i forbindelse med bomstasjoner.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17451</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bomstasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet bruksområde">
        <annotation>
          <documentation>21677: Portal benyttes primært til formål som ikke er dekkende av øvrige verdier.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21677</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet bruksområde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeSkiltportalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSkiltportalType">
    <annotation>
      <documentation>5762: Angir hvilken type oppsettingsutstyr som er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5762</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5762</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrSkiltportalEnumerationType nvdb:OppsettingsutstyrSkiltportalOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrSkiltportalEnumerationType">
    <annotation>
      <documentation>5762: Angir hvilken type oppsettingsutstyr som er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5762</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5762</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Søyle">
        <annotation>
          <documentation>8003: Søyle</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8003</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Søyle</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast">
        <annotation>
          <documentation>8004: Gittermast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8004</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gittermast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSkiltportalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skiltportal" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SkiltportalType">
    <annotation>
      <documentation>24: Anordning for å henge opp skilt, teknisk utstyr etc. over kjørefeltene.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">24</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">24</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skiltportal</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkiltportalType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeSkiltportalType">
            <annotation>
              <documentation>1253: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1253</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrSkiltportalType">
            <annotation>
              <documentation>5762: Angir hvilken type oppsettingsutstyr som er benyttet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5762</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeSkiltportalType">
            <annotation>
              <documentation>1106: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1106</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10359: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10359</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent" type="string">
            <annotation>
              <documentation>1514: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1514</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>1437: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1437</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8916: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8916</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertHøydebegrensning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Høydebegrensning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkiltpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Skiltpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkiltportalPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skiltportal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSkiltportalType">
    <annotation>
      <documentation>1106: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1106</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1106</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSkiltportalEnumerationType nvdb:TypeSkiltportalOtherType"/>
  </simpleType>
  <simpleType name="TypeSkiltportalEnumerationType">
    <annotation>
      <documentation>1106: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1106</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1106</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Helportal">
        <annotation>
          <documentation>2872: Helportal</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2872</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helportal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Halvportal">
        <annotation>
          <documentation>2869: Halvportal</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2869</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Halvportal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bjelke/gitterdrager i tak">
        <annotation>
          <documentation>18489: Skiltportal i form av bjelke/gitterdrager som henger i tak. Aktuell i forbindelse med tunneler og underganger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18489</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bjelke/gitterdrager i tak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Wirestrekk">
        <annotation>
          <documentation>2875: Wirestrekk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2875</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Wirestrekk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkiltportalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
