GML/PS/OLFV_SVV/2.31/447.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.31" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.31" version="2.31">
  <annotation>
    <documentation>447: Et tunnelløp hvor det ikke er åpent for ordinær trafikk.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="KjørbarType">
    <annotation>
      <documentation>9179: Angir om det er mulig å kjøre med bil i tunnelløpet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9179</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9179</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kjørbar</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KjørbarEnumerationType nvdb:KjørbarOtherType"/>
  </simpleType>
  <simpleType name="KjørbarEnumerationType">
    <annotation>
      <documentation>9179: Angir om det er mulig å kjøre med bil i tunnelløpet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9179</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9179</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kjørbar</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12319: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12319</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12320: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12320</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KjørbarOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RømningsvegType">
    <annotation>
      <documentation>9178: Angir om tunnelløp kan benyttes som rømningsveg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9178</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9178</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Rømningsveg</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RømningsvegEnumerationType nvdb:RømningsvegOtherType"/>
  </simpleType>
  <simpleType name="RømningsvegEnumerationType">
    <annotation>
      <documentation>9178: Angir om tunnelløp kan benyttes som rømningsveg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9178</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9178</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Rømningsveg</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12317: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12317</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12318: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12318</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RømningsvegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TunnelløpUtenTrafikk" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TunnelløpUtenTrafikkType">
    <annotation>
      <documentation>447: Et tunnelløp hvor det ikke er åpent for ordinær trafikk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">447</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">447</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnelløp uten trafikk</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TunnelløpUtenTrafikkType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeTunnelløpUtenTrafikkType">
            <annotation>
              <documentation>9177: Angir hvilken type tunnelløp det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9177</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="navn" type="string">
            <annotation>
              <documentation>9257: Angir navn, kan gjerne være samme som navn på tunnel pluss tillegg.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9257</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tunnelprofil" type="nvdb:TunnelprofilTunnelløpUtenTrafikkType">
            <annotation>
              <documentation>3102: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3102</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tunnelprofil</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>3105: Angir lengde av tunnelløpet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3105</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>3848: Angir minimum bredde fra tunnelvegg til tunnelvegg i kjørebanenivå.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3848</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>3873: Angir høyde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3873</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="rømningsveg" type="nvdb:RømningsvegType">
            <annotation>
              <documentation>9178: Angir om tunnelløp kan benyttes som rømningsveg.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9178</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Rømningsveg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kjørbar" type="nvdb:KjørbarType">
            <annotation>
              <documentation>9179: Angir om det er mulig å kjøre med bil i tunnelløpet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9179</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kjørbar</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8920: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8920</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVifteVentilator" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:VifteVentilator</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertEvakueringsbelysning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Evakueringsbelysning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabelbr_Uten_Stige" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kabelbr_Uten_Stige</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabelgrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kabelgrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBergsikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Bergsikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKamera" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kamera</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBetongutstøping" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Betongutstøping</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLukketRørgrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:LukketRørgrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Nødstasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkiltpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Skiltpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkekum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trekkekum</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkerørKanal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TrekkerørKanal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTunnelportal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelportal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVannOgFrostsikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:VannOgFrostsikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTunnelport" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelport</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelløpUtenTrafikkPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TunnelløpUtenTrafikk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TunnelprofilTunnelløpUtenTrafikkType">
    <annotation>
      <documentation>3102: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnelprofil</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TunnelprofilTunnelløpUtenTrafikkEnumerationType nvdb:TunnelprofilTunnelløpUtenTrafikkOtherType"/>
  </simpleType>
  <simpleType name="TunnelprofilTunnelløpUtenTrafikkEnumerationType">
    <annotation>
      <documentation>3102: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnelprofil</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="T4">
        <annotation>
          <documentation>12301: T4</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12301</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T5">
        <annotation>
          <documentation>12302: T5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12302</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T5,5">
        <annotation>
          <documentation>12303: T5,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12303</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T5,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T6">
        <annotation>
          <documentation>12304: T6</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12304</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T6</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T7">
        <annotation>
          <documentation>12305: T7</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12305</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T7</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8,5">
        <annotation>
          <documentation>12306: T8,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12306</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T8,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T9">
        <annotation>
          <documentation>12307: T9</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12307</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T9,5">
        <annotation>
          <documentation>12308: T9,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12308</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T9,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T10">
        <annotation>
          <documentation>12309: T10</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12309</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T10</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T11">
        <annotation>
          <documentation>12310: T11</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12310</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T11</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rektangulært tverrsnitt">
        <annotation>
          <documentation>12316: Rektangulært tverrsnitt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12316</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rektangulært tverrsnitt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TunnelprofilTunnelløpUtenTrafikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpUtenTrafikkType">
    <annotation>
      <documentation>9177: Angir hvilken type tunnelløp det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9177</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9177</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeTunnelløpUtenTrafikkEnumerationType nvdb:TypeTunnelløpUtenTrafikkOtherType"/>
  </simpleType>
  <simpleType name="TypeTunnelløpUtenTrafikkEnumerationType">
    <annotation>
      <documentation>9177: Angir hvilken type tunnelløp det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9177</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9177</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tverrforbindelse mellom tunnelløp">
        <annotation>
          <documentation>12299: Tverrforbindelse mellom tunnelløp</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12299</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrforbindelse mellom tunnelløp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tverrslag til dagen">
        <annotation>
          <documentation>12300: Tverrslag til dagen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12300</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrslag til dagen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parallelløp til hovedløp">
        <annotation>
          <documentation>12323: Parallelløp til hovedløp</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12323</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parallelløp til hovedløp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sløyfe">
        <annotation>
          <documentation>13395: Tunnelløp som går i sløyfe, dvs. det starter og slutter i samme løp. Benyttes f.eks. som rensesløyfe.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13395</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sløyfe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpUtenTrafikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
