GML/PS/OLFV_SVV/2.31/59.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.31" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.31" version="2.31">
  <annotation>
    <documentation>59: Permeabel duk som hovedsakelig brukes til filter og til separasjon av gode og dårlige masser. Visse duker har også en armeringsfunksjon. Betegnelsen geotekstil og fiberduk benyttes ofte om hverandre (2).</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Fiberduk" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:FiberdukType">
    <annotation>
      <documentation>59: Permeabel duk som hovedsakelig brukes til filter og til separasjon av gode og dårlige masser. Visse duker har også en armeringsfunksjon. Betegnelsen geotekstil og fiberduk benyttes ofte om hverandre (2).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">59</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">59</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fiberduk</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FiberdukType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="leggedato" type="date">
            <annotation>
              <documentation>5146: Angir leggedato for fiberduk/armeringsnett.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5146</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Leggedato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="plassering" type="string">
            <annotation>
              <documentation>8750: Angir hvor i en konstruksjon fiberduken er plassert. Kan f.eks. være "på planering", med mer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8750</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="breddeGjennomsnitt" type="double">
            <annotation>
              <documentation>5147: Angir representativ bredde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5147</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde gjennomsnitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>1443: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1443</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4762: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4762</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FiberdukPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fiberduk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
