GML/PS/OLFV_SVV/2.31/819.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.31" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.31" version="2.31">
  <annotation>
    <documentation>819: Tavle/skap/koblingsboks/punkt hvor strøm fordeles til teknisk utstyr. Benyttes bl.a. i forbindelse med tunnelutstyr.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeFordelingType">
    <annotation>
      <documentation>12108: Angir hva som er hovedbruksområdet for fordeling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12108</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12108</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeFordelingEnumerationType nvdb:BruksområdeFordelingOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeFordelingEnumerationType">
    <annotation>
      <documentation>12108: Angir hva som er hovedbruksområdet for fordeling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12108</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12108</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Veglys">
        <annotation>
          <documentation>21052: Strøm veglys i dagen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21052</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veglys</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bygning">
        <annotation>
          <documentation>21054: Strøm til bygning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21054</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rasteplass">
        <annotation>
          <documentation>21053: Strøm til belysning og elektriske installasjoner på rasteplass.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21053</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rasteplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signalanlegg">
        <annotation>
          <documentation>21055: Strøm til signalanlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21055</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signalanlegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skilting">
        <annotation>
          <documentation>21056: Strøm til skilting.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21056</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skilting</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferjeleie">
        <annotation>
          <documentation>21057: Strøm til belysning og elektriske installasjoner på ferjeleie.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21057</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferjeleie</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel">
        <annotation>
          <documentation>21058: Strøm til tunnel/tunnelutstyr.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21058</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bru">
        <annotation>
          <documentation>21787: Strøm til installasjoner i/på bru.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21787</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Værstasjon">
        <annotation>
          <documentation>21059: Strøm til værstasjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21059</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Værstasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkregistreringsstasjon">
        <annotation>
          <documentation>21060: Strøm til trafikkregistreringsstasjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21060</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkregistreringsstasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pumper">
        <annotation>
          <documentation>21061: Strøm til pumper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21061</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pumper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vifter">
        <annotation>
          <documentation>21062: Strøm til vifter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21062</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vifter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spesiell belysning">
        <annotation>
          <documentation>21063: Strøm til spesiell belysning. Kan f.eks være utsmykkingingsbelysning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21063</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell belysning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkregulering/overvåking/ITS">
        <annotation>
          <documentation>21064: Strøm til Trafikkregulering/overvåking/ITS.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21064</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkregulering/overvåking/ITS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferist">
        <annotation>
          <documentation>21065: Strøm til elektrisk ferist.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21065</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferist</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet bruksområde">
        <annotation>
          <documentation>21720: Benyttes om bruksområde som ikke er dekket av andre bruksområder.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21720</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet bruksområde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Fordeling" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:FordelingType">
    <annotation>
      <documentation>819: Tavle/skap/koblingsboks/punkt hvor strøm fordeles til teknisk utstyr. Benyttes bl.a. i forbindelse med tunnelutstyr.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fordeling</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FordelingType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="typeFordeling" type="nvdb:TypeFordelingType">
            <annotation>
              <documentation>9327: Angir hvilken type fordeling enheten er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type fordeling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksområde" type="nvdb:BruksområdeFordelingType">
            <annotation>
              <documentation>12108: Angir hva som er hovedbruksområdet for fordeling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12108</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="plassering" type="nvdb:PlasseringFordelingType">
            <annotation>
              <documentation>10065: Angir hvor vegobjektet er plassert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materiale" type="nvdb:MaterialeType">
            <annotation>
              <documentation>12107: Angir hvilket materiale skap/innkapsling er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12107</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="spenning" type="nvdb:SpenningFordelingType">
            <annotation>
              <documentation>10064: Angir spenningen som leveres til enheten.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10064</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="låsesystem" type="string">
            <annotation>
              <documentation>10058: Angir hvilket låsesystem som er benyttet på skapet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10058</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Låsesystem</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tilknyttetOvervåkningssentral" type="nvdb:TilknyttetOvervåkningssentralType">
            <annotation>
              <documentation>10067: Angir hvilken overvåkningssentral tavlen er tilknyttet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10067</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilknyttet overvåkningssentral</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overspenningsvernType" type="string">
            <annotation>
              <documentation>10062: Angir produsent og typebetegnelse for eventuelt overspenningsvern.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10062</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overspenningsvern type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overbelastningsvernType" type="string">
            <annotation>
              <documentation>10061: Angir produsent og typebetegnelse for eventuelt overbelastningsvern.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10061</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overbelastningsvern type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overbelastningsvernStørrelse" type="integer">
            <annotation>
              <documentation>10060: Angir størrelse på eventuelt overbelastningsvern.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10060</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overbelastningsvern størrelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjølingType" type="string">
            <annotation>
              <documentation>10059: Angir fabrikat og type for eventuell kjøling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10059</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kjøling type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10053: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10053</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>10054: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10054</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>9328: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9328</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertElektriskAnlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:ElektriskAnlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FordelingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fordeling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaterialeType">
    <annotation>
      <documentation>12107: Angir hvilket materiale skap/innkapsling er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeEnumerationType nvdb:MaterialeOtherType"/>
  </simpleType>
  <simpleType name="MaterialeEnumerationType">
    <annotation>
      <documentation>12107: Angir hvilket materiale skap/innkapsling er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stål">
        <annotation>
          <documentation>21067: Stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21067</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Aluminium">
        <annotation>
          <documentation>21068: Aluminium</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21068</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>21069: Plast/kompositt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21069</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringFordelingType">
    <annotation>
      <documentation>10065: Angir hvor vegobjektet er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringFordelingEnumerationType nvdb:PlasseringFordelingOtherType"/>
  </simpleType>
  <simpleType name="PlasseringFordelingEnumerationType">
    <annotation>
      <documentation>10065: Angir hvor vegobjektet er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ute">
        <annotation>
          <documentation>16438: Fordelingstavle er plassert utendørs i det fri.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16438</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ute</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I tunnelrommet">
        <annotation>
          <documentation>16439: Fordelingstavle er plassert i selve tunnelrommet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16439</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I tunnelrommet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I bygg/rom">
        <annotation>
          <documentation>16440: Fordelingstavle er plassert i et bygg/rom/kiosk med dør adskilt fra det fri/tunnelrommet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I bygg/rom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpenningFordelingType">
    <annotation>
      <documentation>10064: Angir spenningen som leveres til enheten.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10064</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10064</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpenningFordelingEnumerationType nvdb:SpenningFordelingOtherType"/>
  </simpleType>
  <simpleType name="SpenningFordelingEnumerationType">
    <annotation>
      <documentation>10064: Angir spenningen som leveres til enheten.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10064</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10064</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="12">
        <annotation>
          <documentation>16433: 12 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16433</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>16434: 24 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16434</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="230">
        <annotation>
          <documentation>16435: 230 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">230</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="400">
        <annotation>
          <documentation>16436: 400 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16436</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">400</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="230/400">
        <annotation>
          <documentation>16437: 230 og 400 volt (TN-nett).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16437</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">230/400</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="690">
        <annotation>
          <documentation>16715: 690 volt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16715</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">690</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpenningFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilknyttetOvervåkningssentralType">
    <annotation>
      <documentation>10067: Angir hvilken overvåkningssentral tavlen er tilknyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10067</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10067</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilknyttet overvåkningssentral</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilknyttetOvervåkningssentralEnumerationType nvdb:TilknyttetOvervåkningssentralOtherType"/>
  </simpleType>
  <simpleType name="TilknyttetOvervåkningssentralEnumerationType">
    <annotation>
      <documentation>10067: Angir hvilken overvåkningssentral tavlen er tilknyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10067</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10067</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tilknyttet overvåkningssentral</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="VTS">
        <annotation>
          <documentation>16441: Fordeling er knyttet til VTS.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16441</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Nord">
        <annotation>
          <documentation>21047: Fordeling er knyttet til VTS Nord.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21047</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Nord</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Midt">
        <annotation>
          <documentation>21048: Fordeling er knyttet til VTS Midt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21048</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Midt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Vest">
        <annotation>
          <documentation>21049: Fordeling er knyttet til VTS Vest.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21049</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Vest</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Sør">
        <annotation>
          <documentation>21050: Fordeling er knyttet til VTS Sør.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21050</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Sør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="VTS Øst">
        <annotation>
          <documentation>21051: Fordeling er knyttet til VTS Øst.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21051</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">VTS Øst</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Datek">
        <annotation>
          <documentation>21712: Fordeling er knyttet til Datek</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21712</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Datek</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet sentralt styringssystem">
        <annotation>
          <documentation>16442: Fordeling er knyttet til annet sentralt styringssystem.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16442</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet sentralt styringssystem</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen">
        <annotation>
          <documentation>16443: Fordeling er ikke knyttet til overvåkningssentral.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16443</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilknyttetOvervåkningssentralOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFordelingType">
    <annotation>
      <documentation>9327: Angir hvilken type fordeling enheten er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type fordeling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeFordelingEnumerationType nvdb:TypeFordelingOtherType"/>
  </simpleType>
  <simpleType name="TypeFordelingEnumerationType">
    <annotation>
      <documentation>9327: Angir hvilken type fordeling enheten er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type fordeling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hovedfordeling">
        <annotation>
          <documentation>13014: Hovedfordeling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13014</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hovedfordeling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Underfordeling">
        <annotation>
          <documentation>13015: Underfordeling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Underfordeling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tilknytningsskap">
        <annotation>
          <documentation>21786: Tilknytningsskap</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21786</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilknytningsskap</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
