GML/PS/OLFV_SVV/2.28/849.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28" version="2.28">
  <annotation>
    <documentation>849: Område som blir overvåket med hensyn på skred</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="OvervåkningstypeType">
    <annotation>
      <documentation>9648: Angir type overvåkning.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9648</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9648</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Overvåkningstype</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OvervåkningstypeEnumerationType nvdb:OvervåkningstypeOtherType"/>
  </simpleType>
  <simpleType name="OvervåkningstypeEnumerationType">
    <annotation>
      <documentation>9648: Angir type overvåkning.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9648</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9648</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Overvåkningstype</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Geofon">
        <annotation>
          <documentation>13895: Instrument for registrering av rystelser i grunnen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13895</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geofon</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Radar">
        <annotation>
          <documentation>13896: Radar for måling av bevegelser i terrenget</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13896</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Radar</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rystelsesmåling">
        <annotation>
          <documentation>13897: Måling av rystelser (f.eks. i grunnen, i fanggjerde etc.)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13897</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rystelsesmåling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varslingsgjerde">
        <annotation>
          <documentation>13898: Gjerde for varsling av farlig område</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13898</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varslingsgjerde</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Infralyd">
        <annotation>
          <documentation>21024: Infralyd</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21024</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Infralyd</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen">
        <annotation>
          <documentation>13899: Annen overvåkningstype</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13899</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Annen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OvervåkningstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skred_VarslingOvervåkning" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Skred_VarslingOvervåkningType">
    <annotation>
      <documentation>849: Område som blir overvåket med hensyn på skred</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">849</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">849</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skred,varsling/overvåkning</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Skred_VarslingOvervåkningType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="typeNaturfare" type="nvdb:TypeNaturfareSkred_VarslingOvervåkningType">
            <annotation>
              <documentation>9647: Angir hvilken type naturfare overvåkning/varsling gjelder for.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9647</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type naturfare</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="overvåkningstype" type="nvdb:OvervåkningstypeType">
            <annotation>
              <documentation>9648: Angir type overvåkning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9648</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Overvåkningstype</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="varslingPåVeg" type="nvdb:VarslingPåVegType">
            <annotation>
              <documentation>9650: Angir type varsling som er satt opp synlig for trafikkanter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9650</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varsling på veg</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>9651: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9651</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, flate</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Skred_VarslingOvervåkningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skred_VarslingOvervåkning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeNaturfareSkred_VarslingOvervåkningType">
    <annotation>
      <documentation>9647: Angir hvilken type naturfare overvåkning/varsling gjelder for.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9647</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9647</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type naturfare</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeNaturfareSkred_VarslingOvervåkningEnumerationType nvdb:TypeNaturfareSkred_VarslingOvervåkningOtherType"/>
  </simpleType>
  <simpleType name="TypeNaturfareSkred_VarslingOvervåkningEnumerationType">
    <annotation>
      <documentation>9647: Angir hvilken type naturfare overvåkning/varsling gjelder for.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9647</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9647</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type naturfare</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Snøskred">
        <annotation>
          <documentation>13890: Fare for snøskred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13890</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Snøskred</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Steinsprang/skred">
        <annotation>
          <documentation>13891: Fare for steinsprang/steinskred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13891</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Steinsprang/skred</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jordskred">
        <annotation>
          <documentation>13892: Fare for jordskred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13892</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Jordskred</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flom">
        <annotation>
          <documentation>13893: Fare for flom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13893</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Flom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bølger">
        <annotation>
          <documentation>13894: Fare for bølger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13894</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bølger</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flere skredtyper">
        <annotation>
          <documentation>21023: Indikerer at det varsles/overvåkes flere skredtyper. Kan suppleres under tilleggsinformasjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21023</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Flere skredtyper</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNaturfareSkred_VarslingOvervåkningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VarslingPåVegType">
    <annotation>
      <documentation>9650: Angir type varsling som er satt opp synlig for trafikkanter.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9650</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9650</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varsling på veg</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VarslingPåVegEnumerationType nvdb:VarslingPåVegOtherType"/>
  </simpleType>
  <simpleType name="VarslingPåVegEnumerationType">
    <annotation>
      <documentation>9650: Angir type varsling som er satt opp synlig for trafikkanter.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9650</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9650</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varsling på veg</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Lys">
        <annotation>
          <documentation>13981: Varsling ved hjelp av lys</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13981</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lys</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bommer">
        <annotation>
          <documentation>13982: Varsling ved hjelp av bommer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13982</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bommer</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen">
        <annotation>
          <documentation>15963: Ingen varsling er satt opp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">15963</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ingen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarslingPåVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
