GML/PS/OLFV_SVV/2.27/14.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.27" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.27" version="2.27">
  <annotation>
    <documentation>14: En spesiell konstruksjon i begynnelsen eller slutten på et rekkverk. Det må være utformet og montert slik at faren for alvorlig personskade ved påkjøresel blir minst mulig (Håndbok N101)</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="ProduktnavnTypegodkjenningRekkverksendeType">
    <annotation>
      <documentation>10724: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for rekkverksender godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt. Aktuelt for ettergivende rekkverksender.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10724</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10724</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn/typegodkjenning</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProduktnavnTypegodkjenningRekkverksendeEnumerationType nvdb:ProduktnavnTypegodkjenningRekkverksendeOtherType"/>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningRekkverksendeEnumerationType">
    <annotation>
      <documentation>10724: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for rekkverksender godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt. Aktuelt for ettergivende rekkverksender.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10724</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10724</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn/typegodkjenning</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="ABC-Terminal - P2">
        <annotation>
          <documentation>17321: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512254&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17321</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">ABC-Terminal - P2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ABC-Terminal - P3">
        <annotation>
          <documentation>17320: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512257&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17320</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">ABC-Terminal - P3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ABC-Terminal - P4">
        <annotation>
          <documentation>17319: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512261&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17319</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">ABC-Terminal - P4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ESPEN - P4">
        <annotation>
          <documentation>17322: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511712&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17322</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">ESPEN - P4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Euro ET - P4">
        <annotation>
          <documentation>17323: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511735&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17323</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Euro ET - P4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="MCG-TE-P4 - P4">
        <annotation>
          <documentation>17324: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=974999&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17324</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">MCG-TE-P4 - P4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Primus P2">
        <annotation>
          <documentation>17325: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512362&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17325</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Primus P2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SafeEnd - P2">
        <annotation>
          <documentation>18507: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1414206&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18507</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SafeEnd - P2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SafeEnd - P4">
        <annotation>
          <documentation>17326: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=694845&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17326</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SafeEnd - P4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SafeEnd 80T-NO - Tunnel">
        <annotation>
          <documentation>18510: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1975435&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18510</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SafeEnd 80T-NO - Tunnel</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA T1">
        <annotation>
          <documentation>20343: Mer informasjon om produkt finnes på vegvesen.no:  https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2690011&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20343</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SMA T1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA T2">
        <annotation>
          <documentation>18508: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1093849&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18508</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SMA T2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA T4">
        <annotation>
          <documentation>18509: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1093697&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18509</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SMA T4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trend DS - P2">
        <annotation>
          <documentation>17327: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512348&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17327</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trend DS - P2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trend DS - P4">
        <annotation>
          <documentation>17328: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512349&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17328</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trend DS - P4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trend SS - P2">
        <annotation>
          <documentation>17330: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512327&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17330</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trend SS - P2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trend SS - P4">
        <annotation>
          <documentation>17329: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512330&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17329</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trend SS - P4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="XT 110 - P4">
        <annotation>
          <documentation>17331: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512292&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17331</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">XT 110 - P4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="XTD 110 - P4">
        <annotation>
          <documentation>17332: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=512295&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17332</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">XTD 110 - P4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ZT1 - P4">
        <annotation>
          <documentation>17333: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=627947&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17333</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">ZT1 - P4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="ZT2 - P4">
        <annotation>
          <documentation>17334: Mer informasjon om produkt finnes på vegvesen.no:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=576154&amp;method=alle&amp;produkttype=12622</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17334</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">ZT2 - P4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningRekkverksendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Rekkverksende" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:RekkverksendeType">
    <annotation>
      <documentation>14: En spesiell konstruksjon i begynnelsen eller slutten på et rekkverk. Det må være utformet og montert slik at faren for alvorlig personskade ved påkjøresel blir minst mulig (Håndbok N101)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">14</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rekkverksende</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RekkverksendeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeRekkverksendeType">
            <annotation>
              <documentation>1096: Angir hvilken type rekkverksavslutning/overgangselemet det er tale om.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1096</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavnTypegodkjenning" type="nvdb:ProduktnavnTypegodkjenningRekkverksendeType">
            <annotation>
              <documentation>10724: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for rekkverksender godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt. Aktuelt for ettergivende rekkverksender.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10724</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn/typegodkjenning</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10346: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10346</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etableringsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4722: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4722</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRekkverk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Rekkverk</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RekkverksendePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Rekkverksende"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeRekkverksendeType">
    <annotation>
      <documentation>1096: Angir hvilken type rekkverksavslutning/overgangselemet det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1096</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1096</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeRekkverksendeEnumerationType nvdb:TypeRekkverksendeOtherType"/>
  </simpleType>
  <simpleType name="TypeRekkverksendeEnumerationType">
    <annotation>
      <documentation>1096: Angir hvilken type rekkverksavslutning/overgangselemet det er tale om.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1096</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1096</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Sideforankring">
        <annotation>
          <documentation>5733: Rekkverket forankres i sideterreng, mur, tunnelportal ol i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5733</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sideforankring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideforankring i fjellskjæring">
        <annotation>
          <documentation>5723: Rekkverket forankres i fjellskjæring i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5723</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sideforankring i fjellskjæring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideforankring i jordskjæring">
        <annotation>
          <documentation>5724: Rekkverket forankres i jordskjæring i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5724</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sideforankring i jordskjæring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideforankring i mur">
        <annotation>
          <documentation>5725: Rekkverket forankres i mur i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5725</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sideforankring i mur</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideforankring i tunnelportal">
        <annotation>
          <documentation>5726: Rekkverket forankres i tunnelportal i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5726</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sideforankring i tunnelportal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sideforankring i naboelement">
        <annotation>
          <documentation>5727: Rekkverket forankres i naboelement i full rekkverkshøyde.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5727</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sideforankring i naboelement</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ettergivende">
        <annotation>
          <documentation>5734: Rekkverksende er konstruert slik at den gir etter/klapper sammen ved påkjøring. Type/produkt kan angis under egenskapstype 10724</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5734</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ettergivende</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedføring i bakken uten utsvinging">
        <annotation>
          <documentation>2458: Rekkverket er forankret ned i bakken, men er ikke avbøyd sideveis</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2458</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nedføring i bakken uten utsvinging</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nedføring i bakken og utsvinget">
        <annotation>
          <documentation>2459: Rekkverket er forankret ned i bakken og avbøyd sideveis, men avsluttes innenfor vegens sikkerhetssone</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2459</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nedføring i bakken og utsvinget</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avslutning i full høyde uten utsvingning">
        <annotation>
          <documentation>5735: Rekkverket avsluttes i full høyde med avrundings/avslutningselement. Rekkverket er ikke  utsvingning sidevegs. Rekkverksende er ikke ettergivende.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5735</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avslutning i full høyde uten utsvingning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avslutning i full høyde og utsvinget">
        <annotation>
          <documentation>13721: Rekkverket avsluttes i full høyde med avrundings/avslutningselement og er avbøyd sidevegs, men avsluttes innenfor vegens sikkerhetssone. Rekkverksende er ikke ettergivende.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13721</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avslutning i full høyde og utsvinget</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rekkverk avsluttet utenfor sikkerhetssonen">
        <annotation>
          <documentation>13720: Rekkverk avbøyes og avsluttes utenfor vegens sikkerhetssone (Håndokb 231, kap. 4.3.1, måte 5)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13720</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rekkverk avsluttet utenfor sikkerhetssonen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avslutning i annet vegobjekt">
        <annotation>
          <documentation>2460: Rekkverket avsluttes/forankres i annet vegobjekt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2460</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Avslutning i annet vegobjekt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeRekkverksendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
