GML/PS/OLFV_SVV/2.27/467.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.27" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.27" version="2.27">
  <annotation>
    <documentation>467: Aggregat for å produsere elektrisk strøm</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Nødstrømsaggregat" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:NødstrømsaggregatType">
    <annotation>
      <documentation>467: Aggregat for å produsere elektrisk strøm</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">467</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">467</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nødstrømsaggregat</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NødstrømsaggregatType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeNødstrømsaggregatType">
            <annotation>
              <documentation>3780: Angir mobilitet for aggregatet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3780</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="effekt" type="integer">
            <annotation>
              <documentation>3851: Angir maksimal effekt aggregatet yter.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3851</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Effekt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>9933: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9933</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etableringsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>9929: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9929</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Driftsmerking</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent" type="string">
            <annotation>
              <documentation>9930: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9930</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produsent</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>9931: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9931</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4984: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4984</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NødstrømsaggregatPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Nødstrømsaggregat"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeNødstrømsaggregatType">
    <annotation>
      <documentation>3780: Angir mobilitet for aggregatet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3780</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3780</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeNødstrømsaggregatEnumerationType nvdb:TypeNødstrømsaggregatOtherType"/>
  </simpleType>
  <simpleType name="TypeNødstrømsaggregatEnumerationType">
    <annotation>
      <documentation>3780: Angir mobilitet for aggregatet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3780</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3780</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Mobilt">
        <annotation>
          <documentation>4813: Mobilt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4813</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mobilt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stasjonært">
        <annotation>
          <documentation>4814: Stasjonært</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4814</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stasjonært</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNødstrømsaggregatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
