GML/PS/OLFV_SVV/2.27/519.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.27" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.27" version="2.27">
  <annotation>
    <documentation>519: Vegoppmerking som ikke har nevneverdig langsgående utstrekning.  Eks symbol, sperreområder, piler, tekst, gangfelt og annen tverrgående oppmerking.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="NedfresingType">
    <annotation>
      <documentation>10930: Angir hvorvidt det er frest ned en plan forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10930</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10930</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nedfresing</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NedfresingEnumerationType nvdb:NedfresingOtherType"/>
  </simpleType>
  <simpleType name="NedfresingEnumerationType">
    <annotation>
      <documentation>10930: Angir hvorvidt det er frest ned en plan forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10930</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10930</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nedfresing</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>18274: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18274</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>18275: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18275</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NedfresingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegoppmerking_TverrgåendeType">
    <annotation>
      <documentation>4167: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4167</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4167</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeVegoppmerking_TverrgåendeEnumerationType nvdb:TypeVegoppmerking_TverrgåendeOtherType"/>
  </simpleType>
  <simpleType name="TypeVegoppmerking_TverrgåendeEnumerationType">
    <annotation>
      <documentation>4167: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4167</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4167</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fartsgrense (1054)">
        <annotation>
          <documentation>16781: Fartsgrense (1054)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16781</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fartsgrense (1054)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stopplinje (1020)">
        <annotation>
          <documentation>5168: Stopplinje (1020)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5168</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stopplinje (1020)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vikelinje (1022)">
        <annotation>
          <documentation>5167: Vikelinje (1022)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5167</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vikelinje (1022)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gangfelt (1024)">
        <annotation>
          <documentation>5147: Gangfelt (1024)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5147</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gangfelt (1024)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkelkryssing (1026.1)">
        <annotation>
          <documentation>5315: Kryssingsfelt beregnet for sykkeltrafikk.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5315</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sykkelkryssing (1026.1)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkelkryssing inntil gangfelt (1026.2)">
        <annotation>
          <documentation>16777: Kryssingsfelt beregnet for sykkeltrafikk som ligger inntil gangfelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16777</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sykkelkryssing inntil gangfelt (1026.2)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fartshump (1027)">
        <annotation>
          <documentation>11740: Fartshump (1027)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11740</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fartshump (1027)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parkeringsfelt (1028)">
        <annotation>
          <documentation>5261: Parkeringsfelt (1028)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5261</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Parkeringsfelt (1028)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rumlefelt">
        <annotation>
          <documentation>5165: Felt som er utformet slik at det ved kjøring over i stor fart framkommer en rumlende lyd (017) Vegreferanse angis for start rumlefelt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5165</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rumlefelt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vikesymbol (1036)">
        <annotation>
          <documentation>5156: Vikesymbol (1036)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5156</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vikesymbol (1036)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gangsymbol (1037)">
        <annotation>
          <documentation>5158: Gangsymbol (1037)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5158</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gangsymbol (1037)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Delesymbol (1038)">
        <annotation>
          <documentation>21380: Sykkel med to "hatter" over. Symbol 1038 Delesymbol kan anvendes for å binde sammen sykkelruter der det mangler særskilt infrastruktur for sykkel og/eller et systemskifte i vegstandard (N302 Vegoppmerking) .</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21380</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Delesymbol (1038)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkelsymbol (1039)">
        <annotation>
          <documentation>5157: Sykkelsymbol (1039)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5157</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sykkelsymbol (1039)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parkeringssymbol (1040)">
        <annotation>
          <documentation>5316: Parkeringssymbol (1040)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5316</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Parkeringssymbol (1040)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Symbol for forflytningshemmede (1042)">
        <annotation>
          <documentation>5159: Symbol for forflytningshemmede (1042)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5159</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Symbol for forflytningshemmede (1042)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skinnekjøretøy (1044)">
        <annotation>
          <documentation>16778: Skinnekjøretøy (1044)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16778</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skinnekjøretøy (1044)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tekst, stopp (1050.1)">
        <annotation>
          <documentation>5162: Tekst, stopp (1050.1)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5162</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tekst, stopp (1050.1)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tekst, buss (1050.2)">
        <annotation>
          <documentation>5163: Tekst, buss (1050.2)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5163</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tekst, buss (1050.2)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tekst, taxi (1050.3)">
        <annotation>
          <documentation>5164: Tekst, taxi (1050.3)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5164</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tekst, taxi (1050.3)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tekst, vegvisning (1050.4)">
        <annotation>
          <documentation>5161: Tekst, vegvisning (1050.4)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5161</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tekst, vegvisning (1050.4)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tekst, skole (1050.5)">
        <annotation>
          <documentation>16779: Tekst, skole (1050.5)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16779</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tekst, skole (1050.5)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tekst, sambruksfelt (1052)">
        <annotation>
          <documentation>16780: F.eks "2+"</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16780</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tekst, sambruksfelt (1052)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, minirundkjøring (1034)">
        <annotation>
          <documentation>16782: Pil, minirundkjøring (1034)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16782</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pil, minirundkjøring (1034)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.RH)">
        <annotation>
          <documentation>5150: Pil, kjøreretn, (1034.RH)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5150</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pil, kjøreretn, (1034.RH)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.RV)">
        <annotation>
          <documentation>5151: Pil, kjøreretn, (1034.RV)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5151</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pil, kjøreretn, (1034.RV)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.RHV)">
        <annotation>
          <documentation>5152: Pil, kjøreretn, (1034.RHV)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5152</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pil, kjøreretn, (1034.RHV)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.V)">
        <annotation>
          <documentation>5153: Pil, kjøreretn, (1034.V)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5153</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pil, kjøreretn, (1034.V)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.H)">
        <annotation>
          <documentation>5154: Pil, kjøreretn, (1034.H)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5154</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pil, kjøreretn, (1034.H)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.VH)">
        <annotation>
          <documentation>5155: Pil, kjøreretn, (1034.VH)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5155</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pil, kjøreretn, (1034.VH)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, feltskifte, (1034.F)">
        <annotation>
          <documentation>5169: Pil, feltskifte, (1034.F)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5169</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pil, feltskifte, (1034.F)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pil, kjøreretn, (1034.R)">
        <annotation>
          <documentation>5149: Pil, kjøreretn, (1034.R)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5149</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pil, kjøreretn, (1034.R)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mangler">
        <annotation>
          <documentation>10240: Angir at det mangler informasjon om type.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10240</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mangler</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegoppmerking_TverrgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegoppmerking_Tverrgående" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Vegoppmerking_TverrgåendeType">
    <annotation>
      <documentation>519: Vegoppmerking som ikke har nevneverdig langsgående utstrekning.  Eks symbol, sperreområder, piler, tekst, gangfelt og annen tverrgående oppmerking.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">519</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">519</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegoppmerking,tverrgående</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Vegoppmerking_TverrgåendeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeVegoppmerking_TverrgåendeType">
            <annotation>
              <documentation>4167: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4167</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedfresing" type="nvdb:NedfresingType">
            <annotation>
              <documentation>10930: Angir hvorvidt det er frest ned en plan forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10930</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nedfresing</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bredde" type="double">
            <annotation>
              <documentation>4173: Angir bredde av vegobjektet.  Bredde måles på tvers av symbol/tekst sin lengderetning.  Tverrsgående oppmerking som f.eks "gangfelt har lengderetning på tvers av vegen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4173</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lengde" type="double">
            <annotation>
              <documentation>4169: Angir lengde av vegobjektet, måles i oppmerkingens lengderetning.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4169</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lengde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tekst_Vegvisning" type="string">
            <annotation>
              <documentation>4174: Angir vegnummer eller stedsnavn som er tekster i vegbanen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4174</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tekst, vegvisning</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallViketrekanter" type="integer">
            <annotation>
              <documentation>4181: Angir hvor mange viketrekanter det er.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4181</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall viketrekanter</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallRomlelinjer" type="integer">
            <annotation>
              <documentation>4185: Angir hvor mange linjer som inngår i romlefelt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4185</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall romlelinjer</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallGangfeltstaver" type="integer">
            <annotation>
              <documentation>4518: Angir hvor mange staver (striper) det er i et gangfelt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4518</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall gangfeltstaver</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5020: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5020</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9395: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9395</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, linje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGangfelt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Gangfelt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFartsdemper" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Fartsdemper</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegoppmerking_TverrgåendePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegoppmerking_Tverrgående"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
