GML/PS/OLFV_SVV/2.27/848.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.27" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.27" version="2.27">
  <annotation>
    <documentation>848: Skjerm som settes opp for å stoppe drivende snø</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstSnøskjermType">
    <annotation>
      <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9634</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9634</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Adkomst</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AdkomstSnøskjermEnumerationType nvdb:AdkomstSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="AdkomstSnøskjermEnumerationType">
    <annotation>
      <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9634</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9634</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Adkomst</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bil">
        <annotation>
          <documentation>19824: Adkomst er mulig med bil.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19824</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bil</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hjullaster">
        <annotation>
          <documentation>13841: Adkomst er mulig med hjullaster.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13841</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hjullaster</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gravemaskin">
        <annotation>
          <documentation>13842: Adkomst for gravemaskin</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13842</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gravemaskin</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Til fots">
        <annotation>
          <documentation>13843: Adkomst til fots</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13843</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Til fots</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kran">
        <annotation>
          <documentation>13844: Adkomst for kran</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13844</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kran</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tau">
        <annotation>
          <documentation>13845: Adkomt med tau</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13845</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tau</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Helikopter">
        <annotation>
          <documentation>13846: Adkomst for helikopter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13846</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Helikopter</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeSnøskjermType">
    <annotation>
      <documentation>9627: Angir bruksområde for vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9627</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9627</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksområde</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeSnøskjermEnumerationType nvdb:BruksområdeSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeSnøskjermEnumerationType">
    <annotation>
      <documentation>9627: Angir bruksområde for vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9627</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9627</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksområde</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Løsneområde for skred">
        <annotation>
          <documentation>13836: Løsneområde for skred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13836</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Løsneområde for skred</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drivsnø på veg">
        <annotation>
          <documentation>13837: Drivsnø på veg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13837</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Drivsnø på veg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ByggematerialeType">
    <annotation>
      <documentation>9633: Angir hvilket materiale objektet er bygget av.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9633</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9633</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Byggemateriale</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ByggematerialeEnumerationType nvdb:ByggematerialeOtherType"/>
  </simpleType>
  <simpleType name="ByggematerialeEnumerationType">
    <annotation>
      <documentation>9633: Angir hvilket materiale objektet er bygget av.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9633</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9633</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Byggemateriale</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tre">
        <annotation>
          <documentation>13838: Tre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13838</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>13839: Stål</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13839</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stål</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>13840: Plast</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13840</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Plast</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ByggematerialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Snøskjerm" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SnøskjermType">
    <annotation>
      <documentation>848: Skjerm som settes opp for å stoppe drivende snø</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">848</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">848</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Snøskjerm</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SnøskjermType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeSnøskjermType">
            <annotation>
              <documentation>9627: Angir bruksområde for vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9627</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksområde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lengde" type="double">
            <annotation>
              <documentation>9628: Angir total lengde av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9628</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lengde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høydeOverTerreng" type="double">
            <annotation>
              <documentation>9629: Angir avstand fra terreng til topp skjerm.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9629</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Høyde over terreng</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bakkeklaring" type="double">
            <annotation>
              <documentation>9632: Angir avstand fra terreng opp til første horisontale bord.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9632</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bakkeklaring</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggemateriale" type="nvdb:ByggematerialeType">
            <annotation>
              <documentation>9633: Angir hvilket materiale objektet er bygget av.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9633</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Byggemateriale</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="adkomst" type="nvdb:AdkomstSnøskjermType">
            <annotation>
              <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9634</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Adkomst</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>9640: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9640</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etableringsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9641: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9641</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, linje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SnøskjermPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Snøskjerm"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
