GML/PS/OLFV_SVV/2.27/90.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.27" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.27" version="2.27">
  <annotation>
    <documentation>90: Signalhoder inkludert stolpe etc. lokalisert til et punkt.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="OppsettingsutstyrSignalpunktType">
    <annotation>
      <documentation>1875: Angir hvilken type oppsettingsutstyr vegobjektet er festet på.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1875</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1875</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppsettingsutstyr</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrSignalpunktEnumerationType nvdb:OppsettingsutstyrSignalpunktOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrSignalpunktEnumerationType">
    <annotation>
      <documentation>1875: Angir hvilken type oppsettingsutstyr vegobjektet er festet på.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1875</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1875</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppsettingsutstyr</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Egen stolpe">
        <annotation>
          <documentation>2968: Festet til egen stolpe/mast</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2968</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Egen stolpe</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Helportal">
        <annotation>
          <documentation>2873: Festet på helportal. En helportal har to innfestinger i bakken.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2873</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Helportal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Halvportal">
        <annotation>
          <documentation>2870: Festet på halvportal. En halvportal har bare en innfesting i bakken.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2870</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Halvportal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Wirestrekk">
        <annotation>
          <documentation>2876: Festet på wire som er strekt over vegen. Wire kan være festet til stolper, vegg/bygning eller annet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2876</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Wirestrekk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skiltbjelke/gitterdrager i tak">
        <annotation>
          <documentation>18487: Festet på skiltbjelke/gitermast. Skiltbjelke/gitermast benyttes hovedsakelig i  tunnel eller i forbindelse med underganger og er festet i taket.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18487</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skiltbjelke/gitterdrager i tak</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Henger i tak/kabelbro">
        <annotation>
          <documentation>2971: Festet direkte i tak eller i kabelbro. Aktuelt i forbindelse med tunneler og underganger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2971</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Henger i tak/kabelbro</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegg">
        <annotation>
          <documentation>2973: Festet til vegg/bygning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2973</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lysmast">
        <annotation>
          <documentation>2966: Festet til lysmast</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2966</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lysmast</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegbom">
        <annotation>
          <documentation>16737: Festet på vegbom. F.eks Gulblink festet på bom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16737</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegbom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSignalpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Signalpunkt" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SignalpunktType">
    <annotation>
      <documentation>90: Signalhoder inkludert stolpe etc. lokalisert til et punkt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">90</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">90</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signalpunkt</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SignalpunktType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrSignalpunktType">
            <annotation>
              <documentation>1875: Angir hvilken type oppsettingsutstyr vegobjektet er festet på.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1875</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppsettingsutstyr</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsutstyr" type="nvdb:TilleggsutstyrType">
            <annotation>
              <documentation>1963: Angir hvilket tilleggsutstyr det finnes i forbindelse med vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1963</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsutstyr</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10355: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10355</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etableringsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4790: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4790</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSignalanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Signalanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSignalhode" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Signalhode</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SignalpunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Signalpunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TilleggsutstyrType">
    <annotation>
      <documentation>1963: Angir hvilket tilleggsutstyr det finnes i forbindelse med vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1963</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1963</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsutstyr</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TilleggsutstyrEnumerationType nvdb:TilleggsutstyrOtherType"/>
  </simpleType>
  <simpleType name="TilleggsutstyrEnumerationType">
    <annotation>
      <documentation>1963: Angir hvilket tilleggsutstyr det finnes i forbindelse med vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1963</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1963</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsutstyr</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Trykknapp for fotgjengere">
        <annotation>
          <documentation>2989: Trykknapp for fotgjengere</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2989</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trykknapp for fotgjengere</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Akustisk signal">
        <annotation>
          <documentation>2990: Akustisk signal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2990</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Akustisk signal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trykknapp for fotgjengere og akustisk signal">
        <annotation>
          <documentation>2991: Trykknapp for fotgjengere og akustisk signal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2991</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trykknapp for fotgjengere og akustisk signal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke tilleggsutstyr">
        <annotation>
          <documentation>18308: Ikke noe tilleggsutstyr. Bare aktuelt å angi denne verdien i tilfeller hvor det er relevant med tilleggsutstyr</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18308</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ikke tilleggsutstyr</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TilleggsutstyrOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
