GML/PS/OLFV_NV/2.40/174.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        version="2.28">
   <annotation>
      <documentation>174: Oppmerket felt for fotgjengere (1)</documentation>
   </annotation>
   <include schemaLocation="OLFV_SVV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="Belegning_TypeType">
      <annotation>
         <documentation>8736: Angir type belegning for gangfeltet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8736</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8736</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning,type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Belegning_TypeEnumerationType nvdb:Belegning_TypeOtherType"/>
   </simpleType>
   <simpleType name="Belegning_TypeEnumerationType">
      <annotation>
         <documentation>8736: Angir type belegning for gangfeltet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8736</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8736</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning,type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Stein">
            <annotation>
               <documentation>11566: Belegningsstein f.eks av type granitt , brostein etc</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11566</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betongstein">
            <annotation>
               <documentation>11564: Betongstein</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11564</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betongheller">
            <annotation>
               <documentation>11563: Betongheller</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11563</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongheller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Skiferheller">
            <annotation>
               <documentation>11565: Skiferheller</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11565</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiferheller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betong">
            <annotation>
               <documentation>11559: Betong</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11559</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Asfalt">
            <annotation>
               <documentation>11567: Asfalt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11567</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Belegning_TypeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Gangfelt"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:GangfeltType">
      <annotation>
         <documentation>174: Oppmerket felt for fotgjengere (1)</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">174</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">174</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gangfelt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="GangfeltType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="stedsangivelse" type="string">
                  <annotation>
                     <documentation>7904: Stedsnavn hvor forekomst er lokalisert. Ev. plassering i relatert til til stedsnavn. Detaljplassering i kryssområder.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7904</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stedsangivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="markeringAvStriper" type="nvdb:MarkeringAvStriperType">
                  <annotation>
                     <documentation>8738: Angir hvordan striper er markert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8738</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Markering av striper</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="hevet" type="nvdb:HevetType">
                  <annotation>
                     <documentation>8739: Angir om gangfeltet er hevet i forhold til vegplanet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8739</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Hevet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="belegning_Type" type="nvdb:Belegning_TypeType">
                  <annotation>
                     <documentation>8736: Angir type belegning for gangfeltet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8736</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belegning, type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10300: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10300</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9434: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9434</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>12089: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12089</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="assosiertFartsdemper"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Fartsdemper</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="assosiertVegoppmerking_Tverrgående"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vegoppmerking_Tverrgående</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="assosiertTaktileIndikatorer"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TaktileIndikatorer</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="GangfeltPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Gangfelt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="HevetType">
      <annotation>
         <documentation>8739: Angir om gangfeltet er hevet i forhold til vegplanet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8739</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8739</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hevet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HevetEnumerationType nvdb:HevetOtherType"/>
   </simpleType>
   <simpleType name="HevetEnumerationType">
      <annotation>
         <documentation>8739: Angir om gangfeltet er hevet i forhold til vegplanet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8739</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8739</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hevet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>11557: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11557</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>11558: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11558</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HevetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MarkeringAvStriperType">
      <annotation>
         <documentation>8738: Angir hvordan striper er markert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Markering av striper</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MarkeringAvStriperEnumerationType nvdb:MarkeringAvStriperOtherType"/>
   </simpleType>
   <simpleType name="MarkeringAvStriperEnumerationType">
      <annotation>
         <documentation>8738: Angir hvordan striper er markert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Markering av striper</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Malte striper">
            <annotation>
               <documentation>11555: Malte striper</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11555</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Malte striper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vekslende materialtype">
            <annotation>
               <documentation>11556: Striper framkommer av vekslende materialbruk, for eksempel forskjellig type stein med ulik farge.  Ikke benyttet maling.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11556</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vekslende materialtype</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ikke striper">
            <annotation>
               <documentation>11568: Gangfeltet har ikke markerte striper</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11568</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke striper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MarkeringAvStriperOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
