GML/PS/OLFV_SVV/2.24/456.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.24" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.24" version="2.24">
  <annotation>
    <documentation>456: Apparatur i tilknytning til teknisk utstyr.  Apparatur står vanligvis i skap.  Inneholder f.eks PLS, modem, batteri/strøm, telefon med mer.  Benyttes f.eks i tilknytning til signalanlegg.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeStyreapparatType">
    <annotation>
      <documentation>11003: Angir hovedbruksområde for styreapparat</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11003</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11003</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksområde</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeStyreapparatEnumerationType nvdb:BruksområdeStyreapparatOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeStyreapparatEnumerationType">
    <annotation>
      <documentation>11003: Angir hovedbruksområde for styreapparat</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11003</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11003</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksområde</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Signalanlegg">
        <annotation>
          <documentation>18408: Benyttes til styring av signalanlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18408</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signalanlegg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skilt">
        <annotation>
          <documentation>18409: Benyttes til styring av variabelt skilt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18409</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skilt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegbom">
        <annotation>
          <documentation>18410: Benyttes til styring av vegbom</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18410</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegbom</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ventilasjon">
        <annotation>
          <documentation>18411: Benyttes til styring av ventilasjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18411</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ventilasjon</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet utstyr">
        <annotation>
          <documentation>18412: Benyttes til styring av annet teknisk utstyr.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18412</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Annet utstyr</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeStyreapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EnergikildeStyreapparatType">
    <annotation>
      <documentation>3750: Angir hvilken type energikilde som benyttes</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3750</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3750</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Energikilde</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EnergikildeStyreapparatEnumerationType nvdb:EnergikildeStyreapparatOtherType"/>
  </simpleType>
  <simpleType name="EnergikildeStyreapparatEnumerationType">
    <annotation>
      <documentation>3750: Angir hvilken type energikilde som benyttes</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3750</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3750</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Energikilde</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nettselskap">
        <annotation>
          <documentation>4882: Nettselskap</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4882</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nettselskap</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Batteri">
        <annotation>
          <documentation>4883: Batteri</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4883</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Batteri</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Batteri/solcellepanel">
        <annotation>
          <documentation>4884: Batteri/solcellepanel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4884</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Batteri/solcellepanel</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Batteri/vindgenerator">
        <annotation>
          <documentation>4885: Batteri/vindgenerator</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4885</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Batteri/vindgenerator</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnergikildeStyreapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Styreapparat" substitutionGroup="gml:AbstractFeature" type="nvdb:StyreapparatType">
    <annotation>
      <documentation>456: Apparatur i tilknytning til teknisk utstyr.  Apparatur står vanligvis i skap.  Inneholder f.eks PLS, modem, batteri/strøm, telefon med mer.  Benyttes f.eks i tilknytning til signalanlegg.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">456</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">456</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Styreapparat</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StyreapparatType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="type" type="nvdb:TypeStyreapparatType">
            <annotation>
              <documentation>8812: Angir type styreapparat.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8812</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bruksområde" type="nvdb:BruksområdeStyreapparatType">
            <annotation>
              <documentation>11003: Angir hovedbruksområde for styreapparat</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11003</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksområde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produksjonsår" type="integer">
            <annotation>
              <documentation>8814: Angir hvilket år utstyret ble produsert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8814</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produksjonsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>4066: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4066</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etableringsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10482: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10482</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Driftsmerking</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>3793: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3793</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4974: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4974</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="energikilde" type="nvdb:EnergikildeStyreapparatType">
            <annotation>
              <documentation>3750: Angir hvilken type energikilde som benyttes</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3750</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Energikilde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StyreapparatPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Styreapparat"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeStyreapparatType">
    <annotation>
      <documentation>8812: Angir type styreapparat.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8812</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8812</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeStyreapparatEnumerationType nvdb:TypeStyreapparatOtherType"/>
  </simpleType>
  <simpleType name="TypeStyreapparatEnumerationType">
    <annotation>
      <documentation>8812: Angir type styreapparat.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8812</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8812</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Signal">
        <annotation>
          <documentation>11675: Signal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11675</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, C800V">
        <annotation>
          <documentation>11676: Signal, C800V</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11676</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, C800V</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, EC-1">
        <annotation>
          <documentation>11677: Signal, EC-1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11677</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, EC-1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ELC">
        <annotation>
          <documentation>11678: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11678</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, ELC</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ELC-2">
        <annotation>
          <documentation>11679: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11679</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, ELC-2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ELC-3">
        <annotation>
          <documentation>11680: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11680</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, ELC-3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ELC-2/3">
        <annotation>
          <documentation>11681: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11681</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, ELC-2/3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, EPC">
        <annotation>
          <documentation>11682: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11682</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, EPC</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, EPC-4">
        <annotation>
          <documentation>11683: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11683</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, EPC-4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, EPC-2">
        <annotation>
          <documentation>11684: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11684</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, EPC-2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC">
        <annotation>
          <documentation>11685: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11685</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, FC</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC-2000">
        <annotation>
          <documentation>11686: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11686</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, FC-2000</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC-2008">
        <annotation>
          <documentation>11687: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11687</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, FC-2008</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC-2016">
        <annotation>
          <documentation>11688: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11688</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, FC-2016</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC-400">
        <annotation>
          <documentation>11689: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11689</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, FC-400</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA">
        <annotation>
          <documentation>11690: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11690</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, FCA</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-400">
        <annotation>
          <documentation>11691: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11691</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, FCA-400</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-4000">
        <annotation>
          <documentation>11692: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11692</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, FCA-4000</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-042">
        <annotation>
          <documentation>11693: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11693</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, FCA-042</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-082">
        <annotation>
          <documentation>11694: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11694</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, FCA-082</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-162">
        <annotation>
          <documentation>11695: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11695</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, FCA-162</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-2">
        <annotation>
          <documentation>11696: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11696</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, FCA-2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FR-80">
        <annotation>
          <documentation>11697: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11697</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, FR-80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ITC-1">
        <annotation>
          <documentation>11698: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11698</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, ITC-1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ITC-2">
        <annotation>
          <documentation>16164: Signal, ITC-2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16164</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, ITC-2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ITC-2 Mini">
        <annotation>
          <documentation>16165: Signal, ITC-2 Mini</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16165</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, ITC-2 Mini</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, JCF">
        <annotation>
          <documentation>11699: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11699</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, JCF</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, JCF-150">
        <annotation>
          <documentation>11700: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11700</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, JCF-150</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, JCF-250">
        <annotation>
          <documentation>11701: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11701</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, JCF-250</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, KL">
        <annotation>
          <documentation>11702: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11702</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, KL</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, KL-5000">
        <annotation>
          <documentation>11703: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11703</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, KL-5000</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, KLT-5000">
        <annotation>
          <documentation>11704: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11704</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, KLT-5000</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, LC">
        <annotation>
          <documentation>11705: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11705</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, LC</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, LC/FCA">
        <annotation>
          <documentation>11706: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11706</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, LC/FCA</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, MQ">
        <annotation>
          <documentation>11707: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11707</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, MQ</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, MR">
        <annotation>
          <documentation>11708: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11708</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, MR</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, NH">
        <annotation>
          <documentation>11709: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11709</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, NH</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, PLS">
        <annotation>
          <documentation>11710: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11710</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, PLS</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, POFYR">
        <annotation>
          <documentation>11711: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11711</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, POFYR</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-5400">
        <annotation>
          <documentation>11712: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11712</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, SC-5400</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-5408">
        <annotation>
          <documentation>11713: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11713</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, SC-5408</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-8800">
        <annotation>
          <documentation>11714: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11714</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, SC-8800</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-9016">
        <annotation>
          <documentation>11715: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11715</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, SC-9016</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-9108">
        <annotation>
          <documentation>11716: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11716</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, SC-9108</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SE">
        <annotation>
          <documentation>11717: Ikke aktuell ved nye anlegg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11717</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal, SE</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeStyreapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
