GML/PS/OLFV_SVV/2.24/800.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.24" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.24" version="2.24">
  <annotation>
    <documentation>800: Område der det vokser "fremmede" arter, dvs arter som ikke ønskes spredd langs vegene.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="ArtsnavnType">
    <annotation>
      <documentation>9118: Angir navn på art</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9118</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9118</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Artsnavn</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ArtsnavnEnumerationType nvdb:ArtsnavnOtherType"/>
  </simpleType>
  <simpleType name="ArtsnavnEnumerationType">
    <annotation>
      <documentation>9118: Angir navn på art</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9118</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9118</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Artsnavn</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kjempebjørnekjeks">
        <annotation>
          <documentation>12132: Heracleum mantegazzianum</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12132</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjempebjørnekjeks</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tromsøpalme">
        <annotation>
          <documentation>12133: Heracleum persicum</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12133</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tromsøpalme</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjempespringfrø">
        <annotation>
          <documentation>12134: Impatiens glandulifera</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12134</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjempespringfrø</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Russekål">
        <annotation>
          <documentation>12136: Bunias orientalis</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12136</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Russekål</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hagelupin">
        <annotation>
          <documentation>12137: Lupinus polyphyllus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12137</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hagelupin</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Park- og hybridslirekne">
        <annotation>
          <documentation>12138: Fallopia japonica / Fallopia bohemica</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12138</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Park- og hybridslirekne</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Legepestrot">
        <annotation>
          <documentation>16194: Petasites hybridus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16194</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Legepestrot</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kanadagullris">
        <annotation>
          <documentation>16193: Solidago canadensis</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16193</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kanadagullris</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ubestemt Slirekne">
        <annotation>
          <documentation>16192: Fallopia xxx</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16192</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ubestemt Slirekne</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjempeslirekne">
        <annotation>
          <documentation>12139: Fallopia sachalinensis</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12139</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjempeslirekne</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skogskjegg">
        <annotation>
          <documentation>12140: Aruncus dioicus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12140</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skogskjegg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rynkerose">
        <annotation>
          <documentation>12141: Rosa rugosa</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12141</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rynkerose</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Platanlønn">
        <annotation>
          <documentation>12142: Platanlønn</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12142</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Platanlønn</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fagerfredløs">
        <annotation>
          <documentation>17883: Fagerfredløs</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17883</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fagerfredløs</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hvitsteinkløver">
        <annotation>
          <documentation>17884: Hvitsteinkløver</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17884</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hvitsteinkløver</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Høstberberis">
        <annotation>
          <documentation>17885: Høstberberis</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17885</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Høstberberis</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hagepastinakk">
        <annotation>
          <documentation>17886: Hagepastinakk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17886</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hagepastinakk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Andre arter">
        <annotation>
          <documentation>16195: Andre arter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16195</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Andre arter</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ArtsnavnOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Bekjempelse_TypeType">
    <annotation>
      <documentation>9977: Angir hvilke midler arten bekjempes med</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9977</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9977</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bekjempelse,type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Bekjempelse_TypeEnumerationType nvdb:Bekjempelse_TypeOtherType"/>
  </simpleType>
  <simpleType name="Bekjempelse_TypeEnumerationType">
    <annotation>
      <documentation>9977: Angir hvilke midler arten bekjempes med</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9977</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9977</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bekjempelse,type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kantklipp">
        <annotation>
          <documentation>16196: Kantklipp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16196</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kantklipp</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjemisk">
        <annotation>
          <documentation>16197: Kjemisk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16197</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjemisk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mekanisk fjerning">
        <annotation>
          <documentation>16198: Mekanisk fjerning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16198</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mekanisk fjerning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet">
        <annotation>
          <documentation>16199: Annet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16199</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Annet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Bekjempelse_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BekjempelsesgradType">
    <annotation>
      <documentation>9982: Angir i hvilken grad den uønskede fremmede arten bekjempes</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9982</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9982</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bekjempelsesgrad</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BekjempelsesgradEnumerationType nvdb:BekjempelsesgradOtherType"/>
  </simpleType>
  <simpleType name="BekjempelsesgradEnumerationType">
    <annotation>
      <documentation>9982: Angir i hvilken grad den uønskede fremmede arten bekjempes</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9982</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9982</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bekjempelsesgrad</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Overvåkes">
        <annotation>
          <documentation>16202: Arten overvåkes for å se utviklingen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16202</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Overvåkes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Begrenses">
        <annotation>
          <documentation>16203: Arten bekjempes for å begrense spredning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16203</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Begrenses</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bekjempes">
        <annotation>
          <documentation>16204: Arten bekjempes for å utryddes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16204</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bekjempes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BekjempelsesgradOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ForekomstFortsetterPåNaboeiendomType">
    <annotation>
      <documentation>9980: Angir om arten også er spredt utenfor arealet som tilhører vegeier.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9980</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9980</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forekomst fortsetter på naboeiendom</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ForekomstFortsetterPåNaboeiendomEnumerationType nvdb:ForekomstFortsetterPåNaboeiendomOtherType"/>
  </simpleType>
  <simpleType name="ForekomstFortsetterPåNaboeiendomEnumerationType">
    <annotation>
      <documentation>9980: Angir om arten også er spredt utenfor arealet som tilhører vegeier.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9980</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9980</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forekomst fortsetter på naboeiendom</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16200: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16200</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16201: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16201</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForekomstFortsetterPåNaboeiendomOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="FremmedeArter" substitutionGroup="gml:AbstractFeature" type="nvdb:FremmedeArterType">
    <annotation>
      <documentation>800: Område der det vokser "fremmede" arter, dvs arter som ikke ønskes spredd langs vegene.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">800</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">800</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fremmede arter</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FremmedeArterType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="artsnavn" type="nvdb:ArtsnavnType">
            <annotation>
              <documentation>9118: Angir navn på art</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9118</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Artsnavn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lokalitet" type="string">
            <annotation>
              <documentation>9120: Beskrivelse av stedet. (F.eks bak støyskjerm, nær stikkrenne)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9120</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lokalitet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tetthet" type="nvdb:TetthetType">
            <annotation>
              <documentation>9119: Gir informasjon om plantetetthet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9119</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tetthet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallIndivid" type="integer">
            <annotation>
              <documentation>9979: Antall individer av uønsket art på den aktuelle strekningen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9979</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall individ</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forekomstFortsetterPåNaboeiendom" type="nvdb:ForekomstFortsetterPåNaboeiendomType">
            <annotation>
              <documentation>9980: Angir om arten også er spredt utenfor arealet som tilhører vegeier.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9980</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Forekomst fortsetter på naboeiendom</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bestandsbredde" type="integer">
            <annotation>
              <documentation>9978: Gjennomsnittsbredde for den uønskede arten innenfor strekningen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9978</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bestandsbredde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>9976: Størrelse på arealet innenfor vegarealet der den fremmede arten forekommer</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9976</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Areal</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bekjempelse_Type" type="nvdb:Bekjempelse_TypeType">
            <annotation>
              <documentation>9977: Angir hvilke midler arten bekjempes med</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9977</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bekjempelse, type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bekjempelsesgrad" type="nvdb:BekjempelsesgradType">
            <annotation>
              <documentation>9982: Angir i hvilken grad den uønskede fremmede arten bekjempes</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9982</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bekjempelsesgrad</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="statusBehandling" type="nvdb:StatusBehandlingType">
            <annotation>
              <documentation>10842: Angir hva som er status for behandling av forekomsten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10842</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Status behandling</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="status_SistEndret" type="date">
            <annotation>
              <documentation>10843: Angir dato for når egenskapen "Status behandling" sist ble endret.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10843</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Status, sist endret</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registrertDato" type="date">
            <annotation>
              <documentation>10297: Angir dato for når forekomsten ble registrert i NVDB første gang</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10297</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Registrert dato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9121: Informasjon som kan være nyttig utover det som er sagt om lokalitet. For eksempel naturbeskrivelse (skog, eng, landbruksareal, nær hager). Andre fremmede arter tas inn her.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9121</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tilleggsinformasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10965: Gir flate/polygon som geometrisk avgrenser området</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10965</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, flate</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FremmedeArterPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:FremmedeArter"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StatusBehandlingType">
    <annotation>
      <documentation>10842: Angir hva som er status for behandling av forekomsten</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10842</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10842</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Status behandling</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StatusBehandlingEnumerationType nvdb:StatusBehandlingOtherType"/>
  </simpleType>
  <simpleType name="StatusBehandlingEnumerationType">
    <annotation>
      <documentation>10842: Angir hva som er status for behandling av forekomsten</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10842</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10842</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Status behandling</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ikke tidligere behandlet">
        <annotation>
          <documentation>17879: Ikke tidligere behandlet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17879</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ikke tidligere behandlet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Behandling pågår">
        <annotation>
          <documentation>17880: Behandling pågår</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17880</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Behandling pågår</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bekjempes/overvåkes">
        <annotation>
          <documentation>17881: Bekjempes/overvåkes</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17881</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bekjempes/overvåkes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Antatt utryddet">
        <annotation>
          <documentation>17882: Antatt utryddet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17882</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antatt utryddet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusBehandlingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TetthetType">
    <annotation>
      <documentation>9119: Gir informasjon om plantetetthet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9119</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9119</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tetthet</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TetthetEnumerationType nvdb:TetthetOtherType"/>
  </simpleType>
  <simpleType name="TetthetEnumerationType">
    <annotation>
      <documentation>9119: Gir informasjon om plantetetthet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9119</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9119</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tetthet</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tett bestand">
        <annotation>
          <documentation>12145: Enkeltplanetene står tilnærmet inntil hverandre innenfor angitt område.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12145</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tett bestand</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spredt">
        <annotation>
          <documentation>12144: Noe avstand mellom hver enkelt plante, men kan være mange enkeltplanter totalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12144</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Spredt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Få">
        <annotation>
          <documentation>12143: Kun få enkeltplanter</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12143</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Få</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TetthetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
