GML/PS/OLFV_SVV/2.24/91.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.24" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.24" version="2.24">
  <annotation>
    <documentation>91: Innfatning med ett eller flere lys/lamper som til sammen danner et trafikklyssignal</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AntallLamperType">
    <annotation>
      <documentation>1958: Angir hvor mange lyspærer det er knyttet til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1958</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1958</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall lamper</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallLamperEnumerationType nvdb:AntallLamperOtherType"/>
  </simpleType>
  <simpleType name="AntallLamperEnumerationType">
    <annotation>
      <documentation>1958: Angir hvor mange lyspærer det er knyttet til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1958</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1958</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall lamper</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>3731: 1</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3731</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>3740: 2</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3740</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">2</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>3747: 3</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3747</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">3</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>3017: 4</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3017</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">4</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallLamperOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Signalhode" substitutionGroup="gml:AbstractFeature" type="nvdb:SignalhodeType">
    <annotation>
      <documentation>91: Innfatning med ett eller flere lys/lamper som til sammen danner et trafikklyssignal</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">91</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">91</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signalhode</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SignalhodeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="type" type="nvdb:TypeSignalhodeType">
            <annotation>
              <documentation>1147: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1147</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallLamper" type="nvdb:AntallLamperType">
            <annotation>
              <documentation>1958: Angir hvor mange lyspærer det er knyttet til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1958</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Antall lamper</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10477: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10477</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Driftsmerking</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4791: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4791</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SignalhodePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Signalhode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSignalhodeType">
    <annotation>
      <documentation>1147: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1147</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1147</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSignalhodeEnumerationType nvdb:TypeSignalhodeOtherType"/>
  </simpleType>
  <simpleType name="TypeSignalhodeEnumerationType">
    <annotation>
      <documentation>1147: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1147</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1147</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hovedsignal, 3 lys (1080)">
        <annotation>
          <documentation>2992: Standard kjøretøysignal. 3 lysåpninger. Rød, gul og gul. Signal 1080 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2992</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hovedsignal, 3 lys (1080)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pilsignal, 3 lys, venstre (1082.1)">
        <annotation>
          <documentation>2999: Kjøretøysignal, pilsignal, 3 lysåpninger. Rød, gul og grønn venstrepil. Signal 1082.1 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2999</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pilsignal, 3 lys, venstre (1082.1)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pilsignal, 3 lys, rett fram (1082.2)">
        <annotation>
          <documentation>3000: Kjøretøysignal, pilsignal, 3 lysåpninger. Rød, gul og grønn rett-frampil. Signal 1082.2 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3000</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pilsignal, 3 lys, rett fram (1082.2)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pilsignal, 3 lys, høyre (1082.3)">
        <annotation>
          <documentation>3001: Kjøretøysignal, pilsignal, 3 lysåpninger. Rød, gul og grønn høyrepil. Signal 1082.3 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3001</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pilsignal, 3 lys, høyre (1082.3)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pilsignal, 2 lys, gul/grønn, venstre (1082.1)">
        <annotation>
          <documentation>2996: Kjøretøysignal. Pilsignal, 2 lysåpninger. Gul og grønn venstrepil. Variant av signal 1082.1 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2996</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pilsignal, 2 lys, gul/grønn, venstre (1082.1)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pilsignal, 2 lys, gul/grønn, rett fram(1082.2)">
        <annotation>
          <documentation>18415: Kjøretøysignal. Pilsignal, 2 lysåpninger. Gul og grønn rett-frampil. Variant av signal 1082.2 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18415</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pilsignal, 2 lys, gul/grønn, rett fram(1082.2)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pilsignal, 2 lys, gul/grønn, høyre (1082.3)">
        <annotation>
          <documentation>18416: Kjøretøysignal. Pilsignal, 2 lysåpninger. Gul og grønn høyrepil. Variant av signal 1082.3 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18416</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pilsignal, 2 lys, gul/grønn, høyre (1082.3)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pilsignal, 2 lys, rød/gul, venstre (1082.1)">
        <annotation>
          <documentation>2997: Kjøretøysignal. Pilsignal, 2 lysåpninger. Rød og gul venstrepil. Variant av signal 1082.1 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2997</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pilsignal, 2 lys, rød/gul, venstre (1082.1)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pilsignal, 2 lys, rød/gul, rett fram (1082.2)">
        <annotation>
          <documentation>18418: Kjøretøysignal. Pilsignal, 2 lysåpninger. Rød og gul venstrepil. Variant av signal 1082.2 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18418</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pilsignal, 2 lys, rød/gul, rett fram (1082.2)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pilsignal, 2 lys, rød/gul, høyre (1082.3)">
        <annotation>
          <documentation>18417: Kjøretøysignal. Pilsignal, 2 lysåpninger. Rød og gul høyrepil. Variant av signal 1082.3 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18417</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pilsignal, 2 lys, rød/gul, høyre (1082.3)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pilsignal, 1 lys, grønn venstre (1082.1)">
        <annotation>
          <documentation>2995: Kjøretøysignal. Pilsignal, 1 lysåpning. Grønn venstrepil. Variant av signal 1082.1 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2995</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pilsignal, 1 lys, grønn venstre (1082.1)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pilsignal, 1 lys, grønn rett framn (1082.2)">
        <annotation>
          <documentation>18413: Kjøretøysignal. Pilsignal, 1 lysåpning. Grønn venstrepil. Variant av signal 1082.2 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18413</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pilsignal, 1 lys, grønn rett framn (1082.2)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pilsignal, 1 lys, grønn høyre (1082.3)">
        <annotation>
          <documentation>18414: Kjøretøysignal. Pilsignal, 1 lysåpning. Grønn venstrepil. Variant av signal 1082.3 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18414</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Pilsignal, 1 lys, grønn høyre (1082.3)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sykkelsignal (1084)">
        <annotation>
          <documentation>3003: Sykkelsignal gjelder for kjørende i sykkelfelt og sykkelkryssing. Signal 1084 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3003</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sykkelsignal (1084)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fotgjengersignal (1086)">
        <annotation>
          <documentation>3004: Signal rettet mot fotgjengere. Normalt rød og grønn mann. Kan være variant med dobbelt rød mann.  Signal 1086 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3004</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fotgjengersignal (1086)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal for kollektivtrafikk (1088)">
        <annotation>
          <documentation>3002: Standard kjøretøysignal for kollektivtrafikk. 3 lysåpninger. Nederste lysåpning kan være venstrepil, rettframpil eller høyrepil. Signal 1088 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3002</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signal for kollektivtrafikk (1088)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjørefeltsignal (1090)">
        <annotation>
          <documentation>3005: Signaler i form av enten rødt kryss, grønn pil eller gul pil over kjørefelt. De benyttes i forbindelse med stengning eller reversering av kjørefelt i forbindelse med trafikkomlegginger ved vegarbeid, hendelser o.l. på flerfeltsveger og i tunneler der slike hendelser erfaringsmessig skjer forholdsvis hyppig. Signal 1090 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3005</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjørefeltsignal (1090)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tolyssignal (1092)">
        <annotation>
          <documentation>3006: Tolyssignaler anvendes på bomstasjoner, fergeleier, parkeringsanlegg og andre offentlige steder åpne for allmenn ferdsel hvor formålet er å dirigere trafikk ved lave hastigheter.  Signal 1092 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3006</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tolyssignal (1092)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal (1094)">
        <annotation>
          <documentation>3007: Rødt stoppblinksignal benyttes hvor trafikken må stoppes helt over en kortere eller lengre periode.  Signal 1094 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3007</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rødt stoppblinksignal (1094)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Blinkende signal foran jernbane (1096)">
        <annotation>
          <documentation>3008: Blinkende signal foran jernbane kan benyttes ved planoverganger der vegtrafikken må stoppes for sikker kryssing av skinnegang.  Signal 1096 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3008</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Blinkende signal foran jernbane (1096)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gult blinksignal (1098)">
        <annotation>
          <documentation>3009: Signalet angir at trafikantene må vise særlig aktpågivenhet og varsomhet.  Signal 1098 i Håndbok N303</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3009</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gult blinksignal (1098)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSignalhodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
