GML/PS/OLFV_SVV/2.26/80.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.26" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.26" version="2.26">
  <annotation>
    <documentation>80: Forsenkning i terrenget for å lede bort vann.  Del av vegens avvanningssystem.  Kan også benevnes "kanal".  Merknad: Breddemåling skal refereres til topp grøft.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Grøft_Åpen" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Grøft_ÅpenType">
    <annotation>
      <documentation>80: Forsenkning i terrenget for å lede bort vann.  Del av vegens avvanningssystem.  Kan også benevnes "kanal".  Merknad: Breddemåling skal refereres til topp grøft.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">80</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">80</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Grøft,åpen</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Grøft_ÅpenType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeGrøft_ÅpenType">
            <annotation>
              <documentation>1139: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1139</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materiale" type="nvdb:MaterialeGrøft_ÅpenType">
            <annotation>
              <documentation>1944: Angir hvilket materiale grøfta i hovedsak ligger i/er omsluttet av.  Evt belegning skal ikke oppgis her.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1944</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Materiale</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="dybde" type="double">
            <annotation>
              <documentation>1658: Angir dybde målt fra vegkant til bunn grøft.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1658</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dybde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1324: Angir total lengde av vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1324</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lengde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10304: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10304</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etableringsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4781: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4781</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, linje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikkdeler</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Grøft_ÅpenPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Grøft_Åpen"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaterialeGrøft_ÅpenType">
    <annotation>
      <documentation>1944: Angir hvilket materiale grøfta i hovedsak ligger i/er omsluttet av.  Evt belegning skal ikke oppgis her.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Materiale</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeGrøft_ÅpenEnumerationType nvdb:MaterialeGrøft_ÅpenOtherType"/>
  </simpleType>
  <simpleType name="MaterialeGrøft_ÅpenEnumerationType">
    <annotation>
      <documentation>1944: Angir hvilket materiale grøfta i hovedsak ligger i/er omsluttet av.  Evt belegning skal ikke oppgis her.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1944</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Materiale</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Berg">
        <annotation>
          <documentation>3046: Berg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3046</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Berg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprengt stein">
        <annotation>
          <documentation>3048: Sprengt stein</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3048</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sprengt stein</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Løsmasse">
        <annotation>
          <documentation>3596: Løsmasse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3596</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Løsmasse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kombinasjon løsmasse/berg">
        <annotation>
          <documentation>13798: Kombinasjon løsmasse/berg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13798</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kombinasjon løsmasse/berg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Myr">
        <annotation>
          <documentation>3932: Myr</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3932</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Myr</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeGrøft_ÅpenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeGrøft_ÅpenType">
    <annotation>
      <documentation>1139: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1139</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1139</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeGrøft_ÅpenEnumerationType nvdb:TypeGrøft_ÅpenOtherType"/>
  </simpleType>
  <simpleType name="TypeGrøft_ÅpenEnumerationType">
    <annotation>
      <documentation>1139: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1139</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1139</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Dyp sidegrøft">
        <annotation>
          <documentation>3889: Benyttes om dyp sidegrøft som har til hensikt å drenere overbygning.   Det er som regel ikke lukka drenering i tillegg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3889</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dyp sidegrøft</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grunn sidegrøft">
        <annotation>
          <documentation>3890: Benyttes om grunn sidegrøft som bare har til hensikt å drenere overflatevann og ikke overbygning.  Det er som regel lukka drenering i tillegg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3890</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Grunn sidegrøft</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Filtergrøft">
        <annotation>
          <documentation>17233: Sidegrøft der vann infiltreres og ledes bort . Se HB N200 kap 403.47. Større rensegrøfter defineres som "Lukka rørgrøft" av type "Filter-/rensegrøft" eller "Basseng/magasin" med bruksområde "Rensebasseng, infiltrasjon".</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17233</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Filtergrøft</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Terrenggrøft">
        <annotation>
          <documentation>2934: Terrenggrøft</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2934</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Terrenggrøft</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Åpent avløp">
        <annotation>
          <documentation>11627: Åpent avløp</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11627</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Åpent avløp</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeGrøft_ÅpenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
