GML/PS/OLFV_SVV/2.26/885.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.26" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.26" version="2.26">
  <annotation>
    <documentation>885: Elektronisk skjerm som viser sanntidsinformajson knyttet til kollektivtrafikk.Kan f.eks være informasjon om avgangstider, forsinkelser, mm.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkType">
    <annotation>
      <documentation>10691: Angir hvilken type oppsettingsutstyr som er benyttet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10691</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10691</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppsettingsutstyr</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkEnumerationType nvdb:OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkEnumerationType">
    <annotation>
      <documentation>10691: Angir hvilken type oppsettingsutstyr som er benyttet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10691</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10691</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppsettingsutstyr</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Eget oppsettingsutstyr">
        <annotation>
          <documentation>17265: Skjerm er festet på eget oppsettingsutstyr, f.eks egen stolpe,</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17265</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eget oppsettingsutstyr</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Leskur">
        <annotation>
          <documentation>17264: Skjerm er fetet på leskur</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17264</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Leskur</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegg/mur">
        <annotation>
          <documentation>17266: Skjerm er festet på mur eller vegg/bygning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17266</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegg/mur</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen stolpe">
        <annotation>
          <documentation>17267: Skjerm er festet på Skiltstolpe/lysmast etc</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17267</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Annen stolpe</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Sanntidsinformasjon_Kollektivtrafikk" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Sanntidsinformasjon_KollektivtrafikkType">
    <annotation>
      <documentation>885: Elektronisk skjerm som viser sanntidsinformajson knyttet til kollektivtrafikk.Kan f.eks være informasjon om avgangstider, forsinkelser, mm.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">885</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">885</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sanntidsinformasjon,kollektivtrafikk</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Sanntidsinformasjon_KollektivtrafikkType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkType">
            <annotation>
              <documentation>10691: Angir hvilken type oppsettingsutstyr som er benyttet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10691</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oppsettingsutstyr</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høyde" type="double">
            <annotation>
              <documentation>10690: Høyde fra bakkenivå til nedre kant av skjerm</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10690</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Høyde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10733: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10733</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etableringsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent" type="string">
            <annotation>
              <documentation>12218: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12218</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produsent</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>10689: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10689</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10692: Punkt som representerer vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10692</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, Punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHoldeplassutrustning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Holdeplassutrustning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Sanntidsinformasjon_KollektivtrafikkPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sanntidsinformasjon_Kollektivtrafikk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
