GML/PS/OLFV_SVV/2.26/89.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.26" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.26" version="2.26">
  <annotation>
    <documentation>89: System for regulering og varsling av trafikk.  Det er sammensatt av flere signalpunkt med tilhørende signalhoder og blir styrt av et styreapparat.  Merknad: Rødblinkanlegg er som regel egne signalanlegg på hvert sted, dvs rødblink i en ende av en tunnel er et annet saignalanlegg enn rødblink i andre enden av tunnelen.  Motsatt kan signalpunkt ved et gangfelt høre sammen i samme signalanlegg som signalpunkt for et kryss like ved.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeSignalanleggType">
    <annotation>
      <documentation>1273: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1273</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1273</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksområde</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeSignalanleggEnumerationType nvdb:BruksområdeSignalanleggOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeSignalanleggEnumerationType">
    <annotation>
      <documentation>1273: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1273</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1273</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksområde</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Vegkryss">
        <annotation>
          <documentation>2974: Signalanlegg for regulering av vegkryss. Kan bestå av kjøretøysignaler (trelyssignal, sykkelsignal og pilsignal), fotgjengersignal og kollektivsignal.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2974</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegkryss</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gangfelt">
        <annotation>
          <documentation>2975: Signalanlegg for regulering av gangfelt utenfor signalregulerte vegkryss.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2975</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gangfelt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skyttelsignalanlegg">
        <annotation>
          <documentation>2977: Signalanlegg for regulering av trafikken på steder utenfor vegkryss hvor bare én kjøreretning kan avvikles om gangen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2977</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skyttelsignalanlegg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signaler for rampekontroll">
        <annotation>
          <documentation>18277: Signalanlegg som benyttes for å styre tilførsel av trafikk fra rampe til hovedveg. Signalanlegget skal bare slippe én bil av gangen over på grønt lys.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18277</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signaler for rampekontroll</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjørefeltsignal">
        <annotation>
          <documentation>2979: Benyttes for å angi retning på kjørefeltene.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2979</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjørefeltsignal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, bru">
        <annotation>
          <documentation>2978: Signalanlegg for visning av trafikkretning for ett eller flere kjørefelt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2978</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rødt stoppblinksignal, bru</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, høgfjellsstrekning">
        <annotation>
          <documentation>4870: Rødt blinkanlegg for å markere stengning av høyfjellsstrekning.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4870</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rødt stoppblinksignal, høgfjellsstrekning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, tunnel">
        <annotation>
          <documentation>4876: Rødt blinkanlegg for å markere stengning av tunnel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4876</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rødt stoppblinksignal, tunnel</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, lav høyde">
        <annotation>
          <documentation>4875: Rødt blinkanlegg for å markere stengning av veg pga at et kjøretøy er for høgt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4875</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rødt stoppblinksignal, lav høyde</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, skred/skredfare">
        <annotation>
          <documentation>4871: Rødt blinkanlegg for å markere stengning av veg pga skred eller fare for skred</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4871</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rødt stoppblinksignal, skred/skredfare</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, vind/uvær">
        <annotation>
          <documentation>11719: Rødt blinkanlegg for å markere stengning av veg pga sterk vind/uvær</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11719</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rødt stoppblinksignal, vind/uvær</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, utrykningsstasjon">
        <annotation>
          <documentation>11720: Rødt blinkanlegg for å markere stengning av veg pga utrykning fra brannstasjon, politistasjon, etc.tunnel</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11720</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rødt stoppblinksignal, utrykningsstasjon</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rødt stoppblinksignal, annen fare">
        <annotation>
          <documentation>2980: Rødt blinkanlegg for å markere stengning av veg pga annen fare.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2980</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rødt stoppblinksignal, annen fare</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Blinkende signal foran jernbane">
        <annotation>
          <documentation>4874: Signalanlegg i forbindelse med jernbanekryssing.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4874</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Blinkende signal foran jernbane</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gult blinksignal">
        <annotation>
          <documentation>11721: Gult blinkanlegg for varsling av fare.  Merknad: Kombinerte gult/rødt blink anlegg gis bruksområde "Rødt blink…"</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11721</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gult blinksignal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferjekai">
        <annotation>
          <documentation>4872: Signalanlegg for dirigering av trafikk i forbindelse med om bord- og i landkjøring på ferjeleier.  Det benyttes normalt tolyssignaler.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4872</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ferjekai</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bomstasjon">
        <annotation>
          <documentation>4873: Signalanlegg for dirigering av trafikk i forbindelse med bomstasjoner.  Det benyttes normalt tolyssignaler.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4873</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bomstasjon</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parkering">
        <annotation>
          <documentation>11718: Signalanlegg for dirigering av trafikk i forbindelse med parkeringsanlegg.  Det benyttes normalt tolyssignaler.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11718</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Parkering</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeSignalanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Signalanlegg" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SignalanleggType">
    <annotation>
      <documentation>89: System for regulering og varsling av trafikk.  Det er sammensatt av flere signalpunkt med tilhørende signalhoder og blir styrt av et styreapparat.  Merknad: Rødblinkanlegg er som regel egne signalanlegg på hvert sted, dvs rødblink i en ende av en tunnel er et annet saignalanlegg enn rødblink i andre enden av tunnelen.  Motsatt kan signalpunkt ved et gangfelt høre sammen i samme signalanlegg som signalpunkt for et kryss like ved.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">89</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">89</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Signalanlegg</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SignalanleggType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeSignalanleggType">
            <annotation>
              <documentation>1273: Angir hva vegobjektet brukes til, hvilken funksjon det har</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1273</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksområde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="igangsettingsdato" type="date">
            <annotation>
              <documentation>8813: Angir dato det ble satt i drift signalanlegg første gang på dette stedet uavhengig av eventuell utskifting av utstyr eller mindre endringer i reguleringen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8813</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Igangsettingsdato</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4789: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4789</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVindmåler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vindmåler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertDetektor_Trafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Detektor_Trafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKamera" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kamera</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertStyreapparat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Styreapparat</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSignalpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Signalpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SignalanleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Signalanlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
