GML/PS/OLFV_SVV/2.26/99.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.26" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.26" version="2.26">
  <annotation>
    <documentation>99: Vegoppmerking nyttes for å lede, varsle eller regulere trafikken, og for å klargjøre andre bestemmelser gitt ved trafikkskilt eller trafikkregler. (050).  Langsgående oppmerking omfatter alle langsgående oppmerka linjer og sperreområder, også inkludert oppmerking av trafikkøyer.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BreddeLinjeISperreområdetType">
    <annotation>
      <documentation>12146: Bredde på enkeltlinjene i i sperreområdet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12146</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12146</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde linje i sperreområdet</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BreddeLinjeISperreområdetEnumerationType nvdb:BreddeLinjeISperreområdetOtherType"/>
  </simpleType>
  <simpleType name="BreddeLinjeISperreområdetEnumerationType">
    <annotation>
      <documentation>12146: Bredde på enkeltlinjene i i sperreområdet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12146</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12146</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde linje i sperreområdet</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0,25">
        <annotation>
          <documentation>21097: Bredde benyttes ved fartsgrense 70 km/t eller lavere</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21097</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">0,25</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0,50">
        <annotation>
          <documentation>21098: Bredde benyttes ved fartsgrense 80 km eller høyere</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21098</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">0,50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BreddeLinjeISperreområdetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Bredde_EnkeltlinjeType">
    <annotation>
      <documentation>4514: Angir normal bredde av enkeltlinje.  For sperreområde gjelder bredde omslutningslinje.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4514</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4514</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde,enkeltlinje</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Bredde_EnkeltlinjeEnumerationType nvdb:Bredde_EnkeltlinjeOtherType"/>
  </simpleType>
  <simpleType name="Bredde_EnkeltlinjeEnumerationType">
    <annotation>
      <documentation>4514: Angir normal bredde av enkeltlinje.  For sperreområde gjelder bredde omslutningslinje.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4514</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4514</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde,enkeltlinje</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0,10">
        <annotation>
          <documentation>5310: 0,10</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5310</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">0,10</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0,15">
        <annotation>
          <documentation>5311: 0,15</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5311</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">0,15</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0,20">
        <annotation>
          <documentation>5312: 0,20</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5312</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">0,20</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0,25">
        <annotation>
          <documentation>5313: 0,25</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5313</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">0,25</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0,30">
        <annotation>
          <documentation>5314: 0,30</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5314</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">0,30</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="0,35">
        <annotation>
          <documentation>19307: 0,35</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19307</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">0,35</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Bredde_EnkeltlinjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeVegoppmerking_LangsgåendeType">
    <annotation>
      <documentation>4520: Angir bruksområde for vegobjekttypen.  Dette er en tilleggsopplysning til typen.  Det er ikke aktuelt å gi til alle typer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4520</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4520</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksområde</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeVegoppmerking_LangsgåendeEnumerationType nvdb:BruksområdeVegoppmerking_LangsgåendeOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeVegoppmerking_LangsgåendeEnumerationType">
    <annotation>
      <documentation>4520: Angir bruksområde for vegobjekttypen.  Dette er en tilleggsopplysning til typen.  Det er ikke aktuelt å gi til alle typer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4520</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4520</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksområde</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Midtlinje">
        <annotation>
          <documentation>5342: Linje som skiller mellom kjørefelt med trafikk i motgående retninger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5342</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Midtlinje</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kantlinje">
        <annotation>
          <documentation>11300: Linje som markerer kjørebanens ytterkant (HB049)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11300</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kantlinje</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Delelinje">
        <annotation>
          <documentation>5344: Linje som skiller mellom vanlige kjørefelt med trafikk i samme retning</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5344</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Delelinje</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skillelinje, kollektivfelt">
        <annotation>
          <documentation>5347: Linje som skiller mellom kjørefelt og kollektivffelt eller busslomme</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5347</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skillelinje, kollektivfelt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skillelinje, fartsendringsfelt">
        <annotation>
          <documentation>5346: Linje som skiller mellom vanlig kjørefelt og fartsendringsfelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5346</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skillelinje, fartsendringsfelt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skillelinje, sykkelfelt">
        <annotation>
          <documentation>5345: Linje som skiller mellom kjørefelt og sykkelfelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5345</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skillelinje, sykkelfelt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ledelinje">
        <annotation>
          <documentation>11301: Linje som angir føring av kjørefelt eller svingebevegelser gjennom et vegkryss</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11301</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ledelinje</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeVegoppmerking_LangsgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FargeVegoppmerking_LangsgåendeType">
    <annotation>
      <documentation>1295: Angir hovedfarge til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1295</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1295</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Farge</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FargeVegoppmerking_LangsgåendeEnumerationType nvdb:FargeVegoppmerking_LangsgåendeOtherType"/>
  </simpleType>
  <simpleType name="FargeVegoppmerking_LangsgåendeEnumerationType">
    <annotation>
      <documentation>1295: Angir hovedfarge til vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1295</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1295</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Farge</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Gul">
        <annotation>
          <documentation>2116: Gul</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2116</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gul</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hvit">
        <annotation>
          <documentation>2125: Hvit</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2125</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Hvit</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FargeVegoppmerking_LangsgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LinjemønsterType">
    <annotation>
      <documentation>4517: Angir mønster (stipling) for oppmerkingspunkt.  Angis som lengde av en punktdel + lengde av mellomrom.  Disse verdiene er avhengige av hastighetsområde.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4517</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4517</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Linjemønster</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LinjemønsterEnumerationType nvdb:LinjemønsterOtherType"/>
  </simpleType>
  <simpleType name="LinjemønsterEnumerationType">
    <annotation>
      <documentation>4517: Angir mønster (stipling) for oppmerkingspunkt.  Angis som lengde av en punktdel + lengde av mellomrom.  Disse verdiene er avhengige av hastighetsområde.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4517</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4517</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Linjemønster</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Standard over 50 km/t">
        <annotation>
          <documentation>5333: Angir at det skal benyttes standard linjemønster for fartsgrense over 50 km/t. Dvs 3+9 for kjørefeltlinje, 9+3 for varsellinje, 9+3 for dobbel varsellinje, 2+2 for skillelinje, 1+1 for ledelinje og 3+3 for stiplet kantlinje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5333</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Standard over 50 km/t</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Standard tom 50 km/t">
        <annotation>
          <documentation>5334: Angir at det skal benyttes standard linjemønster for fartsgrense 50 km/t eller lavere. Dvs 1+3 for kjørefeltlinje, 3+1 for varsellinje, 3+1 for dobbel varsellinje, 2+2 for skillelinje, 1+1 for ledelinje og 3+3 for stiplet kantlinje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5334</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Standard tom 50 km/t</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Standard lomme og kryss/avkjørsel">
        <annotation>
          <documentation>21099: Kun aktuell om det er angitt linjetype 1012.2 Stiplet kantlinje. Indikerer da linjemønster 2+2 mot busslomme og mot sideveg i forkjørsregulerte kryss/avkjørsler.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21099</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Standard lomme og kryss/avkjørsel</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Standard sykkel">
        <annotation>
          <documentation>21091: Angir at det skal benyttes standard oppmerkingsmønster for sykkel. Benyttes for varsellinje på sykkelveg og gang-/sykkelveg (0,75+0,25) eller for skillelinje mot sykkelfelt (1+1)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">21091</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Standard sykkel</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LinjemønsterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlanNedfresingType">
    <annotation>
      <documentation>8392: Angir hvorvidt det er frest ned et plant spor/forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader. Må ikke forveksles med forsterket vegoppmerking.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8392</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8392</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Plan nedfresing</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlanNedfresingEnumerationType nvdb:PlanNedfresingOtherType"/>
  </simpleType>
  <simpleType name="PlanNedfresingEnumerationType">
    <annotation>
      <documentation>8392: Angir hvorvidt det er frest ned et plant spor/forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader. Må ikke forveksles med forsterket vegoppmerking.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8392</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8392</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Plan nedfresing</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>11302: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11302</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16774: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16774</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlanNedfresingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ProfileringType">
    <annotation>
      <documentation>2266: Angir om vegoppmerkingen er profilert eller ikke, og i tilfelle hvilken type profilering</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2266</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2266</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Profilering</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProfileringEnumerationType nvdb:ProfileringOtherType"/>
  </simpleType>
  <simpleType name="ProfileringEnumerationType">
    <annotation>
      <documentation>2266: Angir om vegoppmerkingen er profilert eller ikke, og i tilfelle hvilken type profilering</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2266</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2266</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Profilering</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Plan linje">
        <annotation>
          <documentation>4095: Plan linje</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4095</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Plan linje</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kamflex">
        <annotation>
          <documentation>4097: Kamflex</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4097</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kamflex</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Longflex">
        <annotation>
          <documentation>4098: Longflex</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4098</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Longflex</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dråpeflex">
        <annotation>
          <documentation>4099: Dråpeflex</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4099</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dråpeflex</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dråpe kombi">
        <annotation>
          <documentation>16772: Dråpe kombi</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">16772</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dråpe kombi</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProfileringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegoppmerking_LangsgåendeType">
    <annotation>
      <documentation>1152: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1152</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1152</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeVegoppmerking_LangsgåendeEnumerationType nvdb:TypeVegoppmerking_LangsgåendeOtherType"/>
  </simpleType>
  <simpleType name="TypeVegoppmerking_LangsgåendeEnumerationType">
    <annotation>
      <documentation>1152: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1152</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1152</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kjørefeltlinje (1000-F)">
        <annotation>
          <documentation>5317: Kjørefeltlinje (1000-F)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5317</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjørefeltlinje (1000-F)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tettstedlinje (1002-T)">
        <annotation>
          <documentation>12086: Tettstedlinje (1002-T)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12086</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tettstedlinje (1002-T)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varsellinje (1002-V)">
        <annotation>
          <documentation>5318: Varsellinje (1002-V)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5318</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varsellinje (1002-V)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sperrelinje (1004-S)">
        <annotation>
          <documentation>5319: Sperrelinje (1004-S)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5319</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sperrelinje (1004-S)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjørefelt-/Varsellinje (1006.1-FV)">
        <annotation>
          <documentation>5320: Kjørefelt-/Varsellinje (1006.1-FV)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5320</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjørefelt-/Varsellinje (1006.1-FV)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varsel-/Kjørefeltlinje (1006.1-VF)">
        <annotation>
          <documentation>5321: Varsel-/Kjørefeltlinje (1006.1-VF)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5321</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varsel-/Kjørefeltlinje (1006.1-VF)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sperre-/Kjørefeltlinje (1006.2-SF)">
        <annotation>
          <documentation>5322: Sperre-/Kjørefeltlinje (1006.2-SF)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5322</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sperre-/Kjørefeltlinje (1006.2-SF)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjørefelt-/Sperrelinje (1006.2-FS)">
        <annotation>
          <documentation>5323: Kjørefelt-/Sperrelinje (1006.2-FS)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5323</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kjørefelt-/Sperrelinje (1006.2-FS)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Varsel-/Sperrelinje (1006.3-VS)">
        <annotation>
          <documentation>5324: Varsel-/Sperrelinje (1006.3-VS)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5324</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Varsel-/Sperrelinje (1006.3-VS)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sperre-/Varsellinje (1006.3-SV)">
        <annotation>
          <documentation>5325: Sperre-/Varsellinje (1006.3-SV)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5325</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sperre-/Varsellinje (1006.3-SV)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbel sperrelinje (1006.4-SS)">
        <annotation>
          <documentation>5326: Dobbel sperrelinje (1006.4-SS)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5326</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dobbel sperrelinje (1006.4-SS)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Åpning i dobbel sperrelinje">
        <annotation>
          <documentation>10143: Benyttes når dobbel sperrelinje brytes foran gangfelt eller i forbindelse med avkjørsler</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10143</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Åpning i dobbel sperrelinje</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbel varsellinje (1006.5-VV)">
        <annotation>
          <documentation>5327: Dobbel varsellinje (1006.5-VV)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5327</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Dobbel varsellinje (1006.5-VV)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skillelinje (1008)">
        <annotation>
          <documentation>5328: Skillelinje (1008)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5328</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skillelinje (1008)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ledelinje (1010)">
        <annotation>
          <documentation>5329: Ledelinje (1010)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5329</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ledelinje (1010)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kantlinje, heltrukket (1012.1)">
        <annotation>
          <documentation>5330: Kantlinje, heltrukket (1012.1)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5330</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kantlinje, heltrukket (1012.1)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kantlinje, stiplet (1012.2)">
        <annotation>
          <documentation>5331: Kantlinje, stiplet (1012.2)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5331</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kantlinje, stiplet (1012.2)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sperreområde, oppmerket (1014)">
        <annotation>
          <documentation>5332: Sperreområde som er fylt med enten heldekkende maling, skaravur eller ingen maling.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5332</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sperreområde, oppmerket (1014)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sperreområde, fysisk (1014)">
        <annotation>
          <documentation>5406: Sperreområde som er fylt med fysisk opphøyd areal.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5406</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sperreområde, fysisk (1014)</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Linje, parkering">
        <annotation>
          <documentation>2804: Linje, parkering</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2804</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Linje, parkering</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegoppmerking_LangsgåendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegoppmerking_Langsgående" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Vegoppmerking_LangsgåendeType">
    <annotation>
      <documentation>99: Vegoppmerking nyttes for å lede, varsle eller regulere trafikken, og for å klargjøre andre bestemmelser gitt ved trafikkskilt eller trafikkregler. (050).  Langsgående oppmerking omfatter alle langsgående oppmerka linjer og sperreområder, også inkludert oppmerking av trafikkøyer.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">99</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">99</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vegoppmerking,langsgående</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Vegoppmerking_LangsgåendeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeVegoppmerking_LangsgåendeType">
            <annotation>
              <documentation>4520: Angir bruksområde for vegobjekttypen.  Dette er en tilleggsopplysning til typen.  Det er ikke aktuelt å gi til alle typer.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4520</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bruksområde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeVegoppmerking_LangsgåendeType">
            <annotation>
              <documentation>1152: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1152</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="linjemønster" type="nvdb:LinjemønsterType">
            <annotation>
              <documentation>4517: Angir mønster (stipling) for oppmerkingspunkt.  Angis som lengde av en punktdel + lengde av mellomrom.  Disse verdiene er avhengige av hastighetsområde.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4517</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Linjemønster</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bredde_Enkeltlinje" type="nvdb:Bredde_EnkeltlinjeType">
            <annotation>
              <documentation>4514: Angir normal bredde av enkeltlinje.  For sperreområde gjelder bredde omslutningslinje.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4514</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde, enkeltlinje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="farge" type="nvdb:FargeVegoppmerking_LangsgåendeType">
            <annotation>
              <documentation>1295: Angir hovedfarge til vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1295</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Farge</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="profilering" type="nvdb:ProfileringType">
            <annotation>
              <documentation>2266: Angir om vegoppmerkingen er profilert eller ikke, og i tilfelle hvilken type profilering</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2266</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Profilering</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="planNedfresing" type="nvdb:PlanNedfresingType">
            <annotation>
              <documentation>8392: Angir hvorvidt det er frest ned et plant spor/forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bla at vegmerkingen blir mindre utsatt for brøyteskader. Må ikke forveksles med forsterket vegoppmerking.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8392</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Plan nedfresing</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arealAvFyltSperreområde" type="double">
            <annotation>
              <documentation>1371: Angir arealet av fylt sperreområde.  For skravert sperreområde måles mengde som løpemeter skravur.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1371</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Areal av fylt sperreområde</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="løpemeterSkravur" type="integer">
            <annotation>
              <documentation>2260: Angir total lengde av striper i skravur.  Denne egenskapstypen er bare aktuell for vegoppmerking av type sperreområde.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2260</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Løpemeter skravur</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeLinjeISperreområdet" type="nvdb:BreddeLinjeISperreområdetType">
            <annotation>
              <documentation>12146: Bredde på enkeltlinjene i i sperreområdet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">12146</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Bredde linje i sperreområdet</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4798: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4798</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, linje</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkøy" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikkøy</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikkdeler</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Vegoppmerking_LangsgåendePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vegoppmerking_Langsgående"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
