GML/PS/OLFV_SVV/2.41/10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>10: Nedsenka kantstein er en del av kantsteinen som er senket. F.eks. i forbindelse med avkjørsler og gangfelt.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Nedsenka kantstein"
            substitutionGroup="nvdb:AbstraktNedsenkaKantstein"
            type="nvdb:Nedsenka kantsteinType">
      <annotation>
         <documentation>10: Nedsenka kantstein er en del av kantsteinen som er senket. F.eks. i forbindelse med avkjørsler og gangfelt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedsenka kantstein</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Nedsenka kantsteinType">
      <complexContent>
         <extension base="nvdb:AbstraktNedsenkaKantsteinType">
            <sequence>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4718: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4718</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>8915: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8915</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1302: Angir lengde av vegobjektet. Lengde gjelder kantsteinsstrekning som ikke har full høyde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1302</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Nedsenka kantsteinPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Nedsenka kantstein"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
