GML/PS/OLFV_SVV/2.41/13.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>13: Åpning til/fra et rom/område. Kan åpnes og lukkes med dør eller port.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BranndørPortDørType">
      <annotation>
         <documentation>3509: Angir om døren er godkjent branndør.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3509</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Branndør</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BranndørPortDørEnumerationType nvdb:BranndørPortDørOtherType"/>
   </simpleType>
   <simpleType name="BranndørPortDørEnumerationType">
      <annotation>
         <documentation>3509: Angir om døren er godkjent branndør.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3509</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Branndør</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4694</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4695</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BranndørPortDørOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdePortDørType">
      <annotation>
         <documentation>1251: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1251</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdePortDørEnumerationType nvdb:BruksområdePortDørOtherType"/>
   </simpleType>
   <simpleType name="BruksområdePortDørEnumerationType">
      <annotation>
         <documentation>1251: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1251</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="by">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4858</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tilgang bygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4857</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel, tilgang bergrom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ts">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4855</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel, tilgang nødutgang/sideløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TN">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22697</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tilgang nødstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tbr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23083</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tilgang brukar</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdePortDørOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="GlassIDørPortDørType">
      <annotation>
         <documentation>13222: Angir om det er glass i dør.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13222</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glass i dør</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GlassIDørPortDørEnumerationType nvdb:GlassIDørPortDørOtherType"/>
   </simpleType>
   <simpleType name="GlassIDørPortDørEnumerationType">
      <annotation>
         <documentation>13222: Angir om det er glass i dør.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13222</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glass i dør</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="d">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23115</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delvis</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23116</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GlassIDørPortDørOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialePortDørType">
      <annotation>
         <documentation>3701: Angir materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3701</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialePortDørEnumerationType nvdb:MaterialePortDørOtherType"/>
   </simpleType>
   <simpleType name="MaterialePortDørEnumerationType">
      <annotation>
         <documentation>3701: Angir materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3701</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4696</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16135</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4697</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4698</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialePortDørOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="PortDør"
            substitutionGroup="nvdb:AbstraktPortDør"
            type="nvdb:PortDørType">
      <annotation>
         <documentation>13: Åpning til/fra et rom/område. Kan åpnes og lukkes med dør eller port.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">PortDør</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="PortDørType">
      <complexContent>
         <extension base="nvdb:AbstraktPortDørType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdePortDørType">
                  <annotation>
                     <documentation>1251: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1251</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypePortDørType">
                  <annotation>
                     <documentation>1095: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1095</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale" type="nvdb:MaterialePortDørType">
                  <annotation>
                     <documentation>3701: Angir materiale.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3701</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>1680: Angir bredde på lysåpning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1680</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde" type="double">
                  <annotation>
                     <documentation>1577: Angir høyde på lysåpning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1577</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeÅpningLukking">
                  <annotation>
                     <documentation>13180: Angir type åpning/lukking.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13180</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type åpning/lukking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="branndør" type="nvdb:BranndørPortDørType">
                  <annotation>
                     <documentation>3509: Angir om døren er godkjent branndør.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3509</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Branndør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="glassIDør">
                  <annotation>
                     <documentation>13222: Angir om det er glass i dør.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13222</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Glass i dør</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10338: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10338</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10475: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10475</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4721: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4721</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="PortDørPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:PortDør"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypePortDørType">
      <annotation>
         <documentation>1095: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1095</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypePortDørEnumerationType nvdb:TypePortDørOtherType"/>
   </simpleType>
   <simpleType name="TypePortDørEnumerationType">
      <annotation>
         <documentation>1095: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1095</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="d">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2452</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2453</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Leddport</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16136</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skyvedør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypePortDørOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeÅpningLukkingPortDørType">
      <annotation>
         <documentation>13180: Angir type åpning/lukking.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13180</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type åpning/lukking</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeÅpningLukkingPortDørEnumerationType nvdb:TypeÅpningLukkingPortDørOtherType"/>
   </simpleType>
   <simpleType name="TypeÅpningLukkingPortDørEnumerationType">
      <annotation>
         <documentation>13180: Angir type åpning/lukking.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13180</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type åpning/lukking</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23084</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Automatisk/elektrisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23085</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeÅpningLukkingPortDørOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
