GML/PS/OLFV_SVV/2.41/147.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>147: Utsprengt del av tunnel som er avgrenset fra selve tunnelløpet med vegg/dør.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Bergrom"
            substitutionGroup="nvdb:AbstraktBergrom"
            type="nvdb:BergromType">
      <annotation>
         <documentation>147: Utsprengt del av tunnel som er avgrenset fra selve tunnelløpet med vegg/dør.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bergrom</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BergromType">
      <complexContent>
         <extension base="nvdb:AbstraktBergromType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeBergromType">
                  <annotation>
                     <documentation>1279: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1279</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10293: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10293</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10964: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10964</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BergromPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bergrom"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="BruksområdeBergromType">
      <annotation>
         <documentation>1279: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeBergromEnumerationType nvdb:BruksområdeBergromOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeBergromEnumerationType">
      <annotation>
         <documentation>1279: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>19461: Bergrom har ingen funksjon lenger. Normalt er det avstengt og er ikke i bruk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19461</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Avstengt/ikke i bruk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4610</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betjeningsstasjon tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ks">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4611</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kiosk/trafo/skap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4613</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lager</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pumpestasjon/basseng">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4612</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pumpestasjon/basseng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeBergromOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
