GML/PS/OLFV_SVV/2.41/471.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>471: System for innhenting og videreformidling av mobiltelefonsignal f.eks. i tunnel.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="MobiltelefonGSM_TelenorMobilMobiltelefonsambandType">
      <annotation>
         <documentation>3703: Angir om det er dekning for denne type mobiltelefonnett.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3703</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mobiltelefon GSM, Telenor mobil</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MobiltelefonGSM_TelenorMobilMobiltelefonsambandEnumerationType nvdb:MobiltelefonGSM_TelenorMobilMobiltelefonsambandOtherType"/>
   </simpleType>
   <simpleType name="MobiltelefonGSM_TelenorMobilMobiltelefonsambandEnumerationType">
      <annotation>
         <documentation>3703: Angir om det er dekning for denne type mobiltelefonnett.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3703</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mobiltelefon GSM, Telenor mobil</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4825</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11758</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MobiltelefonGSM_TelenorMobilMobiltelefonsambandOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MobiltelefonGSM_TeliaMobiltelefonsambandType">
      <annotation>
         <documentation>3702: Angir om det er dekning for denne type mobiltelefonnett.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3702</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mobiltelefon GSM, Telia</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MobiltelefonGSM_TeliaMobiltelefonsambandEnumerationType nvdb:MobiltelefonGSM_TeliaMobiltelefonsambandOtherType"/>
   </simpleType>
   <simpleType name="MobiltelefonGSM_TeliaMobiltelefonsambandEnumerationType">
      <annotation>
         <documentation>3702: Angir om det er dekning for denne type mobiltelefonnett.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3702</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mobiltelefon GSM, Telia</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4824</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11757</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MobiltelefonGSM_TeliaMobiltelefonsambandOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Mobiltelefonsamband"
            substitutionGroup="nvdb:AbstraktMobiltelefonsamband"
            type="nvdb:MobiltelefonsambandType">
      <annotation>
         <documentation>471: System for innhenting og videreformidling av mobiltelefonsignal f.eks. i tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">471</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mobiltelefonsamband</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="MobiltelefonsambandType">
      <complexContent>
         <extension base="nvdb:AbstraktMobiltelefonsambandType">
            <sequence>
               <element name="mobiltelefonGSM_Telia">
                  <annotation>
                     <documentation>3702: Angir om det er dekning for denne type mobiltelefonnett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3702</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Mobiltelefon GSM, Telia</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="mobiltelefonGSM_TelenorMobil">
                  <annotation>
                     <documentation>3703: Angir om det er dekning for denne type mobiltelefonnett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3703</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Mobiltelefon GSM, Telenor mobil</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10327: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10327</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4988: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4988</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MobiltelefonsambandPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Mobiltelefonsamband"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
