GML/PS/OLFV_SVV/2.41/57.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>57: Skråflate som er del av begrensningen av at skjæringsvolum. I tillegg til ei eller to skjæringer (ev. en på hver side av vegen) begrenses skjæringsvolumet av planum. Merknad: Det skal angis sideposisjon for skjæring.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Skjæring"
            substitutionGroup="nvdb:AbstraktSkjæring"
            type="nvdb:SkjæringType">
      <annotation>
         <documentation>57: Skråflate som er del av begrensningen av at skjæringsvolum. I tillegg til ei eller to skjæringer (ev. en på hver side av vegen) begrenses skjæringsvolumet av planum. Merknad: Det skal angis sideposisjon for skjæring.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">57</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjæring</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SkjæringType">
      <complexContent>
         <extension base="nvdb:AbstraktSkjæringType">
            <sequence>
               <element name="type" type="nvdb:TypeSkjæringType">
                  <annotation>
                     <documentation>1121: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1121</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde_Middel" type="double">
                  <annotation>
                     <documentation>9436: Gir gjennomsnittshøyde av skjæring. Måles vertikalt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9436</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, middel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde_Maksimal" type="double">
                  <annotation>
                     <documentation>1870: Angir maksimal høyde av skjæring. Måles vertikalt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1870</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, maksimal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>4669: Angir gjennomsnittlig bredde av skjæring (skråflate). Bredde måles i plan med skjæring (skråflate). Gjennomsnittsbredde kan benyttes som grunnlag for å beregne areal av skjæring (skråflate).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4669</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bergskjærings_ID" type="string">
                  <annotation>
                     <documentation>12094: Identifikator som følger bergskjæring gjennom hele livsløpet. Etableres i planprosessen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12094</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bergskjærings-ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10360: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10360</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4760: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4760</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10959: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10959</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SkjæringPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Skjæring"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeSkjæringType">
      <annotation>
         <documentation>1121: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1121</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSkjæringEnumerationType nvdb:TypeSkjæringOtherType"/>
   </simpleType>
   <simpleType name="TypeSkjæringEnumerationType">
      <annotation>
         <documentation>1121: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1121</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2325</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bergskjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2286</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jordskjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3283</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kombinert jord- og bergskjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSkjæringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
