GML/PS/OLFV_SVV/2.41/801.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>801: utgang som kan nyttes i nødstilfelle.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Nødutgang"
            substitutionGroup="nvdb:AbstraktNødutgang"
            type="nvdb:NødutgangType">
      <annotation>
         <documentation>801: utgang som kan nyttes i nødstilfelle.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">801</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nødutgang</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="NødutgangType">
      <complexContent>
         <extension base="nvdb:AbstraktNødutgangType">
            <sequence>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10332: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10332</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>9294: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9294</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeNødutgangType">
                  <annotation>
                     <documentation>9129: Angir hvilken type nødutgang det er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9129</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="universellUtforming">
                  <annotation>
                     <documentation>9152: Angir om nødutgang er utformet i henhold til krav om universell utforming.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9152</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Universell utforming</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="NødutgangPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Nødutgang"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeNødutgangType">
      <annotation>
         <documentation>9129: Angir hvilken type nødutgang det er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9129</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeNødutgangEnumerationType nvdb:TypeNødutgangOtherType"/>
   </simpleType>
   <simpleType name="TypeNødutgangEnumerationType">
      <annotation>
         <documentation>9129: Angir hvilken type nødutgang det er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9129</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12163</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til det fri</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12164</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til egen rømningstunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12165</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til trafikkert parallelløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeNødutgangOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UniversellUtformingNødutgangType">
      <annotation>
         <documentation>9152: Angir om nødutgang er utformet i henhold til krav om universell utforming.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9152</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Universell utforming</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UniversellUtformingNødutgangEnumerationType nvdb:UniversellUtformingNødutgangOtherType"/>
   </simpleType>
   <simpleType name="UniversellUtformingNødutgangEnumerationType">
      <annotation>
         <documentation>9152: Angir om nødutgang er utformet i henhold til krav om universell utforming.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9152</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Universell utforming</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12235</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12236</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UniversellUtformingNødutgangOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
