GML/PS/OLFV_SVV/2.41/803.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>803: Liten dør til å stenge en åpning med. Brukes hovedsakelig for åpninger i tunnelhvelv.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeInspeksjonslukeType">
      <annotation>
         <documentation>13177: Angir hva vegobjektet brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13177</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeInspeksjonslukeEnumerationType nvdb:BruksområdeInspeksjonslukeOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeInspeksjonslukeEnumerationType">
      <annotation>
         <documentation>13177: Angir hva vegobjektet brukes til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13177</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23078</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="i">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23075</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Inspeksjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23076</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slokkevann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23077</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ventilasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeInspeksjonslukeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Inspeksjonsluke"
            substitutionGroup="nvdb:AbstraktInspeksjonsluke"
            type="nvdb:InspeksjonslukeType">
      <annotation>
         <documentation>803: Liten dør til å stenge en åpning med. Brukes hovedsakelig for åpninger i tunnelhvelv.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">803</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inspeksjonsluke</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="InspeksjonslukeType">
      <complexContent>
         <extension base="nvdb:AbstraktInspeksjonslukeType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeInspeksjonslukeType">
                  <annotation>
                     <documentation>13177: Angir hva vegobjektet brukes til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13177</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde" type="double">
                  <annotation>
                     <documentation>9150: Angir høyde på lysåpning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9150</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>9151: Angir bredde på lysåpning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9151</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale" type="nvdb:MaterialeInspeksjonslukeType">
                  <annotation>
                     <documentation>13178: Angir materiale.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13178</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="normalStilling">
                  <annotation>
                     <documentation>13179: Angir normal stilling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">13179</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Normal stilling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10312: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10312</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>11000: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11000</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>9295: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9295</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="InspeksjonslukePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Inspeksjonsluke"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialeInspeksjonslukeType">
      <annotation>
         <documentation>13178: Angir materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13178</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeInspeksjonslukeEnumerationType nvdb:MaterialeInspeksjonslukeOtherType"/>
   </simpleType>
   <simpleType name="MaterialeInspeksjonslukeEnumerationType">
      <annotation>
         <documentation>13178: Angir materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13178</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23080</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23079</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeInspeksjonslukeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NormalStillingInspeksjonslukeType">
      <annotation>
         <documentation>13179: Angir normal stilling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13179</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Normal stilling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NormalStillingInspeksjonslukeEnumerationType nvdb:NormalStillingInspeksjonslukeOtherType"/>
   </simpleType>
   <simpleType name="NormalStillingInspeksjonslukeEnumerationType">
      <annotation>
         <documentation>13179: Angir normal stilling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">13179</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Normal stilling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23081</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Låst</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="u">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">23082</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ulåst</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NormalStillingInspeksjonslukeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
