GML/PS/OLFV_SVV/2.41/85.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>85: Innretning for å pumpe vann.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdePumpeType">
      <annotation>
         <documentation>1270: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1270</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdePumpeEnumerationType nvdb:BruksområdePumpeOtherType"/>
   </simpleType>
   <simpleType name="BruksområdePumpeEnumerationType">
      <annotation>
         <documentation>1270: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1270</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F">
            <annotation>
               <documentation>2951: Pumpe som benyttes for å holde sjøvann unna når det er flo over et visst nivå.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2951</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Flo</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <documentation>11602: Fjerning av vann i veg som går i kulvert/lavbrekk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11602</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kulvert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <documentation>2950: Pumpe som benyttes i tunnel. Normalt for å pumpe ut drensvann.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2950</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <documentation>17453: Pumpe benyttes for å pumpe vann til toalettanlegg, bl.a. i forbindelse med rasteplasser.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17453</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vanntilførsel toalettanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22531</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spillvann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdePumpeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Pumpe"
            substitutionGroup="nvdb:AbstraktPumpe"
            type="nvdb:PumpeType">
      <annotation>
         <documentation>85: Innretning for å pumpe vann.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">85</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pumpe</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="PumpeType">
      <complexContent>
         <extension base="nvdb:AbstraktPumpeType">
            <sequence>
               <element name="effekt" type="double">
                  <annotation>
                     <documentation>1950: Angir effekt per pumpe.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1950</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bruksområde" type="nvdb:BruksområdePumpeType">
                  <annotation>
                     <documentation>1270: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1270</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10339: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10339</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>3578: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3578</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent_Pumpe" type="string">
                  <annotation>
                     <documentation>3554: Angir navn på produsent/fabrikant av pumpe.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3554</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent, pumpe</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn_Pumpe" type="string">
                  <annotation>
                     <documentation>3814: Angir produktnavn for pumpe. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3814</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn, pumpe</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4785: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4785</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="PumpePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Pumpe"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
