GML/PS/OLFV_SVV/2.41/872.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>872: Faunapassasjer har som primærfunksjon å koble sammen habitatområder som er fragmentert/isolert på grunn av en eksisterende veg.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Faunapassasje"
            substitutionGroup="nvdb:AbstraktFaunapassasje"
            type="nvdb:FaunapassasjeType">
      <annotation>
         <documentation>872: Faunapassasjer har som primærfunksjon å koble sammen habitatområder som er fragmentert/isolert på grunn av en eksisterende veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">872</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Faunapassasje</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FaunapassasjeType">
      <complexContent>
         <extension base="nvdb:AbstraktFaunapassasjeType">
            <sequence>
               <element minOccurs="0" name="lokalitetsnavn" type="string">
                  <annotation>
                     <documentation>10229: Navn på passasjen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10229</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lokalitetsnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeFaunapassasjeType">
                  <annotation>
                     <documentation>10230: Angir hvilken type utforming passasjen har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10230</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="formål" type="nvdb:FormålFaunapassasjeType">
                  <annotation>
                     <documentation>10233: Angir om passasjen er tilrettelagt for akvatiske og/eller terrestriske organismer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10233</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="integer">
                  <annotation>
                     <documentation>10235: Passasjens bredde målt langs etter vegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10235</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høydeMin" type="double">
                  <annotation>
                     <documentation>10236: Passasjens minste gjennomgående høyde i 2/3 av passasjens snitt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10236</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde min</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høydeMaks" type="double">
                  <annotation>
                     <documentation>10246: Passasjens største gjennomgående høyde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10246</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde maks</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10289: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10289</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10241: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10241</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FaunapassasjePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Faunapassasje"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="FormålFaunapassasjeType">
      <annotation>
         <documentation>10233: Angir om passasjen er tilrettelagt for akvatiske og/eller terrestriske organismer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10233</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FormålFaunapassasjeEnumerationType nvdb:FormålFaunapassasjeOtherType"/>
   </simpleType>
   <simpleType name="FormålFaunapassasjeEnumerationType">
      <annotation>
         <documentation>10233: Angir om passasjen er tilrettelagt for akvatiske og/eller terrestriske organismer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10233</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="akva">
            <annotation>
               <documentation>16734: For alle vannlevende organismer (f.eks. fisk, bunndyr etc).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16734</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Akvatisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="begg">
            <annotation>
               <documentation>16736: Passasjen har dobbeltfunksjon, tillater ferdsel av både land- og vannlevende organismer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16736</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Begge</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="terr">
            <annotation>
               <documentation>16735: For alle landlevende organismer (f.eks. hjortevilt, smågnagere etc).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16735</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Terrestrisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FormålFaunapassasjeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeFaunapassasjeType">
      <annotation>
         <documentation>10230: Angir hvilken type utforming passasjen har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10230</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeFaunapassasjeEnumerationType nvdb:TypeFaunapassasjeOtherType"/>
   </simpleType>
   <simpleType name="TypeFaunapassasjeEnumerationType">
      <annotation>
         <documentation>10230: Angir hvilken type utforming passasjen har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10230</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="K">
            <annotation>
               <documentation>16732: Kulverter er gjennomløp beliggende under vegbanen, oftest støpt i betong. Finnes med og uten vannføring. Inkluderer også hvelv/rør i fylling.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16732</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kulvert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <documentation>16730: En passasje som fører viltet i bro over vegen. Viltgjerder leder viltet i riktig retning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16730</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Overgang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <documentation>16733: En åpning i viltgjerdet på omtrent 20-50 meter der viltet vil ha mulighet til å krysse vegen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16733</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sluse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>16731: En passasje som fører viltet under vegen. Dette er enten en spesiallaget passasje for vilt eller en bru over en naturlig forsenkning i landskapet (e.g. over en bekkedal).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16731</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Undergang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeFaunapassasjeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
