GML/PS/OLFV_SVV/2.41/876.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>876: "Konstruksjon innfelt i vegens kjøreareal/skulder som fører overvann til lukket dreneringssystem eller grøft. Benyttes langs veg, på tvers av veg eller i tilknytning til oppstillingsplasser f.eks parkeringsplasser. Konstruksjon innfelt i vegens kjøreareal/skulder som fører overvann til lukket dreneringssystem eller grøft. Benyttes langs veg, på tvers av veg eller i tilknytning til oppstillingsplasser for f.eks parkeringsplasser.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Overvannsrenne"
            substitutionGroup="nvdb:AbstraktOvervannsrenne"
            type="nvdb:OvervannsrenneType">
      <annotation>
         <documentation>876: "Konstruksjon innfelt i vegens kjøreareal/skulder som fører overvann til lukket dreneringssystem eller grøft. Benyttes langs veg, på tvers av veg eller i tilknytning til oppstillingsplasser f.eks parkeringsplasser. Konstruksjon innfelt i vegens kjøreareal/skulder som fører overvann til lukket dreneringssystem eller grøft. Benyttes langs veg, på tvers av veg eller i tilknytning til oppstillingsplasser for f.eks parkeringsplasser.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">876</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overvannsrenne</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="OvervannsrenneType">
      <complexContent>
         <extension base="nvdb:AbstraktOvervannsrenneType">
            <sequence>
               <element name="type" type="nvdb:TypeOvervannsrenneType">
                  <annotation>
                     <documentation>10442: Angir hvilken type objektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10442</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>10444: Angir lengde på rennen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10444</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10443: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10443</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>10447: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10447</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="OvervannsrennePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Overvannsrenne"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeOvervannsrenneType">
      <annotation>
         <documentation>10442: Angir hvilken type objektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10442</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeOvervannsrenneEnumerationType nvdb:TypeOvervannsrenneOtherType"/>
   </simpleType>
   <simpleType name="TypeOvervannsrenneEnumerationType">
      <annotation>
         <documentation>10442: Angir hvilken type objektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10442</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="brRe">
            <annotation>
               <documentation>16894: Renne langs vegen belagt med brostein. Benyttes f.eks. i tettbygd strøk der det ikke finnes kantstein.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16894</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brosteinsrenne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kaRe">
            <annotation>
               <documentation>16896: Renne formet som en kasse eller halvsylinder nedbygd i bakken med rist på toppen. Plasseres der vann fra tilstøtende avrenningsflater møtes. Benyttes gjerne ved større flatearealer, f.eks. parkeringsplasser.Kan også benyttes på tvers av vegen f.eks ved underganger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16896</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kasserenne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="reRe">
            <annotation>
               <documentation>16895: Renne langs ytterkant av vegen mot kantstein. Selve vegkonstruksjonen er bygd slik at vannet renner ut til siden og ledes langsmed kantsteinen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16895</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rennesteinsrenne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeOvervannsrenneOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
