GML/PS/OLFV_SVV/2.41/930.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>930: Oppfylling på opprinnelig terreng begrenset av fyllingsskråning og vegens planum.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Fylling (Volum)"
            substitutionGroup="nvdb:AbstraktFylling_Volum"
            type="nvdb:Fylling (Volum)Type">
      <annotation>
         <documentation>930: Oppfylling på opprinnelig terreng begrenset av fyllingsskråning og vegens planum.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">930</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylling (Volum)</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Fylling (Volum)Type">
      <complexContent>
         <extension base="nvdb:AbstraktFylling_VolumType">
            <sequence>
               <element name="type" type="nvdb:TypeFylling (Volum)Type">
                  <annotation>
                     <documentation>11399: Angir hvilken type fylling det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11399</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale" type="nvdb:MaterialeFylling (Volum)Type">
                  <annotation>
                     <documentation>11529: Angir hvilket materiale selve fyllingen i hovedsak er bygd opp av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11529</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="fyllingssåle"
                        type="nvdb:FyllingssåleFylling (Volum)Type">
                  <annotation>
                     <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap. 254.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fyllingssåle</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tykkelse_Maks" type="integer">
                  <annotation>
                     <documentation>11531: Angir største tykkelse av fylling innenfor vegbanen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11531</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tykkelse, maks</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="double">
                  <annotation>
                     <documentation>11400: Angir totalt areal som blir dekket av fyllingen (bunnen av fyllingen).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11400</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>11353: Gir flate/polygon som geometrisk avgrenser opprinnelig areal som fyllingen legger beslag på.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11353</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Fylling (Volum)PropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fylling (Volum)"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="FyllingssåleFylling (Volum)Type">
      <annotation>
         <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap. 254.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fyllingssåle</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FyllingssåleFylling (Volum)EnumerationType nvdb:FyllingssåleFylling (Volum)OtherType"/>
   </simpleType>
   <simpleType name="FyllingssåleFylling (Volum)EnumerationType">
      <annotation>
         <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap. 254.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fyllingssåle</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19595</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19596</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19597</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FyllingssåleFylling (Volum)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeFylling (Volum)Type">
      <annotation>
         <documentation>11529: Angir hvilket materiale selve fyllingen i hovedsak er bygd opp av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11529</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeFylling (Volum)EnumerationType nvdb:MaterialeFylling (Volum)OtherType"/>
   </simpleType>
   <simpleType name="MaterialeFylling (Volum)EnumerationType">
      <annotation>
         <documentation>11529: Angir hvilket materiale selve fyllingen i hovedsak er bygd opp av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11529</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="AL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19604</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen type lette masser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19608</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Blandede masser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="EP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19607</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ekspandert polystyren</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19600</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19603</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knust betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19601</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knust stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19598</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Leire</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19606</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lettklinker</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="M">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19609</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Morenemasser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19599</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sand</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19605</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skumglass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19602</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprengt stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeFylling (Volum)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeFylling (Volum)Type">
      <annotation>
         <documentation>11399: Angir hvilken type fylling det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11399</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeFylling (Volum)EnumerationType nvdb:TypeFylling (Volum)OtherType"/>
   </simpleType>
   <simpleType name="TypeFylling (Volum)EnumerationType">
      <annotation>
         <documentation>11399: Angir hvilken type fylling det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11399</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="HV">
            <annotation>
               <documentation>19592: Fylling i veglinja som underlag for vegkonstruksjonen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19592</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hovedfylling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MD">
            <annotation>
               <documentation>19594: Sted for lagring av masser utenfor veglinja.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19594</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Massedeponi</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MF">
            <annotation>
               <documentation>19593: Masser plassert ut for å balansere total massebelastning i tilknytning til en veg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19593</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Motfylling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeFylling (Volum)OtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
