GML/PS/OLFV_SVV/2.41/953.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>953: Kjørefelt som ved offentlig trafikkskilt og oppmerking er regulert for syklende.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="Belegning_FargeSykkelfeltType">
      <annotation>
         <documentation>11952: Angir hvilken farge belegning framstår med.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning, farge</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Belegning_FargeSykkelfeltEnumerationType nvdb:Belegning_FargeSykkelfeltOtherType"/>
   </simpleType>
   <simpleType name="Belegning_FargeSykkelfeltEnumerationType">
      <annotation>
         <documentation>11952: Angir hvilken farge belegning framstår med.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning, farge</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>20285: Tilsatt annenfarge. Farge kan oppgis under tilleggsinformasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20285</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen farge</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20282</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Blå</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20281</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grønn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20283</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gul</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20280</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hvit</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>20284: Det er ikke tilsatt fargestoff.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20284</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturlig materialfarge</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20279</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rød</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Belegning_FargeSykkelfeltOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Belegning_TypeSykkelfeltType">
      <annotation>
         <documentation>11943: Angir hvilken type belegning sykkelfeltet har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11943</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning, type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Belegning_TypeSykkelfeltEnumerationType nvdb:Belegning_TypeSykkelfeltOtherType"/>
   </simpleType>
   <simpleType name="Belegning_TypeSykkelfeltEnumerationType">
      <annotation>
         <documentation>11943: Angir hvilken type belegning sykkelfeltet har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11943</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning, type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="AM">
            <annotation>
               <documentation>20273: Asfalt med malt overflate.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20273</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt med malt overflate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AP">
            <annotation>
               <documentation>20274: Asfalt med plastbelagt overflate.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20274</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt med plastbelagt overflate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AF">
            <annotation>
               <documentation>20272: Asfalt med tilsatt fargestoff som gjør at den skiller seg ut fra standard asfaltfarge.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20272</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt, farget</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="A">
            <annotation>
               <documentation>20270: Standard svart asfalt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20270</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt, ikke farget</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Belegningsstein">
            <annotation>
               <documentation>20277: Belagt med belegningsstein (betong).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20277</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belegningsstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betongheller">
            <annotation>
               <documentation>20278: Belagt med heller av betong.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20278</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongheller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Brostein">
            <annotation>
               <documentation>20276: Belagt med brostein (naturstein).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20276</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brostein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SH">
            <annotation>
               <documentation>20275: Heller av naturstein.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20275</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Steinheller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Belegning_TypeSykkelfeltOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Sykkelfelt"
            substitutionGroup="nvdb:AbstraktSykkelfelt"
            type="nvdb:SykkelfeltType">
      <annotation>
         <documentation>953: Kjørefelt som ved offentlig trafikkskilt og oppmerking er regulert for syklende.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">953</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelfelt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SykkelfeltType">
      <complexContent>
         <extension base="nvdb:AbstraktSykkelfeltType">
            <sequence>
               <element name="type" type="nvdb:TypeSykkelfeltType">
                  <annotation>
                     <documentation>11940: Angir hvilken type sykkelfelt det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11940</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="belegning_Type">
                  <annotation>
                     <documentation>11943: Angir hvilken type belegning sykkelfeltet har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11943</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belegning, type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="belegning_Farge">
                  <annotation>
                     <documentation>11952: Angir hvilken farge belegning framstår med.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11952</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belegning, farge</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>11942: Angir gjennomsnittlig bredde. For sykkelfelt som er avgrenset av oppmerking måles bredde fra ytterkant oppmerking, der det er avgrenset av kantstein måles inn til kantstein, der det kun er malt/farget belegning måles det til ytterkant belegning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11942</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>11941: Gir linje/kurve som geometrisk representerer vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11941</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SykkelfeltPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Sykkelfelt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeSykkelfeltType">
      <annotation>
         <documentation>11940: Angir hvilken type sykkelfelt det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11940</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSykkelfeltEnumerationType nvdb:TypeSykkelfeltOtherType"/>
   </simpleType>
   <simpleType name="TypeSykkelfeltEnumerationType">
      <annotation>
         <documentation>11940: Angir hvilken type sykkelfelt det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11940</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="SB">
            <annotation>
               <documentation>20268: Sykkelfelt som er plassert i bilveg, ligger normalt til høyre for ett standard kjørefelt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20268</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykkelfelt i bilveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SS">
            <annotation>
               <documentation>20269: Sykkelfelt i egen sykkelveg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20269</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykkelfelt i sykkelveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSykkelfeltOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
