GML/PS/OLFV_NV/2.26/301.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.26" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.26" version="2.26">
  <annotation>
    <documentation>301: Angir område med vegetasjon langs vegkant/skråning.  Dette er vanligvis vegetasjon som skal skjøttes vha kantklipper (kantslått).  Det er mulig å gi bredde i form av tilkopla "breddemåling".</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Kantklippareal" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:KantklipparealType">
    <annotation>
      <documentation>301: Angir område med vegetasjon langs vegkant/skråning.  Dette er vanligvis vegetasjon som skal skjøttes vha kantklipper (kantslått).  Det er mulig å gi bredde i form av tilkopla "breddemåling".</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">301</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">301</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kantklippareal</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KantklipparealType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KantklipparealPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kantklippareal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
