GML/PS/OLFV_NV/2.39/209.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        version="2.28">
   <annotation>
      <documentation>209: Objekt som kan brukes til å koble til slangesystemer i forbindelse med brann eller vask av gater/områder</documentation>
   </annotation>
   <include schemaLocation="OLFV_SVV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Hydrant"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:HydrantType">
      <annotation>
         <documentation>209: Objekt som kan brukes til å koble til slangesystemer i forbindelse med brann eller vask av gater/områder</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">209</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">209</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hydrant</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="HydrantType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="kapasitet" type="double">
                  <annotation>
                     <documentation>3875: Angir vannkapasitet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3875</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kapasitet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10307: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10307</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10466: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10466</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4849: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4849</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringHydrantType">
                  <annotation>
                     <documentation>3736: Angir plassering.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3736</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="HydrantPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Hydrant"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="PlasseringHydrantType">
      <annotation>
         <documentation>3736: Angir plassering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3736</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">3736</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringHydrantEnumerationType nvdb:PlasseringHydrantOtherType"/>
   </simpleType>
   <simpleType name="PlasseringHydrantEnumerationType">
      <annotation>
         <documentation>3736: Angir plassering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3736</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">3736</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Utendørs">
            <annotation>
               <documentation>4743: Utendørs</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4743</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utendørs</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I tunnel/bergrom">
            <annotation>
               <documentation>4742: I tunnel/bergrom</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4742</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I tunnel/bergrom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringHydrantOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
