GML/PS/OLFV_SVV/2.23/26.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.23" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.23" version="2.23">
  <annotation>
    <documentation>26: Utstyr satt opp på f.eks. rasteplasser brukt til lek mm</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FastmontertType">
    <annotation>
      <documentation>9452: Angir om lekeapparatet er fastmontert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9452</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9452</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fastmontert</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FastmontertEnumerationType nvdb:FastmontertOtherType"/>
  </simpleType>
  <simpleType name="FastmontertEnumerationType">
    <annotation>
      <documentation>9452: Angir om lekeapparatet er fastmontert</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9452</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9452</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fastmontert</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13317: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13317</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13318: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13318</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FastmontertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Lekeapparat" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:LekeapparatType">
    <annotation>
      <documentation>26: Utstyr satt opp på f.eks. rasteplasser brukt til lek mm</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">26</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">26</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lekeapparat</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LekeapparatType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeLekeapparatType">
            <annotation>
              <documentation>1107: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1107</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fastmontert" type="nvdb:FastmontertType">
            <annotation>
              <documentation>9452: Angir om lekeapparatet er fastmontert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9452</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fastmontert</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materialtype" type="nvdb:MaterialtypeLekeapparatType">
            <annotation>
              <documentation>9453: Angir primær materialtype for vegobjektet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9453</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Materialtype</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overflatebehandling" type="nvdb:OverflatebehandlingLekeapparatType">
            <annotation>
              <documentation>9454: Angir hvordan vegobjektet er overflatebehandlet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9454</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Overflatebehandling</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="underlag" type="nvdb:UnderlagType">
            <annotation>
              <documentation>1740: Angir hvilket underlag der er i tilknytning til lekeapparatet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1740</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Underlag</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10321: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10321</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etableringsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4734: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4734</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRasteplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Rasteplass</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LekeapparatPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Lekeapparat"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaterialtypeLekeapparatType">
    <annotation>
      <documentation>9453: Angir primær materialtype for vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9453</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9453</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Materialtype</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeLekeapparatEnumerationType nvdb:MaterialtypeLekeapparatOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeLekeapparatEnumerationType">
    <annotation>
      <documentation>9453: Angir primær materialtype for vegobjektet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9453</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9453</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Materialtype</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tre">
        <annotation>
          <documentation>13323: Tre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13323</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>13322: Plast</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13322</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Plast</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metall">
        <annotation>
          <documentation>13321: Metall</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13321</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Metall</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>13319: Betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13319</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Betong</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glassfiber">
        <annotation>
          <documentation>13320: Glassfiber</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13320</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Glassfiber</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeLekeapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingLekeapparatType">
    <annotation>
      <documentation>9454: Angir hvordan vegobjektet er overflatebehandlet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9454</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9454</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Overflatebehandling</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OverflatebehandlingLekeapparatEnumerationType nvdb:OverflatebehandlingLekeapparatOtherType"/>
  </simpleType>
  <simpleType name="OverflatebehandlingLekeapparatEnumerationType">
    <annotation>
      <documentation>9454: Angir hvordan vegobjektet er overflatebehandlet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9454</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9454</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Overflatebehandling</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Malt">
        <annotation>
          <documentation>13324: Malt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13324</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Malt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Beiset">
        <annotation>
          <documentation>13325: Beiset</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13325</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beiset</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Impregnert">
        <annotation>
          <documentation>13326: Impregnert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13326</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Impregnert</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oljet">
        <annotation>
          <documentation>13327: Oljet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13327</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Oljet</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lakkert">
        <annotation>
          <documentation>13328: Lakkert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13328</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lakkert</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Emaljert">
        <annotation>
          <documentation>13329: Emaljert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13329</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Emaljert</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen overflatebehandling">
        <annotation>
          <documentation>19081: Ingen overflatebehandling</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19081</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ingen overflatebehandling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingLekeapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeLekeapparatType">
    <annotation>
      <documentation>1107: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1107</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1107</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeLekeapparatEnumerationType nvdb:TypeLekeapparatOtherType"/>
  </simpleType>
  <simpleType name="TypeLekeapparatEnumerationType">
    <annotation>
      <documentation>1107: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1107</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1107</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Huske">
        <annotation>
          <documentation>2507: Huske</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2507</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Huske</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sandkasse">
        <annotation>
          <documentation>2508: Sandkasse</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2508</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sandkasse</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vippe">
        <annotation>
          <documentation>2509: Vippe</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2509</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Vippe</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lekehus">
        <annotation>
          <documentation>2510: Lekehus</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2510</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Lekehus</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rutsjebane">
        <annotation>
          <documentation>2511: Rutsjebane</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2511</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Rutsjebane</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Minigolf">
        <annotation>
          <documentation>2512: Minigolf</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2512</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Minigolf</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Klatrestativ">
        <annotation>
          <documentation>9821: Klatrestativ</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9821</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Klatrestativ</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeLekeapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UnderlagType">
    <annotation>
      <documentation>1740: Angir hvilket underlag der er i tilknytning til lekeapparatet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1740</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1740</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Underlag</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UnderlagEnumerationType nvdb:UnderlagOtherType"/>
  </simpleType>
  <simpleType name="UnderlagEnumerationType">
    <annotation>
      <documentation>1740: Angir hvilket underlag der er i tilknytning til lekeapparatet</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1740</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1740</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Underlag</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Asfalt/stein/betong">
        <annotation>
          <documentation>3818: Asfalt/stein/betong</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3818</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Asfalt/stein/betong</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gummimatte">
        <annotation>
          <documentation>13330: Gummimatte</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">13330</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Gummimatte</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sand/gress">
        <annotation>
          <documentation>2087: Sand/gress</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2087</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Sand/gress</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>4016: Tre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4016</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UnderlagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
