GML/PS/OLFV_NV/2.41/25.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        version="2.28">
   <annotation>
      <documentation>25: Lite bygg for vern mot vær og vind.  Benyttes i forbindelse med holdeplasser.</documentation>
   </annotation>
   <include schemaLocation="OLFV_SVV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="ArealTilpassetRullestolType">
      <annotation>
         <documentation>9846: Angir om det finnes fritt areal innvendig på minst 1.5 x 1.5 m.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9846</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9846</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Areal tilpasset rullestol</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ArealTilpassetRullestolEnumerationType nvdb:ArealTilpassetRullestolOtherType"/>
   </simpleType>
   <simpleType name="ArealTilpassetRullestolEnumerationType">
      <annotation>
         <documentation>9846: Angir om det finnes fritt areal innvendig på minst 1.5 x 1.5 m.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9846</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9846</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Areal tilpasset rullestol</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>16008: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16008</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>16009: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16009</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ArealTilpassetRullestolOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="GlassflaterMarkertType">
      <annotation>
         <documentation>9845: Angir om glassflater har markering i 2 høyder for å unngå at noen går på dem.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9845</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9845</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glassflater markert</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GlassflaterMarkertEnumerationType nvdb:GlassflaterMarkertOtherType"/>
   </simpleType>
   <simpleType name="GlassflaterMarkertEnumerationType">
      <annotation>
         <documentation>9845: Angir om glassflater har markering i 2 høyder for å unngå at noen går på dem.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9845</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9845</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glassflater markert</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>16006: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16006</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>16007: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16007</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GlassflaterMarkertOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="InnvendigBelysningType">
      <annotation>
         <documentation>3128: Angir om det er innvendig belysning i leskur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3128</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">3128</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innvendig belysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InnvendigBelysningEnumerationType nvdb:InnvendigBelysningOtherType"/>
   </simpleType>
   <simpleType name="InnvendigBelysningEnumerationType">
      <annotation>
         <documentation>3128: Angir om det er innvendig belysning i leskur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3128</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">3128</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innvendig belysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>4660: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4660</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>4661: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4661</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InnvendigBelysningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Leskur"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:LeskurType">
      <annotation>
         <documentation>25: Lite bygg for vern mot vær og vind.  Benyttes i forbindelse med holdeplasser.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">25</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">25</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Leskur</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="LeskurType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="materialtype" type="nvdb:MaterialtypeLeskurType">
                  <annotation>
                     <documentation>1401: Angir primær materialtype for vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1401</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="innvendigBelysning" type="nvdb:InnvendigBelysningType">
                  <annotation>
                     <documentation>3128: Angir om det er innvendig belysning i leskur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3128</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Innvendig belysning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="arealTilpassetRullestol"
                        type="nvdb:ArealTilpassetRullestolType">
                  <annotation>
                     <documentation>9846: Angir om det finnes fritt areal innvendig på minst 1.5 x 1.5 m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9846</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal tilpasset rullestol</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="friBreddeInnvendig" type="double">
                  <annotation>
                     <documentation>10264: Angir minste frie bredde innvendig i leskur. Fri bredde måles i leskurets lengderetning, dvs  parallelt med  åpning. Innenfor denne bredden skal det være mulig å bevege seg med rullestol, dvs bredde av evt benker mm er ikke inkludert i fri bredde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10264</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fri bredde innvendig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="friDybdeInnvendig" type="double">
                  <annotation>
                     <documentation>10265: Angir minste fri dybde i leskur. Fri dybde måles innover i leskuret fra åpningen mot bakvegg.   Innenfor denne bredden skal det være mulig å bevege seg med rullestol, dvs bredde av evt benker mm skal ikke inkluderes i fri bredde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10265</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fri dybde innvendig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="glassflaterMarkert"
                        type="nvdb:GlassflaterMarkertType">
                  <annotation>
                     <documentation>9845: Angir om glassflater har markering i 2 høyder for å unngå at noen går på dem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9845</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Glassflater markert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sittemulighet" type="nvdb:SittemulighetType">
                  <annotation>
                     <documentation>3952: Angir om det er sittemulighet i leskur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3952</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sittemulighet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="trinnfriAdkomst"
                        type="nvdb:TrinnfriAdkomstType">
                  <annotation>
                     <documentation>9847: Angir om høydeforskjell mellom fortau og leskur er så lav at f.eks. rullestol eller barnevogn enkelt kan komme inn, dvs. mindre enn 2 cm.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9847</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Trinnfri adkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10322: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10322</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4733: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4733</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="assosiertHoldeplassutrustning"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Holdeplassutrustning</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="LeskurPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Leskur"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialtypeLeskurType">
      <annotation>
         <documentation>1401: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeLeskurEnumerationType nvdb:MaterialtypeLeskurOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeLeskurEnumerationType">
      <annotation>
         <documentation>1401: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Tre">
            <annotation>
               <documentation>2188: Tre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2188</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betong">
            <annotation>
               <documentation>2206: Betong</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2206</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stein">
            <annotation>
               <documentation>4014: Stein</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4014</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Metall">
            <annotation>
               <documentation>4013: Metall</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4013</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Metall, stål, galvanisert">
            <annotation>
               <documentation>2229: Metall, stål, galvanisert</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2229</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål, galvanisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Metall, aluminium">
            <annotation>
               <documentation>2250: Metall, aluminium</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2250</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Plast">
            <annotation>
               <documentation>2268: Plast</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2268</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pleksiglass">
            <annotation>
               <documentation>2369: Pleksiglass</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2369</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pleksiglass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Herdet glass">
            <annotation>
               <documentation>12130: F.eks City90</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12130</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Herdet glass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Glassfiber">
            <annotation>
               <documentation>2374: Glassfiber</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2374</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glassfiber</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeLeskurOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SittemulighetType">
      <annotation>
         <documentation>3952: Angir om det er sittemulighet i leskur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">3952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sittemulighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SittemulighetEnumerationType nvdb:SittemulighetOtherType"/>
   </simpleType>
   <simpleType name="SittemulighetEnumerationType">
      <annotation>
         <documentation>3952: Angir om det er sittemulighet i leskur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">3952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sittemulighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>4964: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4964</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ja, med armlene">
            <annotation>
               <documentation>16005: Ja, med armlene</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16005</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, med armlene</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>4965: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4965</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SittemulighetOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TrinnfriAdkomstType">
      <annotation>
         <documentation>9847: Angir om høydeforskjell mellom fortau og leskur er så lav at f.eks. rullestol eller barnevogn enkelt kan komme inn, dvs. mindre enn 2 cm.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9847</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9847</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trinnfri adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TrinnfriAdkomstEnumerationType nvdb:TrinnfriAdkomstOtherType"/>
   </simpleType>
   <simpleType name="TrinnfriAdkomstEnumerationType">
      <annotation>
         <documentation>9847: Angir om høydeforskjell mellom fortau og leskur er så lav at f.eks. rullestol eller barnevogn enkelt kan komme inn, dvs. mindre enn 2 cm.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9847</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9847</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trinnfri adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>16010: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16010</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>16011: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16011</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TrinnfriAdkomstOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
