GML/PS/OLFV_NV/2.41/42.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.41">
   <annotation>
      <documentation>42: Sted i kollektivnettet der kollektivlinjer korresponderer med hverandre. Knutepunktet binder kollektivnettet sammen til et nettverk. De fleste knutepunkter har omstigningsmulighet buss til buss. Noen knutepunkter har omstigning til bane, tog, båt og ferje. Knutepunkter kan ha navn som inkluderer ord som terminal eller stasjon. Et kollektivknutepunkt kan inneholde flere holdeplasser (Håndbok 123 Kollektivtrafikk).
Merknad: I NVDB er det fokus på viktige kollektivknutepunkt der det er tilrettelagt for omstigning mellom kollektivlinjer som benytter vegnettet. Det registreres kun kollektivknutepunkt hvor punkt 1 nedenfor er oppfylt og hvor i tillegg enten punkt 2 eller punkt 3 (eller begge) er oppfylt.  
1.Kollektivknutepunktet er tilrettelagt for omstigning mellom busslinjer. 
2.Navn på kollektivknutepunktet inneholder stavelsen terminal, stasjon, lufthavn, kai e.l. 
3.Kollektivknutepunktet ligger på annet vegnett enn gjennomgående veg, f.eks. på vegnett av type sideanlegg. 
Dersom kun punkt 1 er oppfylt registreres det ikke kollektivknutepunkt, men Holdeplassutrustning der egenskap "Tilrettelagt for omstigning/bytte" gis verdi "Omstigningsholdeplass". I tilknytning til jernbanestasjoner, lufthavner, ferjekaier, rutebåtterminaler etc. kreves det også at punkt 1skal være oppfylt for at det skal registreres som kollektivknutepunkt i NVDB. Om ikke punkt 1 er oppfylt registreres det også her i stedet  "Holdeplassutrustning" som nevnt ovenfor. På ferjekaier skal det alltid registreres forekomst av Ferjekai i NVDB.</documentation>
   </annotation>
   <include schemaLocation="OLFV_NV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <import namespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BillettsalgKollektivknutepunktType">
      <annotation>
         <documentation>10594: Angir om det er billettsalg i tilknytning til kollektivknutepunktet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10594</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Billettsalg</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BillettsalgKollektivknutepunktEnumerationType nvdb:BillettsalgKollektivknutepunktOtherType"/>
   </simpleType>
   <simpleType name="BillettsalgKollektivknutepunktEnumerationType">
      <annotation>
         <documentation>10594: Angir om det er billettsalg i tilknytning til kollektivknutepunktet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10594</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Billettsalg</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16996</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JA">
            <annotation>
               <documentation>16998: Angir at det er billettsalg i automat.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16998</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, automat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JKS">
            <annotation>
               <documentation>16997: Angir at det er betjent billettsalg i kiosk/skranke</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16997</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, kiosk/skranke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JKSA">
            <annotation>
               <documentation>16999: Angir at det er billettsalg i både kiosk/skranke og i automat.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16999</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, kiosk/skranke og automat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>17000: Ikke fysisk billettsalg i tilknytning til kollektivknutepunktet. Billettsalg via apper/internett.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17000</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BillettsalgKollektivknutepunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierKollektivknutepunktType">
      <annotation>
         <documentation>10589: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10589</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierKollektivknutepunktEnumerationType nvdb:EierKollektivknutepunktOtherType"/>
   </simpleType>
   <simpleType name="EierKollektivknutepunktEnumerationType">
      <annotation>
         <documentation>10589: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10589</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17005</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17006</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17007</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18626</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17008</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17638: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17638</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierKollektivknutepunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Kollektivknutepunkt"
            substitutionGroup="nvdb:AbstraktKollektivknutepunkt"
            type="nvdb:KollektivknutepunktType">
      <annotation>
         <documentation>42: Sted i kollektivnettet der kollektivlinjer korresponderer med hverandre. Knutepunktet binder kollektivnettet sammen til et nettverk. De fleste knutepunkter har omstigningsmulighet buss til buss. Noen knutepunkter har omstigning til bane, tog, båt og ferje. Knutepunkter kan ha navn som inkluderer ord som terminal eller stasjon. Et kollektivknutepunkt kan inneholde flere holdeplasser (Håndbok 123 Kollektivtrafikk).
Merknad: I NVDB er det fokus på viktige kollektivknutepunkt der det er tilrettelagt for omstigning mellom kollektivlinjer som benytter vegnettet. Det registreres kun kollektivknutepunkt hvor punkt 1 nedenfor er oppfylt og hvor i tillegg enten punkt 2 eller punkt 3 (eller begge) er oppfylt.  
1.Kollektivknutepunktet er tilrettelagt for omstigning mellom busslinjer. 
2.Navn på kollektivknutepunktet inneholder stavelsen terminal, stasjon, lufthavn, kai e.l. 
3.Kollektivknutepunktet ligger på annet vegnett enn gjennomgående veg, f.eks. på vegnett av type sideanlegg. 
Dersom kun punkt 1 er oppfylt registreres det ikke kollektivknutepunkt, men Holdeplassutrustning der egenskap "Tilrettelagt for omstigning/bytte" gis verdi "Omstigningsholdeplass". I tilknytning til jernbanestasjoner, lufthavner, ferjekaier, rutebåtterminaler etc. kreves det også at punkt 1skal være oppfylt for at det skal registreres som kollektivknutepunkt i NVDB. Om ikke punkt 1 er oppfylt registreres det også her i stedet  "Holdeplassutrustning" som nevnt ovenfor. På ferjekaier skal det alltid registreres forekomst av Ferjekai i NVDB.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">42</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kollektivknutepunkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="KollektivknutepunktType">
      <complexContent>
         <extension base="nvdb:AbstraktKollektivknutepunktType">
            <sequence>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>1075: Angir navn på kollektivknutepunktet. Navnet skal samsvare med navn på tilsvarende stoppested i NSR - Nasjonalt Stoppestedsregister (Entur).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1075</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="nivå" type="nvdb:NivåKollektivknutepunktType">
                  <annotation>
                     <documentation>10588: Angir hvilket nivå kollektivknutepunktet tilhører.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10588</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nivå</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="omstigningTilBuss">
                  <annotation>
                     <documentation>2026: Det er tilrettelagt for omstigning til/fra buss.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2026</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Omstigning til buss</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="venterom" type="nvdb:VenteromKollektivknutepunktType">
                  <annotation>
                     <documentation>10593: Angir om det er venterom i tilknytning til kollektivknutepunktet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10593</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Venterom</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="toalett" type="nvdb:ToalettKollektivknutepunktType">
                  <annotation>
                     <documentation>1803: Angir om det er offentlig toalett i tilknytning til kollektivknutepunktet, og om det eventuelt er tilgjengelig for forflytningshemmede.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1803</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Toalett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="billettsalg" type="nvdb:BillettsalgKollektivknutepunktType">
                  <annotation>
                     <documentation>10594: Angir om det er billettsalg i tilknytning til kollektivknutepunktet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10594</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Billettsalg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sykkelparkering"
                        type="nvdb:SykkelparkeringKollektivknutepunktType">
                  <annotation>
                     <documentation>10595: Angir om det er sykkelparkering i tilknytning til kollektivknutepunktet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10595</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sykkelparkering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="parkering" type="nvdb:ParkeringKollektivknutepunktType">
                  <annotation>
                     <documentation>1814: Angir om det er parkeringsplass i tilknytning til kollektivknutepunktet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1814</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Parkering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="parkeringForForflytningshemmede">
                  <annotation>
                     <documentation>10597: Angir om det er parkering for forflytningshemmede i tilknytning til kollektivknutepunktet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10597</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Parkering for forflytningshemmede</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sistVerifisert" type="date">
                  <annotation>
                     <documentation>10591: Angir data for når egenskapene sist var verifisert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10591</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sist verifisert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10317: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10317</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11470: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11470</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
                  <annotation>
                     <documentation>12286: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12286</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierKollektivknutepunktType">
                  <annotation>
                     <documentation>10589: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10589</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="vedlikeholdsansvarlig"
                        type="nvdb:VedlikeholdsansvarligKollektivknutepunktType">
                  <annotation>
                     <documentation>10590: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10590</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4749: Gir punkt som geometrisk representerer objektet. Det skal benyttes samme punkt som benyttes i Nasjonalt stoppestedregister (NSR-Entur).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4749</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>12585: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12585</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="KollektivknutepunktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kollektivknutepunkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="NivåKollektivknutepunktType">
      <annotation>
         <documentation>10588: Angir hvilket nivå kollektivknutepunktet tilhører.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10588</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nivå</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NivåKollektivknutepunktEnumerationType nvdb:NivåKollektivknutepunktOtherType"/>
   </simpleType>
   <simpleType name="NivåKollektivknutepunktEnumerationType">
      <annotation>
         <documentation>10588: Angir hvilket nivå kollektivknutepunktet tilhører.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10588</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nivå</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="L">
            <annotation>
               <documentation>16984: Knutepunkter hvorfra man kan reise lokalt innen samme kommune og/eller samme fylke.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16984</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lokalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nN">
            <annotation>
               <documentation>16982: Knutepunkter hvorfra man kan reise både lokalt, regionalt og til andre landsdeler i Norge. Noen nasjonale knutepunkter har internasjonale reisemål. Det finnes et fåtall nasjonale knutepunkter som alle krever spesiell utforming.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16982</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nasjonalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="R">
            <annotation>
               <documentation>16983: Knutepunkter der man kan reise lokalt og regionalt i betydningen i og til de nærmeste fylkene.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16983</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Regionalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NivåKollektivknutepunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OmstigningTilBussKollektivknutepunktType">
      <annotation>
         <documentation>2026: Det er tilrettelagt for omstigning til/fra buss.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2026</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Omstigning til buss</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OmstigningTilBussKollektivknutepunktEnumerationType nvdb:OmstigningTilBussKollektivknutepunktOtherType"/>
   </simpleType>
   <simpleType name="OmstigningTilBussKollektivknutepunktEnumerationType">
      <annotation>
         <documentation>2026: Det er tilrettelagt for omstigning til/fra buss.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2026</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Omstigning til buss</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3534</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3572</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OmstigningTilBussKollektivknutepunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ParkeringForForflytningshemmedeKollektivknutepunktType">
      <annotation>
         <documentation>10597: Angir om det er parkering for forflytningshemmede i tilknytning til kollektivknutepunktet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10597</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parkering for forflytningshemmede</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ParkeringForForflytningshemmedeKollektivknutepunktEnumerationType nvdb:ParkeringForForflytningshemmedeKollektivknutepunktOtherType"/>
   </simpleType>
   <simpleType name="ParkeringForForflytningshemmedeKollektivknutepunktEnumerationType">
      <annotation>
         <documentation>10597: Angir om det er parkering for forflytningshemmede i tilknytning til kollektivknutepunktet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10597</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parkering for forflytningshemmede</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17003</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17004</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ParkeringForForflytningshemmedeKollektivknutepunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ParkeringKollektivknutepunktType">
      <annotation>
         <documentation>1814: Angir om det er parkeringsplass i tilknytning til kollektivknutepunktet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1814</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parkering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ParkeringKollektivknutepunktEnumerationType nvdb:ParkeringKollektivknutepunktOtherType"/>
   </simpleType>
   <simpleType name="ParkeringKollektivknutepunktEnumerationType">
      <annotation>
         <documentation>1814: Angir om det er parkeringsplass i tilknytning til kollektivknutepunktet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1814</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parkering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3520</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3558</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ParkeringKollektivknutepunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SykkelparkeringKollektivknutepunktType">
      <annotation>
         <documentation>10595: Angir om det er sykkelparkering i tilknytning til kollektivknutepunktet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10595</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelparkering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SykkelparkeringKollektivknutepunktEnumerationType nvdb:SykkelparkeringKollektivknutepunktOtherType"/>
   </simpleType>
   <simpleType name="SykkelparkeringKollektivknutepunktEnumerationType">
      <annotation>
         <documentation>10595: Angir om det er sykkelparkering i tilknytning til kollektivknutepunktet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10595</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sykkelparkering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17001</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17002</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SykkelparkeringKollektivknutepunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ToalettKollektivknutepunktType">
      <annotation>
         <documentation>1803: Angir om det er offentlig toalett i tilknytning til kollektivknutepunktet, og om det eventuelt er tilgjengelig for forflytningshemmede.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1803</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Toalett</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ToalettKollektivknutepunktEnumerationType nvdb:ToalettKollektivknutepunktOtherType"/>
   </simpleType>
   <simpleType name="ToalettKollektivknutepunktEnumerationType">
      <annotation>
         <documentation>1803: Angir om det er offentlig toalett i tilknytning til kollektivknutepunktet, og om det eventuelt er tilgjengelig for forflytningshemmede.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1803</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Toalett</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16993</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JT">
            <annotation>
               <documentation>16994: Minst ett toalett er universelt utformet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16994</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, tilgjengelig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16995</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ToalettKollektivknutepunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKollektivknutepunktType">
      <annotation>
         <documentation>10590: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10590</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VedlikeholdsansvarligKollektivknutepunktEnumerationType nvdb:VedlikeholdsansvarligKollektivknutepunktOtherType"/>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKollektivknutepunktEnumerationType">
      <annotation>
         <documentation>10590: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10590</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20002</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17009</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18739</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OPS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18868</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17010</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17011</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17787</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VedlikeholdsansvarligKollektivknutepunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VenteromKollektivknutepunktType">
      <annotation>
         <documentation>10593: Angir om det er venterom i tilknytning til kollektivknutepunktet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10593</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Venterom</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VenteromKollektivknutepunktEnumerationType nvdb:VenteromKollektivknutepunktOtherType"/>
   </simpleType>
   <simpleType name="VenteromKollektivknutepunktEnumerationType">
      <annotation>
         <documentation>10593: Angir om det er venterom i tilknytning til kollektivknutepunktet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10593</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Venterom</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16990</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JT">
            <annotation>
               <documentation>16991: Venterom er tilgjengelig for alle, universelt utformet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16991</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, tilgjengelig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16992</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VenteromKollektivknutepunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
