GML/PS/OLFV_SVV/2.35/137.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>137: Skråflate som er del av begrensningen av en fylling.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Fyllingsskråning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:FyllingsskråningType">
      <annotation>
         <documentation>137: Skråflate som er del av begrensningen av en fylling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">137</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fyllingsskråning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FyllingsskråningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="helning" type="nvdb:HelningFyllingsskråningType">
                  <annotation>
                     <documentation>11528: Gir representativ helning for fyllingsskråning. For skråninger med ulike helninger angis den som er brattest. Detaljer kan beskrives under tilleggsinformasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11528</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Helning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde_Maksimal" type="double">
                  <annotation>
                     <documentation>1871: Angir maksimal høydeforskjell mellom vegkant og fyllingsfot. Måles vertikalt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1871</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde, maksimal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>2242: Angir gjennomsnittlig bredde målt parallelt med fyllingsskråning (ikke horisontalt).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2242</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="integer">
                  <annotation>
                     <documentation>1392: Angir areal av fylling (skråflate).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1392</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10298: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10298</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10961: Gir flate/polygon som geometrisk avgrenser fyllingsskråning. Fyllingsfot i nedkant, vegskulderkant i overkant.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10961</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FyllingsskråningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fyllingsskråning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="HelningFyllingsskråningType">
      <annotation>
         <documentation>11528: Gir representativ helning for fyllingsskråning. For skråninger med ulike helninger angis den som er brattest. Detaljer kan beskrives under tilleggsinformasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11528</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HelningFyllingsskråningEnumerationType nvdb:HelningFyllingsskråningOtherType"/>
   </simpleType>
   <simpleType name="HelningFyllingsskråningEnumerationType">
      <annotation>
         <documentation>11528: Gir representativ helning for fyllingsskråning. For skråninger med ulike helninger angis den som er brattest. Detaljer kan beskrives under tilleggsinformasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11528</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19585</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1:1,25</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19586</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1:1,5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1:2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19587</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1:2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1:3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19588</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1:3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1:4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19589</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1:4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1:5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19590</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1:5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19584</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brattere enn 1:1,25</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Slakere enn 1:5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19591</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slakere enn 1:5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HelningFyllingsskråningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
