GML/PS/OLFV_SVV/2.35/14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>14: En spesiell konstruksjon i begynnelsen eller slutten på et rekkverk. Det må være utformet og montert slik at faren for alvorlig personskade ved påkjørsel blir minst mulig (Håndbok N101).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="ProduktnavnTypegodkjenningRekkverksendeType">
      <annotation>
         <documentation>10724: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for rekkverksender godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt. Aktuelt for ettergivende rekkverksender.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10724</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produktnavn/typegodkjenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ProduktnavnTypegodkjenningRekkverksendeEnumerationType nvdb:ProduktnavnTypegodkjenningRekkverksendeOtherType"/>
   </simpleType>
   <simpleType name="ProduktnavnTypegodkjenningRekkverksendeEnumerationType">
      <annotation>
         <documentation>10724: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for rekkverksender godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt. Aktuelt for ettergivende rekkverksender.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10724</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produktnavn/typegodkjenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17321</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">ABC-Terminal - P2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17320</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">ABC-Terminal - P3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17319</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">ABC-Terminal - P4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17322</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">ESPEN - P4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17323</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Euro ET - P4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17324</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">MCG-TE-P4 - P4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17325</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Primus P2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18507</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SafeEnd - P2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17326</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SafeEnd - P4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18510</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SafeEnd 80T-NO - Tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20343</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SMA T1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18508</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SMA T2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="16">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18509</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SMA T4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="21">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17327</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trend DS - P2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17328</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trend DS - P4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="23">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17330</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trend SS - P2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17329</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trend SS - P4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="25">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17331</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">XT 110 - P4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="26">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17332</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">XTD 110 - P4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="27">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17333</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">ZT1 - P4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="28">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17334</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">ZT2 - P4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ProduktnavnTypegodkjenningRekkverksendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Rekkverksende"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:RekkverksendeType">
      <annotation>
         <documentation>14: En spesiell konstruksjon i begynnelsen eller slutten på et rekkverk. Det må være utformet og montert slik at faren for alvorlig personskade ved påkjørsel blir minst mulig (Håndbok N101).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">14</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rekkverksende</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="RekkverksendeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeRekkverksendeType">
                  <annotation>
                     <documentation>1096: Angir hvilken type rekkverksavslutning/overgangselement det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1096</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavnTypegodkjenning">
                  <annotation>
                     <documentation>10724: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for rekkverksender godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt. Aktuelt for ettergivende rekkverksender.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10724</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn/typegodkjenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10346: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10346</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4722: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4722</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="RekkverksendePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Rekkverksende"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeRekkverksendeType">
      <annotation>
         <documentation>1096: Angir hvilken type rekkverksavslutning/overgangselement det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1096</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeRekkverksendeEnumerationType nvdb:TypeRekkverksendeOtherType"/>
   </simpleType>
   <simpleType name="TypeRekkverksendeEnumerationType">
      <annotation>
         <documentation>1096: Angir hvilken type rekkverksavslutning/overgangselement det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1096</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="sp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2460</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Avslutning i annet vegobjekt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="avs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13721</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Avslutning i full høyde og utsvinget</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5735</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Avslutning i full høyde uten utsvingning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="e">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5734</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ettergivende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="na">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2459</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nedføring i bakken og utsvinget</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2458</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nedføring i bakken uten utsvinging</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13720</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rekkverk avsluttet utenfor sikkerhetssonen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5733</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sideforankring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5723</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sideforankring i fjellskjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5724</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sideforankring i jordskjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5725</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sideforankring i mur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5727</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sideforankring i naboelement</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5726</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sideforankring i tunnelportal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeRekkverksendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
