GML/PS/OLFV_SVV/2.35/208.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>208: Innretning for opplagring av vann. Eksempelvis i tilknytning til tunneler.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="BassengMagasin"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:BassengMagasinType">
      <annotation>
         <documentation>208: Innretning for opplagring av vann. Eksempelvis i tilknytning til tunneler.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">208</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">BassengMagasin</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BassengMagasinType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeBassengMagasinType">
                  <annotation>
                     <documentation>1283: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1283</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="integer">
                  <annotation>
                     <documentation>1378: Angir arealet av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1378</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="volum" type="integer">
                  <annotation>
                     <documentation>1394: Angir volum av vann/væske ved fullt basseng.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1394</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Volum</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="oljeutskilling"
                        type="nvdb:OljeutskillingBassengMagasinType">
                  <annotation>
                     <documentation>10456: Basseng har system for utskilling av olje.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10456</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oljeutskilling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10268: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10268</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>8881: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8881</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BassengMagasinPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:BassengMagasin"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="BruksområdeBassengMagasinType">
      <annotation>
         <documentation>1283: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1283</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeBassengMagasinEnumerationType nvdb:BruksområdeBassengMagasinOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeBassengMagasinEnumerationType">
      <annotation>
         <documentation>1283: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1283</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7945</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet bruksområde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7942</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fordrøyningsbasseng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7943</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oppsamling av forurensning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7944</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pumpesump</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7941</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rensebasseng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RI">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17035</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rensebasseng, infiltrasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17034</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rensebasseng, sedimentasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17036</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rensebasseng, våtmark</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17037</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vannmagasin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeBassengMagasinOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OljeutskillingBassengMagasinType">
      <annotation>
         <documentation>10456: Basseng har system for utskilling av olje.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10456</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oljeutskilling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OljeutskillingBassengMagasinEnumerationType nvdb:OljeutskillingBassengMagasinOtherType"/>
   </simpleType>
   <simpleType name="OljeutskillingBassengMagasinEnumerationType">
      <annotation>
         <documentation>10456: Basseng har system for utskilling av olje.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10456</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oljeutskilling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16918</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JMK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21849</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, med koalesensfilter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JUK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21850</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, uten koalesensfilter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16919</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OljeutskillingBassengMagasinOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
