GML/PS/OLFV_SVV/2.35/23.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>23: Fysisk hinder for å kunne stenge en veg. F.eks. i forbindelse med rasfare, tunnel, høgfjell etc.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeVegbomType">
      <annotation>
         <documentation>1252: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeVegbomEnumerationType nvdb:BruksområdeVegbomOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeVegbomEnumerationType">
      <annotation>
         <documentation>1252: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19821</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet bruksområde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2497</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10247</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferjekai</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gsv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5485</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gang-/sykkelveg, sluse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ho">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2495</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Høyfjellsovergang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2753</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2496</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vanlig vegstrekning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeVegbomOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FjernstyringVegbomType">
      <annotation>
         <documentation>1738: Angir om vegobjektet kan fjernstyres.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FjernstyringVegbomEnumerationType nvdb:FjernstyringVegbomOtherType"/>
   </simpleType>
   <simpleType name="FjernstyringVegbomEnumerationType">
      <annotation>
         <documentation>1738: Angir om vegobjektet kan fjernstyres.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3517</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3555</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FjernstyringVegbomOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MarkeringsskiltPåmontertVegbomType">
      <annotation>
         <documentation>4610: Angir om det er montert markeringsskilt på vegbom/stengsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4610</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Markeringsskilt påmontert</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MarkeringsskiltPåmontertVegbomEnumerationType nvdb:MarkeringsskiltPåmontertVegbomOtherType"/>
   </simpleType>
   <simpleType name="MarkeringsskiltPåmontertVegbomEnumerationType">
      <annotation>
         <documentation>4610: Angir om det er montert markeringsskilt på vegbom/stengsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4610</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Markeringsskilt påmontert</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="IR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21307</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke relevant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5566</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MarkeringsskiltPåmontertVegbomOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeVegbomType">
      <annotation>
         <documentation>4596: Angir materialtype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeVegbomEnumerationType nvdb:MaterialtypeVegbomOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeVegbomEnumerationType">
      <annotation>
         <documentation>4596: Angir materialtype.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8189</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19818</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5536</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="St">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19819</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5535</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5537</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeVegbomOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegbomType">
      <annotation>
         <documentation>1105: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1105</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeVegbomEnumerationType nvdb:TypeVegbomOtherType"/>
   </simpleType>
   <simpleType name="TypeVegbomEnumerationType">
      <annotation>
         <documentation>1105: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1105</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Annen">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5490</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen type vegbom/sperring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5489</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongblokk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2498</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Heve-/senkebom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5487</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rørgelender</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5488</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Steinblokk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5486</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stolpe/pullert/kjegle</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2501</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Svingbom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegbomOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeÅpningLukkingVegbomType">
      <annotation>
         <documentation>3839: Angir hvordan åpning/lukking foregår.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3839</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type åpning/lukking</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeÅpningLukkingVegbomEnumerationType nvdb:TypeÅpningLukkingVegbomOtherType"/>
   </simpleType>
   <simpleType name="TypeÅpningLukkingVegbomEnumerationType">
      <annotation>
         <documentation>3839: Angir hvordan åpning/lukking foregår.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3839</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type åpning/lukking</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ae">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4704</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Automatisert/elektrisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19820</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke åpne-/lukkemulighet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4705</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Manuell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeÅpningLukkingVegbomOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VarselblinkPåmontertVegbomType">
      <annotation>
         <documentation>4611: Angir om det er montert varselblink på vegbom/stengsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4611</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varselblink påmontert</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VarselblinkPåmontertVegbomEnumerationType nvdb:VarselblinkPåmontertVegbomOtherType"/>
   </simpleType>
   <simpleType name="VarselblinkPåmontertVegbomEnumerationType">
      <annotation>
         <documentation>4611: Angir om det er montert varselblink på vegbom/stengsel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4611</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varselblink påmontert</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="IR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17303</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke relevant</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5567</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5568</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VarselblinkPåmontertVegbomOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegbom"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VegbomType">
      <annotation>
         <documentation>23: Fysisk hinder for å kunne stenge en veg. F.eks. i forbindelse med rasfare, tunnel, høgfjell etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">23</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegbom</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VegbomType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeVegbomType">
                  <annotation>
                     <documentation>1252: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1252</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeVegbomType">
                  <annotation>
                     <documentation>1105: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1105</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtype" type="nvdb:MaterialtypeVegbomType">
                  <annotation>
                     <documentation>4596: Angir materialtype.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4596</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="typeÅpningLukking">
                  <annotation>
                     <documentation>3839: Angir hvordan åpning/lukking foregår.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3839</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type åpning/lukking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="markeringsskiltPåmontert">
                  <annotation>
                     <documentation>4610: Angir om det er montert markeringsskilt på vegbom/stengsel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4610</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Markeringsskilt påmontert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="varselblinkPåmontert">
                  <annotation>
                     <documentation>4611: Angir om det er montert varselblink på vegbom/stengsel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4611</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Varselblink påmontert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fjernstyring" type="nvdb:FjernstyringVegbomType">
                  <annotation>
                     <documentation>1738: Angir om vegobjektet kan fjernstyres.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1738</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10394: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10394</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10490: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10490</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>3519: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3519</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>4050: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4050</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9426: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9426</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VegbomPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegbom"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
