GML/PS/OLFV_SVV/2.35/27.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>27: Utstyr for søppelhåndtering.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Renovasjon"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:RenovasjonType">
      <annotation>
         <documentation>27: Utstyr for søppelhåndtering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">27</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Renovasjon</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="RenovasjonType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="antall" type="integer">
                  <annotation>
                     <documentation>4521: Angir hvor mange fysiske objekt dette objektet representerer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4521</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeRenovasjonType">
                  <annotation>
                     <documentation>1108: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1108</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="volum" type="double">
                  <annotation>
                     <documentation>1384: Angir volum (kubikkmeter) av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1384</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Volum</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10348: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10348</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4735: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4735</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="RenovasjonPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Renovasjon"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeRenovasjonType">
      <annotation>
         <documentation>1108: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1108</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeRenovasjonEnumerationType nvdb:TypeRenovasjonOtherType"/>
   </simpleType>
   <simpleType name="TypeRenovasjonEnumerationType">
      <annotation>
         <documentation>1108: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1108</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ac">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2515</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Avfallscontainer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ad">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2513</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Avfallsdunk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2514</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kurv/liten dunk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ml">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5468</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Molok</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ngb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22068</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nedgravd container med bunntømming</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeRenovasjonOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
