GML/PS/OLFV_SVV/2.35/300.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>300: Naturlike områder som det skal tas hensyn til og/eller krever en definert form for skjøtsel (se aktuell arbeidsoperasjon + hyppighet). Slike steder kan være spesielle siktsoner, naturtyper, opprettholdelse av skogryddingstiltak, landskapspleieområde m.m.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="FormålNaturområdeType">
      <annotation>
         <documentation>4667: Angir formål med å skjøtte området.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4667</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FormålNaturområdeEnumerationType nvdb:FormålNaturområdeOtherType"/>
   </simpleType>
   <simpleType name="FormålNaturområdeEnumerationType">
      <annotation>
         <documentation>4667: Angir formål med å skjøtte området.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4667</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bev">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16255</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bevare naturområde/kulturlandskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nabo">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5739</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hensyn til naboeiendom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="glatVeg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5738</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hindre lokalt glatt veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vilt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5740</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Matområde, vilt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="utsi">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16240</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sikre utsikt fra vegen, sikkerhet, estetikk.</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FormålNaturområdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Naturområde"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:NaturområdeType">
      <annotation>
         <documentation>300: Naturlike områder som det skal tas hensyn til og/eller krever en definert form for skjøtsel (se aktuell arbeidsoperasjon + hyppighet). Slike steder kan være spesielle siktsoner, naturtyper, opprettholdelse av skogryddingstiltak, landskapspleieområde m.m.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">300</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturområde</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="NaturområdeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeNaturområdeType">
                  <annotation>
                     <documentation>10565: Angir hvilken type område det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10565</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="formål" type="nvdb:FormålNaturområdeType">
                  <annotation>
                     <documentation>4667: Angir formål med å skjøtte området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4667</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Formål</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tilleggsinformasjon" type="string">
                  <annotation>
                     <documentation>9995: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper, f.eks. hvilken type område dette er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9995</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10566: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10566</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="NaturområdePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Naturområde"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeNaturområdeType">
      <annotation>
         <documentation>10565: Angir hvilken type område det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10565</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeNaturområdeEnumerationType nvdb:TypeNaturområdeOtherType"/>
   </simpleType>
   <simpleType name="TypeNaturområdeEnumerationType">
      <annotation>
         <documentation>10565: Angir hvilken type område det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10565</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="eng">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16938</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Eng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fer">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16942</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferskvanns-/våtmarksområder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kul">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16943</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kulturlandskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mas">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16939</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Masseplanter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nat">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16941</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturmark, impediment</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="skg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16940</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skog/tregruppe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="and">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16945</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Verdifull naturtype</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeNaturområdeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
