GML/PS/OLFV_SVV/2.35/303.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>303: Angir hvilken undergrunn vegen hviler på.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="TypeUndergrunnType">
      <annotation>
         <documentation>1245: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1245</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeUndergrunnEnumerationType nvdb:TypeUndergrunnOtherType"/>
   </simpleType>
   <simpleType name="TypeUndergrunnEnumerationType">
      <annotation>
         <documentation>1245: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1245</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="br">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2762</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2330</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2306</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2292</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jord</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="le">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2294</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Leire</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2285</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Løsmasse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2319</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Morenejord</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="my">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3931</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Myr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3961</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pæler/plater</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2301</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sand</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2303</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sand/grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ss">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2299</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Silt/sand</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2260</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein/fjell, sprengt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeUndergrunnOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Undergrunn"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:UndergrunnType">
      <annotation>
         <documentation>303: Angir hvilken undergrunn vegen hviler på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">303</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Undergrunn</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="UndergrunnType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeUndergrunnType">
                  <annotation>
                     <documentation>1245: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1245</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4900: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4900</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="UndergrunnPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Undergrunn"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
