GML/PS/OLFV_SVV/2.35/461.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>461: Matepunkt med måler for lavspentnett som forsyner vegvesenets installasjoner med strøm.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeElektrisk anleggType">
      <annotation>
         <documentation>5644: Angir hva som er hovedbruksområdet for det elektriske anlegget. Det bruksområdet som trekker mest strøm regnes som hovedbruksområde. Sekundære bruksområder kan angis under tilleggsinformasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5644</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeElektrisk anleggEnumerationType nvdb:BruksområdeElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeElektrisk anleggEnumerationType">
      <annotation>
         <documentation>5644: Angir hva som er hovedbruksområdet for det elektriske anlegget. Det bruksområdet som trekker mest strøm regnes som hovedbruksområde. Sekundære bruksområder kan angis under tilleggsinformasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5644</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Annen bruk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21335</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen bruk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16308</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7937</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20081</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferist</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20922</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferjeleie</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21334</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Måleutstyr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16306</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pumper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20923</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rasteplass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Si">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20080</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16305</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skilting</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21333</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredvarsling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18475</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkregistreringsstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16307</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkregulering/overvåking/ITS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7936</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7935</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Veglys</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20082</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Værstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ByggetEtterForskriftElektrisk anleggType">
      <annotation>
         <documentation>10021: Angir hvilken "Forskrift om elektriske forsyningsanlegg" anlegget er bygget i forhold til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygget etter forskrift</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ByggetEtterForskriftElektrisk anleggEnumerationType nvdb:ByggetEtterForskriftElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="ByggetEtterForskriftElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10021: Angir hvilken "Forskrift om elektriske forsyningsanlegg" anlegget er bygget i forhold til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygget etter forskrift</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ann">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16314</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1988">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16312</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK FEB 88</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1991">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16313</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK FEB 91</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2006">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16310</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK FEF 2006</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1998">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16311</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK FEL 1998</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ByggetEtterForskriftElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ByggetEtterNormElektrisk anleggType">
      <annotation>
         <documentation>10022: Angir hvilken "Norm for elektrisk forsyningsanlegg" anlegget er bygget i forhold til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10022</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygget etter norm</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ByggetEtterNormElektrisk anleggEnumerationType nvdb:ByggetEtterNormElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="ByggetEtterNormElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10022: Angir hvilken "Norm for elektrisk forsyningsanlegg" anlegget er bygget i forhold til.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10022</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygget etter norm</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ann">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16323</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400-1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16315</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400-2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16316</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 400 : 2006</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400-3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16317</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 400 : 2010</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400-4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18170</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 400 : 2014</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400-5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19727</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 400 : 2018</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="440">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16318</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 440</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="445">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16319</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK 445</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50110">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16321</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK EN 50110-1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="61936">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16320</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">NEK IEC 61936-1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tavle">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16322</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tavlenorm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ByggetEtterNormElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Elektrisk anlegg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Elektrisk anleggType">
      <annotation>
         <documentation>461: Matepunkt med måler for lavspentnett som forsyner vegvesenets installasjoner med strøm.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">461</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Elektrisk anlegg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Elektrisk anleggType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="målernummer" type="string">
                  <annotation>
                     <documentation>5641: Angir unikt målernummer for måleren. Nummer må endres om måler blir byttet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5641</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Målernummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="målepunktID" type="string">
                  <annotation>
                     <documentation>5642: Angir MålepunktID. Energibedriftenes Landsforening (EBL) og EAN NORGE har inngått en rammeavtale om innføring av standard nummerserier for målepunktidentifikasjon. Denne standarden fra kalles Global Service Relation Number (GSRN).".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5642</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">MålepunktID</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bruksområde" type="nvdb:BruksområdeElektrisk anleggType">
                  <annotation>
                     <documentation>5644: Angir hva som er hovedbruksområdet for det elektriske anlegget. Det bruksområdet som trekker mest strøm regnes som hovedbruksområde. Sekundære bruksområder kan angis under tilleggsinformasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5644</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="energikilde" type="nvdb:EnergikildeElektrisk anleggType">
                  <annotation>
                     <documentation>12061: Angir hvilken type energikilde det elektriske anlegget har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12061</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Energikilde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="byggetEtterForskrift">
                  <annotation>
                     <documentation>10021: Angir hvilken "Forskrift om elektriske forsyningsanlegg" anlegget er bygget i forhold til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10021</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bygget etter forskrift</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="plassering_Måler" type="string">
                  <annotation>
                     <documentation>7908: Plassering av forekomst. Ev. plassering i forhold til veg, bygning eller adresse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7908</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering, måler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="byggetEtterNorm">
                  <annotation>
                     <documentation>10022: Angir hvilken "Norm for elektrisk forsyningsanlegg" anlegget er bygget i forhold til.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10022</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bygget etter norm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="spenning" type="nvdb:SpenningElektrisk anleggType">
                  <annotation>
                     <documentation>10038: Angir spenning(er) på lavspentnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10038</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="manuellAvlesning">
                  <annotation>
                     <documentation>10028: Angir om det er fjernavlesing av målerstand.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10028</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Manuell avlesning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="nettsystem"
                        type="nvdb:NettsystemElektrisk anleggType">
                  <annotation>
                     <documentation>10029: Angir hvordan elkraft er distribuert mellom siste transformator før konsument og konsument.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10029</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nettsystem</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="jordelektrode" type="nvdb:JordelektrodeElektrisk anleggType">
                  <annotation>
                     <documentation>10032: Angir hvilken type jordelektrode som er benyttet i anlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10032</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Jordelektrode</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10023: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10023</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10024: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10024</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="nettselskap" type="string">
                  <annotation>
                     <documentation>5639: Angir navn på nettselskap som eier nettet inn til måler.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5639</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nettselskap</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4978: Gir punkt som geometrisk representerer måleren.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4978</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Elektrisk anleggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Elektrisk anlegg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="EnergikildeElektrisk anleggType">
      <annotation>
         <documentation>12061: Angir hvilken type energikilde det elektriske anlegget har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12061</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Energikilde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EnergikildeElektrisk anleggEnumerationType nvdb:EnergikildeElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="EnergikildeElektrisk anleggEnumerationType">
      <annotation>
         <documentation>12061: Angir hvilken type energikilde det elektriske anlegget har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12061</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Energikilde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20919</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aggregat, batteri</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20920</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Batteri som byttes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20917</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Offentlig nett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20918</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Solcelle, batteri</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EnergikildeElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="JordelektrodeElektrisk anleggType">
      <annotation>
         <documentation>10032: Angir hvilken type jordelektrode som er benyttet i anlegget.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10032</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordelektrode</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:JordelektrodeElektrisk anleggEnumerationType nvdb:JordelektrodeElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="JordelektrodeElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10032: Angir hvilken type jordelektrode som er benyttet i anlegget.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10032</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordelektrode</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ann">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16337</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="cuwi">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16339</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Cu wiret</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="samm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16341</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sammenkoplet med annet nett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="spyd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16340</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spyd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="JordelektrodeElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ManuellAvlesningElektrisk anleggType">
      <annotation>
         <documentation>10028: Angir om det er fjernavlesing av målerstand.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10028</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Manuell avlesning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ManuellAvlesningElektrisk anleggEnumerationType nvdb:ManuellAvlesningElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="ManuellAvlesningElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10028: Angir om det er fjernavlesing av målerstand.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10028</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Manuell avlesning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16329</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16328</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ManuellAvlesningElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NettsystemElektrisk anleggType">
      <annotation>
         <documentation>10029: Angir hvordan elkraft er distribuert mellom siste transformator før konsument og konsument.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10029</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nettsystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NettsystemElektrisk anleggEnumerationType nvdb:NettsystemElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="NettsystemElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10029: Angir hvordan elkraft er distribuert mellom siste transformator før konsument og konsument.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10029</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nettsystem</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="IT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16330</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">IT</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TN-C">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16332</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TN-C</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TN-C-S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16334</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TN-C-S</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TN-S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16333</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TN-S</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16331</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TT</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NettsystemElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SpenningElektrisk anleggType">
      <annotation>
         <documentation>10038: Angir spenning(er) på lavspentnettet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10038</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpenningElektrisk anleggEnumerationType nvdb:SpenningElektrisk anleggOtherType"/>
   </simpleType>
   <simpleType name="SpenningElektrisk anleggEnumerationType">
      <annotation>
         <documentation>10038: Angir spenning(er) på lavspentnettet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10038</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16351</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="230">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16352</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">230</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="230/400">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16355</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">230/400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16353</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">24</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="400">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16354</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">400</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="690">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16717</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">690</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpenningElektrisk anleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
