GML/PS/OLFV_SVV/2.35/487.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>487: Sted for på og avstigning av kollektivtrafikk.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Holdeplassutrustning"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:HoldeplassutrustningType">
      <annotation>
         <documentation>487: Sted for på og avstigning av kollektivtrafikk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">487</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Holdeplassutrustning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="HoldeplassutrustningType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element minOccurs="0" name="UU_TypeTransportmiddel">
                  <annotation>
                     <documentation>10259: Angir hvilken type transportmiddel det er tilrettelagt for.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10259</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Type transportmiddel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="UU_Type" type="nvdb:UU_TypeHoldeplassutrustningType">
                  <annotation>
                     <documentation>3956: Angir hvilken type holdeplassutrustning det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3956</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="UU_Holdeplasskilt"
                        type="nvdb:UU_HoldeplasskiltHoldeplassutrustningType">
                  <annotation>
                     <documentation>10416: Angir om det er holdeplasskilt knyttet til Holdeplassutrustning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10416</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Holdeplasskilt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="UU_Høyttaler"
                        type="nvdb:UU_HøyttalerHoldeplassutrustningType">
                  <annotation>
                     <documentation>10210: Angir om det er høyttaler for å formidle informasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10210</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Høyttaler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="UU_Belysning" type="nvdb:UU_BelysningHoldeplassutrustningType">
                  <annotation>
                     <documentation>3959: Angir utvendige belysningsforhold. Ev. innvendig belysning i leskur skal knyttes til "leskur".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3959</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Belysning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="UU_Sittemulighet"
                        type="nvdb:UU_SittemulighetHoldeplassutrustningType">
                  <annotation>
                     <documentation>10211: Angir om det er sittemulighet på Holdeplassutrustning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10211</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Sittemulighet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="UU_Bilparkering"
                        type="nvdb:UU_BilparkeringHoldeplassutrustningType">
                  <annotation>
                     <documentation>10220: Angir om det er parkering for bil i tilknytning til Holdeplassutrustning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10220</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Bilparkering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="UU_Plattform_Type">
                  <annotation>
                     <documentation>10219: .Angir type område hvor reisende kan oppholde seg i forbindelse med venting på kollektivtrafikk. Plattform er opphøyet fra kjørearealet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10219</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Plattform, type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="UU_Plattform_Belegning">
                  <annotation>
                     <documentation>10193: Belegning på plattform.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10193</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Plattform, belegning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="UU_Plattform_Lengde" type="double">
                  <annotation>
                     <documentation>10191: Lengde av plattform eksklusiv inn-/utkjøringslengde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10191</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Plattform, lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="UU_Plattform_Bredde" type="double">
                  <annotation>
                     <documentation>10192: Fri bredde i plattformens fulle lengde. Ved varierende bredde brukes gjennomsnitt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10192</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Plattform, bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="UU_Plattform_Minstebredde" type="double">
                  <annotation>
                     <documentation>10201: Minste bredde på beste gang-/forflytningsbane langs plattformen. Det skal tas hensyn til permanente punkthinder som trapper, skiltstolper, portaler, bygninger osv. Kjøretøy, rullestoler, vogner etc. som har bredde større enn denne minstebredden vil ikke kunne passere fritt på plattform.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10201</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Plattform, minstebredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="UU_Plattform_KantsteinhøydePåstigning"
                        type="double">
                  <annotation>
                     <documentation>10194: Høyde på kantstein ved påstigningspunkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10194</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Plattform, kantsteinhøyde påstigning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="UU_Plattform_KantsteinhøydeAvstigning"
                        type="double">
                  <annotation>
                     <documentation>10195: Høyde på kantstein ved avstigningspunkt (ca. 5 m bak påstigning).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10195</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">UU_Plattform, kantsteinhøyde avstigning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10306: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10306</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="sistOppgradert" type="double">
                  <annotation>
                     <documentation>11311: Angir årstall for når holdeplassutrustning sist ble oppgradert. Eksempel på oppgradering kan være anleggelse av plattform, etablere bedre tilbud til trafikantene i form av sanntidsinformasjon, sykkelparkering, leskur, m.m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11311</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sist oppgradert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>8926: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8926</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="HoldeplassutrustningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Holdeplassutrustning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="UU_BelysningHoldeplassutrustningType">
      <annotation>
         <documentation>3959: Angir utvendige belysningsforhold. Ev. innvendig belysning i leskur skal knyttes til "leskur".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3959</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Belysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UU_BelysningHoldeplassutrustningEnumerationType nvdb:UU_BelysningHoldeplassutrustningOtherType"/>
   </simpleType>
   <simpleType name="UU_BelysningHoldeplassutrustningEnumerationType">
      <annotation>
         <documentation>3959: Angir utvendige belysningsforhold. Ev. innvendig belysning i leskur skal knyttes til "leskur".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3959</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Belysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="JG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9954</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, belyst av gatebelysning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JE">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4978</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, egen belysning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4979</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UU_BelysningHoldeplassutrustningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UU_BilparkeringHoldeplassutrustningType">
      <annotation>
         <documentation>10220: Angir om det er parkering for bil i tilknytning til Holdeplassutrustning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10220</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Bilparkering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UU_BilparkeringHoldeplassutrustningEnumerationType nvdb:UU_BilparkeringHoldeplassutrustningOtherType"/>
   </simpleType>
   <simpleType name="UU_BilparkeringHoldeplassutrustningEnumerationType">
      <annotation>
         <documentation>10220: Angir om det er parkering for bil i tilknytning til Holdeplassutrustning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10220</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Bilparkering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16648</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tak">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16649</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, med takoverbygg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="uu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16650</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, tilrettelagt for forflytningshemmede</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="takuu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16651</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, tilrettelagt for forflytningshemmede og takoverbygg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nei">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16652</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UU_BilparkeringHoldeplassutrustningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UU_HoldeplasskiltHoldeplassutrustningType">
      <annotation>
         <documentation>10416: Angir om det er holdeplasskilt knyttet til Holdeplassutrustning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10416</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Holdeplasskilt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UU_HoldeplasskiltHoldeplassutrustningEnumerationType nvdb:UU_HoldeplasskiltHoldeplassutrustningOtherType"/>
   </simpleType>
   <simpleType name="UU_HoldeplasskiltHoldeplassutrustningEnumerationType">
      <annotation>
         <documentation>10416: Angir om det er holdeplasskilt knyttet til Holdeplassutrustning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10416</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Holdeplasskilt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja, integrert symbol">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18175</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, integrert symbol</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ja, klistremerke">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18176</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, klistremerke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16791</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, standard skiltplate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16792</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UU_HoldeplasskiltHoldeplassutrustningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UU_HøyttalerHoldeplassutrustningType">
      <annotation>
         <documentation>10210: Angir om det er høyttaler for å formidle informasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10210</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Høyttaler</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UU_HøyttalerHoldeplassutrustningEnumerationType nvdb:UU_HøyttalerHoldeplassutrustningOtherType"/>
   </simpleType>
   <simpleType name="UU_HøyttalerHoldeplassutrustningEnumerationType">
      <annotation>
         <documentation>10210: Angir om det er høyttaler for å formidle informasjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10210</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Høyttaler</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16633</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nei">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16634</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UU_HøyttalerHoldeplassutrustningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UU_Plattform_BelegningHoldeplassutrustningType">
      <annotation>
         <documentation>10193: Belegning på plattform.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10193</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Plattform, belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UU_Plattform_BelegningHoldeplassutrustningEnumerationType nvdb:UU_Plattform_BelegningHoldeplassutrustningOtherType"/>
   </simpleType>
   <simpleType name="UU_Plattform_BelegningHoldeplassutrustningEnumerationType">
      <annotation>
         <documentation>10193: Belegning på plattform.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10193</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Plattform, belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="asf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16605</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bet">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16606</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bst">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16607</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gru">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16608</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bro">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16609</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein, brostein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20073</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein, heller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UU_Plattform_BelegningHoldeplassutrustningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UU_Plattform_TypeHoldeplassutrustningType">
      <annotation>
         <documentation>10219: .Angir type område hvor reisende kan oppholde seg i forbindelse med venting på kollektivtrafikk. Plattform er opphøyet fra kjørearealet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10219</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Plattform, type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UU_Plattform_TypeHoldeplassutrustningEnumerationType nvdb:UU_Plattform_TypeHoldeplassutrustningOtherType"/>
   </simpleType>
   <simpleType name="UU_Plattform_TypeHoldeplassutrustningEnumerationType">
      <annotation>
         <documentation>10219: .Angir type område hvor reisende kan oppholde seg i forbindelse med venting på kollektivtrafikk. Plattform er opphøyet fra kjørearealet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10219</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Plattform, type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fort">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16690</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Del av fortau</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Del av g/s-veg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19834</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Del av g/s-veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="eget">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16692</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Eget areal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nei">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16689</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke plattform</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="øy">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16691</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UU_Plattform_TypeHoldeplassutrustningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UU_SittemulighetHoldeplassutrustningType">
      <annotation>
         <documentation>10211: Angir om det er sittemulighet på Holdeplassutrustning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10211</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Sittemulighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UU_SittemulighetHoldeplassutrustningEnumerationType nvdb:UU_SittemulighetHoldeplassutrustningOtherType"/>
   </simpleType>
   <simpleType name="UU_SittemulighetHoldeplassutrustningEnumerationType">
      <annotation>
         <documentation>10211: Angir om det er sittemulighet på Holdeplassutrustning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10211</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Sittemulighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16635</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="arml">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16637</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, med armlene</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="alta">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16638</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, med armlene og tak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tak">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16636</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, med tak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nei">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16639</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UU_SittemulighetHoldeplassutrustningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UU_TypeHoldeplassutrustningType">
      <annotation>
         <documentation>3956: Angir hvilken type holdeplassutrustning det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3956</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UU_TypeHoldeplassutrustningEnumerationType nvdb:UU_TypeHoldeplassutrustningOtherType"/>
   </simpleType>
   <simpleType name="UU_TypeHoldeplassutrustningEnumerationType">
      <annotation>
         <documentation>3956: Angir hvilken type holdeplassutrustning det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3956</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="term">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5081</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen type</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kant">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5080</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kantstopp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="skilt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5079</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kun skilt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Lomme og skilt, ikke plattform">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19089</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lomme og skilt, ikke plattform</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lom">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5078</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plattform og lomme</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UU_TypeHoldeplassutrustningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UU_TypeTransportmiddelHoldeplassutrustningType">
      <annotation>
         <documentation>10259: Angir hvilken type transportmiddel det er tilrettelagt for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10259</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Type transportmiddel</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UU_TypeTransportmiddelHoldeplassutrustningEnumerationType nvdb:UU_TypeTransportmiddelHoldeplassutrustningOtherType"/>
   </simpleType>
   <simpleType name="UU_TypeTransportmiddelHoldeplassutrustningEnumerationType">
      <annotation>
         <documentation>10259: Angir hvilken type transportmiddel det er tilrettelagt for.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10259</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">UU_Type transportmiddel</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16750</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Buss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16751</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trikk/bybane</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UU_TypeTransportmiddelHoldeplassutrustningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
