GML/PS/OLFV_SVV/2.35/502.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>502: Skap for oppbevaring/installasjon av utstyr.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Skap, teknisk"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:Skap, tekniskType">
      <annotation>
         <documentation>502: Skap for oppbevaring/installasjon av utstyr.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">502</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skap, teknisk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Skap, tekniskType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeSkap, tekniskType">
                  <annotation>
                     <documentation>4013: Angir hvilken type skap det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4013</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10358: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10358</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10087: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10087</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>4016: Angir navn på produsent/fabrikant av selve skapet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4016</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>4018: Angir produktnavn for selve skapet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4018</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>5007: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5007</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Skap, tekniskPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Skap, teknisk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeSkap, tekniskType">
      <annotation>
         <documentation>4013: Angir hvilken type skap det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4013</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSkap, tekniskEnumerationType nvdb:TypeSkap, tekniskOtherType"/>
   </simpleType>
   <simpleType name="TypeSkap, tekniskEnumerationType">
      <annotation>
         <documentation>4013: Angir hvilken type skap det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4013</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5056</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Automasjonsskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7455</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betjening/styring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5046</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brannslukkerskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12166</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nødstyreskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Skredteknisk utstyr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21910</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredteknisk utstyr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11787</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tellepunktskap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSkap, tekniskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
