GML/PS/OLFV_SVV/2.35/542.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>542: En energiabsorberende sikkerhetskonstruksjon som over kort avstand skal bremse et kjøretøy ved frontkollisjon eller sidekollisjon, eller lede det forbi faremomentet. Kilde: Rekkverksnormal.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="ProduktnavnTypegodkjenningStøtputeType">
      <annotation>
         <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8395</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produktnavn/typegodkjenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ProduktnavnTypegodkjenningStøtputeEnumerationType nvdb:ProduktnavnTypegodkjenningStøtputeOtherType"/>
   </simpleType>
   <simpleType name="ProduktnavnTypegodkjenningStøtputeEnumerationType">
      <annotation>
         <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8395</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produktnavn/typegodkjenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20336</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">APM 100 - S100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20337</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">APM 110 - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20338</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">APM 50 - S50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20339</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">APM 80 - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11331</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brakemaster - uspes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20340</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">CrashGuard 3S S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20341</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">CrashGuard 6S S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E110">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21936</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ermes S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E80">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21935</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ermes S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17335</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">EuroTRACC 80 Wide - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17336</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">EuroTRACC S110 - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17337</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">EuroTRACC S110 Wide - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17338</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">EuroTRACC S80 - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="QU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11332</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">QuadGuard - uspes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17342</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">QuadGuard CEN - S100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17339</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">QuadGuard CEN - S110 </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17341</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">QuadGuard CEN - S50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17340</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">QuadGuard CEN - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="16">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17344</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Quest CEN - S100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17345</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Quest CEN - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="17">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17343</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Quest CEN - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="21">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17346</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SMA 100 - S100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="20">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17347</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SMA 110 - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17348</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SMA 50 - S50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17349</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SMA 80 - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="23">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17350</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SMA 80/1 - S80/1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="31">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17351</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU 100 - S100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="33">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17352</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU 60 - S50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="32">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17353</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU 80 - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="30">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17354</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU B - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="41">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17355</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU TUBE P100 - S100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="40">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17356</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU TUBE P110 - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="43">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17357</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU TUBE P50 - S50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="42">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17358</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU TUBE P80 - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17359</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">WALT - S80/1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ProduktnavnTypegodkjenningStøtputeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Støtpute"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:StøtputeType">
      <annotation>
         <documentation>542: En energiabsorberende sikkerhetskonstruksjon som over kort avstand skal bremse et kjøretøy ved frontkollisjon eller sidekollisjon, eller lede det forbi faremomentet. Kilde: Rekkverksnormal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">542</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støtpute</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="StøtputeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="produktnavnTypegodkjenning">
                  <annotation>
                     <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8395</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn/typegodkjenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10367: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10367</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>5040: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5040</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="StøtputePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Støtpute"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
