GML/PS/OLFV_SVV/2.35/848.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>848: Skjerm som settes opp for å stoppe drivende snø.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AdkomstSnøskjermType">
      <annotation>
         <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AdkomstSnøskjermEnumerationType nvdb:AdkomstSnøskjermOtherType"/>
   </simpleType>
   <simpleType name="AdkomstSnøskjermEnumerationType">
      <annotation>
         <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="hj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19824</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13842</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gravemaskin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="he">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13846</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helikopter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13841</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hjullaster</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13844</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kran</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ta">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13845</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tau</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ft">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13843</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til fots</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AdkomstSnøskjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeSnøskjermType">
      <annotation>
         <documentation>9627: Angir bruksområde for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9627</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeSnøskjermEnumerationType nvdb:BruksområdeSnøskjermOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeSnøskjermEnumerationType">
      <annotation>
         <documentation>9627: Angir bruksområde for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9627</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ds">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13837</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Drivsnø på veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13836</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Løsneområde for skred</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeSnøskjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ByggematerialeSnøskjermType">
      <annotation>
         <documentation>9633: Angir hvilket materiale objektet er bygget av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9633</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Byggemateriale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ByggematerialeSnøskjermEnumerationType nvdb:ByggematerialeSnøskjermOtherType"/>
   </simpleType>
   <simpleType name="ByggematerialeSnøskjermEnumerationType">
      <annotation>
         <documentation>9633: Angir hvilket materiale objektet er bygget av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9633</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Byggemateriale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13840</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13839</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13838</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ByggematerialeSnøskjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Snøskjerm"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SnøskjermType">
      <annotation>
         <documentation>848: Skjerm som settes opp for å stoppe drivende snø.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">848</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snøskjerm</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SnøskjermType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeSnøskjermType">
                  <annotation>
                     <documentation>9627: Angir bruksområde for vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9627</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengde" type="double">
                  <annotation>
                     <documentation>9628: Angir total lengde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9628</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeOverTerreng" type="double">
                  <annotation>
                     <documentation>9629: Angir avstand fra terreng til topp skjerm.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9629</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde over terreng</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bakkeklaring" type="double">
                  <annotation>
                     <documentation>9632: Angir avstand fra terreng opp til første horisontale bord.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9632</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bakkeklaring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="byggemateriale" type="nvdb:ByggematerialeSnøskjermType">
                  <annotation>
                     <documentation>9633: Angir hvilket materiale objektet er bygget av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9633</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Byggemateriale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="adkomst" type="nvdb:AdkomstSnøskjermType">
                  <annotation>
                     <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9634</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9640: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9640</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9641: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9641</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SnøskjermPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Snøskjerm"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
