GML/PS/OLFV_SVV/2.35/87.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>87: Lokasjon/konteiner med samling av en eller flere lysarmaturer og lysmast i ett punkt. Det kan forekomme varianter uten lysmast, for eksempel lysarmatur opphengt i tunneltak, og det kan forekomme varianter uten lysarmatur, f.eks. lysmast kun for kabelframføring.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Belysningspunkt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:BelysningspunktType">
      <annotation>
         <documentation>87: Lokasjon/konteiner med samling av en eller flere lysarmaturer og lysmast i ett punkt. Det kan forekomme varianter uten lysmast, for eksempel lysarmatur opphengt i tunneltak, og det kan forekomme varianter uten lysarmatur, f.eks. lysmast kun for kabelframføring.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">87</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysningspunkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BelysningspunktType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeBelysningspunktType">
                  <annotation>
                     <documentation>1272: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1272</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringBelysningspunktType">
                  <annotation>
                     <documentation>1874: Angir plassering for vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1874</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="strømtilførsel_Kategori">
                  <annotation>
                     <documentation>2078: Angir hvilken type strømtilkobling det er til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2078</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Strømtilførsel, kategori</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4787: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4787</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BelysningspunktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Belysningspunkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="BruksområdeBelysningspunktType">
      <annotation>
         <documentation>1272: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1272</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeBelysningspunktEnumerationType nvdb:BruksområdeBelysningspunktOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeBelysningspunktEnumerationType">
      <annotation>
         <documentation>1272: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1272</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3319</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16261</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning ferjeleie</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2953</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning gang/sykkelveg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2961</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning gangfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19801</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning leskur/sykkelparkering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="op">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2957</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning område/plass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="po">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3856</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning privat område</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19802</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning skilt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2963</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="u">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17318</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning undergang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="u">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4908</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning utstyr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2955</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning veg/gate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2959</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belysning vegkryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4909</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Evakueringslys tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4910</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sikkerhetsbelysning tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="HL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22259</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Høydemarkeringslys</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22258</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Seilingslys</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeBelysningspunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringBelysningspunktType">
      <annotation>
         <documentation>1874: Angir plassering for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1874</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringBelysningspunktEnumerationType nvdb:PlasseringBelysningspunktOtherType"/>
   </simpleType>
   <simpleType name="PlasseringBelysningspunktEnumerationType">
      <annotation>
         <documentation>1874: Angir plassering for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1874</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="vb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2972</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Festet til vegg/bygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2970</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Henger i tak/kabelstige</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ls">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3757</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Henger i vaier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2965</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysmast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ms">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2969</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mindre stolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2988</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På portal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19804</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På skiltpunkt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringBelysningspunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Strømtilførsel_KategoriBelysningspunktType">
      <annotation>
         <documentation>2078: Angir hvilken type strømtilkobling det er til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2078</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Strømtilførsel, kategori</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Strømtilførsel_KategoriBelysningspunktEnumerationType nvdb:Strømtilførsel_KategoriBelysningspunktOtherType"/>
   </simpleType>
   <simpleType name="Strømtilførsel_KategoriBelysningspunktEnumerationType">
      <annotation>
         <documentation>2078: Angir hvilken type strømtilkobling det er til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2078</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Strømtilførsel, kategori</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ex">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3857</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">EX</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3765</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jordkabel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3766</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Line</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Strømtilførsel_KategoriBelysningspunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
