GML/PS/OLFV_SVV/2.35/89.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>89: System for regulering og varsling av trafikk. Det er sammensatt av flere signalpunkt med tilhørende signalhoder og blir styrt av et styreapparat. Merknad: Rødblinkanlegg er som regel egne signalanlegg på hvert sted, dvs. rødblink i en ende av en tunnel er et annet signalanlegg enn rødblink i andre enden av tunnelen. Motsatt kan signalpunkt ved et gangfelt høre sammen i samme signalanlegg som signalpunkt for et kryss like ved.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeSignalanleggType">
      <annotation>
         <documentation>1273: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1273</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeSignalanleggEnumerationType nvdb:BruksområdeSignalanleggOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeSignalanleggEnumerationType">
      <annotation>
         <documentation>1273: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1273</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ra">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2980</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen fare</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4873</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bomstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2978</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4872</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferjekai</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2975</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gangfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11721</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gult blinksignal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4870</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Høgfjellsstrekning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4874</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jernbane</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2979</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjørefeltsignal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4875</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lav høyde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11718</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parkering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18277</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signaler for rampekontroll</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4871</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skred/skredfare</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ss">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2977</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skyttelsignalanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ru">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11720</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utrykningsstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2974</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegkryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11719</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vind/uvær</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeSignalanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Signalanlegg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SignalanleggType">
      <annotation>
         <documentation>89: System for regulering og varsling av trafikk. Det er sammensatt av flere signalpunkt med tilhørende signalhoder og blir styrt av et styreapparat. Merknad: Rødblinkanlegg er som regel egne signalanlegg på hvert sted, dvs. rødblink i en ende av en tunnel er et annet signalanlegg enn rødblink i andre enden av tunnelen. Motsatt kan signalpunkt ved et gangfelt høre sammen i samme signalanlegg som signalpunkt for et kryss like ved.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">89</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signalanlegg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SignalanleggType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeSignalanleggType">
                  <annotation>
                     <documentation>1273: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1273</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="igangsettingsdato" type="date">
                  <annotation>
                     <documentation>8813: Angir dato det ble satt i drift signalanlegg første gang på dette stedet uavhengig av eventuell utskifting av utstyr eller mindre endringer i reguleringen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8813</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Igangsettingsdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4789: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4789</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SignalanleggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Signalanlegg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
