GML/PS/OLFV_SVV/2.35/91.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>91: Innfatning med ett eller flere lys/lamper som til sammen danner et trafikklyssignal.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AntallLamperSignalhodeType">
      <annotation>
         <documentation>1958: Angir hvor mange lyspærer det er knyttet til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1958</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall lamper</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AntallLamperSignalhodeEnumerationType nvdb:AntallLamperSignalhodeOtherType"/>
   </simpleType>
   <simpleType name="AntallLamperSignalhodeEnumerationType">
      <annotation>
         <documentation>1958: Angir hvor mange lyspærer det er knyttet til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1958</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall lamper</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="01">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3731</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="02">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3740</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="03">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3747</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="04">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3017</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AntallLamperSignalhodeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Signalhode"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SignalhodeType">
      <annotation>
         <documentation>91: Innfatning med ett eller flere lys/lamper som til sammen danner et trafikklyssignal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">91</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signalhode</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SignalhodeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="type" type="nvdb:TypeSignalhodeType">
                  <annotation>
                     <documentation>1147: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1147</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallLamper">
                  <annotation>
                     <documentation>1958: Angir hvor mange lyspærer det er knyttet til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1958</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall lamper</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10477: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10477</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>1530: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1530</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>1452: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1452</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4791: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4791</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SignalhodePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Signalhode"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeSignalhodeType">
      <annotation>
         <documentation>1147: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSignalhodeEnumerationType nvdb:TypeSignalhodeOtherType"/>
   </simpleType>
   <simpleType name="TypeSignalhodeEnumerationType">
      <annotation>
         <documentation>1147: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="js">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3008</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Blinkende signal foran jernbane (1096)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3004</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fotgjengersignal (1086)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3009</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gult blinksignal (1098)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2992</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hovedsignal, 3 lys (1080)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3005</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kjørefeltsignal (1090)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18414</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 1 lys, grønn høyre (1082.3)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18413</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 1 lys, grønn rett fram (1082.2)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p10">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2995</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 1 lys, grønn venstre (1082.1)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18416</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 2 lys, gul/grønn, høyre (1082.3)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18415</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 2 lys, gul/grønn, rett fram(1082.2)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2996</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 2 lys, gul/grønn, venstre (1082.1)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18417</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 2 lys, rød/gul, høyre (1082.3)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18418</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 2 lys, rød/gul, rett fram (1082.2)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2997</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 2 lys, rød/gul, venstre (1082.1)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3001</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 3 lys, høyre (1082.3)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3000</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 3 lys, rett fram (1082.2)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2999</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pilsignal, 3 lys, venstre (1082.1)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3007</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rødt stoppblinksignal (1094)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3002</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signal for kollektivtrafikk (1088)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ss">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3003</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykkelsignal (1084)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ts">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3006</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tolyssignal (1092)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSignalhodeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
