GML/PS/OLFV_SVV/2.35/95.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>95: Skiltpunkt er en sammensetning av skiltplater, stolper og stolpefundament m.m.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BøyleSkiltpunktType">
      <annotation>
         <documentation>8773: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8773</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bøyle</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BøyleSkiltpunktEnumerationType nvdb:BøyleSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="BøyleSkiltpunktEnumerationType">
      <annotation>
         <documentation>8773: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8773</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bøyle</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17268</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forgrening</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11619</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16850</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, midtmontert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16849</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, sidemontert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JT">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16848</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, toppmontert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11620</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BøyleSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringSkiltpunktType">
      <annotation>
         <documentation>1671: Angir hvordan vegobjektet er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1671</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FundamenteringSkiltpunktEnumerationType nvdb:FundamenteringSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="FundamenteringSkiltpunktEnumerationType">
      <annotation>
         <documentation>1671: Angir hvordan vegobjektet er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1671</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2430</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/på fjellfundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2435</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/på jordfundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="i">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3474</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FundamenteringSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrSkiltpunktType">
      <annotation>
         <documentation>1876: Angir hvilket oppsettingsutstyr skiltplatene er festet på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1876</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OppsettingsutstyrSkiltpunktEnumerationType nvdb:OppsettingsutstyrSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="OppsettingsutstyrSkiltpunktEnumerationType">
      <annotation>
         <documentation>1876: Angir hvilket oppsettingsutstyr skiltplatene er festet på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1876</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1r">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8007</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1-rør på bunnplate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2r">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8006</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2-rør på bunnplate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3r">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8005</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3-rør på bunnplate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21796</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen vegeiers skiltpunkt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16851</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bakkemontert bøyle</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4604</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gittermast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4605</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gittermast, firkant 200mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4606</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gittermast, firkant 250mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4607</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gittermast, firkant 380mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4602</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gittermast, trekant 200mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4603</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gittermast, trekant 250mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ap">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2871</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Halvportal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2874</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helportal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18488</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Henger i tak/kabelbro</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21798</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kontaktledningsmast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2967</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysmast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21388</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rekkverk/støtpute</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18926</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalstolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5043</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiltbjelke/gitterdrager i tak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2866</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stolpe 60,3 mm (2")</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2868</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stolpe 88,9 mm (3")</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ls">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2879</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, liten</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4597</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, liten, rund 110 mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4598</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, liten, åttekantet 120mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ms">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2881</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, middels</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4599</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, middels, åttekantet 150 mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ss">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2883</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, stor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4600</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, stor, rund 180 mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4601</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Søyle, stor, åttekantet 190 mm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7988</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trestolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17567</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegbom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3266</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ws">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2877</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Wirestrekk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Produktnavn_SkiltmastSkiltpunktType">
      <annotation>
         <documentation>10427: Angir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10427</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produktnavn, skiltmast</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Produktnavn_SkiltmastSkiltpunktEnumerationType nvdb:Produktnavn_SkiltmastSkiltpunktOtherType"/>
   </simpleType>
   <simpleType name="Produktnavn_SkiltmastSkiltpunktEnumerationType">
      <annotation>
         <documentation>10427: Angir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10427</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produktnavn, skiltmast</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="h2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16853</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">HIMAST H1000</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16854</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">HIMAST H2000</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16855</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">HIMAST H3000</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16852</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">HIMAST H500</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16856</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jerol 114</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16857</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jerol 168</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16858</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jerol 219</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="j4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16859</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jerol 273</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16861</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lattix 4420</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16862</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lattix 4425</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16863</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lattix 4438</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16860</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lattix D4412</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16865</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Norsafe NM 120</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16866</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Norsafe NM 150</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16867</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Norsafe NM 190C</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16868</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Norsafe NM 190D</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16869</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Norsafe NM 290</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16864</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Norsafe NM 89</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16870</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Opplandsmast toløper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16871</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Opplandsmast treløper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SH1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21930</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SafeHit1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SH2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21931</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SafeHit2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SH3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21932</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SafeHit3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SH4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21933</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SafeHit4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16872</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">T&amp;V</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Produktnavn_SkiltmastSkiltpunktOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Skiltpunkt"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:SkiltpunktType">
      <annotation>
         <documentation>95: Skiltpunkt er en sammensetning av skiltplater, stolper og stolpefundament m.m.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">95</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltpunkt</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SkiltpunktType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrSkiltpunktType">
                  <annotation>
                     <documentation>1876: Angir hvilket oppsettingsutstyr skiltplatene er festet på.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1876</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="produktnavn_Skiltmast">
                  <annotation>
                     <documentation>10427: Angir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10427</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn, skiltmast</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallOppsettingsutstyr" type="integer">
                  <annotation>
                     <documentation>1877: Angir antall oppsettingsutstyr det er i forbindelse med vegobjektet. Antall skiltstolper/søyler knyttet til skiltpunktet. Eventuelle støttestolper skal ikke medregnes.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1877</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall oppsettingsutstyr</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="høydeOverVegkant" type="double">
                  <annotation>
                     <documentation>2055: Angir høyde fra vegkant til underkant nederste skiltplate som ikke er underskilt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2055</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde over vegkant</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bøyle" type="nvdb:BøyleSkiltpunktType">
                  <annotation>
                     <documentation>8773: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8773</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bøyle</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="fundamentering"
                        type="nvdb:FundamenteringSkiltpunktType">
                  <annotation>
                     <documentation>1671: Angir hvordan vegobjektet er fundamentert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1671</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallFundament" type="integer">
                  <annotation>
                     <documentation>1887: Angir hvor mange fundament det er i tilknytning til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1887</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall fundament</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4794: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4794</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SkiltpunktPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Skiltpunkt"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
