GML/PS/OLFV_SVV/2.35/98.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>98: Punkt langs veg hvor vegens metrering er angitt på fastmontert plate. Finnes i 500-1000 meters mellomrom langs europa-, riks- og fylkesveger.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="PlasseringReferansestolpeType">
      <annotation>
         <documentation>8134: Angir hva plate er plassert på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8134</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringReferansestolpeEnumerationType nvdb:PlasseringReferansestolpeOtherType"/>
   </simpleType>
   <simpleType name="PlasseringReferansestolpeEnumerationType">
      <annotation>
         <documentation>8134: Angir hva plate er plassert på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8134</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="AS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Andre skiltstolper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10692</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bygning/konstruksjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ES">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10687</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Egen stolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10689</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gjerde/støyskjerm</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10690</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysstolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="RV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10688</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rekkverk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringReferansestolpeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Referansestolpe"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:ReferansestolpeType">
      <annotation>
         <documentation>98: Punkt langs veg hvor vegens metrering er angitt på fastmontert plate. Finnes i 500-1000 meters mellomrom langs europa-, riks- og fylkesveger.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">98</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Referansestolpe</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="ReferansestolpeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="tekstPåPlate" type="string">
                  <annotation>
                     <documentation>1907: Angir tekst som står på plate.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1907</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tekst på plate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringReferansestolpeType">
                  <annotation>
                     <documentation>8134: Angir hva plate er plassert på.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8134</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="stolpefundamentering"
                        type="nvdb:StolpefundamenteringReferansestolpeType">
                  <annotation>
                     <documentation>1672: Angir hvordan vegobjektet er fundamentert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1672</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stolpefundamentering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10344: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10344</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4797: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4797</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ReferansestolpePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Referansestolpe"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="StolpefundamenteringReferansestolpeType">
      <annotation>
         <documentation>1672: Angir hvordan vegobjektet er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1672</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stolpefundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StolpefundamenteringReferansestolpeEnumerationType nvdb:StolpefundamenteringReferansestolpeOtherType"/>
   </simpleType>
   <simpleType name="StolpefundamenteringReferansestolpeEnumerationType">
      <annotation>
         <documentation>1672: Angir hvordan vegobjektet er fundamentert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1672</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stolpefundamentering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ef">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3265</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/på fjell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2431</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/på fjellfundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2436</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I/på jordfundament</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ij">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2426</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jordstikk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StolpefundamenteringReferansestolpeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
