GML/PS/OLFV_SVV/2.37/103.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>103: Fysisk tiltak for å holde fartsnivået lavt.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Fartsdemper"
            substitutionGroup="nvdb:AbstraktFartsdemper"
            type="nvdb:FartsdemperType">
      <annotation>
         <documentation>103: Fysisk tiltak for å holde fartsnivået lavt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fartsdemper</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FartsdemperType">
      <complexContent>
         <extension base="nvdb:AbstraktFartsdemperType">
            <sequence>
               <element name="type" type="nvdb:TypeFartsdemperType">
                  <annotation>
                     <documentation>1156: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1156</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="profil" type="nvdb:ProfilFartsdemperType">
                  <annotation>
                     <documentation>8799: Angir hvilket humpprofil som er benyttet. Jfr. kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8799</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Profil</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialeBelegning">
                  <annotation>
                     <documentation>8798: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter. Kan også være romlefelt f.eks. av "stein, brostein".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8798</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale/belegning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10288: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10288</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>12650: Gir flate/polygon som geometrisk avgrenser objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12650</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FartsdemperPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fartsdemper"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialeBelegningFartsdemperType">
      <annotation>
         <documentation>8798: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter. Kan også være romlefelt f.eks. av "stein, brostein".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale/belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeBelegningFartsdemperEnumerationType nvdb:MaterialeBelegningFartsdemperOtherType"/>
   </simpleType>
   <simpleType name="MaterialeBelegningFartsdemperEnumerationType">
      <annotation>
         <documentation>8798: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter. Kan også være romlefelt f.eks. av "stein, brostein".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale/belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11635</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11637</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, prefabrikkert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11636</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11634</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein, brostein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeBelegningFartsdemperOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ProfilFartsdemperType">
      <annotation>
         <documentation>8799: Angir hvilket humpprofil som er benyttet. Jfr. kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Profil</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ProfilFartsdemperEnumerationType nvdb:ProfilFartsdemperOtherType"/>
   </simpleType>
   <simpleType name="ProfilFartsdemperEnumerationType">
      <annotation>
         <documentation>8799: Angir hvilket humpprofil som er benyttet. Jfr. kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Profil</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="DH">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11783</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel hump</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="HH">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11781</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">H-hump</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11779</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kuleflate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11641</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 1, sirkel-30</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11642</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 2, sirkel-40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11643</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 3, sirkel-50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11644</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 4, modifisert sirkel-30</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11645</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 5, modifisert sirkel-40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11646</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 6, modifisert sirkel-50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11647</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 7, trapes-30</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11648</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 8, trapes-40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P9">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11649</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 9, trapes-50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P30">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11741</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pute-30</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P40">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11742</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pute-40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SH">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11782</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S-Hump</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11780</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sopp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ProfilFartsdemperOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeFartsdemperType">
      <annotation>
         <documentation>1156: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1156</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeFartsdemperEnumerationType nvdb:TypeFartsdemperOtherType"/>
   </simpleType>
   <simpleType name="TypeFartsdemperEnumerationType">
      <annotation>
         <documentation>1156: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1156</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Fh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3594</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fartshump</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5543</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fartsputer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="i">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7917</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innsnevring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7921</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innsnevring i kryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IS">
            <annotation>
               <documentation>11778: Både og.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11778</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innsnevring og sideforskyvning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7920</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rumlefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7919</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sideforskyvning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7918</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Opphøyd kryssområde">
            <annotation>
               <documentation>22540: Hele det sentrale kryssområde er hevet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22540</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Opphøyd kryssområde</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeFartsdemperOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
