GML/PS/OLFV_SVV/2.37/183.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>183: Anordning for framføring av kabler, f.eks. i tunnel.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Kabelbrustige"
            substitutionGroup="nvdb:AbstraktKabelbr_Uten_Stige"
            type="nvdb:KabelbrustigeType">
      <annotation>
         <documentation>183: Anordning for framføring av kabler, f.eks. i tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kabelbrustige</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="KabelbrustigeType">
      <complexContent>
         <extension base="nvdb:AbstraktKabelbr_Uten_StigeType">
            <sequence>
               <element name="type" type="nvdb:TypeKabelbrustigeType">
                  <annotation>
                     <documentation>1191: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1191</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>1697: Angir bredde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1697</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale" type="nvdb:MaterialeKabelbrustigeType">
                  <annotation>
                     <documentation>9754: Angir type materiale.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9754</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>4063: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4063</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>9753: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9753</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>3656: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3656</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>9756: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9756</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4839: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4839</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="KabelbrustigePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kabelbrustige"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialeKabelbrustigeType">
      <annotation>
         <documentation>9754: Angir type materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9754</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeKabelbrustigeEnumerationType nvdb:MaterialeKabelbrustigeOtherType"/>
   </simpleType>
   <simpleType name="MaterialeKabelbrustigeEnumerationType">
      <annotation>
         <documentation>9754: Angir type materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9754</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="al">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14034</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14033</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glassfiber</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="al">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15867</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14031</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål, galvanisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ss">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14032</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål, syrefast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeKabelbrustigeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeKabelbrustigeType">
      <annotation>
         <documentation>1191: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1191</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeKabelbrustigeEnumerationType nvdb:TypeKabelbrustigeOtherType"/>
   </simpleType>
   <simpleType name="TypeKabelbrustigeEnumerationType">
      <annotation>
         <documentation>1191: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1191</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="br">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14029</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bru</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BW">
            <annotation>
               <documentation>20094: Wire for oppheng av kabel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20094</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bærewire</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="re">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14030</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Renne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13035</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stige</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeKabelbrustigeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
