GML/PS/OLFV_SVV/2.37/20.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>20: Stolper - f.eks. forsynt med lysreflekterende materiale - som markerer vegkanten og gir en optisk ledning langs vegen (1). Kan også være refleks festa på rekkverk eller på dobber som henger i tunneltak. I noen tilfeller brukes det også ifm. midtdelere. Merknad: Det skal registreres separate forekomster av kantstolper/refleks for hver side av vegen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="KantstolperRefleks"
            substitutionGroup="nvdb:AbstraktKantstolperRefleks"
            type="nvdb:KantstolperRefleksType">
      <annotation>
         <documentation>20: Stolper - f.eks. forsynt med lysreflekterende materiale - som markerer vegkanten og gir en optisk ledning langs vegen (1). Kan også være refleks festa på rekkverk eller på dobber som henger i tunneltak. I noen tilfeller brukes det også ifm. midtdelere. Merknad: Det skal registreres separate forekomster av kantstolper/refleks for hver side av vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">20</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">KantstolperRefleks</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="KantstolperRefleksType">
      <complexContent>
         <extension base="nvdb:AbstraktKantstolperRefleksType">
            <sequence>
               <element name="antall" type="integer">
                  <annotation>
                     <documentation>2191: Vegobjektet kan representere flere objekt av samme type. Vi angir her hvor mange objekt dette objektet representerer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2191</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeKantstolperRefleksType">
                  <annotation>
                     <documentation>1102: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1102</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10316: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10316</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4728: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4728</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtype" type="nvdb:MaterialtypeKantstolperRefleksType">
                  <annotation>
                     <documentation>1400: Angir primær materialtype for vegobjektet. Stolpemateriale.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1400</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="KantstolperRefleksPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:KantstolperRefleks"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialtypeKantstolperRefleksType">
      <annotation>
         <documentation>1400: Angir primær materialtype for vegobjektet. Stolpemateriale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1400</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeKantstolperRefleksEnumerationType nvdb:MaterialtypeKantstolperRefleksOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeKantstolperRefleksEnumerationType">
      <annotation>
         <documentation>1400: Angir primær materialtype for vegobjektet. Stolpemateriale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1400</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3286</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2267</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2187</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeKantstolperRefleksOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeKantstolperRefleksType">
      <annotation>
         <documentation>1102: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeKantstolperRefleksEnumerationType nvdb:TypeKantstolperRefleksOtherType"/>
   </simpleType>
   <simpleType name="TypeKantstolperRefleksEnumerationType">
      <annotation>
         <documentation>1102: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1102</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FM">
            <annotation>
               <documentation>11798: Trafikkskiller med refleks.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11798</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">FlexiMark</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OR">
            <annotation>
               <documentation>11237: Plastsylindrer med refleks som henger i flukt med vegens kantlinjer. Benyttes først og fremst i tunneler. Underkant plastsylinder skal flukte med skiltet høyde. Typisk dimensjon: 40mm i diameter, lengde 200 mm.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11237</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Overhengende reflekssylinder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2525</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Refleks på rekkverksstolper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2524</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Refleks på stolper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeKantstolperRefleksOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
