GML/PS/OLFV_SVV/2.37/229.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>229: Den delen av overbygningen som er beregnet på, helt eller delvis, å hindre frosten i å trenge ned i undergrunn eller underbygning.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Frostsikringslag"
            substitutionGroup="nvdb:AbstraktFrostsikringslag"
            type="nvdb:FrostsikringslagType">
      <annotation>
         <documentation>229: Den delen av overbygningen som er beregnet på, helt eller delvis, å hindre frosten i å trenge ned i undergrunn eller underbygning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Frostsikringslag</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FrostsikringslagType">
      <complexContent>
         <extension base="nvdb:AbstraktFrostsikringslagType">
            <sequence>
               <element name="type" type="nvdb:TypeFrostsikringslagType">
                  <annotation>
                     <documentation>1214: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1214</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tykkelse" type="integer">
                  <annotation>
                     <documentation>1633: Angir lagets tykkelse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1633</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>7034: Angir gjennomsnittsbredde for strekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7034</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="leggedato" type="date">
                  <annotation>
                     <documentation>5145: Angir leggedato for frostsikringslag.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5145</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Leggedato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4863: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4863</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FrostsikringslagPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Frostsikringslag"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeFrostsikringslagType">
      <annotation>
         <documentation>1214: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1214</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeFrostsikringslagEnumerationType nvdb:TypeFrostsikringslagOtherType"/>
   </simpleType>
   <simpleType name="TypeFrostsikringslagEnumerationType">
      <annotation>
         <documentation>1214: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1214</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Brk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3685</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bark</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="XPS">
            <annotation>
               <documentation>6720: Plater av ekspandert polystyren (XPS).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6720</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ekstrudert polystyren</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Lk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3683</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lettklinker</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sgl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3684</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skumglass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <documentation>17281: Kan være f.eks. kult, knust fjell, pukk, sand, grus, m.m.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17281</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Steinmaterialer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3681</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Syntetiske materialer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeFrostsikringslagOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
