GML/PS/OLFV_SVV/2.37/25.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>25: Lite bygg for vern mot vær og vind. Benyttes i forbindelse med holdeplasser.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="ArealTilpassetRullestolLeskurType">
      <annotation>
         <documentation>9846: Angir om det finnes fritt areal innvendig på minst 1.5 x 1.5 m.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9846</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Areal tilpasset rullestol</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ArealTilpassetRullestolLeskurEnumerationType nvdb:ArealTilpassetRullestolLeskurOtherType"/>
   </simpleType>
   <simpleType name="ArealTilpassetRullestolLeskurEnumerationType">
      <annotation>
         <documentation>9846: Angir om det finnes fritt areal innvendig på minst 1.5 x 1.5 m.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9846</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Areal tilpasset rullestol</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16008</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16009</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ArealTilpassetRullestolLeskurOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="GlassflaterMarkertLeskurType">
      <annotation>
         <documentation>9845: Angir om glassflater har markering i 2 høyder for å unngå at noen går på dem.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9845</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glassflater markert</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:GlassflaterMarkertLeskurEnumerationType nvdb:GlassflaterMarkertLeskurOtherType"/>
   </simpleType>
   <simpleType name="GlassflaterMarkertLeskurEnumerationType">
      <annotation>
         <documentation>9845: Angir om glassflater har markering i 2 høyder for å unngå at noen går på dem.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9845</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glassflater markert</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16006</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16007</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="GlassflaterMarkertLeskurOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="InnvendigBelysningLeskurType">
      <annotation>
         <documentation>3128: Angir om det er innvendig belysning i leskur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3128</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innvendig belysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InnvendigBelysningLeskurEnumerationType nvdb:InnvendigBelysningLeskurOtherType"/>
   </simpleType>
   <simpleType name="InnvendigBelysningLeskurEnumerationType">
      <annotation>
         <documentation>3128: Angir om det er innvendig belysning i leskur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3128</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innvendig belysning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4660</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4661</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InnvendigBelysningLeskurOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Leskur"
            substitutionGroup="nvdb:AbstraktLeskur"
            type="nvdb:LeskurType">
      <annotation>
         <documentation>25: Lite bygg for vern mot vær og vind. Benyttes i forbindelse med holdeplasser.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">25</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Leskur</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="LeskurType">
      <complexContent>
         <extension base="nvdb:AbstraktLeskurType">
            <sequence>
               <element name="materialtype" type="nvdb:MaterialtypeLeskurType">
                  <annotation>
                     <documentation>1401: Angir primær materialtype for vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1401</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="innvendigBelysning">
                  <annotation>
                     <documentation>3128: Angir om det er innvendig belysning i leskur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3128</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Innvendig belysning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arealTilpassetRullestol">
                  <annotation>
                     <documentation>9846: Angir om det finnes fritt areal innvendig på minst 1.5 x 1.5 m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9846</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal tilpasset rullestol</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="friBreddeInnvendig" type="double">
                  <annotation>
                     <documentation>10264: Angir minste frie bredde innvendig i leskur. Fri bredde måles i leskurets lengderetning, dvs. parallelt med åpning. Innenfor denne bredden skal det være mulig å bevege seg med rullestol, dvs. bredde av ev. benker m.m. er ikke inkludert i fri bredde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10264</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fri bredde innvendig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="friDybdeInnvendig" type="double">
                  <annotation>
                     <documentation>10265: Angir minste fri dybde i leskur. Fri dybde måles innover i leskuret fra åpningen mot bakvegg. Innenfor denne bredden skal det være mulig å bevege seg med rullestol, dvs. bredde av ev. benker m.m. skal ikke inkluderes i fri bredde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10265</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fri dybde innvendig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="glassflaterMarkert">
                  <annotation>
                     <documentation>9845: Angir om glassflater har markering i 2 høyder for å unngå at noen går på dem.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9845</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Glassflater markert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sittemulighet" type="nvdb:SittemulighetLeskurType">
                  <annotation>
                     <documentation>3952: Angir om det er sittemulighet i leskur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3952</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sittemulighet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="trinnfriAdkomst">
                  <annotation>
                     <documentation>9847: Angir om høydeforskjell mellom fortau og leskur er så lav at f.eks. rullestol eller barnevogn enkelt kan komme inn, dvs. mindre enn 2 cm.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9847</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Trinnfri adkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10322: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10322</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>9844: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9844</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="LeskurPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Leskur"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialtypeLeskurType">
      <annotation>
         <documentation>1401: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeLeskurEnumerationType nvdb:MaterialtypeLeskurOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeLeskurEnumerationType">
      <annotation>
         <documentation>1401: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2206</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2374</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glassfiber</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12130</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Herdet glass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4013</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ma">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2250</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ms">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2229</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål, galvanisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2268</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="px">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2369</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pleksiglass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="PK">
            <annotation>
               <documentation>21902: Benevnt som "uknuselig"</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21902</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Polykarbonat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4014</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2188</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeLeskurOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SittemulighetLeskurType">
      <annotation>
         <documentation>3952: Angir om det er sittemulighet i leskur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sittemulighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SittemulighetLeskurEnumerationType nvdb:SittemulighetLeskurOtherType"/>
   </simpleType>
   <simpleType name="SittemulighetLeskurEnumerationType">
      <annotation>
         <documentation>3952: Angir om det er sittemulighet i leskur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sittemulighet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4964</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16005</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, med armlene</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4965</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SittemulighetLeskurOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TrinnfriAdkomstLeskurType">
      <annotation>
         <documentation>9847: Angir om høydeforskjell mellom fortau og leskur er så lav at f.eks. rullestol eller barnevogn enkelt kan komme inn, dvs. mindre enn 2 cm.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9847</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trinnfri adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TrinnfriAdkomstLeskurEnumerationType nvdb:TrinnfriAdkomstLeskurOtherType"/>
   </simpleType>
   <simpleType name="TrinnfriAdkomstLeskurEnumerationType">
      <annotation>
         <documentation>9847: Angir om høydeforskjell mellom fortau og leskur er så lav at f.eks. rullestol eller barnevogn enkelt kan komme inn, dvs. mindre enn 2 cm.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9847</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trinnfri adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16010</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16011</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TrinnfriAdkomstLeskurOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
