GML/PS/OLFV_SVV/2.37/28.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>28: Møbler som benyttes ute i samband med vegsystemet. Dette kan f.eks. være på rasteplasser, ferjeoppstillingsplasser etc.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="FastmontertUtemøblerType">
      <annotation>
         <documentation>9451: Angir om utemøblet er fastmontert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9451</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fastmontert</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FastmontertUtemøblerEnumerationType nvdb:FastmontertUtemøblerOtherType"/>
   </simpleType>
   <simpleType name="FastmontertUtemøblerEnumerationType">
      <annotation>
         <documentation>9451: Angir om utemøblet er fastmontert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9451</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fastmontert</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13314</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13315</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FastmontertUtemøblerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeUtemøblerType">
      <annotation>
         <documentation>1402: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeUtemøblerEnumerationType nvdb:MaterialtypeUtemøblerOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeUtemøblerEnumerationType">
      <annotation>
         <documentation>1402: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2207</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2230</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål, galvanisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2254</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2269</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2189</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeUtemøblerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingUtemøblerType">
      <annotation>
         <documentation>1602: Angir hvordan vegobjektet er overflatebehandla.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OverflatebehandlingUtemøblerEnumerationType nvdb:OverflatebehandlingUtemøblerOtherType"/>
   </simpleType>
   <simpleType name="OverflatebehandlingUtemøblerEnumerationType">
      <annotation>
         <documentation>1602: Angir hvordan vegobjektet er overflatebehandla.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2161</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Emaljert">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2180</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emaljert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="im">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2167</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Impregnert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IR">
            <annotation>
               <documentation>19083: Vegobjektet har ingen overflatebehandling.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19083</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen overflatebehandling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2179</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lakkert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2154</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2173</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oljet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingUtemøblerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeUtemøblerType">
      <annotation>
         <documentation>1109: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeUtemøblerEnumerationType nvdb:TypeUtemøblerOtherType"/>
   </simpleType>
   <simpleType name="TypeUtemøblerEnumerationType">
      <annotation>
         <documentation>1109: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <documentation>3793: Sittemøbel. Merknad: Benk i tilknytning til sittegruppe inngår som del av denne og skal ikke registreres som eget vegobjekt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3793</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Benk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sb">
            <annotation>
               <documentation>2519: Benker/stoler plassert sammen i en sittegruppe. Det inngår bord i sittegruppen. Sittegruppe har ikke takoverbygg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2519</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sittegruppe med bord</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <documentation>2520: Benker/stoler plassert sammen i en sittegruppe. Det inngår bord i sittegruppen. Sittegruppe har takoverbygg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2520</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sittegruppe med bord og takoverbygg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SUB">
            <annotation>
               <documentation>21789: Benker/stoler plassert sammen i en sittegruppe. Det inngår ikke bord i sittegruppen. Sittegruppe har ikke takoverbygg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21789</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sittegruppe uten bord</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeUtemøblerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Utemøbler"
            substitutionGroup="nvdb:AbstraktUtemøbler"
            type="nvdb:UtemøblerType">
      <annotation>
         <documentation>28: Møbler som benyttes ute i samband med vegsystemet. Dette kan f.eks. være på rasteplasser, ferjeoppstillingsplasser etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">28</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utemøbler</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="UtemøblerType">
      <complexContent>
         <extension base="nvdb:AbstraktUtemøblerType">
            <sequence>
               <element name="type" type="nvdb:TypeUtemøblerType">
                  <annotation>
                     <documentation>1109: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1109</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtype" type="nvdb:MaterialtypeUtemøblerType">
                  <annotation>
                     <documentation>1402: Angir primær materialtype for vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1402</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="overflatebehandling"
                        type="nvdb:OverflatebehandlingUtemøblerType">
                  <annotation>
                     <documentation>1602: Angir hvordan vegobjektet er overflatebehandla.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1602</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="fastmontert" type="nvdb:FastmontertUtemøblerType">
                  <annotation>
                     <documentation>9451: Angir om utemøblet er fastmontert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9451</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fastmontert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10390: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10390</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4736: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4736</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="UtemøblerPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Utemøbler"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
