GML/PS/OLFV_SVV/2.37/41.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>41: Område for oppstilling og venting for kjøretøy som skal videre med ferje. Areal til rasting, parkering etc. registreres som rasteplass og parkeringsområde.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Ferjeoppstillingsplass"
            substitutionGroup="nvdb:AbstraktFerjeoppstillingsplass"
            type="nvdb:FerjeoppstillingsplassType">
      <annotation>
         <documentation>41: Område for oppstilling og venting for kjøretøy som skal videre med ferje. Areal til rasting, parkering etc. registreres som rasteplass og parkeringsområde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">41</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferjeoppstillingsplass</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FerjeoppstillingsplassType">
      <complexContent>
         <extension base="nvdb:AbstraktFerjeoppstillingsplassType">
            <sequence>
               <element name="ferjeTil" type="string">
                  <annotation>
                     <documentation>1804: Angir hvor det går ferje til. Hvis det er flere steder oppgis de med semikolon mellom.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1804</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ferje til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallOppstillingsfelt" type="integer">
                  <annotation>
                     <documentation>2081: Angir hvor mange oppstillingsfelt det er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2081</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall oppstillingsfelt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengdeOppstillingsfelt_Forflytningshemmede" type="double">
                  <annotation>
                     <documentation>10728: Angir total lengde oppstillingsfelt reservert for kjøretøy for forflytningshemmede. Slike felt skal være skiltet og ha ekstra god plass slik at det er mulig å få rullestol ut og inn av bilen. Det skal angis 0 om det ikke finnes slike felt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10728</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde oppstillingsfelt, forflytningshemmede</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10292: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10292</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4748: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4748</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FerjeoppstillingsplassPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Ferjeoppstillingsplass"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
