GML/PS/OLFV_SVV/2.37/472.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>472: System for innhenting og videreformidling av radiosignal f.eks. i tunnel.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="DABLokalRadioanleggType">
      <annotation>
         <documentation>10794: Angir om det er DAB lokal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10794</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DAB Lokal</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DABLokalRadioanleggEnumerationType nvdb:DABLokalRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="DABLokalRadioanleggEnumerationType">
      <annotation>
         <documentation>10794: Angir om det er DAB lokal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10794</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DAB Lokal</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17543</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17544</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DABLokalRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="DABRegionalRadioanleggType">
      <annotation>
         <documentation>10793: Angir om det er DAB Regional.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10793</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DAB Regional</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DABRegionalRadioanleggEnumerationType nvdb:DABRegionalRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="DABRegionalRadioanleggEnumerationType">
      <annotation>
         <documentation>10793: Angir om det er DAB Regional.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10793</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DAB Regional</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17545</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17546</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DABRegionalRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="DABRiksRadioanleggType">
      <annotation>
         <documentation>10792: Angir om det er DAB Riks.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10792</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DAB Riks</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DABRiksRadioanleggEnumerationType nvdb:DABRiksRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="DABRiksRadioanleggEnumerationType">
      <annotation>
         <documentation>10792: Angir om det er DAB Riks.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10792</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">DAB Riks</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17547</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17548</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DABRiksRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="InnsnakkFraVTSRadioanleggType">
      <annotation>
         <documentation>12652: Angir om det er lokalt mulighet for innsnakk fra VTS til radioanlegg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12652</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innsnakk fra VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InnsnakkFraVTSRadioanleggEnumerationType nvdb:InnsnakkFraVTSRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="InnsnakkFraVTSRadioanleggEnumerationType">
      <annotation>
         <documentation>12652: Angir om det er lokalt mulighet for innsnakk fra VTS til radioanlegg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12652</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innsnakk fra VTS</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21862</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21863</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InnsnakkFraVTSRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="InnsnakkLokaltRadioanleggType">
      <annotation>
         <documentation>12651: Angir om det er mulighet for lokalt innsnakk I tilknytning til radioanlegg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12651</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innsnakk lokalt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:InnsnakkLokaltRadioanleggEnumerationType nvdb:InnsnakkLokaltRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="InnsnakkLokaltRadioanleggEnumerationType">
      <annotation>
         <documentation>12651: Angir om det er mulighet for lokalt innsnakk I tilknytning til radioanlegg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12651</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innsnakk lokalt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21860</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21861</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="InnsnakkLokaltRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KringkastingRadioanleggType">
      <annotation>
         <documentation>10795: Angir om det er kringkasting.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10795</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kringkasting</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KringkastingRadioanleggEnumerationType nvdb:KringkastingRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="KringkastingRadioanleggEnumerationType">
      <annotation>
         <documentation>10795: Angir om det er kringkasting.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10795</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kringkasting</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17541</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17542</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KringkastingRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NødnettRadioanleggType">
      <annotation>
         <documentation>10796: Angir om det er nødnett.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10796</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nødnett</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NødnettRadioanleggEnumerationType nvdb:NødnettRadioanleggOtherType"/>
   </simpleType>
   <simpleType name="NødnettRadioanleggEnumerationType">
      <annotation>
         <documentation>10796: Angir om det er nødnett.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10796</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nødnett</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17539</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17540</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NødnettRadioanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Radioanlegg"
            substitutionGroup="nvdb:AbstraktRadioanlegg"
            type="nvdb:RadioanleggType">
      <annotation>
         <documentation>472: System for innhenting og videreformidling av radiosignal f.eks. i tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">472</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Radioanlegg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="RadioanleggType">
      <complexContent>
         <extension base="nvdb:AbstraktRadioanleggType">
            <sequence>
               <element name="nødnett" type="nvdb:NødnettRadioanleggType">
                  <annotation>
                     <documentation>10796: Angir om det er nødnett.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10796</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nødnett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kringkasting" type="nvdb:KringkastingRadioanleggType">
                  <annotation>
                     <documentation>10795: Angir om det er kringkasting.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10795</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kringkasting</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="DABRiks">
                  <annotation>
                     <documentation>10792: Angir om det er DAB Riks.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10792</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">DAB Riks</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="DABRegional">
                  <annotation>
                     <documentation>10793: Angir om det er DAB Regional.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10793</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">DAB Regional</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="DABLokal">
                  <annotation>
                     <documentation>10794: Angir om det er DAB lokal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10794</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">DAB Lokal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="innsnakkLokalt">
                  <annotation>
                     <documentation>12651: Angir om det er mulighet for lokalt innsnakk I tilknytning til radioanlegg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12651</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Innsnakk lokalt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="innsnakkFraVTS">
                  <annotation>
                     <documentation>12652: Angir om det er lokalt mulighet for innsnakk fra VTS til radioanlegg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12652</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Innsnakk fra VTS</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="double">
                  <annotation>
                     <documentation>10791: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10791</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4989: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4989</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="RadioanleggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Radioanlegg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
