GML/PS/OLFV_SVV/2.37/65.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>65: Bygning i tilknytning til vegen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeBygningType">
      <annotation>
         <documentation>1266: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeBygningEnumerationType nvdb:BruksområdeBygningOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeBygningEnumerationType">
      <annotation>
         <documentation>1266: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4088</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bolighus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3436</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bompenge-/billettinnkreving</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7989</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brøytestasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="d">
            <annotation>
               <documentation>7991: Bygning som benyttes i forbindelse med drift/vedlikehold, f.eks. til oppbevaring av verktøy/redskap/maskiner etc.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7991</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Driftsbygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7990</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Garasje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3437</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kontroll-/vektstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="l">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3439</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lager</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ps">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">9089</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pumpestasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rt">
            <annotation>
               <documentation>21846: Rom i tunnel hvor en kan oppholde seg i en brannsituasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21846</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Redningsrom tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sa">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5464</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sanitær-/toalettanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sb">
            <annotation>
               <documentation>3438: F.eks. venterom, kiosk etc.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3438</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Servicebygg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tb">
            <annotation>
               <documentation>12915: Bygg hvor det er installert teknisk utstyr i tilknytning til f.eks tunnel, ferjeleier, bruer, skredvarsling/saikring eller lignende.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12915</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Teknisk bygg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <documentation>7992: Telefonkiosk langs veg. Gjelder ikke i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7992</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Telefonkiosk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ts">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3440</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikksentral</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="to">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3441</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafostasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeBygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Bygning"
            substitutionGroup="nvdb:AbstraktBygning"
            type="nvdb:BygningType">
      <annotation>
         <documentation>65: Bygning i tilknytning til vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">65</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bygning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BygningType">
      <complexContent>
         <extension base="nvdb:AbstraktBygningType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeBygningType">
                  <annotation>
                     <documentation>1266: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1266</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringBygningType">
                  <annotation>
                     <documentation>9261: Angir hvor bygning er plassert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9261</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="arealGrunnflate" type="double">
                  <annotation>
                     <documentation>1366: Angir arealet av vegobjektet. Gir areal av byggets grunnflate.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1366</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal grunnflate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtype" type="nvdb:MaterialtypeBygningType">
                  <annotation>
                     <documentation>1407: Angir primær materialtype for vegobjektet, om flere materialtyper angis materialtype som er mest dominerende sett fra utside (kledning).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1407</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="overflatebehandling" type="nvdb:OverflatebehandlingBygningType">
                  <annotation>
                     <documentation>1603: Angir hvordan vegobjektet er overflatebehandla. Utvendig overflatebehandling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1603</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10281: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10281</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10997: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10997</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>9340: Gir flate/polygon som geometrisk representerer ytre omriss av bygning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9340</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BygningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bygning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialtypeBygningType">
      <annotation>
         <documentation>1407: Angir primær materialtype for vegobjektet, om flere materialtyper angis materialtype som er mest dominerende sett fra utside (kledning).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1407</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeBygningEnumerationType nvdb:MaterialtypeBygningOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeBygningEnumerationType">
      <annotation>
         <documentation>1407: Angir primær materialtype for vegobjektet, om flere materialtyper angis materialtype som er mest dominerende sett fra utside (kledning).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1407</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2209</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20078</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Leca</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2232</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål, galvanisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2191</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeBygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingBygningType">
      <annotation>
         <documentation>1603: Angir hvordan vegobjektet er overflatebehandla. Utvendig overflatebehandling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OverflatebehandlingBygningEnumerationType nvdb:OverflatebehandlingBygningOtherType"/>
   </simpleType>
   <simpleType name="OverflatebehandlingBygningEnumerationType">
      <annotation>
         <documentation>1603: Angir hvordan vegobjektet er overflatebehandla. Utvendig overflatebehandling.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2162</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="im">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2168</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Impregnert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2155</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2174</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oljet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>16962: Angis om det valgt bevisst at det skal være ubehandlet overflate.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16962</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ubehandlet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OverflatebehandlingBygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringBygningType">
      <annotation>
         <documentation>9261: Angir hvor bygning er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9261</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringBygningEnumerationType nvdb:PlasseringBygningOtherType"/>
   </simpleType>
   <simpleType name="PlasseringBygningEnumerationType">
      <annotation>
         <documentation>9261: Angir hvor bygning er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9261</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12912</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Frittliggende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <documentation>12913: Bygning er plassert inne i tunnel/fjellrom. Selve fjellrommet registreres i tillegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12913</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I tunnel/fjellrom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringBygningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
