GML/PS/OLFV_SVV/2.37/836.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>836: Vegoppmerking som er forsterket med fresing i asfaltdekket. Fresingen skal gi vibrasjon i kjøretøyet.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="TypeVegoppmerking, forsterketType">
      <annotation>
         <documentation>9500: Angir hvilken type forsterket vegoppmerking det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9500</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeVegoppmerking, forsterketEnumerationType nvdb:TypeVegoppmerking, forsterketOtherType"/>
   </simpleType>
   <simpleType name="TypeVegoppmerking, forsterketEnumerationType">
      <annotation>
         <documentation>9500: Angir hvilken type forsterket vegoppmerking det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9500</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <documentation>13385: forsterket oppmerking på vegkant.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13385</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forsterket kantoppmerking</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FM">
            <annotation>
               <documentation>13384: Forsterket vegoppmerking mellom motgående kjørefelt der det ikke er fysisk midtdeler.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13384</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forsterket midtoppmerking</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fmm">
            <annotation>
               <documentation>18276: Forsterket midtoppmerking inn mot midtdeler.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18276</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forsterket oppmerking mot midtdeler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegoppmerking, forsterketOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegoppmerking, forsterket"
            substitutionGroup="nvdb:AbstraktVegoppmerking_Forsterket"
            type="nvdb:Vegoppmerking, forsterketType">
      <annotation>
         <documentation>836: Vegoppmerking som er forsterket med fresing i asfaltdekket. Fresingen skal gi vibrasjon i kjøretøyet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">836</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegoppmerking, forsterket</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Vegoppmerking, forsterketType">
      <complexContent>
         <extension base="nvdb:AbstraktVegoppmerking_ForsterketType">
            <sequence>
               <element name="type" type="nvdb:TypeVegoppmerking, forsterketType">
                  <annotation>
                     <documentation>9500: Angir hvilken type forsterket vegoppmerking det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9500</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>9504: Angir bredde av forsterket vegoppmerking. Standardbredder for midtoppmerking er 55cm, 75 cm o g 105 cm. Standardbredde for kantoppmerking er 35 cm.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9504</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9501: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9501</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>10258: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10258</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Vegoppmerking, forsterketPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegoppmerking, forsterket"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
