GML/PS/OLFV_SVV/2.37/853.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>853: Kum for trekking og/eller sammenkobling av kabler.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BrannsikkerTrekkekumType">
      <annotation>
         <documentation>9742: Angir om kum er brannsikker.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9742</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BrannsikkerTrekkekumEnumerationType nvdb:BrannsikkerTrekkekumOtherType"/>
   </simpleType>
   <simpleType name="BrannsikkerTrekkekumEnumerationType">
      <annotation>
         <documentation>9742: Angir om kum er brannsikker.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9742</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15870</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nei">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15871</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BrannsikkerTrekkekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierTrekkekumType">
      <annotation>
         <documentation>9732: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9732</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierTrekkekumEnumerationType nvdb:EierTrekkekumOtherType"/>
   </simpleType>
   <simpleType name="EierTrekkekumEnumerationType">
      <annotation>
         <documentation>9732: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9732</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14011</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14012</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14013</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <documentation>18613: Organisasjonsnummer: 915488099.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18613</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <documentation>14010: Organisasjonsnummer: 971032081.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14010</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17566: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17566</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierTrekkekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="KumformTrekkekumType">
      <annotation>
         <documentation>9738: Angir kummens form.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kumform</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KumformTrekkekumEnumerationType nvdb:KumformTrekkekumOtherType"/>
   </simpleType>
   <simpleType name="KumformTrekkekumEnumerationType">
      <annotation>
         <documentation>9738: Angir kummens form.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9738</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kumform</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="kv">
            <annotation>
               <documentation>14022: Kummen er kvadratisk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14022</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kvadratisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="re">
            <annotation>
               <documentation>14023: Kummen er rektangulær.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14023</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rektangulær</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ru">
            <annotation>
               <documentation>14024: Kummen er rund.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14024</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rund</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KumformTrekkekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Materiale_KumTrekkekumType">
      <annotation>
         <documentation>9741: Angir type materiale i selve kummen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9741</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale, kum</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Materiale_KumTrekkekumEnumerationType nvdb:Materiale_KumTrekkekumOtherType"/>
   </simpleType>
   <simpleType name="Materiale_KumTrekkekumEnumerationType">
      <annotation>
         <documentation>9741: Angir type materiale i selve kummen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9741</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale, kum</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="be">
            <annotation>
               <documentation>14025: Kummen er laget av betong.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14025</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <documentation>14026: Kummen er laget av spesialprodusert betong.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14026</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, spesialprodusert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <documentation>14027: Kummen er laget av plast.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14027</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SG">
            <annotation>
               <documentation>21340: Skumglassisolasjonsplater forsterket med membran.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21340</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skumglassplater</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <documentation>14028: Kummen er laget av stål.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14028</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Materiale_KumTrekkekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringTrekkekumType">
      <annotation>
         <documentation>9740: Angir hvor/hvordan trekkekummen er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9740</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringTrekkekumEnumerationType nvdb:PlasseringTrekkekumOtherType"/>
   </simpleType>
   <simpleType name="PlasseringTrekkekumEnumerationType">
      <annotation>
         <documentation>9740: Angir hvor/hvordan trekkekummen er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9740</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bb">
            <annotation>
               <documentation>14014: Trekkekum er plassert i tunnel bak betongrekkverk, f.eks. New Jersey.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14014</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bak betongrekkverk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fn">
            <annotation>
               <documentation>14020: Trekkekum er plassert i utsprengt rom ved siden av tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14020</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I fjellrom/nisje</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="te">
            <annotation>
               <documentation>14016: Trekkekum er plassert i terreng utenfor veg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14016</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I terreng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ba">
            <annotation>
               <documentation>14015: Trekkekum er plassert i tunnelbankett.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14015</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I tunnelbankett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ve">
            <annotation>
               <documentation>14019: Trekkekum er plassert i vegbane.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14019</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I vegbane</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ti">
            <annotation>
               <documentation>14017: Trekkekum er plassert på innside av hvelv eller annen vann og frostsikring i tunnel, eller direkte på tunnelvegg der det ikke er noe innenfor.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14017</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På tunnelvegg innside</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tu">
            <annotation>
               <documentation>14018: Trekkekum er plassert på utside av hvelv eller annen vann og frostsikring i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14018</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På tunnelvegg utside</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <documentation>22265: Trekkekum er plassert i fortau.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22265</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I fortau</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I g/s-veg">
            <annotation>
               <documentation>22264: Trekkekum er plassert i gang/sykkelveg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22264</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I g/s-veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="td">
            <annotation>
               <documentation>22266: Trekkekum er plassert i trafikkdeler.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22266</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I trafikkdeler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VS">
            <annotation>
               <documentation>22267: Trekkekum er plassert i vegskulder.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22267</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I vegskulder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringTrekkekumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trekkekum"
            substitutionGroup="nvdb:AbstraktTrekkekum"
            type="nvdb:TrekkekumType">
      <annotation>
         <documentation>853: Kum for trekking og/eller sammenkobling av kabler.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">853</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trekkekum</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrekkekumType">
      <complexContent>
         <extension base="nvdb:AbstraktTrekkekumType">
            <sequence>
               <element name="kumform" type="nvdb:KumformTrekkekumType">
                  <annotation>
                     <documentation>9738: Angir kummens form.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9738</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kumform</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringTrekkekumType">
                  <annotation>
                     <documentation>9740: Angir hvor/hvordan trekkekummen er plassert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9740</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale_Kum">
                  <annotation>
                     <documentation>9741: Angir type materiale i selve kummen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9741</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale, kum</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="brannsikker" type="nvdb:BrannsikkerTrekkekumType">
                  <annotation>
                     <documentation>9742: Angir om kum er brannsikker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9742</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="diameter_Ytre" type="double">
                  <annotation>
                     <documentation>9729: Angir ytre diameter for trekkekum.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9729</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Diameter, ytre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde_Ytre" type="double">
                  <annotation>
                     <documentation>9728: Angir ytre bredde for trekkekum.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9728</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, ytre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde_Ytre" type="double">
                  <annotation>
                     <documentation>9739: Angir ytre lengde for kum.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9739</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde, ytre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dybde_Ytre" type="double">
                  <annotation>
                     <documentation>9737: Angir ytre dybde for kum.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9737</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dybde, ytre</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9731: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9731</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>9757: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9757</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="eier" type="nvdb:EierTrekkekumType">
                  <annotation>
                     <documentation>9732: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9732</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>9733: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9733</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>9843: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9843</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrekkekumPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trekkekum"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
