GML/PS/OLFV_SVV/2.37/854.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>854: Port som kan avstenge et tunnelløp.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BrannsikkerTunnelportType">
      <annotation>
         <documentation>9761: Angir om porten er godkjent brannport.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9761</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BrannsikkerTunnelportEnumerationType nvdb:BrannsikkerTunnelportOtherType"/>
   </simpleType>
   <simpleType name="BrannsikkerTunnelportEnumerationType">
      <annotation>
         <documentation>9761: Angir om porten er godkjent brannport.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9761</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15888</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15889</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BrannsikkerTunnelportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeTunnelportType">
      <annotation>
         <documentation>9763: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9763</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeTunnelportEnumerationType nvdb:BruksområdeTunnelportOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeTunnelportEnumerationType">
      <annotation>
         <documentation>9763: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9763</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="kulPort">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15892</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kuldeport</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tilFjell">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15890</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tilgang fjellrom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tilSide">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15891</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tilgang sideløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeTunnelportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Tunnelport"
            substitutionGroup="nvdb:AbstraktTunnelport"
            type="nvdb:TunnelportType">
      <annotation>
         <documentation>854: Port som kan avstenge et tunnelløp.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">854</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelport</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TunnelportType">
      <complexContent>
         <extension base="nvdb:AbstraktTunnelportType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeTunnelportType">
                  <annotation>
                     <documentation>9763: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9763</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="brannsikker" type="nvdb:BrannsikkerTunnelportType">
                  <annotation>
                     <documentation>9761: Angir om porten er godkjent brannport.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9761</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Brannsikker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>9762: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9762</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde" type="double">
                  <annotation>
                     <documentation>9768: Angir egenhøyde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9768</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10386: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10386</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>9767: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9767</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TunnelportPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Tunnelport"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
