GML/PS/OLFV_SVV/2.37/855.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>855: Passasje i gjerder eller skjermer.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Gjerdeport"
            substitutionGroup="nvdb:AbstraktGjerdeport"
            type="nvdb:GjerdeportType">
      <annotation>
         <documentation>855: Passasje i gjerder eller skjermer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">855</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gjerdeport</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="GjerdeportType">
      <complexContent>
         <extension base="nvdb:AbstraktGjerdeportType">
            <sequence>
               <element name="materiale" type="nvdb:MaterialeGjerdeportType">
                  <annotation>
                     <documentation>9778: Angir materiale.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9778</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>9772: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9772</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde" type="double">
                  <annotation>
                     <documentation>9777: Angir egenhøyde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9777</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="normalStilling">
                  <annotation>
                     <documentation>9780: Angir hva som er normal stilling for dør.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9780</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Normal stilling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10302: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10302</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>9776: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9776</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="GjerdeportPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Gjerdeport"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialeGjerdeportType">
      <annotation>
         <documentation>9778: Angir materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9778</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeGjerdeportEnumerationType nvdb:MaterialeGjerdeportOtherType"/>
   </simpleType>
   <simpleType name="MaterialeGjerdeportEnumerationType">
      <annotation>
         <documentation>9778: Angir materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9778</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Al">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15914</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15915</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15916</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeGjerdeportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NormalStillingGjerdeportType">
      <annotation>
         <documentation>9780: Angir hva som er normal stilling for dør.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9780</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Normal stilling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NormalStillingGjerdeportEnumerationType nvdb:NormalStillingGjerdeportOtherType"/>
   </simpleType>
   <simpleType name="NormalStillingGjerdeportEnumerationType">
      <annotation>
         <documentation>9780: Angir hva som er normal stilling for dør.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9780</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Normal stilling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="LL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15917</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lukka, låst</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LU">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15918</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lukka, ulåst</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Å">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15919</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NormalStillingGjerdeportOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
