GML/PS/OLFV_SVV/2.37/861.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>861: En rekke med lys satt opp i den hensikt å gi optisk ledning for de kjørende. Slike lys kan være satt opp både langs veg i dagen og langs veg i tunnel. Evakueringsbelysning i tunnel registreres som Evakueringsbelysning (861) og ikke som Ledelysstrekning, optisk.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Ledelysstrekning, optisk"
            substitutionGroup="nvdb:AbstraktLedelysstrekning_Optisk"
            type="nvdb:Ledelysstrekning, optiskType">
      <annotation>
         <documentation>861: En rekke med lys satt opp i den hensikt å gi optisk ledning for de kjørende. Slike lys kan være satt opp både langs veg i dagen og langs veg i tunnel. Evakueringsbelysning i tunnel registreres som Evakueringsbelysning (861) og ikke som Ledelysstrekning, optisk.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">861</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ledelysstrekning, optisk</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Ledelysstrekning, optiskType">
      <complexContent>
         <extension base="nvdb:AbstraktLedelysstrekning_OptiskType">
            <sequence>
               <element name="lyskildeType">
                  <annotation>
                     <documentation>9917: Angir type lyskilder i ledelyset.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9917</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringLedelysstrekning, optiskType">
                  <annotation>
                     <documentation>9923: Angir hvor ledelys er plassert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9923</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallLedelyspunkt" type="double">
                  <annotation>
                     <documentation>9907: Angir hvor mange ledelyspunkt det er totalt i ledelysstrekning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9907</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall ledelyspunkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="effekt" type="double">
                  <annotation>
                     <documentation>9912: Angir effekt for ett ledelys.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9912</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9909: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9909</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9915: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9915</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Ledelysstrekning, optiskPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Ledelysstrekning, optisk"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="LyskildeTypeLedelysstrekning, optiskType">
      <annotation>
         <documentation>9917: Angir type lyskilder i ledelyset.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9917</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LyskildeTypeLedelysstrekning, optiskEnumerationType nvdb:LyskildeTypeLedelysstrekning, optiskOtherType"/>
   </simpleType>
   <simpleType name="LyskildeTypeLedelysstrekning, optiskEnumerationType">
      <annotation>
         <documentation>9917: Angir type lyskilder i ledelyset.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9917</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="gl">
            <annotation>
               <documentation>16724: Tradisjonell glødelampe.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16724</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glødelampe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LED">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16112</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LED</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16113</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysstoffrør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="trd">
            <annotation>
               <documentation>16723: Tråd som lyser i hele trådens lengde.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16723</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lystråd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LyskildeTypeLedelysstrekning, optiskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringLedelysstrekning, optiskType">
      <annotation>
         <documentation>9923: Angir hvor ledelys er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringLedelysstrekning, optiskEnumerationType nvdb:PlasseringLedelysstrekning, optiskOtherType"/>
   </simpleType>
   <simpleType name="PlasseringLedelysstrekning, optiskEnumerationType">
      <annotation>
         <documentation>9923: Angir hvor ledelys er plassert.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="s1">
            <annotation>
               <documentation>16101: Plassert på egne stolper, kantstolper eller eget oppsttingsutstyr.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16101</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Eget oppsettingsutstyr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bv">
            <annotation>
               <documentation>16098: Ledelys er montert på bankett eller vegskulder.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16098</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I bankett/vegskulder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16100</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På mur/vegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16099</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På rekkverk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringLedelysstrekning, optiskOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
