GML/PS/OLFV_SVV/2.37/88.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>88: Lyskilde med innfatning.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AntallLyskilderPerArmaturLysarmaturType">
      <annotation>
         <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall lyskilder per armatur</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AntallLyskilderPerArmaturLysarmaturEnumerationType nvdb:AntallLyskilderPerArmaturLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="AntallLyskilderPerArmaturLysarmaturEnumerationType">
      <annotation>
         <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antall lyskilder per armatur</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="01">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3730</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="02">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3739</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="03">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16294</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="04">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16295</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17877</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AntallLyskilderPerArmaturLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="DimmingLysarmaturType">
      <annotation>
         <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset. Ikke aktuelt for lys ved gangfelt etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DimmingLysarmaturEnumerationType nvdb:DimmingLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="DimmingLysarmaturEnumerationType">
      <annotation>
         <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset. Ikke aktuelt for lys ved gangfelt etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11335</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11336</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JD">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22516</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, dynamisk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22515</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, midtpunktdimming</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DimmingLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Lysarmatur"
            substitutionGroup="nvdb:AbstraktLysarmatur"
            type="nvdb:LysarmaturType">
      <annotation>
         <documentation>88: Lyskilde med innfatning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">88</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysarmatur</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="LysarmaturType">
      <complexContent>
         <extension base="nvdb:AbstraktLysarmaturType">
            <sequence>
               <element name="lyskildeType">
                  <annotation>
                     <documentation>2077: Angir hvilken type lyskildene er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="effekt" type="double">
                  <annotation>
                     <documentation>10805: Angir samlet effekt pr lysarmatur. For damplamper angis lyskildeeffekten og for LED oppgis systemeffekten.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10805</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeOverVeg" type="double">
                  <annotation>
                     <documentation>2054: Angir lysarmaturens høyde over veg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2054</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde over veg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallLyskilderPerArmatur">
                  <annotation>
                     <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall lyskilder per armatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="dimming" type="nvdb:DimmingLysarmaturType">
                  <annotation>
                     <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset. Ikke aktuelt for lys ved gangfelt etc.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="zhagaSocket">
                  <annotation>
                     <documentation>12960: Sokkel for tilkopling av styring/kommuniksjon i lysarmatur. Kan blant annet gi mulighet til dynamisk dimming.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12960</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Zhaga socket</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lysflux_Lumen" type="double">
                  <annotation>
                     <documentation>10011: Total lysmengde fra lysarmaturen, definert som lysmengde målt mot øyets følsomhetskurve.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10011</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lysflux (Lumen)</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="fargetemperatur" type="integer">
                  <annotation>
                     <documentation>9564: Angir fargetemperatur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9564</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Fargetemperatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="ombyggingssett"
                        type="nvdb:OmbyggingssettLysarmaturType">
                  <annotation>
                     <documentation>12921: Lysarmatur er bygd om til å kunne benytte LED-lyskilde. Opprinnelig innfatning er beholdt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12921</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ombyggingssett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="ombyggingsår" type="double">
                  <annotation>
                     <documentation>12922: Angir hvilket år lysarmatur ble bygd om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12922</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Ombyggingsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10007: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10007</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10008: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10008</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent_Armatur">
                  <annotation>
                     <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent, armatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn_Armatur" type="string">
                  <annotation>
                     <documentation>1451: Angir produktnavn for lysarmaturen. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1451</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn, armatur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4788: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4788</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="LysarmaturPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Lysarmatur"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="LyskildeTypeLysarmaturType">
      <annotation>
         <documentation>2077: Angir hvilken type lyskildene er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LyskildeTypeLysarmaturEnumerationType nvdb:LyskildeTypeLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="LyskildeTypeLysarmaturEnumerationType">
      <annotation>
         <documentation>2077: Angir hvilken type lyskildene er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="gl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3957</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glødelampe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="KL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22070</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kompaktlysrør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3750</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kvikksølv</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LED">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12979</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LED</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3956</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysstoffrør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="mh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3751</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metallhalogen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3753</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Natrium, høytrykk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="nl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3955</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Natrium, lavtrykk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="QL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12978</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">QL</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LL">
            <annotation>
               <documentation>22513: Ledbelysning i rekke. Benyttes som evakueringsbelysning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22513</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LED List</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LR">
            <annotation>
               <documentation>22514: Lysrør basert på LED.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22514</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LED Lysrør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LyskildeTypeLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OmbyggingssettLysarmaturType">
      <annotation>
         <documentation>12921: Lysarmatur er bygd om til å kunne benytte LED-lyskilde. Opprinnelig innfatning er beholdt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12921</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ombyggingssett</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OmbyggingssettLysarmaturEnumerationType nvdb:OmbyggingssettLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="OmbyggingssettLysarmaturEnumerationType">
      <annotation>
         <documentation>12921: Lysarmatur er bygd om til å kunne benytte LED-lyskilde. Opprinnelig innfatning er beholdt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12921</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ombyggingssett</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <documentation>22474: Lysarmatur er bygd om til Led.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22474</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <documentation>22475: Lyskilde er ikke bygd om.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22475</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OmbyggingssettLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Produsent_ArmaturLysarmaturType">
      <annotation>
         <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produsent, armatur</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Produsent_ArmaturLysarmaturEnumerationType nvdb:Produsent_ArmaturLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="Produsent_ArmaturLysarmaturEnumerationType">
      <annotation>
         <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produsent, armatur</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="aec">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16838</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">AEC Illuminazione</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ag">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3718</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Aeg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21545</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bega</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Def">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18300</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Defa</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="EO">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21805</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">EnergyOptimal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eu">
            <annotation>
               <documentation>21389: Euroskilt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21389</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Euroskilt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="FH">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21020</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fagerhult</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21726</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glamox</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hep">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19468</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Heper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IVL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21907</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I-Vision Lighting Solutions</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="if">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3722</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ifa</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Guz">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21905</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">iGuzzini</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4677</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jernkonst</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21886</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Louis Poulsen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lug">
            <annotation>
               <documentation>21925: Lug Light Factory</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21925</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LUG</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Lum">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21906</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lumin AS</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Lk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21763</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lyskomponenter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="my">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21678</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Meyer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mo">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21904</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mosaico</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ml">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18319</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Multilux</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="no">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3723</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Noral</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19634</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Osram</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ph">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3720</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Philips</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sch">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21544</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Schreder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="se">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3724</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Seelux</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="si">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3721</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Siemens</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sit">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4676</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Siteco</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21575</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Solar Light</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="STR">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21727</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Strihl</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21679</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Targetti</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="th">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3719</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Thorn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ti">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21680</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tight</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ur">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4079</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Urbis</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22287</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Honor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="can">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22308</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Catena</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22473</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SG</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GE">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22552</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gifas Electric</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Produsent_ArmaturLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ZhagaSocketLysarmaturType">
      <annotation>
         <documentation>12960: Sokkel for tilkopling av styring/kommuniksjon i lysarmatur. Kan blant annet gi mulighet til dynamisk dimming.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12960</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Zhaga socket</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ZhagaSocketLysarmaturEnumerationType nvdb:ZhagaSocketLysarmaturOtherType"/>
   </simpleType>
   <simpleType name="ZhagaSocketLysarmaturEnumerationType">
      <annotation>
         <documentation>12960: Sokkel for tilkopling av styring/kommuniksjon i lysarmatur. Kan blant annet gi mulighet til dynamisk dimming.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12960</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Zhaga socket</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="N">
            <annotation>
               <documentation>22512: Lysarmatur har ikke slik innretning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22512</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <documentation>22509: Sokkel er plassert på oversiden av lysarmatur.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22509</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Over</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OU">
            <annotation>
               <documentation>22511: Det er sokkel både på overside og underside.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22511</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Over og under</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>22510: Sokkel er plassert på undersiden av lysarmatur.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22510</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Under</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ZhagaSocketLysarmaturOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
