GML/PS/OLFV_SVV/2.37/882.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>882: Punkt som representerer systemer som samler opp drensvann og overvann før utslipp i resipient, inkludert tunnelvaskevann. Systemene består av fysiske objekter som leder og samler opp vann før utslipp.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="DrensvannVannhåndteringsanleggType">
      <annotation>
         <documentation>10605: Angir om anlegget håndterer drensvann fra tunnel/veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10605</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drensvann</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DrensvannVannhåndteringsanleggEnumerationType nvdb:DrensvannVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="DrensvannVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10605: Angir om anlegget håndterer drensvann fra tunnel/veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10605</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drensvann</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17019</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fra tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VD">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17020</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fra veg i dagen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TVD">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17021</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fra veg i dagen og tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17022</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke drensvann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DrensvannVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OvervannVannhåndteringsanleggType">
      <annotation>
         <documentation>10604: Angir om anlegget håndterer overvann fra tunnel/veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10604</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overvann</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OvervannVannhåndteringsanleggEnumerationType nvdb:OvervannVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="OvervannVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10604: Angir om anlegget håndterer overvann fra tunnel/veg.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10604</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overvann</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17015</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fra tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VD">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17016</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fra veg i dagen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TVD">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17017</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fra veg i dagen og tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17018</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke overvann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OvervannVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RensingVannhåndteringsanleggType">
      <annotation>
         <documentation>10607: Angir om anlegget er tiltenkt å ha rensefunksjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10607</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rensing</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RensingVannhåndteringsanleggEnumerationType nvdb:RensingVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="RensingVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10607: Angir om anlegget er tiltenkt å ha rensefunksjon.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10607</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rensing</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17038</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17039</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RensingVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SikringVannhåndteringsanleggType">
      <annotation>
         <documentation>10449: Angir hvordan anlegget er sikret.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10449</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sikring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SikringVannhåndteringsanleggEnumerationType nvdb:SikringVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="SikringVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10449: Angir hvordan anlegget er sikret.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10449</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sikring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Inn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16899</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Inngjerdet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16900</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SikringVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TankbillekkasjeVannhåndteringsanleggType">
      <annotation>
         <documentation>10608: Angir hvorvidt anlegget er dimensjonert for å håndtere lekkasje fra tankbil.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10608</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tankbillekkasje</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TankbillekkasjeVannhåndteringsanleggEnumerationType nvdb:TankbillekkasjeVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="TankbillekkasjeVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10608: Angir hvorvidt anlegget er dimensjonert for å håndtere lekkasje fra tankbil.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10608</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tankbillekkasje</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="I">
            <annotation>
               <documentation>17026: Anlegget har ikke eget system for å fange opp lekkasje fra tankbil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17026</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Håndteres ikke spesielt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ML">
            <annotation>
               <documentation>17025: Eget system for å fange opp mindre lekkasjer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17025</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kun mindre lekkasjer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MT">
            <annotation>
               <documentation>17024: Eget system for å fange opp lekkasje fra tankbil. Er dimensjonert for å ta hånd om lekkasje fra mindre tankbil, dvs. standard lastebil med tank uten henger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17024</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mindre tankbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TB">
            <annotation>
               <documentation>17023: Eget system for å fange opp lekkasje fra tankbil. Er dimensjonert for å ta hånd om lekkasje fra stor tankbil, dvs. volum inntil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17023</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stor tankbil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TankbillekkasjeVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vannhåndteringsanlegg"
            substitutionGroup="nvdb:AbstraktVannhåndteringsanlegg"
            type="nvdb:VannhåndteringsanleggType">
      <annotation>
         <documentation>882: Punkt som representerer systemer som samler opp drensvann og overvann før utslipp i resipient, inkludert tunnelvaskevann. Systemene består av fysiske objekter som leder og samler opp vann før utslipp.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">882</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vannhåndteringsanlegg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VannhåndteringsanleggType">
      <complexContent>
         <extension base="nvdb:AbstraktVannhåndteringsanleggType">
            <sequence>
               <element minOccurs="0" name="navn" type="string">
                  <annotation>
                     <documentation>10602: Gir navn på anlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10602</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tankbillekkasje"
                        type="nvdb:TankbillekkasjeVannhåndteringsanleggType">
                  <annotation>
                     <documentation>10608: Angir hvorvidt anlegget er dimensjonert for å håndtere lekkasje fra tankbil.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10608</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tankbillekkasje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="rensing" type="nvdb:RensingVannhåndteringsanleggType">
                  <annotation>
                     <documentation>10607: Angir om anlegget er tiltenkt å ha rensefunksjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10607</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rensing</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="vaskevannTunnel">
                  <annotation>
                     <documentation>10603: Angir om anlegget tar i mot vaskevann fra tunnel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10603</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vaskevann tunnel</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="overvann"
                        type="nvdb:OvervannVannhåndteringsanleggType">
                  <annotation>
                     <documentation>10604: Angir om anlegget håndterer overvann fra tunnel/veg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10604</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Overvann</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sikring" type="nvdb:SikringVannhåndteringsanleggType">
                  <annotation>
                     <documentation>10449: Angir hvordan anlegget er sikret.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10449</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sikring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="drensvann" type="nvdb:DrensvannVannhåndteringsanleggType">
                  <annotation>
                     <documentation>10605: Angir om anlegget håndterer drensvann fra tunnel/veg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10605</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Drensvann</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10601: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10601</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>10668: Punkt som representerer vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10668</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VannhåndteringsanleggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vannhåndteringsanlegg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VaskevannTunnelVannhåndteringsanleggType">
      <annotation>
         <documentation>10603: Angir om anlegget tar i mot vaskevann fra tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vaskevann tunnel</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VaskevannTunnelVannhåndteringsanleggEnumerationType nvdb:VaskevannTunnelVannhåndteringsanleggOtherType"/>
   </simpleType>
   <simpleType name="VaskevannTunnelVannhåndteringsanleggEnumerationType">
      <annotation>
         <documentation>10603: Angir om anlegget tar i mot vaskevann fra tunnel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vaskevann tunnel</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17013</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17014</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VaskevannTunnelVannhåndteringsanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
