GML/PS/OLFV_SVV/2.37/897.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.37">
   <annotation>
      <documentation>897: Område hvor det er foretatt stabilisering av jordart ved nedboring av kalksementpeler.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Kalksementpeler"
            substitutionGroup="nvdb:AbstraktKalksementpeler"
            type="nvdb:KalksementpelerType">
      <annotation>
         <documentation>897: Område hvor det er foretatt stabilisering av jordart ved nedboring av kalksementpeler.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">897</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kalksementpeler</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="KalksementpelerType">
      <complexContent>
         <extension base="nvdb:AbstraktKalksementpelerType">
            <sequence>
               <element name="mønster" type="nvdb:MønsterKalksementpelerType">
                  <annotation>
                     <documentation>10786: Angir hvordan pelene er plassert i forhold til hverandre.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10786</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Mønster</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dybdeTilBunn" type="double">
                  <annotation>
                     <documentation>10787: Angir gjennomsnittlig dybde til underkant av stabilisert område.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10787</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dybde til bunn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dybdeTilTopp" type="double">
                  <annotation>
                     <documentation>10788: Angir gjennomsnittlig dybde til overkant av stabilisert område.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10788</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dybde til topp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="areal" type="double">
                  <annotation>
                     <documentation>11371: Angir areal av stabilisert området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11371</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="double">
                  <annotation>
                     <documentation>11372: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11372</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10789: Gir flate/polygon som avgrenser område med kalksementpeler.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10789</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="KalksementpelerPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kalksementpeler"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MønsterKalksementpelerType">
      <annotation>
         <documentation>10786: Angir hvordan pelene er plassert i forhold til hverandre.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10786</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mønster</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MønsterKalksementpelerEnumerationType nvdb:MønsterKalksementpelerOtherType"/>
   </simpleType>
   <simpleType name="MønsterKalksementpelerEnumerationType">
      <annotation>
         <documentation>10786: Angir hvordan pelene er plassert i forhold til hverandre.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10786</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mønster</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <documentation>17538: Peler plassert i rutenett innenfor et avgrensa område.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17538</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Blokk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="dr">
            <annotation>
               <documentation>17537: To ribber som står ved siden av hverandre.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17537</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel ribbe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="er">
            <annotation>
               <documentation>17536: Peler står på rekke etter hverandre.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17536</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkel ribbe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E">
            <annotation>
               <documentation>17535: Peler står ikke i spesielt mønster.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17535</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkeltpeler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MønsterKalksementpelerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
