GML/PS/OLFV_SVV/2.34/860.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.34">
   <annotation>
      <documentation>860: En rekke med lys satt opp i den hensikt å lede trafikanter ut av en tunnel i en nødsituasjon. Evakueringslysene skal normalt være festet på tunnelvegg i bestemt høyde over veg og med fast innbyrdes avstand Det forutsettes at de enkelt evakueringslysene som inngår er av samme type. (Vegobjekttype ble tom v 2.28 benevnt "Rømningslysstrekning").</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Evakueringsbelysning"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:EvakueringsbelysningType">
      <annotation>
         <documentation>860: En rekke med lys satt opp i den hensikt å lede trafikanter ut av en tunnel i en nødsituasjon. Evakueringslysene skal normalt være festet på tunnelvegg i bestemt høyde over veg og med fast innbyrdes avstand Det forutsettes at de enkelt evakueringslysene som inngår er av samme type. (Vegobjekttype ble tom v 2.28 benevnt "Rømningslysstrekning").</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">860</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">860</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Evakueringsbelysning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="EvakueringsbelysningType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="typeLyskilde" type="nvdb:TypeLyskildeType">
                  <annotation>
                     <documentation>9899: Angir type lyskilde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type lyskilde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengdeLED_Seksjoner" type="double">
                  <annotation>
                     <documentation>12618: Angir hvor lang hver LED seksjon er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12618</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde LED-seksjoner</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="effekt" type="integer">
                  <annotation>
                     <documentation>9895: Angir effekt for ett evakueringslyspunkt. For LED-list angis effekt per 25 meter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9895</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9892: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9892</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9898: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9898</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="assosiertBelysningspunkt"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Belysningspunkt</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="assosiertTunnelløpUtenTrafikk"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TunnelløpUtenTrafikk</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="EvakueringsbelysningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Evakueringsbelysning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeLyskildeType">
      <annotation>
         <documentation>9899: Angir type lyskilde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type lyskilde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeLyskildeEnumerationType nvdb:TypeLyskildeOtherType"/>
   </simpleType>
   <simpleType name="TypeLyskildeEnumerationType">
      <annotation>
         <documentation>9899: Angir type lyskilde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type lyskilde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="LED-armatur">
            <annotation>
               <documentation>16082: LED-armatur</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16082</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LED-armatur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LED-list">
            <annotation>
               <documentation>19015: Sammenhengende LED-belysning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19015</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">LED-list</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Lysstoffrør">
            <annotation>
               <documentation>16083: Armatur med lysstoffrør med fast innbyrdes avstand.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16083</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lysstoffrør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Glødelamper">
            <annotation>
               <documentation>16722: Glødelamper med fast innbyrdes avstand.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16722</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glødelamper</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeLyskildeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
