GML/PS/OLFV_SVV/2.34/875.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.34">
   <annotation>
      <documentation>875: Frittstående trapp i tilknytning til gangveg/gangareal.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BarnevognsporType">
      <annotation>
         <documentation>10434: Angir om det finnes barnevognspor i trappa.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10434</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10434</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Barnevognspor</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BarnevognsporEnumerationType nvdb:BarnevognsporOtherType"/>
   </simpleType>
   <simpleType name="BarnevognsporEnumerationType">
      <annotation>
         <documentation>10434: Angir om det finnes barnevognspor i trappa.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10434</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10434</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Barnevognspor</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>16877: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16877</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>16878: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16878</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BarnevognsporOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeTrappType">
      <annotation>
         <documentation>10429: Angir type materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10429</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10429</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeTrappEnumerationType nvdb:MaterialtypeTrappOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeTrappEnumerationType">
      <annotation>
         <documentation>10429: Angir type materiale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10429</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10429</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Betong">
            <annotation>
               <documentation>16873: Betong</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16873</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stål">
            <annotation>
               <documentation>16874: Stål</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16874</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Granitt">
            <annotation>
               <documentation>16875: Granitt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16875</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Granitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tre">
            <annotation>
               <documentation>16876: Tre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16876</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeTrappOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RekkverkHåndlistType">
      <annotation>
         <documentation>10440: Angir om rekkverk/håndlist finnes.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rekkverk/håndlist</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RekkverkHåndlistEnumerationType nvdb:RekkverkHåndlistOtherType"/>
   </simpleType>
   <simpleType name="RekkverkHåndlistEnumerationType">
      <annotation>
         <documentation>10440: Angir om rekkverk/håndlist finnes.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rekkverk/håndlist</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja, ensidig">
            <annotation>
               <documentation>16885: Rekkverk/håndlist på en side av trappen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16885</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, ensidig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ja, tosidig">
            <annotation>
               <documentation>16886: Rekkverk/håndlist på begge sider av trappen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16886</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, tosidig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>16887: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16887</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RekkverkHåndlistOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trapp"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:TrappType">
      <annotation>
         <documentation>875: Frittstående trapp i tilknytning til gangveg/gangareal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">875</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">875</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trapp</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrappType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="materialtype" type="nvdb:MaterialtypeTrappType">
                  <annotation>
                     <documentation>10429: Angir type materiale.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10429</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallTrinn" type="integer">
                  <annotation>
                     <documentation>10430: Angir antall trinn i trappen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10430</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall trinn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallRepos" type="integer">
                  <annotation>
                     <documentation>10436: Angir antall repos i trappa.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10436</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall repos</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengde" type="double">
                  <annotation>
                     <documentation>10431: Angir lengde på trappen fra nederste steg til øverste steg.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10431</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>10432: Angir bredde på trappen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10432</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="barnevognspor" type="nvdb:BarnevognsporType">
                  <annotation>
                     <documentation>10434: Angir om det finnes barnevognspor i trappa.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10434</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Barnevognspor</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="varmekabler" type="nvdb:VarmekablerTrappType">
                  <annotation>
                     <documentation>10435: Angir om det finnes varmekabler i trappa.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10435</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="rekkverkHåndlist"
                        type="nvdb:RekkverkHåndlistType">
                  <annotation>
                     <documentation>10440: Angir om rekkverk/håndlist finnes.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10440</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Rekkverk/håndlist</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10439: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10439</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10734: Gir flate/polygon som geometrisk avgrenser vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10734</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="assosiertTaktileIndikatorer"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TaktileIndikatorer</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrappPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trapp"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="VarmekablerTrappType">
      <annotation>
         <documentation>10435: Angir om det finnes varmekabler i trappa.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VarmekablerTrappEnumerationType nvdb:VarmekablerTrappOtherType"/>
   </simpleType>
   <simpleType name="VarmekablerTrappEnumerationType">
      <annotation>
         <documentation>10435: Angir om det finnes varmekabler i trappa.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>16879: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16879</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>16880: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16880</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VarmekablerTrappOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
