GML/PS/OLFV_SVV/2.39/199.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>199: Trær er flerårige vedaktige planter som har definert stamme og krone.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="LøvfellendeVintergrønneTrærType">
      <annotation>
         <documentation>4160: Angir om trær tilhører kategori løvfellende eller vintergrønne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4160</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løvfellende/vintergrønne</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LøvfellendeVintergrønneTrærEnumerationType nvdb:LøvfellendeVintergrønneTrærOtherType"/>
   </simpleType>
   <simpleType name="LøvfellendeVintergrønneTrærEnumerationType">
      <annotation>
         <documentation>4160: Angir om trær tilhører kategori løvfellende eller vintergrønne.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4160</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løvfellende/vintergrønne</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="l">
            <annotation>
               <documentation>5119: Løvfellende trær har flate og tynne blader og hører til den botaniske underavdelingen Magnoliophýtina (dekkfrøete planter).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5119</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Løvfellende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <documentation>5120: Vintergrønne trær har lange og smale blader og hører til den botaniske underavdelingen Coniferophýtina (nakenfrøete planter).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5120</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vintergrønne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LøvfellendeVintergrønneTrærOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlanteomgivelseTregruberistTrærType">
      <annotation>
         <documentation>11415: Angir hvilke planteomgivelser det er rundt treet/trærne og om det er tregruberist, dvs. beskyttelse på bakkenivå over røtter inn mot stamme.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11415</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Planteomgivelse/Tregruberist</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlanteomgivelseTregruberistTrærEnumerationType nvdb:PlanteomgivelseTregruberistTrærOtherType"/>
   </simpleType>
   <simpleType name="PlanteomgivelseTregruberistTrærEnumerationType">
      <annotation>
         <documentation>11415: Angir hvilke planteomgivelser det er rundt treet/trærne og om det er tregruberist, dvs. beskyttelse på bakkenivå over røtter inn mot stamme.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11415</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Planteomgivelse/Tregruberist</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="BB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22568</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Blomsterbeplantning/busker</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19277</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Granittblokk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21919</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gress</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21921</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jorddekkemiddel, grus/stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="JK">
            <annotation>
               <documentation>21920: Dekkmaterialet legges ut på jord, fri for ugras, lagtykkelse skal holdes på 8-10 cm. Dekkmaterialet skal ikke ligge inntil stammebark eller rothals på planten. Utlegging skal skje på en slik måte at jordstruktur og planter ikke skades av arbeidet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21920</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jorddekkemiddel, kompost/bark</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19256</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Smågatestein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19255</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tregruberist, betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19254</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tregruberist, støpejern</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AJ">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21918</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpen jord</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <documentation>19257: Det er ikke plassert ut tregruberist, utover det mangler det informasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19257</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke tregruberist ellers uspesifisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlanteomgivelseTregruberistTrærOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trær"
            substitutionGroup="nvdb:AbstraktTrær"
            type="nvdb:TrærType">
      <annotation>
         <documentation>199: Trær er flerårige vedaktige planter som har definert stamme og krone.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">199</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trær</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrærType">
      <complexContent>
         <extension base="nvdb:AbstraktTrærType">
            <sequence>
               <element name="typeGruppering">
                  <annotation>
                     <documentation>4134: Angir om det er frittstående tre eller om treet inngår i ei gruppe med trær.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4134</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type/gruppering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="løvfellendeVintergrønne">
                  <annotation>
                     <documentation>4160: Angir om trær tilhører kategori løvfellende eller vintergrønne.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4160</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Løvfellende/vintergrønne</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antall" type="integer">
                  <annotation>
                     <documentation>4142: Angir hvor mange forekomster som er representert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4142</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="treslag_NorskNavn" type="string">
                  <annotation>
                     <documentation>4161: Angir norsk navn på treslag.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4161</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Treslag, norsk navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="treslag_BotaniskNavn" type="string">
                  <annotation>
                     <documentation>4494: Angir botanisk navn på treslag.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4494</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Treslag, botanisk navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="utplantingsår" type="integer">
                  <annotation>
                     <documentation>7553: Angir hvilket årstall trær ble plantet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7553</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utplantingsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="planteomgivelseTregruberist">
                  <annotation>
                     <documentation>11415: Angir hvilke planteomgivelser det er rundt treet/trærne og om det er tregruberist, dvs. beskyttelse på bakkenivå over røtter inn mot stamme.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11415</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Planteomgivelse/Tregruberist</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>5896: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5896</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrærPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trær"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeGrupperingTrærType">
      <annotation>
         <documentation>4134: Angir om det er frittstående tre eller om treet inngår i ei gruppe med trær.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4134</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type/gruppering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeGrupperingTrærEnumerationType nvdb:TypeGrupperingTrærOtherType"/>
   </simpleType>
   <simpleType name="TypeGrupperingTrærEnumerationType">
      <annotation>
         <documentation>4134: Angir om det er frittstående tre eller om treet inngår i ei gruppe med trær.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4134</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type/gruppering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="al">
            <annotation>
               <documentation>5117: Tre inngår i en allé. Allé er regelmessige rekker av trær på hver sin side av en veg, gate eller gangsti.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5117</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Allé</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tf">
            <annotation>
               <documentation>5118: Enkeltstående/ solitære trær.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5118</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Frittstående tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tg">
            <annotation>
               <documentation>5115: Tre inngår i en tregruppe. Tregruppe består av minst 3 trær som står med relativ nærhet til hverandre. Gruppen skal ikke være særlig bredere enn høyden på trærne.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5115</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tregruppe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ar">
            <annotation>
               <documentation>16216: Tre inngår i en trerekke. Trerekke består av minst 3 trær som står på linje med relativ nærhet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16216</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trerekke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeGrupperingTrærOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
