GML/PS/OLFV_SVV/2.39/213.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>213: Apparat for å slokke brann.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Brannslokningsapparat"
            substitutionGroup="nvdb:AbstraktBrannslokningsapparat"
            type="nvdb:BrannslokningsapparatType">
      <annotation>
         <documentation>213: Apparat for å slokke brann.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">213</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brannslokningsapparat</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BrannslokningsapparatType">
      <complexContent>
         <extension base="nvdb:AbstraktBrannslokningsapparatType">
            <sequence>
               <element name="type" type="nvdb:TypeBrannslokningsapparatType">
                  <annotation>
                     <documentation>1206: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1206</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kapasitet" type="nvdb:KapasitetBrannslokningsapparatType">
                  <annotation>
                     <documentation>4021: Angir kapasitet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4021</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kapasitet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="plasseringITekniskRom">
                  <annotation>
                     <documentation>3739: Angir om objektet er plassert i teknisk rom.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3739</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering i teknisk rom</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10273: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10273</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4853: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4853</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BrannslokningsapparatPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Brannslokningsapparat"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="KapasitetBrannslokningsapparatType">
      <annotation>
         <documentation>4021: Angir kapasitet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kapasitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KapasitetBrannslokningsapparatEnumerationType nvdb:KapasitetBrannslokningsapparatOtherType"/>
   </simpleType>
   <simpleType name="KapasitetBrannslokningsapparatEnumerationType">
      <annotation>
         <documentation>4021: Angir kapasitet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kapasitet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5050</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="05">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16018</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">5</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="06">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5049</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="08">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21543</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KapasitetBrannslokningsapparatOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringITekniskRomBrannslokningsapparatType">
      <annotation>
         <documentation>3739: Angir om objektet er plassert i teknisk rom.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3739</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering i teknisk rom</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringITekniskRomBrannslokningsapparatEnumerationType nvdb:PlasseringITekniskRomBrannslokningsapparatOtherType"/>
   </simpleType>
   <simpleType name="PlasseringITekniskRomBrannslokningsapparatEnumerationType">
      <annotation>
         <documentation>3739: Angir om objektet er plassert i teknisk rom.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3739</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering i teknisk rom</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16019</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16020</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringITekniskRomBrannslokningsapparatOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeBrannslokningsapparatType">
      <annotation>
         <documentation>1206: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1206</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeBrannslokningsapparatEnumerationType nvdb:TypeBrannslokningsapparatOtherType"/>
   </simpleType>
   <simpleType name="TypeBrannslokningsapparatEnumerationType">
      <annotation>
         <documentation>1206: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1206</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="co">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4917</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">CO-apparat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pa">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3373</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pulverapparat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <documentation>5048: Benyttes kun i bygninger, ikke i tilnytning til nødstasjoner i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5048</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skumapparat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeBrannslokningsapparatOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
