GML/PS/OLFV_SVV/2.39/241.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>241: Den øverste del av overbygningen, består vanligvis av et slitelag og et bindlag. (Definisjonsliste Statens vegvesens håndbøker).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="LagtypeVegdekkeType">
      <annotation>
         <documentation>8741: Angir om vegdekke opprinnelig er lagt som bindlag eller slitelag.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8741</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lagtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LagtypeVegdekkeEnumerationType nvdb:LagtypeVegdekkeOtherType"/>
   </simpleType>
   <simpleType name="LagtypeVegdekkeEnumerationType">
      <annotation>
         <documentation>8741: Angir om vegdekke opprinnelig er lagt som bindlag eller slitelag.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8741</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lagtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11570</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bindlag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11569</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slitelag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LagtypeVegdekkeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MassetypeVegdekkeType">
      <annotation>
         <documentation>1216: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1216</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MassetypeVegdekkeEnumerationType nvdb:MassetypeVegdekkeOtherType"/>
   </simpleType>
   <simpleType name="MassetypeVegdekkeEnumerationType">
      <annotation>
         <documentation>1216: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1216</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>3616: Samlebetegnelse for asfaltdekker.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3616</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt (historisk)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ab">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3628</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltbetong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Af">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5282</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltert finpukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ag">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3624</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltert grus (historisk)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Agb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3625</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltgrusbetong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Alg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6710</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltløsningsgrus (historisk)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Asg">
            <annotation>
               <documentation>3630: Utgår.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3630</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltskumgrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3658</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Belegningsstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3653</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3654</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongdekke, uarmert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Be">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5671</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongelementer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Br">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3659</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brostein/Gatestein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Do">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5285</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Dog">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5287</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel overflatebehandling grus (historisk)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Da">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3627</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Drensasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Egt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3618</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjonsgrus, tett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eo">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5284</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eog">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5286</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Enkel overflatebehandling grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5288</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forsegling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Gja">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3632</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gjenbruksasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3615</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ma">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3621</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mykasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Og">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5283</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oljegrus (historisk)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ska">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3626</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skjelettasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sla">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3634</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slamasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stål">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3959</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stålgitter (bru)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sta">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3629</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Støpeasfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Top">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3636</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Topeka</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tre">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5281</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tre (bru)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6958</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tynndekke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6723</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Valsebetong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MassetypeVegdekkeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegdekke"
            substitutionGroup="nvdb:AbstraktVegdekke"
            type="nvdb:VegdekkeType">
      <annotation>
         <documentation>241: Den øverste del av overbygningen, består vanligvis av et slitelag og et bindlag. (Definisjonsliste Statens vegvesens håndbøker).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">241</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegdekke</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VegdekkeType">
      <complexContent>
         <extension base="nvdb:AbstraktVegdekkeType">
            <sequence>
               <element name="lagtype" type="nvdb:LagtypeVegdekkeType">
                  <annotation>
                     <documentation>8741: Angir om vegdekke opprinnelig er lagt som bindlag eller slitelag.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8741</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lagtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="massetype" type="nvdb:MassetypeVegdekkeType">
                  <annotation>
                     <documentation>1216: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1216</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Massetype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="øvreNominelleSteinstørrelse">
                  <annotation>
                     <documentation>2288: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2288</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dekketykkelse" type="integer">
                  <annotation>
                     <documentation>1642: Angir representativ dekketykkelse i millimeter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1642</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dekketykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dekkebredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>5135: Angir gjennomsnittlig bredde for dekket i meter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5135</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dekkebredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="masseforbruk" type="integer">
                  <annotation>
                     <documentation>5134: Angir masseforbruk i kg/kvm.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5134</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Masseforbruk</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dekkeleggingsdato" type="date">
                  <annotation>
                     <documentation>5136: Angir dato for dekkelegging.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5136</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dekkeleggingsdato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4867: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4867</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VegdekkePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegdekke"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="ØvreNominelleSteinstørrelseVegdekkeType">
      <annotation>
         <documentation>2288: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2288</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ØvreNominelleSteinstørrelseVegdekkeEnumerationType nvdb:ØvreNominelleSteinstørrelseVegdekkeOtherType"/>
   </simpleType>
   <simpleType name="ØvreNominelleSteinstørrelseVegdekkeEnumerationType">
      <annotation>
         <documentation>2288: Angir øvre nominelle steinstørrelse for asfaltmateriale.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2288</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4137</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="12">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4138</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">12</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="14">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4139</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">14</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="16">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4140</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">16</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="02">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4134</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4141</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">22</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="28">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4142</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">28</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="32">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4143</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">32</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="04">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4135</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="06">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6726</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="08">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4136</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">8</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ØvreNominelleSteinstørrelseVegdekkeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
