GML/PS/OLFV_SVV/2.39/625.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>625: Magasin for å fange opp skredmasser eller nedfall fra bergskjæringer.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AdkomstSkredmagasinFanggrøftType">
      <annotation>
         <documentation>9688: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9688</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AdkomstSkredmagasinFanggrøftEnumerationType nvdb:AdkomstSkredmagasinFanggrøftOtherType"/>
   </simpleType>
   <simpleType name="AdkomstSkredmagasinFanggrøftEnumerationType">
      <annotation>
         <documentation>9688: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9688</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="hj">
            <annotation>
               <documentation>19830: Adkomst er mulig med bil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19830</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gr">
            <annotation>
               <documentation>13962: Adkomst for gravemaskin.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13962</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gravemaskin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="he">
            <annotation>
               <documentation>13966: Adkomst for helikopter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13966</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helikopter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hj">
            <annotation>
               <documentation>13961: Adkomst er mulig med hjullaster.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13961</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hjullaster</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kr">
            <annotation>
               <documentation>13964: Adkomst for kran.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13964</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kran</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ta">
            <annotation>
               <documentation>13965: Adkomst med tau.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13965</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tau</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ft">
            <annotation>
               <documentation>13963: Adkomst til fots.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13963</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til fots</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AdkomstSkredmagasinFanggrøftOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="SkredmagasinFanggrøft"
            substitutionGroup="nvdb:AbstraktSkredmagasinFanggrøft"
            type="nvdb:SkredmagasinFanggrøftType">
      <annotation>
         <documentation>625: Magasin for å fange opp skredmasser eller nedfall fra bergskjæringer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">625</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">SkredmagasinFanggrøft</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SkredmagasinFanggrøftType">
      <complexContent>
         <extension base="nvdb:AbstraktSkredmagasinFanggrøftType">
            <sequence>
               <element name="type" type="nvdb:TypeSkredmagasinFanggrøftType">
                  <annotation>
                     <documentation>11265: Angir hvilken type magasin det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11265</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengde" type="double">
                  <annotation>
                     <documentation>9685: Magasinets lengde, målt i vegens lengderetning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9685</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>9686: Gjennomsnittlig bredde av magasinet på tvers av vegens lengderetning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9686</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="magasinvolum" type="integer">
                  <annotation>
                     <documentation>5660: Angir hvor stort volum med masser magasinet kan ta opp.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5660</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Magasinvolum</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="adkomst" type="nvdb:AdkomstSkredmagasinFanggrøftType">
                  <annotation>
                     <documentation>9688: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9688</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9689: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9689</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>8902: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8902</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SkredmagasinFanggrøftPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:SkredmagasinFanggrøft"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeSkredmagasinFanggrøftType">
      <annotation>
         <documentation>11265: Angir hvilken type magasin det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSkredmagasinFanggrøftEnumerationType nvdb:TypeSkredmagasinFanggrøftOtherType"/>
   </simpleType>
   <simpleType name="TypeSkredmagasinFanggrøftEnumerationType">
      <annotation>
         <documentation>11265: Angir hvilken type magasin det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FG">
            <annotation>
               <documentation>19005: Magasin for å samle opp nedfall fra bergskjæringer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19005</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fanggrøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SM">
            <annotation>
               <documentation>19004: Magasin for å samle opp skred fra naturlig terreng.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19004</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredmagasin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSkredmagasinFanggrøftOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
