GML/PS/OLFV_SVV/2.39/77.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>77: Rør som fører væske eller gass. Merknad: Rørledning for føring av ledninger/kabler er definert som egen vegobjekttype Trekkerør.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeRørledningType">
      <annotation>
         <documentation>1267: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1267</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeRørledningEnumerationType nvdb:BruksområdeRørledningOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeRørledningEnumerationType">
      <annotation>
         <documentation>1267: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1267</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="fr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2894</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjernkjøling</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ft">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2893</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjernvarme</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2895</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gassledning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2899</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kulvert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2896</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oljeledning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2886</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="va">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2892</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, avløp, felles</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vd">
            <annotation>
               <documentation>2890: Angis når det er benyttet drensrør, dvs. rør som har åpning for infiltrering av vann fra grunnen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2890</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, drenering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2887</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, hovedledning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vin">
            <annotation>
               <documentation>18307: Rør med åpninger/hull, benyttes for å magasinere vann i grunnen, dvs. motsatt av å drenere.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18307</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, infiltrering i grunnen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vo">
            <annotation>
               <documentation>2889: Tette rør for transport av dreneringsvann.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2889</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, overvann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4863</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, pumpeledning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2891</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, spillvann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2888</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann, stikkledning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2897</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ventilasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TO">
            <annotation>
               <documentation>22708: I enkelte to-løps tunneler er det system for tørropplegg. Brannvesenet bruker da medbrakt vann eller skum, og dette blir supplert via tankbil i motgående løp. Kraner og prinsipp er det samme som ved andre system for brannslokking i tunnel.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22708</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tørropplegg, tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeRørledningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierRørledningType">
      <annotation>
         <documentation>5821: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5821</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierRørledningEnumerationType nvdb:EierRørledningOtherType"/>
   </simpleType>
   <simpleType name="EierRørledningEnumerationType">
      <annotation>
         <documentation>5821: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5821</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10708</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8242</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8268</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18597</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8216</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17563: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17563</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierRørledningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeRørledningType">
      <annotation>
         <documentation>1410: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1410</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeRørledningEnumerationType nvdb:MaterialtypeRørledningOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeRørledningEnumerationType">
      <annotation>
         <documentation>1410: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1410</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2210</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2375</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Glassfiber</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2238</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2246</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål, duktilt støpjern</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2233</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål, galvanisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2245</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Metall, stål, korrugert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2256</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein/fjell, murstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2271</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pa">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2277</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, abs-rør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pdv">
            <annotation>
               <documentation>17368: Dobbeltvegget plastrør.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17368</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, DV</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2276</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, npf8001</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pe">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2281</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, pe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2282</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, pel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2280</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, pp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pc">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2278</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast, pvc-rør</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2376</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Teglstein, murstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeRørledningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Rørledning"
            substitutionGroup="nvdb:AbstraktRørledning"
            type="nvdb:RørledningType">
      <annotation>
         <documentation>77: Rør som fører væske eller gass. Merknad: Rørledning for føring av ledninger/kabler er definert som egen vegobjekttype Trekkerør.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">77</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rørledning</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="RørledningType">
      <complexContent>
         <extension base="nvdb:AbstraktRørledningType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeRørledningType">
                  <annotation>
                     <documentation>1267: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1267</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtype" type="nvdb:MaterialtypeRørledningType">
                  <annotation>
                     <documentation>1410: Angir primær materialtype for vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1410</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="tverrsnittform"
                        type="nvdb:TverrsnittformRørledningType">
                  <annotation>
                     <documentation>1677: Angir hvilken form tverrsnittet av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1677</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tverrsnittform</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="diameter" type="integer">
                  <annotation>
                     <documentation>1724: Angir diameter av rørledning. Det angis ytre eller indre diameter ut fra hva som er standard for aktuell rørtype.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1724</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Diameter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="elementlengde" type="double">
                  <annotation>
                     <documentation>1967: Angir normal lengde av enkeltelement. Lengde av enkeltrør.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1967</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Elementlengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10350: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10350</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>1483: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1483</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierRørledningType">
                  <annotation>
                     <documentation>5821: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5821</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>10877: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10877</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4778: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4778</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="RørledningPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Rørledning"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TverrsnittformRørledningType">
      <annotation>
         <documentation>1677: Angir hvilken form tverrsnittet av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1677</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrsnittform</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TverrsnittformRørledningEnumerationType nvdb:TverrsnittformRørledningOtherType"/>
   </simpleType>
   <simpleType name="TverrsnittformRørledningEnumerationType">
      <annotation>
         <documentation>1677: Angir hvilken form tverrsnittet av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1677</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrsnittform</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="e">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16702</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ellipse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2533</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Firkanta</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2528</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sirkulært</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TverrsnittformRørledningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
