GML/PS/OLFV_SVV/2.39/80.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.39">
   <annotation>
      <documentation>80: Forsenkning i terrenget for å lede bort vann. Del av vegens avvanningssystem. Kan også benevnes "kanal". Merknad: Breddemåling skal refereres til topp grøft.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Grøft, åpen"
            substitutionGroup="nvdb:AbstraktGrøft_Åpen"
            type="nvdb:Grøft, åpenType">
      <annotation>
         <documentation>80: Forsenkning i terrenget for å lede bort vann. Del av vegens avvanningssystem. Kan også benevnes "kanal". Merknad: Breddemåling skal refereres til topp grøft.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">80</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grøft, åpen</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Grøft, åpenType">
      <complexContent>
         <extension base="nvdb:AbstraktGrøft_ÅpenType">
            <sequence>
               <element name="type" type="nvdb:TypeGrøft, åpenType">
                  <annotation>
                     <documentation>1139: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1139</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materiale" type="nvdb:MaterialeGrøft, åpenType">
                  <annotation>
                     <documentation>1944: Angir hvilket materiale grøfta i hovedsak ligger i/er omsluttet av. Ev. belegning skal ikke oppgis her.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1944</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dybde" type="double">
                  <annotation>
                     <documentation>1658: Angir dybde målt fra vegkant til bunn grøft.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1658</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dybde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="double">
                  <annotation>
                     <documentation>1324: Angir total lengde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1324</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10304: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10304</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4781: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4781</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Grøft, åpenPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Grøft, åpen"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialeGrøft, åpenType">
      <annotation>
         <documentation>1944: Angir hvilket materiale grøfta i hovedsak ligger i/er omsluttet av. Ev. belegning skal ikke oppgis her.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1944</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeGrøft, åpenEnumerationType nvdb:MaterialeGrøft, åpenOtherType"/>
   </simpleType>
   <simpleType name="MaterialeGrøft, åpenEnumerationType">
      <annotation>
         <documentation>1944: Angir hvilket materiale grøfta i hovedsak ligger i/er omsluttet av. Ev. belegning skal ikke oppgis her.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1944</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="br">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3046</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Berg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="klb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13798</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kombinasjon løsmasse/berg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gv">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3596</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Løsmasse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="my">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3932</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Myr</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ss">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3048</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprengt stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeGrøft, åpenOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeGrøft, åpenType">
      <annotation>
         <documentation>1139: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1139</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeGrøft, åpenEnumerationType nvdb:TypeGrøft, åpenOtherType"/>
   </simpleType>
   <simpleType name="TypeGrøft, åpenEnumerationType">
      <annotation>
         <documentation>1139: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1139</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="dg">
            <annotation>
               <documentation>3889: Benyttes om dyp sidegrøft som har til hensikt å drenere overbygning. Det er som regel ikke lukka drenering i tillegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3889</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dyp sidegrøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IF">
            <annotation>
               <documentation>17233: Sidegrøft der overflatevann infiltreres og ledes bort. Større rensegrøfter defineres som "Lukka rørgrøft" av type "Filter-/rensegrøft" eller "Basseng/magasin" med bruksområde "Rensebasseng, infiltrasjon".</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17233</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Filtergrøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="og">
            <annotation>
               <documentation>3890: Benyttes om grunn sidegrøft som bare har til hensikt å drenere overflatevann og ikke overbygning. Det er som regel lukka drenering i tillegg.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3890</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grunn sidegrøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2934</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Terrenggrøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="av">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11627</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpent avløp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeGrøft, åpenOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
