GML/PS/OLFV_NV/2.33/13.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" version="2.33">
  <annotation>
    <documentation>13: Åpning til/fra et rom/område. Kan åpnes og lukkes med dør eller port.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BranndørType">
    <annotation>
      <documentation>3509: Angir om døren er godkjent branndør.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3509</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3509</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Branndør</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BranndørEnumerationType nvdb:BranndørOtherType"/>
  </simpleType>
  <simpleType name="BranndørEnumerationType">
    <annotation>
      <documentation>3509: Angir om døren er godkjent branndør.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3509</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3509</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Branndør</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4694: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4694</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4695: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4695</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BranndørOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdePortDørType">
    <annotation>
      <documentation>1251: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1251</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1251</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdePortDørEnumerationType nvdb:BruksområdePortDørOtherType"/>
  </simpleType>
  <simpleType name="BruksområdePortDørEnumerationType">
    <annotation>
      <documentation>1251: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1251</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1251</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tunnel, tilgang sideløp">
        <annotation>
          <documentation>4855: Tunnel, tilgang sideløp</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4855</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel, tilgang sideløp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel, tilgang bergrom">
        <annotation>
          <documentation>4857: Tunnel, tilgang bergrom</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4857</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel, tilgang bergrom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tilgang bygning">
        <annotation>
          <documentation>4858: Tilgang bygning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4858</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilgang bygning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdePortDørOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierPortDørType">
    <annotation>
      <documentation>9782: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9782</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9782</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierPortDørEnumerationType nvdb:EierPortDørOtherType"/>
  </simpleType>
  <simpleType name="EierPortDørEnumerationType">
    <annotation>
      <documentation>9782: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9782</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9782</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>15922: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15922</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18643: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18643</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>15923: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>15924: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>15925: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17625: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17625</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierPortDørOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialePortDørType">
    <annotation>
      <documentation>3701: Angir materiale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3701</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3701</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialePortDørEnumerationType nvdb:MaterialePortDørOtherType"/>
  </simpleType>
  <simpleType name="MaterialePortDørEnumerationType">
    <annotation>
      <documentation>3701: Angir materiale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3701</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3701</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tre">
        <annotation>
          <documentation>4698: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4698</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>4697: Stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4697</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Aluminium">
        <annotation>
          <documentation>4696: Aluminium</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4696</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>16135: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16135</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialePortDørOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="PortDør" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:PortDørType">
    <annotation>
      <documentation>13: Åpning til/fra et rom/område. Kan åpnes og lukkes med dør eller port.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">13</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">13</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Port/Dør</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PortDørType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdePortDørType">
            <annotation>
              <documentation>1251: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1251</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypePortDørType">
            <annotation>
              <documentation>1095: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1095</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materiale" type="nvdb:MaterialePortDørType">
            <annotation>
              <documentation>3701: Angir materiale.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3701</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bredde" type="double">
            <annotation>
              <documentation>1680: Angir bredde av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1680</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høyde" type="double">
            <annotation>
              <documentation>1577: Angir egenhøyde av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1577</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="branndør" type="nvdb:BranndørType">
            <annotation>
              <documentation>3509: Angir om døren er godkjent branndør.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3509</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Branndør</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10338: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10338</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>10475: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10475</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11034: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11034</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12269: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12269</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierPortDørType">
            <annotation>
              <documentation>9782: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9782</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligPortDørType">
            <annotation>
              <documentation>3820: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3820</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4721: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4721</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBygning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Bygning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PortDørPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:PortDør"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypePortDørType">
    <annotation>
      <documentation>1095: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1095</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1095</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypePortDørEnumerationType nvdb:TypePortDørOtherType"/>
  </simpleType>
  <simpleType name="TypePortDørEnumerationType">
    <annotation>
      <documentation>1095: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1095</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1095</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Leddport">
        <annotation>
          <documentation>2453: Leddport</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2453</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Leddport</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dør">
        <annotation>
          <documentation>2452: Dør</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2452</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skyvedør">
        <annotation>
          <documentation>16136: Skyvedør</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16136</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skyvedør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypePortDørOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPortDørType">
    <annotation>
      <documentation>3820: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3820</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3820</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligPortDørEnumerationType nvdb:VedlikeholdsansvarligPortDørOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPortDørEnumerationType">
    <annotation>
      <documentation>3820: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3820</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3820</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10676: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10676</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18707: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18707</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19898: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19898</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18836: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18836</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10677: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10677</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10678: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10678</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17683: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17683</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPortDørOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
