GML/PS/OLFV_NV/2.33/174.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" version="2.33">
  <annotation>
    <documentation>174: Oppmerket felt for fotgjengere (Ordbok Veg og Trafikkteknikk).</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Belegning_TypeType">
    <annotation>
      <documentation>8736: Angir type belegning for gangfeltet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8736</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8736</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning,type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Belegning_TypeEnumerationType nvdb:Belegning_TypeOtherType"/>
  </simpleType>
  <simpleType name="Belegning_TypeEnumerationType">
    <annotation>
      <documentation>8736: Angir type belegning for gangfeltet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8736</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8736</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning,type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stein">
        <annotation>
          <documentation>11566: Belegningsstein f.eks. av type granitt , brostein etc.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11566</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein">
        <annotation>
          <documentation>11564: Betongstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11564</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongheller">
        <annotation>
          <documentation>11563: Betongheller</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11563</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongheller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skiferheller">
        <annotation>
          <documentation>11565: Skiferheller</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11565</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiferheller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>11559: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11559</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt">
        <annotation>
          <documentation>11567: Asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11567</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Belegning_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelysningGangfeltType">
    <annotation>
      <documentation>1880: Angir om gangfeltet er belyst. Kan være fra egen belysning eller fra generell veg-/gatebelysning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1880</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1880</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelysningGangfeltEnumerationType nvdb:BelysningGangfeltOtherType"/>
  </simpleType>
  <simpleType name="BelysningGangfeltEnumerationType">
    <annotation>
      <documentation>1880: Angir om gangfeltet er belyst. Kan være fra egen belysning eller fra generell veg-/gatebelysning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1880</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1880</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>3526: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3526</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelysningGangfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierGangfeltType">
    <annotation>
      <documentation>11972: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11972</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11972</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierGangfeltEnumerationType nvdb:EierGangfeltOtherType"/>
  </simpleType>
  <simpleType name="EierGangfeltEnumerationType">
    <annotation>
      <documentation>11972: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11972</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11972</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20533: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20533</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20534: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20534</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20535: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20535</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20536: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20536</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20537: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20537</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20538: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20538</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierGangfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Gangfelt" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:GangfeltType">
    <annotation>
      <documentation>174: Oppmerket felt for fotgjengere (Ordbok Veg og Trafikkteknikk).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">174</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">174</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gangfelt</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GangfeltType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="stedsangivelse" type="string">
            <annotation>
              <documentation>7904: Stedsnavn hvor forekomst er lokalisert. Kan eventuelt gi plassering relatert til stedsnavn. I kryssområder der det er flere gangfelt kan de enkelte gis en forløpende nummerering i tillegg til stedsnavnet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7904</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Stedsangivelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="markeringAvStriper" type="nvdb:MarkeringAvStriperType">
            <annotation>
              <documentation>8738: Angir hvordan striper er markert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8738</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Markering av striper</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="hevet" type="nvdb:HevetType">
            <annotation>
              <documentation>8739: Angir om gangfeltet er hevet i forhold til vegplanet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8739</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Hevet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lysregulert" type="nvdb:LysregulertType">
            <annotation>
              <documentation>2034: Angir om gangfeltet er lysregulert. Lysregulerte gangfelt har egne signalhoder for å styre gangtrafikken som benytter gangfeltet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2034</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lysregulert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="belysning" type="nvdb:BelysningGangfeltType">
            <annotation>
              <documentation>1880: Angir om gangfeltet er belyst. Kan være fra egen belysning eller fra generell veg-/gatebelysning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1880</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Belysning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="belegning_Type" type="nvdb:Belegning_TypeType">
            <annotation>
              <documentation>8736: Angir type belegning for gangfeltet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8736</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Belegning, type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vedtaksnummer" type="string">
            <annotation>
              <documentation>2262: Angir vedtaksnummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2262</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedtaksnummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10300: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10300</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11094: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11094</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12335: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12335</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierGangfeltType">
            <annotation>
              <documentation>11972: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11972</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligGangfeltType">
            <annotation>
              <documentation>8074: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8074</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>12089: Gir flate/polygon som geometrisk avgrenser objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12089</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTaktileIndikatorer" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TaktileIndikatorer</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVegoppmerking_Tverrgående" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vegoppmerking_Tverrgående</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFartsdemper" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Fartsdemper</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GangfeltPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Gangfelt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="HevetType">
    <annotation>
      <documentation>8739: Angir om gangfeltet er hevet i forhold til vegplanet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8739</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8739</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Hevet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:HevetEnumerationType nvdb:HevetOtherType"/>
  </simpleType>
  <simpleType name="HevetEnumerationType">
    <annotation>
      <documentation>8739: Angir om gangfeltet er hevet i forhold til vegplanet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8739</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8739</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Hevet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>11557: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11557</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11558: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11558</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HevetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LysregulertType">
    <annotation>
      <documentation>2034: Angir om gangfeltet er lysregulert. Lysregulerte gangfelt har egne signalhoder for å styre gangtrafikken som benytter gangfeltet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2034</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2034</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lysregulert</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LysregulertEnumerationType nvdb:LysregulertOtherType"/>
  </simpleType>
  <simpleType name="LysregulertEnumerationType">
    <annotation>
      <documentation>2034: Angir om gangfeltet er lysregulert. Lysregulerte gangfelt har egne signalhoder for å styre gangtrafikken som benytter gangfeltet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2034</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2034</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lysregulert</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>3539: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3539</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>3577: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3577</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LysregulertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MarkeringAvStriperType">
    <annotation>
      <documentation>8738: Angir hvordan striper er markert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8738</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8738</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Markering av striper</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MarkeringAvStriperEnumerationType nvdb:MarkeringAvStriperOtherType"/>
  </simpleType>
  <simpleType name="MarkeringAvStriperEnumerationType">
    <annotation>
      <documentation>8738: Angir hvordan striper er markert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8738</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8738</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Markering av striper</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Malte striper">
        <annotation>
          <documentation>11555: Malte striper</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11555</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Malte striper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vekslende materialtype">
        <annotation>
          <documentation>11556: Striper framkommer av vekslende materialbruk, for eksempel forskjellig type stein med ulik farge. Ikke benyttet maling.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11556</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vekslende materialtype</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke striper">
        <annotation>
          <documentation>11568: Gangfeltet har ikke markerte striper.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11568</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke striper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MarkeringAvStriperOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGangfeltType">
    <annotation>
      <documentation>8074: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8074</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8074</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligGangfeltEnumerationType nvdb:VedlikeholdsansvarligGangfeltOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGangfeltEnumerationType">
    <annotation>
      <documentation>8074: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8074</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8074</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10468: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10468</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18760: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18760</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19940: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19940</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18889: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18889</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10546: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10546</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10624: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10624</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17723: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17723</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGangfeltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
