GML/PS/OLFV_NV/2.33/25.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" version="2.33">
  <annotation>
    <documentation>25: Lite bygg for vern mot vær og vind. Benyttes i forbindelse med holdeplasser.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierLeskurType">
    <annotation>
      <documentation>5812: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierLeskurEnumerationType nvdb:EierLeskurOtherType"/>
  </simpleType>
  <simpleType name="EierLeskurEnumerationType">
    <annotation>
      <documentation>5812: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>8207: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18589: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18589</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10699: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10699</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>8233: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8233</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>8259: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8259</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17597: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17597</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierLeskurOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="GlassflaterMarkertType">
    <annotation>
      <documentation>9845: Angir om glassflater har markering i 2 høyder for å unngå at noen går på dem.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9845</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9845</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Glassflater markert</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:GlassflaterMarkertEnumerationType nvdb:GlassflaterMarkertOtherType"/>
  </simpleType>
  <simpleType name="GlassflaterMarkertEnumerationType">
    <annotation>
      <documentation>9845: Angir om glassflater har markering i 2 høyder for å unngå at noen går på dem.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9845</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9845</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Glassflater markert</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16006: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16006</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16007: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16007</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="GlassflaterMarkertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="InnvendigBelysningType">
    <annotation>
      <documentation>3128: Angir om det er innvendig belysning i leskur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3128</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3128</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Innvendig belysning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:InnvendigBelysningEnumerationType nvdb:InnvendigBelysningOtherType"/>
  </simpleType>
  <simpleType name="InnvendigBelysningEnumerationType">
    <annotation>
      <documentation>3128: Angir om det er innvendig belysning i leskur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3128</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3128</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Innvendig belysning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4660: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4660</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4661: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4661</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InnvendigBelysningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Leskur" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:LeskurType">
    <annotation>
      <documentation>25: Lite bygg for vern mot vær og vind. Benyttes i forbindelse med holdeplasser.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">25</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">25</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Leskur</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LeskurType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="materialtype" type="nvdb:MaterialtypeLeskurType">
            <annotation>
              <documentation>1401: Angir primær materialtype for vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1401</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="innvendigBelysning" type="nvdb:InnvendigBelysningType">
            <annotation>
              <documentation>3128: Angir om det er innvendig belysning i leskur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3128</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Innvendig belysning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="friBreddeInnvendig" type="double">
            <annotation>
              <documentation>10264: Angir minste frie bredde innvendig i leskur. Fri bredde måles i leskurets lengderetning, dvs. parallelt med åpning. Innenfor denne bredden skal det være mulig å bevege seg med rullestol, dvs. bredde av ev. benker m.m. er ikke inkludert i fri bredde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10264</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fri bredde innvendig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="friDybdeInnvendig" type="double">
            <annotation>
              <documentation>10265: Angir minste fri dybde i leskur. Fri dybde måles innover i leskuret fra åpningen mot bakvegg. Innenfor denne bredden skal det være mulig å bevege seg med rullestol, dvs. bredde av ev. benker m.m. skal ikke inkluderes i fri bredde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10265</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fri dybde innvendig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="glassflaterMarkert" type="nvdb:GlassflaterMarkertType">
            <annotation>
              <documentation>9845: Angir om glassflater har markering i 2 høyder for å unngå at noen går på dem.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9845</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Glassflater markert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="sittemulighet" type="nvdb:SittemulighetType">
            <annotation>
              <documentation>3952: Angir om det er sittemulighet i leskur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3952</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sittemulighet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="trinnfriAdkomst" type="nvdb:TrinnfriAdkomstType">
            <annotation>
              <documentation>9847: Angir om høydeforskjell mellom fortau og leskur er så lav at f.eks. rullestol eller barnevogn enkelt kan komme inn, dvs. mindre enn 2 cm.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9847</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Trinnfri adkomst</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10322: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10322</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11042: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11042</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12277: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12277</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierLeskurType">
            <annotation>
              <documentation>5812: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5812</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligLeskurType">
            <annotation>
              <documentation>3129: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3129</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>9844: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9844</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHoldeplassutrustning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Holdeplassutrustning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LeskurPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Leskur"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaterialtypeLeskurType">
    <annotation>
      <documentation>1401: Angir primær materialtype for vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1401</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1401</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeLeskurEnumerationType nvdb:MaterialtypeLeskurOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeLeskurEnumerationType">
    <annotation>
      <documentation>1401: Angir primær materialtype for vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1401</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1401</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tre">
        <annotation>
          <documentation>2188: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2188</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>2206: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2206</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein">
        <annotation>
          <documentation>4014: Stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4014</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metall">
        <annotation>
          <documentation>4013: Metall</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4013</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metall, stål, galvanisert">
        <annotation>
          <documentation>2229: Metall, stål, galvanisert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2229</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metall, stål, galvanisert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metall, aluminium">
        <annotation>
          <documentation>2250: Metall, aluminium</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2250</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metall, aluminium</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>2268: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2268</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pleksiglass">
        <annotation>
          <documentation>2369: Pleksiglass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2369</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pleksiglass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Polykarbonat">
        <annotation>
          <documentation>21902: Benevnt som "uknuselig"</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21902</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Polykarbonat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Herdet glass">
        <annotation>
          <documentation>12130: Herdet glass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12130</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Herdet glass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glassfiber">
        <annotation>
          <documentation>2374: Glassfiber</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2374</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glassfiber</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeLeskurOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SittemulighetType">
    <annotation>
      <documentation>3952: Angir om det er sittemulighet i leskur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3952</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3952</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sittemulighet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SittemulighetEnumerationType nvdb:SittemulighetOtherType"/>
  </simpleType>
  <simpleType name="SittemulighetEnumerationType">
    <annotation>
      <documentation>3952: Angir om det er sittemulighet i leskur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3952</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3952</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sittemulighet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4964: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4964</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, med armlene">
        <annotation>
          <documentation>16005: Ja, med armlene</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16005</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, med armlene</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4965: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4965</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SittemulighetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TrinnfriAdkomstType">
    <annotation>
      <documentation>9847: Angir om høydeforskjell mellom fortau og leskur er så lav at f.eks. rullestol eller barnevogn enkelt kan komme inn, dvs. mindre enn 2 cm.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9847</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9847</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trinnfri adkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TrinnfriAdkomstEnumerationType nvdb:TrinnfriAdkomstOtherType"/>
  </simpleType>
  <simpleType name="TrinnfriAdkomstEnumerationType">
    <annotation>
      <documentation>9847: Angir om høydeforskjell mellom fortau og leskur er så lav at f.eks. rullestol eller barnevogn enkelt kan komme inn, dvs. mindre enn 2 cm.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9847</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9847</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trinnfri adkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16010: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16010</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16011: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16011</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrinnfriAdkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLeskurType">
    <annotation>
      <documentation>3129: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3129</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3129</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligLeskurEnumerationType nvdb:VedlikeholdsansvarligLeskurOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLeskurEnumerationType">
    <annotation>
      <documentation>3129: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3129</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3129</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>4662: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4662</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18710: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18710</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19896: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19896</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18839: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18839</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>4663: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4663</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>4664: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4664</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17674: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17674</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLeskurOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
