GML/PS/OLFV_NV/2.33/28.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" version="2.33">
  <annotation>
    <documentation>28: Møbler som benyttes ute i samband med vegsystemet. Dette kan f.eks. være på rasteplasser, ferjeoppstillingsplasser etc.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierUtemøblerType">
    <annotation>
      <documentation>9449: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9449</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9449</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierUtemøblerEnumerationType nvdb:EierUtemøblerOtherType"/>
  </simpleType>
  <simpleType name="EierUtemøblerEnumerationType">
    <annotation>
      <documentation>9449: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9449</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9449</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>13307: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13307</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18650: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18650</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>13308: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13308</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>13309: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13309</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13310: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13310</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17653: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17653</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierUtemøblerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FastmontertUtemøblerType">
    <annotation>
      <documentation>9451: Angir om utemøblet er fastmontert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9451</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9451</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fastmontert</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FastmontertUtemøblerEnumerationType nvdb:FastmontertUtemøblerOtherType"/>
  </simpleType>
  <simpleType name="FastmontertUtemøblerEnumerationType">
    <annotation>
      <documentation>9451: Angir om utemøblet er fastmontert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9451</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9451</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fastmontert</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13314: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13314</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13315: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13315</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FastmontertUtemøblerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeUtemøblerType">
    <annotation>
      <documentation>1402: Angir primær materialtype for vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1402</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1402</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeUtemøblerEnumerationType nvdb:MaterialtypeUtemøblerOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeUtemøblerEnumerationType">
    <annotation>
      <documentation>1402: Angir primær materialtype for vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1402</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1402</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tre">
        <annotation>
          <documentation>2189: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2189</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>2207: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metall, stål, galvanisert">
        <annotation>
          <documentation>2230: Metall, stål, galvanisert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2230</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metall, stål, galvanisert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Naturstein">
        <annotation>
          <documentation>2254: Naturstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2254</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>2269: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeUtemøblerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingUtemøblerType">
    <annotation>
      <documentation>1602: Angir hvordan vegobjektet er overflatebehandla.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1602</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1602</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OverflatebehandlingUtemøblerEnumerationType nvdb:OverflatebehandlingUtemøblerOtherType"/>
  </simpleType>
  <simpleType name="OverflatebehandlingUtemøblerEnumerationType">
    <annotation>
      <documentation>1602: Angir hvordan vegobjektet er overflatebehandla.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1602</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1602</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Malt">
        <annotation>
          <documentation>2154: Malt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2154</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Beiset">
        <annotation>
          <documentation>2161: Beiset</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2161</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Impregnert">
        <annotation>
          <documentation>2167: Impregnert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2167</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Impregnert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oljet">
        <annotation>
          <documentation>2173: Oljet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2173</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oljet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lakkert">
        <annotation>
          <documentation>2179: Lakkert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2179</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lakkert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Emaljert">
        <annotation>
          <documentation>2180: Emaljert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2180</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emaljert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen overflatebehandling">
        <annotation>
          <documentation>19083: Vegobjektet har ingen overflatebehandling.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19083</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen overflatebehandling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingUtemøblerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeUtemøblerType">
    <annotation>
      <documentation>1109: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1109</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1109</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeUtemøblerEnumerationType nvdb:TypeUtemøblerOtherType"/>
  </simpleType>
  <simpleType name="TypeUtemøblerEnumerationType">
    <annotation>
      <documentation>1109: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1109</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1109</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Sittegruppe med bord">
        <annotation>
          <documentation>2519: Benker/stoler plassert sammen i en sittegruppe. Det inngår bord i sittegruppen. Sittegruppe har ikke takoverbygg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2519</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sittegruppe med bord</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sittegruppe med bord og takoverbygg">
        <annotation>
          <documentation>2520: Benker/stoler plassert sammen i en sittegruppe. Det inngår bord i sittegruppen. Sittegruppe har takoverbygg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2520</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sittegruppe med bord og takoverbygg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sittegruppe uten bord">
        <annotation>
          <documentation>21789: Benker/stoler plassert sammen i en sittegruppe. Det inngår ikke bord i sittegruppen. Sittegruppe har ikke takoverbygg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21789</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sittegruppe uten bord</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Benk">
        <annotation>
          <documentation>3793: Sittemøbel. Merknad: Benk i tilknytning til sittegruppe inngår som del av denne og skal ikke registreres som eget vegobjekt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3793</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Benk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeUtemøblerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Utemøbler" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:UtemøblerType">
    <annotation>
      <documentation>28: Møbler som benyttes ute i samband med vegsystemet. Dette kan f.eks. være på rasteplasser, ferjeoppstillingsplasser etc.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">28</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">28</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utemøbler</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="UtemøblerType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeUtemøblerType">
            <annotation>
              <documentation>1109: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1109</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materialtype" type="nvdb:MaterialtypeUtemøblerType">
            <annotation>
              <documentation>1402: Angir primær materialtype for vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1402</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overflatebehandling" type="nvdb:OverflatebehandlingUtemøblerType">
            <annotation>
              <documentation>1602: Angir hvordan vegobjektet er overflatebehandla.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1602</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fastmontert" type="nvdb:FastmontertUtemøblerType">
            <annotation>
              <documentation>9451: Angir om utemøblet er fastmontert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9451</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fastmontert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="etableringsår" type="integer">
            <annotation>
              <documentation>10390: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10390</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11045: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11045</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12280: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12280</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierUtemøblerType">
            <annotation>
              <documentation>9449: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9449</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligUtemøblerType">
            <annotation>
              <documentation>9450: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9450</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4736: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4736</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRasteplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Rasteplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHoldeplassutrustning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Holdeplassutrustning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFerjekai" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Ferjekai</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UtemøblerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Utemøbler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligUtemøblerType">
    <annotation>
      <documentation>9450: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9450</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9450</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligUtemøblerEnumerationType nvdb:VedlikeholdsansvarligUtemøblerOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligUtemøblerEnumerationType">
    <annotation>
      <documentation>9450: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9450</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9450</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>13311: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13311</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18693: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18693</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19984: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18822: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18822</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>13313: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13313</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13312: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13312</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17773: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17773</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligUtemøblerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
