GML/PS/OLFV_NV/2.33/3.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" version="2.33">
  <annotation>
    <documentation>3: En frittstående konstruksjon som skal være et hinder for f.eks. støyutbredelse.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeSkjermType">
    <annotation>
      <documentation>1247: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1247</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1247</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeSkjermEnumerationType nvdb:BruksområdeSkjermOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeSkjermEnumerationType">
    <annotation>
      <documentation>1247: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1247</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1247</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Støyskjerm">
        <annotation>
          <documentation>1994: Skjerm benyttes primært for å skjerme omgivelser mot støy.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">1994</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støyskjerm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Leskjerm/sikringsskjerm">
        <annotation>
          <documentation>3287: Skjerm som primært er benyttet for å skjerme omgivelser mot sprut/støv fra veg, snø fra brøyting, innsyn, skjerming mot jernbane, vind etc. og samtidig ikke har funksjon i forhold til støyskjerming.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3287</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Leskjerm/sikringsskjerm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeSkjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierSkjermType">
    <annotation>
      <documentation>1546: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1546</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1546</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierSkjermEnumerationType nvdb:EierSkjermOtherType"/>
  </simpleType>
  <simpleType name="EierSkjermEnumerationType">
    <annotation>
      <documentation>1546: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1546</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1546</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>2139: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2139</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18640: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18640</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10694: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10694</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>2143: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2143</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>2147: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17655: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17655</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSkjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LydabsorberendeType">
    <annotation>
      <documentation>1606: Angir om vegobjektet er lydabsorberende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1606</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1606</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lydabsorberende</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LydabsorberendeEnumerationType nvdb:LydabsorberendeOtherType"/>
  </simpleType>
  <simpleType name="LydabsorberendeEnumerationType">
    <annotation>
      <documentation>1606: Angir om vegobjektet er lydabsorberende.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1606</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1606</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lydabsorberende</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>3511: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3511</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>3549: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3549</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LydabsorberendeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeSkjermType">
    <annotation>
      <documentation>1087: Angir materialtype for skjerm.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1087</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1087</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale skjerm</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeSkjermEnumerationType nvdb:MaterialeSkjermOtherType"/>
  </simpleType>
  <simpleType name="MaterialeSkjermEnumerationType">
    <annotation>
      <documentation>1087: Angir materialtype for skjerm.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1087</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1087</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale skjerm</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tre">
        <annotation>
          <documentation>2181: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2181</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>3321: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3321</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein">
        <annotation>
          <documentation>3339: Betongstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3339</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tegl">
        <annotation>
          <documentation>3350: Tegl</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3350</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tegl</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metall">
        <annotation>
          <documentation>2222: Metall</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2222</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>2261: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2261</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kunststoff">
        <annotation>
          <documentation>2359: Kunststoff</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2359</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kunststoff</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pleksiglass">
        <annotation>
          <documentation>2367: Pleksiglass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2367</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pleksiglass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Herdet glass">
        <annotation>
          <documentation>17393: Herdet glass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17393</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Herdet glass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Torvmur med gress">
        <annotation>
          <documentation>17223: Skjerm som er bygd opp med torv og fremstår som gressdekket.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17223</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Torvmur med gress</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Naturstein">
        <annotation>
          <documentation>4963: Naturstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4963</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeSkjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeSøylerType">
    <annotation>
      <documentation>1665: Angir hvilken type søyler skjermen har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1665</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1665</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale søyler</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeSøylerEnumerationType nvdb:MaterialeSøylerOtherType"/>
  </simpleType>
  <simpleType name="MaterialeSøylerEnumerationType">
    <annotation>
      <documentation>1665: Angir hvilken type søyler skjermen har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1665</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1665</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale søyler</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tre">
        <annotation>
          <documentation>3347: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3347</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>3798: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>3800: Stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3800</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Aluminium">
        <annotation>
          <documentation>3799: Aluminium</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aluminium</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>3349: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3349</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeSøylerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingSkjermType">
    <annotation>
      <documentation>1599: Angir hvordan vegobjektet er overflatebehandla.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1599</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1599</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OverflatebehandlingSkjermEnumerationType nvdb:OverflatebehandlingSkjermOtherType"/>
  </simpleType>
  <simpleType name="OverflatebehandlingSkjermEnumerationType">
    <annotation>
      <documentation>1599: Angir hvordan vegobjektet er overflatebehandla.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1599</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1599</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Malt">
        <annotation>
          <documentation>2151: Malt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2151</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Beiset">
        <annotation>
          <documentation>2158: Beiset</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2158</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Impregnert">
        <annotation>
          <documentation>2164: Impregnert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2164</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Impregnert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oljet">
        <annotation>
          <documentation>2170: Oljet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2170</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oljet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lakkert">
        <annotation>
          <documentation>2176: Lakkert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2176</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lakkert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen">
        <annotation>
          <documentation>19464: Overflatebehandling er enten ikke relevant eller det er bevisst ubehandlet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19464</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingSkjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skjerm" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SkjermType">
    <annotation>
      <documentation>3: En frittstående konstruksjon som skal være et hinder for f.eks. støyutbredelse.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skjerm</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkjermType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeSkjermType">
            <annotation>
              <documentation>1247: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1247</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materialeSkjerm" type="nvdb:MaterialeSkjermType">
            <annotation>
              <documentation>1087: Angir materialtype for skjerm.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1087</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale skjerm</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materialeSøyler" type="nvdb:MaterialeSøylerType">
            <annotation>
              <documentation>1665: Angir hvilken type søyler skjermen har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1665</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale søyler</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1296: Angir lengde av skjermvegg.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1296</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høyde" type="double">
            <annotation>
              <documentation>9823: Angir skjermveggens gjennomsnittlige egenhøyde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9823</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="areal" type="double">
            <annotation>
              <documentation>1352: Angir arealet av skjermvegg, inkludert ev. glassfelt. Det angis areal av ei side.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1352</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="søyleavstand" type="double">
            <annotation>
              <documentation>9832: Angir gjennomsnittlig avstand mellom søylene i ei søylerekke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9832</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Søyleavstand</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeGjennomsiktigVegg" type="nvdb:TypeGjennomsiktigVeggType">
            <annotation>
              <documentation>3951: Angir hvilket materiale gjennomsiktig vegg er laget av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3951</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type gjennomsiktig vegg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="arealGjennomsiktigVegg" type="double">
            <annotation>
              <documentation>1611: Angir totalt areal av gjennomsiktig skjerm. F.eks. pleksiglass, herdeglass osv.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1611</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal gjennomsiktig vegg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lydabsorberende" type="nvdb:LydabsorberendeType">
            <annotation>
              <documentation>1606: Angir om vegobjektet er lydabsorberende.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1606</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lydabsorberende</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overflatebehandling" type="nvdb:OverflatebehandlingSkjermType">
            <annotation>
              <documentation>1599: Angir hvordan vegobjektet er overflatebehandla.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1599</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>9936: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9936</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11029: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11029</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12264: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12264</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSkjermType">
            <annotation>
              <documentation>1546: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1546</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier_Navn" type="string">
            <annotation>
              <documentation>11202: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11202</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSkjermType">
            <annotation>
              <documentation>1549: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1549</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4712: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4712</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVoll" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Voll</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkjermPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skjerm"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeGjennomsiktigVeggType">
    <annotation>
      <documentation>3951: Angir hvilket materiale gjennomsiktig vegg er laget av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3951</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3951</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type gjennomsiktig vegg</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeGjennomsiktigVeggEnumerationType nvdb:TypeGjennomsiktigVeggOtherType"/>
  </simpleType>
  <simpleType name="TypeGjennomsiktigVeggEnumerationType">
    <annotation>
      <documentation>3951: Angir hvilket materiale gjennomsiktig vegg er laget av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3951</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3951</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type gjennomsiktig vegg</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Pleksiglass">
        <annotation>
          <documentation>4961: Pleksiglass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4961</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pleksiglass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Herdet glass">
        <annotation>
          <documentation>4962: Herdet glass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4962</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Herdet glass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeGjennomsiktigVeggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkjermType">
    <annotation>
      <documentation>1549: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1549</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1549</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSkjermEnumerationType nvdb:VedlikeholdsansvarligSkjermOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkjermEnumerationType">
    <annotation>
      <documentation>1549: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1549</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1549</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>2140: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2140</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18764: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18764</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19891: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19891</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18893: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18893</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>2144: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2144</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>2148: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2148</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17669: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17669</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
