GML/PS/OLFV_NV/2.33/39.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" version="2.33">
  <annotation>
    <documentation>39: Sted ved vegen der vegtrafikanter kan parkere og hvile. (Ordbok for veg- og Trafikkteknikk).</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierRasteplassType">
    <annotation>
      <documentation>5819: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierRasteplassEnumerationType nvdb:EierRasteplassOtherType"/>
  </simpleType>
  <simpleType name="EierRasteplassEnumerationType">
    <annotation>
      <documentation>5819: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>8214: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8214</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18595: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18595</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10706: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10706</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>8240: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8240</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>8266: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17616: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17616</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierRasteplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FastDekkeType">
    <annotation>
      <documentation>4564: Angir om det er fast dekke på rasteplassen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4564</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4564</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fast dekke</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FastDekkeEnumerationType nvdb:FastDekkeOtherType"/>
  </simpleType>
  <simpleType name="FastDekkeEnumerationType">
    <annotation>
      <documentation>4564: Angir om det er fast dekke på rasteplassen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4564</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4564</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fast dekke</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5477: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5477</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5478: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5478</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FastDekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Kjøretøytype_DimensjonerendeRasteplassType">
    <annotation>
      <documentation>1773: Angir største kjøretøytype rasteplassens innkjøring, utkjøring og øvrig kjørearealer er dimensjonert for å romme.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1773</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1773</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kjøretøytype,dimensjonerende</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Kjøretøytype_DimensjonerendeRasteplassEnumerationType nvdb:Kjøretøytype_DimensjonerendeRasteplassOtherType"/>
  </simpleType>
  <simpleType name="Kjøretøytype_DimensjonerendeRasteplassEnumerationType">
    <annotation>
      <documentation>1773: Angir største kjøretøytype rasteplassens innkjøring, utkjøring og øvrig kjørearealer er dimensjonert for å romme.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1773</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1773</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kjøretøytype,dimensjonerende</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Personbil">
        <annotation>
          <documentation>3109: Personbil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3109</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Personbil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lastebil">
        <annotation>
          <documentation>3119: Lastebil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3119</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lastebil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Buss">
        <annotation>
          <documentation>3250: Buss</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3250</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Buss</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vogntog">
        <annotation>
          <documentation>3130: Vogntog</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3130</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vogntog</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Kjøretøytype_DimensjonerendeRasteplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LovligAdkomstType">
    <annotation>
      <documentation>2037: Angir om rasteplassen har lovlig adkomst fra en eller begge kjøreretninger.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2037</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2037</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lovlig adkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LovligAdkomstEnumerationType nvdb:LovligAdkomstOtherType"/>
  </simpleType>
  <simpleType name="LovligAdkomstEnumerationType">
    <annotation>
      <documentation>2037: Angir om rasteplassen har lovlig adkomst fra en eller begge kjøreretninger.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2037</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2037</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lovlig adkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="En retning">
        <annotation>
          <documentation>3252: Det er kun lovlig adkomst til rasteplassen for en kjøreretning. Den andre kjøreretningen har ikke tilgang til rasteplassen pga. enten skilting, vegoppmerking eller fysisk sperring.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">En retning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Begge retninger">
        <annotation>
          <documentation>3251: Rasteplassen er tilgjengelig for begge kjøreretninger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3251</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Begge retninger</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LovligAdkomstOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Rasteplass" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:RasteplassType">
    <annotation>
      <documentation>39: Sted ved vegen der vegtrafikanter kan parkere og hvile. (Ordbok for veg- og Trafikkteknikk).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">39</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">39</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Rasteplass</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RasteplassType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>1074: Angir navn på rasteplassen. Der det er to rasteplasser på samme sted, en på hver side, kan samme navn brukes med tillegg av 1 og 2 eller himmelretning i forhold til vegen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1074</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeRasteplassType">
            <annotation>
              <documentation>2036: Angir hvilken type rasteplass det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2036</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallOppstillingsplSmåKjt" type="integer">
            <annotation>
              <documentation>1805: Angir hvor mange plasser som totalt er tilgjengelig for oppstilling av små kjøretøy (personbiler) på rasteplassen. For områder hvor det er lovlig å stå parkert for små kjøretøy, men som ikke har oppmerka oppstillingsplasser må det gjøres et anslag på hvor mange små kjøretøy det er plass til (Dimensjonerende mål på personbil B=2, 5 meter, L=5 meter). I summeringen forutsettes  det at områder hvor det er lovlig å stå både for små og store kjøretøy er fylt opp av små kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1805</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall oppstillingspl. små kjt.</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallOppstillingsplStoreKjt" type="integer">
            <annotation>
              <documentation>1816: Angir hvor mange plasser som totalt er tilgjengelig for oppstilling av store kjøretøy (vogntog) på rasteplassen. For områder hvor det er lovlig å stå parkert for store kjøretøy, men som ikke har oppmerka oppstillingsplasser må det gjøres et anslag på hvor mange store kjøretøy det er plass til (Dimensjonerende mål for store kjøretøy: B=3 meter, L=22 meter). I summeringen forutsettes  det at områder hvor det er lovlig å stå både for små og store kjøretøy er fylt opp av store kjøretøy.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1816</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall oppstillingspl. store kjt.</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallOppstillingsplForflytningshemmede" type="integer">
            <annotation>
              <documentation>9415: Angir hvor mange merka oppstillingsplasser det er for forflytningshemmede.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9415</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall oppstillingspl. Forflytningshemmede</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal_Totalt" type="integer">
            <annotation>
              <documentation>1355: Angir totalt areal av rasteplassen. Dette inkluderer både kjørbart og ikke kjørbart areal innenfor rasteplassen sin avgrensning. For mer informasjon om ulike arealtyper henvises til aktuelle "datterobjekt".</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1355</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal, totalt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="areal_Kjørbart" type="integer">
            <annotation>
              <documentation>8766: Angir kjørbart areal av rasteplassen, inkludert areal for oppstilling og parkering.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8766</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal, kjørbart</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kjøretøytype_Dimensjonerende" type="nvdb:Kjøretøytype_DimensjonerendeRasteplassType">
            <annotation>
              <documentation>1773: Angir største kjøretøytype rasteplassens innkjøring, utkjøring og øvrig kjørearealer er dimensjonert for å romme.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1773</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kjøretøytype, dimensjonerende</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lovligAdkomst" type="nvdb:LovligAdkomstType">
            <annotation>
              <documentation>2037: Angir om rasteplassen har lovlig adkomst fra en eller begge kjøreretninger.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2037</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lovlig adkomst</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fastDekke" type="nvdb:FastDekkeType">
            <annotation>
              <documentation>4564: Angir om det er fast dekke på rasteplassen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4564</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fast dekke</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vinterstengning" type="nvdb:VinterstengningType">
            <annotation>
              <documentation>8765: Angir i hvilken grad rasteplassen stenges om vinteren.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8765</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vinterstengning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10343: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10343</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11046: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11046</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12283: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12283</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierRasteplassType">
            <annotation>
              <documentation>5819: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5819</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligRasteplassType">
            <annotation>
              <documentation>4565: Angir hvem som er vedlikeholdsansvarlig for rasteplassen som helhet. Det kan alternativt gis informasjon om dette til de ulike bestanddelene på rasteplassen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4565</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>5131: Gir flate/polygon som geometrisk avgrenser rasteplassen, inkluderer både kjørbart og ikke kjørbart areal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5131</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertStativForTuristinfo" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:StativForTuristinfo</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTaktileIndikatorer" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TaktileIndikatorer</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertToalettanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Toalettanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertUtemøbler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Utemøbler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBygning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Bygning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLekeapparat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Lekeapparat</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertParkeringsområde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Parkeringsområde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertRenovasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Renovasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RasteplassPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Rasteplass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeRasteplassType">
    <annotation>
      <documentation>2036: Angir hvilken type rasteplass det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2036</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2036</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeRasteplassEnumerationType nvdb:TypeRasteplassOtherType"/>
  </simpleType>
  <simpleType name="TypeRasteplassEnumerationType">
    <annotation>
      <documentation>2036: Angir hvilken type rasteplass det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2036</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2036</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hovedrasteplass">
        <annotation>
          <documentation>3240: Hovedrasteplass er sideanlegg som er tilrettelagt for rast og pause. De skal ha en gitt standard og tilstrekkelig kapasitet. De har toalett og er døgnåpne og tilgjengelige hele året for alle trafikanter og kjøretøygrupper (Rasteplass-strategidokument 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3240</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hovedrasteplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Øvrig rasteplass">
        <annotation>
          <documentation>3249: Øvrige rasteplasser er andre sideanlegg som er tilrettelagt for rast og pause. De kan være sesongåpne og ha varierende tilbud til ulike trafikanter og kjøretøygrupper (Rasteplass-strategidokument 2020).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3249</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Øvrig rasteplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeRasteplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRasteplassType">
    <annotation>
      <documentation>4565: Angir hvem som er vedlikeholdsansvarlig for rasteplassen som helhet. Det kan alternativt gis informasjon om dette til de ulike bestanddelene på rasteplassen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4565</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4565</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligRasteplassEnumerationType nvdb:VedlikeholdsansvarligRasteplassOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRasteplassEnumerationType">
    <annotation>
      <documentation>4565: Angir hvem som er vedlikeholdsansvarlig for rasteplassen som helhet. Det kan alternativt gis informasjon om dette til de ulike bestanddelene på rasteplassen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4565</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4565</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>5479: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5479</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18730: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18730</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19903: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19903</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18859: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18859</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>5480: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5480</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>5481: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5481</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17681: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17681</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRasteplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VinterstengningType">
    <annotation>
      <documentation>8765: Angir i hvilken grad rasteplassen stenges om vinteren.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8765</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8765</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vinterstengning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VinterstengningEnumerationType nvdb:VinterstengningOtherType"/>
  </simpleType>
  <simpleType name="VinterstengningEnumerationType">
    <annotation>
      <documentation>8765: Angir i hvilken grad rasteplassen stenges om vinteren.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8765</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8765</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vinterstengning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ikke vinterstengt">
        <annotation>
          <documentation>17304: Rasteplass inkludert servicetilbud er åpen hele året.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17304</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke vinterstengt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vinterdrift av kjøreareal">
        <annotation>
          <documentation>11604: Vinterdrift av rasteplassens kjøreareal. Rasteplassens servicetilbud er stengt i vintersesongen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11604</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vinterdrift av kjøreareal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Helt vinterstengt">
        <annotation>
          <documentation>11603: Ingen vinterdrift. Avkjøring stengt i vintersesonen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helt vinterstengt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VinterstengningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
