GML/PS/OLFV_NV/2.33/44.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" version="2.33">
  <annotation>
    <documentation>44: Område spesielt tilrettelagt for å foreta ulike typer kontroll av kjøretøy, bl.a. vektkontroll.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierKontrollVeieplassType">
    <annotation>
      <documentation>7991: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7991</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7991</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierKontrollVeieplassEnumerationType nvdb:EierKontrollVeieplassOtherType"/>
  </simpleType>
  <simpleType name="EierKontrollVeieplassEnumerationType">
    <annotation>
      <documentation>7991: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7991</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7991</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10257: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10257</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18607: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18607</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10719: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10719</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10321: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10321</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10385: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10385</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17580: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17580</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKontrollVeieplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="KontrollVeieplass" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:KontrollVeieplassType">
    <annotation>
      <documentation>44: Område spesielt tilrettelagt for å foreta ulike typer kontroll av kjøretøy, bl.a. vektkontroll.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">44</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">44</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kontroll-/veieplass</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KontrollVeieplassType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="navn" type="string">
            <annotation>
              <documentation>1077: Angir navn på kontroll-/veieplassen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1077</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeKontrollVeieplassType">
            <annotation>
              <documentation>12586: Angir hvilken type kontroll-/veieplass det er</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12586</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="veiing" type="nvdb:VeiingType">
            <annotation>
              <documentation>1117: Angir hvilken type veiing som benyttes ved kontroll/veieplassen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1117</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Veiing</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vektTilgjengelig" type="nvdb:VektTilgjengeligType">
            <annotation>
              <documentation>12587: Angir i hvilken grad vekt er tilgjengelig for trafikanter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12587</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vekt tilgjengelig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="areal" type="integer">
            <annotation>
              <documentation>1360: Angir totalt areal av vegobjektet. Arealet inkluderer kjørbart, ikke kjørbart og bebygd areal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1360</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10319: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10319</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11050: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11050</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12288: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12288</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKontrollVeieplassType">
            <annotation>
              <documentation>7991: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7991</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligKontrollVeieplassType">
            <annotation>
              <documentation>8055: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8055</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10963: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10963</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KontrollVeieplassPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:KontrollVeieplass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeKontrollVeieplassType">
    <annotation>
      <documentation>12586: Angir hvilken type kontroll-/veieplass det er</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12586</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12586</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeKontrollVeieplassEnumerationType nvdb:TypeKontrollVeieplassOtherType"/>
  </simpleType>
  <simpleType name="TypeKontrollVeieplassEnumerationType">
    <annotation>
      <documentation>12586: Angir hvilken type kontroll-/veieplass det er</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12586</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12586</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stor kontrollstasjon">
        <annotation>
          <documentation>21705: Anlegg som minimum inneholder bygningsmasse med fasiliteter for å kunne gjennomføre utvidet teknisk kontroll etter Direktiv 2014/47/EU og fast brovekt for vektkontroll av tunge kjøretøy</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21705</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stor kontrollstasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Liten kontrollstasjon">
        <annotation>
          <documentation>21706: Anlegg som inneholder mindre bygningsmasse og fast brovekt eller tilpassede groper for å kunne benytte mobile vekter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21706</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Liten kontrollstasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kontrollplass">
        <annotation>
          <documentation>21707: Mindre sideanlegg uten større installasjoner eller bygg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21707</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kontrollplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeKontrollVeieplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKontrollVeieplassType">
    <annotation>
      <documentation>8055: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8055</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8055</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligKontrollVeieplassEnumerationType nvdb:VedlikeholdsansvarligKontrollVeieplassOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKontrollVeieplassEnumerationType">
    <annotation>
      <documentation>8055: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8055</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8055</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10449: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10449</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18678: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18678</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19925: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18807: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18807</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10527: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10527</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10605: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10605</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17708: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17708</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKontrollVeieplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VeiingType">
    <annotation>
      <documentation>1117: Angir hvilken type veiing som benyttes ved kontroll/veieplassen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1117</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1117</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Veiing</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VeiingEnumerationType nvdb:VeiingOtherType"/>
  </simpleType>
  <simpleType name="VeiingEnumerationType">
    <annotation>
      <documentation>1117: Angir hvilken type veiing som benyttes ved kontroll/veieplassen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1117</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1117</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Veiing</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fastmontert vekt">
        <annotation>
          <documentation>3923: Fastmontert vekt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fastmontert vekt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mobilt utstyr">
        <annotation>
          <documentation>3924: Vekt/utstyr medbringes i forbindelse med kontroller.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mobilt utstyr</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke egnet for veiing">
        <annotation>
          <documentation>21711: Kontroll-/veieplass er ikke egnet eller tilrettelagt for vektkontroll.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21711</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke egnet for veiing</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VeiingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VektTilgjengeligType">
    <annotation>
      <documentation>12587: Angir i hvilken grad vekt er tilgjengelig for trafikanter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12587</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12587</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vekt tilgjengelig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VektTilgjengeligEnumerationType nvdb:VektTilgjengeligOtherType"/>
  </simpleType>
  <simpleType name="VektTilgjengeligEnumerationType">
    <annotation>
      <documentation>12587: Angir i hvilken grad vekt er tilgjengelig for trafikanter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12587</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12587</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vekt tilgjengelig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hele døgnet">
        <annotation>
          <documentation>21708: Vekt er tilgjengelig hele døgnet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21708</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hele døgnet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I åpningstid">
        <annotation>
          <documentation>21709: Vekt er tilgjengelig innenfor åpningstid. Gjelder typisk for kontrollstasjoner i tilknytning til trafikkstasjoner hvor det da henviser til trafikkstasjonens åpningstid.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21709</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I åpningstid</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke tilgjengelig">
        <annotation>
          <documentation>21710: Vekt er ikke tilgjengelig.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21710</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke tilgjengelig</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VektTilgjengeligOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
