GML/PS/OLFV_NV/2.33/487.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" version="2.33">
  <annotation>
    <documentation>487: Sted for på og avstigning av kollektivtrafikk.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierHoldeplassutrustningType">
    <annotation>
      <documentation>10221: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10221</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10221</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierHoldeplassutrustningEnumerationType nvdb:EierHoldeplassutrustningOtherType"/>
  </simpleType>
  <simpleType name="EierHoldeplassutrustningEnumerationType">
    <annotation>
      <documentation>10221: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10221</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10221</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>16693: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16693</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18612: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18612</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>16694: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16694</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16695: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16695</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16696: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16696</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17635: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17635</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierHoldeplassutrustningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Holdeplassutrustning" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:HoldeplassutrustningType">
    <annotation>
      <documentation>487: Sted for på og avstigning av kollektivtrafikk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">487</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">487</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Holdeplassutrustning</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="HoldeplassutrustningType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="UU_TypeTransportmiddel" type="nvdb:UU_TypeTransportmiddelType">
            <annotation>
              <documentation>10259: Angir hvilken type transportmiddel det er tilrettelagt for.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10259</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">UU_Type transportmiddel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="UU_Type" type="nvdb:UU_TypeType">
            <annotation>
              <documentation>3956: Angir hvilken type holdeplassutrustning det er tale om. Jfr. HB V123 (232).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3956</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">UU_Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="UU_Viktighetsnivå" type="nvdb:UU_ViktighetsnivåType">
            <annotation>
              <documentation>10260: Angir hvilket viktighetsnivå holdeplassutrustning har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10260</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">UU_Viktighetsnivå</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="UU_PåOgAvstigning" type="nvdb:UU_PåOgAvstigningType">
            <annotation>
              <documentation>10205: Angir om Holdeplassutrustning brukes for både på- og avstigning eller primært for avstigning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10205</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">UU_På- og avstigning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="UU_Holdeplasskilt" type="nvdb:UU_HoldeplasskiltType">
            <annotation>
              <documentation>10416: Angir om det er holdeplasskilt knyttet til Holdeplassutrustning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10416</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">UU_Holdeplasskilt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="UU_Belysning" type="nvdb:UU_BelysningType">
            <annotation>
              <documentation>3959: Angir utvendige belysningsforhold. Ev. innvendig belysning i leskur skal knyttes til "leskur".</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3959</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">UU_Belysning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="UU_Sittemulighet" type="nvdb:UU_SittemulighetType">
            <annotation>
              <documentation>10211: Angir om det er sittemulighet på Holdeplassutrustning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10211</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">UU_Sittemulighet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Type" type="nvdb:UU_Plattform_TypeType">
            <annotation>
              <documentation>10219: Angir type område hvor reisende kan oppholde seg i forbindelse med venting på kollektivtrafikk.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10219</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">UU_Plattform, type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Belegning" type="nvdb:UU_Plattform_BelegningType">
            <annotation>
              <documentation>10193: Belegning på plattform.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10193</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">UU_Plattform, belegning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Lengde" type="double">
            <annotation>
              <documentation>10191: Lengde av plattform eksklusiv inn-/utkjøringslengde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10191</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">UU_Plattform, lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_Bredde" type="double">
            <annotation>
              <documentation>10192: Fri bredde i plattformens fulle lengde. Ved varierende bredde brukes gjennomsnitt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10192</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">UU_Plattform, bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_KantsteinhøydePåstigning" type="double">
            <annotation>
              <documentation>10194: Høyde på kantstein ved påstigningspunkt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10194</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">UU_Plattform, kantsteinhøyde påstigning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="UU_Plattform_KantsteinhøydeAvstigning" type="double">
            <annotation>
              <documentation>10195: Høyde på kantstein ved avstigningspunkt (ca. 5 m bak påstigning).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10195</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">UU_Plattform, kantsteinhøyde avstigning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10306: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10306</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11141: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11141</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12389: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12389</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierHoldeplassutrustningType">
            <annotation>
              <documentation>10221: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10221</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligHoldeplassutrustningType">
            <annotation>
              <documentation>3962: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3962</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8926: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8926</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSykkelparkering" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Sykkelparkering</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTaktileIndikatorer" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TaktileIndikatorer</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrafikklomme" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikklomme</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertUtemøbler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Utemøbler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertRenovasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Renovasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKantstein" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kantstein</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSanntidsinformasjon_Kollektivtrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Sanntidsinformasjon_Kollektivtrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertParkeringsområde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Parkeringsområde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLeskur" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Leskur</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKollektivknutepunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kollektivknutepunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HoldeplassutrustningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Holdeplassutrustning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="UU_BelysningType">
    <annotation>
      <documentation>3959: Angir utvendige belysningsforhold. Ev. innvendig belysning i leskur skal knyttes til "leskur".</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3959</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3959</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Belysning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_BelysningEnumerationType nvdb:UU_BelysningOtherType"/>
  </simpleType>
  <simpleType name="UU_BelysningEnumerationType">
    <annotation>
      <documentation>3959: Angir utvendige belysningsforhold. Ev. innvendig belysning i leskur skal knyttes til "leskur".</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3959</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3959</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Belysning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja, egen belysning">
        <annotation>
          <documentation>4978: Ja, egen belysning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4978</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, egen belysning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, belyst av gatebelysning">
        <annotation>
          <documentation>9954: Ja, belyst av gatebelysning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9954</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, belyst av gatebelysning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4979: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4979</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_BelysningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_HoldeplasskiltType">
    <annotation>
      <documentation>10416: Angir om det er holdeplasskilt knyttet til Holdeplassutrustning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10416</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10416</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Holdeplasskilt</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_HoldeplasskiltEnumerationType nvdb:UU_HoldeplasskiltOtherType"/>
  </simpleType>
  <simpleType name="UU_HoldeplasskiltEnumerationType">
    <annotation>
      <documentation>10416: Angir om det er holdeplasskilt knyttet til Holdeplassutrustning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10416</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10416</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Holdeplasskilt</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja, standard skiltplate">
        <annotation>
          <documentation>16791: Det er standard skiltplate i tilknytning til holdeplass.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16791</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, standard skiltplate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, integrert symbol">
        <annotation>
          <documentation>18175: Skilt er integrert ("trykket") som symbol i selve leskuret, oppslagstavle, eller annen del av holdeplassutrustningen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18175</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, integrert symbol</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, klistremerke">
        <annotation>
          <documentation>18176: Skilt er limt på selve leskuret, oppslagstavle, eller annen del av holdeplassutrustningen i form av klistremerke.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18176</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, klistremerke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16792: Det er ingen former for holdeplasskilt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16792</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_HoldeplasskiltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_Plattform_BelegningType">
    <annotation>
      <documentation>10193: Belegning på plattform.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10193</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10193</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Plattform,belegning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_Plattform_BelegningEnumerationType nvdb:UU_Plattform_BelegningOtherType"/>
  </simpleType>
  <simpleType name="UU_Plattform_BelegningEnumerationType">
    <annotation>
      <documentation>10193: Belegning på plattform.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10193</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10193</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Plattform,belegning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Asfalt">
        <annotation>
          <documentation>16605: Asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16605</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>16606: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16606</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein">
        <annotation>
          <documentation>16607: Betongstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16607</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Naturstein, brostein">
        <annotation>
          <documentation>16609: Naturstein, brostein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16609</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturstein, brostein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Naturstein, heller">
        <annotation>
          <documentation>20073: Naturstein, heller</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20073</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturstein, heller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus">
        <annotation>
          <documentation>16608: Grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16608</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_Plattform_BelegningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_Plattform_TypeType">
    <annotation>
      <documentation>10219: Angir type område hvor reisende kan oppholde seg i forbindelse med venting på kollektivtrafikk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10219</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10219</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Plattform,type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_Plattform_TypeEnumerationType nvdb:UU_Plattform_TypeOtherType"/>
  </simpleType>
  <simpleType name="UU_Plattform_TypeEnumerationType">
    <annotation>
      <documentation>10219: Angir type område hvor reisende kan oppholde seg i forbindelse med venting på kollektivtrafikk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10219</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10219</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Plattform,type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Eget areal">
        <annotation>
          <documentation>16692: Eget areal som brukes som venteareal.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16692</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eget areal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Del av fortau">
        <annotation>
          <documentation>16690: Plattformen er del av gjennomgående fortau.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16690</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Del av fortau</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Del av g/s-veg">
        <annotation>
          <documentation>19834: Plattformen er del av gjennomgående g/s-veg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19834</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Del av g/s-veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkøy">
        <annotation>
          <documentation>16691: Trafikkøy som skiller kjørefelt eller påstigningspunkt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16691</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkøy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke plattform">
        <annotation>
          <documentation>16689: Det er ikke noe eget tilpasset venteareal.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16689</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke plattform</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_Plattform_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_PåOgAvstigningType">
    <annotation>
      <documentation>10205: Angir om Holdeplassutrustning brukes for både på- og avstigning eller primært for avstigning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10205</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10205</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_På- og avstigning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_PåOgAvstigningEnumerationType nvdb:UU_PåOgAvstigningOtherType"/>
  </simpleType>
  <simpleType name="UU_PåOgAvstigningEnumerationType">
    <annotation>
      <documentation>10205: Angir om Holdeplassutrustning brukes for både på- og avstigning eller primært for avstigning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10205</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10205</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_På- og avstigning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Både på- og avstigning">
        <annotation>
          <documentation>16625: Både på- og avstigning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16625</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Både på- og avstigning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Primært avstigning">
        <annotation>
          <documentation>16626: Primært avstigning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16626</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Primært avstigning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_PåOgAvstigningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_SittemulighetType">
    <annotation>
      <documentation>10211: Angir om det er sittemulighet på Holdeplassutrustning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10211</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10211</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Sittemulighet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_SittemulighetEnumerationType nvdb:UU_SittemulighetOtherType"/>
  </simpleType>
  <simpleType name="UU_SittemulighetEnumerationType">
    <annotation>
      <documentation>10211: Angir om det er sittemulighet på Holdeplassutrustning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10211</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10211</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Sittemulighet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16635: Angir at det er sittemulighet, men ikke sittemulighet under tak og det er ikke armlene.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16635</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, med tak">
        <annotation>
          <documentation>16636: Angir at det er sittemulighet under tak, men det er ikke armlene.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16636</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, med tak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, med armlene">
        <annotation>
          <documentation>16637: Angir at det er sittemulighet med armlene, men ikke under tak.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, med armlene</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, med armlene og tak">
        <annotation>
          <documentation>16638: Angir at det er sittemulighet under tak og at det er sittemulighet med armlene.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16638</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, med armlene og tak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16639: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16639</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_SittemulighetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_TypeType">
    <annotation>
      <documentation>3956: Angir hvilken type holdeplassutrustning det er tale om. Jfr. HB V123 (232).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3956</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3956</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_TypeEnumerationType nvdb:UU_TypeOtherType"/>
  </simpleType>
  <simpleType name="UU_TypeEnumerationType">
    <annotation>
      <documentation>3956: Angir hvilken type holdeplassutrustning det er tale om. Jfr. HB V123 (232).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3956</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3956</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Signalstopp">
        <annotation>
          <documentation>16688: Holdeplasstype 1 i HB V123 (232): Stopp på signal, uten fysisk markering av holdeplassen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16688</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signalstopp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kun skilt">
        <annotation>
          <documentation>5079: Holdeplasstype 2 i HB V123 (232): Kun 512-skilt med informasjonsbærer.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5079</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kun skilt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kantstopp">
        <annotation>
          <documentation>5080: Holdeplasstype 3 i HB V123 (232): 512-skilt med plattform for passasjer eller stopp ved fortau i by/tettbebyggelse.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5080</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kantstopp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plattform og lomme">
        <annotation>
          <documentation>5078: Holdeplasstype 4 i HB V123 (232) : 512-skilt med plattform for passasjer + lomme.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5078</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plattform og lomme</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lomme og skilt, ikke plattform">
        <annotation>
          <documentation>19089: Det er anlagt lomme, det er skilt, men ikke plattform.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19089</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lomme og skilt, ikke plattform</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen type">
        <annotation>
          <documentation>5081: Andre typer holdeplassutrustning. Kan f.eks. være perrong på terminal, endeholdeplass, snuholdeplass, m.m. Gi beskrivelse under merknad.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5081</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen type</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_TypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_TypeTransportmiddelType">
    <annotation>
      <documentation>10259: Angir hvilken type transportmiddel det er tilrettelagt for.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10259</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10259</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Type transportmiddel</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_TypeTransportmiddelEnumerationType nvdb:UU_TypeTransportmiddelOtherType"/>
  </simpleType>
  <simpleType name="UU_TypeTransportmiddelEnumerationType">
    <annotation>
      <documentation>10259: Angir hvilken type transportmiddel det er tilrettelagt for.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10259</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10259</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Type transportmiddel</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Buss">
        <annotation>
          <documentation>16750: Buss</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16750</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Buss</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trikk/bybane">
        <annotation>
          <documentation>16751: Trikk/bybane</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16751</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trikk/bybane</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_TypeTransportmiddelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UU_ViktighetsnivåType">
    <annotation>
      <documentation>10260: Angir hvilket viktighetsnivå holdeplassutrustning har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10260</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10260</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Viktighetsnivå</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UU_ViktighetsnivåEnumerationType nvdb:UU_ViktighetsnivåOtherType"/>
  </simpleType>
  <simpleType name="UU_ViktighetsnivåEnumerationType">
    <annotation>
      <documentation>10260: Angir hvilket viktighetsnivå holdeplassutrustning har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10260</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10260</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">UU_Viktighetsnivå</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nasjonalt knutepunkt">
        <annotation>
          <documentation>16753: Knutepunkter hvorfra man kan reise både lokalt, regionalt og til andre landsdeler i Norge. Noen nasjonale knutepunkter har internasjonale reisemål. Det finnes et fåtall nasjonale knutepunkter som alle krever spesiell utforming. Se HB V123.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16753</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nasjonalt knutepunkt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Regionalt knutepunkt">
        <annotation>
          <documentation>16754: Knutepunkter der man kan reise lokalt og regionalt i betydningen i og til de nærmeste fylkene. Se HB V123.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16754</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Regionalt knutepunkt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lokalt knutepunkt">
        <annotation>
          <documentation>16755: Knutepunkter hvorfra man kan reise lokalt innen samme kommune og/eller samme fylke. Se HB V123.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16755</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lokalt knutepunkt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen viktig holdeplass">
        <annotation>
          <documentation>16756: Det aller enkleste knutepunktet der det er tilrettelagt for omstigning. I sin enkleste form er et mindre knutepunkt en holdeplass der det er lagt til rette for overgang mellom to eller flere transportmidler i kollektivsystemet (buss, båt, taxi i rute). Se HB V123.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16756</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen viktig holdeplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Standard holdeplass">
        <annotation>
          <documentation>16757: Angir at holdeplass ikke har funksjon som knutepunkt, eller av andre grunner karakteriseres som en ekstra viktig holdeplass. Se HB V123.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16757</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Standard holdeplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UU_ViktighetsnivåOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligHoldeplassutrustningType">
    <annotation>
      <documentation>3962: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3962</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3962</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligHoldeplassutrustningEnumerationType nvdb:VedlikeholdsansvarligHoldeplassutrustningOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligHoldeplassutrustningEnumerationType">
    <annotation>
      <documentation>3962: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3962</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3962</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>4984: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18700: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18700</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>16758: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16758</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18829: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18829</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>4985: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4985</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>4986: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4986</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17679: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17679</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligHoldeplassutrustningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
