GML/PS/OLFV_NV/2.33/581.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" version="2.33">
  <annotation>
    <documentation>581: Sted hvor veg passerer gjennom jord/fjell eller under større lokk. Består av ett eller flere tunnelløp.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerType">
    <annotation>
      <documentation>3918: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3918</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3918</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Alarm til VTS ved fjerning av brannslokker</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AlarmTilVTSVedFjerningAvBrannslokkerEnumerationType nvdb:AlarmTilVTSVedFjerningAvBrannslokkerOtherType"/>
  </simpleType>
  <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerEnumerationType">
    <annotation>
      <documentation>3918: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3918</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3918</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Alarm til VTS ved fjerning av brannslokker</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4926: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4926</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei, finnes ikke slik alarm">
        <annotation>
          <documentation>4950: Nei, finnes ikke slik alarm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4950</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei, finnes ikke slik alarm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AlarmTilVTSVedFjerningAvBrannslokkerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AntallParallelleHovedløpType">
    <annotation>
      <documentation>3947: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.). Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i hov</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Antall parallelle hovedløp</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallParallelleHovedløpEnumerationType nvdb:AntallParallelleHovedløpOtherType"/>
  </simpleType>
  <simpleType name="AntallParallelleHovedløpEnumerationType">
    <annotation>
      <documentation>3947: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.). Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i hov</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3947</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Antall parallelle hovedløp</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>5011: 1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5011</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>5012: 2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5012</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>5013: 3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5013</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>5014: 4</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5014</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallParallelleHovedløpOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierTunnelType">
    <annotation>
      <documentation>11984: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11984</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11984</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierTunnelEnumerationType nvdb:EierTunnelOtherType"/>
  </simpleType>
  <simpleType name="EierTunnelEnumerationType">
    <annotation>
      <documentation>11984: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11984</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11984</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20605: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20605</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20606: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20606</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20607: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20607</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20608: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20608</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20609: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20609</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20610: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20610</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTunnelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KablerSikret_Ved_NedgravingType">
    <annotation>
      <documentation>3916: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3916</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3916</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kabler sikret v nedgraving</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KablerSikret_Ved_NedgravingEnumerationType nvdb:KablerSikret_Ved_NedgravingOtherType"/>
  </simpleType>
  <simpleType name="KablerSikret_Ved_NedgravingEnumerationType">
    <annotation>
      <documentation>3916: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3916</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3916</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kabler sikret v nedgraving</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4924: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4925: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KablerSikret_Ved_NedgravingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonerFarligGodsType">
    <annotation>
      <documentation>9131: Angir om tunnelen har restriksjoner for transport av farlig gods.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9131</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9131</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Restriksjoner farlig gods</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RestriksjonerFarligGodsEnumerationType nvdb:RestriksjonerFarligGodsOtherType"/>
  </simpleType>
  <simpleType name="RestriksjonerFarligGodsEnumerationType">
    <annotation>
      <documentation>9131: Angir om tunnelen har restriksjoner for transport av farlig gods.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9131</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9131</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Restriksjoner farlig gods</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12170: Det er restriksjoner knyttet til transport av farlig gods. Skal være skiltet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12170</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12167: Ingen restriksjoner på transport av farlig gods.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12167</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RestriksjonerFarligGodsOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ServiceNødtelefonerTilVTSType">
    <annotation>
      <documentation>3917: Angir om service-/nødtelefonene i tunnelen går direkte til Vegtrafikksentralen (VTS).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3917</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3917</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Service-/nødtelefoner til VTS</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ServiceNødtelefonerTilVTSEnumerationType nvdb:ServiceNødtelefonerTilVTSOtherType"/>
  </simpleType>
  <simpleType name="ServiceNødtelefonerTilVTSEnumerationType">
    <annotation>
      <documentation>3917: Angir om service-/nødtelefonene i tunnelen går direkte til Vegtrafikksentralen (VTS).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3917</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3917</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Service-/nødtelefoner til VTS</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5009: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5009</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei, Ingen service-/nødtelefoner">
        <annotation>
          <documentation>5010: Nei, Ingen service-/nødtelefoner</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5010</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei, Ingen service-/nødtelefoner</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ServiceNødtelefonerTilVTSOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SlokkevannsløsningType">
    <annotation>
      <documentation>12607: Angir hvilken løsning det er for å ha tilgjengelig slokkevann ved behov for brannslokking.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12607</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12607</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Slokkevannsløsning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SlokkevannsløsningEnumerationType nvdb:SlokkevannsløsningOtherType"/>
  </simpleType>
  <simpleType name="SlokkevannsløsningEnumerationType">
    <annotation>
      <documentation>12607: Angir hvilken løsning det er for å ha tilgjengelig slokkevann ved behov for brannslokking.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12607</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12607</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Slokkevannsløsning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Offentlig trykkvann">
        <annotation>
          <documentation>21757: Offentlig trykkvann</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21757</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Offentlig trykkvann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Reservoarløsning">
        <annotation>
          <documentation>21759: Det samles opp vann fra omkringliggende berg til egne infiltreringskummer.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21759</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Reservoarløsning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avtale med brannvesenet">
        <annotation>
          <documentation>21760: Avtale med brannvesenet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21760</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avtale med brannvesenet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet">
        <annotation>
          <documentation>21761: Løsning som ikke er dekket av øvrige alternativ. Legg inn informasjon under "Tilleggsinformasjon"</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21761</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen">
        <annotation>
          <documentation>21762: Slokkevann er ikke tilgjengelig på stedet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21762</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SlokkevannsløsningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SykkelforbudType">
    <annotation>
      <documentation>9518: Angir om det er forbudt å sykle i tunnelen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9518</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9518</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sykkelforbud</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SykkelforbudEnumerationType nvdb:SykkelforbudOtherType"/>
  </simpleType>
  <simpleType name="SykkelforbudEnumerationType">
    <annotation>
      <documentation>9518: Angir om det er forbudt å sykle i tunnelen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9518</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9518</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sykkelforbud</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13434: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13434</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13435: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SykkelforbudOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tunnel" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TunnelType">
    <annotation>
      <documentation>581: Sted hvor veg passerer gjennom jord/fjell eller under større lokk. Består av ett eller flere tunnelløp.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">581</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">581</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TunnelType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="navn" type="string">
            <annotation>
              <documentation>5225: Angir navn på tunnel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5225</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tunnelklasse_Prosjektert" type="nvdb:Tunnelklasse_ProsjektertType">
            <annotation>
              <documentation>9134: Angir hvilken tunnelklasse tunnelen ble prosjektert etter. Ikke relevant for tunneler kortere enn 500 meter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9134</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tunnelklasse, prosjektert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallParallelleHovedløp" type="nvdb:AntallParallelleHovedløpType">
            <annotation>
              <documentation>3947: Angir hvor mange parallelle hovedløp tunnelen har. Med hovedløp menes tunnelløp som inngår i hovedvegen (ikke ramper, armer etc.). Det kan være unntak fra dette i tilfeller der det ikke er noen tunnelløp som har referanse til hovedparsell som inngår i hovedvegen, f.eks. når tunnel på en arm.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3947</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall parallelle hovedløp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lengde_Offisiell" type="integer">
            <annotation>
              <documentation>8945: Angir tunnelens offisielle lengde. Lengde skal oppgis i henhold til regelverk for skilting. Dvs. at for tunneler opp til 1000 m avrundes lengde til nærmeste 10 meter, for tunneler over 1000 meter avrundes lengde til nærmeste 100 meter (jfr. Håndbok N300). For tunneler med flere løp tas det utgangspunkt i lengste hovedløp. Denne lengden skal registreres uavhengig av om tunnellengde er skiltet eller ikke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8945</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde, offisiell</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="sumLengdeAlleLøp" type="integer">
            <annotation>
              <documentation>8150: Angir total lengde av alle hovedløpene tilhørende tunnelsystemet. Inkluderer ikke lengde av ramper. Lengde av et hovedløp regnes fra første til siste punkt hvor en normal rett opp fra midt veg treffer tunneltak/portal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8150</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sum lengde alle løp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="sumLengdeRamper" type="integer">
            <annotation>
              <documentation>8151: Angir total lengde av alle tunnelløp som tilhører rampe(r) tilhørende tunnelsystemet. Inkluderer ikke lengde av hovedløpene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8151</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sum lengde ramper</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="undersjøisk" type="nvdb:UndersjøiskType">
            <annotation>
              <documentation>9517: Angir om tunnel er undersjøisk eller ikke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9517</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Undersjøisk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="sykkelforbud" type="nvdb:SykkelforbudType">
            <annotation>
              <documentation>9518: Angir om det er forbudt å sykle i tunnelen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9518</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sykkelforbud</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="serviceNødtelefonerTilVTS" type="nvdb:ServiceNødtelefonerTilVTSType">
            <annotation>
              <documentation>3917: Angir om service-/nødtelefonene i tunnelen går direkte til Vegtrafikksentralen (VTS).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3917</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Service-/nødtelefoner til VTS</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="alarmTilVTSVedFjerningAvBrannslokker" type="nvdb:AlarmTilVTSVedFjerningAvBrannslokkerType">
            <annotation>
              <documentation>3918: Angir hvorvidt det utløses alarm direkte til Vegtrafikksentralen ved fjerning av brannslokker i tunnel.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3918</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Alarm til VTS ved fjerning av brannslokker</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="slokkevannsløsning" type="nvdb:SlokkevannsløsningType">
            <annotation>
              <documentation>12607: Angir hvilken løsning det er for å ha tilgjengelig slokkevann ved behov for brannslokking.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12607</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Slokkevannsløsning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kablerSikret_Ved_Nedgraving" type="nvdb:KablerSikret_Ved_NedgravingType">
            <annotation>
              <documentation>3916: Angir om kabler er sikret v. nedgraving eller ikke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3916</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kabler sikret v nedgraving</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="restriksjonerFarligGods" type="nvdb:RestriksjonerFarligGodsType">
            <annotation>
              <documentation>9131: Angir om tunnelen har restriksjoner for transport av farlig gods.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9131</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Restriksjoner farlig gods</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="åpningsår" type="integer">
            <annotation>
              <documentation>10383: Angir byggeår for vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10383</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Åpningsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11148: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11148</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12398: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12398</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="eier" type="nvdb:EierTunnelType">
            <annotation>
              <documentation>11984: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11984</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTunnelType">
            <annotation>
              <documentation>12013: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12013</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>6891: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6891</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TunnelløpUtenTrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVannhåndteringsanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vannhåndteringsanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBygning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Bygning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBassengMagasin" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:BassengMagasin</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tunnel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="Tunnelklasse_ProsjektertType">
    <annotation>
      <documentation>9134: Angir hvilken tunnelklasse tunnelen ble prosjektert etter. Ikke relevant for tunneler kortere enn 500 meter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9134</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9134</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnelklasse,prosjektert</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Tunnelklasse_ProsjektertEnumerationType nvdb:Tunnelklasse_ProsjektertOtherType"/>
  </simpleType>
  <simpleType name="Tunnelklasse_ProsjektertEnumerationType">
    <annotation>
      <documentation>9134: Angir hvilken tunnelklasse tunnelen ble prosjektert etter. Ikke relevant for tunneler kortere enn 500 meter.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9134</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9134</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnelklasse,prosjektert</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>12172: A</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12172</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">A</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>12173: B</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12173</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">B</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="C">
        <annotation>
          <documentation>12174: C</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12174</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">C</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="D">
        <annotation>
          <documentation>12175: D</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12175</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">D</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>12176: E</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12176</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">E</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>12177: F</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12177</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">F</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ikke relevant">
        <annotation>
          <documentation>18161: Angis for tunneler med lengde under 500 meter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18161</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ikke relevant</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Tunnelklasse_ProsjektertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UndersjøiskType">
    <annotation>
      <documentation>9517: Angir om tunnel er undersjøisk eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9517</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9517</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Undersjøisk</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UndersjøiskEnumerationType nvdb:UndersjøiskOtherType"/>
  </simpleType>
  <simpleType name="UndersjøiskEnumerationType">
    <annotation>
      <documentation>9517: Angir om tunnel er undersjøisk eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9517</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9517</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Undersjøisk</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13432: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13432</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13433: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13433</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UndersjøiskOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTunnelType">
    <annotation>
      <documentation>12013: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12013</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12013</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTunnelEnumerationType nvdb:VedlikeholdsansvarligTunnelOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTunnelEnumerationType">
    <annotation>
      <documentation>12013: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12013</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12013</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>20798: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>20799: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20800: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20800</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>20801: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20801</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20802: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20802</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20803: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20803</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20804: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20804</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTunnelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
