GML/PS/OLFV_NV/2.33/71.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" version="2.33">
  <annotation>
    <documentation>71: Utstøping i tunnel for sikring mot utrasing.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Betongutstøping" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:BetongutstøpingType">
    <annotation>
      <documentation>71: Utstøping i tunnel for sikring mot utrasing.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">71</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">71</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Betongutstøping</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BetongutstøpingType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1318: Angir lengde av vegobjektet, er normalt avledet fra geometri/stedfesting.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1318</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tykkelse" type="double">
            <annotation>
              <documentation>1620: Angir standard tykkelse av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1620</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="nvdb:PosisjonType">
            <annotation>
              <documentation>1650: Angir posisjon til vegobjektet i samleobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1650</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Posisjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10269: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10269</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11063: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11063</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12302: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12302</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4773: Gir Linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4773</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TunnelløpUtenTrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BetongutstøpingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Betongutstøping"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="PosisjonType">
    <annotation>
      <documentation>1650: Angir posisjon til vegobjektet i samleobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1650</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1650</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Posisjon</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PosisjonEnumerationType nvdb:PosisjonOtherType"/>
  </simpleType>
  <simpleType name="PosisjonEnumerationType">
    <annotation>
      <documentation>1650: Angir posisjon til vegobjektet i samleobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1650</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1650</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Posisjon</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hele profilet">
        <annotation>
          <documentation>3294: Hele profilet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3294</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hele profilet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Himling">
        <annotation>
          <documentation>3296: Himling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3296</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Himling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Såle">
        <annotation>
          <documentation>3302: Såle</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3302</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Såle</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PosisjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
