GML/PS/OLFV_NV/2.33/819.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" version="2.33">
  <annotation>
    <documentation>819: Tavle/skap/koblingsboks/punkt hvor strøm fordeles til teknisk utstyr. Benyttes bl.a. i forbindelse med tunnelutstyr.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierFordelingType">
    <annotation>
      <documentation>10076: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierFordelingEnumerationType nvdb:EierFordelingOtherType"/>
  </simpleType>
  <simpleType name="EierFordelingEnumerationType">
    <annotation>
      <documentation>10076: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>16583: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16583</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18623: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18623</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>16584: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16584</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16585: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16585</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16586: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16586</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17634: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Fordeling" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:FordelingType">
    <annotation>
      <documentation>819: Tavle/skap/koblingsboks/punkt hvor strøm fordeles til teknisk utstyr. Benyttes bl.a. i forbindelse med tunnelutstyr.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">819</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fordeling</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FordelingType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="typeFordeling" type="nvdb:TypeFordelingType">
            <annotation>
              <documentation>9327: Angir hvilken type fordeling enheten er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type fordeling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="plassering" type="nvdb:PlasseringFordelingType">
            <annotation>
              <documentation>10065: Angir hvor vegobjektet er plassert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallKurser" type="integer">
            <annotation>
              <documentation>10052: Antall faktiske kurser ut fra fordeling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10052</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall kurser</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overspenningsvernType" type="string">
            <annotation>
              <documentation>10062: Angir produsent og typebetegnelse for eventuelt overspenningsvern.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10062</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overspenningsvern type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overbelastningsvernType" type="string">
            <annotation>
              <documentation>10061: Angir produsent og typebetegnelse for eventuelt overbelastningsvern.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10061</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overbelastningsvern type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overbelastningsvernStørrelse" type="integer">
            <annotation>
              <documentation>10060: Angir størrelse på eventuelt overbelastningsvern.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10060</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overbelastningsvern størrelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kjølingType" type="string">
            <annotation>
              <documentation>10059: Angir fabrikat og type for eventuell kjøling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10059</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kjøling type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10053: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10053</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>10054: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10054</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11158: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11158</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12415: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12415</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierFordelingType">
            <annotation>
              <documentation>10076: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10076</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>9328: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9328</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertElektriskAnlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:ElektriskAnlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FordelingPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fordeling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="PlasseringFordelingType">
    <annotation>
      <documentation>10065: Angir hvor vegobjektet er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringFordelingEnumerationType nvdb:PlasseringFordelingOtherType"/>
  </simpleType>
  <simpleType name="PlasseringFordelingEnumerationType">
    <annotation>
      <documentation>10065: Angir hvor vegobjektet er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10065</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ute">
        <annotation>
          <documentation>16438: Fordelingstavle er plassert utendørs i det fri.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16438</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ute</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I tunnelrommet">
        <annotation>
          <documentation>16439: Fordelingstavle er plassert i selve tunnelrommet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16439</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I tunnelrommet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I bygg/rom">
        <annotation>
          <documentation>16440: Fordelingstavle er plassert i et bygg/rom/kiosk med dør adskilt fra det fri/tunnelrommet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I bygg/rom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFordelingType">
    <annotation>
      <documentation>9327: Angir hvilken type fordeling enheten er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type fordeling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeFordelingEnumerationType nvdb:TypeFordelingOtherType"/>
  </simpleType>
  <simpleType name="TypeFordelingEnumerationType">
    <annotation>
      <documentation>9327: Angir hvilken type fordeling enheten er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9327</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type fordeling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hovedfordeling">
        <annotation>
          <documentation>13014: Hovedfordeling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13014</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hovedfordeling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Underfordeling">
        <annotation>
          <documentation>13015: Underfordeling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Underfordeling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tilknytningsskap">
        <annotation>
          <documentation>21786: Tilknytningsskap</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21786</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tilknytningsskap</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFordelingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
