GML/PS/OLFV_NV/2.33/823.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" version="2.33">
  <annotation>
    <documentation>823: Strekning mellom to ATK-punkt hvor det gjennomføres automatisk trafikkontroll (ATK) av gjennomsnittsfarten på passerende kjøretøy.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="KontrollretningType">
    <annotation>
      <documentation>9519: Angir i hvilken kjøreretning det blir gjort trafikkontroll.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9519</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9519</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kontrollretning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KontrollretningEnumerationType nvdb:KontrollretningOtherType"/>
  </simpleType>
  <simpleType name="KontrollretningEnumerationType">
    <annotation>
      <documentation>9519: Angir i hvilken kjøreretning det blir gjort trafikkontroll.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9519</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9519</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kontrollretning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Med metreringsretning">
        <annotation>
          <documentation>13436: Det blir foretatt måling i samme retning som metreringsretning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13436</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Med metreringsretning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mot metreringsretning">
        <annotation>
          <documentation>13437: Det blir foretatt måling i motsatt retning av metreringsretning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13437</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mot metreringsretning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KontrollretningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Streknings_ATK" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Streknings_ATKType">
    <annotation>
      <documentation>823: Strekning mellom to ATK-punkt hvor det gjennomføres automatisk trafikkontroll (ATK) av gjennomsnittsfarten på passerende kjøretøy.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">823</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">823</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Streknings-ATK</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Streknings_ATKType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="navn" type="string">
            <annotation>
              <documentation>9520: Gir navn på strekningen. F.eks. fra - til.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9520</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="idNummer" type="string">
            <annotation>
              <documentation>12510: Id-nummer fra ATK-registeret.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12510</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Id nummer</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kontrollretning" type="nvdb:KontrollretningType">
            <annotation>
              <documentation>9519: Angir i hvilken kjøreretning det blir gjort trafikkontroll.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9519</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kontrollretning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string">
            <annotation>
              <documentation>9341: Varig informasjon knyttet til vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9341</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Merknad</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10365: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10365</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11476: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11476</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12416: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12416</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="2" minOccurs="0" name="assosiertATK_Punkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:ATK_Punkt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Streknings_ATKPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Streknings_ATK"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
