GML/PS/OLFV_NV/2.33/897.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.33" version="2.33">
  <annotation>
    <documentation>897: Område hvor det er foretatt stabilisering av jordart ved nedboring av kalksementpeler.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierKalksementpelerType">
    <annotation>
      <documentation>10801: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10801</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10801</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierKalksementpelerEnumerationType nvdb:EierKalksementpelerOtherType"/>
  </simpleType>
  <simpleType name="EierKalksementpelerEnumerationType">
    <annotation>
      <documentation>10801: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10801</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10801</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>17555: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17555</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18661: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18661</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>17554: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17554</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>17556: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17556</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>17557: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17557</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17644: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17644</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKalksementpelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kalksementpeler" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:KalksementpelerType">
    <annotation>
      <documentation>897: Område hvor det er foretatt stabilisering av jordart ved nedboring av kalksementpeler.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">897</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">897</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kalksementpeler</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KalksementpelerType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="mønster" type="nvdb:MønsterType">
            <annotation>
              <documentation>10786: Angir hvordan pelene er plassert i forhold til hverandre.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10786</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Mønster</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="dybdeTilBunn" type="integer">
            <annotation>
              <documentation>10787: Angir gjennomsnittlig dybde til underkant av stabilisert område.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10787</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dybde til bunn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="dybdeTilTopp" type="integer">
            <annotation>
              <documentation>10788: Angir gjennomsnittlig dybde til overkant av stabilisert område.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10788</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dybde til topp</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="areal" type="integer">
            <annotation>
              <documentation>11371: Angir areal av stabilisert området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11371</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>11372: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11372</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11178: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11178</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12438: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12438</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKalksementpelerType">
            <annotation>
              <documentation>10801: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10801</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligKalksementpelerType">
            <annotation>
              <documentation>10802: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10802</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10789: Gir flate/polygon som avgrenser område med kalksementpeler.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10789</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KalksementpelerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kalksementpeler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MønsterType">
    <annotation>
      <documentation>10786: Angir hvordan pelene er plassert i forhold til hverandre.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10786</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10786</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Mønster</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MønsterEnumerationType nvdb:MønsterOtherType"/>
  </simpleType>
  <simpleType name="MønsterEnumerationType">
    <annotation>
      <documentation>10786: Angir hvordan pelene er plassert i forhold til hverandre.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10786</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10786</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Mønster</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Enkeltpeler">
        <annotation>
          <documentation>17535: Peler står ikke i spesielt mønster.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17535</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enkeltpeler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Enkel ribbe">
        <annotation>
          <documentation>17536: Peler står på rekke etter hverandre.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17536</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Enkel ribbe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Dobbel ribbe">
        <annotation>
          <documentation>17537: To ribber som står ved siden av hverandre.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17537</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dobbel ribbe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Blokk">
        <annotation>
          <documentation>17538: Peler plassert i rutenett innenfor et avgrensa område.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17538</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Blokk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MønsterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKalksementpelerType">
    <annotation>
      <documentation>10802: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10802</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10802</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligKalksementpelerEnumerationType nvdb:VedlikeholdsansvarligKalksementpelerOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKalksementpelerEnumerationType">
    <annotation>
      <documentation>10802: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10802</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10802</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>17558: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17558</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18706: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18706</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20005: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20005</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18835: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18835</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>17559: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17559</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>17560: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17560</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17789: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17789</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKalksementpelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
