GML/PS/OLFV_NV/2.29/26.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.29" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.29" version="2.29">
  <annotation>
    <documentation>26: Utstyr satt opp på f.eks. rasteplasser brukt til lek mm</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierLekeapparatType">
    <annotation>
      <documentation>5817: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5817</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5817</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierLekeapparatEnumerationType nvdb:EierLekeapparatOtherType"/>
  </simpleType>
  <simpleType name="EierLekeapparatEnumerationType">
    <annotation>
      <documentation>5817: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5817</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5817</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>8212: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8212</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18594: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18594</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10704: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10704</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>8238: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8238</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>8264: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8264</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17601: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17601</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierLekeapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FastmontertType">
    <annotation>
      <documentation>9452: Angir om lekeapparatet er fastmontert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9452</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9452</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fastmontert</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FastmontertEnumerationType nvdb:FastmontertOtherType"/>
  </simpleType>
  <simpleType name="FastmontertEnumerationType">
    <annotation>
      <documentation>9452: Angir om lekeapparatet er fastmontert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9452</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9452</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fastmontert</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13317: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13317</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13318: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13318</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FastmontertOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Lekeapparat" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:LekeapparatType">
    <annotation>
      <documentation>26: Utstyr satt opp på f.eks. rasteplasser brukt til lek mm</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">26</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">26</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lekeapparat</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LekeapparatType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeLekeapparatType">
            <annotation>
              <documentation>1107: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1107</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fastmontert" type="nvdb:FastmontertType">
            <annotation>
              <documentation>9452: Angir om lekeapparatet er fastmontert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9452</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fastmontert</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materialtype" type="nvdb:MaterialtypeLekeapparatType">
            <annotation>
              <documentation>9453: Angir primær materialtype for vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9453</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overflatebehandling" type="nvdb:OverflatebehandlingLekeapparatType">
            <annotation>
              <documentation>9454: Angir hvordan vegobjektet er overflatebehandlet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9454</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="underlag" type="nvdb:UnderlagType">
            <annotation>
              <documentation>1740: Angir hvilket underlag der er i tilknytning til lekeapparatet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1740</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Underlag</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10321: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10321</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11043: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11043</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12278: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12278</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierLekeapparatType">
            <annotation>
              <documentation>5817: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5817</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligLekeapparatType">
            <annotation>
              <documentation>8051: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8051</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4734: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4734</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRasteplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Rasteplass</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LekeapparatPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Lekeapparat"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaterialtypeLekeapparatType">
    <annotation>
      <documentation>9453: Angir primær materialtype for vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9453</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9453</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeLekeapparatEnumerationType nvdb:MaterialtypeLekeapparatOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeLekeapparatEnumerationType">
    <annotation>
      <documentation>9453: Angir primær materialtype for vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9453</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9453</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tre">
        <annotation>
          <documentation>13323: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13323</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>13322: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13322</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metall">
        <annotation>
          <documentation>13321: Metall</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13321</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>13319: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13319</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glassfiber">
        <annotation>
          <documentation>13320: Glassfiber</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13320</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glassfiber</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeLekeapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingLekeapparatType">
    <annotation>
      <documentation>9454: Angir hvordan vegobjektet er overflatebehandlet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9454</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9454</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OverflatebehandlingLekeapparatEnumerationType nvdb:OverflatebehandlingLekeapparatOtherType"/>
  </simpleType>
  <simpleType name="OverflatebehandlingLekeapparatEnumerationType">
    <annotation>
      <documentation>9454: Angir hvordan vegobjektet er overflatebehandlet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9454</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9454</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Malt">
        <annotation>
          <documentation>13324: Malt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13324</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Beiset">
        <annotation>
          <documentation>13325: Beiset</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13325</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Impregnert">
        <annotation>
          <documentation>13326: Impregnert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13326</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Impregnert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oljet">
        <annotation>
          <documentation>13327: Oljet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13327</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oljet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lakkert">
        <annotation>
          <documentation>13328: Lakkert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13328</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lakkert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Emaljert">
        <annotation>
          <documentation>13329: Emaljert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13329</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Emaljert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen overflatebehandling">
        <annotation>
          <documentation>19081: Ingen overflatebehandling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19081</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen overflatebehandling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingLekeapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeLekeapparatType">
    <annotation>
      <documentation>1107: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeLekeapparatEnumerationType nvdb:TypeLekeapparatOtherType"/>
  </simpleType>
  <simpleType name="TypeLekeapparatEnumerationType">
    <annotation>
      <documentation>1107: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1107</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Huske">
        <annotation>
          <documentation>2507: Huske</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2507</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Huske</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sandkasse">
        <annotation>
          <documentation>2508: Sandkasse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2508</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sandkasse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vippe">
        <annotation>
          <documentation>2509: Vippe</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2509</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vippe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lekehus">
        <annotation>
          <documentation>2510: Lekehus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2510</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lekehus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rutsjebane">
        <annotation>
          <documentation>2511: Rutsjebane</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2511</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rutsjebane</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Minigolf">
        <annotation>
          <documentation>2512: Minigolf</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2512</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Minigolf</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Klatrestativ">
        <annotation>
          <documentation>9821: Klatrestativ</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9821</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Klatrestativ</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeLekeapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UnderlagType">
    <annotation>
      <documentation>1740: Angir hvilket underlag der er i tilknytning til lekeapparatet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1740</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1740</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Underlag</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UnderlagEnumerationType nvdb:UnderlagOtherType"/>
  </simpleType>
  <simpleType name="UnderlagEnumerationType">
    <annotation>
      <documentation>1740: Angir hvilket underlag der er i tilknytning til lekeapparatet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1740</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1740</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Underlag</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Asfalt/stein/betong">
        <annotation>
          <documentation>3818: Asfalt/stein/betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3818</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt/stein/betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gummimatte">
        <annotation>
          <documentation>13330: Gummimatte</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13330</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gummimatte</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sand/gress">
        <annotation>
          <documentation>2087: Sand/gress</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2087</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sand/gress</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>4016: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4016</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UnderlagOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLekeapparatType">
    <annotation>
      <documentation>8051: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8051</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8051</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligLekeapparatEnumerationType nvdb:VedlikeholdsansvarligLekeapparatOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLekeapparatEnumerationType">
    <annotation>
      <documentation>8051: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8051</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8051</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10445: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10445</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18681: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18681</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19921: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19921</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18810: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18810</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10523: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10523</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10601: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10601</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17704: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17704</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligLekeapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
