GML/PS/OLFV_NV/2.29/472.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.29" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.29" version="2.29">
  <annotation>
    <documentation>472: System for innhenting og videreformidling av radiosignal feks i tunnel.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DABLokalType">
    <annotation>
      <documentation>10794: Angir om det er DAB lokal.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10794</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10794</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">DAB Lokal</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DABLokalEnumerationType nvdb:DABLokalOtherType"/>
  </simpleType>
  <simpleType name="DABLokalEnumerationType">
    <annotation>
      <documentation>10794: Angir om det er DAB lokal.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10794</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10794</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">DAB Lokal</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>17543: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17543</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>17544: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17544</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DABLokalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DABRegionalType">
    <annotation>
      <documentation>10793: Angir om det er DAB Reginal.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10793</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10793</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">DAB Regional</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DABRegionalEnumerationType nvdb:DABRegionalOtherType"/>
  </simpleType>
  <simpleType name="DABRegionalEnumerationType">
    <annotation>
      <documentation>10793: Angir om det er DAB Reginal.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10793</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10793</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">DAB Regional</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>17545: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17545</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>17546: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17546</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DABRegionalOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DABRiksType">
    <annotation>
      <documentation>10792: Angir om det er DAB Riks.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10792</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10792</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">DAB Riks</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DABRiksEnumerationType nvdb:DABRiksOtherType"/>
  </simpleType>
  <simpleType name="DABRiksEnumerationType">
    <annotation>
      <documentation>10792: Angir om det er DAB Riks.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10792</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10792</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">DAB Riks</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>17547: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17547</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>17548: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17548</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DABRiksOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierRadioanleggType">
    <annotation>
      <documentation>11979: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11979</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11979</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierRadioanleggEnumerationType nvdb:EierRadioanleggOtherType"/>
  </simpleType>
  <simpleType name="EierRadioanleggEnumerationType">
    <annotation>
      <documentation>11979: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11979</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11979</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20575: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20575</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20576: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20576</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20577: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20577</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20578: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20578</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20579: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20579</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20580: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20580</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierRadioanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KringkastingType">
    <annotation>
      <documentation>10795: Angir om det er kringkasting.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10795</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10795</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kringkasting</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KringkastingEnumerationType nvdb:KringkastingOtherType"/>
  </simpleType>
  <simpleType name="KringkastingEnumerationType">
    <annotation>
      <documentation>10795: Angir om det er kringkasting.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10795</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10795</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kringkasting</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>17541: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17541</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>17542: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17542</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KringkastingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="NødnettType">
    <annotation>
      <documentation>10796: Angir om det er nødnett.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10796</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10796</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nødnett</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:NødnettEnumerationType nvdb:NødnettOtherType"/>
  </simpleType>
  <simpleType name="NødnettEnumerationType">
    <annotation>
      <documentation>10796: Angir om det er nødnett.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10796</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10796</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nødnett</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>17539: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17539</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>17540: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17540</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NødnettOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Radioanlegg" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:RadioanleggType">
    <annotation>
      <documentation>472: System for innhenting og videreformidling av radiosignal feks i tunnel.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">472</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">472</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Radioanlegg</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RadioanleggType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="nødnett" type="nvdb:NødnettType">
            <annotation>
              <documentation>10796: Angir om det er nødnett.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10796</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Nødnett</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kringkasting" type="nvdb:KringkastingType">
            <annotation>
              <documentation>10795: Angir om det er kringkasting.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10795</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kringkasting</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="DABRiks" type="nvdb:DABRiksType">
            <annotation>
              <documentation>10792: Angir om det er DAB Riks.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10792</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">DAB Riks</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="DABRegional" type="nvdb:DABRegionalType">
            <annotation>
              <documentation>10793: Angir om det er DAB Reginal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10793</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">DAB Regional</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="DABLokal" type="nvdb:DABLokalType">
            <annotation>
              <documentation>10794: Angir om det er DAB lokal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10794</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">DAB Lokal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10791: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10791</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11133: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11133</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12380: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12380</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierRadioanleggType">
            <annotation>
              <documentation>11979: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11979</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligRadioanleggType">
            <annotation>
              <documentation>12008: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12008</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4989: Gir punkt som geometrisk representerer objektet. Der RSEN er plassert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4989</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RadioanleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Radioanlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligRadioanleggType">
    <annotation>
      <documentation>12008: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12008</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12008</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligRadioanleggEnumerationType nvdb:VedlikeholdsansvarligRadioanleggOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRadioanleggEnumerationType">
    <annotation>
      <documentation>12008: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12008</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12008</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>20763: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20763</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>20764: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20764</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20765: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20765</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>20766: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20766</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20767: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20767</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20768: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20768</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20769: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20769</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligRadioanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
