GML/PS/OLFV_NV/2.29/73.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.29" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.29" version="2.29">
  <annotation>
    <documentation>73: Fjellbolt brukt i forbindelse med sikring av bergskjæring/tunnel</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="PlasseringSikringsboltType">
    <annotation>
      <documentation>1652: Angir plassering til vegobjektet i samleobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1652</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1652</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringSikringsboltEnumerationType nvdb:PlasseringSikringsboltOtherType"/>
  </simpleType>
  <simpleType name="PlasseringSikringsboltEnumerationType">
    <annotation>
      <documentation>1652: Angir plassering til vegobjektet i samleobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1652</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1652</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Heng">
        <annotation>
          <documentation>3300: Sikring plassert  i heng i tunnelløp</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3300</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Heng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Venstre vegg">
        <annotation>
          <documentation>3306: Sikring plassert på venstre vegg (i forhold til vegens metreringsretning)  i tunnelløp</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3306</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Venstre vegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Høyre vegg">
        <annotation>
          <documentation>3309: Sikring plassert på høyre vegg (i forhold til vegens metreringsretning)  i tunnelløp.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3309</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Høyre vegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skjæring i dagen">
        <annotation>
          <documentation>17443: Skjæring i dagen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17443</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skjæring i dagen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringSikringsboltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Sikringsbolt" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SikringsboltType">
    <annotation>
      <documentation>73: Fjellbolt brukt i forbindelse med sikring av bergskjæring/tunnel</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">73</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">73</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sikringsbolt</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SikringsboltType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="antall" type="integer">
            <annotation>
              <documentation>2197: Vegobjektet kan representere flere forekomster (enkeltbolter). Det angis her hvor mange forekomster dette vegobjektet representerer. De enkelte forekomster som grupperes skal ha felles egenskaper, dvs samme type, lengde bolt, diameter osv.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2197</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="diameter" type="integer">
            <annotation>
              <documentation>1722: Angir diameter av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1722</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Diameter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lengdeBolt" type="double">
            <annotation>
              <documentation>1319: Angir lengde av sikringsbolt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1319</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde bolt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeSikringsboltType">
            <annotation>
              <documentation>1134: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1134</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn" type="string">
            <annotation>
              <documentation>3782: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3782</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11065: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11065</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12304: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12304</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>5898: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5898</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="plassering" type="nvdb:PlasseringSikringsboltType">
            <annotation>
              <documentation>1652: Angir plassering til vegobjektet i samleobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1652</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBergsikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Bergsikring</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SikringsboltPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sikringsbolt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSikringsboltType">
    <annotation>
      <documentation>1134: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1134</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1134</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSikringsboltEnumerationType nvdb:TypeSikringsboltOtherType"/>
  </simpleType>
  <simpleType name="TypeSikringsboltEnumerationType">
    <annotation>
      <documentation>1134: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1134</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1134</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Innstøpt bolt av kamstål">
        <annotation>
          <documentation>3311: Innstøpt bolt av kamstål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3311</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Innstøpt bolt av kamstål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Endeforankret bolt m/polyester">
        <annotation>
          <documentation>3312: Endeforankret bolt m/polyester</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3312</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Endeforankret bolt m/polyester</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rørbolt, endeforankret m/ekspansjonshylse">
        <annotation>
          <documentation>3313: Rørbolt, endeforankret m/ekspansjonshylse</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3313</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rørbolt, endeforankret m/ekspansjonshylse</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spesial">
        <annotation>
          <documentation>18543: Benyttes om bolter som ikke kommer i noen av de øvrige kategoriene. Det skal legges inn informasjon under egenskap "Produktinformajson"</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18543</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesial</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSikringsboltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
