GML/PS/OLFV_NV/2.29/844.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.29" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.29" version="2.29">
  <annotation>
    <documentation>844: Grøft som fører vann fra topp skjæring ned til kum/stikkrenne</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Nedføringsrenne" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:NedføringsrenneType">
    <annotation>
      <documentation>844: Grøft som fører vann fra topp skjæring ned til kum/stikkrenne</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">844</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">844</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nedføringsrenne</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NedføringsrenneType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NedføringsrennePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Nedføringsrenne"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
