GML/PS/OLFV_NV/2.29/845.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.29" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.29" version="2.29">
  <annotation>
    <documentation>845: Gjerde som settes opp for å fange opp steinsprang eller mindre skred</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstFanggjerdeType">
    <annotation>
      <documentation>9602: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9602</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9602</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AdkomstFanggjerdeEnumerationType nvdb:AdkomstFanggjerdeOtherType"/>
  </simpleType>
  <simpleType name="AdkomstFanggjerdeEnumerationType">
    <annotation>
      <documentation>9602: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9602</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9602</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bil">
        <annotation>
          <documentation>19822: Adkomst er mulig med bil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19822</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hjullaster">
        <annotation>
          <documentation>13816: Adkomst er mulig med hjullaster.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hjullaster</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gravemaskin">
        <annotation>
          <documentation>13817: Adkomst for gravemaskin</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13817</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gravemaskin</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Til fots">
        <annotation>
          <documentation>13818: Adkomst til fots</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13818</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Til fots</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kran">
        <annotation>
          <documentation>13819: Adkomst for kran</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13819</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kran</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tau">
        <annotation>
          <documentation>13820: Adkomt med tau</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13820</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tau</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Helikopter">
        <annotation>
          <documentation>13821: Adkomst for helikopter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13821</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helikopter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstFanggjerdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierFanggjerdeType">
    <annotation>
      <documentation>9643: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierFanggjerdeEnumerationType nvdb:EierFanggjerdeOtherType"/>
  </simpleType>
  <simpleType name="EierFanggjerdeEnumerationType">
    <annotation>
      <documentation>9643: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>13869: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13869</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18654: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18654</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>13870: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13870</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>13871: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13871</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13872: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13872</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17621: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17621</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierFanggjerdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Fanggjerde" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:FanggjerdeType">
    <annotation>
      <documentation>845: Gjerde som settes opp for å fange opp steinsprang eller mindre skred</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">845</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">845</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fanggjerde</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FanggjerdeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>9597: Angir total lengde av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9597</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høyde" type="double">
            <annotation>
              <documentation>9598: Angir egen-høyde av vegobjektet uavhengig av hvilken vinkel det står i.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9598</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="styrke" type="integer">
            <annotation>
              <documentation>9599: Energimengden fanggjerdet er kontruert for å motstå.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9599</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Styrke</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="gjennomsnittligAvstandFraVeg" type="integer">
            <annotation>
              <documentation>9600: Gjennomsnittlig avstand fra vegkant til vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9600</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjennomsnittlig avstand fra veg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="helningsvinkelGjerde" type="integer">
            <annotation>
              <documentation>9601: Helningsgrad for vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9601</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Helningsvinkel gjerde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="adkomst" type="nvdb:AdkomstFanggjerdeType">
            <annotation>
              <documentation>9602: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9602</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>9606: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9606</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent" type="nvdb:ProdusentType">
            <annotation>
              <documentation>9642: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9642</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9876: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9876</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11161: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11161</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12420: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12420</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierFanggjerdeType">
            <annotation>
              <documentation>9643: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9643</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligFanggjerdeType">
            <annotation>
              <documentation>9644: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9644</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9604: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9604</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FanggjerdePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fanggjerde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ProdusentType">
    <annotation>
      <documentation>9642: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9642</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9642</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProdusentEnumerationType nvdb:ProdusentOtherType"/>
  </simpleType>
  <simpleType name="ProdusentEnumerationType">
    <annotation>
      <documentation>9642: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9642</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9642</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Avaroc">
        <annotation>
          <documentation>13863: Avaroc</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13863</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avaroc</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="El Montagne">
        <annotation>
          <documentation>13864: El Montagne</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13864</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">El Montagne</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Geobrügg">
        <annotation>
          <documentation>13865: Geobrügg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13865</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Geobrügg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Isofer">
        <annotation>
          <documentation>13866: Isofer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13866</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Isofer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trumer Schutzbauten">
        <annotation>
          <documentation>13868: Trumer Schutzbauten</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13868</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trumer Schutzbauten</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Maccaferri">
        <annotation>
          <documentation>13867: Maccaferri</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13867</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Maccaferri</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProdusentOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFanggjerdeType">
    <annotation>
      <documentation>9644: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligFanggjerdeEnumerationType nvdb:VedlikeholdsansvarligFanggjerdeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFanggjerdeEnumerationType">
    <annotation>
      <documentation>9644: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9644</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>13873: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13873</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18672: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18672</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19987: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19987</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18801: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18801</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>13874: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13874</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13875: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13875</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17775: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17775</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFanggjerdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
