GML/PS/OLFV_NV/2.29/930.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.29" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.29" version="2.29">
  <annotation>
    <documentation>930: Oppfylling på opprinnelig terreng begrenset av fyllingsskråning og vegens planum.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierFylling_VolumType">
    <annotation>
      <documentation>11341: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11341</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11341</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierFylling_VolumEnumerationType nvdb:EierFylling_VolumOtherType"/>
  </simpleType>
  <simpleType name="EierFylling_VolumEnumerationType">
    <annotation>
      <documentation>11341: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11341</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11341</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>19166: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19166</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>19165: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19165</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19162: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19162</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>19163: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19163</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>19164: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19164</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>19167: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19167</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierFylling_VolumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Fylling_Volum" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Fylling_VolumType">
    <annotation>
      <documentation>930: Oppfylling på opprinnelig terreng begrenset av fyllingsskråning og vegens planum.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">930</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">930</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fylling (Volum)</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Fylling_VolumType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeFylling_VolumType">
            <annotation>
              <documentation>11399: Angir hvilken type fylling det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11399</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materiale" type="nvdb:MaterialeFylling_VolumType">
            <annotation>
              <documentation>11529: Angir hvilket materiale selve fyllingen i hovedsak er bygd opp av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11529</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fyllingssåle" type="nvdb:FyllingssåleType">
            <annotation>
              <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap 254,.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fyllingssåle</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tykkelse_Maks" type="integer">
            <annotation>
              <documentation>11531: Angir største tykkelse av fylling innenfor vegbanen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11531</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tykkelse, maks</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>11400: Angir totalt areal som blir dekket av fyllingen (bunnen av fyllingen).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11400</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11800: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11800</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12445: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12445</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierFylling_VolumType">
            <annotation>
              <documentation>11341: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11341</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligFylling_VolumType">
            <annotation>
              <documentation>11347: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11347</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>11353: Gir flate/polygon som geometrisk avgrenser opprinnelig areal som fyllingen legger beslag på.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11353</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertFyllingsskråning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Fyllingsskråning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Fylling_VolumPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fylling_Volum"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="FyllingssåleType">
    <annotation>
      <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap 254,.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fyllingssåle</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FyllingssåleEnumerationType nvdb:FyllingssåleOtherType"/>
  </simpleType>
  <simpleType name="FyllingssåleEnumerationType">
    <annotation>
      <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap 254,.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fyllingssåle</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>19595: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19595</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>19596: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>19597: Ukjent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19597</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ukjent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FyllingssåleOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeFylling_VolumType">
    <annotation>
      <documentation>11529: Angir hvilket materiale selve fyllingen i hovedsak er bygd opp av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11529</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11529</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeFylling_VolumEnumerationType nvdb:MaterialeFylling_VolumOtherType"/>
  </simpleType>
  <simpleType name="MaterialeFylling_VolumEnumerationType">
    <annotation>
      <documentation>11529: Angir hvilket materiale selve fyllingen i hovedsak er bygd opp av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11529</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11529</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Leire">
        <annotation>
          <documentation>19598: Leire</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19598</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Leire</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sand">
        <annotation>
          <documentation>19599: Sand</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19599</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sand</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus">
        <annotation>
          <documentation>19600: Grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19600</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Morenemasser">
        <annotation>
          <documentation>19609: Morenemasser</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19609</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Morenemasser</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Knust stein">
        <annotation>
          <documentation>19601: Knust stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19601</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Knust stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprengt stein">
        <annotation>
          <documentation>19602: Sprengt stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprengt stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Knust betong">
        <annotation>
          <documentation>19603: Knust betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Knust betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Blandede masser">
        <annotation>
          <documentation>19608: Blandede masser</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19608</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Blandede masser</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skumglass">
        <annotation>
          <documentation>19605: Skumglass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19605</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skumglass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lettklinker">
        <annotation>
          <documentation>19606: Lettklinker</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19606</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lettklinker</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ekspandert polysteren">
        <annotation>
          <documentation>19607: Ekspandert polysteren</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19607</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ekspandert polysteren</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen type lette masser">
        <annotation>
          <documentation>19604: Annen type lette masser</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19604</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen type lette masser</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeFylling_VolumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeFylling_VolumType">
    <annotation>
      <documentation>11399: Angir hvilken type fylling det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11399</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11399</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeFylling_VolumEnumerationType nvdb:TypeFylling_VolumOtherType"/>
  </simpleType>
  <simpleType name="TypeFylling_VolumEnumerationType">
    <annotation>
      <documentation>11399: Angir hvilken type fylling det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11399</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11399</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Hovedfylling">
        <annotation>
          <documentation>19592: Fylling i veglinja som underlag for vegkonstruksjonen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19592</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hovedfylling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Motfylling">
        <annotation>
          <documentation>19593: Masser plassert ut for å ballansere total massebelastning i tilknytning til en veg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19593</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Motfylling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Massedeponi">
        <annotation>
          <documentation>19594: Sted for lagring av masser utenfor veglinja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19594</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Massedeponi</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeFylling_VolumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFylling_VolumType">
    <annotation>
      <documentation>11347: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11347</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11347</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligFylling_VolumEnumerationType nvdb:VedlikeholdsansvarligFylling_VolumOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFylling_VolumEnumerationType">
    <annotation>
      <documentation>11347: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11347</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11347</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>19202: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19202</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>19199: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19199</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20020: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20020</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>19200: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19200</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>19198: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19198</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>19201: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19201</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>19203: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19203</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligFylling_VolumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
