GML/PS/OLFV_NV/2.31/144.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" version="2.31">
  <annotation>
    <documentation>144: Tiltak for å hindre overflateerosjon når vann strømmer over en jordflate. Omfatter dekningslag/plastringslag av stein, gradert filter, steinkurver, steinmadrasser e.a. (Definisjonsliste Statens vegvesen håndbøker)</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdePlastringErosjonssikringType">
    <annotation>
      <documentation>1277: Angir hvilken type erosjon/glidning det sikres mot.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1277</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1277</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdePlastringErosjonssikringEnumerationType nvdb:BruksområdePlastringErosjonssikringOtherType"/>
  </simpleType>
  <simpleType name="BruksområdePlastringErosjonssikringEnumerationType">
    <annotation>
      <documentation>1277: Angir hvilken type erosjon/glidning det sikres mot.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1277</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1277</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Elveerosjon">
        <annotation>
          <documentation>3280: Elveerosjon</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3280</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Elveerosjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bølgeerosjon">
        <annotation>
          <documentation>3281: Bølgeerosjon</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3281</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bølgeerosjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Overflateerosjon i skråning">
        <annotation>
          <documentation>3282: Overflateerosjon i skråning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3282</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflateerosjon i skråning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Overflateglidninger i skråning">
        <annotation>
          <documentation>3960: Overflateglidninger i skråning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3960</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overflateglidninger i skråning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdePlastringErosjonssikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierPlastringErosjonssikringType">
    <annotation>
      <documentation>8001: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8001</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8001</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierPlastringErosjonssikringEnumerationType nvdb:EierPlastringErosjonssikringOtherType"/>
  </simpleType>
  <simpleType name="EierPlastringErosjonssikringEnumerationType">
    <annotation>
      <documentation>8001: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8001</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8001</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10267: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10267</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18566: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18566</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10729: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10729</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10331: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10331</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10395: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10395</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17572: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17572</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierPlastringErosjonssikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="PlastringErosjonssikring" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:PlastringErosjonssikringType">
    <annotation>
      <documentation>144: Tiltak for å hindre overflateerosjon når vann strømmer over en jordflate. Omfatter dekningslag/plastringslag av stein, gradert filter, steinkurver, steinmadrasser e.a. (Definisjonsliste Statens vegvesen håndbøker)</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">144</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plastring/Erosjonssikring</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PlastringErosjonssikringType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdePlastringErosjonssikringType">
            <annotation>
              <documentation>1277: Angir hvilken type erosjon/glidning det sikres mot.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1277</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypePlastringErosjonssikringType">
            <annotation>
              <documentation>1171: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1171</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>11392: Angir areal av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11392</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10337: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10337</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11085: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11085</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12325: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12325</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierPlastringErosjonssikringType">
            <annotation>
              <documentation>8001: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8001</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligPlastringErosjonssikringType">
            <annotation>
              <documentation>8066: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8066</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8878: Gir flate/polygon som avgrenser område med plastring/erosjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8878</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vannoverdekning" type="nvdb:VannoverdekningType">
            <annotation>
              <documentation>1873: Angir hvor mye av konstruksjonen som er under vann.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1873</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vannoverdekning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFyllingsskråning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Fyllingsskråning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkjæring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Skjæring</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PlastringErosjonssikringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:PlastringErosjonssikring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypePlastringErosjonssikringType">
    <annotation>
      <documentation>1171: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1171</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1171</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypePlastringErosjonssikringEnumerationType nvdb:TypePlastringErosjonssikringOtherType"/>
  </simpleType>
  <simpleType name="TypePlastringErosjonssikringEnumerationType">
    <annotation>
      <documentation>1171: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1171</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1171</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Sprengt stein">
        <annotation>
          <documentation>3047: Sprengt stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3047</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprengt stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprengt stein m filterlag">
        <annotation>
          <documentation>3807: Sprengt stein m filterlag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3807</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprengt stein m filterlag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Geotekstiler">
        <annotation>
          <documentation>19230: Geotekstiler</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19230</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Geotekstiler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus/knuste masser">
        <annotation>
          <documentation>2305: Grus/knuste masser</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2305</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grus/knuste masser</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Matte av naturmateriale">
        <annotation>
          <documentation>21300: Matte som legges på skråning. Blir til jord i løpet av 1-2 sesonger. Benevnes også "Kokosmatte".</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21300</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Matte av naturmateriale</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypePlastringErosjonssikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VannoverdekningType">
    <annotation>
      <documentation>1873: Angir hvor mye av konstruksjonen som er under vann.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1873</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1873</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vannoverdekning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VannoverdekningEnumerationType nvdb:VannoverdekningOtherType"/>
  </simpleType>
  <simpleType name="VannoverdekningEnumerationType">
    <annotation>
      <documentation>1873: Angir hvor mye av konstruksjonen som er under vann.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1873</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1873</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vannoverdekning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>3525: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3525</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>3563: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3563</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Delvis">
        <annotation>
          <documentation>3806: Delvis</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3806</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Delvis</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VannoverdekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPlastringErosjonssikringType">
    <annotation>
      <documentation>8066: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8066</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8066</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligPlastringErosjonssikringEnumerationType nvdb:VedlikeholdsansvarligPlastringErosjonssikringOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPlastringErosjonssikringEnumerationType">
    <annotation>
      <documentation>8066: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8066</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8066</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10460: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10460</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18781: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18781</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19933: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19933</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18910: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18910</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10538: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10538</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10616: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10616</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17716: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17716</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPlastringErosjonssikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
