GML/PS/OLFV_NV/2.31/172.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" version="2.31">
  <annotation>
    <documentation>172: Fysisk skille mellom trafikkstrømmer (1).</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelegningTrafikkdelerType">
    <annotation>
      <documentation>2158: Angir hvilken type belegning det er på trafikkdeler.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2158</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2158</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelegningTrafikkdelerEnumerationType nvdb:BelegningTrafikkdelerOtherType"/>
  </simpleType>
  <simpleType name="BelegningTrafikkdelerEnumerationType">
    <annotation>
      <documentation>2158: Angir hvilken type belegning det er på trafikkdeler.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2158</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2158</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betong">
        <annotation>
          <documentation>5407: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5407</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, farget">
        <annotation>
          <documentation>5556: Betong, farget</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5556</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, farget</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, mønstret">
        <annotation>
          <documentation>5557: Betong, mønstret</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5557</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, mønstret</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grønt/beplantning">
        <annotation>
          <documentation>4052: Grønt/beplantning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4052</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grønt/beplantning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, mønstret og farget">
        <annotation>
          <documentation>5558: Betong, mønstret og farget</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5558</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, mønstret og farget</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongheller">
        <annotation>
          <documentation>5559: Betongheller</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5559</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongheller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein">
        <annotation>
          <documentation>7933: Betongstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7933</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Granitt">
        <annotation>
          <documentation>11233: Granitt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11233</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Granitt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skiferheller">
        <annotation>
          <documentation>11232: Skiferheller</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11232</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiferheller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein">
        <annotation>
          <documentation>4050: Stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4050</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein, faststøpt i betong">
        <annotation>
          <documentation>5561: Stein, faststøpt i betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5561</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein, faststøpt i betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein, rundstein">
        <annotation>
          <documentation>5562: Stein, rundstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5562</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein, rundstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein, brostein">
        <annotation>
          <documentation>5563: Stein, brostein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5563</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein, brostein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pukk">
        <annotation>
          <documentation>5564: Pukk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5564</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pukk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt">
        <annotation>
          <documentation>4054: Asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4054</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bark">
        <annotation>
          <documentation>4051: Bark</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4051</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bark</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningTrafikkdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTrafikkdelerType">
    <annotation>
      <documentation>1281: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1281</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1281</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeTrafikkdelerEnumerationType nvdb:BruksområdeTrafikkdelerOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeTrafikkdelerEnumerationType">
    <annotation>
      <documentation>1281: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1281</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1281</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Midtdeler">
        <annotation>
          <documentation>3215: Midtdeler</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3215</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Midtdeler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkdeler v lomme">
        <annotation>
          <documentation>3216: Trafikkdeler v lomme</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3216</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkdeler v lomme</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skille hovedveg og g/s-veg">
        <annotation>
          <documentation>3217: Skille hovedveg og g/s-veg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3217</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skille hovedveg og g/s-veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkdeler hovedveg/lokalveg">
        <annotation>
          <documentation>3218: Trafikkdeler hovedveg/lokalveg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3218</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkdeler hovedveg/lokalveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkdeler mellom parallelle strømmer">
        <annotation>
          <documentation>3914: Trafikkdeler mellom parallelle strømmer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3914</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkdeler mellom parallelle strømmer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTrafikkdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierTrafikkdelerType">
    <annotation>
      <documentation>11971: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11971</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11971</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierTrafikkdelerEnumerationType nvdb:EierTrafikkdelerOtherType"/>
  </simpleType>
  <simpleType name="EierTrafikkdelerEnumerationType">
    <annotation>
      <documentation>11971: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11971</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11971</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20527: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20527</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20528: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20528</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20529: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20529</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20530: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20530</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20531: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20531</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20532: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20532</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTrafikkdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MøtefriVegType">
    <annotation>
      <documentation>9499: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen. Med møtefri veg menes at det er rekkverk eller tilsvarende som hindrer kjøretøy å komme over i motgående kjørefelt. Veg med trafikkdeler (midtdeler) over 7 meter regnes s</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9499</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9499</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Møtefri veg</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MøtefriVegEnumerationType nvdb:MøtefriVegOtherType"/>
  </simpleType>
  <simpleType name="MøtefriVegEnumerationType">
    <annotation>
      <documentation>9499: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen. Med møtefri veg menes at det er rekkverk eller tilsvarende som hindrer kjøretøy å komme over i motgående kjørefelt. Veg med trafikkdeler (midtdeler) over 7 meter regnes s</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9499</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9499</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Møtefri veg</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>13382: "Ja" hvis trafikkdeler har fysisk hinder som rekkverk, etc, eller er bredere enn 7 meter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13382</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>13383: "Nei" hvis det er kun forhøyet med kantstein, adskilt med gjerde etc.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13383</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MøtefriVegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkdeler" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrafikkdelerType">
    <annotation>
      <documentation>172: Fysisk skille mellom trafikkstrømmer (1).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">172</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">172</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkdeler</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkdelerType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeTrafikkdelerType">
            <annotation>
              <documentation>1281: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1281</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="møtefriVeg" type="nvdb:MøtefriVegType">
            <annotation>
              <documentation>9499: Angir om trafikkdeler er utformet slik at det kan regnes møtefri veg på strekningen. Med møtefri veg menes at det er rekkverk eller tilsvarende som hindrer kjøretøy å komme over i motgående kjørefelt. Veg med trafikkdeler (midtdeler) over 7 meter regnes som møtefri selv om det ikke er fysisk hinder.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9499</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Møtefri veg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="belegning" type="nvdb:BelegningTrafikkdelerType">
            <annotation>
              <documentation>2158: Angir hvilken type belegning det er på trafikkdeler.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2158</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bredde" type="double">
            <annotation>
              <documentation>2243: Angir standardbredde av trafikkdeleren, det vil si den bredden som er mest representativ.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2243</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10376: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10376</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11093: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11093</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12334: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12334</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTrafikkdelerType">
            <annotation>
              <documentation>11971: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11971</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTrafikkdelerType">
            <annotation>
              <documentation>8073: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8073</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4834: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4834</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrær" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trær</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertRekkverk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Rekkverk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKryssingsmulighetÅpning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:KryssingsmulighetÅpning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKantstein" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kantstein</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGrøft_Åpen" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Grøft_Åpen</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGrasdekker" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Grasdekker</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGjerde" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Gjerde</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBusker" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Busker</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBlomsterbeplantning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Blomsterbeplantning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkdelerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkdeler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligTrafikkdelerType">
    <annotation>
      <documentation>8073: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8073</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8073</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrafikkdelerEnumerationType nvdb:VedlikeholdsansvarligTrafikkdelerOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkdelerEnumerationType">
    <annotation>
      <documentation>8073: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8073</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8073</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10467: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10467</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18752: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18752</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19939: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19939</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18881: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18881</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10545: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10545</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10623: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10623</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17722: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17722</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkdelerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
