GML/PS/OLFV_NV/2.31/278.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" version="2.31">
  <annotation>
    <documentation>278: Anlegg for å ventilere tunneler. Det skal være registrert ett ventilasjonsanlegg per tunnelløp der det er ventilasjon. Merknad: Vegobjekttype skal ikke benyttes for ventilasjonsanlegg i bygninger/tekniske rom.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierVentilasjonsanleggType">
    <annotation>
      <documentation>8015: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8015</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8015</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierVentilasjonsanleggEnumerationType nvdb:EierVentilasjonsanleggOtherType"/>
  </simpleType>
  <simpleType name="EierVentilasjonsanleggEnumerationType">
    <annotation>
      <documentation>8015: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8015</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8015</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10281: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10281</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18578: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18578</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10743: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10743</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10345: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10345</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10409: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10409</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17590: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17590</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVentilasjonsanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LokalStyringType">
    <annotation>
      <documentation>3694: Angir om det er mulighet for lokal styring. Lokal styring vil si styring fra nødstyreskap.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3694</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3694</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lokal styring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LokalStyringEnumerationType nvdb:LokalStyringOtherType"/>
  </simpleType>
  <simpleType name="LokalStyringEnumerationType">
    <annotation>
      <documentation>3694: Angir om det er mulighet for lokal styring. Lokal styring vil si styring fra nødstyreskap.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3694</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3694</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lokal styring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4752: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4752</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4753: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4753</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LokalStyringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StyringFraVTSVentilasjonsanleggType">
    <annotation>
      <documentation>3757: Angir om det er mulig å styre anlegg fra VTS.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3757</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3757</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Styring fra VTS</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StyringFraVTSVentilasjonsanleggEnumerationType nvdb:StyringFraVTSVentilasjonsanleggOtherType"/>
  </simpleType>
  <simpleType name="StyringFraVTSVentilasjonsanleggEnumerationType">
    <annotation>
      <documentation>3757: Angir om det er mulig å styre anlegg fra VTS.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3757</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3757</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Styring fra VTS</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4756: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4756</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4757: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4757</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StyringFraVTSVentilasjonsanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVentilasjonsanleggType">
    <annotation>
      <documentation>3822: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3822</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3822</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligVentilasjonsanleggEnumerationType nvdb:VedlikeholdsansvarligVentilasjonsanleggOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVentilasjonsanleggEnumerationType">
    <annotation>
      <documentation>3822: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3822</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3822</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>4864: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4864</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18703: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18703</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19900: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19900</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18832: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>4865: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4865</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17678: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17678</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligVentilasjonsanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Ventilasjonsanlegg" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VentilasjonsanleggType">
    <annotation>
      <documentation>278: Anlegg for å ventilere tunneler. Det skal være registrert ett ventilasjonsanlegg per tunnelløp der det er ventilasjon. Merknad: Vegobjekttype skal ikke benyttes for ventilasjonsanlegg i bygninger/tekniske rom.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">278</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">278</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ventilasjonsanlegg</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VentilasjonsanleggType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="styringFraVTS" type="nvdb:StyringFraVTSVentilasjonsanleggType">
            <annotation>
              <documentation>3757: Angir om det er mulig å styre anlegg fra VTS.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3757</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Styring fra VTS</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lokalStyring" type="nvdb:LokalStyringType">
            <annotation>
              <documentation>3694: Angir om det er mulighet for lokal styring. Lokal styring vil si styring fra nødstyreskap.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3694</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lokal styring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10400: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10400</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11113: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11113</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12356: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12356</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVentilasjonsanleggType">
            <annotation>
              <documentation>8015: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8015</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligVentilasjonsanleggType">
            <annotation>
              <documentation>3822: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3822</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8933: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8933</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVifteVentilator" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:VifteVentilator</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VentilasjonsanleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Ventilasjonsanlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
