GML/PS/OLFV_NV/2.31/542.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" version="2.31">
  <annotation>
    <documentation>542: En energiabsorberende sikkerhetskonstruksjon som over kort avstand skal bremse et kjøretøy ved frontkollisjon eller sidekollisjon, eller lede det forbi faremomentet. Kilde: Rekkverksnormal.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierStøtputeType">
    <annotation>
      <documentation>8042: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8042</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8042</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierStøtputeEnumerationType nvdb:EierStøtputeOtherType"/>
  </simpleType>
  <simpleType name="EierStøtputeEnumerationType">
    <annotation>
      <documentation>8042: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8042</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8042</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10308: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10308</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18658: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18658</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10769: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10769</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10372: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10372</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10436: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10436</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17659: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17659</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierStøtputeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningStøtputeType">
    <annotation>
      <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8395</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8395</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Produktnavn/typegodkjenning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProduktnavnTypegodkjenningStøtputeEnumerationType nvdb:ProduktnavnTypegodkjenningStøtputeOtherType"/>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningStøtputeEnumerationType">
    <annotation>
      <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8395</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8395</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Produktnavn/typegodkjenning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="APM 50 - S50">
        <annotation>
          <documentation>20338: Produktnavn: APM 50. Typegodkjenning: S 50 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911668&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20338</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">APM 50 - S50</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="APM 80 - S80">
        <annotation>
          <documentation>20339: Produktnavn: APM 80. Typegodkjenning: S 80 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911601&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20339</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">APM 80 - S80</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="APM 100 - S100">
        <annotation>
          <documentation>20336: Produktnavn: APM 100. Typegodkjenning: S 100 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911581&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20336</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">APM 100 - S100</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="APM 110 - S110">
        <annotation>
          <documentation>20337: Produktnavn: APM 110. Typegodkjenning: S 110 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911582&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20337</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">APM 110 - S110</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brakemaster - uspes">
        <annotation>
          <documentation>11331: Produktnavn "Brakemaster". Typegodkjenning ikke angitt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11331</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brakemaster - uspes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="CrashGuard 3S - S80">
        <annotation>
          <documentation>20340: Produktnavn: CrashGuard 35. Typegodkjenning: S 80 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2271975&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20340</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">CrashGuard 3S - S80</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="CrashGuard 3S - S110">
        <annotation>
          <documentation>20341: Produktnavn: CrashGuard 65. Typegodkjenning: S 110 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2271974&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20341</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">CrashGuard 3S - S110</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EuroTRACC S80 - S80">
        <annotation>
          <documentation>17338: Produktnavn: EuroTRACC S80. Typegodkjenning: S 80 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511224&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17338</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">EuroTRACC S80 - S80</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EuroTRACC S110 - S110">
        <annotation>
          <documentation>17336: Produktnavn: EuroTRACC S110. Typegodkjenning: S 110 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511207&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17336</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">EuroTRACC S110 - S110</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EuroTRACC 80 Wide - S80">
        <annotation>
          <documentation>17335: Produktnavn: EuroTRACC 80 Wide. Typegodkjenning: S 80 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511214&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17335</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">EuroTRACC 80 Wide - S80</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EuroTRACC S110 Wide - S110">
        <annotation>
          <documentation>17337: Produktnavn: EuroTRACC S110 Wide. Typegodkjenning: S 110 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511222&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17337</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">EuroTRACC S110 Wide - S110</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard - uspes">
        <annotation>
          <documentation>11332: Produktnavn: QuadGuard. Typegodkjenning: Ikke angitt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11332</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">QuadGuard - uspes</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard CEN - S50">
        <annotation>
          <documentation>17341: Produktnavn: QuadGuard CEN. Typegodkjenning: S 50 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511562&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17341</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">QuadGuard CEN - S50</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard CEN - S80">
        <annotation>
          <documentation>17340: Produktnavn: QuadGuard CEN. Typegodkjenning: S 80 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511567&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17340</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">QuadGuard CEN - S80</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard CEN - S100">
        <annotation>
          <documentation>17342: Produktnavn: QuadGuard CEN. Typegodkjenning: S 100 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511571&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17342</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">QuadGuard CEN - S100</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard CEN - S110">
        <annotation>
          <documentation>17339: Produktnavn: QuadGuard CEN. Typegodkjenning: S 110 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511575&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17339</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">QuadGuard CEN - S110 </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Quest CEN - S80">
        <annotation>
          <documentation>17343: Produktnavn: Quest CEN. Typegodkjenning: S 80 Z1 D2. Mer informasjon: Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511523&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17343</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Quest CEN - S80</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Quest CEN - S100">
        <annotation>
          <documentation>17344: Produktnavn: Quest CEN. Typegodkjenning: S 100 Z1 D2. Mer informasjon: Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511525&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17344</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Quest CEN - S100</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Quest CEN - S110">
        <annotation>
          <documentation>17345: Produktnavn: Quest CEN. Typegodkjenning: S 110 Z1 D2. Mer informasjon: Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511535&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17345</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Quest CEN - S110</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 50 - S50">
        <annotation>
          <documentation>17348: Produktnavn: SMA 50. Typegodkjenning: S 50 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635629&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17348</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">SMA 50 - S50</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 80 - S80">
        <annotation>
          <documentation>17349: Produktnavn: SMA 80. Typegodkjenning: S 80 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635624&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17349</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">SMA 80 - S80</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 80/1 - S80/1">
        <annotation>
          <documentation>17350: Produktnavn: SMA 80/1. Typegodkjenning: S 80/1 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1020822&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17350</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">SMA 80/1 - S80/1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 100 - S100">
        <annotation>
          <documentation>17346: Produktnavn: SMA 100. Typegodkjenning: S 100 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635619&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17346</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">SMA 100 - S100</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 110 - S110">
        <annotation>
          <documentation>17347: Produktnavn: SMA 110. Typegodkjenning: S 110 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635615&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17347</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">SMA 110 - S110</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU 60 - S50">
        <annotation>
          <documentation>17352: Produktnavn: TAU 60. Typegodkjenning: S 50 Z2 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=514829&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17352</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TAU 60 - S50</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU 80 - S80">
        <annotation>
          <documentation>17353: Produktnavn: TAU 80. Typegodkjenning: S 80 Z2 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=514884&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17353</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TAU 80 - S80</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU 100 - S100">
        <annotation>
          <documentation>17351: Produktnavn: TAU 100. Typegodkjenning: S 100 Z2 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511239&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17351</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TAU 100 - S100</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU B - S110">
        <annotation>
          <documentation>17354: Produktnavn: TAU B. Typegodkjenning: S 110 Z2 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511202&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17354</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TAU B - S110</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU TUBE P50 - S50">
        <annotation>
          <documentation>17357: Produktnavn: TAU TUBE P50. Typegodkjenning: S 50 Z1 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975018&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17357</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TAU TUBE P50 - S50</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU TUBE P80 - S80">
        <annotation>
          <documentation>17358: Produktnavn: TAU TUBE P80. Typegodkjenning: S 80 Z2 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975017&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17358</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TAU TUBE P80 - S80</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU TUBE P100 - S100">
        <annotation>
          <documentation>17355: Produktnavn: TAU TUBE P100. Typegodkjenning: S 100 Z2 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975012&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17355</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TAU TUBE P100 - S100</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU TUBE P110 - S110">
        <annotation>
          <documentation>17356: Produktnavn: TAU TUBE P110. Typegodkjenning: S 110 Z2 D1. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975011&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17356</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">TAU TUBE P110 - S110</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="WALT - S80/1">
        <annotation>
          <documentation>17359: Produktnavn: WALT. Typegodkjenning: S 80/1 Z1 D3. Mer informasjon: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511217&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17359</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">WALT - S80/1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningStøtputeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Støtpute" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:StøtputeType">
    <annotation>
      <documentation>542: En energiabsorberende sikkerhetskonstruksjon som over kort avstand skal bremse et kjøretøy ved frontkollisjon eller sidekollisjon, eller lede det forbi faremomentet. Kilde: Rekkverksnormal.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">542</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">542</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Støtpute</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StøtputeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="produktnavnTypegodkjenning" type="nvdb:ProduktnavnTypegodkjenningStøtputeType">
            <annotation>
              <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8395</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn/typegodkjenning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10367: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10367</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11147: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11147</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12396: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12396</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierStøtputeType">
            <annotation>
              <documentation>8042: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8042</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligStøtputeType">
            <annotation>
              <documentation>8117: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8117</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5040: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5040</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRekkverk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Rekkverk</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StøtputePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Støtpute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligStøtputeType">
    <annotation>
      <documentation>8117: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8117</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8117</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligStøtputeEnumerationType nvdb:VedlikeholdsansvarligStøtputeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStøtputeEnumerationType">
    <annotation>
      <documentation>8117: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8117</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8117</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10511: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10511</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18771: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18771</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19972: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19972</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18900: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18900</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10589: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10589</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10667: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10667</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17755: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17755</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStøtputeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
