GML/PS/OLFV_NV/2.31/609.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" version="2.31">
  <annotation>
    <documentation>609: Benyttes geoteknisk for å øke bæreevnen og som stabiliserende tiltak. Stålarmering kan benyttes for å hindre telesprekker i asfalt.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Armeringsnett" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:ArmeringsnettType">
    <annotation>
      <documentation>609: Benyttes geoteknisk for å øke bæreevnen og som stabiliserende tiltak. Stålarmering kan benyttes for å hindre telesprekker i asfalt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">609</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">609</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Armeringsnett</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ArmeringsnettType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="materialtype" type="nvdb:MaterialtypeType">
            <annotation>
              <documentation>5483: Angir hvilket materiale armeringsnettet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5483</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="plassering" type="nvdb:PlasseringType">
            <annotation>
              <documentation>11321: Angir hvor i konstruksjonen armeringsnettet er plassert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11321</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bredde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>7036: Angir gjennomsnittsbredde av armeringsnett.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7036</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="utleggingsdato" type="date">
            <annotation>
              <documentation>5544: Angir dato for utlegging.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5544</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utleggingsdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11150: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11150</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12401: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12401</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierArmeringsnettType">
            <annotation>
              <documentation>11322: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11322</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligArmeringsnettType">
            <annotation>
              <documentation>8118: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8118</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>6906: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6906</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ArmeringsnettPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Armeringsnett"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="EierArmeringsnettType">
    <annotation>
      <documentation>11322: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11322</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11322</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierArmeringsnettEnumerationType nvdb:EierArmeringsnettOtherType"/>
  </simpleType>
  <simpleType name="EierArmeringsnettEnumerationType">
    <annotation>
      <documentation>11322: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11322</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11322</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>19130: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19130</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>19129: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19129</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19126: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19126</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>19127: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19127</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>19128: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19128</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>19131: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierArmeringsnettOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeType">
    <annotation>
      <documentation>5483: Angir hvilket materiale armeringsnettet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5483</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5483</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeEnumerationType nvdb:MaterialtypeOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeEnumerationType">
    <annotation>
      <documentation>5483: Angir hvilket materiale armeringsnettet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5483</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5483</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>7450: Glassfiber</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7450</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glassfiber</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>7451: Stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7451</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>7452: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7452</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation>19120: Metode med bakhun/bord. Ikke aktuell på nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19120</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringType">
    <annotation>
      <documentation>11321: Angir hvor i konstruksjonen armeringsnettet er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11321</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11321</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringEnumerationType nvdb:PlasseringOtherType"/>
  </simpleType>
  <simpleType name="PlasseringEnumerationType">
    <annotation>
      <documentation>11321: Angir hvor i konstruksjonen armeringsnettet er plassert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11321</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11321</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Under slitelag">
        <annotation>
          <documentation>19121: Under slitelag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19121</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Under slitelag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Under bindlag">
        <annotation>
          <documentation>19122: Under bindlag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19122</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Under bindlag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Under bærelag">
        <annotation>
          <documentation>19123: Under bærelag</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19123</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Under bærelag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Under forsterkningslag/på traubunn">
        <annotation>
          <documentation>19124: Under forsterkningslag/på traubunn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19124</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Under forsterkningslag/på traubunn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Under/i fylling">
        <annotation>
          <documentation>19125: Under/i fylling</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19125</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Under/i fylling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligArmeringsnettType">
    <annotation>
      <documentation>8118: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8118</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8118</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligArmeringsnettEnumerationType nvdb:VedlikeholdsansvarligArmeringsnettOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligArmeringsnettEnumerationType">
    <annotation>
      <documentation>8118: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8118</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8118</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10512: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10512</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18775: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18775</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19973: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19973</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18904: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18904</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10590: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10590</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10668: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10668</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17756: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17756</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligArmeringsnettOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
