GML/PS/OLFV_NV/2.31/7.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" version="2.31">
  <annotation>
    <documentation>7: Gjerde er frittstående hinder som skal stenge/lede ferdsel av folk eller dyr.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeGjerdeType">
    <annotation>
      <documentation>1249: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1249</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1249</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeGjerdeEnumerationType nvdb:BruksområdeGjerdeOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeGjerdeEnumerationType">
    <annotation>
      <documentation>1249: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1249</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1249</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Trafikk-/ledegjerde">
        <annotation>
          <documentation>2401: Gjerde som avgrenser fotgjengertrafikk fra motorvogntrafikk. Kilde: Rekkverksnormal.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2401</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikk-/ledegjerde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vilt">
        <annotation>
          <documentation>2402: Skal hindre dyr i å komme ut i kjørebanen eller vegområdet. (Temahefte hb111).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2402</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vilt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Eiendom">
        <annotation>
          <documentation>2403: Eiendom</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2403</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eiendom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gelender">
        <annotation>
          <documentation>2404: Gelender</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2404</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gelender</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sikringsgjerde">
        <annotation>
          <documentation>9295: Skal sikre at personer eller dyr ikke får tilgang til kjørebanen eller spesielt farlig område.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9295</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sikringsgjerde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Miljøgjerde">
        <annotation>
          <documentation>3788: Miljøgjerde</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3788</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Miljøgjerde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Blendingsgjerde">
        <annotation>
          <documentation>9294: Skal hindre blending fra møtende trafikk. (Temahefte hb 111).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">9294</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Blendingsgjerde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeGjerdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierGjerdeType">
    <annotation>
      <documentation>5813: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5813</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5813</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierGjerdeEnumerationType nvdb:EierGjerdeOtherType"/>
  </simpleType>
  <simpleType name="EierGjerdeEnumerationType">
    <annotation>
      <documentation>5813: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5813</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5813</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>8208: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8208</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18590: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18590</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10700: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10700</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>8234: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8234</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>8260: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8260</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17598: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17598</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierGjerdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Gjerde" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:GjerdeType">
    <annotation>
      <documentation>7: Gjerde er frittstående hinder som skal stenge/lede ferdsel av folk eller dyr.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Gjerde</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GjerdeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeGjerdeType">
            <annotation>
              <documentation>1249: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1249</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeGjerdeType">
            <annotation>
              <documentation>1091: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1091</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeStolpe" type="nvdb:TypeStolpeType">
            <annotation>
              <documentation>2105: Angir hvilken type stolper gjerdet har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2105</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type stolpe</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høyde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>1575: Angir gjennomsnittlig egenhøyde for hele vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1575</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde, gjennomsnitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1300: Angir eksakt lengde av gjerde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1300</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="overflatebehandling" type="nvdb:OverflatebehandlingGjerdeType">
            <annotation>
              <documentation>1601: Angir hvordan vegobjektet er overflatebehandla.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1601</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10301: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10301</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11031: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11031</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12266: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12266</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierGjerdeType">
            <annotation>
              <documentation>5813: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5813</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligGjerdeType">
            <annotation>
              <documentation>5801: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5801</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4716: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4716</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikkdeler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkøy" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikkøy</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertGjerdeport" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Gjerdeport</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GjerdePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Gjerde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="OverflatebehandlingGjerdeType">
    <annotation>
      <documentation>1601: Angir hvordan vegobjektet er overflatebehandla.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1601</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1601</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OverflatebehandlingGjerdeEnumerationType nvdb:OverflatebehandlingGjerdeOtherType"/>
  </simpleType>
  <simpleType name="OverflatebehandlingGjerdeEnumerationType">
    <annotation>
      <documentation>1601: Angir hvordan vegobjektet er overflatebehandla.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1601</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1601</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Overflatebehandling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Malt">
        <annotation>
          <documentation>2153: Malt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2153</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Beiset">
        <annotation>
          <documentation>2160: Beiset</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2160</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Beiset</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Impregnert">
        <annotation>
          <documentation>2166: Impregnert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2166</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Impregnert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oljet">
        <annotation>
          <documentation>2172: Oljet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2172</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oljet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lakkert">
        <annotation>
          <documentation>2178: Lakkert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2178</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lakkert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Galvanisert">
        <annotation>
          <documentation>17392: Galvanisert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17392</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Galvanisert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen">
        <annotation>
          <documentation>19466: Vegobjektet har ingen overflatebehandling.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19466</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OverflatebehandlingGjerdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeGjerdeType">
    <annotation>
      <documentation>1091: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1091</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1091</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeGjerdeEnumerationType nvdb:TypeGjerdeOtherType"/>
  </simpleType>
  <simpleType name="TypeGjerdeEnumerationType">
    <annotation>
      <documentation>1091: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1091</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1091</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Flettverk, plastbelagt">
        <annotation>
          <documentation>2406: Flettverk, plastbelagt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2406</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Flettverk, plastbelagt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flettverk, stålflettverksgjerde">
        <annotation>
          <documentation>3253: Flettverk, stålflettverksgjerde</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3253</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Flettverk, stålflettverksgjerde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flettverk, storrutet gjerde">
        <annotation>
          <documentation>3255: Flettverk, storrutet gjerde</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3255</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Flettverk, storrutet gjerde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flettverk, kraftig">
        <annotation>
          <documentation>10776: Ekstra kraftig flettverk-gjerde oftest benyttet i forbindelse med rassikring.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10776</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Flettverk, kraftig</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tregjerde">
        <annotation>
          <documentation>2407: Tregjerde</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2407</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tregjerde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tregjerde, åpent">
        <annotation>
          <documentation>3257: Tregjerde, åpent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3257</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tregjerde, åpent</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tregjerde, tett">
        <annotation>
          <documentation>3259: Tregjerde, tett</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3259</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tregjerde, tett</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål/rørgjerde">
        <annotation>
          <documentation>3364: Stål/rørgjerde</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3364</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål/rørgjerde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Aluminiumsgjerde">
        <annotation>
          <documentation>3853: Aluminiumsgjerde</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3853</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aluminiumsgjerde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Herdet glass">
        <annotation>
          <documentation>17441: Herdet glass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17441</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Herdet glass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Pleksiglass">
        <annotation>
          <documentation>17442: Pleksiglass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17442</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Pleksiglass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Steingjerde">
        <annotation>
          <documentation>2405: Steingjerde</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2405</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Steingjerde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjettinggjerde">
        <annotation>
          <documentation>19495: Kjettinggjerde</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19495</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjettinggjerde</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeGjerdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeStolpeType">
    <annotation>
      <documentation>2105: Angir hvilken type stolper gjerdet har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2105</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2105</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type stolpe</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeStolpeEnumerationType nvdb:TypeStolpeOtherType"/>
  </simpleType>
  <simpleType name="TypeStolpeEnumerationType">
    <annotation>
      <documentation>2105: Angir hvilken type stolper gjerdet har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2105</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2105</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type stolpe</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Metall, aluminium">
        <annotation>
          <documentation>2253: Metall, aluminium</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2253</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metall, aluminium</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metall, stål">
        <annotation>
          <documentation>2243: Metall, stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2243</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metall, stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>2196: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2196</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>2275: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2275</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>17440: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17440</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeStolpeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGjerdeType">
    <annotation>
      <documentation>5801: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5801</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5801</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligGjerdeEnumerationType nvdb:VedlikeholdsansvarligGjerdeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGjerdeEnumerationType">
    <annotation>
      <documentation>5801: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5801</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5801</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>8196: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8196</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18734: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18734</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19910: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19910</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18863: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18863</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>8222: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8222</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>8248: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8248</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17689: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17689</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligGjerdeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
