GML/PS/OLFV_NV/2.31/843.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" version="2.31">
  <annotation>
    <documentation>843: Lukka grøft med kabler og trekkerør.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierKabelgrøftType">
    <annotation>
      <documentation>10879: Angir hvem som er eier av innholdet i kabelgrøften.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10879</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10879</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierKabelgrøftEnumerationType nvdb:EierKabelgrøftOtherType"/>
  </simpleType>
  <simpleType name="EierKabelgrøftEnumerationType">
    <annotation>
      <documentation>10879: Angir hvem som er eier av innholdet i kabelgrøften.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10879</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10879</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>17934: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17934</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18632: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18632</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>17937: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17937</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>17935: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17935</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>17936: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17936</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17938: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17938</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKabelgrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kabelgrøft" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:KabelgrøftType">
    <annotation>
      <documentation>843: Lukka grøft med kabler og trekkerør.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">843</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">843</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kabelgrøft</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KabelgrøftType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="spenningsnivå" type="nvdb:SpenningsnivåType">
            <annotation>
              <documentation>12182: Angir spenningsnivå for kabelgrøft.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12182</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Spenningsnivå</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="dybde" type="double">
            <annotation>
              <documentation>9577: Angir dybde av vegobjektet. Dybde måles ned til topp fundament.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9577</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dybde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10314: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10314</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>10878: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10878</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11160: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11160</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12419: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12419</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="relevantForEkomportalen" type="nvdb:RelevantForEkomportalenType">
            <annotation>
              <documentation>12453: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12453</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="eier" type="nvdb:EierKabelgrøftType">
            <annotation>
              <documentation>10879: Angir hvem som er eier av innholdet i kabelgrøften.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10879</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligKabelgrøftType">
            <annotation>
              <documentation>10979: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10979</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9578: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9578</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkerørKanal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TrekkerørKanal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelløp</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TunnelløpUtenTrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabel" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kabel</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KabelgrøftPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kabelgrøft"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RelevantForEkomportalenType">
    <annotation>
      <documentation>12453: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12453</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12453</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RelevantForEkomportalenEnumerationType nvdb:RelevantForEkomportalenOtherType"/>
  </simpleType>
  <simpleType name="RelevantForEkomportalenEnumerationType">
    <annotation>
      <documentation>12453: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12453</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12453</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21376: Indikerer at vegobjektet er relevant for overføring til Ekomportalen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21376</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21377: Indikerer at vegobjektet er relevant for overføring til Ekomportalen. Klient for overføring av data fra NVDB til Ekom-portalen vil ikke kunne overføre denne forekomsten.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21377</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RelevantForEkomportalenOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpenningsnivåType">
    <annotation>
      <documentation>12182: Angir spenningsnivå for kabelgrøft.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12182</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12182</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spenningsnivå</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SpenningsnivåEnumerationType nvdb:SpenningsnivåOtherType"/>
  </simpleType>
  <simpleType name="SpenningsnivåEnumerationType">
    <annotation>
      <documentation>12182: Angir spenningsnivå for kabelgrøft.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12182</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12182</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Spenningsnivå</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Elkraft">
        <annotation>
          <documentation>21238: Det finnes strømførende kabler i kabelgrøft.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21238</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Elkraft</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal">
        <annotation>
          <documentation>21239: Det finnes ikke strømførende kabler i kabelgrøft, kun signalkabler eller tilsvarende.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21239</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Elkraft/signal">
        <annotation>
          <documentation>21240: Det finnes både strømførende ledninger og signalkabler i grøft.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21240</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Elkraft/signal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpenningsnivåOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKabelgrøftType">
    <annotation>
      <documentation>10979: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10979</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10979</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligKabelgrøftEnumerationType nvdb:VedlikeholdsansvarligKabelgrøftOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKabelgrøftEnumerationType">
    <annotation>
      <documentation>10979: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10979</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10979</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>18346: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18346</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18713: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18713</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20012: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20012</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18842: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18842</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>18347: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18347</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>18348: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18348</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>18349: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18349</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligKabelgrøftOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
