GML/PS/OLFV_NV/2.31/848.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.31" version="2.31">
  <annotation>
    <documentation>848: Skjerm som settes opp for å stoppe drivende snø.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstSnøskjermType">
    <annotation>
      <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AdkomstSnøskjermEnumerationType nvdb:AdkomstSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="AdkomstSnøskjermEnumerationType">
    <annotation>
      <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9634</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bil">
        <annotation>
          <documentation>19824: Adkomst er mulig med bil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19824</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hjullaster">
        <annotation>
          <documentation>13841: Adkomst er mulig med hjullaster.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13841</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hjullaster</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gravemaskin">
        <annotation>
          <documentation>13842: Adkomst for gravemaskin.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13842</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gravemaskin</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Til fots">
        <annotation>
          <documentation>13843: Adkomst til fots.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13843</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Til fots</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kran">
        <annotation>
          <documentation>13844: Adkomst for kran.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13844</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kran</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tau">
        <annotation>
          <documentation>13845: Adkomst med tau.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13845</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tau</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Helikopter">
        <annotation>
          <documentation>13846: Adkomst for helikopter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13846</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helikopter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeSnøskjermType">
    <annotation>
      <documentation>9627: Angir bruksområde for vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9627</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9627</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeSnøskjermEnumerationType nvdb:BruksområdeSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeSnøskjermEnumerationType">
    <annotation>
      <documentation>9627: Angir bruksområde for vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9627</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9627</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Løsneområde for skred">
        <annotation>
          <documentation>13836: Løsneområde for skred</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13836</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løsneområde for skred</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drivsnø på veg">
        <annotation>
          <documentation>13837: Drivsnø på veg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13837</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drivsnø på veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ByggematerialeType">
    <annotation>
      <documentation>9633: Angir hvilket materiale objektet er bygget av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9633</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9633</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Byggemateriale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ByggematerialeEnumerationType nvdb:ByggematerialeOtherType"/>
  </simpleType>
  <simpleType name="ByggematerialeEnumerationType">
    <annotation>
      <documentation>9633: Angir hvilket materiale objektet er bygget av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9633</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9633</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Byggemateriale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tre">
        <annotation>
          <documentation>13838: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13838</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>13839: Stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13839</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>13840: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13840</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ByggematerialeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierSnøskjermType">
    <annotation>
      <documentation>9638: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierSnøskjermEnumerationType nvdb:EierSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="EierSnøskjermEnumerationType">
    <annotation>
      <documentation>9638: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9638</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>13883: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13883</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18655: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18655</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>13884: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13884</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>13885: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13885</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13886: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13886</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17662: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17662</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Snøskjerm" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SnøskjermType">
    <annotation>
      <documentation>848: Skjerm som settes opp for å stoppe drivende snø.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">848</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">848</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Snøskjerm</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SnøskjermType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeSnøskjermType">
            <annotation>
              <documentation>9627: Angir bruksområde for vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9627</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lengde" type="double">
            <annotation>
              <documentation>9628: Angir total lengde av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9628</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høydeOverTerreng" type="double">
            <annotation>
              <documentation>9629: Angir avstand fra terreng til topp skjerm.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9629</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde over terreng</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bakkeklaring" type="double">
            <annotation>
              <documentation>9632: Angir avstand fra terreng opp til første horisontale bord.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9632</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bakkeklaring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="byggemateriale" type="nvdb:ByggematerialeType">
            <annotation>
              <documentation>9633: Angir hvilket materiale objektet er bygget av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9633</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Byggemateriale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="adkomst" type="nvdb:AdkomstSnøskjermType">
            <annotation>
              <documentation>9634: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9634</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>9640: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9640</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9871: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9871</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11163: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11163</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12422: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12422</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSnøskjermType">
            <annotation>
              <documentation>9638: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9638</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSnøskjermType">
            <annotation>
              <documentation>9639: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9639</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9641: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9641</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SnøskjermPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Snøskjerm"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligSnøskjermType">
    <annotation>
      <documentation>9639: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSnøskjermEnumerationType nvdb:VedlikeholdsansvarligSnøskjermOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSnøskjermEnumerationType">
    <annotation>
      <documentation>9639: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9639</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>13887: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13887</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18670: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18670</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19986: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19986</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18799: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>13888: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13888</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>13889: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13889</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17762: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17762</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSnøskjermOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
