GML/PS/OLFV_SVV/2.32/48.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.32" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.32" version="2.32">
  <annotation>
    <documentation>48: Del av vegen reservert for gående. Som regel ligger fortau høyere enn kjørebanen og er atskilt fra denne med kantstein (1).</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelegningType">
    <annotation>
      <documentation>5637: Angir hvilken belegning det er på fortauet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5637</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5637</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelegningEnumerationType nvdb:BelegningOtherType"/>
  </simpleType>
  <simpleType name="BelegningEnumerationType">
    <annotation>
      <documentation>5637: Angir hvilken belegning det er på fortauet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5637</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5637</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betong">
        <annotation>
          <documentation>7922: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7922</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, farget">
        <annotation>
          <documentation>7923: Betong, farget</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, farget</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, mønstret og farget">
        <annotation>
          <documentation>7924: Betong, mønstret og farget</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, mønstret og farget</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, heller">
        <annotation>
          <documentation>7925: Betong, heller</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, heller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein">
        <annotation>
          <documentation>7926: Betongstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7926</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brostein">
        <annotation>
          <documentation>7927: Brostein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7927</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Brostein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Granitt">
        <annotation>
          <documentation>11231: Granitt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11231</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Granitt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skiferheller">
        <annotation>
          <documentation>11230: Skiferheller</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11230</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiferheller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Asfalt">
        <annotation>
          <documentation>7928: Asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7928</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus">
        <annotation>
          <documentation>7929: Grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7929</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelegningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Fortau" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:FortauType">
    <annotation>
      <documentation>48: Del av vegen reservert for gående. Som regel ligger fortau høyere enn kjørebanen og er atskilt fra denne med kantstein (1).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">48</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">48</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fortau</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FortauType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="belegning" type="nvdb:BelegningType">
            <annotation>
              <documentation>5637: Angir hvilken belegning det er på fortauet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5637</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bredde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>2241: Angir gjennomsnittlig bredde av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2241</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="varmekabler" type="nvdb:VarmekablerType">
            <annotation>
              <documentation>1830: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1830</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10295: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10295</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4755: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4755</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FortauPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fortau"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VarmekablerType">
    <annotation>
      <documentation>1830: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1830</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1830</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VarmekablerEnumerationType nvdb:VarmekablerOtherType"/>
  </simpleType>
  <simpleType name="VarmekablerEnumerationType">
    <annotation>
      <documentation>1830: Angir om det er varmekabler eller ikke i tilknytning til vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1830</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1830</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Varmekabler</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>3522: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3522</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>3560: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3560</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VarmekablerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
