GML/PS/OLFV_SVV/2.32/87.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.32" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.32" version="2.32">
  <annotation>
    <documentation>87: Lokasjon/konteiner med samling av en eller flere lysarmaturer og lysmast i ett punkt. Det kan forekomme varianter uten lysmast, for eksempel lysarmatur opphengt i tunneltak, og det kan forekomme varianter uten lysarmatur, f.eks. lysmast kun for kabelframføring.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Belysningspunkt" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:BelysningspunktType">
    <annotation>
      <documentation>87: Lokasjon/konteiner med samling av en eller flere lysarmaturer og lysmast i ett punkt. Det kan forekomme varianter uten lysmast, for eksempel lysarmatur opphengt i tunneltak, og det kan forekomme varianter uten lysarmatur, f.eks. lysmast kun for kabelframføring.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">87</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">87</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belysningspunkt</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BelysningspunktType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeBelysningspunktType">
            <annotation>
              <documentation>1272: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1272</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="plassering" type="nvdb:PlasseringBelysningspunktType">
            <annotation>
              <documentation>1874: Angir plassering for vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1874</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="strømtilførsel_Kategori" type="nvdb:Strømtilførsel_KategoriType">
            <annotation>
              <documentation>2078: Angir hvilken type strømtilkobling det er til vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2078</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Strømtilførsel, kategori</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4787: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4787</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BelysningspunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Belysningspunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="BruksområdeBelysningspunktType">
    <annotation>
      <documentation>1272: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1272</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1272</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeBelysningspunktEnumerationType nvdb:BruksområdeBelysningspunktOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeBelysningspunktEnumerationType">
    <annotation>
      <documentation>1272: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1272</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1272</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Belysning veg/gate">
        <annotation>
          <documentation>2955: Belysning av veg og gate.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2955</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning veg/gate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning tunnel">
        <annotation>
          <documentation>2963: Belysning i tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2963</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sikkerhetsbelysning tunnel">
        <annotation>
          <documentation>4910: Sikkerhetsbelysning i tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4910</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sikkerhetsbelysning tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning bru">
        <annotation>
          <documentation>3319: Brukes kun for spesiell belysning av bru. Vanlig vegbelysning settes som Belysning veg/gate.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3319</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning bru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning område/plass">
        <annotation>
          <documentation>2957: Belysning av område/plass.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2957</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning område/plass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning ferjeleie">
        <annotation>
          <documentation>16261: Belysning av ferjeleie.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16261</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning ferjeleie</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning Vegkryss">
        <annotation>
          <documentation>2959: Belysning i vegkryss.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2959</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning Vegkryss</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning gang/sykkelveg">
        <annotation>
          <documentation>2953: Belysning på gang- og sykkelveg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2953</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning gang/sykkelveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning gangfelt">
        <annotation>
          <documentation>2961: Belysning for gangfelt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2961</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning gangfelt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning undergang">
        <annotation>
          <documentation>17318: Belysningspunkt i undergang/under bru etc.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17318</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning undergang</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning utstyr">
        <annotation>
          <documentation>4908: Belysning av annet vegutstyr. Skal ikke benyttes for skilt og leskur da det er spesifikke verdier for disse.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4908</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning utstyr</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning leskur">
        <annotation>
          <documentation>19801: Belysningspunkt for opplysing av leskur.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19801</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning leskur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning skilt">
        <annotation>
          <documentation>19802: Belysningspunkt for opplysing av skilt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19802</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning skilt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning privat område">
        <annotation>
          <documentation>3856: Belysning av privat område.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3856</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning privat område</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Evakueringslys tunnel">
        <annotation>
          <documentation>4909: Evakueringsbelys i tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4909</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Evakueringslys tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeBelysningspunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringBelysningspunktType">
    <annotation>
      <documentation>1874: Angir plassering for vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1874</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1874</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:PlasseringBelysningspunktEnumerationType nvdb:PlasseringBelysningspunktOtherType"/>
  </simpleType>
  <simpleType name="PlasseringBelysningspunktEnumerationType">
    <annotation>
      <documentation>1874: Angir plassering for vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1874</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1874</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Lysmast">
        <annotation>
          <documentation>2965: Lysmast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2965</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysmast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mindre stolpe">
        <annotation>
          <documentation>2969: Mindre stolpe</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2969</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mindre stolpe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Henger i tak/kabelstige">
        <annotation>
          <documentation>2970: Henger i tak/kabelstige</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2970</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Henger i tak/kabelstige</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Festet til vegg/bygning">
        <annotation>
          <documentation>2972: Festet til vegg/bygning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2972</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Festet til vegg/bygning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="På portal">
        <annotation>
          <documentation>2988: På portal</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2988</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På portal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="På skiltpunkt">
        <annotation>
          <documentation>19804: På skiltpunkt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19804</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På skiltpunkt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Henger i vaier">
        <annotation>
          <documentation>3757: Henger i vaier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3757</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Henger i vaier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PlasseringBelysningspunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Strømtilførsel_KategoriType">
    <annotation>
      <documentation>2078: Angir hvilken type strømtilkobling det er til vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2078</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2078</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Strømtilførsel,kategori</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Strømtilførsel_KategoriEnumerationType nvdb:Strømtilførsel_KategoriOtherType"/>
  </simpleType>
  <simpleType name="Strømtilførsel_KategoriEnumerationType">
    <annotation>
      <documentation>2078: Angir hvilken type strømtilkobling det er til vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2078</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2078</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Strømtilførsel,kategori</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Jordkabel">
        <annotation>
          <documentation>3765: Kabel i bakken.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3765</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordkabel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Line">
        <annotation>
          <documentation>3766: Uisolert kabel i luft.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3766</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Line</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EX">
        <annotation>
          <documentation>3857: Isolert kabel i luft.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3857</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">EX</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Strømtilførsel_KategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
