GML/PS/OLFV_SVV/2.32/937.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.32" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.32" version="2.32">
  <annotation>
    <documentation>937: Apparat som omdanner elektriske vekselstrømsignaler til hørbare lydbølger. Benyttes bl.a. i tunneler for å gi beskjeder til trafikanter i tilknytning til nødsituajoner.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Høyttaler" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:HøyttalerType">
    <annotation>
      <documentation>937: Apparat som omdanner elektriske vekselstrømsignaler til hørbare lydbølger. Benyttes bl.a. i tunneler for å gi beskjeder til trafikanter i tilknytning til nødsituajoner.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">937</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">937</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Høyttaler</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="HøyttalerType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>11508: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11508</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>11483: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11483</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent" type="string">
            <annotation>
              <documentation>11485: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11485</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>11486: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11486</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>11488: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11488</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HøyttalerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Høyttaler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
