GML/PS/OLFV_SVV/2.32/95.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.32" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.32" version="2.32">
  <annotation>
    <documentation>95: Skiltpunkt er en sammensetning av skiltplater, stolper og stolpefundament m.m.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BøyleType">
    <annotation>
      <documentation>8773: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8773</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8773</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bøyle</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BøyleEnumerationType nvdb:BøyleOtherType"/>
  </simpleType>
  <simpleType name="BøyleEnumerationType">
    <annotation>
      <documentation>8773: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8773</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8773</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bøyle</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>11619: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11619</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, toppmontert">
        <annotation>
          <documentation>16848: Ja, toppmontert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16848</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, toppmontert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, sidemontert">
        <annotation>
          <documentation>16849: Ja, sidemontert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16849</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, sidemontert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, midtmontert">
        <annotation>
          <documentation>16850: Ja, midtmontert</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16850</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, midtmontert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Forgrening">
        <annotation>
          <documentation>17268: Skiltstolpe med forgrening. En eller flere av skiltplatene er festet på forgreningen.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17268</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Forgrening</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11620: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11620</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BøyleOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringSkiltpunktType">
    <annotation>
      <documentation>1671: Angir hvordan vegobjektet er fundamentert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1671</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1671</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FundamenteringSkiltpunktEnumerationType nvdb:FundamenteringSkiltpunktOtherType"/>
  </simpleType>
  <simpleType name="FundamenteringSkiltpunktEnumerationType">
    <annotation>
      <documentation>1671: Angir hvordan vegobjektet er fundamentert.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1671</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1671</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ingen">
        <annotation>
          <documentation>3474: Ingen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3474</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I/på fjellfundament">
        <annotation>
          <documentation>2430: Skiltpunkt er fundamentert/montert på fjell eller massiv betongkonstruksjon (f.eks. bru). Kan være påmontert stålfundament eller innfesting i borehull.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2430</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I/på fjellfundament</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I/på jordfundament">
        <annotation>
          <documentation>2435: Skiltpunkt er fundamentert/montert på jord/løsmasser/pukk. Kan være betongfundament eller jordstikk.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2435</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I/på jordfundament</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringSkiltpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSkiltpunktType">
    <annotation>
      <documentation>1876: Angir hvilket oppsettingsutstyr skiltplatene er festet på.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1876</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1876</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrSkiltpunktEnumerationType nvdb:OppsettingsutstyrSkiltpunktOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrSkiltpunktEnumerationType">
    <annotation>
      <documentation>1876: Angir hvilket oppsettingsutstyr skiltplatene er festet på.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1876</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1876</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stolpe 60,3 mm (2&quot;)">
        <annotation>
          <documentation>2866: Ytre diameter 60,3 mm og godstykkelse 2,9 mm (betegnet som 2").</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2866</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stolpe 60,3 mm (2")</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stolpe 88,9 mm (3&quot;)">
        <annotation>
          <documentation>2868: Ytre diameter 88,9 mm og godstykkelse 3,2 mm (betegnet som 3").</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2868</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stolpe 88,9 mm (3")</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trestolpe">
        <annotation>
          <documentation>7988: Trestolpe</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">7988</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trestolpe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, liten">
        <annotation>
          <documentation>2879: Søyle, liten</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2879</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Søyle, liten</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, liten, rund 110 mm">
        <annotation>
          <documentation>4597: Søyle, liten, rund 110 mm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4597</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Søyle, liten, rund 110 mm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, liten, åttekantet 120mm">
        <annotation>
          <documentation>4598: Søyle, liten, åttekantet 120mm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4598</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Søyle, liten, åttekantet 120mm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, middels">
        <annotation>
          <documentation>2881: Søyle, middels</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2881</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Søyle, middels</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, middels, åttekantet 150 mm">
        <annotation>
          <documentation>4599: Søyle, middels, åttekantet 150 mm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4599</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Søyle, middels, åttekantet 150 mm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, stor">
        <annotation>
          <documentation>2883: Søyle, stor</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2883</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Søyle, stor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, stor, rund 180 mm">
        <annotation>
          <documentation>4600: Søyle, stor, rund 180 mm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4600</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Søyle, stor, rund 180 mm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Søyle, stor, åttekantet 190 mm">
        <annotation>
          <documentation>4601: Søyle, stor, åttekantet 190 mm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4601</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Søyle, stor, åttekantet 190 mm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast">
        <annotation>
          <documentation>4604: Gittermast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4604</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gittermast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast, trekant 200mm">
        <annotation>
          <documentation>4602: Gittermast, trekant 200mm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gittermast, trekant 200mm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast, trekant 250mm">
        <annotation>
          <documentation>4603: Gittermast, trekant 250mm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4603</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gittermast, trekant 250mm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast, firkant 200mm">
        <annotation>
          <documentation>4605: Gittermast, firkant 200mm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4605</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gittermast, firkant 200mm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast, firkant 250mm">
        <annotation>
          <documentation>4606: Gittermast, firkant 250mm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4606</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gittermast, firkant 250mm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gittermast, firkant 380mm">
        <annotation>
          <documentation>4607: Gittermast, firkant 380mm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4607</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gittermast, firkant 380mm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Henger i tak/kabelbro">
        <annotation>
          <documentation>18488: Festet direkte i tak eller i kabelbro. Aktuelt i forbindelse med tunneler og underganger.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18488</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Henger i tak/kabelbro</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1-rør på bunnplate">
        <annotation>
          <documentation>8007: System brukt bl.a. i Oppland.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8007</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1-rør på bunnplate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2-rør på bunnplate">
        <annotation>
          <documentation>8006: System brukt bl.a. i Oppland.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8006</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2-rør på bunnplate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3-rør på bunnplate">
        <annotation>
          <documentation>8005: System brukt bl.a. i Oppland.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8005</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3-rør på bunnplate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bakkemontert bøyle">
        <annotation>
          <documentation>16851: Bøyle med innfesting i bakken. Skiltplater festes inni bøyle.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16851</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bakkemontert bøyle</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Helportal">
        <annotation>
          <documentation>2874: Festet på helportal. En helportal har to innfestinger i bakken.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2874</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helportal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Halvportal">
        <annotation>
          <documentation>2871: Festet på halvportal. En halvportal har bare en innfesting i bakken.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2871</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Halvportal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Wirestrekk">
        <annotation>
          <documentation>2877: Festet på wire som er spent opp over vegen. Wiren kan være festet i egne stolper, vegg/bygning e.l.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2877</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Wirestrekk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skiltbjelke/gitterdrager i tak">
        <annotation>
          <documentation>5043: Festet på skiltbjelke/gittermast. Skiltbjelke/gittermast benyttes hovedsakelig i tunnel eller i forbindelse med underganger og er festet i taket.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5043</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skiltbjelke/gitterdrager i tak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signalstolpe">
        <annotation>
          <documentation>18926: På stolpe som primært er satt opp for å feste signalhoder.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18926</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signalstolpe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegg">
        <annotation>
          <documentation>3266: Festet på vegg/bygning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lysmast">
        <annotation>
          <documentation>2967: Festet på lysmast.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2967</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysmast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kontaktledningsmast">
        <annotation>
          <documentation>21798: Skiltplate er festet på mast som primært benyttes for framføring av kontaktledning til tog/trikk/bybane.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kontaktledningsmast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegbom">
        <annotation>
          <documentation>17567: Festet på vegbom.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17567</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegbom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rekkverk/støtpute">
        <annotation>
          <documentation>21388: Festet på rekkverk, rekkverksende eller støtpute.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21388</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rekkverk/støtpute</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen vegeiers skiltpunkt">
        <annotation>
          <documentation>21796: Benyttes for "virtuelt skiltpunkt" der det fysiske skiltpunktet er regsitrert av annen vegeier.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21796</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen vegeiers skiltpunkt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSkiltpunktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Produktnavn_SkiltmastType">
    <annotation>
      <documentation>10427: Angir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10427</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10427</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Produktnavn,skiltmast</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Produktnavn_SkiltmastEnumerationType nvdb:Produktnavn_SkiltmastOtherType"/>
  </simpleType>
  <simpleType name="Produktnavn_SkiltmastEnumerationType">
    <annotation>
      <documentation>10427: Angir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10427</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10427</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Produktnavn,skiltmast</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="HIMAST H500">
        <annotation>
          <documentation>16852: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=509351&amp;method=alle&amp;produkttype=12623.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16852</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">HIMAST H500</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HIMAST H1000">
        <annotation>
          <documentation>16853: HIMAST H1000</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16853</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">HIMAST H1000</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HIMAST H2000">
        <annotation>
          <documentation>16854: HIMAST H2000</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16854</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">HIMAST H2000</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="HIMAST H3000">
        <annotation>
          <documentation>16855: HIMAST H3000</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16855</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">HIMAST H3000</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jerol 114">
        <annotation>
          <documentation>16856: Jerol 114</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16856</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jerol 114</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jerol 168">
        <annotation>
          <documentation>16857: Jerol 168</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16857</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jerol 168</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jerol 219">
        <annotation>
          <documentation>16858: Jerol 219</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16858</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jerol 219</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jerol 273">
        <annotation>
          <documentation>16859: Jerol 273</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16859</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jerol 273</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lattix D4412">
        <annotation>
          <documentation>16860: Lattix D4412</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16860</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lattix D4412</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lattix 4420">
        <annotation>
          <documentation>16861: Lattix 4420</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16861</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lattix 4420</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lattix 4425">
        <annotation>
          <documentation>16862: Lattix 4425</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16862</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lattix 4425</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lattix 4438">
        <annotation>
          <documentation>16863: Lattix 4438</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16863</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lattix 4438</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Norsafe NM 89">
        <annotation>
          <documentation>16864: Norsafe NM 89</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16864</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Norsafe NM 89</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Norsafe NM 120">
        <annotation>
          <documentation>16865: Norsafe NM 120</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16865</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Norsafe NM 120</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Norsafe NM 150">
        <annotation>
          <documentation>16866: Norsafe NM 150</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16866</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Norsafe NM 150</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Norsafe NM 190C">
        <annotation>
          <documentation>16867: Norsafe NM 190C</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16867</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Norsafe NM 190C</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Norsafe NM 190D">
        <annotation>
          <documentation>16868: Norsafe NM 190D</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16868</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Norsafe NM 190D</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Norsafe NM 290">
        <annotation>
          <documentation>16869: Norsafe NM 290</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16869</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Norsafe NM 290</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Opplandsmast toløper">
        <annotation>
          <documentation>16870: Opplandsmast toløper</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16870</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Opplandsmast toløper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Opplandsmast treløper">
        <annotation>
          <documentation>16871: Opplandsmast treløper</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16871</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Opplandsmast treløper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T&amp;V">
        <annotation>
          <documentation>16872: T&amp;V</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16872</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T&amp;V</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Produktnavn_SkiltmastOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skiltpunkt" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SkiltpunktType">
    <annotation>
      <documentation>95: Skiltpunkt er en sammensetning av skiltplater, stolper og stolpefundament m.m.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">95</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">95</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skiltpunkt</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkiltpunktType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrSkiltpunktType">
            <annotation>
              <documentation>1876: Angir hvilket oppsettingsutstyr skiltplatene er festet på.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1876</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="produktnavn_Skiltmast" type="nvdb:Produktnavn_SkiltmastType">
            <annotation>
              <documentation>10427: Angir produktnavn for ettergivende skiltmast. Verdier er hentet fra oversikt over godkjente produkttyper på vegvesen.no.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10427</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn, skiltmast</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallOppsettingsutstyr" type="integer">
            <annotation>
              <documentation>1877: Angir antall oppsettingsutstyr det er i forbindelse med vegobjektet. Antall skiltstolper/søyler knyttet til skiltpunktet. Eventuelle støttestolper skal ikke medregnes.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1877</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall oppsettingsutstyr</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeOverVegkant" type="double">
            <annotation>
              <documentation>2055: Angir høyde fra vegkant til underkant nederste skiltplate som ikke er underskilt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2055</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde over vegkant</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bøyle" type="nvdb:BøyleType">
            <annotation>
              <documentation>8773: Angir om skiltplaten(e) er festet inn i en metallbøyle (som igjen er festet på oppsettingsutstyret).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8773</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bøyle</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fundamentering" type="nvdb:FundamenteringSkiltpunktType">
            <annotation>
              <documentation>1671: Angir hvordan vegobjektet er fundamentert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1671</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallFundament" type="integer">
            <annotation>
              <documentation>1887: Angir hvor mange fundament det er i tilknytning til vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1887</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall fundament</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4794: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4794</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertKontrollVeieplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:KontrollVeieplass</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkiltpunktPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skiltpunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
