GML/PS/OLFV_NV/2.30/342.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.30" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.30" version="2.30">
  <annotation>
    <documentation>342: Speil satt opp for å bedre siktforholdene v avkjørsler/kryss/busslommer m.m.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierTrafikkspeilType">
    <annotation>
      <documentation>8017: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8017</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8017</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierTrafikkspeilEnumerationType nvdb:EierTrafikkspeilOtherType"/>
  </simpleType>
  <simpleType name="EierTrafikkspeilEnumerationType">
    <annotation>
      <documentation>8017: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8017</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8017</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10283: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10283</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18580: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18580</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10745: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10745</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10347: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10347</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10411: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10411</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17618: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17618</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTrafikkspeilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Materialtype_SpeilType">
    <annotation>
      <documentation>7936: Angir hvilken materialtype trafikkspeilet er laget av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7936</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7936</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype,speil</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Materialtype_SpeilEnumerationType nvdb:Materialtype_SpeilOtherType"/>
  </simpleType>
  <simpleType name="Materialtype_SpeilEnumerationType">
    <annotation>
      <documentation>7936: Angir hvilken materialtype trafikkspeilet er laget av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7936</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7936</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype,speil</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Polycarbonat">
        <annotation>
          <documentation>10140: Polycarbonat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10140</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Polycarbonat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stål">
        <annotation>
          <documentation>10141: Stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Materialtype_SpeilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrTrafikkspeilType">
    <annotation>
      <documentation>7935: Angir hva trafikkspeilet er festet på.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7935</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7935</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrTrafikkspeilEnumerationType nvdb:OppsettingsutstyrTrafikkspeilOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrTrafikkspeilEnumerationType">
    <annotation>
      <documentation>7935: Angir hva trafikkspeilet er festet på.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7935</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7935</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stolpe 3''">
        <annotation>
          <documentation>10136: Stolpe 3''</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10136</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stolpe 3''</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stolpe 2''">
        <annotation>
          <documentation>10137: Stolpe 2''</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10137</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stolpe 2''</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trestolpe">
        <annotation>
          <documentation>10139: Trestolpe</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10139</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trestolpe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegg">
        <annotation>
          <documentation>10138: Vegg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10138</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrTrafikkspeilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikkspeil" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TrafikkspeilType">
    <annotation>
      <documentation>342: Speil satt opp for å bedre siktforholdene v avkjørsler/kryss/busslommer m.m.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">342</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">342</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Trafikkspeil</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TrafikkspeilType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="materialtype_Speil" type="nvdb:Materialtype_SpeilType">
            <annotation>
              <documentation>7936: Angir hvilken materialtype trafikkspeilet er laget av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7936</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materialtype, speil</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrTrafikkspeilType">
            <annotation>
              <documentation>7935: Angir hva trafikkspeilet er festet på.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7935</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="diameter" type="integer">
            <annotation>
              <documentation>2275: Angir diameter av trafikkspeil.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2275</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Diameter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10379: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10379</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11115: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11115</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12361: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12361</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTrafikkspeilType">
            <annotation>
              <documentation>8017: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8017</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTrafikkspeilType">
            <annotation>
              <documentation>8090: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8090</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4918: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4918</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkspeilPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Trafikkspeil"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligTrafikkspeilType">
    <annotation>
      <documentation>8090: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8090</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8090</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTrafikkspeilEnumerationType nvdb:VedlikeholdsansvarligTrafikkspeilOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkspeilEnumerationType">
    <annotation>
      <documentation>8090: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8090</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8090</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10484: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10484</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18753: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18753</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19952: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18882: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18882</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10562: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10562</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10640: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10640</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17735: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17735</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTrafikkspeilOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
