GML/PS/OLFV_NV/2.30/447.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.30" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.30" version="2.30">
  <annotation>
    <documentation>447: Et tunnelløp hvor det ikke er åpent for ordinær trafikk.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierTunnelløpUtenTrafikkType">
    <annotation>
      <documentation>11976: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11976</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11976</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierTunnelløpUtenTrafikkEnumerationType nvdb:EierTunnelløpUtenTrafikkOtherType"/>
  </simpleType>
  <simpleType name="EierTunnelløpUtenTrafikkEnumerationType">
    <annotation>
      <documentation>11976: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11976</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11976</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20557: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20557</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20558: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20558</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20559: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20559</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20560: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20560</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20561: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20561</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20562: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20562</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTunnelløpUtenTrafikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KjørbarType">
    <annotation>
      <documentation>9179: Angir om det er mulig å kjøre med bil i tunnelløpet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9179</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9179</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kjørbar</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KjørbarEnumerationType nvdb:KjørbarOtherType"/>
  </simpleType>
  <simpleType name="KjørbarEnumerationType">
    <annotation>
      <documentation>9179: Angir om det er mulig å kjøre med bil i tunnelløpet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9179</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9179</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kjørbar</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12319: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12319</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12320: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12320</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KjørbarOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RømningsvegType">
    <annotation>
      <documentation>9178: Angir om tunnelløp kan benyttes som rømningsveg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9178</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9178</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Rømningsveg</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:RømningsvegEnumerationType nvdb:RømningsvegOtherType"/>
  </simpleType>
  <simpleType name="RømningsvegEnumerationType">
    <annotation>
      <documentation>9178: Angir om tunnelløp kan benyttes som rømningsveg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9178</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9178</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Rømningsveg</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12317: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12317</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12318: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12318</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RømningsvegOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TunnelløpUtenTrafikk" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TunnelløpUtenTrafikkType">
    <annotation>
      <documentation>447: Et tunnelløp hvor det ikke er åpent for ordinær trafikk.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">447</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">447</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnelløp uten trafikk</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TunnelløpUtenTrafikkType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeTunnelløpUtenTrafikkType">
            <annotation>
              <documentation>9177: Angir hvilken type tunnelløp det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9177</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="navn" type="string">
            <annotation>
              <documentation>9257: Angir navn, kan gjerne være samme som navn på tunnel pluss tillegg.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9257</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tunnelprofil" type="nvdb:TunnelprofilTunnelløpUtenTrafikkType">
            <annotation>
              <documentation>3102: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3102</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tunnelprofil</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>3105: Angir lengde av tunnelløpet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3105</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="double">
            <annotation>
              <documentation>3848: Angir minimum bredde fra tunnelvegg til tunnelvegg i kjørebanenivå.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3848</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>3873: Angir høyde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3873</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="rømningsveg" type="nvdb:RømningsvegType">
            <annotation>
              <documentation>9178: Angir om tunnelløp kan benyttes som rømningsveg.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9178</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Rømningsveg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kjørbar" type="nvdb:KjørbarType">
            <annotation>
              <documentation>9179: Angir om det er mulig å kjøre med bil i tunnelløpet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9179</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kjørbar</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11116: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11116</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12363: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12363</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTunnelløpUtenTrafikkType">
            <annotation>
              <documentation>11976: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11976</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTunnelløpUtenTrafikkType">
            <annotation>
              <documentation>12005: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12005</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8920: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8920</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Angivelse av objektets posisjon</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkekum" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trekkekum</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTrekkerørKanal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TrekkerørKanal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTunnelport" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelport</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertTunnelportal" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Tunnelportal</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVifteVentilator" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:VifteVentilator</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVannOgFrostsikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:VannOgFrostsikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkiltpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Skiltpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertNødstasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Nødstasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertLukketRørgrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:LukketRørgrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKamera" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kamera</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabelgrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kabelgrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertKabelbr_Uten_Stige" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Kabelbr_Uten_Stige</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertEvakueringsbelysning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Evakueringsbelysning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBetongutstøping" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Betongutstøping</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBergsikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Bergsikring</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelløpUtenTrafikkPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TunnelløpUtenTrafikk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TunnelprofilTunnelløpUtenTrafikkType">
    <annotation>
      <documentation>3102: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnelprofil</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TunnelprofilTunnelløpUtenTrafikkEnumerationType nvdb:TunnelprofilTunnelløpUtenTrafikkOtherType"/>
  </simpleType>
  <simpleType name="TunnelprofilTunnelløpUtenTrafikkEnumerationType">
    <annotation>
      <documentation>3102: Angir hvilket standard tunnelprofil tunnelløpet er bygd etter. Merknad: Dersom tunnelløpet har varierende standard, skal det oppgis det profilet som beskriver det minste tverrsnittet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tunnelprofil</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="T4">
        <annotation>
          <documentation>12301: T4</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12301</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T5">
        <annotation>
          <documentation>12302: T5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12302</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T5,5">
        <annotation>
          <documentation>12303: T5,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12303</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T5,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T6">
        <annotation>
          <documentation>12304: T6</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12304</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T6</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T7">
        <annotation>
          <documentation>12305: T7</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12305</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T7</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T8,5">
        <annotation>
          <documentation>12306: T8,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12306</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T8,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T9">
        <annotation>
          <documentation>12307: T9</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12307</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T9</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T9,5">
        <annotation>
          <documentation>12308: T9,5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12308</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T9,5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T10">
        <annotation>
          <documentation>12309: T10</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12309</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T10</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="T11">
        <annotation>
          <documentation>12310: T11</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12310</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T11</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rektangulært tverrsnitt">
        <annotation>
          <documentation>12316: Rektangulært tverrsnitt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12316</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rektangulært tverrsnitt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TunnelprofilTunnelløpUtenTrafikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpUtenTrafikkType">
    <annotation>
      <documentation>9177: Angir hvilken type tunnelløp det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9177</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9177</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeTunnelløpUtenTrafikkEnumerationType nvdb:TypeTunnelløpUtenTrafikkOtherType"/>
  </simpleType>
  <simpleType name="TypeTunnelløpUtenTrafikkEnumerationType">
    <annotation>
      <documentation>9177: Angir hvilken type tunnelløp det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9177</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9177</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tverrforbindelse mellom tunnelløp">
        <annotation>
          <documentation>12299: Tverrforbindelse mellom tunnelløp</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12299</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrforbindelse mellom tunnelløp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tverrslag til dagen">
        <annotation>
          <documentation>12300: Tverrslag til dagen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12300</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tverrslag til dagen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parallelløp til hovedløp">
        <annotation>
          <documentation>12323: Parallelløp til hovedløp</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12323</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Parallelløp til hovedløp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sløyfe">
        <annotation>
          <documentation>13395: Tunnelløp som går i sløyfe, dvs. det starter og slutter i samme løp. Benyttes f.eks. som rensesløyfe.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13395</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sløyfe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeTunnelløpUtenTrafikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTunnelløpUtenTrafikkType">
    <annotation>
      <documentation>12005: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12005</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12005</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTunnelløpUtenTrafikkEnumerationType nvdb:VedlikeholdsansvarligTunnelløpUtenTrafikkOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTunnelløpUtenTrafikkEnumerationType">
    <annotation>
      <documentation>12005: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12005</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12005</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>20742: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20742</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>20743: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20743</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20744: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20744</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>20745: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20745</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20746: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20746</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20747: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20747</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20748: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20748</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTunnelløpUtenTrafikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
