GML/PS/OLFV_NV/2.30/57.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.30" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.30" version="2.30">
  <annotation>
    <documentation>57: Skråflate som er del av begrensningen av at skjæringsvolum. I tillegg til ei eller to skjæringer (ev. en på hver side av vegen) begrenses skjæringsvolumet av planum. Merknad: Det skal angis sideposisjon for skjæring.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierSkjæringType">
    <annotation>
      <documentation>11961: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11961</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11961</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierSkjæringEnumerationType nvdb:EierSkjæringOtherType"/>
  </simpleType>
  <simpleType name="EierSkjæringEnumerationType">
    <annotation>
      <documentation>11961: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11961</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11961</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20467: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20467</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20468: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20468</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20469: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20469</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20470: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20470</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20471: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20471</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20472: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20472</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierSkjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Skjæring" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SkjæringType">
    <annotation>
      <documentation>57: Skråflate som er del av begrensningen av at skjæringsvolum. I tillegg til ei eller to skjæringer (ev. en på hver side av vegen) begrenses skjæringsvolumet av planum. Merknad: Det skal angis sideposisjon for skjæring.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">57</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">57</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skjæring</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkjæringType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeSkjæringType">
            <annotation>
              <documentation>1121: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1121</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høyde_Middel" type="double">
            <annotation>
              <documentation>9436: Gir gjennomsnittshøyde av skjæring. Måles vertikalt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9436</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde, middel</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høyde_Maksimal" type="double">
            <annotation>
              <documentation>1870: Angir maksimal høyde av skjæring. Måles vertikalt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1870</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde, maksimal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bredde_Gjennomsnitt" type="double">
            <annotation>
              <documentation>4669: Angir gjennomsnittlig bredde av skjæring (skråflate). Bredde måles i plan med skjæring (skråflate). Gjennomsnittsbredde kan benyttes som grunnlag for å beregne areal av skjæring (skråflate).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4669</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10360: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10360</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11055: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11055</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12293: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12293</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierSkjæringType">
            <annotation>
              <documentation>11961: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11961</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligSkjæringType">
            <annotation>
              <documentation>11995: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11995</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4760: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4760</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertBergsikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Bergsikring</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertPlastringErosjonssikring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:PlastringErosjonssikring</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkjæringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skjæring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSkjæringType">
    <annotation>
      <documentation>1121: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1121</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1121</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSkjæringEnumerationType nvdb:TypeSkjæringOtherType"/>
  </simpleType>
  <simpleType name="TypeSkjæringEnumerationType">
    <annotation>
      <documentation>1121: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1121</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1121</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Jordskjæring">
        <annotation>
          <documentation>2286: Jordskjæring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2286</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jordskjæring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bergskjæring">
        <annotation>
          <documentation>2325: Bergskjæring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2325</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bergskjæring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kombinert jord- og bergskjæring">
        <annotation>
          <documentation>3283: Kombinert jord- og bergskjæring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3283</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kombinert jord- og bergskjæring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkjæringType">
    <annotation>
      <documentation>11995: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11995</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11995</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligSkjæringEnumerationType nvdb:VedlikeholdsansvarligSkjæringOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkjæringEnumerationType">
    <annotation>
      <documentation>11995: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11995</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11995</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>20672: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20672</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>20673: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20673</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20674: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20674</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>20675: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20675</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20676: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20676</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20677: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20677</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20678: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20678</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligSkjæringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
