GML/PS/OLFV_SVV/2.29/234.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.29" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.29" version="2.29">
  <annotation>
    <documentation>234: Opphøyd terrengformasjon f.eks. anlagt for å skjerme mot vegtrafikkstøy eller skredmasser. Kan være sammensatt av flere lag</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AdkomstVollType">
    <annotation>
      <documentation>9682: Beskriver hvordan man får adkomst til vegobjektet (bakside) for vedlikehold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9682</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9682</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AdkomstVollEnumerationType nvdb:AdkomstVollOtherType"/>
  </simpleType>
  <simpleType name="AdkomstVollEnumerationType">
    <annotation>
      <documentation>9682: Beskriver hvordan man får adkomst til vegobjektet (bakside) for vedlikehold.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9682</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9682</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Bil">
        <annotation>
          <documentation>19829: Adkomst er mulig med bil.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19829</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Hjullaster">
        <annotation>
          <documentation>13955: Adkomst er mulig med hjullaster.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13955</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Hjullaster</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gravemaskin">
        <annotation>
          <documentation>13956: Adkomst for gravemaskin</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13956</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gravemaskin</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Til fots">
        <annotation>
          <documentation>13957: Adkomst til fots</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13957</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Til fots</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kran">
        <annotation>
          <documentation>13958: Adkomst for kran</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13958</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kran</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tau">
        <annotation>
          <documentation>13959: Adkomt med tau</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13959</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tau</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Helikopter">
        <annotation>
          <documentation>13960: Adkomst for helikopter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13960</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Helikopter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AdkomstVollOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeVollType">
    <annotation>
      <documentation>1286: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1286</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1286</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeVollEnumerationType nvdb:BruksområdeVollOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeVollEnumerationType">
    <annotation>
      <documentation>1286: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1286</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1286</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Støyskjerming">
        <annotation>
          <documentation>1996: Støyskjerming</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">1996</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støyskjerming</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredsikring, ledevoll">
        <annotation>
          <documentation>13984: Skredsikring, ledevoll</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13984</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredsikring, ledevoll</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skredsikring, fangvoll">
        <annotation>
          <documentation>13983: Skredsikring, fangvoll</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13983</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredsikring, fangvoll</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flomsikring">
        <annotation>
          <documentation>3805: Flomsikring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3805</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Flomsikring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Snø/vindskjerming">
        <annotation>
          <documentation>1999: Snø/vindskjerming</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">1999</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snø/vindskjerming</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeVollOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeVollType">
    <annotation>
      <documentation>1422: Angir primær materialtype for vegobjektet. For skredsikringsvoller skal det angis materiale på støtside.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1422</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1422</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeVollEnumerationType nvdb:MaterialtypeVollOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeVollEnumerationType">
    <annotation>
      <documentation>1422: Angir primær materialtype for vegobjektet. For skredsikringsvoller skal det angis materiale på støtside.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1422</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1422</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Jord">
        <annotation>
          <documentation>4671: Jord</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4671</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jord</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein">
        <annotation>
          <documentation>4672: Stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4672</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>4673: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4673</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tørrmur">
        <annotation>
          <documentation>15961: Mur av stein e.l.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15961</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tørrmur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gabioner">
        <annotation>
          <documentation>15962: Steinfylte nettingkister som kan stables inntil- og oppå hverandre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15962</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gabioner</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeVollOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Voll" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VollType">
    <annotation>
      <documentation>234: Opphøyd terrengformasjon f.eks. anlagt for å skjerme mot vegtrafikkstøy eller skredmasser. Kan være sammensatt av flere lag</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">234</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">234</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Voll</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VollType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeVollType">
            <annotation>
              <documentation>1286: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1286</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materialtype" type="nvdb:MaterialtypeVollType">
            <annotation>
              <documentation>1422: Angir primær materialtype for vegobjektet. For skredsikringsvoller skal det angis materiale på støtside.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1422</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lengde" type="integer">
            <annotation>
              <documentation>4558: Lengde fra ende til ende av vollfoten.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4558</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="breddeFot" type="double">
            <annotation>
              <documentation>1930: Angir gjennomsnittlig bredde ved vollens fot.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1930</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde fot</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="breddeKrone" type="double">
            <annotation>
              <documentation>1935: Angir gjennomsnittlig bredde ved vollens krone (topp).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1935</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde krone</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høyde_Gjsn" type="double">
            <annotation>
              <documentation>1598: Angir gjennomsnittlig egenhøyde fra fot voll til topp krone av vollen. Høyde skal måles på støtside for skredsikringsvoller.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1598</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde, gjsn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="adkomst" type="nvdb:AdkomstVollType">
            <annotation>
              <documentation>9682: Beskriver hvordan man får adkomst til vegobjektet (bakside) for vedlikehold.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9682</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>9683: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9683</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4864: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4864</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkredmagasinFanggrøft" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:SkredmagasinFanggrøft</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertSkjerm" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Skjerm</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VollPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Voll"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
