GML/PS/OLFV_SVV/2.29/278.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.29" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.29" version="2.29">
  <annotation>
    <documentation>278: Anlegg for å ventilere tunneler. Det skal være registrert ett ventilasjonsanlegg per tunnelløp der det er ventilasjon. Merknad: Vegobjekttype skal ikke benyttes for ventilasjonsanlegg i bygninger/tekniske rom.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="LokalStyringType">
    <annotation>
      <documentation>3694: Angir om det er mulighet for lokal styring. Lokal styring vil si styring fra nødstyreskap.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3694</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3694</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lokal styring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LokalStyringEnumerationType nvdb:LokalStyringOtherType"/>
  </simpleType>
  <simpleType name="LokalStyringEnumerationType">
    <annotation>
      <documentation>3694: Angir om det er mulighet for lokal styring. Lokal styring vil si styring fra nødstyreskap.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3694</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3694</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lokal styring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4752: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4752</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4753: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4753</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LokalStyringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StyringFraVTSVentilasjonsanleggType">
    <annotation>
      <documentation>3757: Angir om det er mulig å styre anlegg fra VTS.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3757</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3757</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Styring fra VTS</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StyringFraVTSVentilasjonsanleggEnumerationType nvdb:StyringFraVTSVentilasjonsanleggOtherType"/>
  </simpleType>
  <simpleType name="StyringFraVTSVentilasjonsanleggEnumerationType">
    <annotation>
      <documentation>3757: Angir om det er mulig å styre anlegg fra VTS.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3757</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3757</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Styring fra VTS</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4756: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4756</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4757: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4757</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StyringFraVTSVentilasjonsanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Ventilasjonsanlegg" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VentilasjonsanleggType">
    <annotation>
      <documentation>278: Anlegg for å ventilere tunneler. Det skal være registrert ett ventilasjonsanlegg per tunnelløp der det er ventilasjon. Merknad: Vegobjekttype skal ikke benyttes for ventilasjonsanlegg i bygninger/tekniske rom.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">278</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">278</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Ventilasjonsanlegg</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VentilasjonsanleggType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="styringFraVTS" type="nvdb:StyringFraVTSVentilasjonsanleggType">
            <annotation>
              <documentation>3757: Angir om det er mulig å styre anlegg fra VTS.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3757</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Styring fra VTS</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="lokalStyring" type="nvdb:LokalStyringType">
            <annotation>
              <documentation>3694: Angir om det er mulighet for lokal styring. Lokal styring vil si styring fra nødstyreskap.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3694</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lokal styring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10400: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10400</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>8933: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8933</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertVifteVentilator" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:VifteVentilator</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VentilasjonsanleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Ventilasjonsanlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
