GML/PS/OLFV_SVV/2.29/464.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.29" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.29" version="2.29">
  <annotation>
    <documentation>464: Utstyr for å måle vannstand f.eks i pumpesump.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="TypeVannstandsmålerType">
    <annotation>
      <documentation>10090: Angir hvilken type sensor som brukes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10090</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10090</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeVannstandsmålerEnumerationType nvdb:TypeVannstandsmålerOtherType"/>
  </simpleType>
  <simpleType name="TypeVannstandsmålerEnumerationType">
    <annotation>
      <documentation>10090: Angir hvilken type sensor som brukes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10090</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10090</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Trykksensor">
        <annotation>
          <documentation>16457: Sensor som ligger på bunnen og måler vanndybde ut fra vanntrykk der.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16457</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trykksensor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Radarsensor">
        <annotation>
          <documentation>16458: Vanndybde måles fra overflaten ved å sende mikrobølger med "radar" frekvens som reflekteres fra bunnen og derved gir dybden</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16458</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Radarsensor</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Flottørmåler">
        <annotation>
          <documentation>16592: Vanndybde måles ved hjelp av flottør</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16592</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Flottørmåler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Laser">
        <annotation>
          <documentation>16594: Vanndybde måles ved hjelp av laser</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16594</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Laser</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ultralyd">
        <annotation>
          <documentation>16593: Vanndybde måles ved hjelp av ultralyd</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16593</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ultralyd</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVannstandsmålerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vannstandsmåler" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VannstandsmålerType">
    <annotation>
      <documentation>464: Utstyr for å måle vannstand f.eks i pumpesump.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">464</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">464</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vannstandsmåler</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VannstandsmålerType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeVannstandsmålerType">
            <annotation>
              <documentation>10090: Angir hvilken type sensor som brukes.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10090</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10392: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10392</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10089: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10089</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent" type="string">
            <annotation>
              <documentation>3537: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3537</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>3800: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og evt. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3800</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4981: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4981</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertPumpestasjon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Pumpestasjon</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VannstandsmålerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Vannstandsmåler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
