GML/PS/OLFV_SVV/2.29/62.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.29" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.29" version="2.29">
  <annotation>
    <documentation>62: Byggverk som brukes for å overvinne nivåforskjell hvor vanlig skråning vil ta for stor plass.  S. brukes også som sikringstiltak.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AktivForankringType">
    <annotation>
      <documentation>11358: Angir hvor vidt støttekonstruksjonen har en aktiv støttefunksjon etter at anlegget er ferdig.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11358</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11358</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Aktiv forankring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AktivForankringEnumerationType nvdb:AktivForankringOtherType"/>
  </simpleType>
  <simpleType name="AktivForankringEnumerationType">
    <annotation>
      <documentation>11358: Angir hvor vidt støttekonstruksjonen har en aktiv støttefunksjon etter at anlegget er ferdig.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11358</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11358</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Aktiv forankring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>19213: Støttekonstruksjonen har aktiv støttefunksjon</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19213</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>19214: Støttekonstruksjonen er inaktiv, dvs den har ikke lenger støttefunksjon</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19214</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AktivForankringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeStøttekonstruksjonType">
    <annotation>
      <documentation>1265: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1265</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1265</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeStøttekonstruksjonEnumerationType nvdb:BruksområdeStøttekonstruksjonOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeStøttekonstruksjonEnumerationType">
    <annotation>
      <documentation>1265: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1265</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1265</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Støtte opp skjæringsskråning">
        <annotation>
          <documentation>3374: Støtte opp skjæringsskråning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3374</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støtte opp skjæringsskråning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Støtte opp fyllingsskråning">
        <annotation>
          <documentation>3375: Støtte opp fyllingsskråning</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3375</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støtte opp fyllingsskråning</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vingemur">
        <annotation>
          <documentation>3380: Vingemur</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3380</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vingemur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sikre fjellskjæring">
        <annotation>
          <documentation>3376: Sikre fjellskjæring</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3376</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sikre fjellskjæring</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeStøttekonstruksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ForblendingType">
    <annotation>
      <documentation>11355: Type forblending.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11355</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11355</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Forblending</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ForblendingEnumerationType nvdb:ForblendingOtherType"/>
  </simpleType>
  <simpleType name="ForblendingEnumerationType">
    <annotation>
      <documentation>11355: Type forblending.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11355</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11355</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Forblending</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betongmur">
        <annotation>
          <documentation>19208: Betongmur</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19208</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongmur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ingen forblending">
        <annotation>
          <documentation>19212: Ingen forblending</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19212</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ingen forblending</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Torvblokker">
        <annotation>
          <documentation>19211: Torvblokker</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19211</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Torvblokker</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>19210: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19210</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tørrmur">
        <annotation>
          <documentation>19209: Tørrmur</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19209</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tørrmur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ForblendingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStøttekonstruksjonType">
    <annotation>
      <documentation>1668: Angir fundamenteringsmetode for støttekonstruksjonen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1668</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1668</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FundamenteringStøttekonstruksjonEnumerationType nvdb:FundamenteringStøttekonstruksjonOtherType"/>
  </simpleType>
  <simpleType name="FundamenteringStøttekonstruksjonEnumerationType">
    <annotation>
      <documentation>1668: Angir fundamenteringsmetode for støttekonstruksjonen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1668</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1668</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betongsåle">
        <annotation>
          <documentation>3382: Betongsåle</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3382</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongsåle</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trykkimpregnert tresåle">
        <annotation>
          <documentation>3383: Trykkimpregnert tresåle</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3383</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trykkimpregnert tresåle</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fjellfot">
        <annotation>
          <documentation>3454: Fjellfot</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3454</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fjellfot</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Løsmasse/fjell">
        <annotation>
          <documentation>3384: Evt. masseutskifting angis som kommentar</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3384</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Løsmasse/fjell</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="På peler">
        <annotation>
          <documentation>19207: På peler</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19207</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">På peler</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FundamenteringStøttekonstruksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Støttekonstruksjon" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:StøttekonstruksjonType">
    <annotation>
      <documentation>62: Byggverk som brukes for å overvinne nivåforskjell hvor vanlig skråning vil ta for stor plass.  S. brukes også som sikringstiltak.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">62</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">62</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Støttekonstruksjon</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StøttekonstruksjonType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="areal" type="integer">
            <annotation>
              <documentation>3950: Angir areal av synlig del av støttekonstruksjonen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3950</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeStøttekonstruksjonType">
            <annotation>
              <documentation>1126: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1126</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bruksområde" type="nvdb:BruksområdeStøttekonstruksjonType">
            <annotation>
              <documentation>1265: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1265</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fundamentering" type="nvdb:FundamenteringStøttekonstruksjonType">
            <annotation>
              <documentation>1668: Angir fundamenteringsmetode for støttekonstruksjonen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1668</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fundamentering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="forblending" type="nvdb:ForblendingType">
            <annotation>
              <documentation>11355: Type forblending.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11355</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Forblending</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="konstruksjonshøyde_Maksimal" type="double">
            <annotation>
              <documentation>11356: Største høyde fra bunn til topp av støttekonstruksjonen. Inkluderer både synlig og tildekket del.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11356</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Konstruksjonshøyde, maksimal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="konstruksjonshøyde_Minimum" type="double">
            <annotation>
              <documentation>11357: Minste høyde fra bunn til topp av støttekonstruksjonen. Inkluderer både synlig og tildekket del.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11357</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Konstruksjonshøyde, minimum</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høyde_Synlig_Maksimal" type="double">
            <annotation>
              <documentation>10844: Angir største synlige høyde for støttekonstruksjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10844</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde, synlig, maksimal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høyde_Synlig_Gjennomsnitt" type="double">
            <annotation>
              <documentation>1582: Angir gjennomsnittlig synlig høyde for støttekonstruksjonen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1582</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde, synlig, gjennomsnitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelse_Gjennomsnitt" type="double">
            <annotation>
              <documentation>1618: Angir støttekonstruksjonens gjennomsnittstykkelse. Inkluderer ikke eventuell forblending.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1618</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tykkelse, gjennomsnitt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>1315: Angir lengde av støttekonstruksjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1315</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="aktivForankring" type="nvdb:AktivForankringType">
            <annotation>
              <documentation>11358: Angir hvor vidt støttekonstruksjonen har en aktiv støttefunksjon etter at anlegget er ferdig.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11358</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Aktiv forankring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10368: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10368</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11359: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11359</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4765: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4765</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10960: Gir flate/polygon som geometrisk avgrenser støttekonstruksjonområdet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10960</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertStagforankring" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Stagforankring</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StøttekonstruksjonPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Støttekonstruksjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeStøttekonstruksjonType">
    <annotation>
      <documentation>1126: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1126</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1126</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeStøttekonstruksjonEnumerationType nvdb:TypeStøttekonstruksjonOtherType"/>
  </simpleType>
  <simpleType name="TypeStøttekonstruksjonEnumerationType">
    <annotation>
      <documentation>1126: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1126</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1126</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Naturstein, murt, støpt">
        <annotation>
          <documentation>3344: Jfr. Prosess 71.1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3344</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturstein, murt, støpt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Naturstein, murt, tørrmur">
        <annotation>
          <documentation>3342: Jfr. Prosess 71.1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3342</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturstein, murt, tørrmur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>3323: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3323</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, plasstøpt">
        <annotation>
          <documentation>3327: Jfr. Prosess 71.2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3327</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, plasstøpt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong, prefabrikkerte element">
        <annotation>
          <documentation>3333: Jfr. Prosess 71.3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3333</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong, prefabrikkerte element</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein, murt, tørrmur">
        <annotation>
          <documentation>3336: Jfr. Prosess 71.3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3336</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongstein, murt, tørrmur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongstein, murt, støpt">
        <annotation>
          <documentation>3340: Jfr. Prosess 71.3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3340</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongstein, murt, støpt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Steinkurver">
        <annotation>
          <documentation>3377: Jfr. Prosess 71.5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3377</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Steinkurver</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Armert jord">
        <annotation>
          <documentation>3379: Jfr. Prosess 71.7</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3379</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Armert jord</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre/Sognemur">
        <annotation>
          <documentation>3381: Tre/Sognemur</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3381</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre/Sognemur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Spunt">
        <annotation>
          <documentation>3378: Jfr. Prosess 83.61 og 83.63</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3378</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spunt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Slissevegg">
        <annotation>
          <documentation>19204: Jfr. Prosess 83.64</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19204</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slissevegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bjelkestengsel">
        <annotation>
          <documentation>19205: Inkluderer rørvegg med sprøytebetong. Jfr prosess 83.62</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19205</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bjelkestengsel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sekantvegg">
        <annotation>
          <documentation>19206: Jfr prosess 83.67</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19206</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sekantvegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeStøttekonstruksjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
