GML/PS/OLFV_SVV/2.29/70.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.29" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.29" version="2.29">
  <annotation>
    <documentation>70: Konstruksjon i tunnel for sikring mot vann og frost.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Sprøytebetong_HarMikrofiberType">
    <annotation>
      <documentation>9169: Angir om det er mikrofiber i sprøytebetong (brannsikring).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9169</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9169</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sprøytebetong,har mikrofiber</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Sprøytebetong_HarMikrofiberEnumerationType nvdb:Sprøytebetong_HarMikrofiberOtherType"/>
  </simpleType>
  <simpleType name="Sprøytebetong_HarMikrofiberEnumerationType">
    <annotation>
      <documentation>9169: Angir om det er mikrofiber i sprøytebetong (brannsikring).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9169</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9169</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sprøytebetong,har mikrofiber</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>12260: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12260</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>12261: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12261</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_HarMikrofiberOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_TykkelseType">
    <annotation>
      <documentation>9171: Angir gjennomsnittlig tykkelse av sprøytebetong.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9171</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9171</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sprøytebetong,tykkelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Sprøytebetong_TykkelseEnumerationType nvdb:Sprøytebetong_TykkelseOtherType"/>
  </simpleType>
  <simpleType name="Sprøytebetong_TykkelseEnumerationType">
    <annotation>
      <documentation>9171: Angir gjennomsnittlig tykkelse av sprøytebetong.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9171</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9171</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sprøytebetong,tykkelse</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="2 cm">
        <annotation>
          <documentation>12264: 2 cm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12264</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2 cm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6 cm">
        <annotation>
          <documentation>12265: 6 cm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">6 cm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8 cm">
        <annotation>
          <documentation>12266: 8 cm</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">8 cm</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Sprøytebetong_TykkelseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVannOgFrostsikringType">
    <annotation>
      <documentation>1132: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1132</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1132</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeVannOgFrostsikringEnumerationType nvdb:TypeVannOgFrostsikringOtherType"/>
  </simpleType>
  <simpleType name="TypeVannOgFrostsikringEnumerationType">
    <annotation>
      <documentation>1132: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1132</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1132</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betongelementer i vegger og tak">
        <annotation>
          <documentation>3428: Betongelementer i vegger og tak</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3428</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongelementer i vegger og tak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongelementer i vegger, sprøytebetong på PE-skum i tak">
        <annotation>
          <documentation>12270: Betongelementer i vegger, sprøytebetong på PE-skum i tak</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12270</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongelementer i vegger, sprøytebetong på PE-skum i tak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongelementer i vegger, sprøytebetong på knølmontert PE-skum i tak">
        <annotation>
          <documentation>12271: Betongelementer i vegger, sprøytebetong på knølmontert PE-skum i tak</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12271</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongelementer i vegger, sprøytebetong på knølmontert PE-skum i tak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongelementer i vegger, stålkassetter i tak">
        <annotation>
          <documentation>12272: Betongelementer i vegger, stålkassetter i tak</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12272</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongelementer i vegger, stålkassetter i tak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betongelementer i vegger, tunnelduk i tak">
        <annotation>
          <documentation>12273: Betongelementer i vegger, tunnelduk i tak</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12273</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betongelementer i vegger, tunnelduk i tak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lettbetongelementer i vegger og tak">
        <annotation>
          <documentation>12274: Lettbetongelementer i vegger og tak</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12274</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lettbetongelementer i vegger og tak</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lette konstruksjoner, platehvelv, aluminium">
        <annotation>
          <documentation>3426: Lette konstruksjoner, platehvelv, aluminium</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3426</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lette konstruksjoner, platehvelv, aluminium</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lette konstruksjoner, platehvelv, stål">
        <annotation>
          <documentation>3427: Lette konstruksjoner, platehvelv, stål</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3427</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lette konstruksjoner, platehvelv, stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lette konstruksjoner, kompositthvelv">
        <annotation>
          <documentation>12276: Lette konstruksjoner, kompositthvelv</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12276</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lette konstruksjoner, kompositthvelv</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lette konstruksjoner, kassetthvelv">
        <annotation>
          <documentation>12277: Lette konstruksjoner, kassetthvelv</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12277</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lette konstruksjoner, kassetthvelv</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprøytebetonghvelv, nettarmert på membran">
        <annotation>
          <documentation>12279: Sprøytebetonghvelv, nettarmert på membran</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøytebetonghvelv, nettarmert på membran</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprøytebetonghvelv, nettarmert på PE-skum">
        <annotation>
          <documentation>12278: Sprøytebetonghvelv, nettarmert på PE-skum</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12278</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøytebetonghvelv, nettarmert på PE-skum</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprøytebetong, fiberarmert på knølmontert PE-skum">
        <annotation>
          <documentation>12280: Sprøytebetong, fiberarmert på knølmontert PE-skum</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12280</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprøytebetong, fiberarmert på knølmontert PE-skum</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="PE-skum, utildekket">
        <annotation>
          <documentation>12281: PE-skum, utildekket</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12281</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">PE-skum, utildekket</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnelduk">
        <annotation>
          <documentation>3425: Tunnelduk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3425</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnelduk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Platetak, metall">
        <annotation>
          <documentation>12282: Platetak, metall</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12282</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Platetak, metall</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVannOgFrostsikringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VannOgFrostsikring" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VannOgFrostsikringType">
    <annotation>
      <documentation>70: Konstruksjon i tunnel for sikring mot vann og frost.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">70</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">70</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vann- og frostsikring</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VannOgFrostsikringType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeVannOgFrostsikringType">
            <annotation>
              <documentation>1132: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1132</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>7543: Angir lengde av vann-/frostsikring.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7543</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="gjennomsnittligElementlengde" type="integer">
            <annotation>
              <documentation>3729: Angir normal lengde på elementene.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3729</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Gjennomsnittlig elementlengde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallElement" type="integer">
            <annotation>
              <documentation>1644: Angir hvor mange enkeltelement en konstruksjon er satt sammen av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1644</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall element</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tykkelse" type="integer">
            <annotation>
              <documentation>1619: Angir total tykkelse av hvelvkonstruksjon.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1619</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sprøytebetong_HarMikrofiber" type="nvdb:Sprøytebetong_HarMikrofiberType">
            <annotation>
              <documentation>9169: Angir om det er mikrofiber i sprøytebetong (brannsikring).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9169</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sprøytebetong, har mikrofiber</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sprøytebetong_Tykkelse" type="nvdb:Sprøytebetong_TykkelseType">
            <annotation>
              <documentation>9171: Angir gjennomsnittlig tykkelse av sprøytebetong.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9171</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Sprøytebetong, tykkelse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10391: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10391</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>9172: Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9172</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4772: Gir koordinatsett for å avgrense vegobjektets utstrekning. Vegobjektet representeres med vegnettsgeometri på strekning mellom startpunkt og sluttpunkt. Eventuelt mellomliggende punkt benyttes for å sikre at riktig veglinje benyttes for hele strekningen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4772</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="assosiertMembran" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Membran</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTunnelløpUtenTrafikk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:TunnelløpUtenTrafikk</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VannOgFrostsikringPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:VannOgFrostsikring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
