GML/PS/OLFV_SVV/2.29/859.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.29" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.29" version="2.29">
  <annotation>
    <documentation>859: Taktile indikatorer er standardiserte elementer som er lagt ned i gategrunn for å bidra til vegfinning for blinde og svaksynte. Kan bestå av retnings-, varsels- eller oppmerksomhetsindikator. For mer utfyllende informasjon, se HB V129 (278).</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeTaktileIndikatorerType">
    <annotation>
      <documentation>9812: Angir hovedbruksområde for ledelinje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeTaktileIndikatorerEnumerationType nvdb:BruksområdeTaktileIndikatorerOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeTaktileIndikatorerEnumerationType">
    <annotation>
      <documentation>9812: Angir hovedbruksområde for ledelinje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Gangfelt">
        <annotation>
          <documentation>15964: Markerer gangfelt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15964</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gangfelt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Perrong">
        <annotation>
          <documentation>15965: Langsgående markering ved perrong eller holdeplass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15965</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Perrong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trapp">
        <annotation>
          <documentation>15966: Varsler trapp/nivåsprang (oppe/nede)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15966</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trapp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Markering stoppunkt på holdeplass">
        <annotation>
          <documentation>15967: Punkt der bussen stopper (fremdør)</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15967</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Markering stoppunkt på holdeplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Knutepunkt">
        <annotation>
          <documentation>15968: Kan være f.eks. ledelinjer mellom stoppunkt, mellom stoppunkt og infotavler, mellom stoppunkt og terminal</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15968</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Knutepunkt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferjeleie">
        <annotation>
          <documentation>15969: Markering på kaikant eller lignende</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15969</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferjeleie</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Inngangsparti">
        <annotation>
          <documentation>16968: Benyttes f.eks ved inngangsparti til rasteplass</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16968</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inngangsparti</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTaktileIndikatorerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTaktileIndikatorerType">
    <annotation>
      <documentation>9816: Angir hvilken materialtype Taktil indikator er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9816</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9816</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeTaktileIndikatorerEnumerationType nvdb:MaterialeTaktileIndikatorerOtherType"/>
  </simpleType>
  <simpleType name="MaterialeTaktileIndikatorerEnumerationType">
    <annotation>
      <documentation>9816: Angir hvilken materialtype Taktil indikator er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9816</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9816</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betong">
        <annotation>
          <documentation>15971: Indikator av betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15971</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Naturstein">
        <annotation>
          <documentation>15972: Indikator av naturstein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15972</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metall">
        <annotation>
          <documentation>15973: Indikator av metall. For eksempel støpejern</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15973</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>15970: Indikator av tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15970</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Keramisk">
        <annotation>
          <documentation>15986: Indikator av kjeramisk materiale/flis</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15986</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Keramisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Naturgummi">
        <annotation>
          <documentation>15987: Indikator av naturgummi</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15987</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturgummi</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTaktileIndikatorerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TaktileIndikatorer" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TaktileIndikatorerType">
    <annotation>
      <documentation>859: Taktile indikatorer er standardiserte elementer som er lagt ned i gategrunn for å bidra til vegfinning for blinde og svaksynte. Kan bestå av retnings-, varsels- eller oppmerksomhetsindikator. For mer utfyllende informasjon, se HB V129 (278).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">859</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">859</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Taktile indikatorer</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TaktileIndikatorerType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeTaktileIndikatorerType">
            <annotation>
              <documentation>9812: Angir hovedbruksområde for ledelinje.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9812</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materiale" type="nvdb:MaterialeTaktileIndikatorerType">
            <annotation>
              <documentation>9816: Angir hvilken materialtype Taktil indikator er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9816</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10370: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10370</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9813: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9813</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertFortau" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Fortau</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertGangfelt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Gangfelt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHoldeplassutrustning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Holdeplassutrustning</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRasteplass" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Rasteplass</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertToalettanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Toalettanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrapp" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trapp</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TaktileIndikatorerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TaktileIndikatorer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
