GML/PS/OLFV_SVV/2.33/15.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" version="2.33">
  <annotation>
    <documentation>15: Grasdekker er grønne områder som skal binde sammen veg og omgivelser, samt skape grønne områder eller landskapsrom og framstå som jevn og ensartet. Jamfør håndbok R610 (tidligere HB111). Grasdekke omfatter grasplen, grasbakke og eng, disse områdene inngår ikke som del av kantklippareal. Grasplen er en kortklipt gressflate, eventuelt som er en del av et prydanlegg. Grasbakke er en gressflate som kan ha innslag av blomstrende urter. Eng er arealer med blomstrende urter og gras. 
Merknad: Det er nylig åpnet for å også registrere eng som Grasdekker (se også Naturområde).</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Grasdekker" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:GrasdekkerType">
    <annotation>
      <documentation>15: Grasdekker er grønne områder som skal binde sammen veg og omgivelser, samt skape grønne områder eller landskapsrom og framstå som jevn og ensartet. Jamfør håndbok R610 (tidligere HB111). Grasdekke omfatter grasplen, grasbakke og eng, disse områdene inngår ikke som del av kantklippareal. Grasplen er en kortklipt gressflate, eventuelt som er en del av et prydanlegg. Grasbakke er en gressflate som kan ha innslag av blomstrende urter. Eng er arealer med blomstrende urter og gras. 
Merknad: Det er nylig åpnet for å også registrere eng som Grasdekker (se også Naturområde).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">15</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">15</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Grasdekker</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="GrasdekkerType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeGrasdekkerType">
            <annotation>
              <documentation>4129: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4129</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1354: Angir arealet av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1354</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10303: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10303</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>8911: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8911</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkdeler" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikkdeler</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertTrafikkøy" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Trafikkøy</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GrasdekkerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Grasdekker"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeGrasdekkerType">
    <annotation>
      <documentation>4129: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4129</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4129</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeGrasdekkerEnumerationType nvdb:TypeGrasdekkerOtherType"/>
  </simpleType>
  <simpleType name="TypeGrasdekkerEnumerationType">
    <annotation>
      <documentation>4129: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4129</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4129</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Grasplen">
        <annotation>
          <documentation>5090: Grasplen er en kortklipt grasflate og skal fremstå som jevn og ensartet. Den er som regel en del av et parklikt grøntanlegg. Innslag av mose kan forekomme og ugras skal være minimalt, og ikke virke skjemmende på det visuelle inntrykket. Høyden skal være mellom 5 - 12 cm.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5090</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grasplen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grasbakke">
        <annotation>
          <documentation>5092: Grasbakke er en grasflate som kan ha innslag av blomstrende urter og skal fremstå som jevn og ensartet. Den har lavere skjøtselsnivå enn grasplen, og større innslag av mose kan forekomme, men ugras skal ikke virke skjemmende på det visuelle inntrykket. Grasbakke klippes 2-4 ganger i sesongen. Den kan enten være en del av et parklikt eller naturlikt grøntanlegg, alt etter klippefrekvens og ønsket innslag av blomstrende urter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5092</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grasbakke</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Eng">
        <annotation>
          <documentation>21661: Eng består av blomstrende urter og gras. Slike områder skal fremme biologisk mangfold og er ikke beregnet for tråkk. De kan også fremstå som prydelement langs vegskråninger, vegkanter eller i kryssområde. Klippefrekvens er lav, men tilpasset frøsetting og at oppslag av kratt ikke får dominere arealet. Klippetidspunkt påvirker hvilke arter som vokser der.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21661</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eng</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeGrasdekkerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
