GML/PS/OLFV_SVV/2.33/20.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" version="2.33">
  <annotation>
    <documentation>20: Stolper - f.eks. forsynt med lysreflekterende materiale - som markerer vegkanten og gir en optisk ledning langs vegen (1). Kan også være refleks festa på rekkverk eller på dobber som henger i tunneltak. I noen tilfeller brukes det også ifm. midtdelere. Merknad: Det skal registreres separate forekomster av kantstolper/refleks for hver side av vegen.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="KantstolperRefleks" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:KantstolperRefleksType">
    <annotation>
      <documentation>20: Stolper - f.eks. forsynt med lysreflekterende materiale - som markerer vegkanten og gir en optisk ledning langs vegen (1). Kan også være refleks festa på rekkverk eller på dobber som henger i tunneltak. I noen tilfeller brukes det også ifm. midtdelere. Merknad: Det skal registreres separate forekomster av kantstolper/refleks for hver side av vegen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">20</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">20</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kantstolper/Refleks</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KantstolperRefleksType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="antall" type="integer">
            <annotation>
              <documentation>2191: Vegobjektet kan representere flere objekt av samme type. Vi angir her hvor mange objekt dette objektet representerer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2191</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeKantstolperRefleksType">
            <annotation>
              <documentation>1102: Angir hvilken type vegobjektet er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1102</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10316: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10316</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4728: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4728</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materialtype" type="nvdb:MaterialtypeKantstolperRefleksType">
            <annotation>
              <documentation>1400: Angir primær materialtype for vegobjektet. Stolpemateriale.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1400</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KantstolperRefleksPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:KantstolperRefleks"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaterialtypeKantstolperRefleksType">
    <annotation>
      <documentation>1400: Angir primær materialtype for vegobjektet. Stolpemateriale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1400</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1400</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialtypeKantstolperRefleksEnumerationType nvdb:MaterialtypeKantstolperRefleksOtherType"/>
  </simpleType>
  <simpleType name="MaterialtypeKantstolperRefleksEnumerationType">
    <annotation>
      <documentation>1400: Angir primær materialtype for vegobjektet. Stolpemateriale.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1400</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1400</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Tre">
        <annotation>
          <documentation>2187: Tre</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2187</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>2267: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2267</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metall">
        <annotation>
          <documentation>3286: Metall</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3286</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialtypeKantstolperRefleksOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeKantstolperRefleksType">
    <annotation>
      <documentation>1102: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeKantstolperRefleksEnumerationType nvdb:TypeKantstolperRefleksOtherType"/>
  </simpleType>
  <simpleType name="TypeKantstolperRefleksEnumerationType">
    <annotation>
      <documentation>1102: Angir hvilken type vegobjektet er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1102</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Refleks på stolper">
        <annotation>
          <documentation>2524: Refleks på stolper</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2524</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Refleks på stolper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Refleks på rekkverksstolper">
        <annotation>
          <documentation>2525: Refleks på rekkverksstolper</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2525</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Refleks på rekkverksstolper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="FlexiMark">
        <annotation>
          <documentation>11798: Trafikkskiller med refleks.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">FlexiMark</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Overhengende reflekssylinder">
        <annotation>
          <documentation>11237: Plastsylindrer med refleks som henger i flukt med vegens kantlinjer. Benyttes først og fremst i tunneler. Underkant plastsylinder skal flukte med skiltet høyde. Typisk dimensjon: 40mm i diameter, lengde 200 mm.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11237</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Overhengende reflekssylinder</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeKantstolperRefleksOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
