GML/PS/OLFV_SVV/2.33/40.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" version="2.33">
  <annotation>
    <documentation>40: Plass som er beregnet for snuing av kjøretøy (3)</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelystType">
    <annotation>
      <documentation>9880: Angir om snuplass er belyst.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9880</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9880</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belyst</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelystEnumerationType nvdb:BelystOtherType"/>
  </simpleType>
  <simpleType name="BelystEnumerationType">
    <annotation>
      <documentation>9880: Angir om snuplass er belyst.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9880</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9880</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belyst</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16029: Ja.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16029</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16030: Nei.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16030</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelystOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DekketypeType">
    <annotation>
      <documentation>4613: Angir hvilken type dekke det er på snuplassen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4613</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4613</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekketype</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DekketypeEnumerationType nvdb:DekketypeOtherType"/>
  </simpleType>
  <simpleType name="DekketypeEnumerationType">
    <annotation>
      <documentation>4613: Angir hvilken type dekke det er på snuplassen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4613</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4613</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dekketype</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Asfalt">
        <annotation>
          <documentation>5574: Asfalt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5574</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Grus">
        <annotation>
          <documentation>5573: Grus</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5573</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Grus</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stein">
        <annotation>
          <documentation>5576: Stein</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5576</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>5575: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5575</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekketypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Snuplass" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SnuplassType">
    <annotation>
      <documentation>40: Plass som er beregnet for snuing av kjøretøy (3)</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">40</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">40</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Snuplass</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SnuplassType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeSnuplassType">
            <annotation>
              <documentation>9881: Angir hvilken type snuplass det er tale om.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9881</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="utforming" type="nvdb:UtformingSnuplassType">
            <annotation>
              <documentation>1115: Angir hvordan snuplass er utformet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1115</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="dekketype" type="nvdb:DekketypeType">
            <annotation>
              <documentation>4613: Angir hvilken type dekke det er på snuplassen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4613</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dekketype</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belyst" type="nvdb:BelystType">
            <annotation>
              <documentation>9880: Angir om snuplass er belyst.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9880</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Belyst</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>1356: Angir arealet av vegobjektet. Areal som har vegdekke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1356</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeArm" type="double">
            <annotation>
              <documentation>9878: Angir lengde av arm i T-formede snuplasser.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9878</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde arm</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="breddeArm" type="double">
            <annotation>
              <documentation>9879: Angir bredde av arm i T-formede snuplasser.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9879</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bredde arm</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10362: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10362</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>10890: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10890</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SnuplassPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Snuplass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSnuplassType">
    <annotation>
      <documentation>9881: Angir hvilken type snuplass det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9881</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9881</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSnuplassEnumerationType nvdb:TypeSnuplassOtherType"/>
  </simpleType>
  <simpleType name="TypeSnuplassEnumerationType">
    <annotation>
      <documentation>9881: Angir hvilken type snuplass det er tale om.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9881</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9881</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Snunisje i tunnel">
        <annotation>
          <documentation>16031: Snunisje plassert i tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16031</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snunisje i tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Snuplass i ende av veg">
        <annotation>
          <documentation>16032: Snuplass er plassert i enden av en veg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16032</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snuplass i ende av veg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Snuplass ved veg i dagen">
        <annotation>
          <documentation>16033: Snuplass er plassert til side for veg. Skal kun benyttes om snuplasser i dagen (ikke i tunnel).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16033</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Snuplass ved veg i dagen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSnuplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="UtformingSnuplassType">
    <annotation>
      <documentation>1115: Angir hvordan snuplass er utformet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1115</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1115</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:UtformingSnuplassEnumerationType nvdb:UtformingSnuplassOtherType"/>
  </simpleType>
  <simpleType name="UtformingSnuplassEnumerationType">
    <annotation>
      <documentation>1115: Angir hvordan snuplass er utformet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1115</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1115</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="T-formet">
        <annotation>
          <documentation>3156: T-formet</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3156</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">T-formet</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sirkulær">
        <annotation>
          <documentation>3157: Sirkulær</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3157</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sirkulær</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sirkulær m trafikkøy">
        <annotation>
          <documentation>3158: Sirkulær m trafikkøy</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3158</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sirkulær m trafikkøy</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="UtformingSnuplassOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
