GML/PS/OLFV_SVV/2.33/467.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" version="2.33">
  <annotation>
    <documentation>467: Aggregat for å produsere elektrisk strøm.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Nødstrømsaggregat" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:NødstrømsaggregatType">
    <annotation>
      <documentation>467: Aggregat for å produsere elektrisk strøm.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">467</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">467</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Nødstrømsaggregat</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="NødstrømsaggregatType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeNødstrømsaggregatType">
            <annotation>
              <documentation>3780: Angir mobilitet for aggregatet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3780</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="effekt" type="integer">
            <annotation>
              <documentation>3851: Angir maksimal effekt aggregatet yter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3851</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>9933: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9933</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>9929: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9929</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent" type="string">
            <annotation>
              <documentation>9930: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9930</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>9931: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9931</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4984: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4984</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NødstrømsaggregatPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Nødstrømsaggregat"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeNødstrømsaggregatType">
    <annotation>
      <documentation>3780: Angir mobilitet for aggregatet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3780</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3780</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeNødstrømsaggregatEnumerationType nvdb:TypeNødstrømsaggregatOtherType"/>
  </simpleType>
  <simpleType name="TypeNødstrømsaggregatEnumerationType">
    <annotation>
      <documentation>3780: Angir mobilitet for aggregatet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3780</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3780</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Mobilt">
        <annotation>
          <documentation>4813: Mobilt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4813</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mobilt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stasjonært">
        <annotation>
          <documentation>4814: Stasjonært</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4814</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stasjonært</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeNødstrømsaggregatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
