GML/PS/OLFV_SVV/2.33/624.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" version="2.33">
  <annotation>
    <documentation>624: Tavle som viser fart til kjøretøy som passerer.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Fartstavle" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:FartstavleType">
    <annotation>
      <documentation>624: Tavle som viser fart til kjøretøy som passerer.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">624</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">624</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fartstavle</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FartstavleType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="stasjonering" type="nvdb:StasjoneringType">
            <annotation>
              <documentation>9531: Angir om fartstavle er mobil eller ikke.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9531</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Stasjonering</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="typeMåling" type="nvdb:TypeMålingType">
            <annotation>
              <documentation>9532: Angir hvilken type fartsmåling det er benyttet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9532</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type måling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>10463: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10463</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>6885: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">6885</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FartstavlePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Fartstavle"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="StasjoneringType">
    <annotation>
      <documentation>9531: Angir om fartstavle er mobil eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9531</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9531</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Stasjonering</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:StasjoneringEnumerationType nvdb:StasjoneringOtherType"/>
  </simpleType>
  <simpleType name="StasjoneringEnumerationType">
    <annotation>
      <documentation>9531: Angir om fartstavle er mobil eller ikke.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9531</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9531</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Stasjonering</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Fast">
        <annotation>
          <documentation>13452: Fast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13452</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mobil">
        <annotation>
          <documentation>13453: Mobil</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13453</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mobil</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StasjoneringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeMålingType">
    <annotation>
      <documentation>9532: Angir hvilken type fartsmåling det er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9532</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9532</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type måling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeMålingEnumerationType nvdb:TypeMålingOtherType"/>
  </simpleType>
  <simpleType name="TypeMålingEnumerationType">
    <annotation>
      <documentation>9532: Angir hvilken type fartsmåling det er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9532</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9532</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type måling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Sløyfe">
        <annotation>
          <documentation>13454: Sløyfe</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13454</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sløyfe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Radar">
        <annotation>
          <documentation>13455: Radar</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13455</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Radar</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeMålingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
