GML/PS/OLFV_SVV/2.33/851.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" version="2.33">
  <annotation>
    <documentation>851: Skredutsatt terreng som er sikret av en eller flere installasjoner i løsneområdet der skred løses ut kunstig. Hver enkelt konstruksjon kartlegges som skredteknisk objekt.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Skredutløsningstiltak" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:SkredutløsningstiltakType">
    <annotation>
      <documentation>851: Skredutsatt terreng som er sikret av en eller flere installasjoner i løsneområdet der skred løses ut kunstig. Hver enkelt konstruksjon kartlegges som skredteknisk objekt.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">851</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">851</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Skredutløsningstiltak</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkredutløsningstiltakType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeSkredutløsningstiltakType">
            <annotation>
              <documentation>9664: Angir type skredutløsning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9664</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="antallEnheter" type="integer">
            <annotation>
              <documentation>9665: Antall enheter for skredutløsning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9665</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall enheter</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>9667: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9667</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>9670: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9670</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkredutløsningstiltakPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Skredutløsningstiltak"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeSkredutløsningstiltakType">
    <annotation>
      <documentation>9664: Angir type skredutløsning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9664</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9664</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeSkredutløsningstiltakEnumerationType nvdb:TypeSkredutløsningstiltakOtherType"/>
  </simpleType>
  <simpleType name="TypeSkredutløsningstiltakEnumerationType">
    <annotation>
      <documentation>9664: Angir type skredutløsning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9664</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9664</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Sprengladning, forhåndsplassert">
        <annotation>
          <documentation>13922: Sprengladning som er forhåndsplassert i utløsningsområdet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13922</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprengladning, forhåndsplassert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Sprengningstårn">
        <annotation>
          <documentation>13923: Innretning som settes opp i fjellsidene for å slippe ut sprenglegemer for å utløse skred.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Sprengningstårn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Gassdetonator">
        <annotation>
          <documentation>13924: Innretning for fjernutløsning av en gasseksplosjon i utløsningsområdet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gassdetonator</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kabelbane">
        <annotation>
          <documentation>13925: Kabelbane som brukes for å bringe sprengladninger inn i skredutløsningsområdet.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">13925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kabelbane</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeSkredutløsningstiltakOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
