GML/PS/OLFV_SVV/2.33/88.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" version="2.33">
  <annotation>
    <documentation>88: Lyskilde med innfatning.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AntallLyskilderPerArmaturType">
    <annotation>
      <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Antall lyskilder per armatur</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:AntallLyskilderPerArmaturEnumerationType nvdb:AntallLyskilderPerArmaturOtherType"/>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturEnumerationType">
    <annotation>
      <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Antall lyskilder per armatur</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>3730: 1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3730</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>3739: 2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3739</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>16294: 3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16294</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>16295: 4</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16295</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>17876: 5</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17876</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="6">
        <annotation>
          <documentation>17877: 6</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17877</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">6</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AntallLyskilderPerArmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DimmingLysarmaturType">
    <annotation>
      <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset. Ikke aktuelt for lys ved gangfelt etc.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:DimmingLysarmaturEnumerationType nvdb:DimmingLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="DimmingLysarmaturEnumerationType">
    <annotation>
      <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset. Ikke aktuelt for lys ved gangfelt etc.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>11335: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11335</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>11336: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11336</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DimmingLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Lysarmatur" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:LysarmaturType">
    <annotation>
      <documentation>88: Lyskilde med innfatning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">88</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">88</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lysarmatur</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LysarmaturType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="lyskildeType" type="nvdb:LyskildeTypeLysarmaturType">
            <annotation>
              <documentation>2077: Angir hvilken type lyskildene er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="effekt" type="double">
            <annotation>
              <documentation>10805: Angir samlet effekt pr lysarmatur. For damplamper angis lyskildeeffekten og for LED oppgis systemeffekten.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10805</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høydeOverVeg" type="double">
            <annotation>
              <documentation>2054: Angir lysarmaturens høyde over veg.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2054</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde over veg</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallLyskilderPerArmatur" type="nvdb:AntallLyskilderPerArmaturType">
            <annotation>
              <documentation>1955: Angir hvor mange lyskilder det er per lysarmatur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1955</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Antall lyskilder per armatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dimming" type="nvdb:DimmingLysarmaturType">
            <annotation>
              <documentation>8402: Angir om det er mulighet for regulering (dimming) av lyset. Ikke aktuelt for lys ved gangfelt etc.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8402</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Dimming</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lysflux" type="integer">
            <annotation>
              <documentation>10011: Total lysmengde fra lysarmaturen, definert som lysmengde målt mot øyets følsomhetskurve.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10011</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lysflux</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fargetemperatur" type="integer">
            <annotation>
              <documentation>9564: Angir fargetemperatur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9564</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fargetemperatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10007: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10007</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>10008: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10008</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent_Armatur" type="nvdb:Produsent_ArmaturType">
            <annotation>
              <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent, armatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn_Armatur" type="string">
            <annotation>
              <documentation>1451: Angir produktnavn for lysarmaturen. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1451</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn, armatur</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4788: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4788</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertBelysningspunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Belysningspunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LysarmaturPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Lysarmatur"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="LyskildeTypeLysarmaturType">
    <annotation>
      <documentation>2077: Angir hvilken type lyskildene er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:LyskildeTypeLysarmaturEnumerationType nvdb:LyskildeTypeLysarmaturOtherType"/>
  </simpleType>
  <simpleType name="LyskildeTypeLysarmaturEnumerationType">
    <annotation>
      <documentation>2077: Angir hvilken type lyskildene er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2077</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Lyskilde type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kvikksølv">
        <annotation>
          <documentation>3750: Kvikksølv</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3750</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kvikksølv</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Natrium, høytrykk">
        <annotation>
          <documentation>3753: Natrium, høytrykk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3753</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Natrium, høytrykk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Natrium, lavtrykk">
        <annotation>
          <documentation>3955: Natrium, lavtrykk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3955</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Natrium, lavtrykk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lysstoffrør">
        <annotation>
          <documentation>3956: Lysstoffrør</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3956</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysstoffrør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glødelampe">
        <annotation>
          <documentation>3957: Glødelampe</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3957</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glødelampe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QL">
        <annotation>
          <documentation>12978: QL</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12978</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">QL</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="LED">
        <annotation>
          <documentation>12979: LED</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">12979</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">LED</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metallhalogen">
        <annotation>
          <documentation>3751: Metallhalogen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3751</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metallhalogen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LyskildeTypeLysarmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Produsent_ArmaturType">
    <annotation>
      <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Produsent,armatur</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Produsent_ArmaturEnumerationType nvdb:Produsent_ArmaturOtherType"/>
  </simpleType>
  <simpleType name="Produsent_ArmaturEnumerationType">
    <annotation>
      <documentation>1529: Angir navn på produsent/fabrikant av armatur.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1529</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Produsent,armatur</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Aeg">
        <annotation>
          <documentation>3718: Aeg</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3718</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Aeg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Thorn">
        <annotation>
          <documentation>3719: Thorn</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3719</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Thorn</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Philips">
        <annotation>
          <documentation>3720: Philips</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3720</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Philips</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Siemens">
        <annotation>
          <documentation>3721: Siemens</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3721</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Siemens</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Siteco">
        <annotation>
          <documentation>4676: Siteco</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4676</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Siteco</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ifa">
        <annotation>
          <documentation>3722: Ifa</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3722</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ifa</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Noral">
        <annotation>
          <documentation>3723: Noral</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3723</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Noral</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Seelux">
        <annotation>
          <documentation>3724: Seelux</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3724</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Seelux</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Jernkonst">
        <annotation>
          <documentation>4677: Jernkonst</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4677</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Jernkonst</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Urbis">
        <annotation>
          <documentation>4079: Urbis</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4079</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Urbis</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="AEC Illuminazione">
        <annotation>
          <documentation>16838: AEC Illuminazione</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16838</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">AEC Illuminazione</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Defa">
        <annotation>
          <documentation>18300: Defa</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18300</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Defa</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Multilux">
        <annotation>
          <documentation>18319: Multilux</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18319</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Multilux</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Heper">
        <annotation>
          <documentation>19468: Heper</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19468</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Heper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Osram">
        <annotation>
          <documentation>19634: Osram</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19634</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Osram</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fagerhult">
        <annotation>
          <documentation>21020: Fagerhult</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21020</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fagerhult</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Euroskilt">
        <annotation>
          <documentation>21389: Euroskilt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21389</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Euroskilt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Schreder">
        <annotation>
          <documentation>21544: Schreder</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21544</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Schreder</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Bega">
        <annotation>
          <documentation>21545: Bega</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21545</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bega</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Solar Light">
        <annotation>
          <documentation>21575: Solar Light</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21575</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Solar Light</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Meyer">
        <annotation>
          <documentation>21678: Meyer</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21678</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Meyer</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tight">
        <annotation>
          <documentation>21680: Tight</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21680</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tight</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Targetti">
        <annotation>
          <documentation>21679: Targetti</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21679</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Targetti</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Multilux">
        <annotation>
          <documentation>21725: Multilux</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21725</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Multilux</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glamox">
        <annotation>
          <documentation>21726: Glamox</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21726</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glamox</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Strill">
        <annotation>
          <documentation>21727: Strill</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21727</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Strill</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lyskomponenter">
        <annotation>
          <documentation>21763: Lyskomponenter</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21763</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lyskomponenter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EnergyOptimal">
        <annotation>
          <documentation>21805: EnergyOptimal</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21805</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">EnergyOptimal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Louis Poulsen">
        <annotation>
          <documentation>21886: Louis Poulsen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21886</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Louis Poulsen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mosaico">
        <annotation>
          <documentation>21904: Mosaico</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21904</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mosaico</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="iGuzzini">
        <annotation>
          <documentation>21905: iGuzzini</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21905</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">iGuzzini</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lumin AS">
        <annotation>
          <documentation>21906: Lumin AS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21906</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lumin AS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="I-Vision Lighting Solutions">
        <annotation>
          <documentation>21907: I-Vision Lighting Solutions</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21907</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">I-Vision Lighting Solutions</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Produsent_ArmaturOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
