GML/PS/OLFV_SVV/2.33/885.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" version="2.33">
  <annotation>
    <documentation>885: Elektronisk skjerm som viser sanntidsinformasjon knyttet til kollektivtrafikk. Kan f. eks. være informasjon om avgangstider, forsinkelser, m.m.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkType">
    <annotation>
      <documentation>10691: Angir hvilken type oppsettingsutstyr som er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkEnumerationType nvdb:OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkOtherType"/>
  </simpleType>
  <simpleType name="OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkEnumerationType">
    <annotation>
      <documentation>10691: Angir hvilken type oppsettingsutstyr som er benyttet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Eget oppsettingsutstyr">
        <annotation>
          <documentation>17265: Skjerm er festet på eget oppsettingsutstyr, f.eks. egen stolpe,.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17265</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eget oppsettingsutstyr</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Leskur">
        <annotation>
          <documentation>17264: Skjerm er festet på leskur.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17264</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Leskur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegg/mur">
        <annotation>
          <documentation>17266: Skjerm er festet på mur eller vegg/bygning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17266</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegg/mur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annen stolpe">
        <annotation>
          <documentation>17267: Skjerm er festet på Skiltstolpe/lysmast etc.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17267</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annen stolpe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Sanntidsinformasjon_Kollektivtrafikk" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:Sanntidsinformasjon_KollektivtrafikkType">
    <annotation>
      <documentation>885: Elektronisk skjerm som viser sanntidsinformasjon knyttet til kollektivtrafikk. Kan f. eks. være informasjon om avgangstider, forsinkelser, m.m.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">885</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">885</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Sanntidsinformasjon,kollektivtrafikk</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="Sanntidsinformasjon_KollektivtrafikkType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrSanntidsinformasjon_KollektivtrafikkType">
            <annotation>
              <documentation>10691: Angir hvilken type oppsettingsutstyr som er benyttet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10691</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høyde" type="double">
            <annotation>
              <documentation>10690: Høyde fra bakkenivå til nedre kant av skjerm.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10690</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10733: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10733</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent" type="string">
            <annotation>
              <documentation>12218: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12218</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>10689: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10689</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>10692: Punkt som representerer vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10692</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertHoldeplassutrustning" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Holdeplassutrustning</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Sanntidsinformasjon_KollektivtrafikkPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Sanntidsinformasjon_Kollektivtrafikk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
