GML/PS/OLFV_SVV/2.33/939.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.33" version="2.33">
  <annotation>
    <documentation>939: Lukket beholder for magasinering av væske eller gass.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeTankType">
    <annotation>
      <documentation>11511: Angir bruksområde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11511</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11511</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeTankEnumerationType nvdb:BruksområdeTankOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeTankEnumerationType">
    <annotation>
      <documentation>11511: Angir bruksområde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11511</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11511</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Slamavskiller, septiktank">
        <annotation>
          <documentation>19552: Slamavskiller, septiktank</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19552</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slamavskiller, septiktank</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Oljeutskiller">
        <annotation>
          <documentation>19553: Tank benyttes primært som oljeutskiller. Slike tanker kan bestå av flere spesifikke rom. Hvert rom kan ha sin funksjon, f.eks sandfang, oljeutskilling, oljeoppbevaring. NB: Kum og basseng kan også  benyttes som oljeutskiller.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19553</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oljeutskiller</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drikkevann">
        <annotation>
          <documentation>19554: Drikkevann</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19554</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drikkevann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Slokkevann">
        <annotation>
          <documentation>21740: Benyttes til vann for bruk i forbindelse med brannslokking.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21740</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Slokkevann</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Drivstoff">
        <annotation>
          <documentation>19555: Benyttes til oppbevaring av drifstoff, f.eks i tilknytning til aggregat.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19555</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Drivstoff</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTankOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTankType">
    <annotation>
      <documentation>11514: Angir hvilket materiale tanken er laget av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11514</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11514</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeTankEnumerationType nvdb:MaterialeTankOtherType"/>
  </simpleType>
  <simpleType name="MaterialeTankEnumerationType">
    <annotation>
      <documentation>11514: Angir hvilket materiale tanken er laget av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11514</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11514</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stål">
        <annotation>
          <documentation>19557: Stål.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19557</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Betong">
        <annotation>
          <documentation>19559: Betong</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19559</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glassfiber">
        <annotation>
          <documentation>19558: Glassfiber</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19558</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glassfiber</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Plast">
        <annotation>
          <documentation>19560: Plast</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19560</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTankOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="OljeutskillingTankType">
    <annotation>
      <documentation>12648: Kum har system for utskilling av olje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12648</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12648</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oljeutskilling</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:OljeutskillingTankEnumerationType nvdb:OljeutskillingTankOtherType"/>
  </simpleType>
  <simpleType name="OljeutskillingTankEnumerationType">
    <annotation>
      <documentation>12648: Kum har system for utskilling av olje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12648</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12648</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Oljeutskilling</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>21853: Det er oljeutskiller i tilknytning til tank, men det er ikke kjent om det finnes koalesensfilter.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21853</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, uten koalesensfilter">
        <annotation>
          <documentation>21852: Det er oljeutskiller i tilknytning til tank. Det finnes ikke koalesensfilter i tilknytning til oljeutskiller.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21852</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, uten koalesensfilter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ja, med koalesensfilter">
        <annotation>
          <documentation>21851: Det er oljeutskiller i tilknytning til tank. Det finnes koalesensfilter i tilknytning til oljeutskiller.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21851</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja, med koalesensfilter</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>21854: Det er ikke oljeutskiller i tilknytning til tank.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21854</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OljeutskillingTankOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Tank" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TankType">
    <annotation>
      <documentation>939: Lukket beholder for magasinering av væske eller gass.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">939</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">939</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Tank</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TankType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeTankType">
            <annotation>
              <documentation>11511: Angir bruksområde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11511</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materiale" type="nvdb:MaterialeTankType">
            <annotation>
              <documentation>11514: Angir hvilket materiale tanken er laget av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11514</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="volum" type="integer">
            <annotation>
              <documentation>11512: Angir hvor stort volum tanken har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11512</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Volum</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oljeutskilling" type="nvdb:OljeutskillingTankType">
            <annotation>
              <documentation>12648: Kum har system for utskilling av olje.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12648</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Oljeutskilling</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>11516: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11516</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertVannhåndteringsanlegg" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vannhåndteringsanlegg</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TankPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Tank"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
