GML/PS/OLFV_SVV/2.25/542.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.25" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.25" version="2.25">
  <annotation>
    <documentation>542: En energiabsorberende sikkerhetskonstruksjon som over kort avstand skal bremse et kjøretøy ved frontkollisjon eller sidekollisjon, eller lede det forbi faremomentet. Kilde: Rekkverksnormal.</documentation>
  </annotation>
  <include schemaLocation="OLFV_SVV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="ProduktnavnTypegodkjenningStøtputeType">
    <annotation>
      <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8395</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8395</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn/typegodkjenning</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:ProduktnavnTypegodkjenningStøtputeEnumerationType nvdb:ProduktnavnTypegodkjenningStøtputeOtherType"/>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningStøtputeEnumerationType">
    <annotation>
      <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8395</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8395</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn/typegodkjenning</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="APM 50 - S50">
        <annotation>
          <documentation>20338: Produktnavn: APM 50. Typegodkjenning: S 50 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911668&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20338</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">APM 50 - S50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="APM 80 - S80">
        <annotation>
          <documentation>20339: Produktnavn: APM 80. Typegodkjenning: S 80 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911601&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20339</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">APM 80 - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="APM 100 - S100">
        <annotation>
          <documentation>20336: Produktnavn: APM 100. Typegodkjenning: S 100 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911581&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20336</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">APM 100 - S100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="APM 110 - S110">
        <annotation>
          <documentation>20337: Produktnavn: APM 110. Typegodkjenning: S 110 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2911582&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20337</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">APM 110 - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Brakemaster - uspes">
        <annotation>
          <documentation>11331: Produktnavn "Brakemaster". Typegodkjenning ikke angitt.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11331</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Brakemaster - uspes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="CrashGuard 3S - S80">
        <annotation>
          <documentation>20340: Produktnavn: CrashGuard 35. Typegodkjenning: S 80 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2271975&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20340</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">CrashGuard 3S - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="CrashGuard 3S - S110">
        <annotation>
          <documentation>20341: Produktnavn: CrashGuard 65. Typegodkjenning: S 110 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=2271974&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20341</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">CrashGuard 3S - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EuroTRACC S80 - S80">
        <annotation>
          <documentation>17338: Produktnavn: EuroTRACC S80. Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511224&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17338</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">EuroTRACC S80 - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EuroTRACC S110 - S110">
        <annotation>
          <documentation>17336: Produktnavn: EuroTRACC S110. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511207&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17336</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">EuroTRACC S110 - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EuroTRACC 80 Wide - S80">
        <annotation>
          <documentation>17335: Produktnavn: EuroTRACC 80 Wide. Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511214&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17335</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">EuroTRACC 80 Wide - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="EuroTRACC S110 Wide - S110">
        <annotation>
          <documentation>17337: Produktnavn: EuroTRACC S110 Wide. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511222&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17337</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">EuroTRACC S110 Wide - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard - uspes">
        <annotation>
          <documentation>11332: Produktnavn: QuadGuard. Typegodkjenning: Ikke angitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11332</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">QuadGuard - uspes</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard CEN - S50">
        <annotation>
          <documentation>17341: Produktnavn: QuadGuard CEN. Typegodkjenning: S 50 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511562&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17341</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">QuadGuard CEN - S50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard CEN - S80">
        <annotation>
          <documentation>17340: Produktnavn: QuadGuard CEN. Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511567&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17340</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">QuadGuard CEN - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard CEN - S100">
        <annotation>
          <documentation>17342: Produktnavn: QuadGuard CEN. Typegodkjenning: S 100 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511571&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17342</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">QuadGuard CEN - S100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="QuadGuard CEN - S110">
        <annotation>
          <documentation>17339: Produktnavn: QuadGuard CEN. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511575&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17339</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">QuadGuard CEN - S110 </taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Quest CEN - S80">
        <annotation>
          <documentation>17343: Produktnavn: Quest CEN. Typegodkjenning: S 80 Z1 D2. Mer informasjon:  Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511523&amp;method=alle&amp;produkttype=12624.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17343</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Quest CEN - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Quest CEN - S100">
        <annotation>
          <documentation>17344: Produktnavn: Quest CEN. Typegodkjenning: S 100 Z1 D2. Mer informasjon:  Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511525&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17344</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Quest CEN - S100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Quest CEN - S110">
        <annotation>
          <documentation>17345: Produktnavn: Quest CEN. Typegodkjenning: S 110 Z1 D2. Mer informasjon:  Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511535&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17345</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Quest CEN - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 50 - S50">
        <annotation>
          <documentation>17348: Produktnavn: SMA 50. Typegodkjenning: S 50 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635629&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17348</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SMA 50 - S50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 80  - S80">
        <annotation>
          <documentation>17349: Produktnavn: SMA 80 . Typegodkjenning: S 80 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635624&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17349</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SMA 80  - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 80/1 - S80/1">
        <annotation>
          <documentation>17350: Produktnavn: SMA 80/1. Typegodkjenning: S 80/1 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=1020822&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17350</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SMA 80/1 - S80/1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 100 - S100">
        <annotation>
          <documentation>17346: Produktnavn: SMA 100. Typegodkjenning: S 100 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635619&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17346</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SMA 100 - S100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="SMA 110 - S110">
        <annotation>
          <documentation>17347: Produktnavn: SMA 110. Typegodkjenning: S 110 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=635615&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17347</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">SMA 110 - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU 60 - S50">
        <annotation>
          <documentation>17352: Produktnavn: TAU 60 . Typegodkjenning: S 50 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=514829&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17352</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU 60 - S50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU 80 - S80">
        <annotation>
          <documentation>17353: Produktnavn: TAU 80. Typegodkjenning: S 80 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=514884&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17353</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU 80 - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU 100 - S100">
        <annotation>
          <documentation>17351: Produktnavn: TAU 100. Typegodkjenning: S 100 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511239&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17351</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU 100 - S100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU B  - S110">
        <annotation>
          <documentation>17354: Produktnavn: TAU B . Typegodkjenning: S 110 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511202&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17354</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU B  - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU TUBE P50 - S50">
        <annotation>
          <documentation>17357: Produktnavn: TAU TUBE P50. Typegodkjenning: S 50 Z1 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975018&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17357</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU TUBE P50 - S50</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU TUBE P80 - S80">
        <annotation>
          <documentation>17358: Produktnavn: TAU TUBE P80. Typegodkjenning: S 80 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975017&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17358</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU TUBE P80 - S80</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU TUBE P100 - S100">
        <annotation>
          <documentation>17355: Produktnavn: TAU TUBE P100. Typegodkjenning: S 100 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975012&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17355</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU TUBE P100 - S100</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="TAU TUBE P110 - S110">
        <annotation>
          <documentation>17356: Produktnavn: TAU TUBE P110. Typegodkjenning: S 110 Z2 D1. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=975011&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17356</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">TAU TUBE P110 - S110</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="WALT - S80/1">
        <annotation>
          <documentation>17359: Produktnavn: WALT. Typegodkjenning: S 80/1 Z1 D3. Mer informasjon:  http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511217&amp;method=alle&amp;produkttype=12624</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17359</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">WALT - S80/1</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ProduktnavnTypegodkjenningStøtputeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Støtpute" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:StøtputeType">
    <annotation>
      <documentation>542: En energiabsorberende sikkerhetskonstruksjon som over kort avstand skal bremse et kjøretøy ved frontkollisjon eller sidekollisjon, eller lede det forbi faremomentet. Kilde: Rekkverksnormal.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">542</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">542</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Støtpute</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StøtputeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="produktnavnTypegodkjenning" type="nvdb:ProduktnavnTypegodkjenningStøtputeType">
            <annotation>
              <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent  av Statens vegvesen. Se http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8395</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Produktnavn/typegodkjenning</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10367: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10367</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etableringsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>5040: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5040</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertRekkverk" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Rekkverk</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StøtputePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Støtpute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
