GML/PS/OLFV_NV/2.35/103.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        version="2.28">
   <annotation>
      <documentation>103: Fysisk tiltak for å holde fartsnivået lavt.</documentation>
   </annotation>
   <include schemaLocation="OLFV_SVV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Fartsdemper"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:FartsdemperType">
      <annotation>
         <documentation>103: Fysisk tiltak for å holde fartsnivået lavt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">103</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fartsdemper</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="FartsdemperType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="type" type="nvdb:TypeFartsdemperType">
                  <annotation>
                     <documentation>1156: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1156</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="profil" type="nvdb:ProfilType">
                  <annotation>
                     <documentation>8799: Angir hvilket humpprofil som er benyttet. Jfr kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8799</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Profil</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialeBelegning" type="nvdb:MaterialeBelegningType">
                  <annotation>
                     <documentation>8798: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter.  Kan også være romlefelt f.eks av "stein, brostein".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8798</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materiale/belegning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10288: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10288</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4801: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4801</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="assosiertVegoppmerking_Tverrgående"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vegoppmerking_Tverrgående</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="assosiertGangfelt" type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Gangfelt</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FartsdemperPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Fartsdemper"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="MaterialeBelegningType">
      <annotation>
         <documentation>8798: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter.  Kan også være romlefelt f.eks av "stein, brostein".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale/belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialeBelegningEnumerationType nvdb:MaterialeBelegningOtherType"/>
   </simpleType>
   <simpleType name="MaterialeBelegningEnumerationType">
      <annotation>
         <documentation>8798: Angir hvilket materiale vegobjektet er laget av/ hvilken belegning som er brukt. Mest aktuelt for humper og puter.  Kan også være romlefelt f.eks av "stein, brostein".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8798</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materiale/belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Stein, brostein">
            <annotation>
               <documentation>11634: Stein, brostein</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11634</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein, brostein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Asfalt">
            <annotation>
               <documentation>11635: Asfalt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11635</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betongstein">
            <annotation>
               <documentation>11636: Betongstein</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11636</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betong, prefabrikkert">
            <annotation>
               <documentation>11637: Betong, prefabrikkert</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11637</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, prefabrikkert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialeBelegningOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ProfilType">
      <annotation>
         <documentation>8799: Angir hvilket humpprofil som er benyttet. Jfr kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Profil</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ProfilEnumerationType nvdb:ProfilOtherType"/>
   </simpleType>
   <simpleType name="ProfilEnumerationType">
      <annotation>
         <documentation>8799: Angir hvilket humpprofil som er benyttet. Jfr kategorisering i Håndbok V128 (072). Fartsdempende tiltak.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">8799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Profil</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Profil 1, sirkel-30">
            <annotation>
               <documentation>11641: Profil 1, sirkel-30</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11641</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 1, sirkel-30</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Profil 2, sirkel-40">
            <annotation>
               <documentation>11642: Profil 2, sirkel-40</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11642</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 2, sirkel-40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Profil 3, sirkel-50">
            <annotation>
               <documentation>11643: Profil 3, sirkel-50</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11643</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 3, sirkel-50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Profil 4, modifisert sirkel-30">
            <annotation>
               <documentation>11644: Profil 4, modifisert sirkel-30</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11644</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 4, modifisert sirkel-30</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Profil 5, modifisert sirkel-40">
            <annotation>
               <documentation>11645: Profil 5, modifisert sirkel-40</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11645</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 5, modifisert sirkel-40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Profil 6, modifisert sirkel-50">
            <annotation>
               <documentation>11646: Profil 6, modifisert sirkel-50</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11646</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 6, modifisert sirkel-50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Profil 7, trapes-30">
            <annotation>
               <documentation>11647: Profil 7, trapes-30</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11647</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 7, trapes-30</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Profil 8, trapes-40">
            <annotation>
               <documentation>11648: Profil 8, trapes-40</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11648</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 8, trapes-40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Profil 9, trapes-50">
            <annotation>
               <documentation>11649: Profil 9, trapes-50</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11649</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Profil 9, trapes-50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pute-30">
            <annotation>
               <documentation>11741: Pute-30</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11741</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pute-30</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pute-40">
            <annotation>
               <documentation>11742: Pute-40</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11742</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pute-40</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kuleflate">
            <annotation>
               <documentation>11779: Kuleflate</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11779</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kuleflate</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sopp">
            <annotation>
               <documentation>11780: Sopp</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11780</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sopp</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="H-hump">
            <annotation>
               <documentation>11781: H-hump</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11781</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">H-hump</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S-Hump">
            <annotation>
               <documentation>11782: S-Hump</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11782</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">S-Hump</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Dobbel hump">
            <annotation>
               <documentation>11783: Dobbel hump</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11783</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dobbel hump</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ProfilOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeFartsdemperType">
      <annotation>
         <documentation>1156: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1156</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1156</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeFartsdemperEnumerationType nvdb:TypeFartsdemperOtherType"/>
   </simpleType>
   <simpleType name="TypeFartsdemperEnumerationType">
      <annotation>
         <documentation>1156: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1156</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1156</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Fartshump">
            <annotation>
               <documentation>3594: Fartshump</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3594</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fartshump</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fartsputer">
            <annotation>
               <documentation>5543: Fartsputer</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5543</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fartsputer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Busshump">
            <annotation>
               <documentation>3595: Busshump</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3595</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Busshump</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Trafikkøy">
            <annotation>
               <documentation>7918: Trafikkøy</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7918</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Innsnevring">
            <annotation>
               <documentation>7917: Innsnevring</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7917</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innsnevring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sideforskyvning">
            <annotation>
               <documentation>7919: Sideforskyvning</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7919</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sideforskyvning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Innsnevring og sideforskyvning">
            <annotation>
               <documentation>11778: Både og</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11778</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innsnevring og sideforskyvning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Rumlefelt">
            <annotation>
               <documentation>7920: Rumlefelt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7920</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rumlefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fortausutvidelse i kryss">
            <annotation>
               <documentation>7921: Fortausutvidelse i kryss</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7921</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fortausutvidelse i kryss</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fartsdump">
            <annotation>
               <documentation>11652: Forsenkning i vegbanen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11652</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fartsdump</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeFartsdemperOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
