GML/PS/OLFV_NV/2.35/147.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        version="2.28">
   <annotation>
      <documentation>147: Utsprengt del av tunnel som er avgrenset fra selve tunnelløpet med vegg/dør.</documentation>
   </annotation>
   <include schemaLocation="OLFV_SVV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Bergrom"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:BergromType">
      <annotation>
         <documentation>147: Utsprengt del av tunnel som er avgrenset fra selve tunnelløpet med vegg/dør.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">147</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bergrom</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BergromType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeBergromType">
                  <annotation>
                     <documentation>1279: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1279</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10293: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10293</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4822: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4822</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="assosiertBergsikring"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Bergsikring</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BergromPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bergrom"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="BruksområdeBergromType">
      <annotation>
         <documentation>1279: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeBergromEnumerationType nvdb:BruksområdeBergromOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeBergromEnumerationType">
      <annotation>
         <documentation>1279: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1279</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Betjeningsstasjon tunnel">
            <annotation>
               <documentation>4610: Betjeningsstasjon tunnel</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4610</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betjeningsstasjon tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kiosk/trafo/skap">
            <annotation>
               <documentation>4611: Kiosk/trafo/skap</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4611</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kiosk/trafo/skap</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pumpestasjon/basseng">
            <annotation>
               <documentation>4612: Pumpestasjon/basseng</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4612</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pumpestasjon/basseng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Lager">
            <annotation>
               <documentation>4613: Lager</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4613</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lager</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Avstengt/ikke i bruk">
            <annotation>
               <documentation>19461: Bergrom har ingen funksjon lenger. Normalt er det avstengt og er ikke i bruk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19461</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Avstengt/ikke i bruk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeBergromOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
