GML/PS/OLFV_NV/2.35/30.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.35">
   <annotation>
      <documentation>30: Fysisk tiltak knyttet til veg. Medfører behov for oppdatering av data i NVDB.</documentation>
   </annotation>
   <include schemaLocation="OLFV_NV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="EierVeganleggType">
      <annotation>
         <documentation>11869: Angir hvem som er prosjekteier.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11869</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierVeganleggEnumerationType nvdb:EierVeganleggOtherType"/>
   </simpleType>
   <simpleType name="EierVeganleggEnumerationType">
      <annotation>
         <documentation>11869: Angir hvem som er prosjekteier.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11869</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="42">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20102</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Agder fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="34">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20106</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innlandet fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20107</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20099</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Møre og Romsdal fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="18">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20097</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nordland fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="OK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20095</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Oslo kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20101</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rogaland fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20105</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20104</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="54">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20096</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Troms og Finnmark fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20098</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trøndelag fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="38">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20103</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vestfold og Telemark fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="46">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20100</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vestland fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="30">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20108</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Viken fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="32">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22212</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Akershus fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="33">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22207</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Buskerud fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="56">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22238</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Finnmark fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="40">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22222</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Telemark fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="55">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22233</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Troms fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="39">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22228</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vestfold fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="31">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22217</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Østfold fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierVeganleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="Kategori3_LeveranseVeganleggType">
      <annotation>
         <documentation>11880: Gir informasjon om hvorvidt det legges inn data for kategori 3 i NVDB.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11880</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kategori 3, leveranse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Kategori3_LeveranseVeganleggEnumerationType nvdb:Kategori3_LeveranseVeganleggOtherType"/>
   </simpleType>
   <simpleType name="Kategori3_LeveranseVeganleggEnumerationType">
      <annotation>
         <documentation>11880: Gir informasjon om hvorvidt det legges inn data for kategori 3 i NVDB.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11880</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kategori 3, leveranse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="D">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20119</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delvis</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20125</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke avklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20118</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">På nivå med Objektliste1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tilnærmet ikke">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20120</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tilnærmet ikke</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Kategori3_LeveranseVeganleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MedførerVegnettsendringVeganleggType">
      <annotation>
         <documentation>11871: Angir om prosjektet medfører endringer i vegnettet. Dette gjelder endring i horisontalplan, vertikalplan, vegtype, vegstatus m.m.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11871</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Medfører vegnettsendring</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MedførerVegnettsendringVeganleggEnumerationType nvdb:MedførerVegnettsendringVeganleggOtherType"/>
   </simpleType>
   <simpleType name="MedførerVegnettsendringVeganleggEnumerationType">
      <annotation>
         <documentation>11871: Angir om prosjektet medfører endringer i vegnettet. Dette gjelder endring i horisontalplan, vertikalplan, vegtype, vegstatus m.m.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11871</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Medfører vegnettsendring</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20111</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20110</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Må avklares</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20112</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MedførerVegnettsendringVeganleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="RelevantForEkomportalenVeganleggType">
      <annotation>
         <documentation>12450: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12450</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:RelevantForEkomportalenVeganleggEnumerationType nvdb:RelevantForEkomportalenVeganleggOtherType"/>
   </simpleType>
   <simpleType name="RelevantForEkomportalenVeganleggEnumerationType">
      <annotation>
         <documentation>12450: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12450</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21364</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21365</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="RelevantForEkomportalenVeganleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StatusVeganleggType">
      <annotation>
         <documentation>12021: Angir hvilken status veganlegg har. NB! Egenskapstypen har til dels sammenheng med egenskapstype 2031 "Dato byggestart" og 2032 "Dato ferdigstilt".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StatusVeganleggEnumerationType nvdb:StatusVeganleggOtherType"/>
   </simpleType>
   <simpleType name="StatusVeganleggEnumerationType">
      <annotation>
         <documentation>12021: Angir hvilken status veganlegg har. NB! Egenskapstypen har til dels sammenheng med egenskapstype 2031 "Dato byggestart" og 2032 "Dato ferdigstilt".</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12021</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="F">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20856</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ferdigstilt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20854</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Planstadiet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20855</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Under bygging</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StatusVeganleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeProsjektVeganleggType">
      <annotation>
         <documentation>1111: Angir hvilken type prosjekt dette er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1111</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type prosjekt</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeProsjektVeganleggEnumerationType nvdb:TypeProsjektVeganleggOtherType"/>
   </simpleType>
   <simpleType name="TypeProsjektVeganleggEnumerationType">
      <annotation>
         <documentation>1111: Angir hvilken type prosjekt dette er.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1111</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type prosjekt</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="GSV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20132</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Anlegg for gående/syklende</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="AP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20133</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Annen type prosjekt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="GM">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20129</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grøntanlegg, miljø</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3238</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ny veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SA">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20127</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sideanlegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SSO">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20128</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signal, skilt, oppmerking</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SkS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20130</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredsikring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TS">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20131</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikksikkerhetstiltak</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TOG">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20109</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunneloppgradering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3239</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Utbedring av veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VTV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11573</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vedlikeholdstiltak veg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20126</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegbelysning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeProsjektVeganleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Veganlegg"
            substitutionGroup="gml:AbstractFeature"
            type="nvdb:VeganleggType">
      <annotation>
         <documentation>30: Fysisk tiltak knyttet til veg. Medfører behov for oppdatering av data i NVDB.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">30</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veganlegg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="VeganleggType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="typeProsjekt">
                  <annotation>
                     <documentation>1111: Angir hvilken type prosjekt dette er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1111</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type prosjekt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>1071: Angir fullstendig navn på veganlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1071</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="beskrivelse" type="string">
                  <annotation>
                     <documentation>8752: Gir kort beskrivelse av veganlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8752</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Beskrivelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="status" type="nvdb:StatusVeganleggType">
                  <annotation>
                     <documentation>12021: Angir hvilken status veganlegg har. NB! Egenskapstypen har til dels sammenheng med egenskapstype 2031 "Dato byggestart" og 2032 "Dato ferdigstilt".</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12021</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Status</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="datoByggestart" type="date">
                  <annotation>
                     <documentation>2031: Angir startdato for bygging av veganlegget. Dato fram i tid ansees som estimert tidspunkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2031</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato byggestart</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="datoFerdigstilt" type="date">
                  <annotation>
                     <documentation>2032: Dato for ferdigstillelse av anlegget. Dato fram i tid ansees som estimert tidspunkt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2032</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato ferdigstilt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="datoTrafikkåpning" type="date">
                  <annotation>
                     <documentation>12702: Dato for når det åpnes for trafikk på veganlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12702</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dato trafikkåpning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="medførerVegnettsendring">
                  <annotation>
                     <documentation>11871: Angir om prosjektet medfører endringer i vegnettet. Dette gjelder endring i horisontalplan, vertikalplan, vegtype, vegstatus m.m.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11871</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Medfører vegnettsendring</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kategori1_DatoGrunnlagLevert" type="date">
                  <annotation>
                     <documentation>11876: Angir dato for når grunnlag for kategori 1 data til NVDB sist ble overlevert Statens vegvesen. Skal angis av vegforvalter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11876</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kategori 1, dato grunnlag levert</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kategori1_DatoOKINVDB" type="date">
                  <annotation>
                     <documentation>12147: Angir dato da kategori 1 data var oppdatert og OK i NVDB. Statens vegvesen melder fra til vegforvalter. Vegforvalter legger inn informasjon.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12147</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kategori 1, dato OK i NVDB</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kategori2_DatoOK" type="date">
                  <annotation>
                     <documentation>11877: Angir dato for når kategori 2-data var OK i NVDB. Legges inn av aktuell vegforvalter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11877</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kategori 2, dato OK</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="kategori3_Leveranse">
                  <annotation>
                     <documentation>11880: Gir informasjon om hvorvidt det legges inn data for kategori 3 i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11880</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kategori 3, leveranse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="merknadDataleveranse" type="string">
                  <annotation>
                     <documentation>11879: Merknad som gir informasjon omkring dataleveranser.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11879</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Merknad dataleveranse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="linkTilProsjektinformasjon" type="string">
                  <annotation>
                     <documentation>11881: Gir URL til informasjonsside om veganlegget/prosjektet i vegforvalters egne system.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11881</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Link til prosjektinformasjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="arkivreferanse" type="string">
                  <annotation>
                     <documentation>11882: Gir link til arkivreferanse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11882</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Arkivreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="prosjektreferanse" type="string">
                  <annotation>
                     <documentation>11870: Referanse til prosjekt. Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11870</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="relevantForEkomportalen">
                  <annotation>
                     <documentation>12450: Angir om vegobjektet er relevant for overføring til Ekomportalen eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12450</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Relevant for Ekomportalen</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="eier" type="nvdb:EierVeganleggType">
                  <annotation>
                     <documentation>11869: Angir hvem som er prosjekteier.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11869</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>4738: Gir flate som representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4738</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VeganleggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Veganlegg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
