GML/PS/OLFV_NV/2.35/83.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        version="2.28">
   <annotation>
      <documentation>83: Konstruksjon som benyttes i forbindelse med kopling av rørledninger og/eller inntak av vann gjennom rist/sluk. Merknad: Kum for kopling av trekkerør og kabler er definert som egen vegobjekttype Trekkekum.</documentation>
   </annotation>
   <include schemaLocation="OLFV_SVV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeKumType">
      <annotation>
         <documentation>1269: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeKumEnumerationType nvdb:BruksområdeKumOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeKumEnumerationType">
      <annotation>
         <documentation>1269: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1269</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Drenering">
            <annotation>
               <documentation>2936: Drenering</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2936</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Drenering</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Inspeksjonskum">
            <annotation>
               <documentation>2937: Inspeksjonskum</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2937</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Inspeksjonskum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Inntak/utløp stikkrenne">
            <annotation>
               <documentation>2939: Inntak/utløp stikkrenne</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2939</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Inntak/utløp stikkrenne</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spillvannskum">
            <annotation>
               <documentation>2938: Spillvannskum</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2938</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spillvannskum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fallkum">
            <annotation>
               <documentation>2940: Fallkum</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2940</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fallkum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Vannkum">
            <annotation>
               <documentation>2943: Kum som inngår i et vannforsyningsanlegg</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2943</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vannkum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pumpekum">
            <annotation>
               <documentation>2942: Pumpekum</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2942</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pumpekum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Brannkum">
            <annotation>
               <documentation>17534: Vannkum hvor det er dimensjonert for vannuttak til slokking av brann og er lagt til rette for påkopling av brannslanger.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17534</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brannkum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeKumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="DykkerType">
      <annotation>
         <documentation>4594: Angir om det er dykker i tilknytning til kummen. Dykker er en konstruksjon som skal hindre slitasje på kummen når det føres mye vann inn i kummen på et nivå høyere enn bunnen på kummen. Dykker kan også brukes for å føre inn en slange med vann eller damp f</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4594</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4594</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dykker</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:DykkerEnumerationType nvdb:DykkerOtherType"/>
   </simpleType>
   <simpleType name="DykkerEnumerationType">
      <annotation>
         <documentation>4594: Angir om det er dykker i tilknytning til kummen. Dykker er en konstruksjon som skal hindre slitasje på kummen når det føres mye vann inn i kummen på et nivå høyere enn bunnen på kummen. Dykker kan også brukes for å føre inn en slange med vann eller damp f</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4594</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">4594</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Dykker</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>5531: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5531</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>5532: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5532</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="DykkerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierKumType">
      <annotation>
         <documentation>5816: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierKumEnumerationType nvdb:EierKumOtherType"/>
   </simpleType>
   <simpleType name="EierKumEnumerationType">
      <annotation>
         <documentation>5816: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">5816</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Stat, Statens vegvesen">
            <annotation>
               <documentation>8211: Stat, Statens vegvesen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8211</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stat, Nye Veier">
            <annotation>
               <documentation>18593: Stat, Nye Veier</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18593</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fylkeskommune">
            <annotation>
               <documentation>10703: Fylkeskommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10703</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kommune">
            <annotation>
               <documentation>8237: Kommune</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8237</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Privat">
            <annotation>
               <documentation>8263: Privat</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8263</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Uavklart">
            <annotation>
               <documentation>17562: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17562</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierKumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="HarFlyterammeType">
      <annotation>
         <documentation>2294: Angir om kummen har flyteramme eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2294</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">2294</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Har flyteramme</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:HarFlyterammeEnumerationType nvdb:HarFlyterammeOtherType"/>
   </simpleType>
   <simpleType name="HarFlyterammeEnumerationType">
      <annotation>
         <documentation>2294: Angir om kummen har flyteramme eller ikke.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2294</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">2294</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Har flyteramme</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>4176: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4176</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>4177: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4177</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="HarFlyterammeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Kum"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:KumType">
      <annotation>
         <documentation>83: Konstruksjon som benyttes i forbindelse med kopling av rørledninger og/eller inntak av vann gjennom rist/sluk. Merknad: Kum for kopling av trekkerør og kabler er definert som egen vegobjekttype Trekkekum.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">83</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">83</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kum</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="KumType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="type" type="nvdb:TypeKumType">
                  <annotation>
                     <documentation>1141: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1141</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bruksområde" type="nvdb:BruksområdeKumType">
                  <annotation>
                     <documentation>1269: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1269</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="materialtype" type="nvdb:MaterialtypeKumType">
                  <annotation>
                     <documentation>1411: Angir primær materialtype for vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1411</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lokkRist_Type" type="nvdb:LokkRist_TypeType">
                  <annotation>
                     <documentation>2290: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2290</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lokk/rist, type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="spesiellBelegningRundtKum"
                        type="nvdb:SpesiellBelegningRundtKumType">
                  <annotation>
                     <documentation>11417: Angir om det er spesiell belegning i et belte/firkant rundt kum for å lette vedlikehold og gjøre kum mer synlig.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11417</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spesiell belegning rundt kum</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="diameter" type="double">
                  <annotation>
                     <documentation>1727: Angir indre diameter av kum.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1727</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Diameter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="dybde" type="double">
                  <annotation>
                     <documentation>1586: Angir dybde målt fra topp kumlokk til innvendig bunn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1586</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dybde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="dybdeTilUtløp" type="double">
                  <annotation>
                     <documentation>2079: Angir dybde fra topp kum til underkant (innvendig rør) av utløp.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2079</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dybde til utløp</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde1_Firkantkum" type="double">
                  <annotation>
                     <documentation>5797: Angir bredde 1 av firkantkum.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5797</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde1, firkantkum</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="bredde2_Firkantkum" type="double">
                  <annotation>
                     <documentation>5798: Angir bredde 2 av firkantkum.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5798</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde2, firkantkum</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="avstandFraVegkant" type="double">
                  <annotation>
                     <documentation>2388: Angir avstand fra vegkant til senter kumlokk.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2388</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avstand fra vegkant</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="stige" type="nvdb:StigeType">
                  <annotation>
                     <documentation>1946: Angir hva slags stige det er i kummen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1946</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Stige</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="harFlyteramme" type="nvdb:HarFlyterammeType">
                  <annotation>
                     <documentation>2294: Angir om kummen har flyteramme eller ikke.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2294</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Har flyteramme</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="dykker" type="nvdb:DykkerType">
                  <annotation>
                     <documentation>4594: Angir om det er dykker i tilknytning til kummen. Dykker er en konstruksjon som skal hindre slitasje på kummen når det føres mye vann inn i kummen på et nivå høyere enn bunnen på kummen. Dykker kan også brukes for å føre inn en slange med vann eller damp for tining av frosne kummer eller ledninger.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4594</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Dykker</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="oljeutskilling"
                        type="nvdb:OljeutskillingKumType">
                  <annotation>
                     <documentation>10969: Kum har system for utskilling av olje.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10969</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oljeutskilling</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="kumskjerm" type="nvdb:KumskjermType">
                  <annotation>
                     <documentation>10227: Angir om det er satt opp en skjerm/skjold ved kummen inn mot skråningen for å hindre at det glir masser fra skråning ned i kummen eller blokkerer kumlokket. Det kan også angis hvilket materiale denne skjermen er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10227</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Kumskjerm</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>7065: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7065</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10470: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10470</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierKumType">
                  <annotation>
                     <documentation>5816: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5816</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>11198: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11198</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4784: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4784</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonPunktPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="assosiertVannhåndteringsanlegg"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Vannhåndteringsanlegg</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="assosiertLukketRørgrøft"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:LukketRørgrøft</targetElement>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="assosiertStikkrenneKulvert"
                        type="gml:ReferenceType">
                  <annotation>
                     <appinfo>
                        <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:StikkrenneKulvert</targetElement>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="KumPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kum"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="KumskjermType">
      <annotation>
         <documentation>10227: Angir om det er satt opp en skjerm/skjold ved kummen inn mot skråningen for å hindre at det glir masser fra skråning ned i kummen eller blokkerer kumlokket. Det kan også angis hvilket materiale denne skjermen er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10227</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10227</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kumskjerm</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:KumskjermEnumerationType nvdb:KumskjermOtherType"/>
   </simpleType>
   <simpleType name="KumskjermEnumerationType">
      <annotation>
         <documentation>10227: Angir om det er satt opp en skjerm/skjold ved kummen inn mot skråningen for å hindre at det glir masser fra skråning ned i kummen eller blokkerer kumlokket. Det kan også angis hvilket materiale denne skjermen er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10227</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10227</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kumskjerm</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>16738: Angir at det er kumskjerm, men det mangler informasjon om hvilken type den er av</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16738</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ja, plast">
            <annotation>
               <documentation>16706: Ja, plast</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16706</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ja, betong">
            <annotation>
               <documentation>16705: Ja, betong</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16705</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ja, metall, stål">
            <annotation>
               <documentation>16707: Ja, metall, stål</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16707</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, metall, stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ja, tre">
            <annotation>
               <documentation>16708: Ja, tre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16708</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja, tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>16739: Angir at kum ikke har kumskjerm.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16739</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="KumskjermOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="LokkRist_TypeType">
      <annotation>
         <documentation>2290: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2290</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">2290</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lokk/rist,type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LokkRist_TypeEnumerationType nvdb:LokkRist_TypeOtherType"/>
   </simpleType>
   <simpleType name="LokkRist_TypeEnumerationType">
      <annotation>
         <documentation>2290: .</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2290</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">2290</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lokk/rist,type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Tett lokk, støpjern">
            <annotation>
               <documentation>4149: Tett lokk, støpjern</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4149</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tett lokk, støpjern</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tett lokk, betong">
            <annotation>
               <documentation>4148: Tett lokk, betong</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4148</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tett lokk, betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tett lokk, plast">
            <annotation>
               <documentation>17889: Tett lokk av plastmateriale</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17889</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tett lokk, plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tett lokk, tre">
            <annotation>
               <documentation>5541: Tett lokk, tre</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5541</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tett lokk, tre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Støpjernslokk m hel rist">
            <annotation>
               <documentation>5542: Støpjernslokk m hel rist</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5542</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Støpjernslokk m hel rist</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Støpjernslokk m halv rist">
            <annotation>
               <documentation>4156: Støpjernslokk m halv rist</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4156</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Støpjernslokk m halv rist</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kuppelrist, flat">
            <annotation>
               <documentation>4151: Kuppelrist, flat</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4151</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kuppelrist, flat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kuppelrist, lav">
            <annotation>
               <documentation>4152: Kuppelrist, lav</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4152</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kuppelrist, lav</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kuppelrist, høy">
            <annotation>
               <documentation>4153: Kuppelrist, høy</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4153</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kuppelrist, høy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Slukrist, i gateplan">
            <annotation>
               <documentation>4158: Slukrist, i gateplan</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4158</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slukrist, i gateplan</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Slukrist, vertikal">
            <annotation>
               <documentation>4155: Benevnes også "kjeftsluk"</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4155</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slukrist, vertikal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betonglokk m liten rist">
            <annotation>
               <documentation>5341: Betonglokk m liten rist</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5341</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betonglokk m liten rist</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Skrårist">
            <annotation>
               <documentation>12867: Skrårist</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12867</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skrårist</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Åpen">
            <annotation>
               <documentation>4157: Åpen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4157</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LokkRist_TypeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeKumType">
      <annotation>
         <documentation>1411: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1411</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1411</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:MaterialtypeKumEnumerationType nvdb:MaterialtypeKumOtherType"/>
   </simpleType>
   <simpleType name="MaterialtypeKumEnumerationType">
      <annotation>
         <documentation>1411: Angir primær materialtype for vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1411</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1411</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Betong">
            <annotation>
               <documentation>2211: Betong</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2211</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Plast">
            <annotation>
               <documentation>2272: Plast</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2272</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Plast</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Naturstein">
            <annotation>
               <documentation>2255: Naturstein</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2255</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Naturstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Teglstein, murstein">
            <annotation>
               <documentation>2377: Teglstein, murstein</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2377</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Teglstein, murstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betongstein">
            <annotation>
               <documentation>5540: Betongstein</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5540</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Rustfritt stål">
            <annotation>
               <documentation>19635: Rustfritt stål</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19635</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rustfritt stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="MaterialtypeKumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OljeutskillingKumType">
      <annotation>
         <documentation>10969: Kum har system for utskilling av olje.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10969</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10969</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oljeutskilling</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OljeutskillingKumEnumerationType nvdb:OljeutskillingKumOtherType"/>
   </simpleType>
   <simpleType name="OljeutskillingKumEnumerationType">
      <annotation>
         <documentation>10969: Kum har system for utskilling av olje.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10969</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">10969</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oljeutskilling</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ja">
            <annotation>
               <documentation>18320: Ja</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18320</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nei">
            <annotation>
               <documentation>18321: Nei</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18321</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OljeutskillingKumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="SpesiellBelegningRundtKumType">
      <annotation>
         <documentation>11417: Angir om det er spesiell belegning i et belte/firkant rundt kum for å lette vedlikehold og gjøre kum mer synlig.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11417</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11417</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell belegning rundt kum</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpesiellBelegningRundtKumEnumerationType nvdb:SpesiellBelegningRundtKumOtherType"/>
   </simpleType>
   <simpleType name="SpesiellBelegningRundtKumEnumerationType">
      <annotation>
         <documentation>11417: Angir om det er spesiell belegning i et belte/firkant rundt kum for å lette vedlikehold og gjøre kum mer synlig.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11417</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">11417</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell belegning rundt kum</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Asfalt">
            <annotation>
               <documentation>19268: Asfalt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19268</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Stein">
            <annotation>
               <documentation>19269: Stein</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19269</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Betong">
            <annotation>
               <documentation>21217: Betong</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21217</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ingen">
            <annotation>
               <documentation>19270: Ingen</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19270</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ingen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpesiellBelegningRundtKumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="StigeType">
      <annotation>
         <documentation>1946: Angir hva slags stige det er i kummen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1946</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1946</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stige</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:StigeEnumerationType nvdb:StigeOtherType"/>
   </simpleType>
   <simpleType name="StigeEnumerationType">
      <annotation>
         <documentation>1946: Angir hva slags stige det er i kummen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1946</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1946</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stige</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Stige">
            <annotation>
               <documentation>3052: Stige</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3052</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stige</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Innstøpte trinn">
            <annotation>
               <documentation>3053: Innstøpte trinn</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3053</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Innstøpte trinn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ikke stige">
            <annotation>
               <documentation>19080: Ikke stige</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19080</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke stige</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="StigeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeKumType">
      <annotation>
         <documentation>1141: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeKumEnumerationType nvdb:TypeKumOtherType"/>
   </simpleType>
   <simpleType name="TypeKumEnumerationType">
      <annotation>
         <documentation>1141: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">1141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Standard kum">
            <annotation>
               <documentation>2944: Standard kum</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2944</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Standard kum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hjelpesluk">
            <annotation>
               <documentation>4144: Hjelpesluk</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4144</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hjelpesluk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Standard kum m sandfang">
            <annotation>
               <documentation>4146: Standard kum m sandfang</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4146</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Standard kum m sandfang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Firkantkum">
            <annotation>
               <documentation>5742: Firkantkum</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5742</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Firkantkum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Gategutt">
            <annotation>
               <documentation>4145: Liten kum med lokk i som skjuler VA objekt (f.eks. en stoppekran) eller andre objekter (f.eks.fastpunkt) i veg/fortau</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4145</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gategutt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spesialkum">
            <annotation>
               <documentation>2945: Spesialkum</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2945</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesialkum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spesialkum, prefabrikkert">
            <annotation>
               <documentation>2946: Spesialkum, prefabrikkert</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2946</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesialkum, prefabrikkert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spesialkum plasstøpt">
            <annotation>
               <documentation>2947: Spesialkum plasstøpt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2947</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesialkum plasstøpt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spesialkum, murt">
            <annotation>
               <documentation>2948: Spesialkum, murt</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2948</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesialkum, murt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Spesialkum, infiltreringskum">
            <annotation>
               <documentation>2949: En infiltrasjonskum samler opp overvann og lar det infiltreres i grunnen via bunnen på kummen. Vil kunne være aktuelt å bruke der det er store asfaltflater og andre overflater som hindrer at overvann kan trenge ned i grunnen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2949</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Spesialkum, infiltreringskum</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kum sprengt i fjell">
            <annotation>
               <documentation>5474: Kum som er sprengt direkte i fjell</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5474</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kum sprengt i fjell</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeKumOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
