GML/PS/OLFV_NV/2.35/850.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_SVV/2.28"
        version="2.28">
   <annotation>
      <documentation>850: Installasjoner i løsneområde som hindrer skred i å løsne</documentation>
   </annotation>
   <include schemaLocation="OLFV_SVV.xsd"/>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AdkomstStøtteforbygning_SnøType">
      <annotation>
         <documentation>9658: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9658</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9658</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AdkomstStøtteforbygning_SnøEnumerationType nvdb:AdkomstStøtteforbygning_SnøOtherType"/>
   </simpleType>
   <simpleType name="AdkomstStøtteforbygning_SnøEnumerationType">
      <annotation>
         <documentation>9658: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9658</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9658</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Bil">
            <annotation>
               <documentation>19826: Adkomst er mulig med bil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19826</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Hjullaster">
            <annotation>
               <documentation>13909: Adkomst er mulig med hjullaster.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13909</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hjullaster</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Gravemaskin">
            <annotation>
               <documentation>13910: Adkomst for gravemaskin</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13910</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gravemaskin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Til fots">
            <annotation>
               <documentation>13911: Adkomst til fots</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13911</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til fots</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Kran">
            <annotation>
               <documentation>13912: Adkomst for kran</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13912</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kran</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Tau">
            <annotation>
               <documentation>13913: Adkomt med tau</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13913</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tau</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Helikopter">
            <annotation>
               <documentation>13914: Adkomst for helikopter</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13914</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helikopter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AdkomstStøtteforbygning_SnøOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Støtteforbygning_Snø"
            substitutionGroup="nvdb:Fellesegenskaper"
            type="nvdb:Støtteforbygning_SnøType">
      <annotation>
         <documentation>850: Installasjoner i løsneområde som hindrer skred i å løsne</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">850</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">850</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støtteforbygning,snø</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Støtteforbygning_SnøType">
      <complexContent>
         <extension base="nvdb:FellesegenskaperType">
            <sequence>
               <element name="type" type="nvdb:TypeStøtteforbygning_SnøType">
                  <annotation>
                     <documentation>9653: Angir type forbygning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9653</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="totaltAntall" type="integer">
                  <annotation>
                     <documentation>9654: Totalt antall forbygninger i skredsikringen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9654</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Totalt antall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallRader" type="integer">
                  <annotation>
                     <documentation>9655: Antall rader med forbygninger i skredsikringen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9655</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall rader</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeSikringselement" type="double">
                  <annotation>
                     <documentation>9657: Angir gjennomsnitlig høyde for forbygningene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9657</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde sikringselement</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="sikraAreal" type="integer">
                  <annotation>
                     <documentation>9656: Angir areal for området skredsikringen dekker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9656</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Sikra areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="adkomst" type="nvdb:AdkomstStøtteforbygning_SnøType">
                  <annotation>
                     <documentation>9658: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9658</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9659: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9659</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>9662: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9662</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded"
                        minOccurs="0"
                        name="lineærPosisjon"
                        type="nvdb:LineærPosisjonStrekningPropertyType">
                  <annotation>
                     <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Støtteforbygning_SnøPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Støtteforbygning_Snø"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeStøtteforbygning_SnøType">
      <annotation>
         <documentation>9653: Angir type forbygning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9653</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9653</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeStøtteforbygning_SnøEnumerationType nvdb:TypeStøtteforbygning_SnøOtherType"/>
   </simpleType>
   <simpleType name="TypeStøtteforbygning_SnøEnumerationType">
      <annotation>
         <documentation>9653: Angir type forbygning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9653</sc:taggedValue>
            <sc:taggedValue tag="NVDB_ID">9653</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Snøanker">
            <annotation>
               <documentation>13907: Paraplyforebygning montert i et system for å holde snø på plass i løsneområdet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13907</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snøanker</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Støtteforbygning">
            <annotation>
               <documentation>13908: Horisontale innretninger for å holde snø på plass i løsneområdet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13908</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Støtteforbygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeStøtteforbygning_SnøOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
