GML/PS/OLFV_SVV/2.40/342.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>342: Speil satt opp for å bedre siktforholdene v avkjørsler/kryss/busslommer m.m.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="Materialtype_SpeilTrafikkspeilType">
      <annotation>
         <documentation>7936: Angir hvilken materialtype trafikkspeilet er laget av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7936</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype, speil</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:Materialtype_SpeilTrafikkspeilEnumerationType nvdb:Materialtype_SpeilTrafikkspeilOtherType"/>
   </simpleType>
   <simpleType name="Materialtype_SpeilTrafikkspeilEnumerationType">
      <annotation>
         <documentation>7936: Angir hvilken materialtype trafikkspeilet er laget av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7936</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Materialtype, speil</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10140</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Polykarbonat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10141</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stål</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="Materialtype_SpeilTrafikkspeilOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrTrafikkspeilType">
      <annotation>
         <documentation>7935: Angir hva trafikkspeilet er festet på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7935</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:OppsettingsutstyrTrafikkspeilEnumerationType nvdb:OppsettingsutstyrTrafikkspeilOtherType"/>
   </simpleType>
   <simpleType name="OppsettingsutstyrTrafikkspeilEnumerationType">
      <annotation>
         <documentation>7935: Angir hva trafikkspeilet er festet på.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">7935</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="S2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10137</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stolpe 2''</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="S3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10136</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stolpe 3''</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10139</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trestolpe</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="V">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10138</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="OppsettingsutstyrTrafikkspeilOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trafikkspeil"
            substitutionGroup="nvdb:AbstraktTrafikkspeil"
            type="nvdb:TrafikkspeilType">
      <annotation>
         <documentation>342: Speil satt opp for å bedre siktforholdene v avkjørsler/kryss/busslommer m.m.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">342</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkspeil</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrafikkspeilType">
      <complexContent>
         <extension base="nvdb:AbstraktTrafikkspeilType">
            <sequence>
               <element name="materialtype_Speil">
                  <annotation>
                     <documentation>7936: Angir hvilken materialtype trafikkspeilet er laget av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7936</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Materialtype, speil</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="oppsettingsutstyr" type="nvdb:OppsettingsutstyrTrafikkspeilType">
                  <annotation>
                     <documentation>7935: Angir hva trafikkspeilet er festet på.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">7935</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Oppsettingsutstyr</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="diameter" type="integer">
                  <annotation>
                     <documentation>2275: Angir diameter av trafikkspeil.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2275</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Diameter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10379: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10379</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4918: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4918</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrafikkspeilPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trafikkspeil"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
