GML/PS/OLFV_SVV/2.40/44.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>44: Område spesielt tilrettelagt for å foreta ulike typer kontroll av kjøretøy, bl.a. vektkontroll.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Kontroll-veieplass"
            substitutionGroup="nvdb:AbstraktKontrollVeieplass"
            type="nvdb:Kontroll-veieplassType">
      <annotation>
         <documentation>44: Område spesielt tilrettelagt for å foreta ulike typer kontroll av kjøretøy, bl.a. vektkontroll.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">44</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kontroll-veieplass</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Kontroll-veieplassType">
      <complexContent>
         <extension base="nvdb:AbstraktKontrollVeieplassType">
            <sequence>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>1077: Angir navn på kontroll-/veieplassen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1077</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeKontroll-veieplassType">
                  <annotation>
                     <documentation>12586: Angir hvilken type kontroll-/veieplass det er</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12586</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="veiing" type="nvdb:VeiingKontroll-veieplassType">
                  <annotation>
                     <documentation>1117: Angir hvilken type veiing som benyttes ved kontroll/veieplassen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1117</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Veiing</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="vektTilgjengelig">
                  <annotation>
                     <documentation>12587: Angir i hvilken grad vekt er tilgjengelig for trafikanter.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12587</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Vekt tilgjengelig</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="areal" type="integer">
                  <annotation>
                     <documentation>1360: Angir totalt areal av vegobjektet. Arealet inkluderer kjørbart, ikke kjørbart og bebygd areal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1360</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10319: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10319</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10963: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10963</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Kontroll-veieplassPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kontroll-veieplass"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeKontroll-veieplassType">
      <annotation>
         <documentation>12586: Angir hvilken type kontroll-/veieplass det er</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12586</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeKontroll-veieplassEnumerationType nvdb:TypeKontroll-veieplassOtherType"/>
   </simpleType>
   <simpleType name="TypeKontroll-veieplassEnumerationType">
      <annotation>
         <documentation>12586: Angir hvilken type kontroll-/veieplass det er</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12586</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="KP">
            <annotation>
               <documentation>21707: Mindre sideanlegg uten større installasjoner eller bygg</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21707</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kontrollplass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="LK">
            <annotation>
               <documentation>21706: Anlegg som inneholder mindre bygningsmasse og fast brovekt eller tilpassede groper for å kunne benytte mobile vekter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21706</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Liten kontrollstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SK">
            <annotation>
               <documentation>21705: Anlegg som minimum inneholder bygningsmasse med fasiliteter for å kunne gjennomføre utvidet teknisk kontroll etter Direktiv 2014/47/EU og fast brovekt for vektkontroll av tunge kjøretøy</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21705</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stor kontrollstasjon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeKontroll-veieplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VeiingKontroll-veieplassType">
      <annotation>
         <documentation>1117: Angir hvilken type veiing som benyttes ved kontroll/veieplassen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1117</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veiing</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VeiingKontroll-veieplassEnumerationType nvdb:VeiingKontroll-veieplassOtherType"/>
   </simpleType>
   <simpleType name="VeiingKontroll-veieplassEnumerationType">
      <annotation>
         <documentation>1117: Angir hvilken type veiing som benyttes ved kontroll/veieplassen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1117</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Veiing</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="f">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3923</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fastmontert vekt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IT">
            <annotation>
               <documentation>21711: Kontroll-/veieplass er ikke egnet eller tilrettelagt for vektkontroll.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21711</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke egnet for veiing</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <documentation>3924: Vekt/utstyr medbringes i forbindelse med kontroller.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3924</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mobil vekt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VeiingKontroll-veieplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="VektTilgjengeligKontroll-veieplassType">
      <annotation>
         <documentation>12587: Angir i hvilken grad vekt er tilgjengelig for trafikanter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12587</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vekt tilgjengelig</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:VektTilgjengeligKontroll-veieplassEnumerationType nvdb:VektTilgjengeligKontroll-veieplassOtherType"/>
   </simpleType>
   <simpleType name="VektTilgjengeligKontroll-veieplassEnumerationType">
      <annotation>
         <documentation>12587: Angir i hvilken grad vekt er tilgjengelig for trafikanter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12587</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vekt tilgjengelig</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="HD">
            <annotation>
               <documentation>21708: Vekt er tilgjengelig hele døgnet</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21708</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hele døgnet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="I åpningstid">
            <annotation>
               <documentation>21709: Vekt er tilgjengelig innenfor åpningstid. Gjelder typisk for kontrollstasjoner i tilknytning til trafikkstasjoner hvor det da henviser til trafikkstasjonens åpningstid.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21709</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">I åpningstid</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IR">
            <annotation>
               <documentation>21710: Vekt er ikke tilgjengelig.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21710</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ikke tilgjengelig</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="VektTilgjengeligKontroll-veieplassOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
