GML/PS/OLFV_SVV/2.40/463.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>463: Utstyr for å måle temperatur.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeTemperaturmålerType">
      <annotation>
         <documentation>5289: Angir bruksområde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5289</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeTemperaturmålerEnumerationType nvdb:BruksområdeTemperaturmålerOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeTemperaturmålerEnumerationType">
      <annotation>
         <documentation>5289: Angir bruksområde.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5289</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="lk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7301</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lufttemperatur i kiosk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16963</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lufttemperatur i teknisk rom</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7302</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lufttemperatur i tunnel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="lu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7300</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lufttemperatur, ute</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="v">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7303</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vegbanetemperatur</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeTemperaturmålerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Temperaturmåler"
            substitutionGroup="nvdb:AbstraktTemperaturmåler"
            type="nvdb:TemperaturmålerType">
      <annotation>
         <documentation>463: Utstyr for å måle temperatur.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">463</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Temperaturmåler</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TemperaturmålerType">
      <complexContent>
         <extension base="nvdb:AbstraktTemperaturmålerType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeTemperaturmålerType">
                  <annotation>
                     <documentation>5289: Angir bruksområde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5289</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antall" type="integer">
                  <annotation>
                     <documentation>5288: Angir antall.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5288</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10374: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10374</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>10486: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10486</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produsent" type="string">
                  <annotation>
                     <documentation>3536: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3536</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>3799: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3799</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4980: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4980</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TemperaturmålerPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Temperaturmåler"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
