GML/PS/OLFV_SVV/2.40/511.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>511: Det menes her flerårige planter med forvedet overjordsstamme som grener seg fra grunnen, og ikke har tydelig stamme med krone. Busker er normalt lavere enn 5 meter. Omfatter et stort antall slekter, arter og kultivarer/sorter.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Busker"
            substitutionGroup="nvdb:AbstraktBusker"
            type="nvdb:BuskerType">
      <annotation>
         <documentation>511: Det menes her flerårige planter med forvedet overjordsstamme som grener seg fra grunnen, og ikke har tydelig stamme med krone. Busker er normalt lavere enn 5 meter. Omfatter et stort antall slekter, arter og kultivarer/sorter.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">511</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Busker</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BuskerType">
      <complexContent>
         <extension base="nvdb:AbstraktBuskerType">
            <sequence>
               <element name="type" type="nvdb:TypeBuskerType">
                  <annotation>
                     <documentation>4131: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4131</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="integer">
                  <annotation>
                     <documentation>4144: Angir samlet areal.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4144</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antall" type="integer">
                  <annotation>
                     <documentation>4139: Angir hvor mange forekomster som er representert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4139</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="norskNavn" type="string">
                  <annotation>
                     <documentation>4498: Angir norsk navn på busker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4498</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Norsk navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="botaniskNavn" type="string">
                  <annotation>
                     <documentation>4499: Angir botanisk navn på busker.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4499</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Botanisk navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="planteomgivelser" type="nvdb:PlanteomgivelserBuskerType">
                  <annotation>
                     <documentation>4506: Angir hva som omgir plantene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4506</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Planteomgivelser</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="utplantingsår" type="integer">
                  <annotation>
                     <documentation>10280: Angir hvilket år området med busker ble etablert.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10280</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utplantingsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>8892: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8892</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BuskerPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Busker"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="PlanteomgivelserBuskerType">
      <annotation>
         <documentation>4506: Angir hva som omgir plantene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4506</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Planteomgivelser</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlanteomgivelserBuskerEnumerationType nvdb:PlanteomgivelserBuskerOtherType"/>
   </simpleType>
   <simpleType name="PlanteomgivelserBuskerEnumerationType">
      <annotation>
         <documentation>4506: Angir hva som omgir plantene.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4506</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Planteomgivelser</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5291</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gress</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5292</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jorddekkemiddel, bark/kompost</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21909</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jorddekkemiddel, grus/stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SB">
            <annotation>
               <documentation>22562: Busker er omgitt av stauder/blomsterbeplantning.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22562</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stauder/blomsterbeplantning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="aj">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5290</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Åpen jord</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlanteomgivelserBuskerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeBuskerType">
      <annotation>
         <documentation>4131: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeBuskerEnumerationType nvdb:TypeBuskerOtherType"/>
   </simpleType>
   <simpleType name="TypeBuskerEnumerationType">
      <annotation>
         <documentation>4131: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4131</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bu">
            <annotation>
               <documentation>5105: Gjengrodde/ høytvoksende buskfelt med betydelig lavere skjøtselsbehov enn for buskfelt. Buskas er i mange tilfeller gjengrodde buskfelt, som har grodd igjen til å gi et mer naturlikt preg. Helhetsinntrykket skal likevel være frisk og frodig.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5105</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Buskas</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hf">
            <annotation>
               <documentation>5103: Busker (enkeltstående eller buskfelt, inkl hekk) som krever jevnlig beskjæring for å holde en bestemt form eller høyde.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5103</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Busker, formklipt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bf">
            <annotation>
               <documentation>5101: Frittstående busker er solitære/ enkeltstående busker. Disse er ofte store og har rik blomstring eller andre karakteristika som gjør dem til et blikkfang.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5101</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Busker, frittstående</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="f">
            <annotation>
               <documentation>5102: Buskfelt er områder/areal beplantet med flere enn 2 busker. Inkluderer også frittvoksende hekk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5102</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Buskfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ro">
            <annotation>
               <documentation>5104: Roser omfatter alle type roser unntatt klatreroser (som er klatreplante under  objekt Blomsterbeplanting). Spesielle roser angis i tilleggsinformasjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5104</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Roser</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeBuskerOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
