GML/PS/OLFV_SVV/2.40/519.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>519: Vegoppmerking som ikke har nevneverdig langsgående utstrekning. Eks symbol, sperreområder, piler, tekst, gangfelt og annen tverrgående oppmerking.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BreddeLinjeISperreområdetVegoppmerking, tverrgåendeType">
      <annotation>
         <documentation>12571: Bredde på enkeltlinjene i sperreområdet. Denne egenskapstypen er bare aktuell for vegoppmerking av type 1014.2 - skrålinjer/vinkler/fyll.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12571</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bredde linje i sperreområdet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BreddeLinjeISperreområdetVegoppmerking, tverrgåendeEnumerationType nvdb:BreddeLinjeISperreområdetVegoppmerking, tverrgåendeOtherType"/>
   </simpleType>
   <simpleType name="BreddeLinjeISperreområdetVegoppmerking, tverrgåendeEnumerationType">
      <annotation>
         <documentation>12571: Bredde på enkeltlinjene i sperreområdet. Denne egenskapstypen er bare aktuell for vegoppmerking av type 1014.2 - skrålinjer/vinkler/fyll.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12571</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bredde linje i sperreområdet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="25">
            <annotation>
               <documentation>21657: Bredde benyttes ved fartsgrense 70 km/t eller lavere.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21657</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0,25</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <documentation>21658: Bredde benyttes ved fartsgrense 80 km eller høyere.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21658</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0,50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BreddeLinjeISperreområdetVegoppmerking, tverrgåendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FargeVegoppmerking, tverrgåendeType">
      <annotation>
         <documentation>4168: Angir hovedfarge til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4168</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FargeVegoppmerking, tverrgåendeEnumerationType nvdb:FargeVegoppmerking, tverrgåendeOtherType"/>
   </simpleType>
   <simpleType name="FargeVegoppmerking, tverrgåendeEnumerationType">
      <annotation>
         <documentation>4168: Angir hovedfarge til vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4168</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="g">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5173</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gul</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5174</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hvit</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FargeVegoppmerking, tverrgåendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NedfresingVegoppmerking, tverrgåendeType">
      <annotation>
         <documentation>10930: Angir hvorvidt det er frest ned en plan forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bl.a. at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10930</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedfresing</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NedfresingVegoppmerking, tverrgåendeEnumerationType nvdb:NedfresingVegoppmerking, tverrgåendeOtherType"/>
   </simpleType>
   <simpleType name="NedfresingVegoppmerking, tverrgåendeEnumerationType">
      <annotation>
         <documentation>10930: Angir hvorvidt det er frest ned en plan forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bl.a. at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">10930</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedfresing</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="J">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18274</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="N">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18275</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NedfresingVegoppmerking, tverrgåendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegoppmerking, tverrgåendeType">
      <annotation>
         <documentation>4167: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4167</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeVegoppmerking, tverrgåendeEnumerationType nvdb:TypeVegoppmerking, tverrgåendeOtherType"/>
   </simpleType>
   <simpleType name="TypeVegoppmerking, tverrgåendeEnumerationType">
      <annotation>
         <documentation>4167: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">4167</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="1038">
            <annotation>
               <documentation>21380: Sykkel med to "hatter" over. Symbol 1038 Delesymbol kan anvendes for å binde sammen sykkelruter der det mangler særskilt infrastruktur for sykkel og/eller et systemskifte i vegstandard (N302 Vegoppmerking).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21380</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delesymbol (1038)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16781</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fartsgrense (1054)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1027">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11740</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fartshump (1027)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1024">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5147</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gangfelt (1024)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1038.1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5158</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gangsymbol (1037)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Mng">
            <annotation>
               <documentation>10240: Angir at det mangler informasjon om type.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10240</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mangler</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1028">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5261</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parkeringsfelt (1028)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1040">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5316</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parkeringssymbol (1040)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s8">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5169</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pil, feltskifte, (1034.F)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s6">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5154</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pil, kjøreretn, (1034.H)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5149</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pil, kjøreretn, (1034.R)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5150</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pil, kjøreretn, (1034.RH)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5152</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pil, kjøreretn, (1034.RHV)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5151</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pil, kjøreretn, (1034.RV)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5153</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pil, kjøreretn, (1034.V)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s7">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5155</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pil, kjøreretn, (1034.VH)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pmr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16782</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pil, minirundkjøring (1034)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="rf">
            <annotation>
               <documentation>5165: Felt som er utformet slik at det ved kjøring over i stor fart framkommer en rumlende lyd (017) Vegreferanse angis for start rumlefelt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5165</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Rumlefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16778</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skinnekjøretøy (1044)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SF">
            <annotation>
               <documentation>21660: Areal med heldekkende fyll i sperreområde. Benyttes i ender/spisser. Verdi for areal av område med fyll registreres til ET 4170 "Areal".</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21660</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skravurområde, fyll (1014)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SL">
            <annotation>
               <documentation>21656: Rette striper på tvers/skrå av sperreområde.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21656</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skravurområde, skrålinjer (1014)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SV">
            <annotation>
               <documentation>21659: Striper utformet som vinkler på tvers av sperreområde.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21659</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skravurområde, vinkler (1014)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1020">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5168</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stopplinje (1020)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1026">
            <annotation>
               <documentation>5315: Kryssingsfelt beregnet for sykkeltrafikk.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5315</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykkelkryssing (1026.1)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1026">
            <annotation>
               <documentation>16777: Kryssingsfelt beregnet for sykkeltrafikk som ligger inntil gangfelt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16777</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykkelkryssing inntil gangfelt (1026.2)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1038.2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5157</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sykkelsymbol (1039)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1042">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5159</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Symbol for forflytningshemmede (1042)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1050.2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5163</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tekst, buss (1050.2)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tsf">
            <annotation>
               <documentation>16780: F.eks. "2+".</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16780</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tekst, sambruksfelt (1052)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tsk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16779</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tekst, skole (1050.5)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1050.1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5162</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tekst, stopp (1050.1)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5164</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tekst, taxi (1050.3)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1050.4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5161</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tekst, vegvisning (1050.4)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1022">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5167</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vikelinje (1022)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1036">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5156</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vikesymbol (1036)</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeVegoppmerking, tverrgåendeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Vegoppmerking, tverrgående"
            substitutionGroup="nvdb:AbstraktVegoppmerking_Tverrgående"
            type="nvdb:Vegoppmerking, tverrgåendeType">
      <annotation>
         <documentation>519: Vegoppmerking som ikke har nevneverdig langsgående utstrekning. Eks symbol, sperreområder, piler, tekst, gangfelt og annen tverrgående oppmerking.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">519</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegoppmerking, tverrgående</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Vegoppmerking, tverrgåendeType">
      <complexContent>
         <extension base="nvdb:AbstraktVegoppmerking_TverrgåendeType">
            <sequence>
               <element name="type" type="nvdb:TypeVegoppmerking, tverrgåendeType">
                  <annotation>
                     <documentation>4167: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4167</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="nedfresing"
                        type="nvdb:NedfresingVegoppmerking, tverrgåendeType">
                  <annotation>
                     <documentation>10930: Angir hvorvidt det er frest ned en plan forsenkning i asfalten for å legge vegmerkingen i. Hensikten med dette er bl.a. at vegmerkingen blir mindre utsatt for brøyteskader.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10930</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nedfresing</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde" type="double">
                  <annotation>
                     <documentation>4173: Angir bredde av vegobjektet. Bredde måles på tvers av symbol/tekst sin lengderetning. Tverrgående oppmerking som f.eks. "gangfelt har lengderetning på tvers av vegen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4173</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengde" type="double">
                  <annotation>
                     <documentation>4169: Angir lengde av vegobjektet, måles i oppmerkingens lengderetning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4169</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="double">
                  <annotation>
                     <documentation>4170: Angir arealet av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4170</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="tekst_Vegvisning" type="string">
                  <annotation>
                     <documentation>4174: Angir vegnummer eller stedsnavn som er tekster i vegbanen.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4174</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tekst, vegvisning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallViketrekanter" type="integer">
                  <annotation>
                     <documentation>4181: Angir hvor mange viketrekanter det er.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4181</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall viketrekanter</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallRomlelinjer" type="integer">
                  <annotation>
                     <documentation>4185: Angir hvor mange linjer som inngår i romlefelt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4185</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall romlelinjer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallGangfeltstaver" type="integer">
                  <annotation>
                     <documentation>4518: Angir hvor mange staver (striper) det er i et gangfelt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4518</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall gangfeltstaver</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="løpemeterSkravur" type="integer">
                  <annotation>
                     <documentation>12570: Angir total lengde av striper i skravur.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12570</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Løpemeter skravur</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="breddeLinjeISperreområdet">
                  <annotation>
                     <documentation>12571: Bredde på enkeltlinjene i sperreområdet. Denne egenskapstypen er bare aktuell for vegoppmerking av type 1014.2 - skrålinjer/vinkler/fyll.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12571</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde linje i sperreområdet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0"
                        name="farge"
                        type="nvdb:FargeVegoppmerking, tverrgåendeType">
                  <annotation>
                     <documentation>4168: Angir hovedfarge til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4168</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>5020: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5020</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>9395: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9395</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Vegoppmerking, tverrgåendePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Vegoppmerking, tverrgående"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
