GML/PS/OLFV_SVV/2.40/66.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>66: Konstruksjon som omslutter vegen for å beskytte den mot skred. Tak og vegg inn mot skråning er massive. Vegg ut fra skråning er åpen eller ev. tettet med lettere materiale. Se også utgått Håndbok 100.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Skredoverbygg"
            substitutionGroup="nvdb:AbstraktSkredoverbygg"
            type="nvdb:SkredoverbyggType">
      <annotation>
         <documentation>66: Konstruksjon som omslutter vegen for å beskytte den mot skred. Tak og vegg inn mot skråning er massive. Vegg ut fra skråning er åpen eller ev. tettet med lettere materiale. Se også utgått Håndbok 100.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">66</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skredoverbygg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SkredoverbyggType">
      <complexContent>
         <extension base="nvdb:AbstraktSkredoverbyggType">
            <sequence>
               <element name="navn" type="string">
                  <annotation>
                     <documentation>5282: Angir navn på skredoverbygget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5282</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeSkredoverbyggType">
                  <annotation>
                     <documentation>9508: Angir hvilken type skredoverbygg det er tale om.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9508</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="lengde" type="double">
                  <annotation>
                     <documentation>1316: Angir lengde av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1316</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10361: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10361</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4768: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4768</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SkredoverbyggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Skredoverbygg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeSkredoverbyggType">
      <annotation>
         <documentation>9508: Angir hvilken type skredoverbygg det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9508</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSkredoverbyggEnumerationType nvdb:TypeSkredoverbyggOtherType"/>
   </simpleType>
   <simpleType name="TypeSkredoverbyggEnumerationType">
      <annotation>
         <documentation>9508: Angir hvilken type skredoverbygg det er tale om.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9508</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="UF4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13402</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredbygg u/fjellforankring, rørtverrsnitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MF1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13405</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredoverbygg m/fjellforank., hel frontvegg, u/bakvegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13404</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredoverbygg m/fjellforankring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MF2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13406</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredoverbygg, m/fjellforank., hel frontvegg, m/bakvegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MF4">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13408</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredoverbygg, m/fjellforank., åpen frontvegg, m/bakvegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MF3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13407</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredoverbygg, m/fjellforank., åpen frontvegg, u/bakvegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="MF5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13409</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredoverbygg, m/fjellforankring, andre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UF1">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13399</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredoverbygg, u/fjellforank., sålefund., hel frontvegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UF2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13400</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredoverbygg, u/fjellforank., sålefund., åpen frontvegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UF">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13398</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredoverbygg, u/fjellforankring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UF5">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13403</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredoverbygg, u/fjellforankring, andre</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UF3">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13401</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skredoverbygg, u/fjellforankring, kassetverrsnitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSkredoverbyggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
