GML/PS/OLFV_SVV/2.40/72.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.40">
   <annotation>
      <documentation>72: Område/felt i tunnel eller bergskjæring i dagen som er sikra med nett, bolter etc.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="https://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Bergsikring"
            substitutionGroup="nvdb:AbstraktBergsikring"
            type="nvdb:BergsikringType">
      <annotation>
         <documentation>72: Område/felt i tunnel eller bergskjæring i dagen som er sikra med nett, bolter etc.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">72</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bergsikring</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BergsikringType">
      <complexContent>
         <extension base="nvdb:AbstraktBergsikringType">
            <sequence>
               <element name="type" type="nvdb:TypeBergsikringType">
                  <annotation>
                     <documentation>1133: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1133</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="areal" type="double">
                  <annotation>
                     <documentation>1368: Angir areal av sikringsfeltet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1368</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antallBolterAnkerStag" type="integer">
                  <annotation>
                     <documentation>1989: Angir hvor mange bolter, anker eller stag som er brukt i sikringsområde.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1989</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall bolter/anker/stag</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="lengde" type="integer">
                  <annotation>
                     <documentation>5296: Angir total lengde av sikringsfelt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5296</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lengde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="typeSprøytebetong">
                  <annotation>
                     <documentation>9166: Angir hvilken type sprøytebetong som er benyttet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9166</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type sprøytebetong</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeOverVeg" type="integer">
                  <annotation>
                     <documentation>9673: Angir største høyde til overkant av bergsikring.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9673</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde over veg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="plassering" type="nvdb:PlasseringBergsikringType">
                  <annotation>
                     <documentation>1651: Angir sikringsfeltets plassering.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1651</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="wiredimensjon" type="integer">
                  <annotation>
                     <documentation>9674: Angir dimensjon for sikringswire.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9674</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Wiredimensjon</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9167: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9167</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>8877: Gir flate/polygon som geometrisk avgrenser området.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8877</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BergsikringPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bergsikring"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="PlasseringBergsikringType">
      <annotation>
         <documentation>1651: Angir sikringsfeltets plassering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1651</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:PlasseringBergsikringEnumerationType nvdb:PlasseringBergsikringOtherType"/>
   </simpleType>
   <simpleType name="PlasseringBergsikringEnumerationType">
      <annotation>
         <documentation>1651: Angir sikringsfeltets plassering.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1651</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Plassering</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="dn">
            <annotation>
               <documentation>15878: Sikring er plassert i naturlig skråning i dagen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15878</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dagen, naturlig terreng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ds">
            <annotation>
               <documentation>15877: Sikring er plassert i skjæring i dagen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15877</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dagen, skjæring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hph">
            <annotation>
               <documentation>12999: Sikring plassert halve profil høyre side.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12999</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel, halve profil høyre side</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hpvs">
            <annotation>
               <documentation>13000: Sikring plassert halve profil venstre side.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13000</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel, Halve profil venstre side</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <documentation>3295: Sikring plassert i hele profilet i tunnelløpet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3295</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel, hele profilet</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="he">
            <annotation>
               <documentation>3299: Sikring plassert i heng i tunnelløp.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3299</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel, heng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="h">
            <annotation>
               <documentation>3297: Sikring plassert i heng og vegger i tunnelløp.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3297</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel, heng og vegger</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hv">
            <annotation>
               <documentation>3308: Sikring plassert på høyre vegg (i forhold til vegens metreringsretning) i tunnelløp.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3308</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel, høyre vegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hh">
            <annotation>
               <documentation>3314: Sikring plassert på høyre vegg (i forhold til vegens metreringsretning) og heng i tunnelløp.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3314</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel, høyre vegg og heng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <documentation>3303: Sikring plassert i såle i tunnelløp.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3303</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel, såle</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vv">
            <annotation>
               <documentation>3305: Sikring plassert på venstre vegg (i forhold til vegens metreringsretning) i tunnelløp.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3305</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel, venstre vegg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="vh">
            <annotation>
               <documentation>3316: Sikring plassert på venstre vegg (i forhold til vegens metreringsretning) og heng i tunnelløp.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3316</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tunnel, venstre vegg og heng</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="PlasseringBergsikringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeBergsikringType">
      <annotation>
         <documentation>1133: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1133</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeBergsikringEnumerationType nvdb:TypeBergsikringOtherType"/>
   </simpleType>
   <simpleType name="TypeBergsikringEnumerationType">
      <annotation>
         <documentation>1133: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1133</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="A">
            <annotation>
               <documentation>15879: Anker benyttes der bolter o stag ikke har tilstrekkelig styrke, vanligvis i bergskjæringer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15879</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Anker</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bb">
            <annotation>
               <documentation>12995: Indikerer at det ikke er spesifikke sikringstiltak, men at berg renskes og kontrolleres slik at krav til sikkerhet ivaretas.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12995</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bart berg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3290</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bolter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fb">
            <annotation>
               <documentation>3289: Holder på plass ustabile blokker i bergskjæring.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3289</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fjellbånd</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3291</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NU">
            <annotation>
               <documentation>13212: Stålnett som boltes fast på selve fjellskjæringa. Skal "binde" is og dermed avverga at isen faller ned på vegen. Benyttes normalt i fjellskjæringer og ikke i tunneler.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13212</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nett, isnett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Nett, steinsprangnett">
            <annotation>
               <documentation>13211: Stålnett som legges over områder med oppsprukket fjell, ur eller løsmasser for å hindre nedfall/ras. Boltes fast til fjellet. Benyttes normalt i fjellskjæringer og ikke i tunneler.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13211</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nett, steinsprangnett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NU">
            <annotation>
               <documentation>13210: Kraftig stålnett som legges over områder med oppsprukket fjell, ur eller løsmasser for å hindre nedfall/ras. Boltes fast til fjellet. Benyttes normalt i fjellskjæringer og ikke i tunneler.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13210</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nett, wirenett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <documentation>12250: Sprøytebetong benyttet i forbindelse med bergsikring i tunnel og bergskjæring, og til stabilisering av ustabile tørrmurer og lignende.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12250</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprøytebetong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sd">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12252</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprøytebetongbuer, dobbel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12251</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sprøytebetongbuer, enkel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Selvborende stag">
            <annotation>
               <documentation>22300: Benyttes i løsmasser og berg der vanlige bolter ikke har tilstrekkelig funksjon.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22300</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Selvborende stag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeBergsikringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeSprøytebetongBergsikringType">
      <annotation>
         <documentation>9166: Angir hvilken type sprøytebetong som er benyttet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9166</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type sprøytebetong</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeSprøytebetongBergsikringEnumerationType nvdb:TypeSprøytebetongBergsikringOtherType"/>
   </simpleType>
   <simpleType name="TypeSprøytebetongBergsikringEnumerationType">
      <annotation>
         <documentation>9166: Angir hvilken type sprøytebetong som er benyttet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9166</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type sprøytebetong</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="an">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12256</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Med armeringsnett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="PP">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12254</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Med PP-fiber</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12255</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Med stålfiber</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="u">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12253</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uarmert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeSprøytebetongBergsikringOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
