GML/PS/OLFV_SVV/2.36/226.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>226: Det øverste lag i vegfundamentet. Deles ofte i nedre og øvre (1).</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Bærelag"
            substitutionGroup="nvdb:AbstraktBærelag"
            type="nvdb:BærelagType">
      <annotation>
         <documentation>226: Det øverste lag i vegfundamentet. Deles ofte i nedre og øvre (1).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">226</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bærelag</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="BærelagType">
      <complexContent>
         <extension base="nvdb:AbstraktBærelagType">
            <sequence>
               <element minOccurs="0" name="lagtype" type="nvdb:LagtypeBærelagType">
                  <annotation>
                     <documentation>8742: Angir om det er tale om øvre eller nedre bærelag.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8742</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Lagtype</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="type" type="nvdb:TypeBærelagType">
                  <annotation>
                     <documentation>1211: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1211</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="øvreNominelleSteinstørrelse">
                  <annotation>
                     <documentation>5531: Angir øvre nominell steinstørrelse for bærelagsmaterialet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5531</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="nedreNominelleSteinstørrelse">
                  <annotation>
                     <documentation>11305: Angir nedre nominell steinstørrelse for bærelagsmaterialet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11305</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Nedre nominelle steinstørrelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="tykkelse" type="integer">
                  <annotation>
                     <documentation>1630: Angir tykkelse.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1630</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Tykkelse</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="bredde_Gjennomsnitt" type="double">
                  <annotation>
                     <documentation>5143: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5143</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bredde, gjennomsnitt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="leggedato" type="date">
                  <annotation>
                     <documentation>5142: .</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5142</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Leggedato</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4860: Linje/kurve er manus for å etablere vegobjektets stedfesting på vegnettet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4860</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, hjelpelinje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="BærelagPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Bærelag"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="LagtypeBærelagType">
      <annotation>
         <documentation>8742: Angir om det er tale om øvre eller nedre bærelag.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8742</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lagtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:LagtypeBærelagEnumerationType nvdb:LagtypeBærelagOtherType"/>
   </simpleType>
   <simpleType name="LagtypeBærelagEnumerationType">
      <annotation>
         <documentation>8742: Angir om det er tale om øvre eller nedre bærelag.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8742</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lagtype</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="NB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11572</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nedre bærelag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ØB">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11571</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Øvre bærelag</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="LagtypeBærelagOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="NedreNominelleSteinstørrelseBærelagType">
      <annotation>
         <documentation>11305: Angir nedre nominell steinstørrelse for bærelagsmaterialet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11305</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedre nominelle steinstørrelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:NedreNominelleSteinstørrelseBærelagEnumerationType nvdb:NedreNominelleSteinstørrelseBærelagOtherType"/>
   </simpleType>
   <simpleType name="NedreNominelleSteinstørrelseBærelagEnumerationType">
      <annotation>
         <documentation>11305: Angir nedre nominell steinstørrelse for bærelagsmaterialet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">11305</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nedre nominelle steinstørrelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="0">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19077</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">0</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="16">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19078</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">16</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19079</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">22</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="NedreNominelleSteinstørrelseBærelagOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeBærelagType">
      <annotation>
         <documentation>1211: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1211</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeBærelagEnumerationType nvdb:TypeBærelagOtherType"/>
   </simpleType>
   <simpleType name="TypeBærelagEnumerationType">
      <annotation>
         <documentation>1211: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1211</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="Ag">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3667</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltert grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ap">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3668</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfaltert pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bag">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19074</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bitumenanriket grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3666</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bitumenstabiliserte materialer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Bg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3671</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bitumesnstabilisert grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Dypfrest, bitumenstabilisert">
            <annotation>
               <documentation>19022: Resultat av dypfresing av dekke/bærelag. Blandede masser stabilisert med bitumen.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19022</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dypfrest, bitumenstabilisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="dl">
            <annotation>
               <documentation>19019: Resultat av dypfresing av dekke/bærelag. Blandede masser stabilisert med lignin.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19019</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dypfrest, ligninstabilisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Dypfrest, mekanisk stabilisert">
            <annotation>
               <documentation>19018: Resultat av dypfresing av dekke/bærelag. Blandede masser mekanisk stabilisert.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19018</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dypfrest, mekanisk stabilisert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Eg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19075</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjonsgrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ep">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19076</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Emulsjonspukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fp">
            <annotation>
               <documentation>3665: Mest aktuelle sorteringer: 16/56, 22/63, 22/90.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3665</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Forkilt pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Gjb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6962</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gjenbruksbetong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Ak">
            <annotation>
               <documentation>16134: Benyttes ikke om dypfresing. Forutsetter at masser er tilført utenfra.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">16134</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knust asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Fk">
            <annotation>
               <documentation>6961: Knuste steinmaterialer. Mest aktuelle sorteringer: 0/32, 0/45, 0/63.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6961</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knust berg</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Gk">
            <annotation>
               <documentation>6960: Mest aktuelle sorteringer: 0/22, 0/32, 0/45, 0/63.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6960</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Knust grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ls">
            <annotation>
               <documentation>19020: Grus-/Steinmaterialer stabilisert med lignin.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19020</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ligninstabilisert materiale</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Msm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3660</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mekanisk stabiliserte materialer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Pp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3669</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Penetrert pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Cg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3676</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sementstabilisert grus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Cp">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3675</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sementstabilisert pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="C">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3674</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sementstabiliserte materialer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sg">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">6957</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skumgrus</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeBærelagOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="ØvreNominelleSteinstørrelseBærelagType">
      <annotation>
         <documentation>5531: Angir øvre nominell steinstørrelse for bærelagsmaterialet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5531</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ØvreNominelleSteinstørrelseBærelagEnumerationType nvdb:ØvreNominelleSteinstørrelseBærelagOtherType"/>
   </simpleType>
   <simpleType name="ØvreNominelleSteinstørrelseBærelagEnumerationType">
      <annotation>
         <documentation>5531: Angir øvre nominell steinstørrelse for bærelagsmaterialet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5531</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Øvre nominelle steinstørrelse</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="11">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7849</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">11</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="16">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7850</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">16</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="19">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7851</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">19</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7852</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">22</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="32">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7855</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">32</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="63">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7859</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">63</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="90">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7861</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">90</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ØvreNominelleSteinstørrelseBærelagOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
