GML/PS/OLFV_SVV/2.36/243.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>243: Ett eller flere rom i en bygning med ett eller flere klosett/toalettskåler/pissoarer.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AvløpTilToalettanleggType">
      <annotation>
         <documentation>3987: Angir hvor avløpet føres. (Ikke aktuelt for tørrklosett).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3987</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avløp til</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AvløpTilToalettanleggEnumerationType nvdb:AvløpTilToalettanleggOtherType"/>
   </simpleType>
   <simpleType name="AvløpTilToalettanleggEnumerationType">
      <annotation>
         <documentation>3987: Angir hvor avløpet føres. (Ikke aktuelt for tørrklosett).</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3987</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avløp til</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4997</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Lukket tank</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="o">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4996</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Offentlig nett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8191</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat nett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AvløpTilToalettanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Toalettanlegg"
            substitutionGroup="nvdb:AbstraktToalettanlegg"
            type="nvdb:ToalettanleggType">
      <annotation>
         <documentation>243: Ett eller flere rom i en bygning med ett eller flere klosett/toalettskåler/pissoarer.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">243</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Toalettanlegg</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="ToalettanleggType">
      <complexContent>
         <extension base="nvdb:AbstraktToalettanleggType">
            <sequence>
               <element name="type" type="nvdb:TypeToalettanleggType">
                  <annotation>
                     <documentation>1217: Angir hvilken type toalett det er i toalettanlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1217</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="antallKlosett" type="integer">
                  <annotation>
                     <documentation>2217: Angir hvor mange klosett/toalettskåler/pissoarer det er til sammen på toalettanlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2217</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall klosett</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="universeltUtformet">
                  <annotation>
                     <documentation>2083: Angir om det finnes universelt utformet toalett på toalettanlegget.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2083</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Universelt utformet</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="avløpTil">
                  <annotation>
                     <documentation>3987: Angir hvor avløpet føres. (Ikke aktuelt for tørrklosett).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3987</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Avløp til</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10375: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10375</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4868: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4868</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ToalettanleggPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Toalettanlegg"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeToalettanleggType">
      <annotation>
         <documentation>1217: Angir hvilken type toalett det er i toalettanlegget.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1217</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeToalettanleggEnumerationType nvdb:TypeToalettanleggOtherType"/>
   </simpleType>
   <simpleType name="TypeToalettanleggEnumerationType">
      <annotation>
         <documentation>1217: Angir hvilken type toalett det er i toalettanlegget.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1217</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="t">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3820</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tørrklosett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="wc">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3819</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vannklosett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeToalettanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UniverseltUtformetToalettanleggType">
      <annotation>
         <documentation>2083: Angir om det finnes universelt utformet toalett på toalettanlegget.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2083</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Universelt utformet</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UniverseltUtformetToalettanleggEnumerationType nvdb:UniverseltUtformetToalettanleggOtherType"/>
   </simpleType>
   <simpleType name="UniverseltUtformetToalettanleggEnumerationType">
      <annotation>
         <documentation>2083: Angir om det finnes universelt utformet toalett på toalettanlegget.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2083</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Universelt utformet</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="j">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3544</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="n">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3582</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UniverseltUtformetToalettanleggOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
