GML/PS/OLFV_SVV/2.36/470.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>470: Ledning eller system av ledninger som en bruker til å sende ut eller ta imot elektromagnetiske bølger med (5). I tilknytning til vegtrafikk benyttes f.eks. radio- og mobiltelefonantenner i tunneler.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <element name="Antenne"
            substitutionGroup="nvdb:AbstraktAntenne"
            type="nvdb:AntenneType">
      <annotation>
         <documentation>470: Ledning eller system av ledninger som en bruker til å sende ut eller ta imot elektromagnetiske bølger med (5). I tilknytning til vegtrafikk benyttes f.eks. radio- og mobiltelefonantenner i tunneler.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">470</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Antenne</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="AntenneType">
      <complexContent>
         <extension base="nvdb:AbstraktAntenneType">
            <sequence>
               <element name="type" type="nvdb:TypeAntenneType">
                  <annotation>
                     <documentation>3779: Angir type.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3779</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høyde" type="double">
                  <annotation>
                     <documentation>3874: Angir vegobjektets innfestingshøyde over bakken.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3874</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>4072: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4072</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>11446: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11446</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierAntenneType">
                  <annotation>
                     <documentation>3518: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">3518</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>4987: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4987</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="AntennePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Antenne"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="EierAntenneType">
      <annotation>
         <documentation>3518: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3518</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierAntenneEnumerationType nvdb:EierAntenneOtherType"/>
   </simpleType>
   <simpleType name="EierAntenneEnumerationType">
      <annotation>
         <documentation>3518: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3518</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19731</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="IC">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19784</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat, Ice</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TN">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4815</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat, Telenor</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="TL">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19785</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat, Telia</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18584</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4816</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17593: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17593</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierAntenneOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="TypeAntenneType">
      <annotation>
         <documentation>3779: Angir type.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3779</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeAntenneEnumerationType nvdb:TypeAntenneOtherType"/>
   </simpleType>
   <simpleType name="TypeAntenneEnumerationType">
      <annotation>
         <documentation>3779: Angir type.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">3779</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4821</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Mobiltelefon</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="r">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4822</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Radio</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4823</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Strålekabel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeAntenneOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
