GML/PS/OLFV_SVV/2.36/49.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>49: Område som er begrenset av kjørefelt på alle sider og som normalt ikke skal benyttes av kjøretøy. Trafikkøy kan være en forhøyning avgrenset med kantstein, eller malt på vegen.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BelegningTrafikkøyType">
      <annotation>
         <documentation>2127: Angir hva vegobjektet er belagt med.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2127</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BelegningTrafikkøyEnumerationType nvdb:BelegningTrafikkøyOtherType"/>
   </simpleType>
   <simpleType name="BelegningTrafikkøyEnumerationType">
      <annotation>
         <documentation>2127: Angir hva vegobjektet er belagt med.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2127</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="a">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">2347</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Asfalt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">4053</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5547</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, farget</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bm">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5548</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, mønstret</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="b2">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5549</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betong, mønstret og farget</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5550</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongheller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="bs">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">7934</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Betongstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gn">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11235</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Granitt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3917</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grønt/beplantning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="p">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5555</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Pukk</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11234</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Skiferheller</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="s">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3277</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5554</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein, brostein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sf">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5552</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein, faststøpt i betong</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sr">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">5553</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stein, rundstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BelegningTrafikkøyOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Trafikkøy"
            substitutionGroup="nvdb:AbstraktTrafikkøy"
            type="nvdb:TrafikkøyType">
      <annotation>
         <documentation>49: Område som er begrenset av kjørefelt på alle sider og som normalt ikke skal benyttes av kjøretøy. Trafikkøy kan være en forhøyning avgrenset med kantstein, eller malt på vegen.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">49</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trafikkøy</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="TrafikkøyType">
      <complexContent>
         <extension base="nvdb:AbstraktTrafikkøyType">
            <sequence>
               <element name="type" type="nvdb:TypeTrafikkøyType">
                  <annotation>
                     <documentation>1119: Angir hvilken type vegobjektet er av.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1119</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="utforming" type="nvdb:UtformingTrafikkøyType">
                  <annotation>
                     <documentation>2024: Utforming av vegobjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2024</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="belegning" type="nvdb:BelegningTrafikkøyType">
                  <annotation>
                     <documentation>2127: Angir hva vegobjektet er belagt med.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2127</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Belegning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="areal" type="double">
                  <annotation>
                     <documentation>1363: Angir totalt areal av vegobjektet. For fysiske øyer skal arealet regnes til ytterkant kantstein. Ev. overkjørbart areal skal medregnes. For malte øyer skal arealet regnes til ytterkant maling.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1363</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="areal_Overkjørbart" type="double">
                  <annotation>
                     <documentation>8786: Angir areal av den delen av trafikkøyen som er overkjørbar. Dette arealet er tiltenkt framkommelighet for store kjøretøy ev. spesialkjøretøy.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8786</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Areal, overkjørbart</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10381: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10381</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
                  <annotation>
                     <documentation>10716: Gir flate/Polygon som geometrisk avgrenser ytterkant av vegobjekt.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10716</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TrafikkøyPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Trafikkøy"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeTrafikkøyType">
      <annotation>
         <documentation>1119: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1119</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeTrafikkøyEnumerationType nvdb:TypeTrafikkøyOtherType"/>
   </simpleType>
   <simpleType name="TypeTrafikkøyEnumerationType">
      <annotation>
         <documentation>1119: Angir hvilken type vegobjektet er av.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1119</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="dtmv">
            <annotation>
               <documentation>3208: Trafikkøy som benyttes i primærveg, i T- og X-kryss, for å skille motgående trafikkstrømmer. Trafikkøyen har tilliggende venstresvingefelt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3208</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delende trafikkøy med venstresvingefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="dtuv">
            <annotation>
               <documentation>3207: Trafikkøy som normalt benyttes i primærveg, hovedsakelig i T-kryss, for å skille motgående trafikkstrømmer. Trafikkøyen har ikke tilliggende venstresvingefelt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3207</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Delende trafikkøy uten venstresvingefelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="d">
            <annotation>
               <documentation>3209: Trafikkøy som kan benyttes i sekundærveg i T- og X-kryss for å skille motgående trafikkstrømmer.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3209</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Dråpeøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="pdr">
            <annotation>
               <documentation>11632: Trafikkøy i arm av rundkjøring. Benyttes for å adskille motgående trafikkstrømmer samt lede trafikk som kjører inn i rundkjøring. Trafikkøyen har tilnærmet jevn bredde.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11632</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Parallelldeleøy, rundkjøring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sr">
            <annotation>
               <documentation>3212: Trafikkøy i senter av rundkjøring. Inkluderer også eventuelt overkjørbart areal.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3212</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Sentraløy, rundkjøring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tf">
            <annotation>
               <documentation>12976: Trafikkøy mellom filterfelt og kryss.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">12976</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkøy v filterfelt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="fo">
            <annotation>
               <documentation>3213: Trafikkøy i forbindelse med fotgjengerfelt. Ligger mellom to kjørefelt. Gir mulighet for fotgjengere å krysse vegen i to etapper.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3213</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkøy v fotgjengerovergang</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sp">
            <annotation>
               <documentation>3214: Trafikkøy i tilknytning til snuplass. Benyttes først og fremst i senter av sirkulære snuplasser.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3214</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trafikkøy v snuplass</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="tdo">
            <annotation>
               <documentation>3211: Trafikkøy i arm av rundkjøring. Benyttes for å adskille motgående trafikkstrømmer samt lede trafikk som kjører inn i rundkjøring. Trafikkøyen har en tilnærmet trekanta utforming.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3211</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trekantdeleøy, rundkjøring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="t">
            <annotation>
               <documentation>3210: Trafikkøy som benyttes i forbindelse med høyresving i T- og X-kryss. Kan benyttes både ved sving fra primærveg til sekundærveg og motsatt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3210</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trekantøy</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ltp">
            <annotation>
               <documentation>11633: Trafikkøy i arm av rundkjøring. Benyttes for å adskille motgående trafikkstrømmer samt lede trafikk som kjører inn i rundkjøring. Trafikkøyen har en utforming som minner om enden på en trompet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11633</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trompetdeleøy, rundkjøring</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeTrafikkøyOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="UtformingTrafikkøyType">
      <annotation>
         <documentation>2024: Utforming av vegobjekt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2024</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:UtformingTrafikkøyEnumerationType nvdb:UtformingTrafikkøyOtherType"/>
   </simpleType>
   <simpleType name="UtformingTrafikkøyEnumerationType">
      <annotation>
         <documentation>2024: Utforming av vegobjekt.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2024</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Utforming</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="k">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3224</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fysisk m kantstein</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="m">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3220</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Malt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="UtformingTrafikkøyOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
