GML/PS/OLFV_SVV/2.36/542.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>542: En energiabsorberende sikkerhetskonstruksjon som over kort avstand skal bremse et kjøretøy ved frontkollisjon eller sidekollisjon, eller lede det forbi faremomentet. Kilde: Rekkverksnormal.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="ProduktnavnTypegodkjenningStøtputeType">
      <annotation>
         <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent av Statens vegvesen. Se https://www.vegvesen.no/fag/teknologi/vegutstyr/</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8395</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produktnavn/typegodkjenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:ProduktnavnTypegodkjenningStøtputeEnumerationType nvdb:ProduktnavnTypegodkjenningStøtputeOtherType"/>
   </simpleType>
   <simpleType name="ProduktnavnTypegodkjenningStøtputeEnumerationType">
      <annotation>
         <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent av Statens vegvesen. Se https://www.vegvesen.no/fag/teknologi/vegutstyr/</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">8395</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Produktnavn/typegodkjenning</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="50">
            <annotation>
               <documentation>20336: Produktnavn: APM 100. Typegodkjenning: S 100 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/apm-100-z1-d2/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20336</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">APM 100 - S100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <documentation>20337: Produktnavn: APM 110. Typegodkjenning: S 110 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/apm-110-z1-d2/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20337</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">APM 110 - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <documentation>20338: Produktnavn: APM 50. Typegodkjenning: S 50 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/apm-50-z1-d1/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20338</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">APM 50 - S50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <documentation>20339: Produktnavn: APM 80. Typegodkjenning: S 80 Z1 D2. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/apm-80-z1-d2/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20339</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">APM 80 - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="BU">
            <annotation>
               <documentation>11331: Produktnavn "Brakemaster". Typegodkjenning ikke angitt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11331</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Brakemaster - uspes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <documentation>20340: Styrkeklasse: 80. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/crashguard-3s/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20340</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">CrashGuard 3S S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <documentation>20341: Styrkeklasse 110. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/crashguard-6s/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">20341</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">CrashGuard 6S S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E110">
            <annotation>
               <documentation>21936: Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/ermes-110/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21936</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ermes S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="E80">
            <annotation>
               <documentation>21935: Produktnavn: Ermes S80. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/ermes-80/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21935</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Ermes S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="4">
            <annotation>
               <documentation>17335: Produktnavn: EuroTRACC 80 Wide. Typegodkjenning: S 80 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/eurotracc-80-wide-shortracc/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17335</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">EuroTRACC 80 Wide - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="1">
            <annotation>
               <documentation>17336: Produktnavn: EuroTRACC S110. Typegodkjenning: S 110 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/eurotracc-110-widewide-eurotracc/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17336</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">EuroTRACC S110 - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="3">
            <annotation>
               <documentation>17337: Produktnavn: EuroTRACC S110 Wide. Typegodkjenning: S 110 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/eurotracc-110-widewide-eurotracc/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17337</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">EuroTRACC S110 Wide - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="2">
            <annotation>
               <documentation>17338: Produktnavn: EuroTRACC S80. Typegodkjenning: S 80 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/eurotracc-80-wideshortracc/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17338</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">EuroTRACC S80 - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="QU">
            <annotation>
               <documentation>11332: Produktnavn: QuadGuard. Typegodkjenning: Ikke angitt.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">11332</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">QuadGuard - uspes</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="7">
            <annotation>
               <documentation>17342: Produktnavn: QuadGuard CEN. Typegodkjenning: S 100 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/quadguard-s100/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17342</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">QuadGuard CEN - S100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="6">
            <annotation>
               <documentation>17339: Produktnavn: QuadGuard CEN. Typegodkjenning: S 110 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/quadguard-s110/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17339</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">QuadGuard CEN - S110 </sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="9">
            <annotation>
               <documentation>17341: Produktnavn: QuadGuard CEN. Typegodkjenning: S 50 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/quadguard-s50/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17341</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">QuadGuard CEN - S50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="8">
            <annotation>
               <documentation>17340: Produktnavn: QuadGuard CEN. Typegodkjenning: S 80 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/quadguard-s80/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17340</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">QuadGuard CEN - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="16">
            <annotation>
               <documentation>17344: Produktnavn: Quest CEN. Typegodkjenning: S 100 Z1 D2. Mer informasjon: Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511525&amp;method=alle&amp;produkttype=12624.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17344</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Quest CEN - S100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="15">
            <annotation>
               <documentation>17345: Produktnavn: Quest CEN. Typegodkjenning: S 110 Z1 D2. Mer informasjon: Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511535&amp;method=alle&amp;produkttype=12624.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17345</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Quest CEN - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="17">
            <annotation>
               <documentation>17343: Produktnavn: Quest CEN. Typegodkjenning: S 80 Z1 D2. Mer informasjon: Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511523&amp;method=alle&amp;produkttype=12624.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17343</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Quest CEN - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="21">
            <annotation>
               <documentation>17346: Produktnavn: SMA 100. Typegodkjenning: S 100 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/sma-100/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17346</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SMA 100 - S100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="20">
            <annotation>
               <documentation>17347: Produktnavn: SMA 110. Typegodkjenning: S 110 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/sma-110/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17347</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SMA 110 - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="24">
            <annotation>
               <documentation>17348: Produktnavn: SMA 50. Typegodkjenning: S 50 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/sma-50/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17348</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SMA 50 - S50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="22">
            <annotation>
               <documentation>17349: Produktnavn: SMA 80. Typegodkjenning: S 80 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/sma-80/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17349</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SMA 80 - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="23">
            <annotation>
               <documentation>17350: Produktnavn: SMA 80/1. Typegodkjenning: S 80/1 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/sma-80-1-at-og-wide/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17350</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">SMA 80/1 - S80/1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="31">
            <annotation>
               <documentation>17351: Produktnavn: TAU 100. Typegodkjenning: S 100 Z2 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/tau-100-s100/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17351</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU 100 - S100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="33">
            <annotation>
               <documentation>17352: Produktnavn: TAU 60. Typegodkjenning: S 50 Z2 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/tau-60-s50/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17352</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU 60 - S50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="32">
            <annotation>
               <documentation>17353: Produktnavn: TAU 80. Typegodkjenning: S 80 Z2 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/tau-80-s80/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17353</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU 80 - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="30">
            <annotation>
               <documentation>17354: Produktnavn: TAU B. Typegodkjenning: S 110 Z2 D1. Mer informasjon: Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511202&amp;method=alle&amp;produkttype=12624.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17354</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU B - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="41">
            <annotation>
               <documentation>17355: Produktnavn: TAU TUBE P100. Typegodkjenning: S 100 Z2 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/tau-tube-p100-snoline/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17355</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU TUBE P100 - S100</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="40">
            <annotation>
               <documentation>17356: Produktnavn: TAU TUBE P110. Typegodkjenning: S 110 Z2 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/tau-tube-p110-snoline/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17356</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU TUBE P110 - S110</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="43">
            <annotation>
               <documentation>17357: Produktnavn: TAU TUBE P50. Typegodkjenning: S 50 Z1 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/tau-tube-p50-snoline/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17357</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU TUBE P50 - S50</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="42">
            <annotation>
               <documentation>17358: Produktnavn: TAU TUBE P80. Typegodkjenning: S 80 Z2 D1. Mer informasjon: https://www.vegvesen.no/fag/teknologi/vegutstyr/stotputer/tau-tube-p80-snoline/</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17358</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">TAU TUBE P80 - S80</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="50">
            <annotation>
               <documentation>17359: Produktnavn: WALT. Typegodkjenning: S 80/1 Z1 D3. Mer informasjon: Finnes ikke lenger i database med vegutstyr, tidligere referanse: http://www.vegvesen.no/Fag/Teknologi/Rekkverk+og+master/Sok+etter+godkjent+produkt/Vegutstyr?key=511217&amp;method=alle&amp;produkttype=12624.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17359</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">WALT - S80/1</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="ProduktnavnTypegodkjenningStøtputeOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Støtpute"
            substitutionGroup="nvdb:AbstraktStøtpute"
            type="nvdb:StøtputeType">
      <annotation>
         <documentation>542: En energiabsorberende sikkerhetskonstruksjon som over kort avstand skal bremse et kjøretøy ved frontkollisjon eller sidekollisjon, eller lede det forbi faremomentet. Kilde: Rekkverksnormal.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">542</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støtpute</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="StøtputeType">
      <complexContent>
         <extension base="nvdb:AbstraktStøtputeType">
            <sequence>
               <element name="produktnavnTypegodkjenning">
                  <annotation>
                     <documentation>8395: Refererer til produktnavn og typegodkjenning (samsvarsgodkjenning) for støtputer godkjent av Statens vegvesen. Se https://www.vegvesen.no/fag/teknologi/vegutstyr/</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">8395</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn/typegodkjenning</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>10367: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">10367</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="posisjon" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>5040: Gir punkt som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5040</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="StøtputePropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Støtpute"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>
