GML/PS/OLFV_SVV/2.36/850.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>850: Konstruksjon i fjellsiden som holder snø på plass så snøskred ikke løsner.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="AdkomstStøtteforbygning, snøType">
      <annotation>
         <documentation>9658: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9658</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:AdkomstStøtteforbygning, snøEnumerationType nvdb:AdkomstStøtteforbygning, snøOtherType"/>
   </simpleType>
   <simpleType name="AdkomstStøtteforbygning, snøEnumerationType">
      <annotation>
         <documentation>9658: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9658</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="hj">
            <annotation>
               <documentation>19826: Adkomst er mulig med bil.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">19826</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Bil</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gr">
            <annotation>
               <documentation>13910: Adkomst for gravemaskin.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13910</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Gravemaskin</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="he">
            <annotation>
               <documentation>13914: Adkomst for helikopter.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13914</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Helikopter</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="hj">
            <annotation>
               <documentation>13909: Adkomst er mulig med hjullaster.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13909</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Hjullaster</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kr">
            <annotation>
               <documentation>13912: Adkomst for kran.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13912</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kran</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ta">
            <annotation>
               <documentation>13913: Adkomst med tau.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13913</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Tau</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ft">
            <annotation>
               <documentation>13911: Adkomst til fots.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13911</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Til fots</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="AdkomstStøtteforbygning, snøOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Støtteforbygning, snø"
            substitutionGroup="nvdb:AbstraktStøtteforbygning_Snø"
            type="nvdb:Støtteforbygning, snøType">
      <annotation>
         <documentation>850: Konstruksjon i fjellsiden som holder snø på plass så snøskred ikke løsner.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">850</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Støtteforbygning, snø</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="Støtteforbygning, snøType">
      <complexContent>
         <extension base="nvdb:AbstraktStøtteforbygning_SnøType">
            <sequence>
               <element name="type" type="nvdb:TypeStøtteforbygning, snøType">
                  <annotation>
                     <documentation>9653: Angir type forbygning.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9653</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="høydeSikringselement" type="double">
                  <annotation>
                     <documentation>9657: Angir gjennomsnittlig høyde for forbygningene.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9657</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Høyde sikringselement</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="adkomst" type="nvdb:AdkomstStøtteforbygning, snøType">
                  <annotation>
                     <documentation>9658: Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9658</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Adkomst</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>9659: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9659</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Støtteforbygning, snøPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Støtteforbygning, snø"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="TypeStøtteforbygning, snøType">
      <annotation>
         <documentation>9653: Angir type forbygning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9653</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:TypeStøtteforbygning, snøEnumerationType nvdb:TypeStøtteforbygning, snøOtherType"/>
   </simpleType>
   <simpleType name="TypeStøtteforbygning, snøEnumerationType">
      <annotation>
         <documentation>9653: Angir type forbygning.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">9653</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="sapa">
            <annotation>
               <documentation>13907: Paraplyforebygning montert i et system for å holde snø på plass i løsneområdet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13907</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Paraplyforbygning</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="st">
            <annotation>
               <documentation>13908: Horisontale innretninger for å holde snø på plass i løsneområdet.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13908</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stive stålbroer</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="Sn">
            <annotation>
               <documentation>22260: Innretning av nett med stolper og barduner satt opp for å holde snø på plass i løsneområde.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">22260</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Snønett</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="TypeStøtteforbygning, snøOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
