GML/PS/OLFV_SVV/2.36/92.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo"
        elementFormDefault="qualified"
        targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML"
        version="2.36">
   <annotation>
      <documentation>92: Elektrisk eller optisk leder.</documentation>
   </annotation>
   <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo"
           schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
   <import namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
   <simpleType name="BruksområdeKabelType">
      <annotation>
         <documentation>1274: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1274</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:BruksområdeKabelEnumerationType nvdb:BruksområdeKabelOtherType"/>
   </simpleType>
   <simpleType name="BruksområdeKabelEnumerationType">
      <annotation>
         <documentation>1274: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">1274</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="ekfi">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15950</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">eKom, fiber</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ekcu">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3021</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">eKom, kobber</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="eh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3024</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Elkraft, høyspent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="el">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3023</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Elkraft, lavspent</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="jl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3026</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Jordleder</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sk">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3022</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Signalkabel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">13037</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Varmekabel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="BruksområdeKabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="EierKabelType">
      <annotation>
         <documentation>5811: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5811</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:EierKabelEnumerationType nvdb:EierKabelOtherType"/>
   </simpleType>
   <simpleType name="EierKabelEnumerationType">
      <annotation>
         <documentation>5811: Angir hvem som er eier av vegobjektet.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">5811</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="FK">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">10698</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8232</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8258</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="NV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">18588</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="SVV">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">8206</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="U">
            <annotation>
               <documentation>17561: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">17561</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="EierKabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <simpleType name="FramføringsvegKabelType">
      <annotation>
         <documentation>2023: Angir framføringsveg for kabel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2023</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Framføringsveg</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:FramføringsvegKabelEnumerationType nvdb:FramføringsvegKabelOtherType"/>
   </simpleType>
   <simpleType name="FramføringsvegKabelEnumerationType">
      <annotation>
         <documentation>2023: Angir framføringsveg for kabel.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">2023</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Framføringsveg</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="bh">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14039</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Borehull</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gi">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3774</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Grøft</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3775</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kabelbro/stige</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kb">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14041</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kabelbunt</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ku">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14040</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Kulvert</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="ls">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3773</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Luftspenn</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="sl">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">14042</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Slisse</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="gt">
            <annotation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">3772</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Trekkrør/kanal</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="kb">
            <annotation>
               <documentation>15883: Kabel er lagt i vann/sjø.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">15883</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vann</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="FramføringsvegKabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
   <element name="Kabel"
            substitutionGroup="nvdb:AbstraktKabel"
            type="nvdb:KabelType">
      <annotation>
         <documentation>92: Elektrisk eller optisk leder.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">92</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kabel</sc:taggedValue>
         </appinfo>
      </annotation>
   </element>
   <complexType name="KabelType">
      <complexContent>
         <extension base="nvdb:AbstraktKabelType">
            <sequence>
               <element name="bruksområde" type="nvdb:BruksområdeKabelType">
                  <annotation>
                     <documentation>1274: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1274</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="elnummer" type="string">
                  <annotation>
                     <documentation>11802: Angir Elnummer for kabel. For oppslag/søk på elnummer se EFO-basen (https://efobasen.efo.no/).</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">11802</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Elnummer</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="antall" type="integer">
                  <annotation>
                     <documentation>2202: Vegobjektet kan representere flere objekt av samme type. Det angis her hvor mange objekt dette objektet representerer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2202</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Antall</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="produktnavn" type="string">
                  <annotation>
                     <documentation>9759: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9759</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="spesiellStatus">
                  <annotation>
                     <documentation>12619: Angir at kabelen har en annen status enn å være i daglig drift.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">12619</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Spesiell status</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="farge" type="string">
                  <annotation>
                     <documentation>1293: Angir hovedfarge til vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">1293</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Farge</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="framføringsveg" type="nvdb:FramføringsvegKabelType">
                  <annotation>
                     <documentation>2023: Angir framføringsveg for kabel.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">2023</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Framføringsveg</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="etableringsår" type="integer">
                  <annotation>
                     <documentation>4076: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4076</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="driftsmerking" type="string">
                  <annotation>
                     <documentation>9744: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9744</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier" type="nvdb:EierKabelType">
                  <annotation>
                     <documentation>5811: Angir hvem som er eier av vegobjektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">5811</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element minOccurs="0" name="eier_Navn" type="string">
                  <annotation>
                     <documentation>9745: Navn på eier av vegobjektet. Merknad: Det skal angis organisasjonsnavn, firmanavn eller gårds- og bruksnummer, ikke personnavn.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">9745</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Eier, navn</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element name="senterlinje" type="gml:CurvePropertyType">
                  <annotation>
                     <documentation>4792: Gir linje/kurve som geometrisk representerer objektet.</documentation>
                     <appinfo>
                        <sc:taggedValue tag="NVDB_ID">4792</sc:taggedValue>
                        <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
                     </appinfo>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon">
                  <annotation>
                     <documentation>Angivelse av posisjon på det linære objektet.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="KabelPropertyType">
      <sequence minOccurs="0">
         <element ref="nvdb:Kabel"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="SpesiellStatusKabelType">
      <annotation>
         <documentation>12619: Angir at kabelen har en annen status enn å være i daglig drift.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12619</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell status</sc:taggedValue>
         </appinfo>
      </annotation>
      <union memberTypes="nvdb:SpesiellStatusKabelEnumerationType nvdb:SpesiellStatusKabelOtherType"/>
   </simpleType>
   <simpleType name="SpesiellStatusKabelEnumerationType">
      <annotation>
         <documentation>12619: Angir at kabelen har en annen status enn å være i daglig drift.</documentation>
         <appinfo>
            <sc:taggedValue tag="NVDB_ID">12619</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Spesiell status</sc:taggedValue>
         </appinfo>
      </annotation>
      <restriction base="string">
         <enumeration value="RK">
            <annotation>
               <documentation>21792: Kabel er ikke i daglig drift, men ligger klar til å tas i bruk om behov.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21792</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Reservekabel</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="UK">
            <annotation>
               <documentation>21794: Kabel er ikke i bruk. Endelig status ikke avklart.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21794</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
         <enumeration value="VK">
            <annotation>
               <documentation>21793: Kabel er defekt og kan ikke brukes.</documentation>
               <appinfo>
                  <sc:taggedValue tag="NVDB_ID">21793</sc:taggedValue>
                  <sc:taggedValue tag="NVDB_navn">Vraket</sc:taggedValue>
               </appinfo>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <simpleType name="SpesiellStatusKabelOtherType">
      <restriction base="string">
         <pattern value="other: \w{2,}"/>
      </restriction>
   </simpleType>
</schema>
