GML/PS/OLFV_NV/2.23/97.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.23" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.23" version="2.23">
  <annotation>
    <documentation>97: Skilt som kan vise ulike motiv.  Motivet kan styres fra en sentral eller det kan varieres manuelt.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="Ansiktsside_RettetMotVariabeltSkiltType">
    <annotation>
      <documentation>6987: Angir hva skiltplatens ansiktsside, dvs skiltmotivet er rettet mot.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6987</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6987</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ansiktsside,rettet mot</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Ansiktsside_RettetMotVariabeltSkiltEnumerationType nvdb:Ansiktsside_RettetMotVariabeltSkiltOtherType"/>
  </simpleType>
  <simpleType name="Ansiktsside_RettetMotVariabeltSkiltEnumerationType">
    <annotation>
      <documentation>6987: Angir hva skiltplatens ansiktsside, dvs skiltmotivet er rettet mot.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6987</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6987</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ansiktsside,rettet mot</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Trafikk i metreringsretning">
        <annotation>
          <documentation>9138: Ansiktsside er rettet mot trafikanter som beveger seg i metreringsretning på vegen skiltplate er registrert.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9138</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikk i metreringsretning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trafikk mot metreringsretning">
        <annotation>
          <documentation>9139: Ansiktsside er rettet mot trafikanter som beveger seg mot metreringsretning på vegen skiltplate er registrert</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9139</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Trafikk mot metreringsretning</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parallelt mot veg">
        <annotation>
          <documentation>9140: Skiltplate er orientert parallelt med vegen den er registrert på. Ansiktsside er vendt inn mot denne vegen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9140</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Parallelt mot veg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Parallelt fra veg">
        <annotation>
          <documentation>9141: Skiltplate er orientert parallelt med vegen den er registrert på. Ansiktsside er vendt ut fra denne vegen, dvs ansikt er kun synlig fra sideveger.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9141</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Parallelt fra veg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tosidig">
        <annotation>
          <documentation>9142: Skiltplate har motiv på begge sider.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">9142</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tosidig</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Ansiktsside_RettetMotVariabeltSkiltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="BelystVariabeltSkiltType">
    <annotation>
      <documentation>4598: Angir om skiltet er belyst eller ikke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4598</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4598</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Belyst</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BelystVariabeltSkiltEnumerationType nvdb:BelystVariabeltSkiltOtherType"/>
  </simpleType>
  <simpleType name="BelystVariabeltSkiltEnumerationType">
    <annotation>
      <documentation>4598: Angir om skiltet er belyst eller ikke</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4598</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4598</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Belyst</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>5538: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5538</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>5539: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">5539</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BelystVariabeltSkiltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierVariabeltSkiltType">
    <annotation>
      <documentation>8000: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8000</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8000</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierVariabeltSkiltEnumerationType nvdb:EierVariabeltSkiltOtherType"/>
  </simpleType>
  <simpleType name="EierVariabeltSkiltEnumerationType">
    <annotation>
      <documentation>8000: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8000</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8000</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10266: Stat, Statens vegvesen</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10266</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stat, Statens vegvesen</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20457: Stat, Nye Veier</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20457</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Stat, Nye Veier</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10728: Fylkeskommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10728</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fylkeskommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10330: Kommune</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10330</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Kommune</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10394: Privat</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10394</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Privat</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20458: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">20458</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Uavklart</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierVariabeltSkiltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringVariabeltSkiltType">
    <annotation>
      <documentation>1739: Angir om vegobjektet kan fjernstyres</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1739</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1739</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fjernstyring</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FjernstyringVariabeltSkiltEnumerationType nvdb:FjernstyringVariabeltSkiltOtherType"/>
  </simpleType>
  <simpleType name="FjernstyringVariabeltSkiltEnumerationType">
    <annotation>
      <documentation>1739: Angir om vegobjektet kan fjernstyres</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1739</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1739</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fjernstyring</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>3518: Ja</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3518</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ja</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>3556: Nei</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3556</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Nei</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringVariabeltSkiltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SkiftingAvBudskapType">
    <annotation>
      <documentation>3745: Angir hvordan symbol/budskap skiftes</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3745</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3745</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skifting av budskap</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:SkiftingAvBudskapEnumerationType nvdb:SkiftingAvBudskapOtherType"/>
  </simpleType>
  <simpleType name="SkiftingAvBudskapEnumerationType">
    <annotation>
      <documentation>3745: Angir hvordan symbol/budskap skiftes</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3745</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3745</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skifting av budskap</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Manuelt">
        <annotation>
          <documentation>4735: Manuelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4735</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Manuelt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Automatisert/elektrisk">
        <annotation>
          <documentation>4734: Automatisert/elektrisk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4734</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Automatisert/elektrisk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkiftingAvBudskapOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Skiltnummer_OrdinærVisningType">
    <annotation>
      <documentation>10783: Angir skiltnumer på variabelt skilt i ordinær visningsmodus, dvs den visningen som er mest utbredt når skiltet ikke er avslått/blankt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10783</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10783</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skiltnummer,ordinær visning</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Skiltnummer_OrdinærVisningEnumerationType nvdb:Skiltnummer_OrdinærVisningOtherType"/>
  </simpleType>
  <simpleType name="Skiltnummer_OrdinærVisningEnumerationType">
    <annotation>
      <documentation>10783: Angir skiltnumer på variabelt skilt i ordinær visningsmodus, dvs den visningen som er mest utbredt når skiltet ikke er avslått/blankt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10783</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10783</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skiltnummer,ordinær visning</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="110 - Vegarbeid">
        <annotation>
          <documentation>19072: Vegarbeid</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19072</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">110 - Vegarbeid</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="148 - Møtende trafikk">
        <annotation>
          <documentation>17932: Møtende trafikk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17932</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">148 - Møtende trafikk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="149 - Kø">
        <annotation>
          <documentation>17486: Kø</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17486</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">149 - Kø</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="152 - Sidevind">
        <annotation>
          <documentation>17477: Sidevind</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17477</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">152 - Sidevind</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="153 - Trafikkulykke">
        <annotation>
          <documentation>17512: Trafikkulykke</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17512</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">153 - Trafikkulykke</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="306.5 - Forbudt for lastebil og trekkbil">
        <annotation>
          <documentation>17478: Forbudt for lastebil og trekkbil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17478</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">306.5 - Forbudt for lastebil og trekkbil</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="310 - Forbudt for motorvogn med flere enn to hjul og med tillatt totalvekt høyere enn angitt">
        <annotation>
          <documentation>17495: Forbudt for motorvogn med flere enn to hjul og med tillatt totalvekt høyere enn angitt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17495</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">310 - Forbudt for motorvogn med flere enn to hjul og med tillatt totalvekt høyere enn angitt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="335 - Forbikjøringsforbud for lastebil">
        <annotation>
          <documentation>17493: Forbikjøringsforbud for lastebil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17493</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">335 - Forbikjøringsforbud for lastebil</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="337 - Slutt på forbikjøringsforbud for lastebil">
        <annotation>
          <documentation>17494: Slutt på forbikjøringsforbud for lastebil</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17494</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">337 - Slutt på forbikjøringsforbud for lastebil</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="362.20 - Fartsgrense 20 km/t">
        <annotation>
          <documentation>17521: Fartsgrense 20 km/t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17521</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">362.20 - Fartsgrense 20 km/t</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="362.30 - Fartsgrense 30 km/t">
        <annotation>
          <documentation>17513: Fartsgrense 30 km/t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17513</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">362.30 - Fartsgrense 30 km/t</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="362.40 - Fartsgrense 40 km/t">
        <annotation>
          <documentation>17514: Fartsgrense 40 km/t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17514</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">362.40 - Fartsgrense 40 km/t</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="362.50 - Fartsgrense 50 km/t">
        <annotation>
          <documentation>17515: Fartsgrense 50 km/t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17515</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">362.50 - Fartsgrense 50 km/t</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="362.60 - Fartsgrense 60 km/t">
        <annotation>
          <documentation>17516: Fartsgrense 60 km/t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17516</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">362.60 - Fartsgrense 60 km/t</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="362.70 - Fartsgrense 70 km/t">
        <annotation>
          <documentation>17517: Fartsgrense 70 km/t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17517</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">362.70 - Fartsgrense 70 km/t</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="362.80 - Fartsgrense 80 km/t">
        <annotation>
          <documentation>17518: Fartsgrense 80 km/t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17518</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">362.80 - Fartsgrense 80 km/t</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="362.90 - Fartsgrense 90 km/t">
        <annotation>
          <documentation>17519: Fartsgrense 90 km/t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17519</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">362.90 - Fartsgrense 90 km/t</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="362.100 - Fartsgrense 100 km/t">
        <annotation>
          <documentation>17520: Fartsgrense 100 km/t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17520</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">362.100 - Fartsgrense 100 km/t</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="362.110 - Fartsgrense 110 km/t">
        <annotation>
          <documentation>17522: Fartsgrense 110 km/t</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17522</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">362.110 - Fartsgrense 110 km/t</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="539.01 - Kjørefeltendring med motgående">
        <annotation>
          <documentation>18476: Kjørefeltendring med motgående.  (F.o.m. ver. 1.76: Skiltnummer endret fra "539.1")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18476</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">539.01 - Kjørefeltendring med motgående</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="539.02 - Kjørefeltendring med to felt">
        <annotation>
          <documentation>18477: Kjørefeltendring med to felt.  (F.o.m. ver. 1.76: Skiltnummer endret fra "539.2")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">18477</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">539.02 - Kjørefeltendring med to felt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="560 - Opplysningstavle">
        <annotation>
          <documentation>17790: Opplysningstavle</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17790</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">560 - Opplysningstavle</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="601 - Radiokanal">
        <annotation>
          <documentation>19071: Radiokanal</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">19071</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">601 - Radiokanal</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="701.1 - Tabellorienteringstavle for vanlig kryss">
        <annotation>
          <documentation>17479: Tabellorienteringstavle for vanlig kryss.  (F.o.m. ver. 1.76: Skiltnummer endret fra "720.4")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17479</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">701.1 - Tabellorienteringstavle for vanlig kryss</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="701.2 - Tabellorienteringstavle for planskilt kryss på to- og trefeltsveg">
        <annotation>
          <documentation>17496: Tabellorienteringstavle for planskilt kryss på to- og trefeltsveg</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17496</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">701.2 - Tabellorienteringstavle for planskilt kryss på to- og trefeltsveg</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="703.1 - Diagramorienteringstavle for rundkjøring">
        <annotation>
          <documentation>17480: Diagramorienteringstavle for rundkjøring.  (F.o.m. ver. 1.76: Skiltnummer endret fra "720.3")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17480</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">703.1 - Diagramorienteringstavle for rundkjøring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="703.2 - Diagramorienteringstavle for kryss med spesiell utforming">
        <annotation>
          <documentation>17497: Diagramorienteringstavle for kryss med spesiell utforming</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17497</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">703.2 - Diagramorienteringstavle for kryss med spesiell utforming</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="705.1 - Avkjøringstavle. 1000-m tavle">
        <annotation>
          <documentation>17481: Avkjøringstavle. 1000-m tavle.  (F.o.m. ver. 1.76: Skiltnummer endret fra "720.1")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17481</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">705.1 - Avkjøringstavle. 1000-m tavle</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="705.2 - Avkjøringstavle. 500-m tavle">
        <annotation>
          <documentation>17482: Avkjøringstavle. 500-m tavle.  (F.o.m. ver. 1.76: Skiltnummer endret fra "720.2")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17482</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">705.2 - Avkjøringstavle. 500-m tavle</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="707.1 - Kjørefeltorienteringstavle uten visningsmål">
        <annotation>
          <documentation>17498: Kjørefeltorienteringstavle uten visningsmål</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17498</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">707.1 - Kjørefeltorienteringstavle uten visningsmål</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="707.2 - Kjørefeltorienteringstavle med visningsmål">
        <annotation>
          <documentation>17499: Kjørefeltorienteringstavle med visningsmål</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17499</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">707.2 - Kjørefeltorienteringstavle med visningsmål</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="707.3 - Kjørefeltorienteringstavle for feltsubtraksjon">
        <annotation>
          <documentation>17500: Kjørefeltorienteringstavle for feltsubtraksjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17500</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">707.3 - Kjørefeltorienteringstavle for feltsubtraksjon</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="707.4 - Kjørefeltorienteringstavle for ferjeleie">
        <annotation>
          <documentation>17501: Kjørefeltorienteringstavle for ferjeleie</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17501</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">707.4 - Kjørefeltorienteringstavle for ferjeleie</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="709.1 - Portalorienteringstavle for ett kjørefelt">
        <annotation>
          <documentation>17485: Portalorienteringstavle for ett kjørefelt.  (F.o.m. ver. 1.76: Skiltnummer endret fra "709")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17485</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">709.1 - Portalorienteringstavle for ett kjørefelt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="709.2 - Portalorienteringstavle for flere kjørefelt">
        <annotation>
          <documentation>17502: Portalorienteringstavle for flere kjørefelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17502</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">709.2 - Portalorienteringstavle for flere kjørefelt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="709.3 - Portalorienteringstavle for flere kjøreretninger">
        <annotation>
          <documentation>17503: Portalorienteringstavle for flere kjøreretninger</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17503</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">709.3 - Portalorienteringstavle for flere kjøreretninger</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="709.4 - Portalorienteringstavle for feltsubtraksjon">
        <annotation>
          <documentation>17504: Portalorienteringstavle for feltsubtraksjon</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17504</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">709.4 - Portalorienteringstavle for feltsubtraksjon</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="711.R - Tabellvegviser, Rett fram">
        <annotation>
          <documentation>17487: Tabellvegviser, Rett fram.  (F.o.m. ver. 1.76: Skiltnummer endret fra "711")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17487</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">711.R - Tabellvegviser, Rett fram</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="711.H90 - Tabellvegviser, Høyre, 90 grader">
        <annotation>
          <documentation>17505: Tabellvegviser, Høyre, 90 grader</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17505</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">711.H90 - Tabellvegviser, Høyre, 90 grader</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="711.V90 - Tabellvegviser, Venstre, 90 grader">
        <annotation>
          <documentation>17506: Tabellvegviser, Venstre, 90 grader</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17506</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">711.V90 - Tabellvegviser, Venstre, 90 grader</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="713.V - Vanlig vegviser, Venstre">
        <annotation>
          <documentation>17488: Vanlig vegviser, Venstre.  (F.o.m. ver. 1.76: Skiltnummer endret fra "713")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17488</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">713.V - Vanlig vegviser, Venstre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="713.H - Vanlig vegviser, Høyre">
        <annotation>
          <documentation>17507: Vanlig vegviser, Høyre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17507</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">713.H - Vanlig vegviser, Høyre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="715.1 - Avkjøringsvegviser for veg uten kryssnummer">
        <annotation>
          <documentation>17489: Avkjøringsvegviser for veg uten kryssnummer.  (F.o.m. ver. 1.76: Skiltnummer endret fra "715")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17489</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">715.1 - Avkjøringsvegviser for veg uten kryssnummer</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="715.2 - Avkjøringsvegviser for veg med kryssnummer">
        <annotation>
          <documentation>17508: Avkjøringsvegviser for veg med kryssnummer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17508</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">715.2 - Avkjøringsvegviser for veg med kryssnummer</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="717 - Kjørefeltvegviser">
        <annotation>
          <documentation>17490: Kjørefeltvegviser</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17490</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">717 - Kjørefeltvegviser</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="719.1 - Portalvegviser for ett kjørefelt">
        <annotation>
          <documentation>17491: Portalvegviser for ett kjørefelt.  (F.o.m. ver. 1.76: Skiltnummer endret fra "719")</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17491</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">719.1 - Portalvegviser for ett kjørefelt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="719.2 - Portalvegviser for flere kjørefelt">
        <annotation>
          <documentation>17509: Portalvegviser for flere kjørefelt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17509</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">719.2 - Portalvegviser for flere kjørefelt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="719.4 - Portalvegviser for avkjøring">
        <annotation>
          <documentation>17510: Portalvegviser for avkjøring</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17510</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">719.4 - Portalvegviser for avkjøring</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="719.5 - Portalvegviser for ferjeleier og bomstasjoner">
        <annotation>
          <documentation>17511: Portalvegviser for ferjeleier og bomstasjoner</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17511</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">719.5 - Portalvegviser for ferjeleier og bomstasjoner</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="904H - Retningsmarkering, Mot høyre">
        <annotation>
          <documentation>17492: Retningsmarkering, Mot høyre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17492</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">904H - Retningsmarkering, Mot høyre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="904V - Retningsmarkering, Mot venstre">
        <annotation>
          <documentation>17483: Retningsmarkering, Mot venstre</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17483</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">904V - Retningsmarkering, Mot venstre</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="912 - Avkjøringsmarkering">
        <annotation>
          <documentation>17484: Avkjøringsmarkering</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17484</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">912 - Avkjøringsmarkering</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Skiltnummer_OrdinærVisningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeVariabeltSkiltType">
    <annotation>
      <documentation>1151: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1151</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1151</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeVariabeltSkiltEnumerationType nvdb:TypeVariabeltSkiltOtherType"/>
  </simpleType>
  <simpleType name="TypeVariabeltSkiltEnumerationType">
    <annotation>
      <documentation>1151: Angir hvilken type vegobjektet er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1151</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1151</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Mekanisk">
        <annotation>
          <documentation>2834: Mekanisk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2834</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mekanisk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mekanisk med lameller">
        <annotation>
          <documentation>2836: Mekanisk med lameller</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2836</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mekanisk med lameller</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mekanisk roterende">
        <annotation>
          <documentation>2835: Mekanisk roterende</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2835</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Mekanisk roterende</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Digitalt">
        <annotation>
          <documentation>2832: Digitalt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2832</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Digitalt</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Digitalt, Lysdioder">
        <annotation>
          <documentation>4877: Digitalt, Lysdioder</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4877</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Digitalt, Lysdioder</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Digitalt, Fiberoptisk">
        <annotation>
          <documentation>4880: Digitalt, Fiberoptisk</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4880</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Digitalt, Fiberoptisk</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVariabeltSkiltOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VariabeltSkilt" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:VariabeltSkiltType">
    <annotation>
      <documentation>97: Skilt som kan vise ulike motiv.  Motivet kan styres fra en sentral eller det kan varieres manuelt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">97</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">97</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Variabelt skilt</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VariabeltSkiltType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="skiltnummer_OrdinærVisning" type="nvdb:Skiltnummer_OrdinærVisningType">
            <annotation>
              <documentation>10783: Angir skiltnumer på variabelt skilt i ordinær visningsmodus, dvs den visningen som er mest utbredt når skiltet ikke er avslått/blankt.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10783</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skiltnummer, ordinær visning</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="type" type="nvdb:TypeVariabeltSkiltType">
            <annotation>
              <documentation>1151: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1151</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Type</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tekst_OrdinærVisning" type="string">
            <annotation>
              <documentation>3763: Angir tekst på variabelt skilt i ordinær visningsmodus, dvs den visningen som er mest utbredt når skiltet ikke er avslått/blankt. Teksten skrives inn etter fast system.  Det kan også legges inn informasjon om symboler, piler og miniatyrskilt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3763</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Tekst, ordinær visning</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="variasjon" type="nvdb:VariasjonType">
            <annotation>
              <documentation>1905: Angir hva som varierer på et variabelt skilt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1905</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Variasjon</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="skiftingAvBudskap" type="nvdb:SkiftingAvBudskapType">
            <annotation>
              <documentation>3745: Angir hvordan symbol/budskap skiftes</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">3745</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Skifting av budskap</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="beskrivelse" type="string">
            <annotation>
              <documentation>8785: Felt til disposisjon for å beskrive det variable skiltet, kan f.eks angi hvilke skiltnummer som er involvert etc, hvordan det skiftes mellom ulik tekster/symbol osv.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8785</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Beskrivelse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plasseringskode" type="integer">
            <annotation>
              <documentation>6986: Angir plasseringskode for variabelt skilt i skiltpunkt.  Øverste posisjon har lavest nummer, nederste posisjon har høyest verdi.  Benytt nummerering 10, 20, 30 i utgangspunktet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6986</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Plasseringskode</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="ansiktsside_RettetMot" type="nvdb:Ansiktsside_RettetMotVariabeltSkiltType">
            <annotation>
              <documentation>6987: Angir hva skiltplatens ansiktsside, dvs skiltmotivet er rettet mot.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">6987</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Ansiktsside, rettet mot</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fjernstyring" type="nvdb:FjernstyringVariabeltSkiltType">
            <annotation>
              <documentation>1739: Angir om vegobjektet kan fjernstyres</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1739</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fjernstyring</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="belyst" type="nvdb:BelystVariabeltSkiltType">
            <annotation>
              <documentation>4598: Angir om skiltet er belyst eller ikke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4598</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Belyst</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierVariabeltSkiltType">
            <annotation>
              <documentation>8000: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">8000</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Eier</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10393: Angir hvilket år vegobjektet ble etablert på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10393</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Etableringsår</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="driftsmerking" type="string">
            <annotation>
              <documentation>10489: Identitet/navn på forekomst, normalt synlig på stedet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">10489</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Driftsmerking</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11080: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for å lettere kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">11080</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Prosjektreferanse</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4796: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">4796</taggedValue>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Geometri, punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="assosiertSkiltpunkt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">nvdb:Skiltpunkt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VariabeltSkiltPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:VariabeltSkilt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VariasjonType">
    <annotation>
      <documentation>1905: Angir hva som varierer på et variabelt skilt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1905</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1905</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Variasjon</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VariasjonEnumerationType nvdb:VariasjonOtherType"/>
  </simpleType>
  <simpleType name="VariasjonEnumerationType">
    <annotation>
      <documentation>1905: Angir hva som varierer på et variabelt skilt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1905</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">1905</taggedValue>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Variasjon</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Et motiv på/av">
        <annotation>
          <documentation>2827: Skiltet kan veksle mellom å vise et definerte motiv og å være avslått.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2827</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Et motiv på/av</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veksling mellom to motiv">
        <annotation>
          <documentation>2828: Skiltet kan veksle mellom å vise to fast definerte motiv. Eventuell avslått posisjon kommer i tillegg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2828</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veksling mellom to motiv</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veksling mellom tre motiv">
        <annotation>
          <documentation>2829: Skiltet kan veksle mellom å vise tre fast definerte motiv. Eventuell avslått posisjon kommer i tillegg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2829</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veksling mellom tre motiv</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Veksling mellom flere enn tre motiv">
        <annotation>
          <documentation>17933: Skiltet kan veksle mellom å vise 3 eller flere fast definerte motiv. Eventuell avslått posisjon kommer i tillegg.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">17933</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Veksling mellom flere enn tre motiv</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fritt valgt fartsgrensevarsling">
        <annotation>
          <documentation>2830: Skiltet kan vise fritt valgt fartsgrense/fartsgrenseoppheving.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2830</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fritt valgt fartsgrensevarsling</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fritt valgt tekst">
        <annotation>
          <documentation>2831: Det kan vises fritt valgt teskt på skiltet</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_ID">2831</taggedValue>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="NVDB_navn">Fritt valgt tekst</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VariasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
