GML/PS/OLFV_NV/2.32/301.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" version="2.32">
  <annotation>
    <documentation>301: Angir område med vegetasjon langs vegkant/skråning. Dette er vanligvis vegetasjon som skal skjøttes vha kantklipper (kantslått). Det er mulig å gi bredde i form av tilkopla "breddemåling".</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierKantklipparealType">
    <annotation>
      <documentation>10875: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10875</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10875</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierKantklipparealEnumerationType nvdb:EierKantklipparealOtherType"/>
  </simpleType>
  <simpleType name="EierKantklipparealEnumerationType">
    <annotation>
      <documentation>10875: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10875</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10875</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>17922: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17922</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18562: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18562</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>17925: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17925</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>17923: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17923</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>17924: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17924</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17926: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17926</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierKantklipparealOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="Kantklipp_AnbefaltIntervallType">
    <annotation>
      <documentation>2382: Gir anbefaling for hvor ofte det bør foretas kantklipp.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2382</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2382</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kantklipp,anbefalt intervall</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Kantklipp_AnbefaltIntervallEnumerationType nvdb:Kantklipp_AnbefaltIntervallOtherType"/>
  </simpleType>
  <simpleType name="Kantklipp_AnbefaltIntervallEnumerationType">
    <annotation>
      <documentation>2382: Gir anbefaling for hvor ofte det bør foretas kantklipp.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">2382</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">2382</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kantklipp,anbefalt intervall</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="2 g. pr år">
        <annotation>
          <documentation>5074: Klipp to ganger pr år.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5074</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2 g. pr år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="1 g. pr år">
        <annotation>
          <documentation>5073: Klipp hvert år.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5073</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">1 g. pr år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="2.hvert år">
        <annotation>
          <documentation>5075: Klipp annethvert år.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5075</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">2.hvert år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="3-5. hvert år">
        <annotation>
          <documentation>5272: 3-5. hvert år</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5272</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">3-5. hvert år</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Kantklipp_AnbefaltIntervallOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kantklippareal" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:KantklipparealType">
    <annotation>
      <documentation>301: Angir område med vegetasjon langs vegkant/skråning. Dette er vanligvis vegetasjon som skal skjøttes vha kantklipper (kantslått). Det er mulig å gi bredde i form av tilkopla "breddemåling".</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">301</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">301</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kantklippareal</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KantklipparealType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="klippebredde_Faktisk" type="integer">
            <annotation>
              <documentation>9969: Angir skrå bredde på området som faktisk skal klippes.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9969</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Klippebredde, faktisk</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="klippebredde_Kvalitet" type="nvdb:Klippebredde_KvalitetType">
            <annotation>
              <documentation>9971: Angir kvalitet på verdier for "Klippebredde, faktisk" og ev. "Klippebredde, krav".</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9971</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Klippebredde, kvalitet</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kantklipp_AnbefaltIntervall" type="nvdb:Kantklipp_AnbefaltIntervallType">
            <annotation>
              <documentation>2382: Gir anbefaling for hvor ofte det bør foretas kantklipp.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">2382</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kantklipp, anbefalt intervall</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="areal" type="integer">
            <annotation>
              <documentation>11312: Angir areal av vegobjekttype.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11312</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Areal</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string">
            <annotation>
              <documentation>11404: Supplerende informasjon som har betydning for kantklipp.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11404</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Tilleggsinformasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>12583: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12583</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierKantklipparealType">
            <annotation>
              <documentation>10875: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10875</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4898: Ytre avgrensning av kantklippareal.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4898</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>9136: Gir flate/polygon som geometrisk avgrenser området.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9136</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, flate</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KantklipparealPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Kantklippareal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="Klippebredde_KvalitetType">
    <annotation>
      <documentation>9971: Angir kvalitet på verdier for "Klippebredde, faktisk" og ev. "Klippebredde, krav".</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9971</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9971</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Klippebredde,kvalitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:Klippebredde_KvalitetEnumerationType nvdb:Klippebredde_KvalitetOtherType"/>
  </simpleType>
  <simpleType name="Klippebredde_KvalitetEnumerationType">
    <annotation>
      <documentation>9971: Angir kvalitet på verdier for "Klippebredde, faktisk" og ev. "Klippebredde, krav".</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9971</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9971</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Klippebredde,kvalitet</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Målt i felt">
        <annotation>
          <documentation>16183: Angir at det framkommet basert på en del målinger i felt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16183</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Målt i felt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vurdert i felt">
        <annotation>
          <documentation>16184: Angir at det er vurdert noe grovt i felt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16184</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vurdert i felt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vurdert ut fra vegbilder/flyfoto/kart">
        <annotation>
          <documentation>16185: Angir at det er angitt ut fra bilder og kart uten at det er foretatt vurdering i felt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16185</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vurdert ut fra vegbilder/flyfoto/kart </sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Generelt anslag">
        <annotation>
          <documentation>16186: Angir at det er stor usikkerhet til informasjon, kan f.eks. være basert på diverse gamle data osv.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16186</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Generelt anslag</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Basert på generelle krav">
        <annotation>
          <documentation>16187: Angir at det er lagt inn verdier ut fra generelle krav til klippebredde, f.eks. kan det da være lagt inn 6 meter på alle steder der det er behov for klipping på gitt strekning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16187</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Basert på generelle krav</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Klippebredde_KvalitetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
