GML/PS/OLFV_NV/2.32/456.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" version="2.32">
  <annotation>
    <documentation>456: Apparatur i tilknytning til teknisk utstyr. Apparatur står vanligvis i skap. Inneholder f.eks. PLS, modem, batteri/strøm, telefon med mer. Benyttes f.eks. i tilknytning til signalanlegg.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeStyreapparatType">
    <annotation>
      <documentation>11003: Angir hovedbruksområde for styreapparat.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11003</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11003</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeStyreapparatEnumerationType nvdb:BruksområdeStyreapparatOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeStyreapparatEnumerationType">
    <annotation>
      <documentation>11003: Angir hovedbruksområde for styreapparat.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11003</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11003</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Signalanlegg">
        <annotation>
          <documentation>18408: Benyttes til styring av signalanlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18408</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signalanlegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Skilt">
        <annotation>
          <documentation>18409: Benyttes til styring av variabelt skilt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18409</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Skilt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vegbom">
        <annotation>
          <documentation>18410: Benyttes til styring av vegbom.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18410</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vegbom</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ventilasjon">
        <annotation>
          <documentation>18411: Benyttes til styring av ventilasjon.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18411</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ventilasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Annet utstyr">
        <annotation>
          <documentation>18412: Benyttes til styring av annet teknisk utstyr.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18412</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Annet utstyr</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeStyreapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierStyreapparatType">
    <annotation>
      <documentation>8021: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8021</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8021</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierStyreapparatEnumerationType nvdb:EierStyreapparatOtherType"/>
  </simpleType>
  <simpleType name="EierStyreapparatEnumerationType">
    <annotation>
      <documentation>8021: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8021</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8021</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10287: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10287</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18581: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18581</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10748: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10748</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10351: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10351</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10415: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10415</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17614: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17614</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierStyreapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EnergikildeStyreapparatType">
    <annotation>
      <documentation>3750: Angir hvilken type energikilde som benyttes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3750</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3750</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Energikilde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EnergikildeStyreapparatEnumerationType nvdb:EnergikildeStyreapparatOtherType"/>
  </simpleType>
  <simpleType name="EnergikildeStyreapparatEnumerationType">
    <annotation>
      <documentation>3750: Angir hvilken type energikilde som benyttes.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3750</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3750</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Energikilde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Nettselskap">
        <annotation>
          <documentation>4882: Nettselskap</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4882</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nettselskap</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Batteri">
        <annotation>
          <documentation>4883: Batteri</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4883</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Batteri</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Batteri/solcellepanel">
        <annotation>
          <documentation>4884: Batteri/solcellepanel</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4884</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Batteri/solcellepanel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Batteri/vindgenerator">
        <annotation>
          <documentation>4885: Batteri/vindgenerator</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4885</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Batteri/vindgenerator</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EnergikildeStyreapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KommunikasjonType">
    <annotation>
      <documentation>3643: Angir hvilken type kommunikasjon det er i tilknytning til stasjonen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kommunikasjon</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:KommunikasjonEnumerationType nvdb:KommunikasjonOtherType"/>
  </simpleType>
  <simpleType name="KommunikasjonEnumerationType">
    <annotation>
      <documentation>3643: Angir hvilken type kommunikasjon det er i tilknytning til stasjonen.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3643</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Kommunikasjon</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Modem/oppringt">
        <annotation>
          <documentation>4886: Modem/oppringt</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4886</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Modem/oppringt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Mobiltelefon">
        <annotation>
          <documentation>4887: Mobiltelefon</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4887</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Mobiltelefon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fast linje">
        <annotation>
          <documentation>4888: Fast linje</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4888</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fast linje</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Manuell &quot;tapping&quot; av data">
        <annotation>
          <documentation>4889: Manuell "tapping" av data</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4889</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Manuell "tapping" av data</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="KommunikasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Styreapparat" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:StyreapparatType">
    <annotation>
      <documentation>456: Apparatur i tilknytning til teknisk utstyr. Apparatur står vanligvis i skap. Inneholder f.eks. PLS, modem, batteri/strøm, telefon med mer. Benyttes f.eks. i tilknytning til signalanlegg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">456</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">456</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Styreapparat</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StyreapparatType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="type" type="nvdb:TypeStyreapparatType">
            <annotation>
              <documentation>8812: Angir type styreapparat.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8812</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bruksområde" type="nvdb:BruksområdeStyreapparatType">
            <annotation>
              <documentation>11003: Angir hovedbruksområde for styreapparat.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11003</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="energikilde" type="nvdb:EnergikildeStyreapparatType">
            <annotation>
              <documentation>3750: Angir hvilken type energikilde som benyttes.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3750</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Energikilde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kommunikasjon" type="nvdb:KommunikasjonType">
            <annotation>
              <documentation>3643: Angir hvilken type kommunikasjon det er i tilknytning til stasjonen.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3643</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Kommunikasjon</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="typeIO" type="nvdb:TypeIOStyreapparatType">
            <annotation>
              <documentation>4053: Angir om det er digital eller analog tilkopling.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4053</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type I/O</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="typeCPU_Kort" type="string">
            <annotation>
              <documentation>3781: Angir type CPU-kort.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3781</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type CPU-kort</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="igangsettingsdato" type="date">
            <annotation>
              <documentation>8815: Angir hvilket år utstyret ble satt i drift i det systemet det er en del av (f.eks. signalanlegget).</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8815</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Igangsettingsdato</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produksjonsår" type="integer">
            <annotation>
              <documentation>8814: Angir hvilket år utstyret ble produsert.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8814</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produksjonsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>4066: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4066</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>10482: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10482</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>3793: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3793</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11120: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11120</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12367: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12367</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierStyreapparatType">
            <annotation>
              <documentation>8021: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8021</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligStyreapparatType">
            <annotation>
              <documentation>8095: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8095</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4974: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4974</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StyreapparatPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Styreapparat"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeIOStyreapparatType">
    <annotation>
      <documentation>4053: Angir om det er digital eller analog tilkopling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4053</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4053</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type I/O</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeIOStyreapparatEnumerationType nvdb:TypeIOStyreapparatOtherType"/>
  </simpleType>
  <simpleType name="TypeIOStyreapparatEnumerationType">
    <annotation>
      <documentation>4053: Angir om det er digital eller analog tilkopling.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">4053</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">4053</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type I/O</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Analog">
        <annotation>
          <documentation>5062: Analog</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5062</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Analog</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Digital">
        <annotation>
          <documentation>5068: Digital</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5068</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Digital</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeIOStyreapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeStyreapparatType">
    <annotation>
      <documentation>8812: Angir type styreapparat.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeStyreapparatEnumerationType nvdb:TypeStyreapparatOtherType"/>
  </simpleType>
  <simpleType name="TypeStyreapparatEnumerationType">
    <annotation>
      <documentation>8812: Angir type styreapparat.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Signal">
        <annotation>
          <documentation>11675: Signal</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11675</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, C800V">
        <annotation>
          <documentation>11676: Signal, C800V</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11676</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, C800V</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, EC-1">
        <annotation>
          <documentation>11677: Signal, EC-1</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11677</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, EC-1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ELC">
        <annotation>
          <documentation>11678: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11678</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, ELC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ELC-2">
        <annotation>
          <documentation>11679: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11679</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, ELC-2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ELC-3">
        <annotation>
          <documentation>11680: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11680</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, ELC-3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ELC-2/3">
        <annotation>
          <documentation>11681: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11681</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, ELC-2/3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, EPC">
        <annotation>
          <documentation>11682: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11682</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, EPC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, EPC-4">
        <annotation>
          <documentation>11683: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11683</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, EPC-4</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, EPC-2">
        <annotation>
          <documentation>11684: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11684</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, EPC-2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC">
        <annotation>
          <documentation>11685: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11685</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, FC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC-2000">
        <annotation>
          <documentation>11686: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11686</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, FC-2000</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC-2008">
        <annotation>
          <documentation>11687: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11687</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, FC-2008</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC-2016">
        <annotation>
          <documentation>11688: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11688</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, FC-2016</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FC-400">
        <annotation>
          <documentation>11689: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11689</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, FC-400</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA">
        <annotation>
          <documentation>11690: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11690</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, FCA</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-400">
        <annotation>
          <documentation>11691: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11691</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, FCA-400</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-4000">
        <annotation>
          <documentation>11692: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11692</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, FCA-4000</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-042">
        <annotation>
          <documentation>11693: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11693</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, FCA-042</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-082">
        <annotation>
          <documentation>11694: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11694</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, FCA-082</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-162">
        <annotation>
          <documentation>11695: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11695</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, FCA-162</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FCA-2">
        <annotation>
          <documentation>11696: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11696</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, FCA-2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, FR-80">
        <annotation>
          <documentation>11697: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11697</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, FR-80</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ITC-1">
        <annotation>
          <documentation>11698: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11698</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, ITC-1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ITC-2">
        <annotation>
          <documentation>16164: Signal, ITC-2</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16164</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, ITC-2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ITC-2 Mini">
        <annotation>
          <documentation>16165: Signal, ITC-2 Mini</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16165</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, ITC-2 Mini</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, ITC-3">
        <annotation>
          <documentation>21252: Signal, ITC-3</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21252</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, ITC-3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, JCF">
        <annotation>
          <documentation>11699: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11699</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, JCF</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, JCF-150">
        <annotation>
          <documentation>11700: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11700</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, JCF-150</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, JCF-250">
        <annotation>
          <documentation>11701: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11701</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, JCF-250</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, KL">
        <annotation>
          <documentation>11702: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11702</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, KL</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, KL-5000">
        <annotation>
          <documentation>11703: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11703</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, KL-5000</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, KLT-5000">
        <annotation>
          <documentation>11704: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11704</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, KLT-5000</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, LC">
        <annotation>
          <documentation>11705: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11705</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, LC</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, LC/FCA">
        <annotation>
          <documentation>11706: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11706</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, LC/FCA</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, MQ">
        <annotation>
          <documentation>11707: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11707</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, MQ</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, MR">
        <annotation>
          <documentation>11708: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11708</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, MR</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, NH">
        <annotation>
          <documentation>11709: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11709</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, NH</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, PLS">
        <annotation>
          <documentation>11710: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11710</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, PLS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, POFYR">
        <annotation>
          <documentation>11711: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11711</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, POFYR</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-5400">
        <annotation>
          <documentation>11712: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11712</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, SC-5400</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-5408">
        <annotation>
          <documentation>11713: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11713</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, SC-5408</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-8800">
        <annotation>
          <documentation>11714: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11714</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, SC-8800</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-9016">
        <annotation>
          <documentation>11715: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11715</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, SC-9016</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SC-9108">
        <annotation>
          <documentation>11716: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11716</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, SC-9108</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Signal, SE">
        <annotation>
          <documentation>11717: Ikke aktuell ved nye anlegg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11717</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Signal, SE</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeStyreapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStyreapparatType">
    <annotation>
      <documentation>8095: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8095</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8095</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligStyreapparatEnumerationType nvdb:VedlikeholdsansvarligStyreapparatOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStyreapparatEnumerationType">
    <annotation>
      <documentation>8095: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">8095</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">8095</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>10489: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10489</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18748: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18748</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19954: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19954</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18877: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18877</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10567: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10567</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10645: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10645</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17737: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17737</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligStyreapparatOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
