GML/PS/OLFV_NV/2.32/85.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" version="2.32">
  <annotation>
    <documentation>85: Innretning for å pumpe vann.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdePumpeType">
    <annotation>
      <documentation>1270: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdePumpeEnumerationType nvdb:BruksområdePumpeOtherType"/>
  </simpleType>
  <simpleType name="BruksområdePumpeEnumerationType">
    <annotation>
      <documentation>1270: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1270</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Flo">
        <annotation>
          <documentation>2951: Pumpe som benyttes for å holde sjøvann unna når det er flo over et visst nivå.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2951</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Flo</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tunnel">
        <annotation>
          <documentation>2950: Pumpe som benyttes i tunnel. Normalt for å pumpe ut drensvann.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2950</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kulvert">
        <annotation>
          <documentation>11602: Fjerning av vann i veg som går i kulvert/lavbrekk.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">11602</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kulvert</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Vanntilførsel toalettanlegg">
        <annotation>
          <documentation>17453: Pumpe benyttes for å pumpe vann til toalettanlegg, bl.a. i forbindelse med rasteplasser.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17453</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Vanntilførsel toalettanlegg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdePumpeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierPumpeType">
    <annotation>
      <documentation>7997: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7997</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7997</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierPumpeEnumerationType nvdb:EierPumpeOtherType"/>
  </simpleType>
  <simpleType name="EierPumpeEnumerationType">
    <annotation>
      <documentation>7997: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">7997</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">7997</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>10263: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10263</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18570: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18570</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10725: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10725</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>10327: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10327</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>10391: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10391</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17578: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17578</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierPumpeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Pumpe" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:PumpeType">
    <annotation>
      <documentation>85: Innretning for å pumpe vann.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">85</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">85</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Pumpe</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PumpeType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="effekt" type="double">
            <annotation>
              <documentation>1950: Angir effekt per pumpe.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1950</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="bruksområde" type="nvdb:BruksområdePumpeType">
            <annotation>
              <documentation>1270: Angir hva vegobjektet brukes til, hvilken funksjon det har.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1270</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10339: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10339</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>3578: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3578</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent_Pumpe" type="string">
            <annotation>
              <documentation>3554: Angir navn på produsent/fabrikant av pumpe.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3554</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent, pumpe</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn_Pumpe" type="string">
            <annotation>
              <documentation>3814: Angir produktnavn for pumpe. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3814</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn, pumpe</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11071: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11071</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12310: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12310</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierPumpeType">
            <annotation>
              <documentation>7997: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">7997</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligPumpeType">
            <annotation>
              <documentation>3821: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3821</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>4785: Gir punkt som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4785</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, punkt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PumpePropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Pumpe"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligPumpeType">
    <annotation>
      <documentation>3821: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3821</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3821</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligPumpeEnumerationType nvdb:VedlikeholdsansvarligPumpeOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPumpeEnumerationType">
    <annotation>
      <documentation>3821: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3821</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3821</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>4861: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4861</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18705: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18705</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19899: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19899</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18834: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18834</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>5544: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">5544</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>4862: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4862</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17677: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17677</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligPumpeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
