GML/PS/OLFV_NV/2.32/859.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" version="2.32">
  <annotation>
    <documentation>859: Taktile indikatorer er standardiserte elementer som er lagt ned i gategrunn for å bidra til vegfinning for blinde og svaksynte. Kan bestå av retnings-, varsels- eller oppmerksomhetsindikator. For mer utfyllende informasjon, se HB V129 (278).</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeTaktileIndikatorerType">
    <annotation>
      <documentation>9812: Angir hovedbruksområde for ledelinje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeTaktileIndikatorerEnumerationType nvdb:BruksområdeTaktileIndikatorerOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeTaktileIndikatorerEnumerationType">
    <annotation>
      <documentation>9812: Angir hovedbruksområde for ledelinje.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9812</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Gangfelt">
        <annotation>
          <documentation>15964: Markerer gangfelt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15964</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Gangfelt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Perrong">
        <annotation>
          <documentation>15965: Langsgående markering ved perrong eller holdeplass.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15965</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Perrong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Trapp">
        <annotation>
          <documentation>15966: Varsler trapp/nivåsprang (oppe/nede).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15966</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Trapp</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Rampe">
        <annotation>
          <documentation>21799: Varsel for rampe.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21799</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Rampe</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Markering stoppunkt på holdeplass">
        <annotation>
          <documentation>15967: Punkt der bussen stopper (fremdør).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15967</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Markering stoppunkt på holdeplass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Knutepunkt">
        <annotation>
          <documentation>15968: Kan være f.eks. ledelinjer mellom stoppunkt, mellom stoppunkt og infotavler, mellom stoppunkt og terminal.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15968</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Knutepunkt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ferjeleie">
        <annotation>
          <documentation>15969: Markering på kaikant eller lignende.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15969</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ferjeleie</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Inngangsparti">
        <annotation>
          <documentation>16968: Benyttes f.eks. ved inngangsparti til rasteplass.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16968</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Inngangsparti</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeTaktileIndikatorerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierTaktileIndikatorerType">
    <annotation>
      <documentation>11989: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11989</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11989</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierTaktileIndikatorerEnumerationType nvdb:EierTaktileIndikatorerOtherType"/>
  </simpleType>
  <simpleType name="EierTaktileIndikatorerEnumerationType">
    <annotation>
      <documentation>11989: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11989</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11989</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>20635: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20635</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>20636: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20636</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20637: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20637</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20638: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20638</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20639: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20639</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20640: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20640</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierTaktileIndikatorerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTaktileIndikatorerType">
    <annotation>
      <documentation>9816: Angir hvilken materialtype Taktil indikator er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9816</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9816</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:MaterialeTaktileIndikatorerEnumerationType nvdb:MaterialeTaktileIndikatorerOtherType"/>
  </simpleType>
  <simpleType name="MaterialeTaktileIndikatorerEnumerationType">
    <annotation>
      <documentation>9816: Angir hvilken materialtype Taktil indikator er av.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9816</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9816</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Betong">
        <annotation>
          <documentation>15971: Indikator av betong.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15971</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Betong</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Naturstein">
        <annotation>
          <documentation>15972: Indikator av naturstein.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15972</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturstein</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Metall">
        <annotation>
          <documentation>15973: Indikator av metall. For eksempel støpejern.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15973</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Metall</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>15970: Indikator av tre.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15970</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Tre</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Keramisk">
        <annotation>
          <documentation>15986: Indikator av keramisk materiale/flis.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15986</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Keramisk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Naturgummi">
        <annotation>
          <documentation>15987: Indikator av naturgummi.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">15987</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Naturgummi</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MaterialeTaktileIndikatorerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TaktileIndikatorer" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:TaktileIndikatorerType">
    <annotation>
      <documentation>859: Taktile indikatorer er standardiserte elementer som er lagt ned i gategrunn for å bidra til vegfinning for blinde og svaksynte. Kan bestå av retnings-, varsels- eller oppmerksomhetsindikator. For mer utfyllende informasjon, se HB V129 (278).</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">859</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">859</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Taktile indikatorer</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TaktileIndikatorerType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeTaktileIndikatorerType">
            <annotation>
              <documentation>9812: Angir hovedbruksområde for ledelinje.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9812</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="materiale" type="nvdb:MaterialeTaktileIndikatorerType">
            <annotation>
              <documentation>9816: Angir hvilken materialtype Taktil indikator er av.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9816</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Materiale</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>10370: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10370</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11171: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11171</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12430: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12430</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierTaktileIndikatorerType">
            <annotation>
              <documentation>11989: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11989</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligTaktileIndikatorerType">
            <annotation>
              <documentation>12017: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12017</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9813: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9813</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TaktileIndikatorerPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:TaktileIndikatorer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VedlikeholdsansvarligTaktileIndikatorerType">
    <annotation>
      <documentation>12017: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12017</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12017</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligTaktileIndikatorerEnumerationType nvdb:VedlikeholdsansvarligTaktileIndikatorerOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTaktileIndikatorerEnumerationType">
    <annotation>
      <documentation>12017: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">12017</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">12017</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>20826: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20826</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>20827: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20827</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>20828: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20828</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>20829: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20829</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>20830: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20830</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>20831: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20831</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>20832: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">20832</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligTaktileIndikatorerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
