GML/PS/OLFV_NV/2.32/86.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" version="2.32">
  <annotation>
    <documentation>86: Gir en strekning langs vegen med belysningspunkt, kabler, stolper og fundamenter som naturlig hører sammen. Alle elektriske objekter i en Belysningsstrekning skal være koblet mot samme Elektriske anlegg, dvs. de skal ligge under samme måler. Belysningsstrekninger i tunnel koples mot tunnelløp, belysningsstrekning i dagen koples mot elektrisk anlegg.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Belysningsstrekning" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:BelysningsstrekningType">
    <annotation>
      <documentation>86: Gir en strekning langs vegen med belysningspunkt, kabler, stolper og fundamenter som naturlig hører sammen. Alle elektriske objekter i en Belysningsstrekning skal være koblet mot samme Elektriske anlegg, dvs. de skal ligge under samme måler. Belysningsstrekninger i tunnel koples mot tunnelløp, belysningsstrekning i dagen koples mot elektrisk anlegg.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">86</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">86</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Belysningsstrekning</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="BelysningsstrekningType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeBelysningsstrekningType">
            <annotation>
              <documentation>1271: Angir hva som er hovedbruksområdet for det belysningsstrekning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1271</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fjernstyring" type="nvdb:FjernstyringType">
            <annotation>
              <documentation>3760: Angir om det er mulig å fjernstyre belysningsstrekning.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3760</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>8399: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">8399</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11462: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11462</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12311: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12311</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierBelysningsstrekningType">
            <annotation>
              <documentation>5810: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">5810</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligBelysningsstrekningType">
            <annotation>
              <documentation>1554: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1554</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>4786: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4786</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BelysningsstrekningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Belysningsstrekning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="BruksområdeBelysningsstrekningType">
    <annotation>
      <documentation>1271: Angir hva som er hovedbruksområdet for det belysningsstrekning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeBelysningsstrekningEnumerationType nvdb:BruksområdeBelysningsstrekningOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeBelysningsstrekningEnumerationType">
    <annotation>
      <documentation>1271: Angir hva som er hovedbruksområdet for det belysningsstrekning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1271</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Belysning veg/gate">
        <annotation>
          <documentation>2954: Belysning av veg og gate. Kan også benyttes for belysning av gangfelt og vegkryss når det er sammenhengende belysning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2954</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning veg/gate</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning område/plass">
        <annotation>
          <documentation>2956: Belysning av område eller plass.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2956</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning område/plass</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning gangfelt">
        <annotation>
          <documentation>2960: Belysning for gangfelt. Benyttes i tilfeller der belysningsstrekning er satt opp med hovedformål å belyse gangfelt.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2960</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning gangfelt</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning tunnel">
        <annotation>
          <documentation>2962: Belysning i tunnel.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2962</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning tunnel</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning gang/sykkelveg">
        <annotation>
          <documentation>2952: Belysning på gang- og sykkelveg.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning gang/sykkelveg</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning bru">
        <annotation>
          <documentation>3318: Brukes kun for spesiell belysning av bru. Vanlig vegbelysning settes som Belysning veg/gate.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3318</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning bru</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning ferjeleie">
        <annotation>
          <documentation>16258: Belysning på ferjeleie.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16258</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning ferjeleie</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat område">
        <annotation>
          <documentation>3855: Belysning på privat område.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3855</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat område</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Belysning vegkryss">
        <annotation>
          <documentation>2958: Belysning i vegkryss. Benyttes i tilfeller der belysningsstrekning er satt opp med hovedformål å belyse vegkryss.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2958</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Belysning vegkryss</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeBelysningsstrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierBelysningsstrekningType">
    <annotation>
      <documentation>5810: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5810</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5810</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierBelysningsstrekningEnumerationType nvdb:EierBelysningsstrekningOtherType"/>
  </simpleType>
  <simpleType name="EierBelysningsstrekningEnumerationType">
    <annotation>
      <documentation>5810: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">5810</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">5810</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>8205: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8205</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18587: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18587</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>10697: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">10697</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>8231: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8231</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>8257: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">8257</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17596: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17596</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierBelysningsstrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringType">
    <annotation>
      <documentation>3760: Angir om det er mulig å fjernstyre belysningsstrekning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FjernstyringEnumerationType nvdb:FjernstyringOtherType"/>
  </simpleType>
  <simpleType name="FjernstyringEnumerationType">
    <annotation>
      <documentation>3760: Angir om det er mulig å fjernstyre belysningsstrekning.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">3760</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>4719: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4719</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>4720: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">4720</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBelysningsstrekningType">
    <annotation>
      <documentation>1554: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1554</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1554</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligBelysningsstrekningEnumerationType nvdb:VedlikeholdsansvarligBelysningsstrekningOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBelysningsstrekningEnumerationType">
    <annotation>
      <documentation>1554: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">1554</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">1554</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>2141: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2141</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18716: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18716</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19893: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19893</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18845: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18845</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>2145: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2145</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lokalt e-verk">
        <annotation>
          <documentation>3716: Lokalt e-verk</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">3716</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lokalt e-verk</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>2149: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">2149</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17671: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17671</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligBelysningsstrekningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
