GML/PS/OLFV_NV/2.32/860.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" version="2.32">
  <annotation>
    <documentation>860: En rekke med lys satt opp i den hensikt å lede trafikanter ut av en tunnel i en nødsituasjon. Evakueringslysene skal normalt være festet på tunnelvegg i bestemt høyde over veg og med fast innbyrdes avstand Det forutsettes at de enkelt evakueringslysene som inngår er av samme type. (Vegobjekttype ble tom v 2.28 benevnt "Rømningslysstrekning").</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="EierEvakueringsbelysningType">
    <annotation>
      <documentation>9896: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:EierEvakueringsbelysningEnumerationType nvdb:EierEvakueringsbelysningOtherType"/>
  </simpleType>
  <simpleType name="EierEvakueringsbelysningEnumerationType">
    <annotation>
      <documentation>9896: Angir hvem som er eier av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Stat, Statens vegvesen">
        <annotation>
          <documentation>16075: Stat, Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16075</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Stat, Nye Veier">
        <annotation>
          <documentation>18617: Stat, Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18617</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Stat, Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>16076: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16076</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16077: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16077</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16078: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16078</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17626: Verdi benyttes inntil det er avklart hvem som er eier (ingen verdi tolkes som at vegeier er eier).</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17626</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EierEvakueringsbelysningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Evakueringsbelysning" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:EvakueringsbelysningType">
    <annotation>
      <documentation>860: En rekke med lys satt opp i den hensikt å lede trafikanter ut av en tunnel i en nødsituasjon. Evakueringslysene skal normalt være festet på tunnelvegg i bestemt høyde over veg og med fast innbyrdes avstand Det forutsettes at de enkelt evakueringslysene som inngår er av samme type. (Vegobjekttype ble tom v 2.28 benevnt "Rømningslysstrekning").</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">860</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">860</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Evakueringsbelysning</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="EvakueringsbelysningType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="typeLyskilde" type="nvdb:TypeLyskildeType">
            <annotation>
              <documentation>9899: Angir type lyskilde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Type lyskilde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeLED_Seksjoner" type="double">
            <annotation>
              <documentation>12618: Angir hvor lang hver LED seksjon er.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12618</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Lengde LED-seksjoner</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="fjernstyring" type="nvdb:FjernstyringEvakueringsbelysningType">
            <annotation>
              <documentation>9903: Angir om evakueringslys kan fjernstyres.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9903</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="effekt" type="integer">
            <annotation>
              <documentation>9895: Angir effekt for ett evakueringslyspunkt. For LED-list angis effekt per 25 meter.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9895</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Effekt</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="etableringsår" type="integer">
            <annotation>
              <documentation>9892: Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9892</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Etableringsår</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektreferanse" type="string">
            <annotation>
              <documentation>11172: Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">11172</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Prosjektreferanse</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosjektInternObjekt_ID" type="string">
            <annotation>
              <documentation>12431: Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12431</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">ProsjektInternObjekt_ID</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eier" type="nvdb:EierEvakueringsbelysningType">
            <annotation>
              <documentation>9896: Angir hvem som er eier av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9896</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Eier</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vedlikeholdsansvarlig" type="nvdb:VedlikeholdsansvarligEvakueringsbelysningType">
            <annotation>
              <documentation>9906: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9906</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>9898: Gir linje/kurve som geometrisk representerer objektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9898</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Geometri, linje</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonStrekningPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EvakueringsbelysningPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Evakueringsbelysning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="FjernstyringEvakueringsbelysningType">
    <annotation>
      <documentation>9903: Angir om evakueringslys kan fjernstyres.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9903</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9903</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:FjernstyringEvakueringsbelysningEnumerationType nvdb:FjernstyringEvakueringsbelysningOtherType"/>
  </simpleType>
  <simpleType name="FjernstyringEvakueringsbelysningEnumerationType">
    <annotation>
      <documentation>9903: Angir om evakueringslys kan fjernstyres.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9903</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9903</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Fjernstyring</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>16084: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16084</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Ja</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>16085: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16085</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nei</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FjernstyringEvakueringsbelysningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeLyskildeType">
    <annotation>
      <documentation>9899: Angir type lyskilde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type lyskilde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:TypeLyskildeEnumerationType nvdb:TypeLyskildeOtherType"/>
  </simpleType>
  <simpleType name="TypeLyskildeEnumerationType">
    <annotation>
      <documentation>9899: Angir type lyskilde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9899</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Type lyskilde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="LED-armatur">
        <annotation>
          <documentation>16082: LED-armatur</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16082</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">LED-armatur</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="LED-list">
        <annotation>
          <documentation>19015: Sammenhengende LED-belysning.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19015</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">LED-list</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Lysstoffrør">
        <annotation>
          <documentation>16083: Armatur med lysstoffrør med fast innbyrdes avstand.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16083</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Lysstoffrør</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Glødelamper">
        <annotation>
          <documentation>16722: Glødelamper med fast innbyrdes avstand.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16722</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Glødelamper</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeLyskildeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligEvakueringsbelysningType">
    <annotation>
      <documentation>9906: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9906</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9906</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:VedlikeholdsansvarligEvakueringsbelysningEnumerationType nvdb:VedlikeholdsansvarligEvakueringsbelysningOtherType"/>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligEvakueringsbelysningEnumerationType">
    <annotation>
      <documentation>9906: Angir hvem som er ansvarlig for vedlikehold av vegobjektet.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">9906</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">9906</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Vedlikeholdsansvarlig</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Statens vegvesen">
        <annotation>
          <documentation>16081: Statens vegvesen</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16081</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Statens vegvesen</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nye Veier">
        <annotation>
          <documentation>18721: Nye Veier</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18721</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Nye Veier</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Fylkeskommune">
        <annotation>
          <documentation>19996: Fylkeskommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19996</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Fylkeskommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="OPS">
        <annotation>
          <documentation>18850: OPS</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">18850</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">OPS</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kommune">
        <annotation>
          <documentation>16079: Kommune</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16079</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kommune</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Privat">
        <annotation>
          <documentation>16080: Privat</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16080</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Privat</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Uavklart">
        <annotation>
          <documentation>17780: Uavklart</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">17780</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Uavklart</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VedlikeholdsansvarligEvakueringsbelysningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
