GML/PS/OLFV_NV/2.32/881.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:nvdb="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/vegvesen/NVDB-Datakatalogen/master/GML/PS/OLFV_NV/2.32" version="2.32">
  <annotation>
    <documentation>881: Anlegg for klimastyring i form av kjøling, oppvarming eller avfukting, benyttes i bygg, bergrom eller i brukasser.</documentation>
  </annotation>
  <include schemaLocation="OLFV_NV.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BruksområdeKlimaanleggType">
    <annotation>
      <documentation>10568: Angir hva som er primært bruksområde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10568</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10568</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="nvdb:BruksområdeKlimaanleggEnumerationType nvdb:BruksområdeKlimaanleggOtherType"/>
  </simpleType>
  <simpleType name="BruksområdeKlimaanleggEnumerationType">
    <annotation>
      <documentation>10568: Angir hva som er primært bruksområde.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">10568</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">10568</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Varming">
        <annotation>
          <documentation>16951: Hovedformål er å varme opp luft.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16951</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Varming</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjøling">
        <annotation>
          <documentation>16952: Hovedformål er å kjøle ned luft.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16952</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjøling</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Kjøling/varming">
        <annotation>
          <documentation>16953: Benyttes i perioder til kjøling, i andre perioder til oppvarming.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">16953</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Kjøling/varming</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avfukting">
        <annotation>
          <documentation>19531: Hovedformål er å holde nede fuktighetsnivået. Benyttes i bygninger, bergrom eller i brukasser.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19531</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avfukting</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Avtrekk/ventilasjon">
        <annotation>
          <documentation>21096: Kan benyttes om vifte/ventilator.</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">21096</sc:taggedValue>
            <sc:taggedValue tag="NVDB_navn">Avtrekk/ventilasjon</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BruksområdeKlimaanleggOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Klimaanlegg" substitutionGroup="nvdb:Fellesegenskaper" type="nvdb:KlimaanleggType">
    <annotation>
      <documentation>881: Anlegg for klimastyring i form av kjøling, oppvarming eller avfukting, benyttes i bygg, bergrom eller i brukasser.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">881</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">881</sc:taggedValue>
        <sc:taggedValue tag="NVDB_navn">Klimaanlegg</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KlimaanleggType">
    <complexContent>
      <extension base="nvdb:FellesegenskaperType">
        <sequence>
          <element name="bruksområde" type="nvdb:BruksområdeKlimaanleggType">
            <annotation>
              <documentation>10568: Angir hva som er primært bruksområde.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10568</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Bruksområde</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="driftsmerking" type="string">
            <annotation>
              <documentation>10571: Identitet/navn på forekomst, normalt synlig på stedet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10571</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Driftsmerking</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produsent" type="string">
            <annotation>
              <documentation>12215: Angir navn på produsent/fabrikant av vegobjektet.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">12215</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produsent</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="produktnavn" type="string">
            <annotation>
              <documentation>10569: Angir produktnavn for vegobjektet. Produktnavn kan inneholde modellnavn, typebetegnelse, typenummer og ev. serienummer.</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">10569</sc:taggedValue>
                <sc:taggedValue tag="NVDB_navn">Produktnavn</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lineærPosisjon" type="nvdb:LineærPosisjonPunktPropertyType">
            <annotation>
              <documentation>Angivelse av posisjon på det lineære objektet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KlimaanleggPropertyType">
    <sequence minOccurs="0">
      <element ref="nvdb:Klimaanlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
